/* ::::: https://assets-cdn.github.com/assets/frameworks-badbefc5f73f92d77589e93964990bd487b5c03927ced2726daea3271d3c3c1d.css (@media all) ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline-width: 0px; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, select, textarea { font: inherit; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
button, html [type="button"], [type="reset"], [type="submit"] {  }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0px; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted buttontext; }
* { box-sizing: border-box; }
input, select, textarea, button { font-family: inherit; font-size: inherit; line-height: inherit; }
body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 14px; line-height: 1.5; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(64, 120, 192); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
button { cursor: pointer; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0px; line-height: 1.5; }
h1 { font-size: 32px; font-weight: 600; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 600; }
h4 { font-size: 16px; font-weight: 600; }
p { margin-top: 0px; margin-bottom: 10px; }
blockquote { margin: 0px; }
ul, ol { padding-left: 0px; margin-top: 0px; margin-bottom: 0px; }
dd { margin-left: 0px; }
tt, code { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace; }
.pl-c { color: rgb(150, 152, 150); }
.pl-c1, .pl-s .pl-v { color: rgb(0, 134, 179); }
.pl-e, .pl-en { color: rgb(121, 93, 163); }
.pl-k { color: rgb(167, 29, 93); }
.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre, .pl-sr .pl-sra { color: rgb(24, 54, 145); }
.octicon { display: inline-block; vertical-align: text-top; fill: currentcolor; }
.flash { position: relative; padding: 15px; font-size: 14px; line-height: 1.5; color: rgb(34, 68, 102); background-color: rgb(226, 238, 249); border: 1px solid rgb(186, 198, 211); border-radius: 3px; }
.flash-close { float: right; width: 34px; height: 44px; margin: -11px; line-height: 40px; color: inherit; text-align: center; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 0px none; -moz-appearance: none; opacity: 0.6; }
.flash-close:hover { opacity: 1; }
.flash-warn { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
.flash-error { color: rgb(153, 17, 17); background-color: rgb(252, 222, 222); border-color: rgb(210, 178, 178); }
.warning { padding: 0.5em; margin-bottom: 0.8em; font-weight: bold; background-color: rgb(255, 252, 204); }
.avatar { display: inline-block; overflow: hidden; line-height: 1; vertical-align: middle; border-radius: 3px; }
.btn { position: relative; display: inline-block; padding: 6px 12px; font-size: 14px; font-weight: 600; line-height: 20px; color: rgb(51, 51, 51); white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)); border: 1px solid rgb(213, 213, 213); border-radius: 3px; -moz-appearance: none; }
.btn i { font-style: normal; font-weight: 500; opacity: 0.6; }
.btn .octicon { vertical-align: text-top; }
.btn:focus { text-decoration: none; border-color: rgb(81, 167, 232); outline: medium none; box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.5); }
.btn:focus:hover, .btn.selected:focus { border-color: rgb(81, 167, 232); }
.btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active { text-decoration: none; background-color: rgb(221, 221, 221); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); border-color: rgb(204, 204, 204); }
.btn:active, .btn.selected, .btn.zeroclipboard-is-active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover { color: rgba(102, 102, 102, 0.5); cursor: default; background-color: rgba(229, 229, 229, 0.5); background-image: none; border-color: rgba(197, 197, 197, 0.5); box-shadow: none; }
.btn-primary { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15); background-color: rgb(96, 176, 68); background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)); border-color: rgb(92, 169, 65); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(86, 158, 61); background-image: linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61)); border-color: rgb(74, 153, 62); }
.btn-primary:active, .btn-primary.selected { text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15); background-color: rgb(86, 158, 61); background-image: none; border-color: rgb(65, 135, 55); }
.btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary.disabled, .btn-primary.disabled:hover { color: rgb(254, 254, 254); background-color: rgb(173, 211, 159); background-image: linear-gradient(rgb(195, 236, 180), rgb(173, 211, 159)); border-color: rgb(185, 220, 172) rgb(185, 220, 172) rgb(167, 200, 155); }
.btn-outline { color: rgb(64, 120, 192); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(229, 229, 229); }
.btn-outline:hover, .btn-outline:active, .btn-outline.selected, .btn-outline.zeroclipboard-is-hover, .btn-outline.zeroclipboard-is-active { color: rgb(255, 255, 255); background-color: rgb(64, 120, 192); background-image: none; border-color: rgb(64, 120, 192); }
.btn-outline:disabled, .btn-outline:disabled:hover, .btn-outline.disabled, .btn-outline.disabled:hover { color: rgb(118, 118, 118); background-color: rgb(255, 255, 255); background-image: none; border-color: rgb(229, 229, 229); }
.btn-with-count { float: left; border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-sm { padding: 3px 10px; font-size: 12px; line-height: 20px; }
.hidden-text-expander { display: block; }
.hidden-text-expander.inline { position: relative; top: -1px; display: inline-block; margin-left: 5px; line-height: 0; }
.hidden-text-expander a, .ellipsis-expander { display: inline-block; height: 12px; padding: 0px 5px 5px; font-size: 12px; font-weight: bold; line-height: 6px; color: rgb(85, 85, 85); text-decoration: none; vertical-align: middle; background: rgb(221, 221, 221) none repeat scroll 0% 0%; border: 0px none; border-radius: 1px; }
.hidden-text-expander a:hover, .ellipsis-expander:hover { text-decoration: none; background-color: rgb(204, 204, 204); }
.hidden-text-expander a:active, .ellipsis-expander:active { color: rgb(255, 255, 255); background-color: rgb(65, 131, 196); }
.social-count { float: left; padding: 3px 7px; font-size: 12px; font-weight: 600; line-height: 20px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.social-count:hover, .social-count:active { text-decoration: none; }
.social-count:hover { color: rgb(64, 120, 192); cursor: pointer; }
.btn-link { display: inline-block; padding: 0px; font-size: inherit; color: rgb(64, 120, 192); white-space: nowrap; cursor: pointer; -moz-user-select: none; background-color: transparent; border: 0px none; -moz-appearance: none; }
.btn-link:hover, .btn-link:focus { text-decoration: underline; }
.btn-link:focus { outline: medium none; }
.btn-group { display: inline-block; vertical-align: middle; }
.btn-group::before { display: table; content: ""; }
.btn-group::after { display: table; clear: both; content: ""; }
.btn-group .btn { position: relative; float: left; }
.btn-group .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group .btn:first-child:not(:last-child) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group .btn:last-child:not(:first-child) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.selected { z-index: 2; }
.btn-group .btn:focus { z-index: 3; }
input, textarea { font-feature-settings: "liga" off; }
label { font-weight: 600; }
.form-control, .form-select { min-height: 34px; padding: 6px 8px; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right 8px center; border: 1px solid rgb(221, 221, 221); border-radius: 3px; outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset; }
.form-control.focus, .form-control:focus, .form-select.focus, .form-select:focus { border-color: rgb(81, 167, 232); outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.5); }
*::-moz-placeholder { color: rgb(153, 153, 153); }
.input-sm { min-height: 28px; padding-top: 3px; padding-bottom: 3px; font-size: 12px; line-height: 20px; }
.input-monospace { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.container { width: 980px; margin-right: auto; margin-left: auto; }
.container::before { display: table; content: ""; }
.container::after { display: table; clear: both; content: ""; }
.markdown-body { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-size: 16px; line-height: 1.5; word-wrap: break-word; }
.markdown-body::before { display: table; content: ""; }
.markdown-body::after { display: table; clear: both; content: ""; }
.markdown-body > :first-child { margin-top: 0px ! important; }
.markdown-body > :last-child { margin-bottom: 0px ! important; }
.markdown-body a:not([href]) { color: inherit; text-decoration: none; }
.markdown-body .anchor { display: inline-block; padding-right: 2px; margin-left: -18px; }
.markdown-body .anchor:focus { outline: medium none; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin-top: 0px; margin-bottom: 16px; }
.markdown-body blockquote { padding: 0px 15px; color: rgb(119, 119, 119); border-left: 4px solid rgb(221, 221, 221); }
.markdown-body blockquote > :first-child { margin-top: 0px; }
.markdown-body blockquote > :last-child { margin-bottom: 0px; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin-top: 1em; margin-bottom: 16px; font-weight: bold; line-height: 1.4; }
.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { color: rgb(0, 0, 0); vertical-align: middle; visibility: hidden; }
.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor { text-decoration: none; }
.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link { visibility: visible; }
.markdown-body h2 { padding-bottom: 0.3em; font-size: 1.75em; line-height: 1.225; border-bottom: 1px solid rgb(238, 238, 238); }
.markdown-body h2 .anchor { line-height: 1; }
.markdown-body ul, .markdown-body ol { padding-left: 2em; }
.markdown-body li + li { margin-top: 0.25em; }
.markdown-body dl { padding: 0px; }
.markdown-body dl dt { padding: 0px; margin-top: 16px; font-size: 1em; font-style: italic; font-weight: bold; }
.markdown-body dl dd { padding: 0px 16px; margin-bottom: 16px; }
.markdown-body code, .markdown-body tt { padding: 0.2em 0px; margin: 0px; font-size: 85%; background-color: rgba(0, 0, 0, 0.04); border-radius: 3px; }
.markdown-body code::before, .markdown-body code::after, .markdown-body tt::before, .markdown-body tt::after { letter-spacing: -0.2em; content: " "; }
.markdown-body pre { word-wrap: normal; }
.markdown-body .highlight { margin-bottom: 16px; }
.markdown-body .highlight pre { margin-bottom: 0px; word-break: normal; }
.markdown-body .highlight pre, .markdown-body pre { padding: 16px; overflow: auto; font-size: 85%; line-height: 1.45; background-color: rgb(247, 247, 247); border-radius: 3px; }
.counter { display: inline-block; padding: 2px 5px; font-size: 12px; font-weight: bold; line-height: 1; color: rgb(102, 102, 102); background-color: rgb(238, 238, 238); border-radius: 20px; }
.tooltipped { position: relative; }
.tooltipped::after { position: absolute; z-index: 1000000; display: none; padding: 5px 8px; font: 11px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; color: rgb(255, 255, 255); text-align: center; text-decoration: none; text-shadow: none; text-transform: none; letter-spacing: normal; word-wrap: break-word; white-space: pre; pointer-events: none; content: attr(aria-label); background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; border-radius: 3px; opacity: 0; }
.tooltipped::before { position: absolute; z-index: 1000001; display: none; width: 0px; height: 0px; color: rgba(0, 0, 0, 0.8); pointer-events: none; content: ""; border: 5px solid transparent; opacity: 0; }
@keyframes tooltip-appear {
0% { opacity: 0; }
100% { opacity: 1; }
}
.tooltipped:hover::before, .tooltipped:hover::after, .tooltipped:active::before, .tooltipped:active::after, .tooltipped:focus::before, .tooltipped:focus::after { display: inline-block; text-decoration: none; animation-name: tooltip-appear; animation-duration: 0.1s; animation-fill-mode: forwards; animation-timing-function: ease-in; animation-delay: 0.4s; }
.tooltipped-s::after, .tooltipped-se::after, .tooltipped-sw::after { top: 100%; right: 50%; margin-top: 5px; }
.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before { top: auto; right: 50%; bottom: -5px; margin-right: -5px; border-bottom-color: rgba(0, 0, 0, 0.8); }
.tooltipped-n::after, .tooltipped-ne::after, .tooltipped-nw::after { right: 50%; bottom: 100%; margin-bottom: 5px; }
.tooltipped-n::before, .tooltipped-ne::before, .tooltipped-nw::before { top: -5px; right: 50%; bottom: auto; margin-right: -5px; border-top-color: rgba(0, 0, 0, 0.8); }
.tooltipped-s::after, .tooltipped-n::after { transform: translateX(50%); }
@media not all {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target { display: inline-block; max-width: 125px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: top; }
.muted-link { color: rgb(118, 118, 118) ! important; }
.muted-link:hover { color: rgb(64, 120, 192) ! important; text-decoration: none; }
.clearfix::before { display: table; content: ""; }
.clearfix::after { display: table; clear: both; content: ""; }
.right, .float-right { float: right ! important; }
.left, .float-left { float: left ! important; }
.hidden, .d-none { display: none ! important; }
.mb-1 { margin-bottom: 3px ! important; }
.mt-2 { margin-top: 6px ! important; }
.mr-2 { margin-right: 6px ! important; }
.mb-2 { margin-bottom: 6px ! important; }
.pb-0 { padding-bottom: 0px ! important; }
.text-small { font-size: 12px ! important; }
.text-emphasized { font-weight: 600; color: rgb(51, 51, 51); }
@keyframes fade-in {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fade-up {
0% { opacity: 0.8; transform: translateY(100%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes fade-down {
0% { opacity: 1; transform: translateY(0px); }
100% { opacity: 0.5; transform: translateY(100%); }
}
@keyframes grow-x {
100% { width: 100%; }
}
@keyframes shrink-x {
100% { width: 0%; }
}
@keyframes scale-in {
0% { opacity: 0; transform: scale(0.5); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes pulse {
0% { opacity: 0.3; }
10% { opacity: 1; }
100% { opacity: 0.3; }
}
.boxed-group { position: relative; margin-bottom: 30px; border-radius: 3px; }
.boxed-group > h3, .boxed-group .heading { display: block; padding: 9px 10px 10px; margin: 0px; font-size: 14px; line-height: 17px; background-color: rgb(245, 245, 245); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(216, 216, 216) rgb(216, 216, 216) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px 3px 0px 0px; }
.ajax-error-message { position: fixed; top: -200px; left: 50%; z-index: 9999; display: none; width: 974px; margin: 0px 3px 0px -487px; transition: top 0.5s ease-in-out 0s; }
.ajax-error-message > .octicon-alert { vertical-align: text-top; }
.breadcrumb { margin-bottom: 10px; font-size: 18px; color: rgb(118, 118, 118); }
.commit-desc { display: none; }
.commit-desc pre { max-width: 700px; margin-top: 10px; font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 11px; line-height: 1.45; color: rgb(89, 96, 99); white-space: pre-wrap; }
.commit-author-section { color: rgb(51, 51, 51); }
.commit-tease { position: relative; padding: 10px; margin-bottom: -1px; line-height: 20px; color: rgb(104, 119, 125); background-color: rgb(242, 249, 252); border: 1px solid rgb(201, 230, 242); border-radius: 3px 3px 0px 0px; }
.commit-tease .message { color: inherit; }
.commit-tease .avatar { margin-top: -1px; }
.commit-tease-sha { display: inline-block; font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; color: rgb(68, 80, 85); }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 100; width: 160px; padding-top: 5px; padding-bottom: 5px; margin-top: 2px; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15); }
.dropdown-menu::before, .dropdown-menu::after { position: absolute; display: inline-block; content: ""; }
.dropdown-menu::before { border-width: 8px; border-style: solid; border-color: transparent transparent rgba(0, 0, 0, 0.15); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dropdown-menu::after { border-width: 7px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.dropdown-menu-content { display: none; }
.dropdown-menu-sw { right: 0px; left: auto; }
.dropdown-menu-sw::before { top: -16px; right: 9px; left: auto; }
.dropdown-menu-sw::after { top: -14px; right: 10px; left: auto; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.facebox { position: absolute; top: 0px; left: 0px; z-index: 100; padding-bottom: 40px; }
.facebox-popup { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 5px; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.4); }
.facebox-content { width: 455px; padding: 15px; }
.facebox-content::before { display: table; content: ""; }
.facebox-content::after { display: table; clear: both; content: ""; }
.facebox-close { position: absolute; top: 8px; right: 5px; padding: 10px; cursor: pointer; background-color: transparent; border: 0px none; opacity: 0.25; -moz-appearance: none; }
.facebox-close:hover { opacity: 1; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.flash-banner { position: fixed; top: 0px; z-index: 42; width: 100%; border-top: 0px none; border-right: 0px none; border-left: 0px none; border-radius: 0px; }
.signed-in-tab-flash, .signed-out-tab-flash { display: none; }
.site-footer { position: relative; padding-top: 40px; padding-bottom: 40px; margin-top: 40px; font-size: 12px; line-height: 1.5; color: rgb(118, 118, 118); border-top: 1px solid rgb(238, 238, 238); }
.site-footer::before { display: table; content: ""; }
.site-footer::after { display: table; clear: both; content: ""; }
.site-footer .octicon-mark-github { position: absolute; top: 38px; left: 50%; margin-left: -12px; font-size: 24px; color: rgb(204, 204, 204); }
.site-footer .octicon-mark-github:hover { color: rgb(187, 187, 187); }
.site-footer-links { margin: 0px; list-style: outside none none; }
.site-footer-links li { display: inline-block; line-height: 16px; }
.site-footer-links li + li { margin-left: 10px; }
.input-group { display: table; }
.input-group .form-control { position: relative; width: 100%; }
.input-group .form-control:focus { z-index: 2; }
.input-group .form-control, .input-group-button { display: table-cell; }
.input-group-button { width: 1%; vertical-align: middle; }
.input-group .form-control:first-child, .input-group-button:first-child .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group-button:first-child .btn { margin-right: -1px; }
.input-group .form-control:last-child, .input-group-button:last-child .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-button:last-child .btn { margin-left: -1px; }
.repository-lang-stats { position: relative; }
.repository-lang-stats ol.repository-lang-stats-numbers li { display: table-cell; width: 1%; padding: 10px 5px; text-align: center; white-space: nowrap; border-bottom: 0px none; }
.repository-lang-stats ol.repository-lang-stats-numbers li span.percent { float: none; }
.repository-lang-stats ol.repository-lang-stats-numbers li > a, .repository-lang-stats ol.repository-lang-stats-numbers li > span { font-weight: bold; color: rgb(153, 153, 153); text-decoration: none; }
.repository-lang-stats ol.repository-lang-stats-numbers li .lang { color: rgb(51, 51, 51); }
.repository-lang-stats ol.repository-lang-stats-numbers li .language-color { display: inline-block; width: 10px; height: 10px; border-radius: 50%; }
.repository-lang-stats ol.repository-lang-stats-numbers li a:hover { background: transparent none repeat scroll 0% 0%; }
.stats-switcher-viewport { height: 38px; overflow: hidden; }
.stats-switcher-viewport .stats-switcher-wrapper { position: relative; top: 0px; transition: top 0.25s ease-in-out 0s; }
.repository-lang-stats-graph { display: table; width: 100%; overflow: hidden; white-space: nowrap; cursor: pointer; -moz-user-select: none; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.repository-lang-stats-graph .language-color { display: table-cell; line-height: 8px; text-indent: -9999px; }
.repository-lang-stats-graph .language-color:first-child { border-bottom-left-radius: 2px; }
.repository-lang-stats-graph .language-color:last-child { border-bottom-right-radius: 2px; }
body { min-width: 1020px; word-wrap: break-word; }
@keyframes ellipsis {
0% { width: 2px; }
100% { width: 12px; }
}
.user-mention, .team-mention { font-weight: bold; color: rgb(51, 51, 51); white-space: nowrap; }
.pagehead { position: relative; padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.pagehead ul.pagehead-actions { z-index: 21; float: right; margin: 0px; }
.pagehead .path-divider { margin: 0px 0.25em; }
.pagehead h1 { margin-top: 0px; margin-bottom: 0px; font-size: 20px; font-weight: normal; line-height: 28px; }
.pagehead-actions > li { float: left; margin: 0px 10px 0px 0px; font-size: 11px; color: rgb(51, 51, 51); list-style-type: none; }
.pagehead-actions > li:last-child { margin-right: 0px; }
.repohead.experiment-repo-nav { padding-bottom: 0px; background-color: rgb(250, 250, 250); }
.repohead .repohead-details-container { margin-bottom: 20px; }
.repohead h1 { position: relative; float: left; max-width: 635px; padding-left: 18px; font-size: 18px; line-height: 26px; color: rgb(102, 102, 102); }
.repohead h1 .octicon { position: absolute; top: 0px; left: 0px; margin-top: 5px; color: rgb(187, 187, 187); }
.reponav { position: relative; top: 1px; margin-top: -5px; }
.reponav::before { display: table; content: ""; }
.reponav::after { display: table; clear: both; content: ""; }
.reponav-item { float: left; padding: 7px 15px 8px; color: rgb(102, 102, 102); white-space: nowrap; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 3px 1px 1px; border-radius: 3px 3px 0px 0px; }
.reponav-item .octicon { color: rgb(187, 187, 187); }
.reponav-item .counter { color: rgb(85, 85, 85); }
.reponav-item:hover, .reponav-item:focus { color: rgb(51, 51, 51); text-decoration: none; }
.reponav-item.selected { color: rgb(17, 17, 17); background-color: rgb(255, 255, 255); border-color: rgb(210, 105, 17) rgb(229, 229, 229) transparent; }
.reponav-item.selected > .octicon { color: inherit; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-button::after { display: inline-block; width: 0px; height: 0px; vertical-align: -2px; content: ""; border-width: 4px; border-style: solid; border-color: -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.select-menu.select-menu-modal-right { position: relative; }
.select-menu.select-menu-modal-right .select-menu-modal-holder { right: 0px; }
.select-menu-modal-holder { position: absolute; z-index: 30; display: none; }
.select-menu-modal { position: relative; width: 300px; margin-top: 4px; margin-bottom: 20px; overflow: hidden; font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(200, 200, 200, 0.4); border-radius: 3px; box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15); }
.select-menu-header { padding: 8px 10px; line-height: 16px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-bottom: 1px solid rgba(200, 200, 200, 0.4); }
.select-menu-header .select-menu-title { font-weight: bold; color: rgb(51, 51, 51); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.select-menu-header .octicon { display: block; float: right; color: rgb(204, 204, 204); cursor: pointer; }
.select-menu-header .octicon:hover { color: rgb(85, 85, 85); }
.select-menu-header:focus { outline: medium none; }
.select-menu-filters { background-color: rgb(248, 248, 248); }
.select-menu-text-filter { padding: 10px 10px 0px; }
.select-menu-text-filter:first-child:last-child { padding-bottom: 10px; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-text-filter input { display: block; width: 100%; max-width: 100%; padding: 5px; border: 1px solid rgb(221, 221, 221); border-radius: 3px; }
.select-menu-text-filter input::-moz-placeholder { color: rgb(170, 170, 170); }
.select-menu-tabs { padding: 10px 10px 0px; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-tabs ul { position: relative; bottom: -1px; }
.select-menu-tabs .select-menu-tab { display: inline-block; }
.select-menu-tabs a, .select-menu-tabs .select-menu-tab-nav { display: inline-block; padding: 4px 8px 2px; font-size: 11px; font-weight: bold; color: rgb(136, 136, 136); text-decoration: none; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 1px solid transparent; border-radius: 3px 3px 0px 0px; }
.select-menu-tabs a:hover, .select-menu-tabs .select-menu-tab-nav:hover { color: rgb(51, 51, 51); }
.select-menu-list { position: relative; max-height: 400px; overflow: auto; line-height: 1.4; }
.select-menu-list.select-menu-tab-bucket { display: none; }
.select-menu-item { display: block; padding: 8px 8px 8px 30px; overflow: hidden; color: inherit; cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); }
.select-menu-item:hover { text-decoration: none; }
.select-menu-item .octicon { vertical-align: middle; }
.select-menu-item .octicon-check { visibility: hidden; }
.select-menu-item.selected { color: rgb(51, 51, 51); }
.select-menu-item.selected > .octicon { color: rgb(51, 51, 51); }
.select-menu-item.selected .octicon-check { color: inherit; visibility: visible; }
.select-menu-item .css-truncate-target { max-width: 100%; }
.select-menu-item-icon { float: left; margin-left: -20px; }
.select-menu-list:last-child .select-menu-item:last-child, .select-menu-item.last-visible { border-bottom: 0px none; border-radius: 0px 0px 3px 3px; }
.select-menu-no-results { display: none; padding: 9px; color: rgb(118, 118, 118); cursor: auto; }
.select-menu-list.filterable-empty .select-menu-no-results, .select-menu-no-results:only-child { display: block; }
.select-menu-item-text { display: block; text-align: left; }
.modal-backdrop { display: none; -moz-user-select: none; }
/* ::::: https://assets-cdn.github.com/assets/github-a1702a81aa936020431db7f17815644067eed0a97a72d4557910480aa017d8bc.css (@media all) ::::: */

@keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
@keyframes teamDev {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamDesign {
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamMarketing {
67% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
70% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
94% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
}
@keyframes teamDevDesign {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
}
@keyframes teamDevDesignMarketing {
3% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
27% { color: rgb(189, 44, 0); fill: rgb(189, 44, 0); border-color: rgb(189, 44, 0); }
30% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
34% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
37% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
60% { color: rgb(108, 198, 68); fill: rgb(108, 198, 68); border-color: rgb(108, 198, 68); }
63% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
67% { color: rgb(187, 187, 187); fill: rgb(187, 187, 187); border-color: rgb(204, 204, 204); }
70% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
94% { color: rgb(201, 81, 12); fill: rgb(201, 81, 12); border-color: rgb(201, 81, 12); }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.3); }
50% { opacity: 1; transform: scale(1.05); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@media (min-width: 1004px) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.select-menu-item { text-align: left; background-color: rgb(255, 255, 255); border-top: 0px none; border-right: 0px none; border-left: 0px none; }
@keyframes broadCastMaskFade {
0% { opacity: 0; }
30% { opacity: 1; }
70% { opacity: 1; }
100% { opacity: 0; }
}
.header-logo-invertocat { float: left; margin-right: 10px; margin-left: -2px; color: rgb(51, 51, 51); white-space: nowrap; }
.header-logo-invertocat .octicon-mark-github { float: left; font-size: 28px; }
.header-logo-invertocat:hover { color: rgb(64, 120, 192); text-decoration: none; }
.header-search { float: left; width: 360px; margin-right: 10px; }
.header-search-wrapper { display: table; width: 100%; max-width: 100%; min-height: 0px; padding: 0px; font-weight: normal; vertical-align: middle; }
.header-search-input { display: table-cell; width: 99%; min-height: 26px; padding-top: 0px; padding-bottom: 0px; font-size: 13px; background: transparent none repeat scroll 0% 0%; border: 0px none; box-shadow: none; }
.header-search-input:focus { border: 0px none; box-shadow: none; }
.header-search-scope { display: none; width: 1%; padding-right: 8px; padding-left: 8px; font-size: 12px; color: rgb(118, 118, 118); white-space: nowrap; vertical-align: middle; border-right: 1px solid rgb(238, 238, 238); border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.scoped-search .header-search-scope { display: table-cell; }
.accessibility-aid { position: absolute; width: 1px; height: 1px; margin: 0px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }
.accessibility-aid:focus { top: 0px; z-index: 1; width: auto; height: auto; padding: 0px 10px; clip: auto; font-weight: bold; line-height: 49px; color: rgb(51, 51, 51); text-decoration: none; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.pjax-loader-bar { position: fixed; top: 0px; left: 0px; z-index: 40; opacity: 0; transition: opacity 0.4s linear 0.4s; }
.readme .markdown-body, .readme .plain { padding: 45px; word-wrap: break-word; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.overall-summary { position: relative; margin-bottom: 10px; border: 1px solid rgb(221, 221, 221); border-radius: 3px; }
.overall-summary-bottomless { margin-bottom: 0px; border-bottom: 0px none; border-radius: 3px 3px 0px 0px; }
.numbers-summary { display: table; width: 100%; table-layout: fixed; }
.numbers-summary li { display: table-cell; padding: 0px; text-align: center; white-space: nowrap; }
.numbers-summary a, .numbers-summary .nolink { display: block; padding: 10px 0px; color: rgb(118, 118, 118); text-decoration: none; }
.numbers-summary .octicon { color: rgb(153, 153, 153); }
.numbers-summary a:hover { color: rgb(64, 120, 192); }
.numbers-summary a:hover .num { color: inherit; }
.repository-meta { margin: 0px 0px 20px; clear: both; font-size: 16px; color: rgb(102, 102, 102); }
.repository-meta::before { display: table; content: ""; }
.repository-meta::after { display: table; clear: both; content: ""; }
.file-navigation::before { display: table; content: ""; }
.file-navigation::after { display: table; clear: both; content: ""; }
.file-navigation.in-mid-page { margin-top: 15px; }
.file-navigation .select-menu-button .css-truncate-target { max-width: 200px; }
.file-navigation .branch-select-menu { margin-right: 6px; margin-bottom: 10px; }
.file-navigation .new-pull-request-btn { float: left; }
.file-navigation .breadcrumb { float: left; margin-top: 0px; margin-left: 5px; font-size: 16px; line-height: 26px; }
.file-navigation .btn-group { margin-bottom: 10px; margin-left: 10px; }
.file-navigation .get-repo-select-menu { margin-left: 6px; }
.file-navigation .get-repo-modal { top: 6px; width: 352px; }
.file-navigation .get-repo-modal .https-clone-options { display: block; }
.file-navigation .get-repo-modal .ssh-clone-options { display: none; }
.file-navigation .btn-change-protocol { font-size: 12px; }
.file-navigation .get-repo-decription-text { font-size: 13px; }
.file-navigation .get-repo-btn { float: left; width: 50%; padding: 10px 0px; text-align: center; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(233, 233, 233) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px; }
.file-navigation .get-repo-btn:first-child { border-right: 1px solid rgb(233, 233, 233); border-bottom-left-radius: 3px; }
.file-navigation .get-repo-btn:nth-child(1):nth-last-child(3) { border-radius: 0px; }
.file-navigation .get-repo-btn:last-child { border-bottom-right-radius: 3px; }
.file-navigation .get-repo-btn.btn-block, .file-navigation .get-repo-btn:only-child { width: 100%; border-right: 0px none; border-radius: 0px 0px 3px 3px; }
.file-navigation .clone-options { padding: 6px 10px 10px; }
.file-wrap { margin-bottom: 10px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.file-wrap .include-fragment-error { display: none; }
table.files { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 2px; }
table.files td { padding: 6px 3px; line-height: 20px; border-top: 1px solid rgb(238, 238, 238); }
table.files td.icon { width: 17px; padding-right: 2px; padding-left: 10px; color: rgb(118, 118, 118); }
table.files td.icon .octicon-file-directory { color: rgb(128, 166, 205); }
table.files td.icon .spinner { position: relative; top: 3px; display: none; margin-top: -3px; margin-left: -2px; }
table.files td .css-truncate { max-width: 100%; }
table.files td.content { max-width: 180px; }
table.files td.message { max-width: 442px; padding-left: 10px; overflow: hidden; color: rgb(136, 136, 136); }
table.files td.message a { color: rgb(136, 136, 136); }
table.files td.message a:hover { color: rgb(64, 120, 192); }
table.files td.age { width: 125px; padding-right: 10px; color: rgb(136, 136, 136); text-align: right; white-space: nowrap; }
table.files tbody tr:first-child td { border-top: 0px none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.error-icon, .spinner, .sent-message, .sms-error-message, .text-code { display: none; }
@keyframes toggle-color {
0% { background-color: transparent; }
50% { color: rgb(76, 74, 66); background-color: rgb(255, 249, 234); border-color: rgb(223, 216, 194); }
100% { background-color: transparent; }
}
/* ::::: https://assets-cdn.github.com/assets/site-13d2d4e0ca168621dd92689cf755d926d9a4507ba4138b8cc4cfbc38ce2984ed.css (@media all) ::::: */

.container-responsive { max-width: 980px; margin-right: auto; margin-left: auto; }
@media (min-width: 450px) {
}
@media (min-width: 992px) {
}
@media (max-width: 759px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("roboto-light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("roboto-medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("roboto-italic.woff") format("woff");
}
.home-hero, .jumbotron, .jumbotron-followup-container, .featurette, .site-header, .site-subheader, .tile { font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif; font-size: 16px; line-height: 1.4; color: rgb(118, 118, 118); }
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
.btn-link { font-family: inherit; }
.site-header { position: relative; z-index: 3; padding-top: 20px; padding-bottom: 20px; margin-bottom: -1px; background-color: rgb(255, 255, 255); background-clip: padding-box; border-bottom: 1px solid rgba(0, 0, 0, 0.075); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
.site-header::before { display: table; content: ""; }
.site-header::after { display: table; clear: both; content: ""; }
.site-header .header-logo-invertocat { margin-right: 0px; margin-left: 0px; }
@media (max-width: 959px) {
}
.site-header .header-search-link { display: none ! important; }
@media (max-width: 959px) {
}
.site-header .header-search { width: 160px; margin-right: -4px; margin-left: 10px; }
.site-header .header-search.site-scoped-search { width: 230px; }
@media (max-width: 959px) {
}
.site-header .header-search-input { min-height: 32px; font-size: 14px; }
.site-header-toggle { display: none; }
@media (max-width: 959px) {
}
.site-header-menu { display: block; padding-top: 0px; }
@media (max-width: 959px) {
}
.site-header-nav .nav-item { display: block; float: left; padding-top: 8px; padding-bottom: 8px; line-height: 20px; color: rgb(60, 65, 70); }
.site-header-nav .nav-item:hover { color: rgb(0, 0, 0); text-decoration: none; }
@media (max-width: 959px) {
}
.site-header-nav-main { float: left; margin-bottom: 0px; margin-left: 5px; }
.site-header-nav-main .nav-item { position: relative; float: left; padding-right: 10px; padding-left: 10px; font-size: 16px; border-top: 0px none; }
.site-header-nav-main .nav-item::after { position: absolute; bottom: -20px; left: 0px; width: 100%; height: 4px; content: ""; }
@media (max-width: 959px) {
}
.site-header-nav-secondary { float: right; margin-top: 0px; margin-right: 10px; }
.site-header-nav-secondary .nav-item { display: inline-block; padding: 8px; font-size: 13px; }
@media (max-width: 959px) {
}
.site-header-actions { position: relative; z-index: 3; text-align: left; }
@media (max-width: 959px) {
}
.site-header-actions-btn { float: right; font-weight: 500; }
@media (max-width: 959px) {
}
@media (min-width: 960px) {
}
@media (min-width: 760px) {
}
@media (min-width: 960px) {
}
@media (min-width: 960px) {
}
@media (min-width: 760px) {
}
@media (min-width: 960px) {
}
@media (min-width: 450px) {
}
@media (min-width: 450px) {
}
@media (min-width: 450px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1300px) {
}
@media (min-width: 1900px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1300px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1300px) {
}
@media (min-width: 1900px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (max-width: 759px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (max-width: 759px) {
}
@media (max-width: 759px) {
}
@media (min-width: 760px) {
}
@media (max-width: 991px) {
}
@media (min-width: 960px) {
}
@media (min-width: 760px) {
}
@media (min-width: 760px) {
}
@media (min-width: 992px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (max-width: 900px) {
}
/* ::::: https://assets-cdn.github.com/assets/system-fonts-d60dee4b68e3a38b01c0389551a0e38f04acd897ec85592f405d045ee853b3d1.css (@media all) ::::: */

.btn, .text-bold, .text-emphasized, label, strong, .logo-subbrand, .header-nav-link, .table-list-header-toggle.states .selected, .issue-title-link, .label, .diffstat, .subnav-item, .social-count, .user-mention, .team-mention, .sidebar-assignee .assignee, .pagination a, .pagination em, .pagination span, .counter, .select-menu-tabs a, .select-menu-tab-nav, .state, .discussion-item-entity, .discussion-item .author, .mini-repo-list-item .repo, .news .alert .title, .diff-options-content .selected, .vcard-stat-count, .issues-reset-query, .bubble-expand, .discussion-block-title .username, .list-item-title, .tabs > a { font-weight: 600; }
h1, .markdown-body h1, h2, .markdown-body h2, h3, .markdown-body h3, h4, .markdown-body h4, h5, .markdown-body h5, h6, .markdown-body h6 { line-height: 1.5; }
h1, .markdown-body h1 { font-size: 32px; font-weight: 600; }
h2, .markdown-body h2 { font-size: 24px; font-weight: 600; }
h3, .markdown-body h3 { font-size: 20px; font-weight: 600; }
h4, .markdown-body h4 { font-size: 16px; font-weight: 600; }
.octicon { vertical-align: text-bottom; }
.stats-switcher-viewport { height: 41px; }
.commit-tease { font-size: 13px; }
.commit-tease-sha { font-size: 90%; }
