/* ::::: http://outofmemory.cn/v5/s/5/15.24.css ::::: */

body { margin: 0px; padding: 0px; }
a { text-decoration: none; }
body, button, textarea, input, select { font: 100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei"; }
.ico { background: url("sprite.png") no-repeat scroll 0% 0% transparent; height: 16px; width: 16px; display: inline-block; position: relative; top: 2px; }
.date { background-position: -29px -99px; }
.man { background-position: -29px -81px; }
.head { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(211, 211, 211); border-top: 1px solid rgb(211, 211, 211); height: 40px; padding: 0px; }
.head .head-left { position: relative; float: left; width: auto; display: inline-block; margin: 3px 0px 0px 15px; }
#headNav { margin: 0px 0px 0px 20px; padding: 0px; width: 500px; overflow: auto; display: inline-block; height: 40px; }
#headNav li { list-style: none outside none; display: block; line-height: 40px; width: 50px; float: left; height: 36px; text-align: center; }
#headNav li A:visited, #headNav li A:active, #headNav li A { display: inline-block; line-height: 22px; margin: 0px 5px; color: rgb(0, 0, 0); text-decoration: none; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.head-left .nav { display: inline-block; }
#headNav li.current { border-bottom: 4px solid rgb(44, 85, 180); }
#headNav li.current A { color: rgb(44, 85, 180); }
.head .logo { width: 128px; height: 32px; display: inline-block; vertical-align: top; }
.head .logo A { text-indent: 2000%; height: 32px; width: 128px; white-space: nowrap; background: url("logo-words.png") no-repeat scroll left top transparent; overflow: hidden; display: block; }
.beta { width: 9px; display: inline-block; vertical-align: top; }
.beta sup { color: red; }
h3 { font-size: 1.2em; margin: 0.2em 0px 0.4em; padding: 0.2em; border-bottom: 1px solid rgb(240, 240, 240); }
.head .head-right { position: absolute; right: 2px; width: auto; display: inline-block; margin: 0px 5px 0px 0px; }
.head .userStatus a { display: inline-block; margin: 7px 10px 0px 0px; vertical-align: top; }
.head .userStatus a i { display: inline-block; background: url("sprite.png") no-repeat scroll 0% 0% transparent; width: 24px; height: 24px; vertical-align: middle; margin: 0px 4px 0px 0px; }
.head .userStatus a.signin i { background-position: -24px -300px; }
.head .userStatus a.signup i { background-position: 5px -275px; }
.head .userStatus a b { font-weight: normal; vertical-align: middle; height: 24px; }
.content { margin: 10px; line-height: 1.6em; font-size: 1.06em; min-height: 380px; }
.content p { line-height: 1.6em; margin: 1em 0px; }
h1 { font-size: 1.25em; line-height: 1.36em; padding: 0.2em 0px 0.2em 0.5em; word-break: break-all; word-wrap: break-word; border-bottom: 1px solid rgb(240, 240, 240); margin: 0.1em 0px 0px 0.1em; }
.like { background: none repeat scroll 0% 0% rgb(34, 34, 136); float: right; margin: 5px 2em 5px 0px; width: 70px; height: 38px; border: 1px solid lightblue; line-height: 38px; padding: 0px 20px; text-align: center; }
.like a { display: block; height: 32px; background: url("sprite.png") no-repeat scroll -23px -133px transparent; text-indent: 22px; color: white; }
div.meta { font-size: 0.8em; text-align: right; padding-right: 0.8em; float: right; line-height: 35px; }
div.meta .pv { color: rgb(139, 0, 0); }
div.meta time { color: black; }
.author { padding: 4px; margin: 40px 0px 30px; border: 1px solid rgb(211, 211, 211); text-align: center; border-radius: 4px 4px 4px 4px; }
.author span.name { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; top: -17px; display: inline-block; position: relative; z-index: 1; }
.author div { margin: -1em 0px 0.6em; }
div.authorAvatar { text-align: center; width: 128px; height: 128px; margin: -1em auto 0.6em; }
div.authorAvatar A { border: 1px solid rgb(231, 231, 231); display: table-cell; vertical-align: middle; border-radius: 64px 64px 64px 64px; width: 128px; height: 128px; overflow: hidden; }
div.authorAvatar IMG {  }
.similar { padding: 4px; margin: 15px 0px; border: 1px solid rgb(211, 211, 211); text-align: center; border-radius: 4px 4px 4px 4px; line-height: 1.6em; }
.similar span.title { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; top: -17px; display: inline-block; position: relative; z-index: 1; }
.similar div { text-align: left; margin-top: -20px; }
.similar span.meta, .similar span.time { float: right; font-size: 0.8em; }
.similar li { margin: 5px 0px; height: 28px; overflow: hidden; }
.similar ul { margin: 0px; padding: 0px; list-style: none outside none; }
.similar a, .similar span, .similar time { font-size: 0.9em; }
.small { font-size: 0.8em; }
.pn { overflow: auto; width: 100%; }
.pn * { font-size: 0.9em; }
.pn .next { float: right; width: 50%; display: block; text-align: right; }
.pn mark { font-family: serif; background: none repeat scroll 0% 0% transparent; }
.pn .pre { float: left; width: 50%; display: block; }
.tgL { font-size: 0.8em; border-radius: 0.4em 0.4em 0.4em 0.4em; padding: 2px 4px; border: 1px solid rgb(238, 238, 238); margin: 10px; line-height: 26px; height: 30px; overflow: hidden; }
.tgL A, .tgL A:hover, .tgL A:visited { color: rgb(255, 160, 122); }
.tgL A:hover { text-decoration: underline; }
.tgL span { display: inline-block; width: 16px; height: 24px; background: url("sprite.png") no-repeat scroll left -34px transparent; }
.foot { border-top: 1px solid rgb(211, 211, 211); line-height: 1.8em; text-align: center; height: 30px; margin: 40px 0px 0px; overflow: auto; clear: both; }
.newComment button { font-size: 1.2em; padding: 0.3em; display: block; width: 160px; background: none repeat scroll 0% 0% rgb(12, 59, 169); color: white; border: 1px solid rgb(240, 240, 240); }
.tags { padding: 0px ! important; margin: 0px; }
@media print {
  .str { color: rgb(0, 102, 0); }
  .kwd { color: rgb(0, 0, 102); font-weight: bold; }
  .typ { color: rgb(68, 0, 68); font-weight: bold; }
  .lit { color: rgb(0, 68, 68); }
  .pun { color: rgb(68, 68, 0); }
  .pln { color: rgb(0, 0, 0); }
}
.str { color: rgb(128, 0, 0); }
.kwd { color: rgb(0, 0, 139); }
.typ { color: rgb(43, 145, 175); }
.lit { color: rgb(128, 0, 0); }
.pun { color: rgb(0, 0, 0); }
.pln { color: rgb(0, 0, 0); }
pre { padding: 3px; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; margin-bottom: 10px; background-color: rgb(225, 225, 225); overflow: auto; width: auto; white-space: pre; font-size: 0.8em; line-height: 1.5em; border-radius: 5px 5px 5px 5px; }
pre > code:first-child { max-height: 600px; display: block; overflow: auto; }
code { font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; background-color: rgb(247, 247, 247); }
.pop_win_bg { opacity: 0.3; position: fixed; background: none repeat scroll 0% 0% black; border-radius: 6px 6px 6px 6px; }
.pop_win { background: none repeat scroll 0% 0% white; padding: 17px 14px 16px 12px; visibility: hidden; position: fixed; border-radius: 6px 6px 6px 6px; font-size: 0.8em; }
.pop_win h3 { font-size: 14px; padding: 8px 10px; margin: 0px; color: black; background: none repeat scroll 0% 0% snow; }
a.pop_win_close:hover { color: rgb(250, 176, 182); background: none repeat scroll 0px center transparent; }
a.pop_win_close:hover { color: rgb(250, 176, 182); background: none repeat scroll 0px center transparent; }
a.pop_win_close, .pop_win_close:visited, .pop_win_close:link { position: absolute; right: 0px; top: 0px; font: 11px "Comic Sans MS"; margin: 9px 10px 0px 0px; padding: 0px 0.3em; color: rgb(180, 180, 180); z-index: 99; }
a.pop_win_close, .pop_win_close:visited, .pop_win_close:link { position: absolute; right: 0px; top: 0px; font: 11px "Comic Sans MS"; margin: 23px 20px 0px 0px; padding: 0px 0.3em; color: rgb(180, 180, 180); z-index: 99; }
a.pop_win_close { top: 5px; }
#pop_win_login form { width: 274px; padding: 10px 0px 0px 10px; }
#pop_win_login dl { width: 230px; overflow: auto; float: none; margin: 0px; padding: 0px; display: block; }
#pop_win_login dt { width: 40px; margin: 5px 0px 10px; padding: 0px; float: left; line-height: 24px; clear: left; display: block; }
#pop_win_login dd { width: 175px; float: left; margin: 5px 0px 10px; padding: 0px; clear: right; }
#pop_win_login INPUT.textbox { width: 150px; margin-right: 5px; }
.bdtj { visibility: hidden; }
@media only screen and (max-width: 760px) {
  .head .logo A { width: 28px; background: url("sprite_001.png") no-repeat scroll left top transparent; }
  .head .logo { width: 28px; height: 32px; display: inline-block; }
  .similar span.meta, .similar span.time { display: none; }
  .sidebar { margin: 10px; clear: both; }
  #headNav { width: 125px; overflow: hidden; }
  .newComment button { width: 100%; }
}
@media only screen and (min-width: 1024px) {
  .wrap { position: relative; width: 100%; }
  .content { margin: 10px 361px 10px 10px; }
  .sidebar { width: 336px; position: absolute; right: 0px; top: 0px; margin: 0px 10px 0px 0px; border-left: 1px solid rgb(240, 240, 240); border-radius: 4px 4px 4px 4px; min-height: 600px; padding: 0px 0px 0px 10px; }
}
.tgSide { border: 1px solid rgb(240, 240, 240); width: 335px; overflow: hidden; margin: 5px 0px 10px; }
