/* ::::: [internal] ::::: */

body { margin: 0px; padding: 0px; font-size: 12px; font-family: arial,'宋体',宋体,sans-serif; }
body * { margin: 0px; padding: 0px; font-size: 100%; }
body ul, body ol { list-style: none outside none; }
body img { border: 0px none; }
.s-hl-content { position: relative; }
.wrapper .picItem .title { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6) ! important; }
#closeBtn { background-size: 100% 100%; margin: 0px 2px 2px 0px; }
/* ::::: [internal] ::::: */

.wrapper { background: none repeat scroll 0% 0% rgb(244, 244, 244); width: 334px; border: 1px solid rgb(153, 153, 153); height: 276px; }
.wrapper .linkItem { position: relative; color: rgb(0, 0, 0); text-decoration: none; display: block; height: 45.6667px; line-height: 44.6667px; font-size: 14px; text-align: left; padding-left: 31.5px; background: none repeat scroll 0% 0% rgb(244, 244, 244); }
.wrapper .picItem { border: 1px solid rgb(153, 153, 153); overflow: hidden; text-align: center; display: block; position: relative; width: 138px; height: 104.5px; margin: 5px 0px; }
.wrapper .odd { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.wrapper .fl { float: left; }
.wrapper .picItem .title { text-decoration: none; left: 1px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); bottom: 0px; position: absolute; z-index: 10; width: 136px; text-align: center; font-size: 14px; }
/* ::::: [internal] ::::: */

.wrapper .linkItem:hover { color: rgb(49, 137, 188); font-weight: bold; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

#closeBtn { z-index: 2147483647; position: absolute; text-align: center; color: rgb(197, 197, 199); display: block; overflow: hidden; background: url("reduce_promotion_oper.png") no-repeat scroll 0% 0% transparent; cursor: pointer; text-decoration: none; font-weight: 100; }
#closeBtn:hover { background: url("reduce_promotion_oper.png") no-repeat scroll left top transparent; }
#tipWrapper { position: absolute; top: 0px; left: 0px; z-index: 2147483647; text-align: left; background: url("bg_rb.png") no-repeat scroll right bottom rgb(250, 250, 250); }
#tipWrapper .tit { font-size: 20px; font-family: microsoft Yahei; color: rgb(51, 51, 51); line-height: 20px; padding-left: 10px; background: url("icon_col.png") no-repeat scroll left top transparent; }
#tipWrapper .goback, .btn-blue { font-size: 14px; color: rgb(94, 165, 252); cursor: pointer; text-decoration: underline; white-space: nowrap; word-wrap: normal; background-color: rgb(250, 250, 250); }
#tipWrapper .goback { display: inline-block; margin-left: 15px; }
#tipWrapper .question_tit .goback { display: inline-block; margin: 0px 15px 0px 0px; }
#tipWrapper .baidu_logo { width: 59px; height: 19px; position: absolute; right: 10px; bottom: 10px; z-index: 2147483647; }
#tipWrapper .baidu_logo img { border: 0px none; }
#tipWrapper .question_tit { display: block; text-decoration: none; font-size: 12px; line-height: 25px; margin: 5px 0px; color: rgb(51, 51, 51); }
#tipWrapper .question_choice .choice, #tipWrapper .mw1 span { margin-right: 10px; text-decoration: none; width: 120px; overflow: hidden; height: 25px; line-height: 25px; display: inline-block; cursor: pointer; color: rgb(51, 51, 51); font-size: 12px; background: url("ico_sel_gray.png") no-repeat scroll left center transparent; padding-left: 20px; }
#tipWrapper .question_choice .choice:hover { background: url("ico_sel_blue.png") no-repeat scroll left center transparent; }
#closePop { clear: both; padding: 10px 10px 0px; }
#closeEnd { padding: 10px 0px 0px 10px; }
#closePop .space { padding-left: 10px; }
#closePop .space .panel-cause { position: relative; z-index: 2; }
#closePop p { clear: both; font-size: 12px; color: rgb(51, 51, 51); line-height: 30px; }
#closePop .btns { clear: both; font-size: 12px; color: rgb(51, 51, 51); line-height: 0; }
#closePop .sel-panel { position: relative; height: 20px; display: inline-block; cursor: pointer; }
#closePop .sel-panel .ipt-other { position: absolute; left: 0px; top: 0px; z-index: 1; padding: 0px 5px; width: 120px; height: 20px; line-height: 20px; border: 1px solid rgb(210, 210, 210); color: rgb(153, 153, 153); font-family: 'microsoft yahei'; font-size: 12px; }
#closePop .causeSelect { display: none; position: absolute; left: 0px; top: 21px; z-index: 99; width: 129px; border: 1px solid rgb(210, 210, 210); color: rgb(153, 153, 153); font-size: 12px; background-color: rgb(255, 255, 255); }
#closePop .ok-btn { width: 65px; height: 20px; line-height: 20px; margin-top: 15px; text-align: center; color: rgb(94, 165, 252); text-decoration: none; display: inline-block; background: url("radio_btn.png") no-repeat scroll 0px -43px transparent; }
#closePop .ok-btn:hover { background: url("radio_btn.png") no-repeat scroll 0px -64px transparent; color: rgb(255, 255, 255); }
#closePop .i-email { width: 119px; height: 20px; line-height: 20px; padding: 0px 5px; border: 1px solid rgb(210, 210, 210); font-size: 12px; color: rgb(102, 102, 102); font-family: 'microsoft yahei'; }
/* ::::: [internal] ::::: */

.bd-logo2 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo2 { margin: 0px 2px 2px 0px; height: 14px; width: 14px; background-position: 0px -20px; }
.bd-logo2:hover { background-position: 0px -35px; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { height: 14px; width: 14px; background: url("reduce_bd-logo1_oper.png") no-repeat scroll 0px 0px transparent; }
.bd-logo:hover, .bd-logo2:hover, .bd-logo3:hover, .bd-logo4:hover { background: url("reduce_bd-logo1_oper.png") no-repeat scroll 0px 0px transparent; }
/* ::::: [internal] ::::: */

#closeBtn { background-size: 100% 100%; margin: 0px 2px 2px 0px; }
#closeBtn:hover { background-size: 100% 100%; }
