/* ::::: [internal] ::::: */

html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
body { margin: 0px; padding: 0px; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo4 { height: 18px; width: 18px; bottom: 0px; left: 0px; background-color: transparent; background-image: url("bd-logo4.png"); background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: center center; background-size: 100% auto, 100% auto; }
.loader { text-align: center; width: 90%; font-size: 12px; padding: 8px; border: 1px solid rgb(170, 170, 170); margin-top: 30px; display: none; }
/* ::::: [internal] ::::: */

.container { background-color: rgb(255, 255, 255); display: block; overflow: hidden; font-family: Microsoft YaHei; }
.item { background-color: transparent; overflow: hidden; text-decoration: none; color: rgb(33, 33, 33); border: 1px solid rgb(255, 255, 255); float: left; position: relative; transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
.text { padding-left: 3px; color: rgb(33, 33, 33); overflow: hidden; }
.text_top { padding-left: 3px; color: rgb(244, 62, 87); font-weight: 700; overflow: hidden; }
.idx_block { font-family: Microsoft YaHei; color: rgb(32, 32, 32); font-style: normal; text-align: center; cursor: pointer; background-color: transparent; float: left; overflow: hidden; vertical-align: middle; display: block; }
.idx_block_top { font-family: Microsoft YaHei; color: rgb(236, 15, 30); font-weight: 700; font-style: normal; text-align: center; cursor: pointer; background-color: transparent; float: left; overflow: hidden; vertical-align: middle; display: block; }
