/* ::::: [internal] ::::: */

html { height: 100%; }
body { background-color: rgb(187, 187, 187); color: rgb(0, 0, 0); margin: 0px; padding: 0px; height: 100%; }
.org-src-container { background: none repeat scroll 0% 0% rgb(41, 117, 156); color: rgb(132, 203, 239); box-shadow: 5px 5px 5px rgb(136, 136, 136); }
pre.src:before { display: none; position: absolute; background-color: white; top: -10px; right: 10px; padding: 3px; border: 1px solid black; }
pre.src:hover:before { display: inline; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

