/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
.pure-g { letter-spacing: -0.31em; text-rendering: optimizespeed; font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif; align-content: flex-start; }
.pure-g [class*="pure-u"] { font-family: sans-serif; }
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 { display: inline-block; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 { width: 100%; }
@media only screen and (max-width: 480px) {
}
.pure-menu { box-sizing: border-box; }
.pure-menu-list, .pure-menu-item { position: relative; }
.pure-menu-list { list-style: none outside none; margin: 0px; padding: 0px; }
.pure-menu-item { padding: 0px; margin: 0px; height: 100%; }
.pure-menu-link, .pure-menu-heading { display: block; text-decoration: none; white-space: nowrap; }
.pure-menu-heading { text-transform: uppercase; color: rgb(86, 93, 100); }
.pure-menu-link { color: rgb(119, 119, 119); }
.pure-menu-link, .pure-menu-disabled, .pure-menu-heading { padding: 0.5em 1em; }
.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus { background-color: rgb(238, 238, 238); }
