/* ::::: http://www.cnpythoner.com/themes/ecworker/source/style.css.asp (@media screen) ::::: */

@media screen {
/* ::::: (import) http://www.cnpythoner.com/themes/ecworker/style/ecworker.css ::::: */
body { margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-size: 12px; font-family: Arial,Helvetica,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a { text-decoration: none; }
a:link { color: rgb(51, 51, 51); }
a:visited { color: rgb(51, 51, 51); }
a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
a:active { color: rgb(220, 20, 60); text-decoration: underline; }
ul { list-style-type: none; list-style-position: outside; margin: 0px; padding: 0px; word-break: break-all; }
li { margin: 0px; padding: 0px; }
p { margin: 0px; padding: 0px; word-break: break-all; }
img { border: 0px none; }
.clear { clear: both; line-height: 1px; font-size: 1px; }
#lastnextpage { padding: 10px 0px; }
#divAll { width: 900px; margin: 0px auto; background-color: rgb(199, 194, 194); }
#divPage {  }
#divMiddle { text-align: left; background-color: rgb(255, 255, 255); padding: 5px; }
#divTop { margin: 0px auto; padding-top: 0px; text-align: left; }
.banner { float: right; }
#info { line-height: 27px; border: 1px solid rgb(204, 204, 204); padding: 0px 2px; }
#divSidebar { width: 220px; text-align: left; float: right; }
#divMain { width: 648px; margin-top: 5px; padding-left: 5px; padding-right: 5px; text-align: left; float: left; border: 1px solid rgb(204, 204, 204); }
#divBottom { text-align: center; height: 50px; font-size: 11px; clear: both; color: rgb(51, 51, 51); }
div.function { margin: 5px 0px 0px; padding: 0px; text-align: left; }
div.function h3 { font-size: 12px; background-color: rgb(255, 214, 86); border-top: 1px solid rgb(215, 215, 215); color: rgb(255, 255, 255); margin: 0px; font-weight: bold; line-height: 20px; text-align: center; }
div.function ul { border: 1px solid rgb(204, 204, 204); }
div.function li { margin: 0px; padding: 0px 7px; list-style: inside none square; line-height: 22px; color: rgb(204, 204, 204); border-bottom: 1px solid rgb(223, 240, 246); }
div.function li a, div.function li a:hover {  }
#divPrevious { margin-bottom: 10px; }
div.post { margin: 0px; padding-bottom: 6px; border-bottom: 1px solid rgb(204, 204, 204); text-align: left; clear: both; }
div.post-nav { width: 100%; clear: both; float: left; height: 30px; line-height: 30px; }
div.post .post-title { margin: 0px 0px 10px; padding: 30px 0px; font-size: 20px; font-weight: bold; border-bottom: 1px solid rgb(221, 221, 221); }
#title { text-align: center; margin-top: 20px; }
div.post .post-content { text-align: left; }
div.post .post-footer { margin: 0px; padding-top: 6px; font-size: 11px; color: rgb(153, 153, 153); text-align: left; font-weight: normal; text-transform: uppercase; font-family: MingLiU; }
div.post div.post-body { margin: 0px; padding: 0px 0px 0px 10px; font-size: 14px; word-break: break-all; text-align: left; color: rgb(68, 68, 68); line-height: 170%; }
div.post-body a { color: blue; text-decoration: underline; }
div.post div.post-body p { padding-bottom: 10px; }
div.post-body img { padding: 4px; border: 0px none; clear: both; float: none; }
div.post-body p { margin: 10px 0px 15px; padding: 0px; }
#BlogTitle { float: left; width: 241px; height: 65px; margin: 0px; }
#BlogPowerBy { padding: 8px 0px 4px; margin: 0px; font-weight: normal; font-size: 11px; }
p.posttop { margin: 10px 0px 0px; padding: 3px 0px; font-size: 12px; font-weight: bold; }
p.postbottom { margin: 0px 0px 10px; padding: 5px 0px 0px; }
#frmSumbit { padding: 0px; margin: 0px; }
#frmSumbit p { padding: 5px 0px; }
input.button { background: white none repeat scroll 0% 0%; border: 1px double rgb(40, 66, 89); color: rgb(51, 51, 51); padding: 0.05em 0.25em; }
input.text, #txaArticle { padding: 0.15em 0.25em 0.2em; border: 1px solid rgb(153, 153, 153); color: rgb(102, 102, 102); width: 200px; background: white none repeat scroll 0% 0%; }
textarea.text { padding: 0.15em 0.25em 0.2em; border: 1px double rgb(40, 66, 89); background: white none repeat scroll 0% 0%; width: 520px; height: 120px; }
#divNavBar { height: 32px; background: rgb(0, 51, 102) none repeat scroll 0% 0%; clear: both; color: rgb(255, 255, 255); line-height: 12px; font-weight: bold; margin-top: 2px; }
#divNavBar ul { background: rgb(0, 51, 102) none repeat scroll 0% 0%; height: 30px; float: left; padding-left: 0px; }
#divNavBar ul li { float: left; margin: 0px; font-size: 12px; font-family: "微软雅黑"; font-weight: bold; padding-left: 20px; padding-right: 20px; padding-top: 3px; }
#divNavBar ul li a { display: block; height: 22px; float: left; text-align: center; line-height: 25px; margin: 0px; text-decoration: none; color: rgb(234, 234, 234); background-color: rgb(0, 51, 102); }
#divNavBar ul li a:hover { color: rgb(255, 255, 255); }
#divCommentPost { border: medium none; }
#divCommentPost p { clear: both; margin: 0px; padding: 4px 0px; }
#divCommentPost p label { display: block; float: left; width: 80px; }
#divCommentPost p textarea { width: 500px; }
#divCommentPost div { padding-left: 80px; }
#inpVerify { width: 130px; }
#divSearchBar .search_seperator { width: 2px; background: transparent url("search_top_seperator.gif") repeat-y scroll center center; }
#divSearchBar { height: 30px; background: rgb(0, 51, 102) url("search_bg_main.gif") repeat scroll 0% 0%; clear: both; color: rgb(0, 51, 102); font-size: 12px; font-weight: bold; border-left: 1px solid rgb(151, 187, 239); border-right: 1px solid rgb(151, 187, 239); margin-bottom: 2px; }
#divSearchBar .search_table { width: 240px; }
#divSearchBar form { padding: 0px; margin: 0px; display: block; }
#divSearchBar form input#edtSearch { display: block; border: 1px solid rgb(155, 155, 155); width: 100px; }
#divSearchBar form input#btnPost { display: block; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(244, 244, 244) rgb(122, 122, 122) rgb(122, 122, 122) rgb(244, 244, 244); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 20px; line-height: 20px; }
.search_hottage a { font-weight: normal; }
.headLeft { float: left; background: transparent url("roundedcornr__l.png") no-repeat scroll left top; width: 10px; height: 10px; left: 0px; bottom: 0px; }
.headRight { float: right; background: transparent url("roundedcornr__r.png") no-repeat scroll right top; width: 10px; height: 10px; }
/* ::::: (end import) ::::: */
}
/* ::::: http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20131219 ::::: */

#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: outside none none; margin: 0px; padding: 0px; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px "宋体"; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0px; margin: 0px; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0px; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px "宋体"; display: block; width: 98%; padding: 6px 0px; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px "宋体"; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0px; margin: 0px; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 0px 5px; }
#bdshare_l { width: 212px; position: absolute; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; }
#bdshare_l_c { width: 210px; float: left; border: 1px solid rgb(233, 233, 233); text-align: left; }
#bdshare_l_c ul li { width: 47%; height: 26px; float: left; margin: 2px; }
#bdshare_l_c ul li a { background: transparent url("is.png") no-repeat scroll 0% 0%; height: auto ! important; }
#bdshare_l, #bdshare_m { z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: transparent url("pi.gif") no-repeat scroll 0px center; line-height: 16px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
span.bds_more { background: transparent url("is.png") no-repeat scroll 0px 5px ! important; }
span.bds_more, .bds_tools a { display: block; font-family: "宋体",Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_tools a { background: transparent url("is.png") no-repeat scroll 0% 0%; }
.bds_more { background-image: url("is.png") ! important; background-position: 0px 4px ! important; }
.bdshare_b a.shareCount, .bds_tools a.shareCount, .bds_tools_32 a.shareCount, .bds_tools_24 a.shareCount { float: left; background: transparent url("sc.png") no-repeat scroll 0% 0% ! important; margin: 0px; padding: 0px 0px 0px 5px; text-align: center; color: rgb(69, 69, 69); font-family: "宋体" ! important; }
.bds_tools a.shareCount { width: 37px; height: 16px; background-position: 0px -30px ! important; margin-top: 5px; overflow: hidden; font-size: 12px; line-height: 16px; }
.bds_tools a.shareCount:hover { color: rgb(69, 69, 69) ! important; background-position: -42px -30px ! important; opacity: 1 ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_bdhome { background-position: 0px -155px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
.bds_kaixin001 { background-position: 0px -275px ! important; }
.bds_tqf { background-position: 0px -315px ! important; }
.bds_douban { background-position: 0px -395px ! important; }
.bds_tsohu { background-position: 0px -435px ! important; }
.bds_tieba { background-position: 0px -595px ! important; }
.bds_t163 { background-position: 0px -715px ! important; }
.bds_thx { background-position: 0px -1829px ! important; }
.bds_mshare { background-position: 0px -2070px ! important; }
.bds_bdxc { background-position: 0px -2190px ! important; }
.bds_sqq { background-position: 0px -2230px ! important; }
.bds_bdysc { background-position: 0px -2550px ! important; }
/* ::::: http://www.cnpythoner.com/PLUGIN/Rating/rating.css ::::: */

#Rating { text-align: left; border: 1px solid rgb(176, 189, 198); padding: 10px; margin: 10px 0px; overflow: auto; }
#Star { background-image: url("star.gif"); height: 30px; width: 150px; float: left; }
#Star-Cur { background-image: url("star.gif"); background-position: 0px -60px; width: 0px; position: absolute; z-index: 11; height: 30px; }
#Star1 { position: absolute; z-index: 20; height: 30px; width: 30px; }
#Star2 { position: absolute; z-index: 19; height: 30px; width: 60px; }
#Star3 { position: absolute; z-index: 18; height: 30px; width: 90px; }
#Star4 { position: absolute; z-index: 17; height: 30px; width: 120px; }
#Star5 { position: absolute; z-index: 16; height: 30px; width: 150px; }
#Star1:hover, #Star2:hover, #Star3:hover, #Star4:hover, #Star5:hover { background-image: url("star.gif"); background-position: -30px center; }
#Score { line-height: 30px; text-align: center; float: left; width: 250px; }
#Rating-show {  }
