/* Code tidied up by ScrapBook */
@charset "UTF-8";
pre { color: rgb(255, 255, 255); padding: 7px; background-color: rgb(51, 51, 51); }
.highlight .c { color: rgb(117, 113, 94); }
.highlight .k { color: rgb(102, 217, 239); }
.highlight .p { color: rgb(248, 248, 242); }
.highlight .kr { color: rgb(102, 217, 239); }
.highlight .nb { color: rgb(248, 248, 242); }
.highlight .nf { color: rgb(166, 226, 46); }
.highlight .nt { color: rgb(249, 38, 114); }
.highlight .nv { color: rgb(248, 248, 242); }
.highlight .w { color: rgb(248, 248, 242); }
.highlight .mi { color: rgb(174, 129, 255); }
.highlight .s2 { color: rgb(230, 219, 116); }
.highlight .sr { color: rgb(230, 219, 116); }
.highlight .s1 { color: rgb(230, 219, 116); }
.social-share :hover, .social-share li a:hover { transform: rotate(360deg); }
.social-share li { display: inline-block; margin-right: 5px; }
.social-share li a { color: rgb(255, 255, 255); display: inline-block; text-align: center; transition: transform 0.5s ease 0s; }
.social-share-sm li a { font-size: 16px; height: 36px; width: 36px; line-height: 36px; border-radius: 18px 18px 18px 18px; }
#site-scroll-top { position: fixed; right: 40px; bottom: 40px; color: rgb(65, 88, 119); width: 41px; height: 41px; line-height: 35px; font-size: 1.231em; background: none repeat scroll 0% 0% rgb(228, 232, 237); text-align: center; z-index: 999; visibility: hidden; opacity: 0; transition: all 0.25s ease-in-out 0s; border: 3px solid transparent; border-radius: 4px 4px 4px 4px; }
#site-scroll-top:hover { text-decoration: none; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(65, 88, 119); border-color: rgb(182, 192, 206); }
.md { line-height: 1.8em; }
.md > :first-child { margin-top: 0px; }
.md {  }
.md a, .md code, .md strong, .md em { margin-left: 3px; margin-right: 3px; word-wrap: break-word; }
.md pre code { margin-left: 0px; margin-right: 0px; }
.md > * { overflow-x: auto; overflow-y: hidden; }
.md p { margin: 0px 0px 10px; }
.md h1 { margin: 50px 0px 35px; padding-bottom: 2px; font-size: 24px; border-bottom: 1px solid rgb(238, 238, 238); }
.md h2 { margin: 40px 0px 25px; font-size: 22px; }
.md ul, .md ol { padding-left: 20px; margin-bottom: 15px; }
.md blockquote { margin: 10px 0px; border-left: 4px solid rgb(221, 221, 221); padding: 0px 0px 0px 11px; color: rgb(119, 119, 119); font-size: 14px; }
.md pre { padding: 15px 20px; border: 0px none; overflow-x: auto; }
.md code, .md pre { font-family: Consolas,"Liberation Mono",Courier,monospace; font-size: 12px; }
.md pre code { word-wrap: normal; white-space: pre; line-height: 20px; }
.md :not(pre) > code { border: 1px solid rgb(221, 221, 221); color: rgb(186, 90, 93); background-color: rgb(248, 248, 248); border-radius: 3px 3px 3px 3px; white-space: normal; padding: 3px 4px 0px; }
.md a, .md a code { text-decoration: none; }
.md a:hover, .md a code:hover { text-decoration: underline; }
body { position: relative; color: rgb(96, 96, 96); font-size: 15px; font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif; }
a, a:hover, a:active, a:focus { color: rgb(77, 133, 209); }
.btn-hover { color: rgb(77, 133, 209); transition: all 0.3s ease 0s; padding: 0.3em 1em; font-size: 14px; }
.btn-hover:hover, .btn-hover:active { color: white; }
.btn-hover:hover, .btn-hover:active, .btn-hover:focus { text-decoration: none; }
.btn-hover:hover { background: none repeat scroll 0% 0% rgb(77, 133, 209); }
@media (min-width: 768px) {
  .container-fluid { padding: 0px 30px; margin: 0px auto; }
}
.tag { color: rgb(90, 186, 89); line-height: 1; margin: 0px 0.2em 0.2em; padding: 0.3em 0.6em; font-size: 12px; background: none repeat scroll 0% 0% white; border: 1px solid rgb(90, 186, 89); display: inline-block; position: relative; transform: translateZ(0px); transition: color 0.5s ease 0s; }
.tag:hover, .tag:focus, .tag:active { color: white; text-decoration: none; }
.tag:before { content: ""; position: absolute; z-index: -1; top: 0px; left: 0px; right: 0px; bottom: 0px; background: none repeat scroll 0% 0% rgb(90, 186, 89); transform: scaleX(0); transform-origin: 0px 50% 0px; transition: transform 0.3s ease-in-out 0s; }
.tag:hover:before, .tag:focus:before, .tag:active:before { transform: scaleX(1); }
@media (max-width: 768px) {
}
.module-default .banner { padding: 35px 0px; position: relative; z-index: 1000; background: none repeat scroll 0% 0% rgb(65, 88, 119); }
.module-default .banner .logo { line-height: 32px; font-weight: bold; display: inline-block; letter-spacing: 0.03em; color: rgb(182, 192, 206); transition: all 0.3s ease 0s; font-family: Georgia,'宋体',serif; }
.module-default .banner .logo:hover, .module-default .banner .logo:active { color: white; }
.module-default .banner .logo:hover, .module-default .banner .logo:active, .module-default .banner .logo:focus { text-decoration: none; }
.module-default .banner .logo * { vertical-align: bottom; font-size: 24px; }
.module-default .banner .logo .logo-h { color: rgb(90, 186, 89); font-size: 32px; }
.module-default .banner .logo .logo-land { color: white; margin-left: 5px; }
@media (max-width: 768px) {
}
.module-default .banner nav a { line-height: 32px; margin-left: 30px; color: rgb(182, 192, 206); transition: all 0.3s ease 0s; }
.module-default .banner nav a:hover, .module-default .banner nav a:active { color: white; }
.module-default .banner nav a:hover, .module-default .banner nav a:active, .module-default .banner nav a:focus { text-decoration: none; }
@media (max-width: 768px) {
  .module-default .banner nav a { line-height: 38px; margin-left: 10px; }
}
.module-default .site-content { z-index: 10; }
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@keyframes width-percentage {
0% { margin-left: -100%; }
100% { margin-left: 100%; }
}
@keyframes width-percentage {
0% { margin-left: -100%; }
100% { margin-left: 100%; }
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 768px) {
}
.module-blog .blog-header { background: linear-gradient(172deg, rgb(65, 88, 119) 0px, rgb(65, 88, 119) 15%, rgb(77, 133, 209) 70%) repeat scroll 0% 0% transparent; color: white; }
.module-blog .blog-header h3 { margin: 50px 0px 35px; }
.module-blog .blog-header time { color: white; font-size: 14px; font-style: italic; margin-top: 10px; }
.module-blog .blog-header .tag-list { margin-bottom: 10px; margin-left: 270px; min-height: 28px; }
.module-blog .blog-header .tag-list .tag { border-color: white; margin-bottom: 0.5em; }
.module-blog .blog-header .container-fluid aside { float: left; }
.module-blog .blog-header .container-fluid aside .toc { font-size: 14px; width: 240px; }
.module-blog .blog-header .container-fluid aside .toc ul { margin-top: 0px; margin-bottom: 0px; }
.module-blog .blog-header .container-fluid aside .toc .nav > li > a { display: block; padding: 8px 25px; color: rgb(182, 192, 206); text-decoration: none; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.module-blog .blog-header .container-fluid aside .toc .nav > li > a:focus { background-color: white; }
.module-blog .blog-header .container-fluid aside .toc .nav > li > a:hover { background-color: rgb(243, 245, 247); }
.module-blog .blog-header .container-fluid aside .toc .nav .nav { display: none; }
.module-blog .blog-header .container-fluid aside .toc .nav .nav > li > a { padding-left: 35px; font-size: 90%; }
.module-blog .blog-header .container-fluid aside .sidenav { margin-top: 20px; margin-bottom: 20px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.module-blog .blog-header .container-fluid:after { clear: none; }
@media (max-width: 768px) {
  .module-blog .blog-header h3 { margin: 35px 0px 20px; }
  .module-blog .blog-header .tag-list { margin-left: 0px; }
  .module-blog .blog-header time { display: none; }
}
@media (max-width: 768px) {
  .module-blog .content { margin-left: 0px; }
  .module-blog aside { display: none; }
  .module-blog .blog-header h3 { margin: 20px 0px; }
  .module-blog .blog-header .tag-list { margin-left: 0px; }
}
.module-blog .content { margin-left: 270px; margin-top: 50px; }
@media (max-width: 768px) {
  .module-blog .content { margin-top: 30px; margin-left: 0px; }
}
.module-blog .author-wrapper { overflow: hidden; margin-top: 30px; }
.module-blog .author-wrapper .module-author { float: right; }
.module-blog .post-pager { margin-top: 30px; margin-bottom: 100px; }
.module-blog .post-pager .btn-hover { max-width: 380px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.module-blog .post-pager .previous { float: left; border-left: 1px solid rgb(77, 133, 209); }
.module-blog .post-pager .next { float: right; border-right: 1px solid rgb(77, 133, 209); }
.module-blog #social-share-block .social-share { margin: -2px 0px 0px; }
.module-blog #social-share-block li a { width: 32px; height: 32px; line-height: 32px; text-align: center; }
.module-blog .recommend { position: fixed; z-index: 1; right: 100%; bottom: 40px; border-right: 10px solid rgb(77, 133, 209); border-top: 1px solid rgb(77, 133, 209); border-bottom: 1px solid rgb(77, 133, 209); padding: 10px 20px; width: 270px; background: none repeat scroll 0% 0% white; transition: transform 0.3s ease-in 0s; }
@media (max-width: 1199px) {
  .module-blog .post-pager .next, .module-blog .post-pager .previous { float: none; display: block; }
  .module-blog .post-pager .next { border-left: 1px solid rgb(77, 133, 209); border-right: medium none; }
  .module-blog #social-share-block { text-align: right; }
}
.module-author img { width: 64px; height: 64px; border-radius: 32px 32px 32px 32px; float: left; margin-right: 10px; }
.module-author header { overflow: hidden; font-size: 18px; margin-bottom: 3px; }
.module-author p { font-size: 13px; color: rgb(170, 170, 170); font-style: italic; }
