/* ::::: http://www.lognormal.com/css/bootstrap.min.css ::::: */

.clearfix {  }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover { color: rgb(0, 85, 128); text-decoration: underline; }
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.container { margin-left: auto; margin-right: auto; }
.container:before, .container:after { display: table; content: ""; }
.container:after { clear: both; }
p { margin: 0px 0px 9px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 18px; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-family: inherit; font-weight: bold; color: inherit; text-rendering: optimizelegibility; }
h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 36px; }
h3 { line-height: 27px; font-size: 18px; }
ul, ol { padding: 0px; margin: 0px 0px 9px 25px; }
ul { list-style: disc outside none; }
li { line-height: 18px; }
em { font-style: italic; }
abbr[title] { border-bottom: 1px dotted rgb(221, 221, 221); cursor: help; }
code, pre { padding: 0px 3px 2px; font-family: Menlo,Monaco,"Courier New",monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 3px 3px 3px 3px; }
code { padding: 2px 4px; color: rgb(221, 17, 68); background-color: rgb(247, 247, 249); border: 1px solid rgb(225, 225, 232); }
pre { display: block; padding: 8.5px; margin: 0px 0px 9px; font-size: 12.025px; line-height: 18px; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; white-space: pre-wrap; word-break: break-all; word-wrap: break-word; }
:-moz-placeholder { color: rgb(153, 153, 153); }
.btn { display: inline-block; padding: 4px 10px; margin-bottom: 0px; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: rgb(230, 230, 230); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); background-color: rgb(230, 230, 230); outline: 0px none; }
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover { text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); }
.btn-success { background-color: rgb(91, 183, 91); background-image: -moz-linear-gradient(center top , rgb(98, 196, 98), rgb(81, 163, 81)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { background-color: rgb(81, 163, 81); }
.btn-success:active, .btn-success.active {  }
.nav { margin-left: 0px; margin-bottom: 18px; list-style: none outside none; }
.nav > li > a { display: block; }
.nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.navbar { overflow: visible; margin-bottom: 18px; }
.navbar-inner { padding-left: 20px; padding-right: 20px; background-color: rgb(238, 238, 238); background-image: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(238, 238, 238)); background-repeat: repeat-x; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset; }
.navbar .container { width: auto; }
.navbar { color: rgb(0, 0, 0); }
.navbar .btn, .navbar .btn-group { margin-top: 5px; }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav > li { display: block; float: left; }
.navbar .nav > li > a { float: none; padding: 10px 10px 11px; line-height: 19px; color: rgb(0, 0, 0); text-decoration: none; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.navbar .nav > li > a:hover { background-color: transparent; color: rgb(153, 153, 153); text-decoration: none; }
@keyframes progress-bar-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 40px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 0px 0px; }
100% { background-position: 40px 0px; }
}
/* ::::: http://www.lognormal.com/css/main.css?1402069278 ::::: */

.soasta-header-wrap { width: 90%; margin: 0px auto; }
.soasta-header { padding-top: 30px; background: url("bg-header.gif") repeat-x scroll left top rgb(0, 60, 124); color: white; }
h1, h2, h3 { line-height: normal; font-weight: normal; }
h1 { font-size: 2em; }
h2 { font-size: 1.8em; margin-bottom: 0.3em; }
h3 { margin-top: 1em; color: rgb(34, 136, 221); }
p { line-height: 1.6em; font-size: 1.15em; }
div.body { margin: 2% 5%; }
.newlogo { font: bolder 2.5em "Baskerville","Cooper Black",serif; color: rgb(255, 255, 255); }
.newlogo span { color: rgb(19, 181, 234); }
.newlogo a, .logo a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.footer { clear: both; background: url("histogram.png") no-repeat scroll center bottom rgb(68, 68, 68); color: rgb(255, 255, 255); border-top: 2px solid rgb(85, 85, 85); padding: 0px 0px 145px 10%; }
.footer div { float: left; width: 12em; margin-right: 5%; }
.footer h2 { font-size: 1.1em; font-weight: bold; margin: 1.5em 0px 0.6em; border-bottom: 1px solid rgb(170, 170, 175); padding-bottom: 3px; color: rgb(170, 170, 187); }
.footer ul { list-style-type: none; margin: 0px; padding: 0px; }
.footer ul li { margin-bottom: 0.8em; font-size: 0.9em; }
.footer a { color: rgb(238, 238, 255); text-decoration: none; padding: 0px 2px 2px 0px; }
.footer a:hover { color: rgb(238, 238, 255); text-decoration: none; border-bottom: 2px solid rgb(102, 102, 102); }
.footer div.copyright { margin-top: 1.5em; font-size: 0.9em; width: 30em; float: right; }
.footer div#ln_widget { float: right; margin: 0px; width: 25em; }
.navbar .nav > li > a { text-shadow: none; padding: 10px 1.1em 11px; }
.navbar-inner { border-radius: 0px 0px 0px 0px; }
.navbar .nav > li > a.btn { color: white; padding-top: 3px; padding-bottom: 4px; margin-left: 1em; }
.navbar .nav > li > a.btn:hover { background-color: rgb(81, 163, 81); }
.blog h1 { font: bolder 3.5em "Baskerville","Cooper Black",serif; margin: 0px 0px 0.5em; }
.blog h2 { margin-top: 1em; }
.blog h3 { margin: 1.6em 0px 0.6em; }
.blog .post-content { width: 75%; min-width: 320px; float: left; }
.blog .post-content code { white-space: pre; }
.blog ul.posts { margin: 0px; padding: 0px; }
.blog ul.posts li.post { list-style-type: none; margin-left: 0em; }
.blog .sidebar { float: right; opacity: 0.8; width: 22%; }
.blog .sidebar h2 { font-size: 1em; font-weight: bold; color: rgb(136, 0, 0); text-transform: uppercase; margin-bottom: 0.5em; }
.blog .sidebar ul { margin-left: 0px; padding-left: 0px; list-style-type: none; margin-bottom: 2.5em; }
.blog .sidebar ul li { margin-bottom: 0.7em; }
.blog .sidebar .meta { font-family: "Baskerville","Garamond",serif; font-style: italic; font-size: 1.1em; margin-left: 0.5em; }
.blog .sidebar .meta a { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-style: normal; font-size: 0.9em; }
.blog .sidebar .about { margin-top: 5em; }
.blog .sidebar div.about:nth-child(1) { margin-top: 0em; }
.blog .meta { display: block; opacity: 0.6; font-size: 0.85em; }
.blog div.meta { margin-bottom: 0em; padding: 0.5em 1em 1em; border-top: 1px solid rgb(238, 238, 238); background-image: linear-gradient(rgb(221, 221, 221), rgb(238, 238, 238) 80%, rgb(255, 255, 255)); }
#disqus_thread { margin-top: 2em; padding: 1em; border-top: 1px solid rgb(238, 238, 238); background-image: linear-gradient(rgb(221, 221, 221), rgb(238, 238, 238) 10%, rgb(255, 255, 255) 30%); }
@media screen and (max-width: 60em) {
  .footer div.copyright { clear: left; float: none; text-align: center; width: 90%; padding-top: 1.5em; }
}
@media screen and (max-width: 47em) {
}
@media screen and (max-width: 36em) {
  .footer div.copyright { text-align: left; }
}
@media screen and (max-width: 25em) {
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

