/* ::::: http://bropages.org/assets/application-d140f7636738396bccafd8f93922a555.css (@media all) ::::: */

html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); background-color: white; }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover { color: rgb(0, 85, 128); text-decoration: underline; }
p { margin: 0px 0px 9px; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-family: inherit; font-weight: bold; color: inherit; text-rendering: optimizelegibility; }
h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 36px; }
abbr[title] { cursor: help; border-bottom: 1px dotted rgb(153, 153, 153); }
code, pre { padding: 0px 3px 2px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 12px; color: rgb(51, 51, 51); border-radius: 3px 3px 3px 3px; }
pre { display: block; padding: 8.5px; margin: 0px 0px 9px; font-size: 12.025px; line-height: 18px; word-break: break-all; word-wrap: break-word; white-space: pre-wrap; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; }
:-moz-placeholder { color: rgb(153, 153, 153); }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0px; }
.table { width: 100%; margin-bottom: 18px; }
.table th, .table td { padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table th { font-weight: bold; }
.table thead th { vertical-align: bottom; }
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top: 0px none; }
.table tbody tr:hover td, .table tbody tr:hover th { background-color: whitesmoke; }
.well { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; }
.btn { display: inline-block; padding: 4px 10px; margin-bottom: 0px; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: whitesmoke; background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: rgb(230, 230, 230); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-color: rgb(230, 230, 230); background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; border-radius: 5px 5px 5px 5px; }
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover { color: white; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.btn { border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-inverse { background-color: rgb(64, 64, 64); background-image: -moz-linear-gradient(center top , rgb(85, 85, 85), rgb(34, 34, 34)); background-repeat: repeat-x; border-color: rgb(34, 34, 34) rgb(34, 34, 34) black; }
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color: rgb(34, 34, 34); }
.btn-inverse:active, .btn-inverse.active {  }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.important { color: magenta; }
.comment { color: grey; }
.status { color: rgb(204, 204, 0); text-decoration: underline; }
.thanks { color: rgb(0, 170, 0); }
.no { color: rgb(170, 0, 0); }
#header a { color: white; text-decoration: none; }
.upvote { color: rgb(0, 170, 0); }
.downvote { color: rgb(170, 0, 0); }
.vote { min-width: 140px; }
.table td { line-height: 30px; }
.table td.command { max-width: 300px; text-overflow: ellipsis; overflow: hidden; background: none repeat scroll 0% 0% white; }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont-0a8ef264981ae93cc2524d0585ca8318.eot") format("embedded-opentype"), url("fontawesome-webfont-5f3ff21ec2321ce7c1215146d3e7d38d.woff") format("woff"), url("fontawesome-webfont-46d92da2b5f999bb039c1af16b62c15a.ttf") format("truetype"), url("fontawesome-webfont-1b4427cb023ff18203bb9e8bb1e21a9b.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; }
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-mail-forward:before, .fa-share:before { content: ""; }
.fa-thumbs-up:before { content: ""; }
.fa-thumbs-down:before { content: ""; }
html, body { font-family: 'Duru Sans',sans-serif; font-size: 1.2em; line-height: 1.9em; }
h1 { font-family: 'Duru Sans',sans-serif; font-size: 2em; line-height: 2em; color: rgb(60, 160, 208); }
a { color: rgb(60, 160, 208); text-decoration: underline; }
a:hover { color: rgb(60, 160, 208); text-decoration: none; }
#install { position: absolute; top: 15px; right: 10px; }
#header { background-color: rgb(60, 160, 208); color: white; font-size: 7em; line-height: 1em; font-family: 'Duru Sans',sans-serif; margin-top: 0px; margin-left: 0px; }
#footer { margin-top: 20px; width: 100%; text-align: center; border-top: 4px solid rgb(60, 160, 208); padding-top: 5px; }
#content { padding: 30px; }
/* ::::: http://fonts.googleapis.com/css?family=Exo+2 ::::: */

@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: local("Exo 2"), local("Exo2-Regular"), url("8C2PVL2WIMUnPF90ukjrZQ.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Voces ::::: */

@font-face {
  font-family: "Voces";
  font-style: normal;
  font-weight: 400;
  src: local("Voces"), local("Voces-Regular"), url("ePr7eRI28zZaOtQ8CcT7rA.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Duru+Sans ::::: */

@font-face {
  font-family: "Duru Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Duru Sans"), local("DuruSans-Regular"), url("xn7iYH8xwmSyTvEV_HOBSP3f.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Armata ::::: */

@font-face {
  font-family: "Armata";
  font-style: normal;
  font-weight: 400;
  src: local("Armata"), local("Armata-Regular"), url("FG9R9aX-RIX_AvJI8USOWg.woff") format("woff");
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

