/* ::::: http://edi.wang/Content/bootstrap.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; font-size: 2em; }
small { font-size: 80%; }
img { border: 0px none; }
hr { height: 0px; box-sizing: content-box; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
textarea { overflow: auto; }
@media print {
  *, *:after, *:before { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0px 0px transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  blockquote, pre { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
  .label { border: 1px solid rgb(0, 0, 0); }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; }
.glyphicon-search:before { content: ""; }
.glyphicon-star:before { content: ""; }
.glyphicon-user:before { content: ""; }
.glyphicon-th-list:before { content: ""; }
.glyphicon-file:before { content: ""; }
.glyphicon-folder-close:before { content: ""; }
* { box-sizing: border-box; }
*:after, *:before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline-offset: -2px; }
img { vertical-align: middle; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: block; max-width: 100%; height: auto; }
.img-thumbnail { display: inline-block; max-width: 100%; height: auto; padding: 4px; line-height: 1.42857; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px; transition: all 0.2s ease-in-out 0s; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.small, small { font-size: 85%; }
.text-muted { color: rgb(119, 119, 119); }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
ol ol, ol ul, ul ol, ul ul { margin-bottom: 0px; }
.list-unstyled { padding-left: 0px; list-style: none outside none; }
.list-inline { padding-left: 0px; margin-left: -5px; list-style: none outside none; }
.list-inline > li { display: inline-block; padding-right: 5px; padding-left: 5px; }
@media (min-width: 768px) {
}
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 13px; line-height: 1.42857; color: rgb(51, 51, 51); word-break: break-all; word-wrap: break-word; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
  .col-md-8 { width: 66.6667%; }
  .col-md-6 { width: 50%; }
  .col-md-4 { width: 33.3333%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
  .col-lg-9 { width: 75%; }
  .col-lg-3 { width: 25%; }
}
@media screen and (max-width: 767px) {
}
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
textarea.form-control { height: auto; }
@media not all {
}
.form-group { margin-bottom: 15px; }
@media (min-width: 768px) {
  .form-inline .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .form-inline .form-control { display: inline-block; width: auto; vertical-align: middle; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary.focus, .btn-primary:focus { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(18, 43, 64); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(32, 77, 116); border-color: rgb(18, 43, 64); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success.focus, .btn-success:focus { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(37, 86, 37); }
.btn-success:hover { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover { color: rgb(255, 255, 255); background-color: rgb(57, 132, 57); border-color: rgb(37, 86, 37); }
.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-warning { color: rgb(255, 255, 255); background-color: rgb(240, 173, 78); border-color: rgb(238, 162, 54); }
.btn-warning.focus, .btn-warning:focus { color: rgb(255, 255, 255); background-color: rgb(236, 151, 31); border-color: rgb(152, 95, 13); }
.btn-warning:hover { color: rgb(255, 255, 255); background-color: rgb(236, 151, 31); border-color: rgb(213, 133, 18); }
.btn-warning.active, .btn-warning:active, .open > .dropdown-toggle.btn-warning { color: rgb(255, 255, 255); background-color: rgb(236, 151, 31); border-color: rgb(213, 133, 18); }
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning.focus:active, .btn-warning:active:focus, .btn-warning:active:hover, .open > .dropdown-toggle.btn-warning.focus, .open > .dropdown-toggle.btn-warning:focus, .open > .dropdown-toggle.btn-warning:hover { color: rgb(255, 255, 255); background-color: rgb(213, 133, 18); border-color: rgb(152, 95, 13); }
.btn-warning.active, .btn-warning:active, .open > .dropdown-toggle.btn-warning { background-image: none; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px dashed; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.dropdown, .dropup { position: relative; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; font-size: 14px; text-align: left; list-style: none outside none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }
.dropdown-menu .divider { height: 1px; margin: 9px 0px; overflow: hidden; background-color: rgb(229, 229, 229); }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245); }
@media (min-width: 768px) {
}
.btn-group, .btn-group-vertical { position: relative; display: inline-block; vertical-align: middle; }
.btn-group-vertical > .btn, .btn-group > .btn { position: relative; float: left; }
.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:hover, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus, .btn-group > .btn:hover { z-index: 2; }
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group { margin-left: -1px; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px 0px 0px 0px; }
.btn-group > .btn:first-child { margin-left: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-justified { display: table; width: 100%; table-layout: fixed; border-collapse: separate; }
.btn-group-justified > .btn, .btn-group-justified > .btn-group { display: table-cell; float: none; width: 1%; }
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group .form-control:focus { z-index: 3; }
.input-group .form-control, .input-group-addon, .input-group-btn { display: table-cell; }
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) { border-radius: 0px 0px 0px 0px; }
.input-group-addon, .input-group-btn { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group-addon { padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1; color: rgb(85, 85, 85); text-align: center; background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group-addon:first-child { border-right: 0px none; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-addon:last-child { border-left: 0px none; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px 4px 4px 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; }
@media (min-width: 768px) {
  .navbar-fixed-bottom, .navbar-fixed-top { border-radius: 0px 0px 0px 0px; }
}
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:focus, .navbar-brand:hover { text-decoration: none; }
@media (min-width: 768px) {
}
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
.navbar-form { padding: 10px 15px; margin: 8px -15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); }
@media (min-width: 768px) {
  .navbar-form .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
}
@media (max-width: 767px) {
  .navbar-form .form-group { margin-bottom: 5px; }
  .navbar-form .form-group:last-child { margin-bottom: 0px; }
}
@media (min-width: 768px) {
  .navbar-form { width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; border: 0px none; box-shadow: none; }
}
.navbar-nav > li > .dropdown-menu { margin-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; margin-right: -15px; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.label { display: inline; padding: 0.2em 0.6em 0.3em; font-size: 75%; font-weight: 700; line-height: 1; color: rgb(255, 255, 255); text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 0.25em 0.25em 0.25em 0.25em; }
.label:empty { display: none; }
.label-primary { background-color: rgb(51, 122, 183); }
.label-success { background-color: rgb(92, 184, 92); }
.label-warning { background-color: rgb(240, 173, 78); }
@media screen and (min-width: 768px) {
}
.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.alert-success { color: rgb(60, 118, 61); background-color: rgb(223, 240, 216); border-color: rgb(214, 233, 198); }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.media { margin-top: 15px; }
.media:first-child { margin-top: 0px; }
.media, .media-body { overflow: hidden; }
.media-body { width: 10000px; }
.media-object { display: block; }
.media-left, .media > .pull-left { padding-right: 10px; }
.media-body, .media-left, .media-right { display: table-cell; vertical-align: top; }
.media-heading { margin-top: 0px; margin-bottom: 5px; }
.list-group { padding-left: 0px; margin-bottom: 20px; }
.list-group-item { position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
.list-group-item:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.list-group-item:last-child { margin-bottom: 0px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .list-group, .panel > .panel-collapse > .list-group { margin-bottom: 0px; }
.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item { border-width: 1px 0px; border-radius: 0px 0px 0px 0px; }
.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child { border-top: 0px none; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child { border-bottom: 0px none; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel-heading + .list-group .list-group-item:first-child { border-top-width: 0px; }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); }
.panel-primary { border-color: rgb(51, 122, 183); }
.panel-primary > .panel-heading { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(51, 122, 183); }
.close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:focus, .close:hover { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: none repeat scroll 0px 0px transparent; border: 0px none; }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow: hidden; outline: 0px none; }
.modal.fade .modal-dialog { transition: transform 0.3s ease-out 0s; transform: translate(0px, -25%); }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px 6px 6px 6px; outline: 0px none; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); }
.modal-header { padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0px; line-height: 1.42857; }
.modal-body { position: relative; padding: 15px; }
@media (min-width: 768px) {
  .modal-dialog { width: 600px; margin: 30px auto; }
  .modal-content { box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
}
@media (min-width: 992px) {
}
@media not all, not all {
}
@media screen and (min-width: 768px) {
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before { display: table; content: " "; }
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.hidden { display: none ! important; }
.visible-lg, .visible-md, .visible-sm, .visible-xs { display: none ! important; }
@media (max-width: 767px) {
  .visible-xs { display: block ! important; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none ! important; }
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
  .hidden-print { display: none ! important; }
}
/* ::::: http://edi.wang/Content/bootstrap.aspnetmvc.validations.css ::::: */

/* ::::: http://edi.wang/Content/bootstrap.ediblog.min.css ::::: */

@font-face {
  font-family: "KlavikaMedium-Plain";
  font-style: normal;
  font-weight: normal;
  src: url("KlavikaMedium-Plain.eot") format("embedded-opentype"), url("KlavikaMedium-Plain.woff2") format("woff2"), url("KlavikaMedium-Plain.woff") format("woff"), url("KlavikaMedium-Plain.ttf") format("truetype"), url("KlavikaMedium-Plain.svg") format("svg");
}
html, body { height: 100%; }
.f12 { font-size: 12px; }
.justifytext { text-align: justify; word-wrap: break-word; }
.none { display: none; }
.bor { clear: both; height: 20px; }
.alert { border-radius: 0px 0px 0px 0px; }
.input-group-addon { border-radius: 0px 0px 0px 0px; }
.label { border-radius: 0px 0px 0px 0px; }
.img-thumbnail { border-radius: 0px 0px 0px 0px; }
.panel, .panel-heading, .popover, .popover-title { border-radius: 0px 0px 0px 0px; }
footer .container { position: relative; }
.qrcode-link { color: rgb(0, 0, 0); display: block; font-size: 25px; position: absolute; right: 0px; top: -8px; cursor: pointer; }
pre.prettyprint { border-radius: 0px 0px 0px 0px ! important; }
.txt-build-version { padding-right: 15px; }
.seperator { margin-left: 5px; margin-right: 5px; color: rgb(204, 204, 204); }
div.nav-container { background-color: rgb(42, 87, 154); color: rgb(255, 255, 255); }
@media (min-width: 768px) {
  .navbar-brand { padding: 0px 10px 0px 0px; height: inherit; }
}
nav.navbar.navbar-ediblog { margin-bottom: 0px; background-color: rgb(42, 87, 154); color: rgb(255, 255, 255); min-height: 24px; border: 0px none; border-radius: 0px 0px 0px 0px; }
@media (min-width: 1200px) {
  .navbar-ediblog .navbar-nav > li > a { padding: 10px 20px; color: rgb(255, 255, 255); }
}
@media (min-width: 768px) {
  .navbar-ediblog .navbar-nav > li > a { padding: 10px 20px; color: rgb(255, 255, 255); }
}
@media (max-width: 767px) {
  .navbar-ediblog .navbar-nav > li > a { color: rgb(255, 255, 255); }
}
.navbar-ediblog li { font-family: "Segoe UI"; font-weight: lighter; }
.navbar-ediblog .dropdown-menu { border: 0px none; box-shadow: none; border-radius: 0px 0px 0px 0px; }
.navbar-ediblog .navbar-nav > .active > a, .navbar-ediblog .navbar-nav > .active > a:hover, .navbar-ediblog .navbar-nav > .active > a:focus { border-bottom: 3px solid rgb(62, 109, 181); height: 40px; }
.navbar-ediblog .navbar-nav > li > a:hover, .navbar-ediblog .navbar-nav > li > a:focus { background-color: rgb(62, 109, 181); border-bottom: 3px solid rgb(62, 109, 181); height: 40px; }
.navbar-ediblog .navbar-nav > li > .dropdown-menu { background-color: rgb(42, 87, 154); color: rgb(255, 255, 255); font-size: 12px; line-height: 24px; border-radius: 0px 0px 0px 0px; }
.navbar-ediblog .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: rgb(62, 109, 181); }
.navbar-ediblog .navbar-nav > li > .dropdown-menu a { color: rgb(255, 255, 255); padding: 3px 15px; line-height: 24px; }
.navbar-ediblog .dropdown-menu .divider { background-color: rgb(62, 109, 181); }
.navbar-ediblog .navbar-brand { color: rgb(255, 255, 255); padding-left: 0px; }
.navbar-ediblog .navbar-toggle { border: 1px solid rgb(255, 255, 255); border-radius: 0px 0px 0px 0px; }
.navbar-ediblog .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.btn { border-radius: 0px 0px 0px 0px; }
.form-control { border-radius: 0px 0px 0px 0px; }
.form-control:focus { border-color: rgb(43, 87, 154); box-shadow: 0px 1px 1px rgb(242, 242, 242) inset, 0px 0px 4px rgb(43, 87, 154); }
.tilesm { margin-bottom: 20px; clear: both; overflow: hidden; }
.tilesm-image { height: 48px; width: 48px; font-size: 32px; background-color: rgb(43, 87, 154); text-align: center; color: rgb(255, 255, 255); float: left; margin-right: 10px; }
.tilesm-title { font-size: 14px; margin-bottom: 5px; }
.tilexsm { margin-bottom: 15px; clear: both; overflow: hidden; }
.tilexsm-image { height: 36px; width: 36px; font-size: 24px; background-color: rgb(43, 87, 154); text-align: center; color: rgb(255, 255, 255); float: left; margin-right: 10px; }
.tilexsm-info { margin: 0px 15px 0px 42px; width: 100%; }
.tilexsm-title { font-size: 14px; font-weight: bold; }
.tilexsm-subtitle { font-size: 12px; }
div, section, article, nav, header, footer { border-radius: 0px 0px 0px 0px; }
body { font-family: "Microsoft YaHei","Segoe UI","Arial","Verdana","Tahoma"; color: rgb(68, 68, 68); padding-top: 42px; }
#ediwang-logo { font-family: KlavikaMedium-Plain; font-size: 26px; line-height: 37px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Microsoft YaHei UI","Microsoft YaHei","Arial","Verdana","Tahoma"; font-weight: 500; color: rgb(68, 68, 68); }
a { color: rgb(43, 87, 154); text-decoration: none; }
a:hover, a:focus { text-decoration: none; color: rgb(43, 87, 154); }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.post-content { word-wrap: break-word; }
@media (max-width: 767px) {
}
.mvcLoadingElement { display: none; }
.pre, pre.prettyprint, .code_block { padding: 8px 10px ! important; }
.sidebar-aboutme { width: 100%; }
.post-content p { font-size: 15px; line-height: 26px; margin-bottom: 15px; }
.toptags-list a { display: inline-block; background-color: rgb(43, 87, 154); color: rgb(255, 255, 255); padding: 5px 10px; margin-right: 10px; margin-bottom: 10px; }
.toptags-list a:hover { background-color: rgb(62, 109, 181); }
header.ediblog-header { color: rgb(255, 255, 255); background-color: rgb(43, 87, 154); }
footer { border-top: 1px solid rgb(238, 238, 238); padding-top: 20px; background-color: rgb(254, 254, 254); }
aside h3 { font-family: "Segoe UI"; font-weight: lighter; }
@media (max-width: 767px) {
  body { padding-top: 50px; }
  .logo-mobile { font-weight: bold; }
  .post-content p { font-size: 16px; line-height: 26px; }
}
#page-content { position: relative; left: 0px; }
#slide-nav .navbar-toggle { cursor: pointer; position: relative; line-height: 0; float: left; margin: 0px 15px 0px -10px; width: 30px; height: 40px; padding: 10px 0px 0px; border: 0px none; background: none repeat scroll 0% 0% transparent; }
#slide-nav .navbar-toggle > .icon-bar { width: 100%; display: block; height: 3px; margin: 5px 0px 0px; }
.navbar-header { position: relative; }
@media (max-width: 767px) {
  .navbar-ediblog .navbar-nav > .active > a, .navbar-ediblog .navbar-nav > .active > a:hover, .navbar-ediblog .navbar-nav > .active > a:focus { border-bottom: 5px solid rgb(62, 109, 181); background-color: rgb(62, 109, 181); }
  #slide-nav .navbar-header { margin: 0px auto; padding: 0px 15px; }
  #slide-nav #slidemenu { background: none repeat scroll 0% 0% rgb(42, 87, 154); left: -100%; width: 70%; min-width: 0px; position: absolute; padding-left: 0px; z-index: 2; top: 0px; margin: 0px 0px 0px -15px; }
  #slide-nav #slidemenu .navbar-nav { min-width: 0px; width: 100%; margin: 0px; }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a { min-width: 0px; white-space: normal; font-size: 14px; }
  #slide-nav { border-top: 0px none; }
  #navbar-height-col { position: fixed; top: 0px; height: 100%; bottom: 0px; width: calc(70% - 15px); left: -70%; background: none repeat scroll 0% 0% rgb(247, 247, 247); }
  #navbar-height-col.inverse { background: none repeat scroll 0% 0% rgb(42, 87, 154); z-index: 1; border: 0px none; }
  #slide-nav .navbar-form { width: 100%; margin: 8px 0px; text-align: center; overflow: hidden; }
  #slide-nav .navbar-form .form-control { text-align: center; }
  #slide-nav .navbar-form .btn { width: 100%; }
}
@media (min-width: 768px) {
  #page-content { left: 0px ! important; }
  .navbar-header { left: 0px ! important; }
}
.modal-content { border-radius: 0px 0px 0px 0px; }
.btn, .well, .alert { border-radius: 0px 0px 0px 0px; }
/* ::::: http://edi.wang/Content/font-awesome.min.css ::::: */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.pull-right { float: right; }
.pull-left { float: left; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-user:before { content: ""; }
.fa-qrcode:before { content: ""; }
.fa-folder:before { content: ""; }
.fa-bookmark-o:before { content: ""; }
.fa-github:before { content: ""; }
.fa-feed:before, .fa-rss:before { content: ""; }
.fa-globe:before { content: ""; }
.fa-envelope:before { content: ""; }
.fa-angle-left:before { content: ""; }
.fa-angle-right:before { content: ""; }
.fa-thumbs-up:before { content: ""; }
.fa-weibo:before { content: ""; }
.fa-wechat:before, .fa-weixin:before { content: ""; }
/* ::::: http://edi.wang/Content/Prettify/prettify.ediblog.min.css ::::: */

.pln { color: rgb(0, 0, 0); }
@media screen {
  .kwd { color: rgb(0, 0, 255); }
  .pun, .opn, .clo { color: rgb(0, 0, 0); }
}
@media print, projection {
  .kwd { font-weight: bold; }
  .pun, .opn, .clo {  }
}
pre, pre.prettyprint, .code_block { background-color: rgb(243, 243, 243); border: 1px dashed rgb(204, 204, 204); display: block; font-family: "Consolas",monospace; font-size: 13px; line-height: 18.2px; margin: 18px 0px 30px; overflow: auto; padding: 5px; vertical-align: baseline; white-space: pre; }
pre { border-style: solid; margin: 0px 0px 20px ! important; white-space: pre-wrap; }
/* ::::: [internal] ::::: */

@media (max-width: 767px) {
}
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

.qrcode-scan-phone-container { background-image: url("xde-sm.png"); background-repeat: no-repeat; height: 613px; padding: 56px 20px; width: 337px; margin: 0px auto; }
.modal-content { border-radius: 0px 0px 0px 0px; }
