/* ::::: [internal] ::::: */

@charset "UTF-8";
/* ::::: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
small { font-size: 80%; }
img { border: 0px none; }
figure { margin: 1em 40px; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
textarea { overflow: auto; }
table { border-spacing: 0px; border-collapse: collapse; }
td, th { padding: 0px; }
@media print {
  *, *:after, *:before { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0px 0px transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  thead { display: table-header-group; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .table { border-collapse: collapse ! important; }
  .table td, .table th { background-color: rgb(255, 255, 255) ! important; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; }
.glyphicon-chevron-left:before { content: ""; }
.glyphicon-chevron-right:before { content: ""; }
.glyphicon-share-alt:before { content: ""; }
.glyphicon-usd:before { content: ""; }
.glyphicon-alert:before { content: ""; }
* { box-sizing: border-box; }
*:after, *:before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
figure { margin: 0px; }
img { vertical-align: middle; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img { display: block; max-width: 100%; height: auto; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
[role="button"] { cursor: pointer; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small { font-weight: 400; line-height: 1; color: rgb(119, 119, 119); }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small { font-size: 65%; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.small, small { font-size: 85%; }
.text-center { text-align: center; }
.page-header { padding-bottom: 9px; margin: 40px 0px 20px; border-bottom: 1px solid rgb(238, 238, 238); }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
ol ol, ol ul, ul ol, ul ul { margin-bottom: 0px; }
@media (min-width: 768px) {
}
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-9 { width: 75%; }
.col-xs-7 { width: 58.3333%; }
.col-xs-5 { width: 41.6667%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.6667%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.6667%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.6667%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-10 { width: 83.3333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-5 { width: 41.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.6667%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-10 { width: 83.3333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.6667%; }
  .col-lg-7 { width: 58.3333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.6667%; }
  .col-lg-4 { width: 33.3333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.6667%; }
}
table { background-color: transparent; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th { border-top: 0px none; }
@media screen and (max-width: 767px) {
}
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; }
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { pointer-events: none; cursor: not-allowed; box-shadow: none; opacity: 0.65; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-danger { color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); border-color: rgb(212, 63, 58); }
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(172, 41, 37); }
.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger { background-image: none; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.dropdown, .dropup { position: relative; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; font-size: 14px; text-align: left; list-style: none outside none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245); }
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(51, 122, 183); outline: 0px none; }
@media (min-width: 768px) {
}
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav > li > a > img { max-width: none; }
.nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li > a { margin-right: 2px; line-height: 1.42857; border: 1px solid transparent; border-radius: 4px 4px 0px 0px; }
.nav-tabs > li > a:hover { border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: rgb(85, 85, 85); cursor: default; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.nav-pills > li { float: left; }
.nav-pills > li > a { border-radius: 4px 4px 4px 4px; }
.nav-pills > li + li { margin-left: 2px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.tab-content > .tab-pane { display: none; }
.tab-content > .active { display: block; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.pagination { display: inline-block; padding-left: 0px; margin: 20px 0px; border-radius: 4px 4px 4px 4px; }
.pagination > li { display: inline; }
.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857; color: rgb(51, 122, 183); text-decoration: none; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
.pagination > li:first-child > a, .pagination > li:first-child > span { margin-left: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pagination > li:last-child > a, .pagination > li:last-child > span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { color: rgb(35, 82, 124); background-color: rgb(238, 238, 238); border-color: rgb(221, 221, 221); }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { z-index: 2; color: rgb(255, 255, 255); cursor: default; background-color: rgb(51, 122, 183); border-color: rgb(51, 122, 183); }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover { color: rgb(119, 119, 119); cursor: not-allowed; background-color: rgb(255, 255, 255); border-color: rgb(221, 221, 221); }
.pagination-sm > li > a, .pagination-sm > li > span { padding: 5px 10px; font-size: 12px; }
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.progress { height: 20px; margin-bottom: 20px; overflow: hidden; background-color: rgb(245, 245, 245); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.progress-bar { float: left; width: 0px; height: 100%; font-size: 12px; line-height: 20px; color: rgb(255, 255, 255); text-align: center; background-color: rgb(51, 122, 183); box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset; transition: width 0.6s ease 0s; }
.media { margin-top: 15px; }
.media:first-child { margin-top: 0px; }
.media, .media-body { overflow: hidden; }
.media-body { width: 10000px; }
.media-right, .media > .pull-right { padding-left: 10px; }
.media-left, .media > .pull-left { padding-right: 10px; }
.media-body, .media-left, .media-right { display: table-cell; vertical-align: top; }
.media-heading { margin-top: 0px; margin-bottom: 5px; }
.close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:focus, .close:hover { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: none repeat scroll 0px 0px transparent; border: 0px none; }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow: hidden; outline: 0px none; }
.modal.fade .modal-dialog { transition: transform 0.3s ease-out 0s; transform: translate(0px, -25%); }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px 6px 6px 6px; outline: 0px none; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); }
.modal-header { min-height: 16.43px; padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); }
.modal-header .close { margin-top: -2px; }
.modal-body { position: relative; padding: 15px; }
.modal-footer { padding: 15px; text-align: right; border-top: 1px solid rgb(229, 229, 229); }
@media (min-width: 768px) {
  .modal-dialog { width: 600px; margin: 30px auto; }
  .modal-content { box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm { width: 300px; }
}
@media (min-width: 992px) {
}
.carousel { position: relative; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > a > img, .carousel-inner > .item > img { line-height: 1; }
@media not all, not all {
  .carousel-inner > .item { transition: transform 0.6s ease-in-out 0s; backface-visibility: hidden; }
}
.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; padding-left: 0px; margin-left: -30%; text-align: center; list-style: none outside none; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; cursor: pointer; background-color: transparent; border: 1px solid rgb(255, 255, 255); border-radius: 10px 10px 10px 10px; }
@media screen and (min-width: 768px) {
  .carousel-indicators { bottom: 20px; }
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before { display: table; content: " "; }
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after { clear: both; }
.center-block { display: block; margin-right: auto; margin-left: auto; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.hide { display: none ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
/* ::::: https://www.gnome-look.org/tools/fancybox2.1.4/jquery.fancybox.css?v=2.1.4 (@media screen) ::::: */

@media screen {
}
/* ::::: https://www.gnome-look.org/theme/flatui/css/style.css ::::: */

.pling-search { border-bottom: 2px solid rgb(189, 195, 199); }
.carousel { margin-bottom: 0px; }
.product-row, .supporters-row { margin-top: 10px; }
.product-thumbnail { position: relative; width: 50px; height: 50px; padding: 10px; margin: 10px; }
.product-thumbnail img { border-radius: 5px 5px 5px 5px; border: 1px solid rgb(178, 178, 178); height: 50px; width: 50px; }
.sidebar-content-section { margin: 15px 0px; }
.sidebar-profile-image { width: 95px; height: 95px; margin-left: 6px; margin-top: 6px; }
#overlays { position: absolute; top: 0px; }
a.partial { padding: 3px 6px; }
.dropdown:hover .dropdown-menu { display: block; margin-top: 0px; }
.metamenu a { color: rgb(106, 118, 134); }
.pling-nav-top > li > a { padding: 0px 5px; }
#product-title { font-size: 25px; color: rgb(38, 115, 176); font-weight: bold; }
#myCarousel { padding-top: 15px; }
#product-title img.logo { max-height: 85px; max-width: 85px; float: left; padding-right: 15px; border-radius: 0px 0px 0px 0px; }
.carouselContainer img { cursor: zoom-in; }
.product-main-img .carouselContainer { padding-bottom: 30px; }
.product-main-img { padding-left: 0px ! important; padding-right: 0px ! important; }
#widget-rating { width: 200px; }
.carousel-indicators { top: -5px; z-index: 31; background-color: transparent; height: 20px; }
.carousel-indicators li { border: 1px solid rgb(196, 215, 239); }
.carousel-inner > .item > img { display: block; margin-left: auto; margin-right: auto; }
.imgsmall .carousel-inner > .item > img { max-width: 800px; max-height: 550px; }
.standard-form.partialpaypal input { padding-right: 0px ! important; }
#product-maker { float: right; }
.prod-widget-box { width: 95% ! important; margin-bottom: 10px ! important; }
input#amount { width: 94%; height: 30px; padding-top: 0px; padding-bottom: 0px; padding-left: 0px; border-width: 1px; background-clip: padding-box; text-align: right; border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) inset; padding-right: 5px ! important; float: right; }
.donation-box .payment-options .options { width: 100%; float: right; }
.donation-box .payment-options .options span.option { float: right; display: inline-block; padding-left: 5px; font-size: 14px; color: rgb(38, 115, 176); cursor: pointer; }
.donation-box .payment-options .options span.optionPkt { float: right; padding-left: 4px; }
input[type="number"] { -moz-appearance: textfield; }
.pling-share-new a.share-button:first-of-type { border-radius: 6px 0px 0px 6px; }
.pling-share-new a.twitter { padding-right: 15px; }
.pling-share-new a.facebook { border-radius: 0px 6px 6px 0px; background: url("facebook_pling.png") no-repeat scroll 5px 50% transparent; }
.pling-share-new a.twitter { background: url("twitter_pling.png") no-repeat scroll 5px 50% transparent; }
.pling-share-new .share-button { display: inline-block; box-sizing: border-box; height: 28px; width: 70px; margin: 0px; font: 12px trebuchet ms,sans-serif; color: blue; text-decoration: none; text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1); border: 1px solid rgb(245, 245, 245); background: -moz-linear-gradient(center top , rgb(33, 101, 155), rgb(128, 179, 245)) repeat scroll 0% 0% transparent; -moz-user-select: none; text-align: center; padding-top: 6px; position: relative; float: left; padding-left: 25px; }
.pling-share-new .share-button { display: inline-block; }
.sidebar-content .product-maker-thumbnail > a .sidebar-profile-image { width: 40px; height: 40px; margin-left: 0px; margin-top: 0px; border-radius: 999px 999px 999px 999px; background-clip: padding-box; }
#pling-box .product-maker-thumbnail > a .sidebar-profile-image { width: 40px; height: 40px; margin-left: 0px; margin-top: 0px; border-radius: 999px 999px 999px 999px; background-clip: padding-box; }
/* ::::: https://www.gnome-look.org/theme/flatui/css/stylesheet.css?v1.3c ::::: */

/* ::::: (import) https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700 ::::: */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/* ::::: (end import) ::::: */
body { overflow-y: scroll; line-height: 1.231; color: rgb(78, 78, 78); font-family: 'Open Sans',sans-serif; font-size: medium; }
footer, header, main, section { width: 100%; float: left; }
footer section.wrapper, header section.wrapper, main section.wrapper, section section.wrapper { margin-left: auto; margin-right: auto; width: 95%; float: none; height: auto; }
a { text-decoration: none; color: rgb(38, 115, 176); transition: all 0.2s ease-out 0s; }
a:hover { text-decoration: none; }
a:focus { outline: 0px none; }
button::-moz-focus-inner { border: 0px none; }
button, input, select, textarea { font-family: Lato,sans-serif; font-size: 14px; }
h3 { font-size: 24px; font-weight: 700; margin-bottom: 4px; margin-top: 2px; }
h5 { font-size: 16px; font-weight: 500; text-transform: uppercase; }
@media (max-width: 1200px) and (min-width: 992px) {
  footer section.wrapper, header section.wrapper, main section.wrapper { width: 95%; margin-left: 2.5%; margin-right: 2.5%; }
}
.btn { background: none repeat scroll 0px 0px rgb(189, 195, 199); border: medium none; border-radius: 6px 6px 6px 6px; box-shadow: none; color: rgb(255, 255, 255); line-height: 22px; padding: 9px 12px 10px; text-decoration: none; text-shadow: none; }
.btn.btn-native { background-color: rgb(38, 115, 176); color: rgb(255, 255, 255); }
.standard-form input { height: 41px; }
.standard-form input, .standard-form select, .standard-form textarea { border: 1px solid rgb(189, 195, 199); padding: 0px; border-radius: 5px 5px 5px 5px; background-clip: padding-box; }
.lightblue { color: rgb(38, 115, 176); }
.small { font-size: 12px; }
.relative { position: relative; }
.absolute { position: absolute; }
.light { font-weight: 300; }
.modal { overflow-y: hidden; }
.right { float: right; }
.left { float: left; }
.full-width { width: 100% ! important; }
.progress { height: 8px; border-radius: 0px 0px 0px 0px; background-clip: padding-box; margin-bottom: 0px; }
.pling-nav-top > li > a { padding: 0px 5px; transition: all 0.2s ease-out 0s; }
header nav { border-bottom: medium none transparent; }
header#page_header { color: rgb(106, 118, 134); height: auto; font-size: 10pt; font-weight: 400; width: 100%; font-family: Arial,sans-serif; }
header#page_header nav#nav-top { margin-left: 130px; width: 80%; }
header a { color: rgb(255, 255, 255); }
header .pull-left, header .pull-right { padding: 0px; }
header ul { margin-bottom: 0px; }
header ul li { list-style: none outside none; display: inline-block; margin: 0px; cursor: pointer; position: relative; height: 40px; line-height: 40px; float: left; }
header ul li a { float: left; display: block; height: inherit; line-height: inherit; padding: 0px 20px; }
header .container { margin-left: auto; margin-right: auto; float: none; height: auto; width: 100%; background-color: rgb(226, 226, 226); }
header .container.header { margin-left: auto; margin-right: auto; float: none; width: 100%; }
header .container.header section.container { background-color: transparent; }
header .container.header section.container section.wrapper { height: 40px; padding-left: 80px; position: relative; }
header .container.header section.container + section.container { background-color: transparent; padding-left: 0px; }
header .container.header section.container + section.container > section.wrapper { padding-left: 242px; height: 50px; }
header .container.header nav { border-bottom: medium none transparent; }
header .container.header nav #search { height: 25px; padding: 0px; margin: 6.5px 5px; line-height: 25px; position: relative; }
header .container.header nav #search input.pling-search { width: 16em; height: 25px; padding: 0px 30px 0px 0px; border: 1px solid rgb(255, 255, 255); margin-bottom: -1px; text-indent: 5px; color: rgb(106, 118, 134); float: left; border-radius: 6px 6px 6px 6px; box-shadow: none; }
header .container.header nav #search div.icon-search-input { top: 2px; right: 0px; width: 25px; height: 25px; background-image: url("icon-search-input-2.png"); background-position: center center; position: absolute; cursor: pointer; }
header .container.header ul.pling-nav-tabs { bottom: 0px; display: inline-table; list-style-type: none; margin: 0px; padding: 0px; position: absolute; }
header section.container { background-color: transparent; }
header section.container + section.container { background-color: transparent; }
header section.container + section.container > section.wrapper { padding-left: 242px; height: 50px; }
ul.pling-nav-tabs { bottom: 0px; display: inline-table; list-style-type: none; margin: 0px; padding: 0px; position: absolute; }
footer { width: 100%; float: left; padding: 12px 0px; border-bottom: 5px solid rgb(38, 115, 176); border-top: 1px solid rgb(169, 169, 169); background-color: rgb(220, 220, 220); font-size: 9pt; }
footer h3 { font-weight: 400; }
footer h3#footer-heading { font-size: 1.3em; margin: 0px; }
footer nav#footer-nav ul { margin-top: 1em; list-style: none outside none; padding: 0px; margin-right: 1em; float: left; width: auto; margin-bottom: 0.2em; }
footer nav#footer-nav ul li { display: inline-block; margin-right: 0px; font-size: 1em; }
footer nav#footer-nav ul li a { color: rgb(102, 102, 102); font-weight: 400; }
footer nav#footer-nav ul li + li { margin-left: 10px; }
footer h3#footer-social-heading { color: rgb(102, 102, 102); font-size: 1em; margin: 0px 0px 0.4em; }
footer #footer-social { float: right; }
footer #footer-social a { width: 30px; display: block; float: left; }
footer #footer-social a + a { margin-left: 2px; }
footer section.wrapper .pull-left { padding: 0px; }
footer section.wrapper .pull-right { padding: 0px; }
@media (max-width: 1920px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
}
@media (max-width: 800px) {
}
@media (max-width: 400px) {
}
#product-main { padding: 0px; }
#product-main #product-main-img #product-title-div { padding-left: 30px; }
#product-main #product-main-img #product-title-div .product-logo-container { float: left; width: 85px; min-height: 65px; }
#product-main #product-main-img #product-title-div .product_category { font-size: small; display: block; font-weight: 400; }
#product-main #product-tabs-container { padding-top: 10px; }
#product-main #product-tabs { font-size: 10pt; }
#product-main ul.nav-tabs { padding: 0px 15px; border-bottom: 0px none; width: auto; float: left; }
#product-main ul.nav-tabs li { float: left; margin-bottom: -1px; }
#product-main ul.nav-tabs li a { color: rgb(255, 255, 255); background-color: rgb(33, 101, 155); border-radius: 10px 10px 0px 0px; background-clip: padding-box; }
#product-main ul.nav-tabs li.active a, #product-main ul.nav-tabs li:focus a, #product-main ul.nav-tabs li:hover a { border-color: rgb(33, 101, 155); background-color: rgb(38, 115, 176); }
#product-main #product-panels { background: none repeat scroll 0px 0px rgb(255, 255, 255); height: auto; overflow: hidden; border-top: 2px solid rgb(33, 101, 155); border-radius: 0px 0px 0px 0px; padding: 15px; float: left; width: 100%; margin: 0px; }
#product-main #product-panels .tab-pane { width: 100%; float: left; background-color: rgb(255, 255, 255); padding: 4px; }
#product-main #product-panels .tab-pane h3 { color: rgb(38, 115, 176); margin-bottom: 20px; margin-top: 0px; }
#product-main #product-panels .tab-pane .panel-grey-part { padding: 15px; background-color: rgb(243, 243, 243); color: rgb(38, 115, 176); border-left: 1px solid rgb(229, 229, 229); }
#product-main #product-panels #about-panel.tab-pane #product-about { padding: 20px 10px 10px; }
#product-main #product-panels #about-panel.tab-pane #product-about article { padding-top: 15px; }
#product-main #product-panels #donations-panel.tab-pane #comments { width: 100%; float: left; padding: 15px; }
#product-maker { background-color: rgb(241, 241, 241); }
#product-maker .pling-share-new { padding-bottom: 10px; padding-top: 10px; }
#product-maker .pling-share-new > .row { padding-left: 30px; }
#product-maker .pling-share-new .prod-user { margin-top: 10px; }
#product-maker .pling-share-new .prod-user .product-maker-thumbnail { float: right; }
#product-maker .pling-share-new .prod-user .product-maker-summary { float: right; padding-right: 20px; }
#product-maker .pling-share-new .prod-info { font-size: 12px; padding-bottom: 10px; }
.prod-widget-box { border: 1px solid rgb(204, 212, 216) ! important; font-size: 10pt; margin-bottom: 20px; padding: 5px; width: 70%; }
.prod-widget-box .product-row .product-thumbnail { width: 42px; height: 42px; }
.prod-widget-box .product-row .product-thumbnail img { border-radius: 5px 5px 5px 5px; border: 1px solid rgb(178, 178, 178); height: 50px; width: 50px; }
.prod-widget-box #pling-box .donation-box { padding-top: 10px; padding-bottom: 15px; width: 100%; height: auto; }
.prod-widget-box #pling-box .donation-box > div { height: auto; }
.prod-widget-box.details span { line-height: 1.65em; font-size: 8.25pt; }
.prod-widget-box.details span.title { font: 12pt Trebuchet MS,sans-serif; display: block; padding-bottom: 10px; }
.prod-widget-box.details span.value { font-size: 9pt; }
#product-donate { display: none; width: 550px; height: 300px; font-size: 13px; }
@media (max-width: 800px) {
}
@media (max-width: 550px) {
}
@media (max-width: 350px) {
}
@media (max-width: 800px) {
}
@media (max-width: 550px) {
}
@media (max-width: 350px) {
}
@media (max-width: 767px) {
}
section { float: left; width: 100%; }
.pling-modal .modal-header h3 { text-align: center; color: rgb(38, 115, 176); }
#files-panel { font-size: 10pt; }
.modal.report-product .modal-dialog .modal-content { padding: 10px 10px 0px; }
.modal.report-product .modal-dialog .modal-content #product-report button.small { border: medium none; background: none repeat scroll 0px 0px transparent; color: rgb(38, 115, 176); }
/* ::::: https://www.gnome-look.org/theme/flatui/css/bootstrap/colorpicker/css/bootstrap-colorpicker.min.css ::::: */

/* ::::: https://www.gnome-look.org/theme/flatui/css/colorbox.css (@media screen) ::::: */

@media screen {
}
/* ::::: https://cdn.jsdelivr.net/jquery.fancytree/2.7.0/skin-lion/ui.fancytree.min.css ::::: */

/* ::::: https://www.gnome-look.org/css/jquery.step.css ::::: */

@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
/* ::::: https://www.gnome-look.org/theme/flatui/css/bootstrap/bootstrap-dialog.min.css (@media screen) ::::: */

@media screen {
@keyframes spin {
100% { transform: rotate(359deg); }
}
@keyframes spin {
100% { transform: rotate(359deg); }
}
}
/* ::::: https://use.fontawesome.com/92ae23fcf4.css (@media all) ::::: */

/* ::::: (import) https://use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css ::::: */
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.pull-right { float: right; }
.pull-left { float: left; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-plus:before { content: ""; }
.fa-minus:before { content: ""; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
/* ::::: (end import) ::::: */
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
/* ::::: [internal] ::::: */

header a { color: rgb(255, 255, 255); }
header div.container.header { background-image: url("gnome-header.jpg"); background-color: transparent; color: black; height: 90px; }
header .logo-header { background-image: none; display: block; height: 90px; left: 0px; position: absolute; top: 0px; width: 220px; z-index: 999; overflow: hidden; }
header ul li:active { background: none repeat scroll 0px 0px rgb(93, 150, 197); }
header ul li:hover { background: none repeat scroll 0px 0px rgb(93, 150, 197); }
header ul li:active > a { color: rgb(29, 29, 29); }
header ul li:hover > a { color: rgb(29, 29, 29); }
ul.pling-nav-tabs li { background-color: rgb(96, 157, 202); border-color: rgb(163, 172, 253); border-image: none; border-radius: 5px 5px 0px 0px; border-style: solid solid none; border-width: 2px 2px 0px; height: 24px; line-height: 24px; margin-right: 2px; }
.absolute-right { right: 30px; }
.header_cat_link { bottom: 0px; position: absolute; color: blue; font-size: 18pt; left: 280px; }
.nav-divider-pling { color: rgb(226, 226, 226); }
.nav-pills > li + li { margin-left: 10px; }
.dropdown-menu > li > a { font-size: 12px; }
.dropdown:hover .dropdown-menu { margin-left: -16px; }
/* ::::: [internal] ::::: */

.user_name { font-size: 14px; font-weight: bold; color: rgb(102, 189, 221); }
.comments-list .media { border-bottom: 1px dotted rgb(204, 204, 204); }
.media-left, .comments-list img { border-radius: 50% 50% 50% 50%; width: 42px; height: 42px; }
.history { color: rgb(200, 199, 199); }
#product-discussion .container { padding: 0px; margin: 0px; }
.modal-header .close { margin-top: -15px; }
