/* ::::: http://zdnet4.cbsistatic.com/fly/517-fly/bundles/zdnetcss/css/core/main.css ::::: */

@charset "UTF-8";
@media (min-width: 1230px) {
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; }
b, strong { font-weight: bold; }
img { border: 0px none; }
figure { margin: 0px; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.alert { background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); margin-bottom: 20px; padding: 6px 37px 6px 12px; border: 1px solid transparent; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.35; }
.alert .close { position: relative; color: rgb(255, 255, 255); float: right; right: -35px; top: -2px; font-weight: bold; font-size: 20px; line-height: 22px; opacity: 0.7; padding: 0px 10px 5px; border: 0px none; background-color: transparent; }
.alert .close:hover { opacity: 1; text-decoration: none; }
form { margin: 0px 0px 30px; }
label, input, button, select, textarea { font-size: 16px; font-weight: normal; line-height: 1.35; font-family: inherit; }
input, select, textarea { color: inherit; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }
label { display: block; margin-bottom: 10px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { border-radius: 3px 3px 3px 3px; box-sizing: border-box; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid rgb(217, 217, 217); background-color: rgb(255, 255, 255); width: 100%; height: 32px; padding: 4px 6px; margin-bottom: 20px; line-height: 1.35; vertical-align: middle; }
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus { box-shadow: 0px 0px 5px rgba(4, 156, 219, 0.75); background-color: rgb(255, 255, 255); border-color: rgba(4, 156, 219, 0.6); outline: 0px none; }
@media screen and (orientation: portrait) {
}
@media screen and (orientation: landscape) {
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeout {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes slideinfromright {
0% { transform: translateX(100%); }
100% { transform: translateX(0px); }
}
@keyframes slideinfromright {
0% { transform: translateX(100%); }
100% { transform: translateX(0px); }
}
@keyframes slideinfromleft {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@keyframes slideinfromleft {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@keyframes slideouttoleft {
0% { transform: translateX(0px); }
100% { transform: translateX(-100%); }
}
@keyframes slideouttoleft {
0% { transform: translateX(0px); }
100% { transform: translateX(-100%); }
}
@keyframes slideouttoright {
0% { transform: translateX(0px); }
100% { transform: translateX(100%); }
}
@keyframes slideouttoright {
0% { transform: translateX(0px); }
100% { transform: translateX(100%); }
}
@media (min-width: 55em) {
}
.heading { z-index: 1; position: relative; font-weight: 900; font-size: 0.75em; line-height: 1.25em; color: rgb(222, 20, 0); text-align: center; text-transform: uppercase; margin-bottom: 20px; clear: left; }
.heading:before { border-top: 1px solid rgb(202, 214, 222); content: ""; margin: 0px auto; position: absolute; top: 20%; left: 0px; right: 0px; bottom: 0px; width: 100%; }
.heading .int { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; position: relative; }
.topContent .storyHeader { margin: 0px; }
.topContent .col-12 h1 { padding-top: 15px; padding-bottom: 5px; clear: both; }
.dynamic-showcase-top .dynamicShowcase_li:hover .dynamicShowcase_headline, .dynamic-showcase-top .dynamicShowcase_li figure:before, .river .item .thumbWrap .thumb:hover:before, .river .item.promo .thumbWrap .thumb:hover:before, .just-in .img:hover:before, .multi-topic-module .img:hover:before, .active-discussions .img:hover:before, .btn.btn-primary, .btn.btn-primaryBlack, .btn-circle, .btn-circle:before, .btn-circle-alt, .btn-circle-alt:before, .shortcodeGalleryWrapper .shortcode-gallery .viewport .image-link-wrapper:hover:before, .prev span.arrow, .next span.arrow, .module.featuredStories .img:hover:before, .module.mostPopular .img:hover:before, .module.photoGalleries article .img:hover:before, .col-12 > .module.mostPopular .img:hover:before, .col-4 .latestPosts .img:hover:before, .search-results .col-8 input[type="submit"], .comments .fyre .fyre-widget .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button:hover, .fyre .fyre-stream-more .fyre-stream-more-container, .fyre.fyre-reviews .fyre-widget .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button:hover, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:before { transition-property: all; transition-duration: 0.4s; transition-timing-function: ease; }
.authorBio h3 a, .storyBody a, .storyHeader a, .gallery-data .image-data .galleryBody a, .module.medusa .assets h3 a { color: rgb(17, 116, 199); }
.authorBio h3 a:hover, .storyBody a:hover, .storyHeader a:hover, .gallery-data .image-data .galleryBody a:hover, .module.medusa .assets h3 a:hover { color: rgb(222, 20, 0); text-decoration: none; }
a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 { color: rgb(17, 116, 199); text-decoration: none; }
.meta { color: rgb(106, 118, 127); font-size: 0.8125em; line-height: 1.38462em; }
p { margin: 0px 0px 20px; }
strong { font-weight: bold; }
em { font-style: italic; }
.hide { display: none; }
.vendor-text-link { font-weight: bold; }
#text-link > div, #vendor-text-link > div, #marquee > div, #mpu-top > div, .adspace, .mpu > div, .ad-mpu-top > div, .textLinks { margin: 0px 0px 30px; }
.adspace, .mpu > div, .textLinks { margin: 0px 0px 30px; }
.mpu { line-height: 0; text-align: center; clear: both; }
.mpu div { margin: 0px auto; }
@media (max-width: 1430px) {
}
.ad-skin { display: none; }
.ad-skin iframe { max-height: 0px ! important; }
.ad-intromercial { height: 0px; }
.sticky-wrapper { height: auto; clear: both; min-height: 250px; }
.sticky-wrapper .scrolling-mpu { min-height: 250px; }
section.sharethrough-top { width: 100%; margin: 0px 0px 10px; padding: 0px; clear: both; }
.ad-ticker { background: none repeat scroll 0% 0% white; }
.ad-ticker iframe { margin: 0px auto; display: block; }
.yahoo-sponsored-bottom { padding-top: 20px; }
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 979px) {
}
#mantle_skin > .container, .topContent { background-color: rgb(255, 255, 255); }
.image-thumbnail { width: 170px; margin: 0px auto; }
.image-small { width: 170px; margin: 0px auto; }
.image-full-width { width: 100%; }
.topContent { padding: 0px 10px; }
.alignLeft, .alignleft { float: left; margin-right: 30px; margin-top: 5px; clear: left; }
.alignRight, .alignright { float: right; margin-left: 30px; margin-top: 5px; clear: right; }
[data-component="magnet"] { clear: both; }
.storyBody { margin: 0px 0px 14px; }
.storyBody:after { content: ""; display: table; clear: both; }
.storyBody h3:not(.heading) { text-transform: uppercase; font-weight: 600; }
.storyBody img, .storyBody .audioPlayer { margin: 0px auto 21px; }
.storyBody section:not(.ad-active) iframe { width: 100%; }
.storyBody img { display: block; max-width: 100%; height: auto; width: auto; font-size: 0.375em; }
.storyBody figcaption { font-style: italic; font-size: 0.75em; line-height: 1.5; margin: 14px 0px 28px; text-align: center; }
.storyBody p, .storyBody ol, .storyBody ul { margin-bottom: 21px; }
.storyBody ul, .storyBody ol { padding-left: 30px; }
.storyBody ul li { list-style: disc outside none; }
.storyBody .shortcode-image img[src=""] { display: none; }
.storyBody .shortcode-image span.img.aspect-set { display: block; position: relative; }
.storyBody .shortcode-image span.img.aspect-set img { position: absolute; width: 100%; top: 0px; left: 0px; animation: 0.5s ease 0s normal none 1 fadeIn; }
.storyHeader { margin: 20px 0px 0px; }
.storyHeader h1 { font-weight: 800; font-size: 1.5em; line-height: 1.16667em; color: rgb(8, 14, 20); }
.storyHeader .summary { font-weight: 300; font-size: 1.25em; line-height: 1.2em; margin-bottom: 30px; }
.storyHeader .meta { margin-bottom: 30px; }
.storyHeader .byline .thumb { float: left; height: 40px; overflow: hidden; border-radius: 50% 50% 50% 50%; }
.storyHeader .byline .thumb ~ .meta { height: 40px; margin-left: 50px; }
@media (max-width: 980px) {
}
@media (max-width: 800px) {
}
@media (max-width: 500px) {
}
@media (max-width: 400px) {
}
.btn-circle, .btn-circle-alt { position: relative; display: block; margin: 10px auto; border-radius: 50% 50% 50% 50%; width: 65px; height: 65px; min-width: 0px; padding: 0px; text-align: center; text-transform: uppercase; font-weight: bold ! important; font-size: 11px ! important; line-height: 12px ! important; z-index: 0; }
.btn-circle { color: rgb(222, 20, 0) ! important; }
.btn-circle:hover { text-decoration: none; color: rgb(255, 255, 255) ! important; }
.btn-circle:before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border-radius: inherit; z-index: -1; box-shadow: 0px 0px 0px 1px rgb(222, 20, 0) inset; }
.btn-circle:hover:before { box-shadow: 0px 0px 0px 45px rgb(8, 14, 20) inset; }
.btn-circle .btn-circle-text { padding-top: 22px; }
.btn-circle .btn-circle-text span { display: block; }
form { margin: 0px; }
form label { display: block; font-size: 0.875em; margin-bottom: 5px; }
form input[type="text"], form input[type="password"], form input[type="email"], form textarea { border-radius: 0px 0px 0px 0px; box-shadow: none; padding: 10px; font-size: 0.8125em; color: rgb(106, 118, 127); margin-bottom: 10px; width: 100%; border: 1px solid rgb(202, 214, 222); }
form select { border-radius: 0px 0px 0px 0px; box-shadow: none; font-size: 0.8125em; color: rgb(106, 118, 127); margin-bottom: 10px; width: 100%; border: 1px solid rgb(202, 214, 222); }
@media all and (min-width: 500px) {
}
@keyframes tooltipIn {
0% { transform: translateY(-3px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
select:focus, textarea:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus { background-color: white; border-color: rgba(4, 100, 219, 0.6); outline: 0px none; }
input[type="text"]:focus { background-color: transparent; box-shadow: none; }
@media all and (max-width: 767px) {
}
@media (max-width: 349px) {
}
@media (max-width: 600px) {
}
.alert, .status { font-family: "Raleway",sans-serif; border: medium none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(106, 118, 127); margin: 20px 0px; padding: 8px 14px; border-radius: 0px 0px 0px 0px; text-shadow: none; }
.alert .close, .status .close { color: rgb(8, 14, 20); right: -15px; }
.alert p, .status p { margin-bottom: 5px; font-weight: 700; text-transform: uppercase; font-size: 0.75em; text-align: center; }
.alert p:last-child, .status p:last-child { margin-bottom: 0px; }
.alert a, .status a { color: rgb(17, 116, 199); }
.alert a:hover, .status a:hover { color: rgb(222, 20, 0); }
.alert.optBeta { display: none; }
.thumb { display: inline-block; max-width: 100%; position: relative; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; }
[data-component="newsletterWidget"] a:focus { outline: 0px none; }
.loggedIn, .loggedOut { display: none; }
body.not-logged-in .loggedIn { display: none; }
body.not-logged-in .loggedOut { display: block; }
body.not-logged-in .fa.fa-user { position: relative; }
body.not-logged-in .fa.fa-user:after { position: absolute; top: -6px; right: -10px; content: "●"; color: rgb(222, 20, 0); }
body.not-logged-in .menu-user li:nth-of-type(3) { padding-bottom: 15px ! important; }
section.module { margin-bottom: 30px; clear: both; }
.module img:not([src=""]) { animation: 0.3s ease 0s normal none 1 fadeIn; }
.module.relatedStories p { padding-left: 100px; }
.module.relatedStories li { min-height: 53px; }
.module .topicName { font-weight: normal; font-size: 0.8125em; line-height: 1.38462em; color: rgb(8, 14, 20); margin: 0px; }
@media only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
}
@media (max-width: 915px) {
}
@media (max-width: 740px) {
}
@media (max-width: 488px) {
}
@media (max-width: 454px) {
}
@media (max-width: 463px) {
}
@media (max-width: 429px) {
}
@media (max-width: 370px) {
}
@media (max-width: 336px) {
}
@media (max-width: 473px) {
}
@media (max-width: 439px) {
}
@media (max-width: 405px) {
}
@media (max-width: 371px) {
}
.shareBar { display: table; width: 100%; margin-bottom: 30px; }
.shareBar ul { width: 100%; height: 40px; display: table-row; }
.shareBar ul li { display: table-cell; text-align: center; vertical-align: middle; white-space: nowrap; width: 15%; transition: background-color 0.4s ease 0s; }
.shareBar ul li a { width: 100%; display: block; color: rgb(255, 255, 255); }
.shareBar ul li.comments { background-color: rgb(222, 20, 0); }
.shareBar ul li.comments:hover { background-color: rgb(255, 30, 8); }
.shareBar ul li.facebook { background-color: rgb(62, 89, 153); }
.shareBar ul li.facebook:hover { background-color: rgb(74, 106, 182); }
.shareBar ul li.twitter { background-color: rgb(93, 167, 216); }
.shareBar ul li.twitter:hover { background-color: rgb(126, 185, 224); }
.shareBar ul li.linkedin { background-color: rgb(22, 116, 177); }
.shareBar ul li.linkedin:hover { background-color: rgb(27, 140, 213); }
.shareBar ul li.email-alert { background-color: rgb(8, 14, 20); }
.shareBar ul li.email-alert:hover { background-color: rgb(37, 65, 93); }
.shareBar ul li.email { background-color: rgb(29, 52, 70); }
.shareBar ul li.email:hover { background-color: rgb(59, 106, 142); }
.comments { margin: 30px 0px; }
.comments .heading { margin-bottom: 20px; }
.comments .livefyreFooter, #userReviews .livefyreFooter { margin-bottom: 20px; padding-top: 10px; }
.comments .livefyreFooter .addComment, #userReviews .livefyreFooter .addComment { background: url("comment.png") no-repeat scroll left -2px / 20px auto transparent; height: 18px; padding-left: 28px; padding-top: 0px; font-size: 13px; text-transform: uppercase; font-weight: 600; position: relative; }
.comments .livefyreFooter .addComment a, #userReviews .livefyreFooter .addComment a { position: absolute; top: -6px; left: 25px; color: rgb(106, 118, 127); }
.comments .livefyreFooter .addComment a:hover, #userReviews .livefyreFooter .addComment a:hover { color: rgb(187, 187, 187); }
.comments .livefyreFooter .livefyrePowered, #userReviews .livefyreFooter .livefyrePowered { float: right; height: 24px; padding-left: 0px; padding-top: 0px; font-size: 13px; color: rgb(106, 118, 127); }
.comments .livefyreFooter .livefyrePowered a, #userReviews .livefyreFooter .livefyrePowered a { color: rgb(106, 118, 127); }
.comments .livefyreFooter .livefyrePowered a:hover, #userReviews .livefyreFooter .livefyrePowered a:hover { color: rgb(187, 187, 187); }
@-moz-document url-prefix("") {
  .comments .fyre .fyre-widget .fyre-stream-header .fyre-stream-sort .fyre-stream-sort-options .fyre-stream-sort-selected { padding-bottom: 4px; }
}
@media only screen and (max-width: 768px) {
}
@-moz-document url-prefix("") {
  .fyre.fyre-reviews .fyre-reviews-rated { margin-top: 7px; }
}
@media not all {
}
@media only screen and (max-width: 768px) {
}
@media not all {
}
@media only screen and (max-width: 768px) {
}
@media not all {
}
@-moz-document url-prefix("") {
  .fyre.fyre-reviews .fyre-reviews-editor .row .col-8 input { padding: 0px 0px 0px 20px; height: 62px; }
  .fyre.fyre-reviews .fyre-widget .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button .fyre-button-right-outer-box .fyre-button-right-inner-box { padding-top: 4px; }
}
@-moz-document url-prefix("") {
  .nav-tabs { line-height: 15px; }
}
@media (max-width: 634px) {
}
@media (min--moz-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 1.5dppx) {
}
@media (min--moz-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 1.5dppx) {
}
@media (min--moz-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 1.5dppx) {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; transform: translate(0px, 0px); }
.fa-lg { font-size: 1.33333em; line-height: 0.75em; vertical-align: -15%; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-user:before { content: ""; }
.fa-remove:before, .fa-close:before, .fa-times:before { content: ""; }
.fa-comment:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-facebook-f:before, .fa-facebook:before { content: ""; }
.fa-bell:before { content: ""; }
.fa-envelope:before { content: ""; }
.fa-linkedin:before { content: ""; }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
#cookie-policy { font-size: 16px; display: none; position: relative; z-index: 1; }
.shortcode-image { clear: both; }
body { background-color: red; }
.leader { text-align: center; line-height: 0; }
.leader div, .leader iframe { margin: 0px auto; }
.leader [data-ad] { margin: 15px -20px 30px; }
.leader.leader-bottom { margin: 0px -20px; }
section.leader { margin: 0px auto; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; margin: 0px 0px 10px; }
.contentWrapper { padding: 0px 10px; }
.contentWrapper > .container { background-color: rgb(255, 255, 255); }
ul, ol { margin: 0px; padding: 0px; }
ul { margin: 0px; padding: 0px; }
ul li { list-style: none outside none; }
img { width: 100%; height: auto; }
html, button, input, select, textarea { color: rgb(8, 14, 20); }
body { font-family: "Raleway",sans-serif; font-size: 16px; line-height: 28px; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
html, body { position: relative; overflow-x: hidden; }
.col-4 .module { line-height: 16px; }
.col-4 .module a { font-weight: 700; font-size: 0.9375em; line-height: 1.2em; color: rgb(8, 14, 20); }
.col-4 .module a:hover { color: rgb(222, 20, 0); text-decoration: none; }
.col-4 .module .thumb { float: left; margin: 4px 30px 0px 0px; width: 70px; height: 53px; }
.col-4 .module ul > li { margin-bottom: 20px; }
#mantle_skin { position: relative; width: 100%; z-index: 0; }
.row, .container { overflow: visible ! important; }
a { text-decoration: none; cursor: pointer; color: rgb(8, 14, 20); }
a:hover { text-decoration: none; }
section { margin-bottom: 30px; }
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: url("Raleway-Thin.eot") format("embedded-opentype"), url("Raleway-Thin.woff") format("woff"), url("Raleway-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  src: url("Raleway-ExtraLight.eot") format("embedded-opentype"), url("Raleway-ExtraLight.woff") format("woff"), url("Raleway-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("Raleway-Light.eot") format("embedded-opentype"), url("Raleway-Light.woff") format("woff"), url("Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("Raleway-Regular.eot") format("embedded-opentype"), url("Raleway-Regular.woff") format("woff"), url("Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("Raleway-Medium.eot") format("embedded-opentype"), url("Raleway-Medium.woff") format("woff"), url("Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("Raleway-SemiBold.eot") format("embedded-opentype"), url("Raleway-SemiBold.woff") format("woff"), url("Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("Raleway-Bold.eot") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("Raleway-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("Raleway-ExtraBold.eot") format("embedded-opentype"), url("Raleway-ExtraBold.woff") format("woff"), url("Raleway-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("Raleway-Black.eot") format("embedded-opentype"), url("Raleway-Black.woff") format("woff"), url("Raleway-Black.ttf") format("truetype");
}
#mainHeader .fixation { position: inherit; width: 100%; z-index: 5000000; clear: right; }
#mainHeader #primary { height: 59px; position: relative; background-color: rgb(8, 14, 20); color: rgb(255, 255, 255); }
#mainHeader #primary #zdLogoSmall { background: url("logo-mobile.png") no-repeat scroll center center rgb(222, 20, 0); padding: 14px 0px 0px; text-indent: -9999px; display: inline-block; height: 30px; width: 64px; }
@media (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, (min-resolution: 1.3dppx) {
  #mainHeader #primary #zdLogoSmall { background-size: 64px auto; background-image: url("logo-mobile-2x.png"); }
}
#mainHeader #primary #zdLogoLarge { display: none; }
#mainHeader #primary .searchSmall { display: block; }
#mainHeader #primary .searchLarge { display: none; }
#mainHeader #primary .primaryNav .navList { display: none; }
#mainHeader #primary .primaryNav .navListMobile { display: table; width: 100%; position: absolute; left: 0px; top: 0px; margin-left: 0px; }
#mainHeader #primary .primaryNav .navListMobile > li { font-size: 0.75em; line-height: 1.16667em; }
#mainHeader #primary .primaryNav .navListMobile li { width: 16%; height: 31px; display: table-cell; padding: 7px 5px; border-right: 1px solid rgb(22, 39, 54); font-weight: bold; text-transform: uppercase; text-align: center; }
#mainHeader #primary .primaryNav .navListMobile li:first-child, #mainHeader #primary .primaryNav .navListMobile li:last-child { border-right: medium none; }
#mainHeader #primary .primaryNav .navListMobile li.backgroundLogo { background: none repeat scroll 0% 0% rgb(222, 20, 0); }
#mainHeader #primary .primaryNav .navListMobile li .dropDown { z-index: 5000000; font-weight: normal; background: none repeat scroll 0% 0% rgb(22, 39, 54); margin: 0px; position: absolute; top: 59px; left: 0px; width: 100%; padding: 0px; max-height: 0px; overflow: hidden; transition: all 0s ease 0s, all 0.5s ease 0s, all 0s linear 0s; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown a { color: rgb(255, 255, 255); position: relative; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown a:hover { color: rgb(222, 20, 0); }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions { padding: 0px; margin: 0px; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li { width: 100%; display: block; border-right: medium none; vertical-align: middle; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li a { padding-top: 12px; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li.subDiv, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li.subDiv, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li.subDiv { background: none repeat scroll 0% 0% rgb(8, 14, 20); }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li.subDiv a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li.subDiv a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li.subDiv a { display: block; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li.subDiv .label, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li.subDiv .label, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li.subDiv .label { font-weight: normal; text-transform: none; display: block; margin-top: 10px; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li.seeAll a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li.seeAll a, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li.seeAll a { display: inline-block; position: relative; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown.mobileLinks li.seeAll a:after, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-user li.seeAll a:after, #mainHeader #primary .primaryNav .navListMobile li .dropDown ul.menu-editions li.seeAll a:after { position: absolute; content: ">"; right: -15px; top: 10px; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall .headerSearch { width: 100%; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall .headerSearch .search-expand { height: 45px; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall .headerSearch .search-expand[placeholder="Search"] { font-weight: 700; font-size: 1em; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; border: medium none; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall .headerSearch .box input[type="text"]::-moz-placeholder { color: rgb(217, 217, 217); opacity: 1; text-transform: uppercase; }
#mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall input[type="submit"] { position: absolute; right: 0px; top: 16px; background: url("mag-white01.png") no-repeat scroll 0% 0% transparent; width: 30px; height: 15px; border: medium none; text-indent: -9999px; }
@media (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, (min-resolution: 1.3dppx) {
  #mainHeader #primary .primaryNav .navListMobile li .dropDown .searchSmall input[type="submit"] { background-size: 15px auto; background-image: url("mag-white01-2x.png"); }
}
#mainHeader #primary .primaryNav .navListMobile a { color: rgb(222, 20, 0); display: block; }
#mainHeader #primary .primaryNav .navListMobile a:hover { color: rgb(255, 255, 255); text-decoration: none; }
#mainHeader #secondary { display: none; }
#mainHeader .headerSearch { position: relative; width: 85px; }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle i.fa-facebook:before, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle i.fa-twitter:before, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle i.fa-linkedin:before { color: rgb(222, 20, 0); }
footer[role="contentinfo"] { background-color: rgb(8, 14, 20); color: rgb(171, 190, 202); font-size: 0.75em; line-height: 1.25em; padding: 10px; overflow: auto; }
footer[role="contentinfo"] #zd-logo { background: url("logo.png") no-repeat scroll 0px 0px transparent; width: 120px; height: 84px; display: block; text-indent: -9999px; margin: 10px auto; }
@media (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, (min-resolution: 1.3dppx) {
  footer[role="contentinfo"] #zd-logo { background-size: 120px auto; background-image: url("logo-2x.png"); }
}
footer[role="contentinfo"] a { color: rgb(255, 255, 255); }
footer[role="contentinfo"] a:hover { color: rgb(202, 214, 222); }
footer[role="contentinfo"] .col-6 .connect { display: block; position: relative; margin: 0px auto; padding-top: 12px; width: 285px; height: 70px; }
footer[role="contentinfo"] .col-6 .connect .connectSocial { margin: -10px 0px 20px; font-weight: 700; color: rgb(222, 20, 0); text-transform: uppercase; text-align: center; }
footer[role="contentinfo"] .col-6 .connect span { float: left; margin-right: 5px; }
footer[role="contentinfo"] .col-6 .connect .networkWrapper { margin: 12px auto; width: 180px; }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle { position: relative; background: none repeat scroll 0% 0% transparent; border-radius: 50% 50% 50% 50%; height: 50px; width: 50px; min-width: 0px; padding: 0px; margin-top: -10px; }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:hover i.fa-facebook:before, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:hover i.fa-twitter:before, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:hover i.fa-linkedin:before { color: rgb(255, 255, 255); }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border-radius: inherit; box-shadow: 0px 0px 0px 2px rgb(222, 20, 0) inset; transform: scale3d(0.9, 0.9, 1); }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle:hover:before { box-shadow: 0px 0px 0px 35px rgb(8, 14, 20) inset; transform: scale3d(1, 1, 1); }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle.facebook, footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle.twitter { margin-right: 12px; }
footer[role="contentinfo"] .col-6 .connect .networkWrapper .circle i { position: absolute; left: 36%; top: 39%; color: transparent; }
footer[role="contentinfo"] .col-6 .copyright { margin: 20px 12px; text-align: center; }
footer[role="contentinfo"] .networkSites { text-align: center; }
footer[role="contentinfo"] .networkSites form label { font-size: 1em; line-height: 17px; display: block; }
footer[role="contentinfo"] .networkSites form select { width: 30%; margin-top: 8px; margin-left: 5px; font-size: 1em; text-transform: none; }
footer[role="contentinfo"] .col-2 { float: left; width: 47%; margin-top: 15px; text-transform: uppercase; font-weight: 600; }
footer[role="contentinfo"] .col-2.alpha { margin-left: 12px; }
footer[role="contentinfo"] .col-2.beta { display: none; }
footer[role="contentinfo"] .col-2.gamma { text-align: right; }
footer[role="contentinfo"] .col-2 ul > li { margin-bottom: 30px; }
footer[role="contentinfo"] .col-2 li.loggedIn { position: relative; margin-right: 10px; }
footer[role="contentinfo"] .col-2 li.loggedIn:after { position: absolute; content: url("user.png"); width: 20px; height: 20px; top: -2px; right: -22px; }
@media (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, (min-resolution: 1.3dppx) {
  footer[role="contentinfo"] .col-2 li.loggedIn:after { background-size: 20px auto; background-image: url("user-2x.png"); }
}
@media screen and (min-width: 980px) {
  .row { width: auto; }
  .row:before, .row:after { content: ""; display: table; }
  .row:after { clear: both; }
  .container { box-sizing: border-box; width: 1230px; padding-left: 30px; padding-right: 30px; margin-left: auto; margin-right: auto; }
  .container:before, .container:after { content: ""; display: table; }
  .container:after { clear: both; }
  [class|="col"] { box-sizing: border-box; float: left; margin-left: 0px; }
  [class|="col"] ~ [class|="col"] { margin-left: 30px; }
  .col-2 { width: 170px; position: relative; }
  .col-4 { width: 370px; position: relative; }
  .col-6 { width: 570px; position: relative; }
  .col-8 { width: 770px; position: relative; }
  .col-12 { width: 1170px; position: relative; }
  #mainHeader #primary .primaryNav .navList li a.arrow, #mainHeader #primary .primaryNav .navList li a.linkAlt.arrow, #mainHeader #secondary .editions .editionsDrop a.arrow { position: relative; margin-right: 10px; }
  #mainHeader #primary .primaryNav .navList li a.arrow:after, #mainHeader #primary .primaryNav .navList li a.linkAlt.arrow:after, #mainHeader #secondary .editions .editionsDrop a.arrow:after { content: ""; display: block; width: 0px; height: 0px; border-width: 5px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(222, 20, 0) transparent transparent; position: absolute; right: -15px; top: 5px; }
  #mainHeader #primary { height: 59px; position: relative; background-color: rgb(8, 14, 20); color: rgb(255, 255, 255); overflow: visible; }
  #mainHeader #primary #zdLogoLarge { position: absolute; background: url("logo.png") no-repeat scroll 0px 0px transparent; width: 120px; height: 84px; display: block; top: -10px; left: 30px; z-index: 1; text-indent: -9999px; }
  #mainHeader #primary #zdLogoSmall { display: none; }
  #mainHeader #primary .searchSmall { display: none; }
  #mainHeader #primary .searchLarge { display: block; height: 100%; }
  #mainHeader #primary .searchLarge .headerSearch { position: relative; width: 59px; margin: 0px 0px 0px 175px; z-index: 5000000; background: none repeat scroll 0% 0% rgb(22, 39, 54); height: inherit; }
  #mainHeader #primary .searchLarge .headerSearch .box { padding-right: 0px; position: absolute; height: inherit; background-color: rgb(22, 39, 54); width: 100%; }
  #mainHeader #primary .searchLarge .headerSearch .box input[type="text"] { font-weight: bold; font-size: 0.66667em; position: relative; top: 13px; background: none repeat scroll 0% 0% transparent; box-shadow: none; border-radius: 0px 0px 0px 0px; border: medium none; margin-bottom: 0px; color: rgb(217, 217, 217); }
  #mainHeader #primary .searchLarge .headerSearch .box input[type="text"]::-moz-placeholder { color: rgb(22, 39, 54); opacity: 1; text-transform: uppercase; }
  #mainHeader #primary .searchLarge .headerSearch .box input[type="submit"] { position: absolute; left: 0px; top: 0px; background: url("mag-white01.png") no-repeat scroll center center transparent; width: 100%; height: 100%; border: medium none; text-indent: -9999px; }
  #mainHeader #primary .searchLarge .headerSearch .box input[type="submit"]:focus { outline: medium none; }
  #mainHeader #primary .searchLarge .headerSearch .box .search-expand { width: 39px; transition: width 0.4s ease 0s; }
  #mainHeader #primary .searchLarge .headerSearch.active .search-expand, #mainHeader #primary .searchLarge .headerSearch.active .box { width: 225px; }
  #mainHeader #primary .searchLarge .headerSearch.active input[type="text"] { color: rgb(255, 255, 255); padding: 0px 15px; }
  #mainHeader #primary .searchLarge .headerSearch.active input[type="text"]::-moz-placeholder { color: rgb(255, 255, 255); }
  #mainHeader #primary .searchLarge .headerSearch.active input[type="submit"] { width: 32px; height: 15px; top: 20px; left: 185px; transition: all 0.4s ease 0s; }
  #mainHeader #primary .primaryNav { position: absolute; right: 0px; top: 12px; margin-right: 10px; z-index: 4999999; }
  #mainHeader #primary .primaryNav .navList { display: block; }
  #mainHeader #primary .primaryNav .navList li { display: inline-block; padding-right: 20px; text-transform: uppercase; font-weight: bold; position: relative; font-size: 0.66667em; line-height: 1.25em; }
  #mainHeader #primary .primaryNav .navList li.hasDrop { height: 38px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop:hover:before { content: ""; display: block; width: 0px; height: 0px; border-width: 5px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent transparent rgb(222, 20, 0); z-index: 2147483647; position: absolute; right: 65%; bottom: 0px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop .moreText { color: rgb(202, 214, 222); }
  #mainHeader #primary .primaryNav .navList li.hasDrop:hover:after { position: absolute; content: ""; top: -5px; bottom: 0px; right: 0px; left: -20px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul { overflow: hidden; padding: 0px; margin: 0px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li { padding: 15px 20px 0px; display: block; font-size: 1em; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li:last-child, #mainHeader #primary .primaryNav .navList li.hasDrop ul li.seeAll { padding-bottom: 15px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li.seeAll { position: relative; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li.seeAll:after { position: absolute; content: ">"; right: 55px; top: 14px; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li a { font-weight: bold; color: rgb(255, 255, 255); text-transform: uppercase; }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li a:hover { color: rgb(222, 20, 0); }
  #mainHeader #primary .primaryNav .navList li.hasDrop ul li.subDiv { background: none repeat scroll 0% 0% rgb(8, 14, 20); width: 165px; }
  #mainHeader #primary .primaryNav .navList li a { color: rgb(255, 255, 255); }
  #mainHeader #primary .primaryNav .navList li a:hover { color: rgb(222, 20, 0); text-decoration: none; transition: all 0.4s ease 0s; }
  #mainHeader #primary .primaryNav .navList li a.linkAlt { color: rgb(222, 20, 0); display: inline-block; position: relative; }
  #mainHeader #primary .primaryNav .navList li a.linkAlt:hover { color: rgb(255, 255, 255); text-decoration: none; transition: all 0.2s ease 0s; }
  #mainHeader #primary .primaryNav .navList li .menu-topics, #mainHeader #primary .primaryNav .navList li .loggedOut > ul, #mainHeader #primary .primaryNav .navList li .loggedIn > ul { display: none; }
  #mainHeader #primary .primaryNav .navList li:hover .menu-topics, #mainHeader #primary .primaryNav .navList li:hover .loggedOut > ul, #mainHeader #primary .primaryNav .navList li:hover .loggedIn > ul { z-index: 2147483647; font-weight: normal; background: none repeat scroll 0% 0% rgb(22, 39, 54); border-top: 3px solid rgb(222, 20, 0); display: list-item; list-style-type: none; margin: 0px; width: 180px; position: absolute; top: 36px; }
  #mainHeader #primary .primaryNav .navList li:hover .menu-topics.menu-topics, #mainHeader #primary .primaryNav .navList li:hover .loggedOut > ul.menu-topics, #mainHeader #primary .primaryNav .navList li:hover .loggedIn > ul.menu-topics { right: -50px; }
  #mainHeader #primary .primaryNav .navList li:hover .menu-topics.menu-user, #mainHeader #primary .primaryNav .navList li:hover .loggedOut > ul.menu-user, #mainHeader #primary .primaryNav .navList li:hover .loggedIn > ul.menu-user { right: -16px; }
  #mainHeader #primary .primaryNav .navListMobile { display: none; }
  #mainHeader #secondary { display: block; font-size: 0.66667em; height: 28px; position: relative; }
  #mainHeader #secondary .editions { float: left; margin-left: 172px; text-transform: uppercase; font-weight: 600; }
  #mainHeader #secondary .editions ul { margin: 0px; }
  #mainHeader #secondary .editions a { color: rgb(106, 118, 127); }
  #mainHeader #secondary .editions .editionsDrop { position: relative; }
  #mainHeader #secondary .editions .editionsDrop ul { display: none; }
  #mainHeader #secondary .editions .editionsDrop [data-label="edition"] { color: rgb(222, 20, 0); }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions { z-index: 5000001; font-weight: bold; background: none repeat scroll 0% 0% rgb(22, 39, 54); border-top: 3px solid rgb(222, 20, 0); display: list-item; list-style-type: none; margin: 0px; padding: 0px; width: 180px; position: absolute; top: 28px; }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li { padding: 5px 20px 0px; }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li:nth-of-type(6), #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li:nth-of-type(13) { padding-bottom: 15px; }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li.subDiv { background: none repeat scroll 0% 0% rgb(8, 14, 20); }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li.subDiv .label { font-weight: normal; text-transform: none; }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li a { color: rgb(255, 255, 255); }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li a:hover { color: rgb(222, 20, 0); text-decoration: none; transition: all 0.4s ease 0s; }
  #mainHeader #secondary .editions .editionsDrop:hover .menu-editions li .label { font-weight: normal; color: rgb(202, 214, 222); }
  #mainHeader #secondary .editions .editionsDrop:hover:before { position: absolute; content: ""; top: -5px; bottom: 0px; right: -50px; left: -20px; }
  #mainHeader #secondary .headerTextAd { position: relative; float: right; padding-right: 32px; font-weight: bold; }
  #mainHeader #secondary .headerTextAd:after { position: absolute; content: url("header-divider.png"); width: 1px; height: 30px; top: 0px; right: 0px; }
  footer[role="contentinfo"] { font-size: 0.66667em; line-height: 1.25em; padding: 0px; }
  footer[role="contentinfo"] .container { padding: 30px 0px; }
  footer[role="contentinfo"] .col-6 { position: relative; }
  footer[role="contentinfo"] .col-6 #zd-logo { display: inline-block; margin: 10px 0px 0px -20px; }
  footer[role="contentinfo"] .col-6 .connect { position: absolute; right: 30px; top: 30px; width: 312px; }
  footer[role="contentinfo"] .col-6 .connect .connectSocial { display: inline-block; position: absolute; margin-top: 5px; }
  footer[role="contentinfo"] .col-6 .connect .networkWrapper { display: block; width: auto; float: right; margin-top: -5px; }
  footer[role="contentinfo"] .col-6 .copyright { width: 410px; margin: 20px 0px; text-align: left; }
  footer[role="contentinfo"] .networkSites { text-align: left; }
  footer[role="contentinfo"] .networkSites form label { font-size: 1em; display: inline; }
  footer[role="contentinfo"] .networkSites form select { font-size: 1em; }
  footer[role="contentinfo"] .col-2 { margin-top: 20px; width: 140px; }
  footer[role="contentinfo"] .col-2.alpha { margin-left: 0px; }
  footer[role="contentinfo"] .col-2.beta { display: block; }
  footer[role="contentinfo"] .col-2.gamma { text-align: left; margin-right: 0px; }
  footer[role="contentinfo"] .col-2 li.loggedIn { margin-right: 0px; }
  footer[role="contentinfo"] .col-2 li.loggedIn:after { right: 0px; }
  .heading { z-index: 1; position: relative; font-weight: 900; font-size: 0.66667em; line-height: 1.25em; color: rgb(222, 20, 0); text-align: center; text-transform: uppercase; margin-bottom: 20px; clear: left; }
  .heading:before { border-top: 1px solid rgb(202, 214, 222); content: ""; margin: 0px auto; position: absolute; top: 20%; left: 0px; right: 0px; bottom: 0px; width: 100%; }
  .heading .int { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; position: relative; }
  .storyHeader .summary { font-weight: 300; font-size: 1.55556em; line-height: 1.14286em; margin-bottom: 30px; }
  .storyHeader .byline .thumb ~ .meta { line-height: 40px; }
  .storyBody img { font-size: 0.33333em; }
  .storyBody .alignRight.shortcode-image.image-small, .storyBody .alignLeft.shortcode-image.image-small { width: 220px; }
  .module.relatedStories p { padding-left: 100px; }
  .module .topicName { font-weight: normal; font-size: 0.83333em; line-height: 1.2em; color: rgb(8, 14, 20); }
  section.mpu { margin-bottom: 0px; }
  section.mpu > [data-ad] { min-height: 250px; margin-bottom: 30px; }
  section.vendor-text-link { margin-bottom: 0px; }
  section.vendor-text-link > [data-ad] { margin-bottom: 30px; }
  .leader > [data-ad] { min-height: 66px; }
  .yahoo-sponsored-bottom { padding-top: 0px; }
  body { font-size: 18px; line-height: 30px; }
  body > iframe { display: none; }
  h1 { font-weight: 800; font-size: 2.44444em; line-height: 1.04545em; color: rgb(8, 14, 20); }
  .contentWrapper { padding: 0px; margin: 0px auto; }
  .contentWrapper > .container { padding-top: 20px; }
  body .topContent .col-12 { position: static; }
  body:not(.skinAd) #adSkinRight, body:not(.skinAd) #adSkinLeft, body:not(.skinAd) .skin { display: none; }
  #mantle_skin { overflow: hidden ! important; }
  .col-4 .module a { font-weight: 700; font-size: 0.83333em; line-height: 1.2em; color: rgb(8, 14, 20); }
  .col-4 .module a:hover { color: rgb(222, 20, 0); text-decoration: none; }
  .meta { font-weight: normal; font-size: 0.83333em; line-height: 1.2em; color: rgb(8, 14, 20); }
  #adSkinRight { left: 50%; background-position: right top; display: block; }
  #adSkinLeft { right: 50%; background-position: left top; display: block; }
  #adSkinLeft, #adSkinRight { position: absolute; background-color: transparent; background-repeat: no-repeat; height: 1024px; width: 925px; z-index: -1; }
}
@media screen and (min-width: 980px) and (min-width: 1230px) {
}
@media screen and (min-width: 980px) and (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, screen and (min-width: 980px) and (min-resolution: 1.3dppx) {
  #mainHeader #primary #zdLogoLarge { background-size: 120px auto; background-image: url("logo-2x.png"); }
}
@media screen and (min-width: 980px) and (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, screen and (min-width: 980px) and (min-resolution: 1.3dppx) {
  #mainHeader #primary .searchLarge .headerSearch .box input[type="submit"] { background-size: 15px auto; background-image: url("mag-white01-2x.png"); }
}
@media screen and (min-width: 980px) and (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, screen and (min-width: 980px) and (min-resolution: 1.3dppx) {
}
@media screen and (min-width: 980px) and (min--moz-device-pixel-ratio: 1.3), not all, not all, not all, screen and (min-width: 980px) and (min-resolution: 1.3dppx) {
}
@media screen and (min-width: 980px) and (max-width: 1280px) {
  #mainHeader #primary .primaryNav .navList li.alpha, #mainHeader #primary .primaryNav .navList li.beta { display: none; }
}
@media screen and (min-width: 980px) and (max-width: 1170px) {
  #mainHeader #primary .primaryNav .navList li.alpha, #mainHeader #primary .primaryNav .navList li.beta, #mainHeader #primary .primaryNav .navList li.gamma { display: none; }
}
@media screen and (min-width: 980px) and (max-width: 1080px) {
  #mainHeader #primary .primaryNav .navList li.alpha, #mainHeader #primary .primaryNav .navList li.beta, #mainHeader #primary .primaryNav .navList li.gamma, #mainHeader #primary .primaryNav .navList li.delta { display: none; }
}
@media screen and (min-width: 980px) and (max-width: 1230px) {
  body .row { width: auto; }
  body .row:before, body .row:after { content: ""; display: table; }
  body .row:after { clear: both; }
  body .container { box-sizing: border-box; width: 980px; padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: auto; }
  body .container:before, body .container:after { content: ""; display: table; }
  body .container:after { clear: both; }
  body [class|="col"] { box-sizing: border-box; float: left; margin-left: 0px; }
  body [class|="col"] ~ [class|="col"] { margin-left: 20px; }
  body .col-2 { width: 140px; position: relative; }
  body .col-4 { width: 300px; position: relative; }
  body .col-6 { width: 460px; position: relative; }
  body .col-8 { width: 620px; position: relative; }
  body .col-12 { width: 940px; position: relative; }
}
@media screen and (min-width: 980px) and (max-width: 1430px) {
}
@media screen and (min-width: 980px) and (max-width: 1430px) {
}
@media screen and (min-width: 1230px) {
  .row { width: auto; }
  .row:before, .row:after { content: ""; display: table; }
  .row:after { clear: both; }
  .container { box-sizing: border-box; width: 1230px; padding-left: 30px; padding-right: 30px; margin-left: auto; margin-right: auto; }
  .container:before, .container:after { content: ""; display: table; }
  .container:after { clear: both; }
  [class|="col"] { box-sizing: border-box; float: left; margin-left: 0px; }
  [class|="col"] ~ [class|="col"] { margin-left: 30px; }
  .col-2 { width: 170px; position: relative; }
  .col-4 { width: 370px; position: relative; }
  .col-6 { width: 570px; position: relative; }
  .col-8 { width: 770px; position: relative; }
  .col-12 { width: 1170px; position: relative; }
  .heading { z-index: 1; position: relative; font-weight: 900; font-size: 0.66667em; line-height: 1.25em; color: rgb(222, 20, 0); text-align: center; text-transform: uppercase; margin-bottom: 20px; clear: left; }
  .heading:before { border-top: 1px solid rgb(202, 214, 222); content: ""; margin: 0px auto; position: absolute; top: 20%; left: 0px; right: 0px; bottom: 0px; width: 100%; }
  .heading .int { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 10px; position: relative; }
  .storyHeader .summary { font-weight: 300; font-size: 1.55556em; line-height: 1.14286em; margin-bottom: 5px; }
  footer[role="contentinfo"] .col-6 .connect { right: 130px; }
  footer[role="contentinfo"] .col-2 { width: 170px; }
  footer[role="contentinfo"] .col-2 li.loggedIn:after { right: 30px; }
  html { height: 100%; min-width: 1230px; }
  .contentWrapper { width: 1230px; z-index: 2; }
  .contentWrapper > .container { padding-top: 30px; }
  .leader { position: relative; }
  .col-12 { position: static; }
  html, button, input, select, textarea { color: rgb(8, 14, 20); }
  em { font-style: italic; }
  .storyHeader h1 { font-weight: 800; font-size: 2.77778em; line-height: 1.04em; color: rgb(8, 14, 20); }
  .storyBody .alignLeft, .storyBody .alignRight { width: 220px; }
  .sticky-wrapper { height: 250px ! important; margin-bottom: 20px; }
}
@media screen and (min-width: 1230px) and (max-width: 1230px) {
}
@media screen and (min-width: 1230px) and (max-width: 1430px) {
}
@media screen and (min-width: 1230px) and (max-width: 1430px) {
}
@media screen and (min-width: 1230px) and (max-width: 1430px) {
}
@media screen and (min-width: 1230px) and (max-width: 1430px) {
}
@media screen and (min-width: 1230px) and (max-width: 1430px) {
}
@media print {
  .contentWrapper, .container { background: none repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); float: none; margin: 0px; padding: 0px; width: auto; }
  .storyBody a:after { content: " (" attr(href) ")"; font-size: 80%; }
  header[role="banner"], footer[role="contentinfo"], .shareBar, .followOptions, #twitter-widget-2, .nls-subscribe, .marquee, .leader.leader-top, .vendor-text-link, .ad-wrap, .hotspot, .google_image_div, .ad-mpu-top, .keepUp, .mpu.ad-active, .ad-adx, .YAD, .col-4 > section.module, .OUTBRAIN, .fyre-auth, .fyre-stream-stats, .fyre-stream-header, .fyre-editor, .livefyreFooter { display: none ! important; }
}
/* ::::: http://cdn.teads.tv/media/format/v3/teads-format.css ::::: */

@media screen and (max-width: 840px) {
}
.teads-inread, .teads-inboard { overflow: hidden; height: 0px; transition: height 0.5s ease 0s; box-sizing: content-box; }
.teads-inread div, .teads-inboard div { margin-bottom: 0px ! important; }
/* ::::: http://www.lightboxcdn.com/static/fb_digioh.2.1.5.css?cb=635939200188024225 (@media screen) ::::: */

@media screen {
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
}
/* ::::: [internal] ::::: */

/* ::::: (import) http://cdn.teads.tv/fonts/HelveticaNeue-Light/styles.css ::::: */
@font-face {
  font-family: "HelveticaNeue-Light";
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeue Light"), local("HelveticaNeue-Light"), url("HelveticaNeue-Light.eot") format("embedded-opentype"), url("HelveticaNeue-Light.woff") format("woff"), url("HelveticaNeue-Light.ttf") format("truetype"), url("HelveticaNeue-Light.svg") format("svg");
}
/* ::::: (end import) ::::: */
.teads-ui-components-label { font-family: 'HelveticaNeue-Light',Helvetica,Arial,sans-serif ! important; font-size: 12px ! important; color: rgb(153, 153, 153); text-align: center ! important; text-transform: uppercase ! important; height: 21px ! important; line-height: 21px ! important; border-bottom: 3px none rgb(153, 153, 153) ! important; }
/* ::::: [internal] ::::: */

/* ::::: (import) http://cdn.teads.tv/fonts/Lato/styles.css?family=Lato:400,300 ::::: */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("Lato-Light.eot") format("embedded-opentype"), url("Lato-Light.woff") format("woff"), url("Lato-Light.ttf") format("truetype"), url("Lato-Light.svg") format("svg");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("Lato-Regular.eot") format("embedded-opentype"), url("Lato-Regular.woff") format("woff"), url("Lato-Regular.ttf") format("truetype"), url("Lato-Regular.svg") format("svg");
}
/* ::::: (end import) ::::: */
.teads-ui-components-credits { font-family: 'Lato',Helvetica,Arial,sans-serif ! important; font-size: 12px ! important; color: rgb(153, 153, 153) ! important; text-align: right ! important; padding: 1px 4px 1px 0px ! important; height: 26px ! important; line-height: 26px ! important; }
.teads-ui-components-credits a { color: rgb(153, 153, 153) ! important; text-decoration: none ! important; font-weight: 300 ! important; border: medium none ! important; }
.teads-ui-components-credits .teads-ui-components-credits-colored { color: rgb(121, 187, 233) ! important; }
