/* ::::: [internal] ::::: */

body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: Arial,arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 90px; width: 728px; }
#ads { height: 90px; left: 0px; position: absolute; top: 0px; width: 728px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 728px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 728px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 90px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 90px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 0, 255); }
.rhtitle { text-decoration: none; word-wrap: break-word; }
.rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbody { text-decoration: none; word-wrap: break-word; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored:hover, .rhurlctr.rhdefaultcolored, .rhurl.rhdefaultcolored span, .rhurl.rhdefaultcolored span:hover { color: rgb(0, 128, 0); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; transition-property: position, z-index, opacity; transition-duration: 0s, 0s, 0s; transition-timing-function: ease, ease, ease; transition-delay: 0.3s; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.taw0 .rh3 .rhbutton-container { left: -239px; text-align: right; width: 321px; }
.taw0 .rh3 .rhbutton { background: none repeat scroll 0% 0% rgb(63, 159, 63); border-radius: 6px 6px 6px 6px; border-width: 0px; height: 61px; min-width: 82px; max-width: 321px; }
.taw0 .rh3 .rhbutton:hover { background: none repeat scroll 0% 0% rgb(90, 160, 90); }
.taw0 .rh3 .icon-container { height: 61px; line-height: 61px; width: 47px; }
.taw0 .rh3 .icon, .taw0 .rh3 .icon-container .rhsvgpngicon { height: 28px; margin-left: 0px; vertical-align: top; margin-top: 16px; }
.rh-box-breadcrumbs { line-height: 19px; visibility: visible; }
.rh-box-breadcrumbs > .target { cursor: pointer; display: inline-block; height: 19px; vertical-align: middle; }
.rh-box-breadcrumbs > .target > .unit { border: 1px solid rgb(170, 170, 170); border-radius: 50% 50% 50% 50%; display: inline-block; height: 8px; margin: 4px 5px; width: 8px; }
.rh-box-breadcrumbs > .target.bcfirst > .unit { margin-left: 15px; }
.rh-box-breadcrumbs > .target.bclast > .unit { margin-right: 15px; }
.rh-box-breadcrumbs.bcactive0 > .target0 { cursor: default; }
.rh-box-breadcrumbs.bcactive0 > .target0 > .unit { background: none repeat scroll 0% 0% rgb(170, 170, 170); }
.rh { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 728px; }
.rh > table { height: 100%; }
.rh1 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 539px; }
.rh1 > table { width: 100%; }
.rh10 { display: inline-block; font-size: 37px; line-height: 44px; overflow: hidden; padding: 0px 0px 0px 9px; white-space: nowrap; }
.rh10c { height: 0px; padding: 0px; text-align: center; }
.rh11 { display: inline-block; font-size: 0px; height: 27px; line-height: 0; overflow: hidden; padding: 0px; position: relative; width: 539px; }
.rh11.frame0 > .rh110 { display: inline-block; visibility: visible; }
.rh110 { display: block; font-size: 0px; height: 27px; line-height: 0; overflow: hidden; padding: 0px; position: absolute; }
.rh110 > table { height: 100%; }
.rh1100 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 539px; }
.rh1100 > table { width: 100%; }
.rh11000 { display: inline-block; font-size: 16px; line-height: 19px; overflow: hidden; padding: 0px 0px 0px 9px; }
.rh11000c { padding: 0px; text-align: center; }
.rh1100c { padding: 0px; vertical-align: middle; width: 539px; }
.rh111 { display: block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; position: absolute; width: 539px; }
.rh111 > table { width: 100%; }
.rh1110 { display: inline-block; font-size: 0px; height: 27px; line-height: 0; overflow: hidden; padding: 0px; }
.rh1110 > table { height: 100%; }
.rh11100 { display: inline-block; font-size: 16px; line-height: 19px; overflow: hidden; padding: 4px 0px 4px 9px; white-space: nowrap; }
.rh11100c { padding: 0px; vertical-align: middle; }
.rh1110c { height: 27px; padding: 0px; text-align: center; }
.rh11 > .rh110 { display: none; visibility: hidden; }
.rh11 > .rh111 { display: none; visibility: hidden; }
.rh11c { height: 27px; padding: 0px; vertical-align: middle; width: 539px; }
.rh12 { display: inline-block; height: 19px; overflow: hidden; padding: 0px; width: 539px; }
.rh12c { height: 19px; padding: 0px; text-align: center; width: 539px; }
.rh1c { padding: 0px; width: 539px; }
.rh2 { display: inline-block; overflow: hidden; padding: 0px; width: 21px; }
.rh2c { padding: 0px; width: 21px; }
.rh3 { display: inline-block; font-size: 28px; height: 61px; line-height: 34px; padding: 0px 75px 0px 4px; width: 82px; }
.rh3c { padding: 0px; vertical-align: middle; width: 161px; }
.rh4 { display: inline-block; overflow: hidden; padding: 0px; width: 7px; }
.rh4c { padding: 0px; width: 7px; }
.taw { height: 90px; width: 728px; }
/* ::::: [internal] ::::: */

div, ul, li { margin: 0px; padding: 0px; }
.abgcp { height: 15px; padding: 0px 0px 10px 10px; right: 0px; top: 0px; position: absolute; width: 15px; z-index: 9020; }
.abgc { height: 15px; overflow: hidden; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0px; width: 15px; z-index: 9020; }
.abgb { height: 15px; width: 15px; }
.abgc { cursor: pointer; }
.cbb { background-image: url("x_button_blue2.svg"); background-repeat: no-repeat; background-position: right top; cursor: pointer; height: 15px; width: 15px; z-index: 9020; }
@keyframes attrkeyframe1 {
0%, 45%, 100% { top: 0px; visibility: visible; }
50% { top: -15px; visibility: hidden; }
95% { top: 15px; visibility: hidden; }
}
@keyframes attrkeyframe2 {
50%, 95% { top: 0px; visibility: visible; }
100% { top: -15px; visibility: hidden; }
0%, 45% { top: 15px; visibility: hidden; }
}
@keyframes attrkeyframe1 {
0%, 45%, 100% { top: 0px; visibility: visible; }
50% { top: -15px; visibility: hidden; }
95% { top: 15px; visibility: hidden; }
}
@keyframes attrkeyframe2 {
50%, 95% { top: 0px; visibility: visible; }
100% { top: -15px; visibility: hidden; }
0%, 45% { top: 15px; visibility: hidden; }
}
.attrframe0 { position: relative; animation: 11s ease 0s normal none infinite attrkeyframe1; }
.attrframe1 { position: absolute; animation: 11s ease 0s normal none infinite attrkeyframe2; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(205, 204, 204); stroke: none; }
.abgtxt { fill: black; font-family: 'Arial'; font-size: 100px; overflow: visible; stroke: none; }
/* ::::: [internal] ::::: */

#info_card { height: 90px; right: -728px; line-height: normal; position: absolute; top: -90px; width: 728px; z-index: 9100; }
#info_container { height: 90px; position: absolute; right: 0px; top: 0px; width: 728px; }
#info_container * { box-sizing: border-box; }
#back_section { cursor: pointer; opacity: 1; width: 30px; height: 90px; display: table-cell; vertical-align: middle; text-align: center; }
#info_content { display: table-cell; height: 90px; position: relative; vertical-align: middle; width: 698px; }
#undo_link { cursor: pointer; }
.athird { width: 33%; }
.overlay { position: absolute; bottom: 0px; left: 0px; right: 0px; top: 0px; }
.opt_tappable { bottom: 0px; cursor: pointer; left: 0px; margin: 0px 5px; position: absolute; right: 0px; top: 0px; }
.opt_border { border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
.opt_border_last {  }
.middle { vertical-align: middle ! important; }
/* ::::: [internal] ::::: */

#info_card { font: bold 12px Roboto; }
#info_container > ul { list-style-type: none; margin: 0px; padding: 0px; }
#info_container > ul > li { clear: none; float: left; line-height: normal; }
#back_section { background-color: rgb(241, 242, 242); border-right: 1px solid rgb(204, 204, 204); }
#info_content { display: table; background-color: rgb(255, 255, 255); opacity: 0.97; }
.inline { float: left; }
.mn_opt { color: rgb(51, 153, 204); display: table; height: 90px; padding: 0px 5px; }
.cell { display: table-cell; position: relative; width: inherit; }
.center { text-align: center; }
#undo_link { color: rgb(51, 153, 204); }
#border_overlay { border: 1px solid rgb(204, 204, 204); pointer-events: none; }
