/* ::::: https://xaizek.github.io/css/style.css ::::: */

body { width: 50em; margin: 2em auto; }
h5.post_date { margin-top: 0.5em; margin-bottom: 0.5em; }
div.tag_list { margin-bottom: 2em; font-size: 12px; }
a { color: rgb(160, 32, 32); text-decoration: none; }
a:hover { color: rgb(255, 0, 0); }
pre { border: 1px solid rgb(202, 202, 202); line-height: 1.2em; padding: 1em; overflow: auto; border-radius: 3px 3px 3px 3px; background-clip: padding-box; background-color: rgb(250, 250, 251); color: rgb(57, 57, 57); margin: 1.5em 0px; white-space: pre; }
pre code, p code { margin-bottom: 0px; }
p code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, li code { color: rgb(82, 89, 93); border-radius: 3px 3px 3px 3px; background-clip: padding-box; border: 1px solid rgb(204, 204, 204); background-color: rgb(249, 249, 249); padding: 0px 0.5em; display: inline-block; }
h2, h3, h4, h5, h6 { font-family: Sans-Serif; margin-bottom: -0.25em; }
/* ::::: https://xaizek.github.io/css/syntax.css ::::: */

.c { color: rgb(96, 160, 176); font-style: italic; }
.k { color: rgb(0, 112, 32); font-weight: bold; }
.o { color: rgb(102, 102, 102); }
.nb { color: rgb(0, 112, 32); }
.nv { color: rgb(187, 96, 213); }
.s2 { color: rgb(64, 112, 160); }
.s1 { color: rgb(64, 112, 160); }
/* ::::: [internal] ::::: */

@media screen {
  em.diigoHighlight { text-align: inherit; text-decoration: inherit; font: inherit; color: inherit; display: inline; position: relative; }
  em.diigoHighlight.a_style.yellow { background-color: rgb(255, 255, 153); }
  div.diigoIcon { cursor: pointer ! important; margin: 0pt; padding: 0px; position: absolute; display: none; width: 24px ! important; z-index: 999999; height: 23px ! important; background: url("chrome://diigotb/skin/edit-highlight.png") no-repeat scroll left center transparent; }
  div.diigoIcon:hover { background-color: transparent ! important; background-repeat: no-repeat ! important; background-position: right center ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

