/* ::::: http://static4.51cto.com/51cto/cms/2016/css/article_head.css?v=0.1 ::::: */

body { color: rgb(51, 51, 51); }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(204, 0, 0); }
.w1001 { width: 1000px; }
.fl { float: left; }
.fl { float: left; }
.fr { float: right; }
.cent { margin: 0px auto; }
input { outline: medium none; }
.pdr10 { padding-right: 10px; }
.trans, a { transition: all 0.5s ease 0s; }
.home-top .subweb { position: relative; }
.home-top .subweb i, .home-top .top-r i, .top-nav .nav li i, .top-nav .nav-rsear .sear-2, .home-left-nav .morenav, .home-left-list li .fx, .home-right .rtit .change, .td-list li .td-tit, .footer .info .copyright .botfx a { background: url("home-ico.png") no-repeat scroll 0% 0% transparent; }
.home-top { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 37px; line-height: 37px; color: rgb(144, 144, 144); border-bottom: 1px solid rgb(235, 230, 226); }
.home-top a { color: rgb(144, 144, 144); }
.home-top a:hover { color: rgb(51, 51, 51); }
.home-top .subweb i { width: 23px; height: 33px; float: left; display: inline-block; background-position: 0px 0px; transform-origin: 70% 51% 0px; transition: -moz-transform 1s ease 0s, top 1s ease 0s; }
.home-top .subweb span { float: left; cursor: pointer; }
.home-top .subweb:hover i { background-position: 0px -33px; transform: rotate(180deg); }
.home-top .subweb:hover span { color: rgb(51, 51, 51); }
.home-top .subweb .subweb-list { border-right: 1px solid rgb(204, 204, 204); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 127px; z-index: 99999; background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; left: -10px; top: 37px; display: none; padding: 6px 0px; }
.home-top .subweb:hover .subweb-list { display: inline-table; }
.subweb-list a { width: 100%; text-indent: 10px; line-height: 25px; height: 25px; float: left; margin: 0px; padding: 0px; }
.subweb-list a:hover { background: none repeat scroll 0% 0% rgb(235, 235, 235); color: rgb(204, 0, 0); }
.home-top .top-r { float: right; }
.home-top .top-r i { width: 30px; height: 33px; background-position: 0px -67px; float: left; }
.home-top .top-r a { padding: 0px 5px; float: left; }
.home-top .top-r span { padding: 0px 5px; }
.footer_nav { width: 100%; border-bottom: 1px solid rgb(234, 231, 226); border-top: 1px solid rgb(234, 231, 226); height: 63px; line-height: 63px; margin: 10px 0px; }
.footer_nav .wrap { margin: auto; width: 1002px; color: rgb(206, 203, 199); }
.footer_nav .wrap h2 { padding-left: 50px; color: rgb(153, 153, 153); font-size: 14px; font-family: "Microsoft Yahei"; float: left; margin: 0px; }
.footer_nav .wrap a { color: rgb(102, 102, 102); font-size: 14px; font-family: "Microsoft Yahei"; padding: 0px 10px; }
/* ::::: http://static1.51cto.com/51cto/cms/2016/css/article_layout.css?v=2.15 ::::: */

body { margin: 0px; padding: 0px; font-size: 12px; font-family: "Microsoft Yahei"; background-color: rgb(255, 255, 255); background-image: url("about://blank/"); color: rgb(51, 51, 51); }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p { padding: 0px; margin: 0px; }
h1, h2, h3, h4, h5, h6 { margin: 5px 0px; }
li { list-style-type: none; }
ol, ul { list-style: none outside none; }
address, cite, code, em, th { font-weight: normal; font-style: normal; }
img { border: medium none; }
a { text-decoration: none; color: rgb(51, 51, 51); }
a:hover { color: rgb(190, 0, 0); }
.left { float: left; overflow: hidden; }
.right { float: right; overflow: hidden; }
.center { margin: 0px auto; overflow: hidden; }
input { outline: medium none; }
.top_bg { height: 176px; border-bottom: 1px solid rgb(234, 231, 226); background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.top_bg .wrap { margin: auto; width: 1002px; padding-top: 10px; height: 90px; }
#list4 { border: 1px solid rgb(211, 211, 211); height: 88px; width: 240px; }
#list4 ul { padding: 5px 0px 0px 10px; }
#list4 li { background: url("0.gif") no-repeat scroll -497px 2px transparent; line-height: 20px; padding-left: 8px; }
.top_bg .nav { margin: auto; width: 1002px; padding-top: 26px; height: 33px; }
.top_bg .nav a.logo { margin-top: 6px; width: 97px; text-align: center; border-right: 1px solid rgb(212, 212, 212); display: inline-block; float: left; }
.top_bg .nav ul { margin-top: 2px; padding-left: 7px; display: inline-block; float: left; }
.top_bg .nav li { padding-right: 20px; float: left; line-height: 30px; }
.top_bg .nav li a { color: rgb(102, 102, 102); font-size: 14px; font-family: "Microsoft Yahei"; }
.top_bg .nav li a:hover { color: rgb(190, 0, 0); }
.top_bg .nav li a.active { color: rgb(51, 51, 51); font-size: 22px; font-family: "Microsoft Yahei"; }
.top_bg .nav-rsear { float: right; margin-top: 0px; border: 1px solid rgb(212, 212, 212); width: 189px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.top_bg .nav-rsear .sear-1 { float: left; height: 18px; padding: 7px 0px 7px 2px; width: 156px; text-indent: 10px; border: 0px none; color: rgb(175, 175, 175); }
.top_bg .nav-rsear .sear-2 { float: left; width: 30px; height: 30px; background: url("search.png") no-repeat scroll 0% 0% transparent; border: 0px none; cursor: pointer; }
.top_bg .nav-rsear .sear-1:focus { color: rgb(51, 51, 51); }
.main_left a:hover, .zwnr a:hover, .main_left .wznr dd a:hover, .main_left .wznr h2 a:hover { color: rgb(190, 0, 0); }
.main { margin: 25px auto; width: 1002px; background: url("bgline.png") repeat-y scroll center top transparent; overflow: hidden; }
.main_left { width: 650px; float: left; }
.main_left .wznr { width: 650px; }
.main_left .wznr h2 { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 28px; }
.main_left .wznr p { color: rgb(102, 102, 102); font-family: "Microsoft Yahei"; font-size: 14px; line-height: 26px; padding: 12px 0px; }
.main_left .wznr dl { width: 650px; height: 20px; border-bottom: 1px dashed rgb(219, 219, 219); }
.main_left .wznr dt { color: rgb(153, 153, 153); font-size: 12px; float: left; }
.main_left .wznr dt span { color: rgb(153, 153, 153); font-size: 12px; padding-right: 10px; }
.main_left .wznr dt em { color: rgb(153, 153, 153); font-size: 12px; padding-left: 10px; }
.main_left .wznr dd { color: rgb(153, 153, 153); font-size: 12px; float: right; margin-top: -5px; }
.main_left .zwnr { width: 650px; margin-top: 10px; border-bottom: 1px solid rgb(234, 231, 226); font-size: 16px; }
.main_left .zwnr h2 { font-family: "Microsoft Yahei"; }
.main_left .zwnr h2 a { color: rgb(255, 66, 0); font-family: "Microsoft Yahei"; text-decoration: underline; font-size: 16px; }
.main_left .zwnr h2 a:hover { text-decoration: none; color: rgb(190, 0, 0); }
.main_left .zwnr p { padding-bottom: 15px; color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 16px; text-align: justify; line-height: 30px; }
.main_left .zwnr p a { color: rgb(255, 66, 0); font-family: "Microsoft Yahei"; font-size: 16px; }
.main_left .zwnr p a:hover { text-decoration: none; color: rgb(190, 0, 0); }
.main_left .zwnr h3 { font-family: "Microsoft Yahei"; }
.main_left .zwnr ol { margin-left: 25px; }
.main_left .zwnr ol li { list-style-type: decimal; }
.main_left .zwnr ol li a { color: rgb(255, 66, 0); font-size: 16px; line-height: 30px; }
.ln { color: rgb(255, 66, 0); }
pre { font-family: 'Courier New',Monospace; font-size: 12px; width: 99%; overflow: auto; margin: 0px 0px 1em; background: none repeat scroll 0% 0% rgb(230, 230, 230); }
pre ol, pre ol li, pre ol li span { margin: 0px; padding: 0px; border: medium none; }
pre ol li { background: url("0.gif") repeat-y scroll -498px -70px transparent ! important; line-height: 21px; font-size: 12px; font-family: Arial; }
pre ol { list-style: decimal outside none; background: none repeat scroll 0% 0% rgb(247, 247, 247); margin: 0px 0px 1px 4em ! important; padding: 5px 0px; color: rgb(92, 92, 92); }
pre ol li { background: url("0.gif") repeat-y scroll -498px -70px transparent; list-style-position: outside ! important; color: rgb(92, 92, 92); padding: 0px 3px 0px 10px ! important; margin: 0px ! important; }
pre ol li span { color: black; background-color: inherit; font-size: 14px; }
.main_left .zwnr ol, .main_left .zwnr ul { margin-left: 55px; padding-bottom: 15px; }
.main_left .zwnr ol li { list-style-type: decimal; }
.main_left .zwnr ol li a { color: rgb(255, 66, 0); }
.main_left .zwnr ol li a:hover { color: rgb(190, 0, 0); }
.zwnr ul li { background: url("icon.png") no-repeat scroll 0px 13px transparent; padding-left: 10px; margin-left: -20px; line-height: 30px; }
.dzdz { width: 70px; height: 41px; border: 1px solid rgb(236, 236, 236); border-radius: 2px 2px 2px 2px; display: inline-block; color: rgb(102, 102, 102); font-family: "Microsoft Yahei"; font-size: 16px; line-height: 41px; margin-bottom: 17px; background: url("dzdz.jpg") no-repeat scroll 8px 12px transparent; padding-left: 37px; }
.dzdz:hover { text-decoration: none; color: rgb(0, 0, 0); background: url("dzdz.jpg") no-repeat scroll 8px -28px transparent; }
.share5 { margin-top: 19px; height: 48px; border-bottom: 1px solid rgb(235, 230, 226); }
.share5 ul { width: 460px; float: left; }
.share5 li { margin-right: 8px; float: left; }
.share5 li a { padding: 0px 25px; text-align: center; height: 36px; line-height: 36px; color: rgb(144, 144, 144); font-family: "Microsoft Yahei"; font-size: 14px; display: inline-block; background: none repeat scroll 0% 0% rgb(239, 239, 239); border-radius: 2px 2px 2px 2px; }
.share5 li a:hover { font-family: "Microsoft Yahei"; font-size: 14px; background: none repeat scroll 0% 0% rgb(225, 225, 225); border-radius: 2px 2px 2px 2px; text-decoration: none; }
.share5 dl { float: left; }
.share5 dt { width: 190px; float: left; }
.share5 dt em { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; float: left; line-height: 36px; margin-right: 10px; }
.share5 dt a { width: 34px; height: 34px; margin-right: 14px; float: left; padding-left: 0px; }
.share5 dt a.wb { background: url("share2.png") no-repeat scroll -3px -76px transparent; }
.share5 dt a.wb:hover { background: url("share2.png") no-repeat scroll 0% 0% transparent; }
.share5 dt a.wx { background: url("share2.png") no-repeat scroll -52px -76px transparent; }
.share5 dt a.wx:hover { background: url("share2.png") no-repeat scroll -49px 0px transparent; }
.share5 dt a.more { background: url("share2.png") no-repeat scroll -102px -76px transparent; }
.dzk { width: 650px; margin-top: 45px; }
.dzk dl { width: 650px; border-bottom: 1px solid rgb(211, 207, 204); height: 39px; }
.dzk dt { float: left; cursor: pointer; margin-right: 25px; color: rgb(153, 153, 153); font-size: 24px; font-family: "Microsoft Yahei"; height: 39px; }
.dzk dt.show { display: block; color: rgb(0, 0, 0); font-size: 24px; font-family: "Microsoft Yahei"; border-bottom: 1px solid rgb(153, 153, 153); }
.dzk ul { width: 650px; margin-top: 20px; float: left; height: 140px; overflow: hidden; }
.dzk ul li { width: 650px; list-style: none outside none; display: none; }
.dzk ul li.show { display: block; }
.djdzk { width: 650px; }
.djdzk div { width: 151px; float: left; }
.djdzk div a { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; }
.djdzk div a:hover { color: rgb(190, 0, 0); }
.m15 { margin-right: 15px; }
.wrap_right { margin-left: 50px; width: 300px; float: left; }
.wrap_right a:hover { color: rgb(190, 0, 0); }
.mtgg, .bjtj, .news, .spkc, .rmzw, .zxzt, .jcpl, .ds { width: 300px; float: left; }
.m30 { margin-bottom: 30px; }
.bjtj h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; margin-bottom: 10px; }
.bjtj h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; color: rgb(0, 0, 0); float: left; }
.bjtj dl { width: 300px; height: 47px; border-bottom: 1px dashed rgb(203, 203, 203); margin-top: 13px; float: left; }
.bjtj dt, .bjtj dt a { width: 56px; height: 35px; background: none repeat scroll 0% 0% rgb(242, 242, 242); display: inline-block; line-height: 35px; color: rgb(102, 102, 102); font-family: "Microsoft Yahei"; font-size: 16px; text-align: center; float: left; }
.bjtj dd { padding-left: 10px; width: 230px; float: left; color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; display: block; font-weight: normal; }
.bjtj dd a { color: rgb(51, 51, 51); display: table-cell; vertical-align: middle; height: 35px; font-weight: normal; }
.bjtj dd a:hover { color: rgb(190, 0, 0); }
.news dl { width: 300px; font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; margin-bottom: 20px; }
.news dt { color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 16px; float: left; cursor: pointer; margin-right: 15px; }
.news dt.show { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; color: rgb(0, 0, 0); float: left; }
.news ul { width: 300px; float: left; }
.news ul li { width: 300px; list-style: none outside none; display: none; }
.news ul li.show { display: block; }
.news ul li a { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; background: url("icon.png") no-repeat scroll 0px 8px transparent; display: block; padding-left: 12px; height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.news ul li a:hover { color: rgb(190, 0, 0); }
.spkc h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; margin-bottom: 12px; }
.spkc h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; font-family: "Microsoft Yahei"; color: rgb(0, 0, 0); float: left; }
.spkc h2 a { color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 12px; float: right; margin-top: 5px; }
.spkc h2 a:hover { color: rgb(190, 0, 0); }
.spkc dl { margin-bottom: 20px; float: left; }
.spkc dt { width: 99px; height: 70px; position: relative; float: left; }
.spkc dt span { background: url("videoc.png") no-repeat scroll 0% 0% transparent; position: absolute; z-index: 999; width: 28px; height: 28px; left: 36px; top: 21px; }
.spkc dd { float: left; padding: 0px 0px 0px 9px; width: 190px; }
.spkc dd h3 { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; line-height: 23px; font-weight: 100; }
.spkc dd h4 { color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 12px; padding-top: 6px; }
.spkc dd .fl { float: left; }
.spkc dd .fl em { color: rgb(102, 102, 102); font-family: "Microsoft Yahei"; font-size: 14px; }
.spkc dd .fr { float: right; }
.rmzw h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; margin-bottom: 8px; }
.rmzw h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; font-family: "Microsoft Yahei"; color: rgb(0, 0, 0); float: left; }
.rmzw h2 a { color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 12px; float: right; margin-top: 5px; }
.rmzw h2 a:hover { color: rgb(190, 0, 0); }
.rmzw dl { height: 55px; border-bottom: 1px dashed rgb(203, 203, 203); float: left; padding-top: 10px; }
.rmzw dt { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; height: 30px; }
.rmzw dt a { color: rgb(51, 51, 51); }
.rmzw dt a:hover { color: rgb(190, 0, 0); }
.rmzw dd { width: 300px; }
.rmzw dd h3 { width: 132px; float: left; color: rgb(102, 102, 102); font-size: 12px; font-family: "Microsoft Yahei"; }
.rmzw dd span { width: 60px; float: left; color: rgb(190, 0, 0); font-size: 12px; font-family: "Microsoft Yahei"; }
.rmzw dd a { width: 105px; float: left; color: rgb(51, 51, 51); font-size: 12px; font-family: "Microsoft Yahei"; text-align: right; }
.rmzw dd a:hover { color: rgb(190, 0, 0); }
.zxzt h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; }
.zxzt h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; font-family: "Microsoft Yahei"; color: rgb(0, 0, 0); float: left; }
.zxzt h2 a { color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 12px; float: right; margin-top: 5px; }
.zxzt h2 a:hover { color: rgb(190, 0, 0); }
.zxzt dl { margin-top: 20px; width: 300px; float: left; }
.zxzt dt { width: 99px; float: left; }
.zxzt dd { width: 190px; float: left; padding-left: 9px; color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; line-height: 23px; }
.zxzt dd a { color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; }
.zxzt dd a:hover { text-decoration: none; color: rgb(190, 0, 0); }
.zxzt dd h3 { width: 190px; margin-top: 3px; }
.zxzt dd h3 a { padding: 0px 13px; height: 23px; line-height: 23px; color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 12px; display: inline-block; margin-right: 10px; background: none repeat scroll 0% 0% rgb(239, 239, 239); border-radius: 20px 20px 20px 20px; }
.zxzt dd h3 a:hover { background: none repeat scroll 0% 0% rgb(204, 0, 0); color: rgb(255, 255, 255); text-decoration: none; }
.jcpl h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; }
.jcpl h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; font-family: "Microsoft Yahei"; color: rgb(0, 0, 0); float: left; }
.jcpl dl { margin-top: 20px; float: left; }
.jcpl dt { width: 45px; float: left; }
.jcpl dd { width: 240px; float: left; margin-left: 14px; border-bottom: 1px dashed rgb(203, 203, 203); }
.jcpl dd h3 { padding-bottom: 10px; color: rgb(153, 153, 153); font-family: "Microsoft Yahei"; font-size: 14px; font-weight: 100; }
.jcpl dd h3 a { color: rgb(153, 153, 153); }
.jcpl dd h4 { padding-bottom: 10px; color: rgb(51, 51, 51); font-family: "Microsoft Yahei"; font-size: 14px; line-height: 23px; font-weight: 100; }
.ds h2 { width: 300px; color: rgb(0, 0, 0); font-family: "Microsoft Yahei"; font-size: 16px; height: 25px; border-bottom: 1px solid rgb(212, 207, 203); float: left; }
.ds h2 span { border-bottom: 1px solid rgb(153, 153, 153); height: 25px; font-family: "Microsoft Yahei"; color: rgb(0, 0, 0); float: left; margin-bottom: 20px; }
.ds h2 a { color: rgb(153, 153, 153); float: right; font-family: "Microsoft Yahei"; font-size: 12px; margin-top: 5px; }
.ds dl { margin-top: 20px; float: left; }
.ds dt { float: left; }
.ds dt img { border: 1px solid rgb(198, 198, 198); float: left; }
.ds dd { padding: 4px 0px 0px 10px; width: 190px; float: left; color: rgb(102, 102, 102); font-family: "Microsoft Yahei"; }
.ds dd h3 { color: rgb(51, 51, 51); line-height: 23px; font-family: "Microsoft Yahei"; font-size: 14px; padding-bottom: 10px; }
.ds dd h3 a { color: rgb(51, 51, 51); }
.dydy { border: 1px solid rgb(221, 219, 220); background: none repeat scroll 0% 0% rgb(254, 253, 232); width: 298px; height: 128px; float: left; }
.dydy dl { padding: 14px 0px 0px 14px; width: 267px; }
.dydy dt { width: 80px; float: left; }
.dydy dd { width: 180px; float: left; padding-left: 6px; text-align: right; }
.dydy dd h3 { color: rgb(206, 22, 9); font-family: "Microsoft Yahei"; font-size: 23px; height: 40px; font-weight: bold; }
.dydy dd h4 { color: rgb(255, 78, 0); font-family: "Microsoft Yahei"; font-size: 14px; text-decoration: underline; height: 28px; }
.dydy dd h4 a { color: rgb(255, 78, 0); }
.clk { width: 40px; height: 118px; position: fixed; top: 530px; right: 50%; margin-right: -610px; bottom: auto; background: url("clk.jpg") no-repeat scroll 0% 0% transparent; transition: bottom 0.3s ease 0s; }
.clk a.ewm, .clk a.yjk, .clk a.topx { width: 40px; height: 40px; display: block; }
.clk a.ewm img { display: none; position: absolute; bottom: 0px; left: -163px; }
.clk a.ewm:hover { background: url("clk.jpg") no-repeat scroll -40px 0px transparent; width: 40px; height: 40px; }
.clk a.yjk:hover { background: url("clk.jpg") no-repeat scroll -40px -40px transparent; width: 40px; height: 40px; }
.clk a.topx:hover { background: url("clk.jpg") no-repeat scroll -40px -80px transparent; width: 40px; height: 40px; }
.top_bg .wrap, .top_bg .nav, .main { padding-left: 20px; padding-right: 20px; }
.bds_more1 { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("scsc1.jpg"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://comment.51cto.com/static/css/layout_51cto.css ::::: */

a { text-decoration: none; }
.left { float: left; overflow: hidden; }
.right { float: right; overflow: hidden; }
.center { margin: 0px auto; overflow: hidden; }
.comment { width: 635px; font-family: "Microsoft Yahei"; }
.comment .inner { width: 615px; }
.comment .title { height: 39px; border-bottom: 3px solid rgb(186, 186, 186); overflow: hidden; }
.comment .title .word { float: left; margin-left: 8px; height: 100%; font-size: 24px; line-height: 188%; }
.comment .title .con { float: left; margin-left: 20px; height: 100%; font-size: 16px; line-height: 217%; }
.comment .title .total { color: rgb(255, 51, 51); margin-left: 6px; margin-right: 6px; font-size: 22px; height: 100%; display: inline-block; line-height: 220%; }
.comment .frame { width: 613px; height: 90px; border: 1px solid rgb(229, 229, 229); margin-top: 13px; }
.comment .frame textarea { outline: medium none; float: left; width: 98%; height: 100%; border: medium none; font-size: 14px; line-height: 200%; padding: 0px 3px 0px 10px; }
.comment .user { height: 112px; background: url("user.png") no-repeat scroll left bottom transparent; }
.comment .user .icon { float: left; width: 46px; height: 46px; margin-top: 13px; overflow: hidden; }
.comment .user dl { float: left; height: 100%; width: 390px; overflow: hidden; }
.comment .user .icon img { float: left; width: 100%; height: 100%; }
.comment .user dl dd { float: left; margin-left: 10px; width: 334px; overflow: hidden; }
.comment .user .btn { font-size: 16px; margin-top: 10px; line-height: 350%; }
.comment .user .btn { color: rgb(124, 124, 124); }
.comment .user .btn a { color: rgb(0, 0, 0); }
.comment .user .submit { float: right; width: 90px; height: 40px; margin-top: 13px; margin-right: 2px; background-color: rgb(190, 28, 26); font-size: 16px; color: rgb(255, 255, 255); line-height: 40px; text-align: center; }
.comment .user .submit:hover { text-decoration: none; background-color: rgb(127, 2, 0); }
.submit { cursor: pointer; }
.comment .list { width: 100%; }
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16:after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("icons_0_16.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
