/* ::::: http://software.clapper.org/stylesheets/style.css (@media screen) ::::: */

@media screen {
body { margin: 1em 5em 2em; background-color: white; font-family: Arial,Verdana,Helvetica,sans-serif; font-size: 14pt; }
div#content { border: 1px solid rgb(153, 153, 153); border-radius: 10px; padding: 10px; margin-top: 30px; }
div#toc { width: auto; font-size: 11pt; }
span#tocHeading { background-color: rgb(240, 240, 240); width: auto; font-weight: bold; font-size: larger; }
div#tocBlock { border: 1px solid rgb(153, 153, 153); border-radius: 10px; margin-right: -4em; margin-left: 10px; background-color: rgb(240, 240, 240); padding: 10px; width: 40%; float: right; }
ul.toc {  }
li.tocH1 { margin-left: 0em; }
li.tocH2 { margin-left: 1em; }
h1 { background-color: white; padding-left: 0.125em; }
h2 { background-color: rgb(170, 170, 170); border: 1px solid black; padding-left: 1em; padding-right: 1em; }
a { border-bottom: 1px solid rgb(153, 153, 153); box-shadow: 0px -2px 0px rgb(153, 153, 153) inset; }
a:link { color: rgb(153, 153, 153); }
a:visited { color: rgb(119, 0, 153); }
a:hover { color: grey; }
pre { font-family: monospace,Courier,Courier New; overflow-x: auto; overflow-y: hidden; margin-left: 3em; padding: 10px; background-color: rgb(238, 238, 238); border: 1px dashed rgb(102, 102, 102); display: inline-block; max-width: 90%; }
div.site { margin-left: 10px; margin-right: 10px; background-color: white; padding: 10px; }
div.header { margin-left: 10px; margin-right: 10px; background-color: white; }
span.title { font-size: 16pt; font-family: Arial,Verdana,Helvetica,sans-serif; font-weight: bold; font-style: italic; }
table.banner { border-bottom: 1px solid rgb(153, 153, 153); width: 100%; }
table.banner td.banner-image { padding: 0px 1em 0px 0px; }
table.banner td.banner-title { padding: 0px; font-size: 24pt; }
div.linktabs { float: right; background-color: white; }
.linktabs { padding: 0px; }
.linktab { background-color: rgb(170, 170, 170); color: white; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(153, 153, 153) rgb(153, 153, 153); padding: 0px 5px 2px; margin: 0px; text-align: center; width: auto; }
.linktab a { text-decoration: none; color: white; }
ul {  }
p {  }
}
/* ::::: http://software.clapper.org/daemonize/stylesheets/style.css (@media screen) ::::: */

@media screen {
}
