/* ::::: https://blog.codinghorror.com/assets/css/screen.css?v=bcbc533e1f ::::: */

/* ::::: (import) https://blog.codinghorror.com/assets/css/normalize.css ::::: */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
[hidden], template { display: none; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: none repeat scroll 0% 0% transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
img { border: 0px none; }
table { border-collapse: collapse; border-spacing: 0px; }
/* ::::: (end import) ::::: */
@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("icons.eot") format("embedded-opentype"), url("icons.woff") format("woff"), url("icons.ttf") format("truetype"), url("icons.svg") format("svg");
}
.icon-ghost:before, .icon-feed:before, .icon-twitter:before, .icon-google-plus:before, .icon-email:before, .icon-facebook:before { font-family: 'icons'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; text-decoration: none; }
.icon-ghost:before { content: ""; }
.icon-feed:before { content: ""; }
.icon-email:before { content: ""; }
html { height: 100%; max-height: 100%; font-size: 62.5%; }
body { height: 100%; max-height: 100%; font-family: 'Open Sans',sans-serif; font-size: 1.7em; line-height: 1.6em; color: rgb(58, 65, 69); }
*::-moz-selection { color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(214, 237, 255); text-shadow: none; }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; line-height: 1; margin-top: 0px; color: rgb(34, 34, 34); }
h1 { font-size: 4rem; line-height: 1.2em; letter-spacing: -2px; text-indent: -3px; }
h2 { font-size: 3.2rem; line-height: 1.2em; letter-spacing: -1px; text-indent: -2px; }
h3 { font-size: 3.5rem; }
h4 { font-size: 3rem; }
a { color: rgb(87, 163, 232); transition: color 0.2s ease 0s; text-decoration: none; }
a:hover { color: rgb(34, 34, 34); }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: rgb(34, 34, 34); }
p, ul, ol, dl { margin: 1.6em 0px; }
blockquote { box-sizing: border-box; margin: 1.6em 0px; padding: 0px 0px 0px 1.6em; border-left: 0.4em solid rgb(237, 236, 228); }
blockquote p { margin: 0.8em 0px; }
table { margin: 1.6em 0px; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix {  }
.wrap { position: relative; width: 90%; max-width: 1000px; margin: 0px auto; padding-bottom: 60px; }
.content { width: 70%; float: right; }
.sidebar { width: 25%; float: left; }
.site-head { margin: 10px 0px 30px; }
.site-head-content { position: relative; padding: 30px 0px 23px; width: 90%; max-width: 1000px; margin: 0px auto; }
.blog-logo { text-decoration: none; float: left; margin: -15px 0px 0px; }
.blog-logo img { display: block; max-height: 100px; max-width: 100px; line-height: 0; }
.blog-title { margin: 0px; font-size: 3.2rem; letter-spacing: -1px; font-weight: bold; font-family: 'Open Sans',sans-serif; text-transform: uppercase; }
.blog-title a { color: rgb(34, 34, 34); text-decoration: none; }
.blog-description { margin: 0px; font-size: 1.5rem; line-height: 1em; font-weight: normal; letter-spacing: 0px; }
@media only screen and (max-width: 880px) {
  .wrap, .site-head-content { max-width: 700px; }
  .site-head { margin: 15px 0px; }
  .content, .sidebar { width: auto; float: none; }
}
@media only screen and (max-width: 500px) {
  .site-head { margin: 0px; }
  .site-head-content { padding-bottom: 15px; }
  .blog-logo img { max-height: 70px; max-width: 70px; }
  .blog-title { font-size: 2.2rem; }
  .blog-description { font-size: 1.2rem; margin: 0.2rem 0px 0px; }
}
.post { position: relative; margin: 5rem auto; padding-bottom: 3rem; }
.post:first-child { margin-top: 0px; }
.post-title { margin: 0px; }
.post-meta { display: inline-block; font-size: 1.4rem; line-height: 1; color: rgb(158, 171, 179); }
.sidebar { font-size: 1.4rem; line-height: 1.6em; }
.sidebar h3 { margin-bottom: 0.5rem; text-transform: uppercase; font-size: 2rem; color: rgb(74, 74, 74); }
.sidebar ul { list-style: none outside none; padding: 0px; margin-top: 0px; }
.sidebar p { font-size: 1.3rem; line-height: 1.5em; }
.post-template .post { padding-bottom: 0px; }
.post-content img { display: block; max-width: 100%; margin: 0px auto; height: auto; }
.post-footer { position: relative; margin: 4rem 0px 0px; padding: 4rem 0px 0px; border-top: 1px solid rgb(235, 242, 246); }
.post-footer h4 { font-size: 1.8rem; margin: 0px; }
.post-footer p { margin: 1rem 0px; font-size: 1.7rem; line-height: 1.6em; font-style: italic; color: rgb(187, 199, 204); }
.read-next { display: flex; align-items: stretch; margin-top: 4rem; }
.read-next .left, .read-next .right { box-sizing: border-box; flex-grow: 1; min-width: 50%; padding: 0px 5% 0px 0px; text-decoration: none; position: relative; overflow: hidden; }
.read-next-label { font-size: 1.2rem; color: rgb(158, 171, 179); text-transform: uppercase; }
.read-next-title { font-size: 1.8rem; line-height: 1.15em; }
.site-footer { font-size: 1.2rem; line-height: 1.6em; color: rgb(187, 199, 204); }
.site-footer a { color: rgb(187, 199, 204); text-decoration: none; }
.site-footer a:hover { color: rgb(80, 88, 93); }
.icon-ghost { font-weight: 700; text-decoration: none ! important; }
.icon-ghost:hover { text-decoration: none; }
.icon-ghost:before { font-size: 1rem; margin-right: 0.2em; }
.site-search { width: 300px; position: absolute; top: 34px; right: 0px; line-height: normal; }
@media only screen and (max-width: 900px) {
  .site-search { width: 240px; }
}
@media only screen and (max-width: 740px) {
  .site-search { width: auto; position: static; margin-top: 40px; }
}
.welovecodinghorror { background-color: rgb(255, 255, 235); color: rgb(51, 51, 51); padding: 6px; }
#welovecodinghorror-block { display: block; overflow: hidden; padding: 1em 1em 0.3em; font-family: Verdana,"Helvetica Neue",Helvetica,sans-serif; line-height: 1.5; border: 4px solid rgb(245, 245, 245); margin-bottom: 10px; }
#welovecodinghorror-block span { display: block; overflow: hidden; }
.block-text { display: block; text-align: left; margin-bottom: 1em; color: rgb(102, 102, 102); }
.block-img { display: block; margin: 0px auto 1em 25px; }
@media only screen and (max-width: 740px) {
  blockquote { margin-left: 0px; }
  .post { margin: 0px; font-size: 0.9em; line-height: 1.6em; }
  .sidebar { margin: 0px; }
  h1 { font-size: 3.8rem; text-indent: -2px; }
  h2 { font-size: 3rem; }
  h3 { font-size: 2.8rem; }
  h4 { font-size: 2.5rem; }
}
@media only screen and (max-width: 500px) {
  .post { font-size: 1.6rem; }
  h1, h2 { font-size: 2.4rem; line-height: 1.2em; letter-spacing: -1px; }
  h3 { font-size: 2rem; }
  h4 { font-size: 2rem; }
  .post-meta { font-size: 1.3rem; }
  .read-next { flex-direction: column; }
  .post-footer p { font-size: 1.4rem; }
  .site-footer { margin-top: 6rem; font-size: 1.1rem; }
}
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700 ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff") format("woff");
}
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: https://cdn.sstatic.net/clc/styles/clc/jobs-multi.min.css?v=a28a58104dce ::::: */

div.clc-jobs-multi { color: rgb(51, 51, 51); font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-align: left; line-height: 130%; padding: 2px; margin: 12px 0px 1.5em; clear: both; background-repeat: no-repeat; background-position: 0px 0px; box-sizing: border-box; }
div.clc-jobs-multi.codinghorror { background-color: rgb(245, 245, 245); border-color: rgb(245, 245, 245); }
div.clc-jobs-multi.codinghorror > .top { background-image: url("logo-socareers.svg"), none; background-position: center 10%; background-repeat: no-repeat; background-size: auto 80%; height: 42px; }
div.clc-jobs-multi.tagged { line-height: 140%; }
div.clc-jobs-multi > a.top { width: 100%; display: block; color: rgb(255, 255, 255); text-align: center; font-size: 20px; line-height: 42px; text-decoration: none; }
div.clc-jobs-multi > a.top:hover { text-decoration: none; }
div.clc-jobs-multi > .bottom .change-city:hover, div.clc-jobs-multi > .middle > ul > li:hover .title { color: rgb(51, 170, 255); }
div.clc-jobs-multi > .middle { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
div.clc-jobs-multi > .middle > ul { margin: 0px; padding: 0px; list-style: none outside none; display: block; }
div.clc-jobs-multi > .middle > ul > li { border-top: 1px solid rgb(239, 240, 241); position: relative; }
div.clc-jobs-multi > .middle > ul .job-wrap:first-child, div.clc-jobs-multi > .middle > ul > li:first-child { border-top: medium none; }
div.clc-jobs-multi > .middle > ul > li:hover .clc-dismiss { opacity: 0.3; transition: opacity 0.15s ease-in-out 0s; }
div.clc-jobs-multi > .middle > ul > li:hover .clc-dismiss:hover { opacity: 1; }
div.clc-jobs-multi > .middle > ul > li.clc-dismissable:hover { transition: background-color 0.15s ease-in-out 0s; background-color: rgb(247, 248, 248); }
div.clc-jobs-multi > .middle > ul > li.clc-dismissable:hover .title { color: rgb(0, 119, 204); }
div.clc-jobs-multi > .middle > ul .job-wrap { overflow: hidden; margin: 0px; padding: 6px 12px; position: relative; }
div.clc-jobs-multi > .middle > ul .job-wrap a.job { display: block; cursor: pointer; text-decoration: none; }
div.clc-jobs-multi > .middle > ul .job-wrap div { margin: 3px 0px; }
div.clc-jobs-multi > .middle > ul .job-wrap .title { font-weight: 700; font-size: 13px; display: block; cursor: pointer; text-decoration: none; color: rgb(0, 119, 204); padding-right: 12px; }
div.clc-jobs-multi > .middle > ul .job-wrap .company { font-weight: 700; color: rgb(132, 138, 145); margin-right: 7px; }
div.clc-jobs-multi > .middle > ul .job-wrap .location { color: rgb(132, 138, 145); font-style: italic; display: inline-block; position: relative; padding-left: 16px; }
div.clc-jobs-multi > .middle > ul .job-wrap .location:before { content: ""; display: inline-block; width: 12px; height: 12px; opacity: 0.5; position: absolute; left: 1px; top: 2px; background-image: url("ico-location-gray.svg"); background-repeat: no-repeat; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts { text-transform: uppercase; font-size: 11px; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts span { background-repeat: no-repeat; font-weight: 700; position: relative; padding-left: 16px; margin-right: 7px; display: inline-block; white-space: nowrap; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts span.opt:before { content: ""; position: absolute; display: inline-block; width: 14px; height: 14px; left: 0px; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .visa { color: rgb(247, 140, 117); }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .visa:before { background-image: url("ico-visa-pink.svg"); top: 1px; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .remote { color: rgb(219, 176, 39); }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .remote:before { background-image: url("ico-remote-yellow.svg"); top: 1px; }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .relocate { opacity: 0.7; color: rgb(76, 141, 189); }
div.clc-jobs-multi > .middle > ul .job-wrap .opts .relocate:before { background-image: url("ico-relocate-blue.svg"); top: 1px; }
div.clc-jobs-multi > .middle > ul .job-wrap span.post-tag { text-align: center; color: rgb(57, 115, 157); background-color: rgb(225, 236, 244); padding: 0.25em 0.5em; margin: 2px 2px 2px 0px; text-decoration: none; font-size: 12px; line-height: 1.4; white-space: nowrap; display: inline-block; border-radius: 0px 0px 0px 0px; border: 1px solid rgb(225, 236, 244); float: none; }
div.clc-jobs-multi > .middle > ul .clc-dismiss { position: absolute; right: 6px; top: 6px; cursor: pointer; opacity: 0; width: 16px; height: 16px; display: block; background-color: rgb(255, 255, 255); background-image: url("ico-dismiss.svg"); border-radius: 8px 8px 8px 8px; }
div.clc-jobs-multi > .middle > ul .clc-dismiss:hover .clc-tooltip { visibility: visible; }
div.clc-jobs-multi .impression { display: none; }
div.clc-jobs-multi .clc-tooltip { display: inline-block; position: absolute; background-color: rgb(82, 87, 92); color: rgb(255, 255, 255); border-radius: 2px 2px 2px 2px; padding: 3px 5px; visibility: hidden; white-space: nowrap; cursor: default; }
div.clc-jobs-multi .clc-tooltip:after { content: ""; border: 4px solid transparent; position: absolute; }
div.clc-jobs-multi .clc-tooltip.above-left { right: 0px; transform: translateY(-100%); top: -5px; }
div.clc-jobs-multi .clc-tooltip.above-left:after { right: 0px; transform: translateX(-4px); top: 100%; border-top-color: rgb(82, 87, 92); }
