/* ::::: https://discourse-cdn.codinghorror.com/assets/embed-f316ef9d36834c81c106d258b3efda0a8c01edad15f6325d81342fad7946f0e3.css (@media screen) ::::: */

@media screen {
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
img { border: 0px none; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
html { color: rgb(34, 34, 34); font-family: Helvetica,Arial,sans-serif; font-size: 14px; line-height: 19px; background-color: white; overflow-y: scroll; direction: ltr; }
a { color: rgb(0, 136, 204); text-decoration: none; cursor: pointer; }
a:visited { color: rgb(0, 136, 204); }
a:hover { color: rgb(0, 136, 204); }
a:active { color: rgb(0, 136, 204); }
ul, ol, dd { margin: 0px 0px 9px 25px; padding: 0px; }
.cooked ul, .cooked ol, .cooked dd { clear: both; }
img { vertical-align: middle; }
pre code { overflow: auto; }
article.post { border-bottom: 1px solid rgb(221, 221, 221); }
article.post img.avatar { border-radius: 50% 50% 50% 50%; }
article.post .quote .title { border-left: 5px solid rgb(223, 223, 223); background-color: rgb(248, 248, 248); padding: 10px 10px 0px 12px; }
article.post .quote .title .avatar { margin-right: 7px; }
article.post ol, article.post ul { clear: none; }
article.post blockquote { padding: 10px 8px 10px 13px; margin: 0px 0px 10px; background-color: rgb(248, 248, 248); border-left: 5px solid rgb(223, 223, 223); }
article.post blockquote p { margin: 0px 0px 10px; }
article.post blockquote p:last-of-type { margin-bottom: 0px; }
article.post .post-date { float: right; color: rgb(170, 170, 170); font-size: 0.857em; margin: 10px 4px 0px 0px; }
article.post .author { padding: 10px 5px; float: left; }
article.post .author img { max-width: 45px; border-radius: 50% 50% 50% 50%; }
article.post .cooked { padding: 10px 0px; margin-left: 65px; word-wrap: break-word; }
article.post .cooked pre { white-space: pre-wrap; }
article.post .cooked img { max-width: 100%; }
article.post .cooked p { margin: 0px 0px 1em; }
.username { font-size: 0.929em; margin: 0px 0px 10px; }
.username a { color: rgb(92, 92, 92); }
.username a.staff { background-color: rgb(255, 255, 194); }
.username a.new-user { color: rgb(189, 189, 189); }
img.emoji { width: 20px; height: 20px; }
.in-reply-to { font-size: 0.929em; text-align: center; margin: 10px 20px 6px 0px; display: inline-block; float: right; color: rgb(0, 136, 204); }
.replies { font-size: 1.071em; color: rgb(153, 153, 153); }
header.discourse { padding-left: 10px; padding-bottom: 8px; font-size: 1.286em; border-bottom: 3px solid rgb(221, 221, 221); }
header.discourse .button { float: right; }
footer { font-size: 1.286em; margin-top: 0.5em; }
footer .button { color: white; padding: 6px 8px; background-color: rgb(0, 136, 204); display: inline-block; }
.logo { float: right; max-height: 30px; }
aside.onebox { border: 5px solid rgb(233, 233, 233); padding: 12px 25px 12px 12px; font-size: 1em; }
aside.onebox header a[href] { color: rgb(34, 34, 34); text-decoration: none; }
aside.onebox.amazon .source { background: url("amazon-882adb9da23d489f1d53ba95c6ea4052536732d9caa57ec82a8f8d0f508e48ea.png") no-repeat scroll 0% 0% / 16px 16px transparent; padding-left: 20px; }
aside.onebox .onebox-body { clear: both; }
aside.onebox .onebox-body h3, aside.onebox .onebox-body h4 { font-size: 1.17em; margin: 10px 0px; }
aside.onebox .onebox-body a[href] { color: rgb(0, 109, 163); text-decoration: none; }
aside.onebox .onebox-body a[href]:visited { color: rgb(0, 109, 163); }
aside.onebox .onebox-body img { max-height: 80%; max-width: 20%; height: auto; float: left; margin-right: 10px; }
.onebox-metadata { color: rgb(145, 145, 145); }
aside.onebox { margin-bottom: 20px; }
aside.onebox p { margin-bottom: 0px ! important; }
div.lightbox-wrapper { margin-bottom: 20px; }
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

