/* ::::: http://blog.mobatek.net/css/mobastyles.css (@media screen) ::::: */

@media screen {
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: Helvetica,Arial,sans-serif; font-size: 1em; line-height: 1.42857; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
a { color: rgb(67, 116, 224); text-decoration: none; }
a:hover, a:focus { color: rgb(34, 88, 206); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.5; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 1em; margin-bottom: 0.5em; }
h1, .h1 { font-size: 2.5em; }
h2, .h2 { font-size: 2.5em; }
h3, .h3 { font-size: 1.875em; }
p { margin: 0px 0px 0.5em; }
ul, ol { margin-top: 0px; margin-bottom: 0.5em; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-left: -15px; margin-right: -15px; }
.col-sm-1, .col-md-1, .col-lg-1, .col-sm-2, .col-md-2, .col-lg-2, .col-sm-3, .col-md-3, .col-lg-3, .col-sm-4, .col-md-4, .col-lg-4, .col-sm-5, .col-md-5, .col-lg-5, .col-sm-6, .col-md-6, .col-lg-6, .col-sm-7, .col-md-7, .col-lg-7, .col-sm-8, .col-md-8, .col-lg-8, .col-sm-9, .col-md-9, .col-lg-9, .col-sm-10, .col-md-10, .col-lg-10, .col-sm-11, .col-md-11, .col-lg-11, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-2 { width: 16.6667%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-7 { width: 58.3333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-2 { width: 16.6667%; }
}
@media (min-width: 1200px) {
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after { content: " "; display: table; }
.clearfix:after, .container:after, .container-fluid:after, .row:after { clear: both; }
.pull-left { float: left ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.fa-chevron-up:before { content: ""; }
.fa-facebook:before { content: ""; }
.fa-google-plus:before { content: ""; }
.fa-twitter:before { content: ""; }
html { font-size: 100%; }
html, body { height: 100%; }
body { background-repeat: repeat; }
@media only screen and (max-width: 768px) {
  .center-mobile { text-align: center ! important; }
}
@media only screen and (max-width: 991px) {
}
.site-layout { max-width: 100%; margin: auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); transition: max-width 0.25s ease 0s; }
.site-layout.boxed { position: relative; width: 100%; max-width: 1200px; margin: auto; overflow: hidden ! important; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17); }
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0px; }
.page-block { width: 100%; padding: 36px 0px 24px; }
@media only screen and (max-width: 768px) {
  .page-block { padding: 24px 0px 19.2px; }
}
img { display: block; max-width: 100%; height: auto; }
*::-moz-selection { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.space-top { margin-top: 24px; }
@media only screen and (max-width: 768px) {
  .space-top { margin-top: 19.2px; }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 768px) {
}
.double-padding-bottom { padding-bottom: 48px ! important; }
@media only screen and (max-width: 768px) {
  .double-padding-bottom { padding-bottom: 31.2px ! important; }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; line-height: 1.5; color: rgb(0, 0, 0); font-weight: normal; margin-top: 0px; }
h1, .h1, h2, .h2 { font-size: 2.5em; margin-bottom: 20px; }
@media only screen and (max-width: 768px) {
  h1, .h1, h2, .h2 { font-size: 2.125em; margin-bottom: 18px; }
}
h3, .h3 { font-size: 1.875em; margin-bottom: 15px; }
h1, h2, h3, h4, h5, h6 { word-spacing: 0.09em; }
.page-heading { width: 100%; margin: 0px 0px 24px; padding: 0px 36px; text-transform: uppercase; }
@media only screen and (max-width: 768px) {
  .page-heading { margin-bottom: 28.8px; }
}
.page-heading h1, .page-heading h2, .page-heading h3, .page-heading h4, .page-heading h5, .page-heading h6 { word-spacing: 0.15em; }
.page-heading h1, .page-heading h2 { text-transform: none; font-weight: bold; margin: 0px; }
.page-heading h3 { text-transform: none; font-weight: normal; font-size: 1.25em; margin-bottom: 12px; }
.page-heading.center { text-align: center; }
p { font-size: 1em; line-height: 1.75; margin-bottom: 24px; }
.primary-color, .text-primary { color: rgb(67, 116, 224) ! important; }
.primary-color:hover, .text-primary:hover { color: rgb(67, 116, 224) ! important; }
a { text-decoration: underline; color: rgb(67, 116, 224); transition: all 0.3s ease 0s; }
a:hover, a:focus { outline: 0px none; text-decoration: none; color: rgb(67, 116, 224); }
ul, ol { font-size: 1em; font-weight: 400; line-height: 1.57; margin-bottom: 24px; padding-left: 17px; }
ul li, ol li { margin-bottom: 8px; }
@media not all, not all {
}
@media not all, not all {
}
@-moz-document url-prefix("") {
  .light-version .select-style { overflow: hidden; }
  .light-version .select-style select { width: 110%; }
}
@media not all, not all {
}
.header { position: relative; z-index: 1005; width: 100%; }
@media only screen and (max-width: 1024px) {
}
.header .inner { position: relative; z-index: 5; width: 100%; height: 90px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom: 1px solid rgb(216, 216, 216); box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.17); transition: all 0.3s ease 0s; }
@media only screen and (max-width: 1024px) {
  .header .inner { height: 80px; text-align: center; }
}
.header .container:after { visibility: hidden; display: block; content: ""; clear: both; height: 0px; }
@media only screen and (max-width: 1200px) {
  .header .container { width: 100%; position: relative; z-index: -1; }
}
.header .logo { margin-top: 24px; width: 150px; height: 48px; display: block; position: relative; z-index: 1; float: left; }
@media only screen and (max-width: 1024px) {
  .header .logo { display: inline-block; float: none; margin-top: 24px; }
  .header .logo img { display: block; margin: auto; }
}
.header .navigation { width: 768px; float: left; text-align: center; }
@media only screen and (max-width: 1200px) {
  .header .navigation { width: 100%; position: absolute; z-index: -1; left: 0px; }
  .header .navigation .menu { margin-left: -50px; }
}
@media only screen and (max-width: 1024px) {
  .header .navigation { display: none; }
}
.header .tools { width: 215px; float: right; }
@media only screen and (max-width: 1024px) {
  .header .tools { width: auto; }
}
.header .tools a { display: block; margin: 27px 4px 0px; padding: 6px 5px 5px; font-size: 1.035em; color: rgb(0, 0, 0); text-decoration: none; }
.header .tools a:hover, .header .tools a:focus { color: rgb(67, 116, 224); }
@media only screen and (max-width: 1024px) {
  .header .tools a { display: none; }
}
.header .tools .signup { padding: 6px 12px; border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); border-radius: 4px 4px 4px 4px; }
.header .tools .signup:hover { border-color: transparent; background: none repeat scroll 0% 0% rgb(67, 116, 224); color: rgb(255, 255, 255); }
@media only screen and (max-width: 1024px) {
}
.menu { display: inline-block; height: 90px; }
.menu ul { padding: 0px; list-style: none outside none; }
.menu ul li { display: inline-block; margin: 0px; }
.menu ul li a { display: block; padding: 32px 10px; font-size: 1.035em; color: rgb(0, 0, 0); text-decoration: none; transition: color 0.3s ease 0s; }
.menu ul li a:hover, .menu ul li a:focus { color: rgb(67, 116, 224); }
.menu ul li.active a, .menu ul li:hover a, .menu ul li:focus a { color: rgb(67, 116, 224); }
#nav-toggle { display: none; position: absolute; z-index: 1005; top: 29px; padding: 10px 32px 16px 0px; cursor: pointer; }
@media only screen and (max-width: 1024px) {
  #nav-toggle { display: block; }
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { position: absolute; display: block; content: ""; width: 32px; height: 2px; background: none repeat scroll 0% 0% rgb(0, 0, 0); transition: all 500ms ease-in-out 0s; }
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle:hover span, #nav-toggle:hover span:before, #nav-toggle:hover span:after { background: none repeat scroll 0% 0% rgb(67, 116, 224); }
.off-canvas-wrap { position: relative; width: 100%; overflow: hidden; }
.inner-wrap { position: relative; width: 100%; transition: transform 500ms ease 0s; }
.inner-wrap:before, .inner-wrap:after { content: " "; display: table; }
.inner-wrap:after { clear: both; }
.left-off-canvas-menu { width: 260px; top: 0px; bottom: 0px; position: absolute; overflow-y: auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(216, 216, 216); z-index: 1001; box-sizing: content-box; transition: transform 500ms ease 0s; transform: translate3d(-100%, 0px, 0px); left: 0px; }
.left-off-canvas-menu * {  }
@media only screen and (min-width: 40.063em) {
}
@media only screen and (min-width: 40.063em) {
}
@media only screen and (min-width: 40.063em) {
}
.mobile-navi { position: relative; width: 100%; }
.mobile-navi a { font-size: 1.035em; color: rgb(0, 0, 0); text-decoration: none; }
.mobile-navi a:hover, .mobile-navi a:focus { color: rgb(67, 116, 224); }
.mobile-navi ul { list-style: none outside none; margin: 0px; padding: 0px; }
.mobile-navi ul li { position: relative; margin: 0px; overflow: hidden; }
.mobile-navi ul li a { display: block; padding: 10px 45px 10px 15px; border-bottom: 1px solid rgb(216, 216, 216); }
.mobile-navi ul li.current a { color: rgb(67, 116, 224); }
.footer { position: relative; z-index: 1; width: 100%; background: none repeat scroll 0% 0% rgb(242, 244, 245); padding: 0px; box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset; }
@media only screen and (max-width: 768px) {
  .footer { text-align: center; }
}
.footer .copyright { background: none repeat scroll 0% 0% rgb(225, 228, 230); text-align: center; padding: 16px 0px; min-height: 80px; }
.footer .copyright p { margin-bottom: 0px; font-size: 0.875em; }
.footer .copyright p a { text-decoration: none; border-bottom: 1px solid transparent; color: rgb(0, 0, 0); }
.footer .copyright p a:hover { color: rgb(67, 116, 224); border-bottom: 1px solid rgb(67, 116, 224); }
.sticky-btns { position: fixed; z-index: 50; right: -48px; bottom: 10px; transition: right 0.3s ease 0s; }
.sticky-btns.scrolled { right: 3px; }
.sticky-btns span { display: block; float: left; width: 42px; height: 42px; text-align: center; font-size: 1.25em; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(67, 116, 224); border-radius: 4px 4px 4px 4px; padding-top: 6px; margin: 0px 5px; cursor: pointer; transition: background 0.3s ease 0s; }
.sticky-btns span:hover { background: none repeat scroll 0% 0% rgb(34, 88, 206); }
.sticky-btns:after { visibility: hidden; display: block; content: ""; clear: both; height: 0px; }
}
/* ::::: http://blog.mobatek.net/css/moba.css (@media screen) ::::: */

@media screen {
.sticky { position: fixed; top: 0px; left: auto; max-width: 1200px; }
.header_background { height: 112px; }
@media only screen and (max-width: 1024px) {
  .sticky { position: relative; }
  .header_background { height: 0px; }
}
.mobalogoimg { display: inline-block; text-align: left; float: left; width: 48px; height: 48px; }
.mobalogotxt { display: inline-block; text-align: left; float: left; vertical-align: middle; padding: 10px 0px 0px 6px; color: rgb(32, 32, 32); font-weight: bold; }
div.center { text-align: center; }
div.socialsmall { width: 18px; }
div.socialbig { width: 36px; }
div.socialicon { display: inline-block; text-align: center; transition: all 0.3s ease 0s; }
div.socialicon:hover { color: rgb(255, 255, 255); }
div.fbicon { color: rgb(59, 89, 152); }
div.fbicon:hover { background-color: rgb(59, 89, 152); }
div.tticon { color: rgb(154, 228, 232); }
div.tticon:hover { background-color: rgb(154, 228, 232); }
div.gpicon { color: rgb(219, 74, 57); }
div.gpicon:hover { background-color: rgb(219, 74, 57); }
div.socials_haut { display: inline-block; text-align: center; padding-left: 16px; }
div.socials_haut > a { text-decoration: none; }
div.socials_bas { box-sizing: border-box; display: block; height: 42px; text-align: right; }
div.socials_bas > a { margin: 0px; font-size: 32px; text-decoration: none; }
#topbar, #topbar ul, #topbar ul li, #topbar ul li a { margin: 0px; padding: 0px; border: 0px none; list-style: none outside none; line-height: 1; display: block; position: relative; }
#topbar { width: auto; font-family: Helvetica,Arial,sans-serif; }
#topbar ul { background: none repeat scroll 0% 0% rgb(54, 54, 54); }
#topbar:after, #topbar ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
#topbar ul li { float: left; }
#topbar ul li a { display: block; padding: 6px 36px; text-decoration: none; font-size: 12px; text-transform: uppercase; color: rgb(255, 255, 255); }
#topbar ul li.xterm:hover { background: none repeat scroll 0% 0% rgb(255, 113, 44); }
#topbar ul li.ssh:hover { background: none repeat scroll 0% 0% rgb(68, 137, 86); }
#topbar ul li.tek:hover { background: none repeat scroll 0% 0% rgb(67, 116, 224); }
#topbar ul li.active { background: none repeat scroll 0% 0% rgb(67, 116, 224); }
a > i.fa-rss:before { content: ""; color: rgb(54, 128, 255); transition: all 0.3s ease-out 0s; }
a:hover > i.fa-rss:before { content: ""; color: rgb(255, 255, 255); transition: all 0.3s ease-out 0s; }
.blogtag { border-radius: 8px 8px 8px 8px; border: 1px solid rgb(100, 100, 100); background-color: rgb(255, 255, 255); color: rgb(100, 100, 100); padding: 2px 26px; font-size: 1em; display: inline-block; margin: auto auto 4px; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; transition: all 0.3s ease 0s; outline: medium none; }
.blogtag:hover { background-color: rgb(54, 54, 54); color: rgb(255, 255, 255); }
.blogtag:focus { color: rgb(255, 255, 255); }
.blogsmall { font-size: 0.8em; color: rgb(136, 136, 136); }
.blogprev { border-radius: 8px 8px 8px 8px; border: 1px solid rgb(100, 100, 100); background-color: rgb(255, 255, 255); color: rgb(100, 100, 100); padding: 2px 26px; font-size: 1em; display: inline-block; margin: auto; text-align: center; text-decoration: none ! important; vertical-align: middle; cursor: pointer; transition: all 0.3s ease 0s; outline: medium none; }
.blogprev:hover { background-color: rgb(54, 54, 54); color: rgb(255, 255, 255); }
.blogprev:focus { color: rgb(255, 255, 255); }
.blognext { border-radius: 8px 8px 8px 8px; border: 1px solid rgb(100, 100, 100); background-color: rgb(255, 255, 255); color: rgb(100, 100, 100); padding: 2px 26px; font-size: 1em; display: inline-block; margin: auto; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; transition: all 0.3s ease 0s; outline: medium none; }
.blognext:hover { background-color: rgb(54, 54, 54); color: rgb(255, 255, 255); }
.blognext:focus { color: rgb(255, 255, 255); }
.nodec { text-decoration: none; }
.shell { display: table; background: url("term.gif") no-repeat scroll 6px 8px rgb(0, 0, 0); font-family: Courier New,Courier,monospace; font-size: 12pt; color: rgb(238, 238, 238); padding: 7px 10px 7px 36px; border-radius: 8px 8px 8px 8px; }
.hitext { background: none repeat scroll 0% 0% rgb(240, 240, 240); color: rgb(0, 132, 54); }
table { border: 1px solid rgb(204, 204, 204); padding: 8px; }
th { border: 1px solid rgb(204, 204, 204); padding: 8px; }
td { border: 1px solid rgb(204, 204, 204); padding: 8px; }
tr { border: 1px solid rgb(204, 204, 204); padding: 8px; }
nav#TableOfContents > ul > li { line-height: 0.8; font-size: 0.8em; }
div.socialarticle { width: 32px; font-size: 24px; }
}
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  #diigotb-imagepanel.processing #diigotb-quick-save { background-position: 0px -20px ! important; cursor: default ! important; }
  .diigotb-imagetip { background: url("chrome://diigotb/skin/notice-bar-bg-right.png") no-repeat scroll right center transparent ! important; height: 21px ! important; margin: 0px ! important; position: absolute ! important; z-index: 11000022 ! important; width: 106px; }
  .diigotb-imagebg { background: url("chrome://diigotb/skin/notice-bar-bg-left.png") repeat-x scroll left center transparent ! important; height: 21px ! important; margin: 0px ! important; padding-left: 6px ! important; width: 90px; }
  .diigotb-imagetip-text { padding-left: 20px ! important; font: 11px/20px Helvetica,Arial,sans-serif ! important; color: white ! important; float: left; }
  .diigotb-imagetip.processing .diigotb-imagetip-text { background: url("chrome://diigotb/skin/processing-fb.gif") no-repeat scroll left center transparent ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

