/* ::::: http://olegpuzanov.com/stylesheets/screen.css (@media screen, projection) ::::: */

@media screen, projection {
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svgz") format("svg"), url("fontawesome-webfont.svg") format("svg");
}
* { margin: 0px; padding: 0px; }
body { font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 300; font-size: 14px; background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(102, 102, 102); }
@media screen and (max-width: 1040px) {
  body { margin: 0px 20px; }
}
@media screen and (max-width: 600px) {
  body { font-size: 13px; }
}
h1 { font-size: 1.8em; }
a { text-decoration: none; outline-width: 0px; color: rgb(37, 143, 184); }
.clearfix {  }
.clearfix:after { content: ""; display: table; clear: both; }
.inner { width: 1000px; margin: 0px auto; }
@media screen and (max-width: 1040px) {
  .inner { width: 100%; }
}
#header { height: 30px; padding: 30px 0px; border-bottom: 1px solid rgb(221, 221, 221); line-height: 30px; }
@media screen and (max-width: 1040px) {
  #header { height: auto; position: relative; padding-bottom: 10px; }
}
#header a { color: rgb(102, 102, 102); transition: color 0.3s ease 0s; }
#header a:hover { color: rgb(37, 143, 184); }
#header h1 { float: left; font-weight: 300; font-size: 30px; }
@media screen and (max-width: 1040px) {
  #header h1 { float: none; }
}
#main-nav { float: left; margin-left: 30px; }
@media screen and (max-width: 1040px) {
  #main-nav { float: none; margin-left: 0px; margin-top: 15px; }
}
@media screen and (max-width: 600px) {
  #main-nav > ul { display: none; }
}
#main-nav > ul > li { margin-left: 50px; display: inline-block; vertical-align: middle; }
@media screen and (max-width: 1040px) {
  #main-nav > ul > li { margin-left: 0px; margin-right: 50px; }
  #main-nav > ul > li:last-of-type { margin-right: 0px; }
}
#main-nav > ul > li:hover > a { color: rgb(37, 143, 184); }
#main-nav > ul > li > a { padding: 38px 0px; margin-top: -38px; }
#main-nav > ul > li > a:after { content: ""; color: rgb(204, 204, 204); font: 12px FontAwesome; padding-left: 10px; }
#main-nav > ul > li > a:only-child:after { content: ""; }
@media screen and (max-width: 1040px) {
  #main-nav > ul > li > a { padding: 18px 0px; }
}
@media screen and (max-width: 1040px) {
}
#main-nav > ul li { position: relative; }
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 1040px) {
  #sub-nav { position: absolute; top: 30px; right: 0px; }
}
@media screen and (max-width: 600px) {
  #sub-nav { display: none; }
}
@media screen and (max-width: 1040px) {
}
#sub-nav .social { float: left; margin-right: 15px; }
@media screen and (max-width: 1040px) {
  #sub-nav .social { float: none; margin-right: 0px; }
  #sub-nav .social a:last-of-type { margin-right: 0px; }
}
#sub-nav .social a { border-radius: 50% 50% 50% 50%; display: inline-block; vertical-align: middle; text-indent: -9999px; margin-right: 10px; opacity: 0.5; width: 28px; height: 28px; transition: all 0.3s ease 0s; }
#sub-nav .social a:hover { opacity: 1; }
#sub-nav .social a.facebook { background: url("facebook.png") no-repeat scroll center center rgb(59, 89, 152); border: 1px solid rgb(59, 89, 152); }
#sub-nav .social a.facebook:hover { border: 1px solid rgb(45, 67, 115); }
#sub-nav .social a.github { background: url("github.png") no-repeat scroll center center rgb(175, 182, 202); border: 1px solid rgb(175, 182, 202); }
#sub-nav .social a.github:hover { border: 1px solid rgb(144, 154, 182); }
#sub-nav .social a.linkedin { background: url("linkedin.png") no-repeat scroll center center rgb(0, 90, 135); border: 1px solid rgb(0, 90, 135); }
#sub-nav .social a.xing { background: url("xing.png") no-repeat scroll center center rgb(0, 90, 95); border: 1px solid rgb(0, 90, 95); }
#sub-nav .social a.rss { background: url("rss.png") no-repeat scroll center center rgb(239, 117, 34); border: 1px solid rgb(239, 117, 34); }
#sub-nav .social a.rss:hover { border: 1px solid rgb(207, 93, 15); }
@media screen and (max-width: 400px) {
}
article { border-bottom: 1px solid rgb(221, 221, 221); border-top: 1px solid rgb(255, 255, 255); padding: 30px 0px; position: relative; }
@media screen and (max-width: 800px) {
  article { padding-bottom: 15px; }
}
@media screen and (max-width: 600px) {
  article { padding: 15px 0px; }
}
article h1.title { font-weight: 300; line-height: 35px; margin-bottom: 20px; }
article .entry-content { line-height: 2; text-align: justify; }
article .entry-content a:hover { text-decoration: underline; }
article .entry-content p, article .entry-content blockquote, article .entry-content ul, article .entry-content ol, article .entry-content dl, article .entry-content table, article .entry-content iframe, article .entry-content h1, article .entry-content h2, article .entry-content h3, article .entry-content h4, article .entry-content h5, article .entry-content h6, article .entry-content .video-container { margin-top: 10px; }
article .entry-content strong { font-weight: bold; }
article .entry-content p { margin-top: 10px; }
article .entry-content table { background: none repeat scroll 0% 0% rgb(221, 221, 221); border: 1px solid rgb(204, 204, 204); border-spacing: 0px; margin-top: 10px; }
article .entry-content table td { text-align: center; }
article .entry-content table tr:nth-of-type(2n) { background: none repeat scroll 0% 0% rgb(213, 213, 213); }
.share { padding: 15px 0px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(221, 221, 221); }
.post h1.title, .post .entry-content { margin-left: 200px; }
@media screen and (max-width: 800px) {
  .post h1.title, .post .entry-content { margin-left: 0px; }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 600px) {
}
#comment { padding: 30px 0px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(221, 221, 221); }
#comment h1.title { font-size: 25px; font-weight: 300; line-height: 35px; margin-bottom: 20px; }
footer { padding: 15px 0px; border-top: 1px solid rgb(255, 255, 255); text-align: center; font-size: 0.9em; }
article code, article pre { background: none repeat scroll 0% 0% rgb(221, 221, 221); border: 1px solid rgb(204, 204, 204); font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace; }
article code { font-size: 0.9em; padding: 1px 3px; margin: 0px 3px; }
article pre { line-height: 1.5; margin-top: 10px; padding: 5px 15px; overflow-x: auto; }
article pre code { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0px; margin: 0px; }
figure.code { border: 1px solid rgb(204, 204, 204); margin-top: 10px; padding: 5px 15px; }
figure.code figcaption { font-size: 0.9em; position: relative; }
figure.code figcaption span { margin: -5px -15px 0px; padding: 5px 15px; display: block; background: none repeat scroll 0% 0% rgb(236, 236, 236); }
figure.code figcaption span:empty { display: none; }
figure.code code, figure.code pre { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0px; margin: 0px; }
figure.code .highlight { overflow-x: auto; }
figure.code .line-numbers { border-right: 1px solid rgb(204, 204, 204); font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace; padding-right: 15px; text-align: right; }
figure.code table { background: none repeat scroll 0% 0% white; border: medium none; text-align: left; margin-top: 0px; }
figure.code table td { text-align: left; }
figure.code td.code { width: 100%; padding-left: 15px; }
figure.code .c, .gist-highlight .c { color: rgb(147, 161, 161) ! important; font-style: italic ! important; }
figure.code .k, .gist-highlight .k { color: rgb(203, 75, 22) ! important; }
figure.code .o, .gist-highlight .o { color: rgb(88, 110, 117) ! important; font-weight: bold ! important; }
figure.code .nb, .gist-highlight .nb { color: rgb(133, 153, 0) ! important; }
figure.code .s2, .gist-highlight .s2 { color: rgb(42, 161, 152) ! important; }
figure.code .s1, .gist-highlight .s1 { color: rgb(42, 161, 152) ! important; }
html { height: 100%; }
body { background: none repeat scroll 0% 0% rgb(61, 67, 73); font-family: "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; height: 100%; }
#header { height: auto; border-bottom: medium none; }
#header .subtitle { color: rgb(153, 153, 153); font-size: 13px; text-align: center; }
#header #sub-nav { float: none; position: relative; }
#header #sub-nav .social { float: none; }
#header h1 { float: none; text-align: center; }
#header #main-nav { float: none; margin-left: 0px; }
#header #main-nav ul li { margin-left: 0px; display: block; }
#header #main-nav ul li a { padding: 0px; }
#header #main-nav ul { text-align: center; }
.container { position: relative; min-height: 100%; }
.container .mid-col { position: absolute; right: 0px; min-height: 100%; width: 77%; background: none repeat scroll 0% 0% white; }
.container .mid-col footer.inner { text-align: center; margin: 0px 70px 0px 40px; width: auto; }
.container .mid-col .mid-col-container { padding: 0px 70px 0px 40px; }
.container .mid-col .mid-col-container #content { width: 100%; }
.container .mid-col .mid-col-container #content article { border-top: medium none; }
.container .mid-col .mid-col-container #content article .title { margin-left: 0px; }
.container .mid-col .mid-col-container #content article .entry-content { margin-left: 0px; }
.container .mid-col .mid-col-container #content article .entry-content table { line-height: 1.2em; }
.container .mid-col .mid-col-container #content article .entry-content table td { text-align: left; }
.container .mid-col footer { width: 100%; }
.container .left-col:hover { opacity: 1; }
.container .left-col { width: 23%; position: fixed; opacity: 0.3; transition: all 0.2s ease-in 0s; height: 100%; }
.container .left-col .intrude-less { width: 80%; }
.container .left-col #header { width: 100%; padding: 20% 0% 0% 15%; }
.container .left-col #header #main-nav { margin-top: 10px; }
.container .left-col #header .profilepic { text-align: center; }
.container .left-col #header .profilepic img { border-radius: 50% 50% 50% 50%; }
.container .left-col #header a { color: rgb(239, 239, 239); text-shadow: 0px 1px rgb(51, 51, 51); }
.container .left-col #header a:hover { color: rgb(53, 106, 160); }
.container .left-col #header #sub-nav { margin-top: 10px; text-align: center; }
.container .left-col #header #sub-nav .social { margin: 10px 0px; }
a { color: rgb(53, 106, 160); }
a:hover { color: rgb(53, 106, 160); }
@media screen and (max-width: 1040px) {
  body { margin: 0px; }
}
@media screen and (max-width: 700px) {
  .container .left-col { position: relative; width: 100%; opacity: 1; }
  .container .left-col .intrude-less { margin: auto; }
  .container .left-col #header { padding: 40px 0px; text-align: center; }
  .container .left-col #header #sub-nav { display: block; }
  .container .left-col #header #main-nav ul { display: block; }
  .container .left-col #header #main-nav ul li { display: inline; margin-right: 10px; }
  .container .mid-col { float: none; width: 100%; }
  .container .mid-col .mid-col-container { padding: 15px; }
}
article a { text-decoration: underline; }
article a:hover { color: rgb(43, 67, 93); }
}
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700 ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic ::::: */

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url("sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url("QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url("03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url("Foydq9xJp--nfYIx2TBz9QFhaRv2pGgT5Kf0An0s4MM.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic ::::: */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("LKf8nhXsWg5ybwEGXk8UBQ.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

