/* ::::: http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext ::::: */

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("ODelI1aHBYDBqgeIAH2zlBBHWFfxJXS04xYOz0jw624.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("toadOcfmlt9b38dHJxOBGAE-U1AYRUXXE0Dth8uKIE0.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&subset=latin,latin-ext ::::: */

@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Serif Pro"), local("SourceSerifPro-Regular"), url("CeUM4np2c42DV49nanp55bbZblE4EaKohZQl0Cwa5G8.woff") format("woff");
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Serif Pro Bold"), local("SourceSerifPro-Bold"), url("yd5lDMt8Sva2PE17yiLarNozZ00NzzhXJZpXGiZaN5k.woff") format("woff");
}
/* ::::: http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700 ::::: */

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff") format("woff");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"), url("leqv3v-yTsJNC7nFznSMqVkQc6VGVFSmCnC_l7QZG60.woff") format("woff");
}
/* ::::: http://www.howardism.org/css/styles.css ::::: */

html { font-family: 'Source Serif Pro',serif; color: rgb(68, 68, 68); background-color: white; }
body { padding: 0px; margin: 0px; }
@media print {
  #top-bar { display: none; }
}
@media screen {
  html { background-image: url("mac-buddha.jpg"); background-repeat: no-repeat; background-size: 100% auto; }
  #top-bar { height: 60px; top: 0px; left: 0px; border-bottom: 2px solid white; width: 100%; padding: 12px; z-index: 100; }
  #title { padding: 0px; margin: 0px 0px 0px 100px; color: black; font-weight: bold; text-shadow: 2px 2px rgb(0, 0, 0); }
  #subtitle { position: relative; line-height: 0.95em; left: 100px; width: 450px; color: black; font-size: 18px; font-weight: bold; text-shadow: -2px -2px rgb(170, 170, 170), -2px 2px rgb(170, 170, 170), 2px -2px rgb(170, 170, 170), 2px 2px rgb(170, 170, 170); }
  .gray-gradient { background: linear-gradient(to bottom, rgba(170, 170, 170, 0.96) 0%, rgba(170, 170, 170, 0.8) 100%) repeat scroll 0% 0% transparent; }
  #portrait { position: absolute; top: 10px; left: 10px; border: 0px none; }
  #search-area { position: absolute; top: 10px; right: 50px; white-space: nowrap; }
  .button { border: 0px none; }
  .button img { position: relative; top: 12px; }
  #rss-button { background-image: url("rss-hi.svg"); background-size: 32px auto; background-repeat: no-repeat; background-position: 0px -2px; }
  #rss-button img:hover { opacity: 0; }
  #mail-button { background-image: url("mail-hi.svg"); background-size: 32px auto; background-repeat: no-repeat; background-position: 0px -2px; }
  #mail-button img:hover { opacity: 0; }
  #searchform { display: inline; }
  #searchform #s { background: url("search.png") no-repeat scroll 5px 6px rgb(221, 221, 221); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset; border: 2px solid rgb(136, 136, 136); border-radius: 5px 5px 5px 5px; width: 90px; height: 30px; padding: 0px 10px 0px 28px; transition-duration: 400ms; transition-property: width, background; transition-timing-function: ease; }
  #searchform #s:focus { background-color: rgb(249, 249, 249); width: 160px; }
  #content { margin-top: 200px; max-width: 800px; border-top: 8px solid rgb(0, 0, 0); border-radius: 20px 20px 20px 20px; }
  #bottom-section { border-top: 2px solid rgb(170, 170, 170); text-align: center; margin-left: auto; margin-right: auto; width: 80%; }
  #bottom-section li { display: inline; padding: 0px 20px; }
  #bottom-section li a { border-bottom: medium none; }
}
#content { background-color: white; margin-left: auto; margin-right: auto; padding: 0px 20px 20px 40px; }
.outline-text-2 { position: relative; top: -20px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro',sans-serif; color: rgb(136, 136, 136); }
h1 { text-align: center; font-size: 3em; }
h2, h3, h4 { position: relative; }
h2 { left: -20px; font-size: 2em; }
h3 { left: -15px; font-size: 1.5em; }
pre, code { font-family: 'Source Code Pro',monospace; }
pre { background-color: white; padding: 8px 0px 8px 12px; border-top: 2px solid rgb(238, 238, 238); border-bottom: 2px solid rgb(238, 238, 238); }
a { color: rgb(34, 210, 45); text-decoration: none; border-bottom: 1px dotted; }
a img { border-bottom: 0px none; }
sup a { border-bottom: 0px none; }
h2.footnotes { font-size: 105%; margin-top: 30px; border-top: 2px solid rgb(170, 170, 170); padding-top: 20px; }
div.footdef sup ~ p { display: inline; }
div.footdef p ~ p { display: block; margin-left: 12px; }
p { line-height: 200%; }
#content li ~ li { margin-top: 12px; }
.odd { background-color: rgb(238, 238, 238); }
.even { background-color: white; }
.left { text-align: left; }
td { padding-left: 8px; padding-right: 8px; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

