/* ::::: [internal] ::::: */

/* ::::: http://fonts.staticworld.net/k/c/dli6mbh-k.css (@media all) ::::: */

@font-face {
  font-family: "facitweb";
  font-style: normal;
  font-weight: 200;
  src: url("teWzBQy6A0hPQzOlxiz89RQ3xVX21QZ14i_kEt-My0CffHd8ggMdeMJ6gK6f5MJ.woff2") format("woff2"), url("jZU46BenktJ1J2tddXbwlEY3utLH6A1Y_9E6iFdS2mXffHd8ggMdeMJ6Mk6f5MJ.woff") format("woff"), url("kSN-yTCuBrqJ-58xutqxkJtTuoH4_KRSjgJnmsRGpb3ffHd8ggMdeMJ6MP6f5MJ.otf") format("opentype"), url("T62FY_c5SpOzoabMbz61N3-UeolXvZOR5lK973MPRW3ffHd8ggMdeMI6MP6f5MJ.otf") format("truetype");
}
@font-face {
  font-family: "facitweb";
  font-style: normal;
  font-weight: 300;
  src: url("rcjxaDqlknrhOva7QnJxL3WW-bBbSyr29AFzgRHv9U6ffHR8ggMdeMJ6gK6f5Mw.woff2") format("woff2"), url("TSuxia9RS0j80rmtXBt2_qVHcNOWoFHznJUoxaYAyZ9ffHR8ggMdeMJ6Mk6f5Mw.woff") format("woff"), url("7UUGIoPl6nYmfWgOyEyX_kKKiXNLsJPbfe2FRCLjHESffHR8ggMdeMJ6MP6f5Mw.otf") format("opentype"), url("s_GPCa50PcpnC6HZeDVsr7Qs9jugDXy6-BkpF6MEFn3ffHR8ggMdeMI6MP6f5Mw.otf") format("truetype");
}
@font-face {
  font-family: "facitweb";
  font-style: normal;
  font-weight: 400;
  src: url("XI77VOznWSIdjcrMokhyUYTH2geuv4nBg0RBimyFDbXffHW8ggMdeMJ6gK6f5Mb.woff2") format("woff2"), url("iRDWUIZcPKntJiAV3MxqNnxbb4w4ZkGH51qh4MsWhHwffHW8ggMdeMJ6Mk6f5Mb.woff") format("woff"), url("W8sgq0h5bSp1S7QYt4OSwJKl_YKWihv-po4DSBXhgS9ffHW8ggMdeMJ6MP6f5Mb.otf") format("opentype"), url("F84lifuod1lLJdhz-QI1sj7lerqRzxhqM0djvVdCXrbffHW8ggMdeMI6MP6f5Mb.otf") format("truetype");
}
@font-face {
  font-family: "facitweb";
  font-style: normal;
  font-weight: 700;
  src: url("Xm0X_hf6E9jYosd8QIgJ2W6UGWDZF7t_r1CiLPFRyiIffHa8ggMdeMJ6gK6f5MS.woff2") format("woff2"), url("jx1qJf2ja3604OGRx5Ij8lcinKQsMfjMBr4eAIMTHB3ffHa8ggMdeMJ6Mk6f5MS.woff") format("woff"), url("HSTeZmiFJ3c9GTc25NTRySOoyffk5s8aNLTbTtZUkzjffHa8ggMdeMJ6MP6f5MS.otf") format("opentype"), url("OGGIDvKNZG4IfgodlF52aPm73oWlCEFJKaU3ycrUaDSffHa8ggMdeMI6MP6f5MS.otf") format("truetype");
}
/* ::::: http://www.pcworld.com/www.idgcsmb/css/colorbox.css ::::: */

/* ::::: http://www.pcworld.com/www.idgcsmb/css/equalizer.css ::::: */

html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: rgb(34, 34, 34); }
* { box-sizing: border-box; }
/* ::::: http://www.pcworld.com/www.idgcsmb/css/global-layout.css?v=20160714112805 ::::: */

@media all and (max-width: 767px) {
}
@media only screen and (min-width: 71.25em) {
}
@media all and (max-width: 568px) {
}
@media all and (max-width: 568px) {
}
@media only screen and (min-width: 48em) {
}
@media all and (max-width: 568px) {
}
@media all and (max-width: 568px) {
}
@media all and (max-width: 444px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media all and (max-width: 480px) {
}
@font-face {
  font-family: "usmedia-icons";
  font-style: normal;
  font-weight: normal;
  src: url("usmedia-icons.eot") format("embedded-opentype"), url("usmedia-icons.ttf") format("truetype"), url("usmedia-icons.woff") format("woff"), url("usmedia-icons.svg") format("svg");
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
}
@media only screen and (min-width: 321px) and (max-width: 414px) {
}
@media only screen and (min-width: 376px) and (max-width: 568px) {
}
@media only screen and (min-width: 569px) and (max-width: 667px) {
}
@media only screen and (min-width: 668px) and (max-width: 767px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (max-width: 48em) {
}
@media only screen and (min-width: 48em) {
  @media only screen and (min-width: 60.625em) {
  }
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 420px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 79.75em) {
}
@media not all {
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 568px) {
}
@media all and (min-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 971px) and (max-width: 1130px) {
}
@media only screen and (min-width: 769px) and (max-width: 970px) {
}
@media only screen and (min-width: 769px) and (max-width: 970px) {
}
@media only screen and (min-width: 769px) and (max-width: 850px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}
@media not all {
}
@media all and (max-width: 479px) and (min-width: 321px) {
}
@media all and (max-width: 568px) and (min-width: 480px) {
}
@media all and (max-width: 768px) and (min-width: 481px) {
}
@media only print {
}
@media all and (min-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 599px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 24.0625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 320px) {
}
@media only screen and (max-width: 385px) {
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
}
@media only screen and (max-width: 767px) and (min-width: 599px) {
}
@media only screen and (max-width: 768px) and (min-width: 768px) {
}
@media only screen and (min-width: 48em) {
}
@media only screen and (min-width: 79.75em) {
}
@media only screen and (min-width: 767px) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb.pcw/css/global-layout.css?v=20160714112805 ::::: */

@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media all and (min-width: 768px) {
}
@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb/css/global-colors.css?v=20160714112805 ::::: */

@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb.pcw/css/global-colors.css?v=20160714112805 ::::: */

/* ::::: http://www.pcworld.com/www.idgcsmb/css/global-typography.css?v=20160714112805 ::::: */

@font-face {
  font-family: "usmedia-icons";
  font-style: normal;
  font-weight: normal;
  src: url("usmedia-icons.eot") format("embedded-opentype"), url("usmedia-icons_001.woff") format("woff"), url("usmedia-icons_001.ttf") format("truetype"), url("usmedia-icons_001.svg") format("svg");
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}
@media not all {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb.pcw/css/global-typography.css?v=20160714112805 ::::: */

@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
}
@media only screen and (min-width: 48em) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb/css/video.player.css?v=20160714112805 (@media all) ::::: */

@media only screen and (min-width: 1px) and (max-width: 767px) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb/css/search-style.css?v=20160714112805 ::::: */

/* ::::: http://csmb-origin.staticworld.net/css/now.css ::::: */

@media only screen and (min-width: 769px) {
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) and (min-width: 1px) {
}
/* ::::: http://www.pcworld.com/www/css/ecom.css?v=20160714112805 ::::: */

@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
@media only screen and (min-width: 60.625em) {
}
/* ::::: http://www.pcworld.com/www.idgcsmb/css/helpers.css?v=20160714112805 ::::: */

@media print {
  * { background: none repeat scroll 0% 0% transparent ! important; color: black ! important; box-shadow: none ! important; text-shadow: none ! important; filter: none ! important; }
  @page { margin: 0.5cm; }
}
