/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/book/book.css ::::: */
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/node/node.css ::::: */
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/system/defaults.css ::::: */
img { border: 0px none; }
table { border-collapse: collapse; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/system/system.css ::::: */
tbody { border-top: 1px solid rgb(204, 204, 204); }
tbody th { border-bottom: 1px solid rgb(204, 204, 204); }
.breadcrumb { padding-bottom: 0.5em; }
ul.links { margin: 0px; padding: 0px; }
ul.links.inline { display: inline; }
ul.links li { display: inline; list-style-type: none; padding: 0px 0.5em; }
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/user/user.css ::::: */
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/modules/comment/comment.css ::::: */
/* ::::: (end import) ::::: */
/* ::::: [internal] (@media all) ::::: */

/* ::::: (import) http://wtanaka.com/sites/all/themes/render/style.css ::::: */
table { border-collapse: inherit; }
body { background: none repeat scroll 0% 0% white; color: black; font-family: "Georgia",serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Optima","CG Omega","Verdana",sans-serif; }
a { color: rgb(0, 0, 187); }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: rgb(102, 102, 221); }
h1.name { line-height: 95%; padding-bottom: 5px; border-bottom: 1px solid black; margin: 0px 0px 0.75em; }
div.belowheader { position: relative; }
div.has-left-sidebar { margin-left: 170px; }
div#sidebar-left { position: absolute; width: 160px; overflow: hidden; top: 0px; }
ul.primary-links li { padding: 0px; }
ul.primary-links a { display: block; padding: 10px; }
ul.primary-links li a:hover { text-decoration: none; background: url("menubg.gif") repeat-x scroll 0% 0% rgb(238, 238, 238); }
h2.pagetitle { margin-top: 0px; font-size: 2em; text-align: center; }
.breadcrumb { margin: 0px; padding: 0px; font-size: 0.8em; }
div.links ul { display: inline; }
div.goog_plus_authorship { margin-left: 170px; }
div.node { margin: 0px 0px 2em; }
div.story-navigation { margin-bottom: 1em; }
/* ::::: (end import) ::::: */
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

