/* ::::: [internal] ::::: */

/* ::::: (import) https://www.linuxquestions.org/questions/clientscript/vbulletin_css/style-976a09ed-00007.css ::::: */
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); font: 10pt Verdana,Arial,Helvetica,sans-serif; margin: 5px 10px 10px; padding: 0px; }
a:link, body_alink { color: rgb(34, 34, 156); }
a:visited, body_avisited { color: rgb(34, 34, 156); }
a:hover, a:active, body_ahover { color: rgb(255, 51, 0); }
.page { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); border: 0px none; }
.tborder { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1px solid rgb(11, 25, 140); }
.tcat { background: url("gradient_tcat.gif") repeat-x scroll left top rgb(53, 79, 129); color: rgb(255, 255, 255); font-weight: bold; }
.tcat a:link, .tcat_alink { color: rgb(255, 255, 255); text-decoration: none; }
.tcat a:visited, .tcat_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.tcat a:hover, .tcat a:active, .tcat_ahover { color: rgb(255, 255, 102); text-decoration: underline; }
.thead { background: url("gradient_thead.gif") repeat-x scroll left top rgb(53, 79, 129); color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; }
.thead a:link, .thead_alink { color: rgb(255, 255, 255); }
.thead a:visited, .thead_avisited { color: rgb(255, 255, 255); }
.thead a:hover, .thead a:active, .thead_ahover { color: rgb(255, 255, 0); }
.tfoot { background: none repeat scroll 0% 0% rgb(62, 92, 146); color: rgb(224, 224, 246); }
.tfoot a:link, .tfoot_alink { color: rgb(224, 224, 246); }
.tfoot a:visited, .tfoot_avisited { color: rgb(224, 224, 246); }
.tfoot a:hover, .tfoot a:active, .tfoot_ahover { color: rgb(255, 255, 102); }
.alt1, .alt1Active { background: none repeat scroll 0% 0% rgb(230, 230, 230); color: rgb(0, 0, 0); font-size: 10pt; padding: 3px; }
.alt2, .alt2Active { background: none repeat scroll 0% 0% rgb(207, 217, 255); color: rgb(0, 0, 0); font-size: 10pt; padding: 3px; }
textarea, .bginput { font-size: 10pt; }
.button { font-size: 11px; }
.smallfont { font-size: 11px; }
.time { color: rgb(102, 102, 134); }
.navbar { font-size: 11px; }
.vbmenu_control { background: url("gradient_tcat.gif") repeat-x scroll left top rgb(53, 79, 129); color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; padding: 3px 6px; white-space: nowrap; }
.vbmenu_control a:link, .vbmenu_control_alink { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_control a:visited, .vbmenu_control_avisited { color: rgb(255, 255, 255); text-decoration: none; }
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover { color: rgb(255, 255, 255); text-decoration: underline; }
.vbmenu_popup { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1px solid rgb(11, 25, 140); }
.vbmenu_option { background: none repeat scroll 0% 0% rgb(187, 199, 206); color: rgb(0, 0, 0); font-size: 11px; white-space: nowrap; cursor: pointer; }
.vbmenu_option a:link, .vbmenu_option_alink { color: rgb(34, 34, 156); text-decoration: none; }
.vbmenu_option a:visited, .vbmenu_option_avisited { color: rgb(34, 34, 156); text-decoration: none; }
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover { color: rgb(255, 255, 255); text-decoration: none; }
.bigusername { font-size: 12pt; }
td.thead, div.thead { padding: 4px; }
form { display: inline; }
label { cursor: default; }
.inlineimg { vertical-align: middle; }
ul.lqrightmenu a { text-decoration: none; font-size: 10pt; }
ul.lqrightmenu { padding-left: 10px; margin-left: 10px; font-size: 4pt; }
.alt1 .bbcodeblock { background-color: rgb(207, 217, 255); }
/* ::::: (end import) ::::: */
/* ::::: https://www.linuxquestions.org/questions/clientscript/vbulletin_important.css?v=3810b1 ::::: */

form { margin: 0px; }
label { cursor: default; }
.inlineimg { vertical-align: middle; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

