/* ::::: [internal] ::::: */

/* ::::: https://www.howtoforge.com/js/tinymce_4.1.7/skins/lightgray/content.min.css ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; }
@media print {
}
/* ::::: https://www.howtoforge.com/themes/howtoforge/css/custom.css ::::: */

p { font-size: 14px; }
