/* ::::: https://codingstyle-cn.b0.upaiyun.com/assets/front-c14d622c7cd0327f4d6edfa45da3e8cd6a20c66b32f6861da7b4482a76ca16c0.css (@media screen) ::::: */

@media screen {
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
hr { height: 0px; box-sizing: content-box; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
@media print {
  *, *:after, *:before { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0px 0px transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  h2, h3, p { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*:after, *:before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.text-center { text-align: center; }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
abbr[data-original-title], abbr[title] { cursor: help; border-bottom: 1px dotted rgb(119, 119, 119); }
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
code { padding: 2px 4px; font-size: 90%; color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 4px 4px 4px 4px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
  .col-md-9 { width: 75%; }
  .col-md-3 { width: 25%; }
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
@media not all {
}
.form-group { margin-bottom: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-danger { color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); border-color: rgb(212, 63, 58); }
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(172, 41, 37); }
.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger { background-image: none; }
.btn-block { display: block; width: 100%; }
@media (min-width: 768px) {
}
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px 4px 4px 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px; }
}
.navbar-static-top { z-index: 1000; border-width: 0px 0px 1px; }
@media (min-width: 768px) {
  .navbar-static-top { border-radius: 0px 0px 0px 0px; }
}
@media (min-width: 768px) {
}
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:focus, .navbar-brand:hover { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
@media (min-width: 768px) {
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
.navbar-form { padding: 10px 15px; margin: 8px -15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); }
@media (min-width: 768px) {
  .navbar-form .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
}
@media (max-width: 767px) {
  .navbar-form .form-group { margin-bottom: 5px; }
  .navbar-form .form-group:last-child { margin-bottom: 0px; }
}
@media (min-width: 768px) {
  .navbar-form { width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; border: 0px none; box-shadow: none; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; margin-right: -15px; }
  .navbar-right ~ .navbar-right { margin-right: 0px; }
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
.navbar-inverse { background-color: rgb(34, 34, 34); border-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-brand { color: rgb(157, 157, 157); }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > li > a { color: rgb(157, 157, 157); }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { color: rgb(255, 255, 255); background-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.media { margin-top: 15px; }
.media:first-child { margin-top: 0px; }
.media, .media-body { overflow: hidden; }
.media-body { width: 10000px; }
.media-object { display: block; }
.media-right, .media > .pull-right { padding-left: 10px; }
.media-left, .media > .pull-left { padding-right: 10px; }
.media-body, .media-left, .media-right { display: table-cell; vertical-align: top; }
.media-heading { margin-top: 0px; margin-bottom: 5px; }
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-footer { padding: 10px 15px; background-color: rgb(245, 245, 245); border-top: 1px solid rgb(221, 221, 221); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media not all, not all {
}
@media screen and (min-width: 768px) {
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before { display: table; content: " "; }
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after { clear: both; }
.pull-right { float: right ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont-cbb644d0ee730ea57dd5fbae35ef5ba4a41d57a254a6b1215de5c9ff8a321c2d.eot") format("embedded-opentype"), url("fontawesome-webfont-aadc3580d2b64ff5a7e6f1425587db4e8b033efcbf8f5c332ca52a5ed580c87c.woff2") format("woff2"), url("fontawesome-webfont-e3870de89716b72cb61a4bba0e17c75783b361cdaba35ea96961c3070bd8ca18.woff") format("woff"), url("fontawesome-webfont-9e540a087924a6e64790149d735cac022640e4fa6bff6bd65f5e9f41529bf0b3.ttf") format("truetype"), url("fontawesome-webfont-bfdef833219a6edffd9c3cbc28db72739d22bb4d20cc2e2f8d56a7a4d408a206.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; transform: translate(0px, 0px); }
.pull-right { float: right; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-pencil:before { content: ""; }
.fa-times-circle:before { content: ""; }
.fa-arrow-up:before { content: ""; }
.fa-arrow-down:before { content: ""; }
.fa-thumbs-up:before { content: ""; }
.fa-mail-reply:before, .fa-reply:before { content: ""; }
.fa-thumbs-up:before { content: ""; }
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoDraft"), local("RobotoDraft-Regular"), local("Roboto-Regular"), url("RobotoDraftRegular-07f0b8f1a8d489ee696e2b30e2f9806e60fa277bfa7880195a89cf233f132a99.woff2") format("woff2"), url("RobotoDraftRegular-d31817b2200c6f07a4d3be7db42c87ac38afda472535a542cfeebd332ee564d8.woff") format("woff");
}
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), local("Roboto-Medium"), url("RobotoDraftMedium-d34939b53875953dd3a153237f5040bfd72d3858500451051fbf501d4c8c555e.woff2") format("woff2"), url("RobotoDraftMedium-29a55fd07144be2659aa36903b1050929606fa24cc0d06862f9fe839071640ae.woff") format("woff");
}
@font-face {
  font-family: "RobotoDraft";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), local("Roboto-Bold"), url("RobotoDraftBold-45c5e53b2aa4a972786295accb8a5ddb80e2b63d30b4ac7fe67ae9a0a9afa08b.woff2") format("woff2"), url("RobotoDraftBold-91794b53b0bb1b0eff3000cca50501ffb6d8c38a0602054d47c3829a68513a9c.woff") format("woff");
}
@font-face {
  font-family: "RobotoDraft";
  font-style: italic;
  font-weight: 400;
  src: local("RobotoDraft Italic"), local("RobotoDraft-Italic"), local("Roboto-Italic"), url("RobotoDraftItalic-ee503725dbf4d35cfc025676fc768ea4c30f786431383395b0523369537573fa.woff2") format("woff2"), url("RobotoDraftItalic-f191590452c1ea94a8bf5fbee046cfb41e4e1d6a65b168a7c51b34bda4721532.woff") format("woff");
}
@media not all {
}
.fluidbox { outline: medium none; }
.fluidbox-wrap { background-position: center center; background-size: cover; margin: 0px auto; position: relative; transition: all 0.25s ease-in-out 0s; }
.fluidbox-ghost { background-size: cover; background-position: center center; position: absolute; transition: all 0.25s ease-in-out 0s; }
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
body { background: none repeat scroll 0% 0% rgb(231, 234, 236); color: rgb(34, 37, 39); font-family: "RobotoDraft","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; }
.header .navbar { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04); border: 0px none; color: rgb(161, 195, 238); }
.header .navbar-brand { color: rgb(102, 102, 102) ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: bold; }
.header .navbar-brand b { color: rgb(235, 84, 36); }
.header .navbar-default .navbar-brand, .header .navbar-default .navbar-nav > li > a { color: rgb(51, 51, 51); border-bottom: 3px solid rgb(255, 255, 255); padding-bottom: 12px; }
.header .navbar-default .navbar-nav > li > a:active { background-color: rgb(238, 243, 245); border-bottom-color: rgb(153, 153, 153); }
.header .navbar-inverse .navbar-collapse, .header .navbar-inverse .navbar-form { border-color: rgb(161, 195, 238); }
.header .navbar-nav { margin: 0px; }
.header .navbar-nav a { color: rgb(51, 51, 51); }
.header .navbar-nav li.active a, .header .navbar-nav li.active a:focus, .header .navbar-nav li.active a:hover { border-bottom: 3px solid rgb(235, 84, 36); color: rgb(235, 84, 36); background: none repeat scroll 0% 0% transparent; padding-bottom: 12px; }
@media (max-width: 767px) {
  .header .navbar-header { text-align: center; padding: 2px 0px; }
  .header .navbar-header .navbar-brand { font-size: 12px; float: none; margin: 0px auto; height: auto; padding: 0px 10px; }
  .header .navbar-nav { float: left; margin: 0px; }
  .header .navbar-nav > li { float: left; }
  .header .navbar-nav.navbar-right { float: right; }
}
.header .form-search { font-size: 14px; position: relative; margin-top: 13px; margin-right: 10px; }
.header .form-search .fa { color: rgb(51, 51, 51); }
.header .form-search .fa:hover { color: rgb(102, 102, 102); }
.header .form-search .fa-search { cursor: pointer; position: absolute; top: 6px; right: 0px; transition: all 0.3s ease 0s; }
.header .form-search .btn-close { position: absolute; top: 6px; right: 0px; cursor: pointer; transform: scale(0, 0); transition: all 0.3s ease 0s; }
.header .form-search .form-control { font-size: 12px; border: medium none; width: 0px; height: 100%; padding: 6px 1px 4px; margin-left: 4px; background: none repeat scroll 0% 0% transparent; transition: all 0.3s ease 0s; box-sizing: border-box; color: rgb(51, 51, 51); }
.sidebar { padding-left: 5px; }
a { color: rgb(53, 109, 208); }
.btn { border-radius: 3px 3px 3px 3px; border: 1px solid rgb(204, 204, 204); padding: 5px 12px; box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset; }
.btn-primary, .btn-primary:visited { background: none repeat scroll 0% 0% rgb(53, 109, 208); border-color: rgb(13, 84, 171); color: rgb(255, 255, 255); }
.btn-primary:hover { background: none repeat scroll 0% 0% rgb(49, 125, 218); border-color: rgb(53, 109, 208); }
.btn-danger, .btn-danger:visited { background: none repeat scroll 0% 0% rgb(235, 84, 36); border-color: rgb(205, 58, 20); }
.btn-danger:hover { background: none repeat scroll 0% 0% rgb(248, 99, 52); border-color: rgb(235, 84, 36); }
.btn-success, .btn-success:visited { background: none repeat scroll 0% 0% rgb(69, 199, 34); border-color: rgb(57, 182, 24); }
.btn-success:hover { background: none repeat scroll 0% 0% rgb(59, 213, 78); border-color: rgb(69, 199, 34); }
.form-control { border-radius: 0px 0px 0px 0px; border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(213, 220, 225); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 0px 0px rgb(255, 255, 255) inset ! important; padding: 6px 0px; transition: none 0s ease 0s ; }
.form-control:focus { box-shadow: 0px 0px 0px rgb(255, 255, 255) inset; padding: 6px 0px 5px; border-bottom: 2px solid rgb(49, 125, 218); }
abbr[title] { border-bottom: 0px none; cursor: text; }
.panel { border-radius: 3px 3px 3px 3px; border: 0px none; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.09); }
.panel .panel-heading { background: none repeat scroll 0% 0% rgb(245, 245, 245); border-bottom-color: rgb(233, 233, 233); color: rgb(119, 119, 119); }
.panel .panel-footer { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.opts { color: rgb(102, 102, 102); }
.opts a { margin-right: 5px; }
.opts a:link, .opts a:visited { color: rgb(102, 102, 102); text-decoration: none; }
.opts a:hover { color: rgb(102, 102, 102); text-decoration: none; }
html.turbolinks-progress-bar:before { position: absolute ! important; background-color: rgb(235, 84, 36) ! important; height: 2px ! important; }
.pull-right.opts a { margin-left: 5px; margin-right: 0px; }
.avatar .uface, .avatar .media-object { border-radius: 3px 3px 3px 3px; }
.avatar-48 { width: 48px; height: 48px; border-radius: 2px 2px 2px 2px; }
.avatar-120 { width: 80px; height: 80px; border-radius: 2px 2px 2px 2px; }
@media (max-width: 480px) {
  .avatar-48 { width: 32px; height: 32px; }
}
img.emoji { width: 20px; height: 20px; }
@media (max-width: 480px) {
  .hidden-mobile { display: none ! important; }
}
.topics .panel-body { padding: 0px 15px; }
@media (max-width: 991px) {
}
.topics .topic { min-height: 68px; border-bottom: 1px solid rgb(240, 240, 240); padding: 10px 15px; margin: 0px -15px; vertical-align: top; position: relative; }
.topics .topic:last-child { border-bottom: 0px none; }
.topics .topic .avatar { text-align: center; }
.topics .topic .title { font-size: 15px; }
.topics .topic .info { color: rgb(170, 170, 170); font-size: 12px; margin-top: 10px; }
.topics .topic .info .node { padding: 1px 5px; color: rgb(119, 128, 135); text-decoration: none; background-color: rgb(245, 245, 245); }
.topics .topic .info a { color: rgb(102, 102, 102); }
.topics .topic .count { width: 100px; text-align: right; padding-top: 15px; }
.topics .topic .count a:link, .topics .topic .count a:hover, .topics .topic .count a:visited { line-height: 12px; color: rgb(255, 255, 255); font-weight: bold; border-radius: 80px 80px 80px 80px; padding: 2px 10px; display: inline-block; text-decoration: none; }
.topics .topic .count a:link { background: none repeat scroll 0% 0% rgb(152, 172, 223); }
.topics .topic .count a:hover { background: none repeat scroll 0% 0% rgb(0, 105, 214); }
.topics .topic .count a.state-true, .topics .topic .count a:visited { background: none repeat scroll 0% 0% rgb(170, 170, 170); }
.topic-detail { margin-bottom: 30px; }
.topic-detail .panel-heading { padding: 15px; }
.topic-detail .panel-heading h1 { margin-top: 0px; font-size: 24px; color: rgb(51, 51, 51); text-align: left; line-height: 100%; margin-bottom: 8px; }
.topic-detail .panel-heading .avatar { text-align: right; }
.topic-detail .info { color: rgb(192, 192, 192); font-size: 12px; }
.topic-detail .info a { color: rgb(68, 68, 68); }
.topic-detail .info .node { padding: 1px 0px; color: rgb(119, 128, 135); text-decoration: none; background-color: rgb(245, 245, 245); }
#topic-sidebar { position: fixed; width: 260px; }
@media (min-width: 992px) {
  #topic-sidebar { width: 240px; }
}
@media (min-width: 1100px) {
  #topic-sidebar { width: 260px; }
}
#topic-sidebar .group { text-align: center; margin-bottom: 20px; }
#topic-sidebar .buttons { margin-top: 20px; }
#topic-sidebar .buttons .likes a { display: block; width: 90px; margin: 0px auto; border-radius: 5px 5px 5px 5px; padding: 10px 0px; }
#topic-sidebar .buttons .likes a:link, #topic-sidebar .buttons .likes a:hover, #topic-sidebar .buttons .likes a:visited { text-decoration: none; color: rgb(51, 51, 51); }
#topic-sidebar .buttons .likes a:hover { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.03); }
#topic-sidebar .buttons .likes i.fa { display: block; font-size: 40px; margin-bottom: 10px; color: rgb(102, 102, 102); }
#topic-sidebar .reply-buttons { text-align: center; }
#topic-sidebar .reply-buttons .total { margin-bottom: 10px; }
#topic-sidebar a.btn-move-page { color: rgb(102, 102, 102); }
#replies { margin-bottom: 30px; }
#replies .panel-body { padding-top: 0px; padding-bottom: 0px; }
#replies .info .opts a { font-size: 13px; margin-left: 5px; color: rgb(153, 153, 153); }
#replies .info .opts a:hover { color: rgb(51, 51, 51); }
#replies .info .opts a.edit { display: none; }
#replies .reply { margin: 0px -15px; padding: 10px 15px 10px 74px; position: relative; border-bottom: 1px solid rgb(238, 238, 238); }
#replies .reply .infos { min-height: 48px; }
#replies .reply .avatar { position: absolute; top: 10px; left: 15px; }
#replies .reply:last-child { border-bottom: 0px none; }
#replies .reply .avatar { text-align: center; }
#replies .reply .info { font-size: 12px; }
#replies .reply .info .name a { color: rgb(49, 125, 218); }
#replies .reply .info .reply-floor { color: rgb(122, 168, 122); }
@media (max-width: 480px) {
  #replies .reply { padding-left: 57px; }
}
.markdown { position: relative; line-height: 1.8em; font-size: 14px; text-overflow: ellipsis; word-wrap: break-word; font-family: "RobotoDraft","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif ! important; }
.markdown img { max-width: 100%; }
.markdown p, .markdown pre, .markdown ul, .markdown ol, .markdown blockquote { margin-bottom: 16px; }
.markdown p { font-size: 14px; line-height: 1.5em; }
.markdown hr { border-width: 2px 2px 0px; border-style: dashed dashed none; border-color: rgb(240, 244, 246) rgb(240, 244, 246) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 18px auto; width: 50%; }
.markdown p:last-child, .markdown blockquote:last-child, .markdown pre:last-child { margin-bottom: 0px; }
.markdown code { font-size: 12px ! important; background-color: rgb(245, 245, 245) ! important; color: rgb(68, 68, 68) ! important; padding: 1px 2px ! important; border: 0px none; margin: 2px; border-radius: 0px 0px 0px 0px; word-break: break-all; line-height: 20px; font-family: Monaco,Menlo,"Courier New",monospace; }
.markdown a:link, .markdown a:visited { color: rgb(0, 105, 214) ! important; text-decoration: none ! important; }
.markdown a:hover { text-decoration: underline ! important; color: rgb(0, 67, 138) ! important; }
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 { font-weight: bold; text-align: left; margin-top: 10px ! important; margin-bottom: 16px; }
.markdown h2, .markdown h3, .markdown h4 { text-align: left; font-weight: bold; font-size: 16px ! important; line-height: 100%; margin: 16px 0px; color: rgb(85, 85, 85); border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 5px; }
.markdown h2 { font-size: 20px ! important; border-bottom-width: 2px; padding-bottom: 15px; margin-top: 20px; margin-bottom: 20px; color: rgb(17, 17, 17); }
.markdown ul, .markdown ol { list-style-position: inside; list-style-type: square; margin: 0px 0px 20px; padding: 0px 20px; }
.markdown ul li, .markdown ol li { line-height: 1.6em; padding: 2px 0px; color: rgb(51, 51, 51); font-size: 13px; }
.markdown img { vertical-align: top; max-width: 100%; }
.markdown a.zoom-image { cursor: zoom-in; }
.markdown a.at_floor { color: rgb(96, 181, 102) ! important; }
.markdown a.at_user { color: rgb(0, 105, 214) ! important; }
footer { margin-top: 10px; margin-bottom: 20px; color: rgb(156, 164, 169); }
footer a { color: rgb(102, 102, 102); }
footer .links { color: rgb(221, 221, 221); }
@media (min-width: 1100px) {
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
h2 { font-size: 12px; color: rgb(153, 153, 153); line-height: 100%; margin-bottom: 10px; text-align: center; }
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
.fullsize img { width: 100%; height: 100%; max-width: 100%; max-height: 100%; }
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
.sidebar .panel-body { word-break: break-all; }
}
/* ::::: [internal] ::::: */

html.turbolinks-progress-bar:before { content: ""; position: fixed; top: 0px; left: 0px; z-index: 2000; background-color: rgb(0, 118, 255); height: 3px; opacity: 0.99; width: 0%; transition: width 300ms ease-out 0s, opacity 150ms ease-in 0s; transform: translate3d(0px, 0px, 0px); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

