/* ::::: https://www.emacswiki.org/light.css ::::: */

body { margin: 0px 0px 1.5em; padding: 1em; color: rgb(17, 17, 17); background-color: rgb(255, 254, 254); font-size: 100%; }
code, pre { color: rgb(68, 68, 68); background-color: rgb(249, 248, 248); border: 1px solid rgb(221, 221, 221); font-family: monospace; }
code { padding: 1px; }
pre { margin: 1em 0px; padding: 1em 2em; overflow: auto; }
a { color: rgb(0, 102, 187); background-color: inherit; text-decoration: none; }
a:link, a:visited { background-color: inherit; }
a:active, a:hover { color: rgb(0, 153, 221); }
h1, h2, h3, h4 { margin: 0px; padding: 0px; font-weight: normal; line-height: normal; clear: both; }
@media (max-width: 580px) {
}
@media (min-width: 580px) {
}
hr { border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 0px; padding-top: 1em; margin-bottom: 2em; width: 100%; clear: both; }
dt { font-weight: bold; }
div.header {  }
img.logo { display: none; }
a.logo { display: block; background: url("logo218x38.png") repeat scroll 0% 0% transparent; width: 218px; height: 38px; top: 22px; left: 22px; border-bottom: medium none; text-decoration: none; float: left; }
@media (max-width: 580px) {
  form.search { margin-top: 0.5em; }
}
.header .menu { float: right; height: 2.5em; }
form.search { float: right; clear: both; }
.menu p { margin: 0.1em 0px 0px; padding: 0px; }
label[for="searchlang"], input#searchlang { display: none; }
span.bar a { font-size: 1em; color: rgb(68, 68, 68); }
@media (max-width: 580px) {
  span.gotobar { float: left; margin-top: 0.5em; }
  span.gotobar a + a:before { content: "|"; color: rgb(204, 204, 204); }
}
@media (min-width: 580px) {
  span.gotobar { position: absolute; top: 3.5em; left: 20px; width: 140px; padding-right: 1em; padding-top: 30px; border-top: 1px solid rgb(170, 170, 170); }
  span.gotobar a { display: block; margin-top: 0.5em; }
}
span.gotobar { line-height: 1em; }
span.gotobar a { border-bottom: medium none; text-decoration: none; }
span.gotobar a:hover { color: rgb(0, 153, 221); }
@media (max-width: 580px) {
  div.header h1 { margin-top: 1em; float: left; clear: both; font-size: 2em; }
}
@media (min-width: 580px) {
  div.header h1 { margin-left: 160px; border-left: 1px solid rgb(170, 170, 170); border-top: 1px solid rgb(170, 170, 170); padding-left: 20px; font-size: 2.5em; }
}
div.header h1 { padding-top: 30px; }
div.header h1 a { color: inherit; background-color: inherit; border-bottom: medium none; text-decoration: none; }
@media (max-width: 580px) {
  div.content, div.rc, div.diff, div.comment { clear: both; }
}
@media (min-width: 580px) {
  div.content, div.rc, div.diff, div.comment { margin-left: 160px; border-left: 1px solid rgb(170, 170, 170); padding: 1em; }
}
div.content, div.rc, div.diff, div.comment { min-height: 14em; }
div.content { padding-top: 0.5em; }
div.footer { clear: both; font-size: 0.9em; }
div.footer hr { margin: 0px 0px 1em; padding: 0px; border-bottom: 1px solid rgb(170, 170, 170); }
div.time a.author, div.time a.diff { color: gray; border-bottom: 1px dotted rgb(0, 153, 204); }
div.time a.author:hover, div.time a.diff:hover { color: rgb(0, 153, 221); }
@media (max-width: 580px) {
  .footer .licence { display: none; }
}
p.legal { margin: 0px; padding: 0px; font-style: italic; font-size: 1.1em; }
p.legal a { color: gray; border-bottom: 1px dotted rgb(0, 153, 204); }
p.legal a:hover { color: rgb(0, 153, 221); }
.footer span.translation.bar { display: block; text-align: center; font-size: 0.9em; }
.footer .translation br { display: none; }
.footer .translation a { border-bottom: 1px dotted rgb(0, 153, 204); }
.footer .translation a:hover { color: rgb(0, 153, 221); }
.footer .edit.bar { display: block; text-align: center; padding: 5px 0px 15px; }
.footer div.time { display: block; text-align: center; margin-bottom: 1em; }
.edit.bar a { display: inline-block; padding: 4px 12px; margin-bottom: 0px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; color: rgb(51, 51, 51); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 0px; border-style: none; border-color: -moz-use-text-color -moz-use-text-color rgb(179, 179, 179); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px 4px 4px 4px; margin-left: 0.3em; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.edit.bar a:hover, .edit.bar a:focus, .edit.bar a:active, .edit.bar a.active, .edit.bar a.disabled, .edit.bar a[disabled] { background-image: linear-gradient(to bottom, rgb(248, 248, 248), rgb(240, 240, 240)); }
.edit.bar a:active, .edit.bar a.active { background-color: rgb(204, 204, 204); }
@media print {
  div.diff, div.diff + hr, div.refer, div.near, div.sister, div.cal, div.footer, span.specialdays, span.gotobar, a.edit, a.number span, div.rc form, div.definition { display: none; }
  body { font: 12pt "Neep","Arial",sans-serif; color: rgb(0, 0, 0); }
  a:link, a:visited { color: rgb(0, 0, 0); text-decoration: none; font-style: oblique; }
}
span.function { color: rgb(0, 0, 255); }
span.keyword { color: rgb(127, 0, 127); }
span.string { color: rgb(139, 71, 93); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

