/* ::::: http://dominik.honnef.co/css/style.css (@media screen) ::::: */

@media screen {
@charset "UTF-8";
* { margin: 0px; padding: 0px; }
body { font-size: 100%; color: rgb(34, 34, 34); }
h1, h2, h3, h4, h5, h6 { font-family: 'Helvetica Neue',Arial,sans-serif; line-height: 1.2em; }
h1 { font-size: 2em; }
h2 { font-size: 1.9em; }
header, footer { display: block; }
a { color: rgb(75, 96, 139); text-decoration: none; }
a:link, a:visited, a:active { color: rgb(75, 96, 139); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0px none; }
p, ul, ol, pre, hr { margin-bottom: 1em; }
#top { padding: 15px 0px; border-bottom: 1px solid rgb(229, 229, 229); background: none repeat scroll 0% 0% rgb(247, 247, 247); }
#top div { width: 700px; margin: 0px auto; }
#top h1 { font-size: 1.5em; }
#top h1 a { color: rgb(83, 83, 83); }
#top .feed { float: right; text-align: right; position: relative; top: -27px; width: 40px; }
#content { width: 700px; margin: 20px auto 0px; border-bottom: 1px solid rgb(153, 153, 153); }
#content h2 { font-size: 1em; }
ul { margin-left: 20px; }
ul.postlist, ul#pagelist { margin: 0px 0px 20px; list-style-type: none; }
.postlist li { padding: 5px 0px; }
.postlist li .timestamp { color: rgb(102, 102, 102); font-size: 12px; font-family: Monaco,"Courier New",monospace; }
.postlist li .timestamp:after { margin-left: 2px; margin-right: 5px; content: "»"; }
#article_navigation h3 { margin-top: 20px; }
#article_navigation .postlist { margin: 0px 0px 10px; }
#article_navigation .postlist li { line-height: 140%; padding: 0px; }
#footer { width: 700px; margin: 0px auto 20px; font-size: 0.7em; color: rgb(108, 108, 108); padding: 10px 0px; line-height: 160%; text-transform: uppercase; }
#footer p.left { float: left; }
#footer p.right { float: right; text-align: right; }
pre { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); line-height: 140%; }
.post { display: block; font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif; line-height: 160%; }
.post h2 { margin-bottom: 20px; font-size: 1.7em ! important; }
.post .meta { margin-top: 10px; }
dt { font-weight: bold; }
dd { margin-left: 10px; }
code { white-space: nowrap; }
pre code { white-space: pre; }
#hire-me { background-color: rgb(255, 255, 208); text-align: center; margin-bottom: 10px; }
#hire-me a { font-weight: bold; }
}
/* ::::: http://dominik.honnef.co/css/pygments.css (@media screen) ::::: */

@media screen {
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

