/* ::::: http://kfo.ath.cx/windowmaker/2012_windowmaker.info/css/ie.css (@media screen) ::::: */

@media screen {
p { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11pt; }
body { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11pt; }
li { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10pt; }
.title { font-family: verdana,arial,helvetica; font-size: 18pt; font-weight: bold; color: rgb(0, 0, 0); }
.subtitle { font-family: verdana,arial,helvetica; font-size: 13pt; font-weight: bold; color: rgb(0, 0, 0); }
.white { color: rgb(255, 255, 255); }
.navigation { color: rgb(255, 255, 255); text-decoration: none; }
.navigation:hover { color: rgb(255, 255, 255); text-decoration: underline; }
td { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11pt; }
a { font-family: verdana,arial,helvetica; font-size: 10pt; color: rgb(0, 0, 0); }
.menu { font-family: verdana,arial,helvetica; font-size: 9pt; color: rgb(0, 0, 0); text-decoration: none; }
.menu:hover { font-family: verdana,arial,helvetica; text-decoration: underline; }
.menuforum { font-family: verdana,arial,helvetica; font-size: 70%; color: rgb(0, 0, 0); text-decoration: none; }
.menuforum:hover { font-family: verdana,arial,helvetica; text-decoration: underline; }
.outbound { background-color: rgb(56, 87, 144); }
.inbound { background-color: rgb(255, 255, 255); }
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

