/* ::::: [internal] ::::: */

H1 { font-size: 2.5em; font-weight: normal; margin: 0px; }
H2 { font-size: 1.8em; font-weight: normal; margin: 0px; }
H3 { font-size: 1.4em; font-weight: normal; margin: 0px; }
body { font-family: Arial,sans-serif; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

