/* ::::: https://yakking.branchable.com/style.css ::::: */

.header { margin: 0px; font-size: 140%; font-weight: bold; line-height: 1em; display: block; }
.actions ul { margin: 0px; padding: 6px 0.4em; height: 1em; list-style-type: none; }
.actions li { display: inline; padding: 0.2em; }
.pageheader .actions ul { border-bottom: 1px solid rgb(0, 0, 0); }
.pagefooter, .inlinefooter, .comments { clear: both; }
#pageinfo { margin: 1em 0px; border-top: 1px solid rgb(0, 0, 0); }
.tags { margin-top: 1em; }
#searchform { display: inline; float: right; }
img { border-style: none; }
pre { overflow: auto; }
.pagedate, .pagelicense, .pagecopyright { font-style: italic; display: block; margin-top: 1em; }
.sidebar { width: 20ex; float: right; margin-left: 4px; margin-bottom: 4px; margin-top: -1px; padding: 0ex 2ex; background: none repeat scroll 0% 0% white; border: 1px solid black; color: black ! important; }
@media print {
  .actions { display: none; }
  .tags { display: none; }
  .trails { display: none; }
  #searchform { display: none; }
}
.popup { border-bottom: 1px dotted rgb(51, 102, 102); color: rgb(51, 102, 102); }
.popup .balloon, .popup .paren, .popup .expand { display: none; text-align: left; }
.popup:hover .balloon, .popup:focus .balloon { position: absolute; display: inline; margin: 1em 0px 0px -2em; padding: 0.625em; border: 2px solid; background-color: rgb(221, 238, 238); color: black; }
input#searchbox { background: url("search-bg.gif") no-repeat scroll 100% 50% rgb(255, 255, 255); color: rgb(0, 0, 0); padding-right: 16px; }
.month-calendar-day-this-day, .year-calendar-this-month { background-color: rgb(238, 238, 238); }
.month-calendar-day-head, .month-calendar-day-nolink, .month-calendar-day-link, .month-calendar-day-this-day, .month-calendar-day-future { text-align: right; }
.month-calendar-arrow A:link, .year-calendar-arrow A:link, .month-calendar-arrow A:visited, .year-calendar-arrow A:visited { text-decoration: none; font-weight: normal; font-size: 150%; }
.smallestPC { font-size: 70%; }
.smallPC { font-size: 85%; }
.normalPC { font-size: 100%; }
.biggestPC { font-size: 130%; }
.trails { margin-top: 1em; margin-bottom: 1em; }
.trail { display: block; clear: both; position: relative; }
.trailprev { display: block; text-align: left; position: absolute; top: 0%; left: 3%; width: 30%; }
.trailup { display: block; text-align: center; margin-left: 35%; margin-right: 35%; }
.trailnext { display: block; text-align: right; position: absolute; top: 0%; width: 30%; right: 3%; }
.trailsep { display: none; }
@media (max-width: 600px) {
  .sidebar { width: auto; float: none; margin-top: 0px; border: medium none; }
  .page { display: flex; flex-direction: column; }
  .sidebar, #footer { order: 1; }
}
a { text-decoration: none; color: rgb(0, 90, 156); }
a:hover { text-decoration: underline; }
hr { border-style: none; background-color: rgb(153, 153, 153); height: 1px; }
code, pre { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
pre { padding: 0.5em; }
body { margin: 0px; padding: 0px; font-family: sans-serif; color: black; background: none repeat scroll 0% 0% white; }
.pageheader { margin: 0px; padding: 1em 2em; position: relative; overflow: hidden; background: none repeat scroll 0% 0% rgb(238, 238, 238); border-color: rgb(153, 153, 153); border-style: none none solid; border-width: 1px; }
.pageheader .header { float: left; font-size: 120%; }
.header { font-weight: normal; }
.title { display: block; margin-top: 0.2em; font: 140% sans-serif; }
#searchform { position: absolute; top: 0.5em; right: 2em; }
.pageheader .actions { position: absolute; bottom: 0px; right: 2em; width: 100%; text-align: right; padding: 2px; }
#content, #enclosure, #comments, #footer { margin: 1em 2em; }
#pageinfo { border-color: rgb(153, 153, 153); }
h1 { font: 120% sans-serif; }
h2 { font: bold 100% sans-serif; }
.pageheader .actions ul { border-style: none; }
.actions ul { padding: 0px; border-style: none; }
.actions ul li a { text-decoration: none; }
.pageheader .actions ul li { margin: 0px; padding: 0.1em 0.5em 0px; background: none repeat scroll 0% 0% white; border-color: rgb(153, 153, 153); border-style: solid solid none; border-width: 1px; }
.sidebar { border-bottom: 0px none rgb(153, 153, 153); border-right: 0px none rgb(153, 153, 153); border-top: 0px none rgb(153, 153, 153); margin-top: 0.5em; padding: 0px 0px 0px 2ex; border-color: rgb(153, 153, 153); }
.pageheader .trails { margin-bottom: 2em; }
@media (max-width: 600px) {
  #content, #enclosure, #comments, #footer { margin: 0.5em; }
  .pageheader .actions ul li { padding: 0.1em 0.2em 0px; font-size: 0.8em; }
}
/* ::::: https://yakking.branchable.com/local.css ::::: */

/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

