/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,700 ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff") format("woff");
}
/* ::::: [internal] ::::: */

a { color: rgb(35, 77, 167); }
/* ::::: [internal] ::::: */

@media screen {
  em.diigoHighlight { text-align: inherit; text-decoration: inherit; font: inherit; color: inherit; display: inline; position: relative; }
  em.diigoHighlight.a_style.green { background-color: rgb(178, 229, 126); }
  div.diigoIcon { cursor: pointer ! important; margin: 0pt; padding: 0px; position: absolute; display: none; width: 24px ! important; z-index: 999999; height: 23px ! important; background: url("chrome://diigotb/skin/edit-highlight.png") no-repeat scroll left center transparent; }
  div.diigoIcon:hover { background-color: transparent ! important; background-repeat: no-repeat ! important; background-position: right center ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

