/* ::::: http://images.51cto.com/images/art1105/css/grid.css ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0px; padding: 0px; color: rgb(51, 51, 51); }
body { font: 12px/1.5 宋体; margin: 0px auto; }
ul, ol, li { list-style: none outside none; word-wrap: break-word; word-break: normal; }
p, h1, h2, h3 { background-color: transparent; }
a { color: rgb(0, 66, 118); text-decoration: none; }
a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
h5 { font-size: 12px; }
img { border: 0px none; }
.fl { float: left; }
.fr { float: right; }
br { clear: both; width: 0px; height: 0px; }
#hd, #ft { text-align: center; }
#ft { border-top: 1px solid rgb(0, 0, 0); line-height: 24px; padding-top: 5px; width: 960px; margin: 10px auto 0px; }
.g_13 { width: 310px; }
.g_13 a { color: rgb(0, 0, 0); }
.g_13 a:hover { color: rgb(204, 0, 0); }
.g_26 { width: 635px; }
.g_26 a { color: rgb(0, 66, 118); }
.g_26 a:hover { color: rgb(204, 0, 0); }
.g_39 { width: 960px; margin: 0px auto; clear: both; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f12-b, .f14-b, .f16-b { font-family: arial; font-weight: bold; }
.f14-b { font-size: 14px; }
.f16-b { font-size: 16px; }
.green { color: rgb(0, 102, 0); }
.underline { text-decoration: underline ! important; }
.bgF8F8F8 { background: none repeat scroll 0% 0% rgb(248, 248, 248); }
.myon { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: medium none; }
.b3-s-4273B3 { border-top: 3px solid rgb(66, 115, 179); }
.mb10 { margin-bottom: 10px; }
#list4 { width: 198px; height: 88px; border: 1px solid rgb(211, 211, 211); }
#list4 a { color: rgb(51, 51, 51); }
#list4 ul { padding: 5px 0px 0px 10px; }
#list4 li { background: url("0.gif") no-repeat scroll -497px 2px transparent; line-height: 20px; padding-left: 8px; }
.fixfloat:after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; }
.fixfloat { display: block; }
.menu { margin-bottom: 4px; }
.subNav_logo { float: left; padding: 7px 14px 0px 0px; font: 700 18px/24px Microsoft YaHei,SimHei; color: rgb(0, 0, 0); background: url("arrow.gif") no-repeat scroll 100% 15px transparent; }
.subNav_l { float: left; padding: 12px 0px 0px 20px; }
.subNav_l a { color: rgb(51, 51, 51); padding: 0px 1px; }
.search { padding-top: 3px; width: 270px; }
.search dl { height: 32px; width: 270px; }
.search dt { height: 28px; width: 197px; }
.search dd { background: url("0.gif") no-repeat scroll -130px 0px transparent; width: 73px; height: 32px; }
.search .input { background: url("0.gif") repeat scroll 0px -40px transparent; border-color: rgb(181, 181, 181) -moz-use-text-color rgb(181, 181, 181) rgb(181, 181, 181); border-style: solid none solid solid; border-width: 1px 0px 1px 1px; width: 192px; height: 27px; padding: 3px 0px 0px 4px; color: rgb(204, 204, 204); }
.crumb { color: rgb(0, 66, 118); line-height: 18px; background: none repeat scroll 0% 0% rgb(248, 248, 248); }
.crumb b { font-weight: 400; }
.crumb a { margin: 0px 6px; }
.crumb a:hover { text-decoration: underline; }
.brief { width: 597px; padding: 12px 18px 0px; margin-top: 10px; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(216, 217, 217) rgb(216, 217, 217) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.brief h1 { height: auto; font-size: 22px; color: rgb(0, 0, 0); font-weight: bold; line-height: 42px; padding-top: 12px; text-align: center; border-bottom: 1px solid rgb(216, 217, 217); }
.brief .msg { color: rgb(105, 105, 105); line-height: 36px; text-align: center; position: relative; }
.brief .brieftext { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px dashed rgb(115, 160, 207); line-height: 26px; padding: 8px 12px; }
.brief .brieftext a { margin: 5px; }
.brief .ad { text-align: right; }
.brief .fav { width: 49px; height: 38px; padding: 4px 0px 0px 8px; position: absolute; top: 5px; right: 0px; }
.tag { width: 635px; line-height: 18px; margin-bottom: 10px; padding-top: 7px; padding-bottom: 4px; }
.content { padding: 12px 18px 0px; border-right: 1px solid rgb(216, 217, 217); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(216, 217, 217) rgb(216, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; line-height: 28px; margin-bottom: 10px; position: relative; min-height: 500px; overflow: hidden; }
.content p { text-indent: 28px; margin: 10px 0px; }
.content p strong { font-weight: bold; text-align: center; }
.content a { text-decoration: none; }
.content a:hover { color: rgb(255, 0, 0); text-decoration: underline; }
.tips { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(216, 217, 217); height: 27px; line-height: 22px; padding: 8px 10px 0px 15px; margin: 0px -18px; font-size: 12px; }
.tips a { font-size: 12px; text-decoration: none; color: rgb(115, 160, 207); }
.tips a:hover { text-decoration: underline; }
.tips .fr a { padding: 0px 5px; }
.focus { border: 1px solid rgb(216, 217, 217); width: 300px; padding: 0px 3px 5px 5px; margin: 10px 0px; height: 580px; position: relative; }
.focus ul li { line-height: 18px; margin: 0px 0px 6px; }
.focus .tit a { line-height: 24px; font-family: arial; font-weight: bold; font-size: 14px; }
.focus .tit em { width: 40px; height: 18px; background-color: rgb(204, 0, 0); color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; text-align: center; display: block; padding-top: 4px; float: left; margin: 0px 5px 0px 0px; font-style: normal; }
.focus dl { width: 286px; height: 70px; }
.focus dt { width: 145px; height: 70px; float: left; }
.focus dd { width: 135px; height: 70px; float: left; line-height: 22px; }
.rank { border: 1px solid rgb(216, 217, 217); margin-bottom: 10px; }
.rank .tlt { background: url("0.gif") no-repeat scroll 0px -276px transparent; height: 30px; }
.rank .tlt a { width: 56px; height: 22px; text-align: center; float: right; display: block; padding-top: 8px; border-left: 1px solid rgb(216, 217, 217); }
.rank h3 { background: url("0.gif") no-repeat scroll 0px -76px transparent; float: left; font-size: 14px; font-weight: bold; height: 20px; margin: 5px 0px 0px 8px; padding-left: 10px; }
.rank ul { background: url("0.gif") no-repeat scroll 0px -306px transparent; line-height: 24px; margin: 6px 0px 0px 8px; padding-left: 22px; }
.tagCloud { border: 1px solid rgb(216, 217, 217); margin-bottom: 10px; width: 310px; padding-bottom: 4px; }
.tagCloud a { text-decoration: none; color: rgb(0, 66, 118); }
.tagCloud a:hover { text-decoration: underline; }
.tagCloud .tlt { background: url("0.gif") no-repeat scroll 0px -276px transparent; height: 30px; }
.tagCloud .taglist { padding: 5px 0px 5px 10px; line-height: 24px; }
.tagCloud .taglist .imp { color: rgb(255, 0, 0); font-weight: 700; font-size: 14px; }
.taglist a { display: inline-block; padding-right: 10px; }
.tagCloud h3 { background: url("0.gif") no-repeat scroll 0px -76px transparent; float: left; font-size: 14px; font-weight: bold; height: 20px; margin: 5px 0px 0px 8px; padding-left: 10px; }
.rss { background: url("0.gif") no-repeat scroll 0px -630px transparent; border: 1px solid rgb(216, 217, 217); height: 115px; margin-bottom: 10px; }
.rss a { text-decoration: underline; color: rgb(0, 66, 118); }
.rss ul { padding-right: 14px; text-align: right; padding-top: 50px; height: 20px; }
.rss dl { width: 205px; height: 20px; padding: 8px 0px 0px 90px; }
.rss dt { width: 143px; height: 20px; float: left; }
.rss dd { width: 57px; height: 20px; float: left; }
.more { height: 15px; float: right; display: block; padding: 7px 10px 0px 0px; }
.tj { border: 1px solid rgb(216, 217, 217); margin-bottom: 10px; width: 310px; }
.tj .tlt { background: url("0.gif") no-repeat scroll 0px -276px transparent; height: 30px; }
.tj h3 { background: url("0.gif") no-repeat scroll 0px -76px transparent; float: left; height: 20px; font-size: 14px; font-weight: bold; margin: 5px 0px 0px 8px; padding-left: 10px; }
.tj ul { line-height: 24px; margin: 6px 0px 5px 12px; }
.tj li { background: url("dian.gif") no-repeat scroll 0px 50% transparent; padding-left: 10px; }
.picAD { padding: 3px; }
pre { font-family: 'Courier New',Monospace; font-size: 12px; width: 99%; overflow: auto; margin: 0px 0px 1em; background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.content ol li { list-style-type: decimal; }
.content ol li a { text-decoration: underline; }
.content ol { margin-left: 55px; }
.rank ul li { width: 270px; overflow: hidden; white-space: nowrap; }
.c666 { color: rgb(102, 102, 102); }
.rel { position: relative; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.bor { border: 1px solid rgb(216, 217, 217); }
.fl { float: left; }
.fr { float: right; }
.blue, .blue a, .blue a:link, .blue a:visited, a.blue:link, a.blue:visited { color: rgb(0, 66, 118); }
.blank10 { height: 10px; overflow: hidden; clear: both; }
.blank1 { height: 1px; overflow: hidden; clear: both; }
.titbg { background: url("titbg.gif") repeat-x scroll 0% 0% transparent; height: 30px; line-height: 30px; clear: both; }
.titbg a { padding: 0px 4px; }
.titbg .t1 { background: url("0.gif") no-repeat scroll 10px -70px transparent; font-size: 14px; font-weight: 700; padding-left: 20px; }
.titbg .t2 { font-size: 14px; font-weight: 700; padding-left: 12px; }
.tmore { padding: 5px 10px 0px 0px; float: right; }
.list02 li { background: url("list.jpg") no-repeat scroll 0px 50% transparent; padding-left: 10px; line-height: 24px; }
.list03 { padding: 7px 0px 8px 12px; }
.list03 li { background: url("dian.gif") no-repeat scroll 0px 50% transparent; padding-left: 10px; line-height: 24px; }
.reltag { padding: 15px 0px 0px 15px; height: 125px; }
.reltag .fl { width: 310px; border-right: 1px dashed rgb(216, 217, 217); }
.reltag .fr { width: 277px; padding-right: 10px; line-height: 22px; }
.reltag .fr .h5 { padding-bottom: 3px; }
.reltag .fr img { padding: 2px; border: 1px solid rgb(204, 204, 204); float: left; margin-right: 10px; }
.relart, .cathot { width: 307px; }
.relart ul, .cathot ul { padding: 10px 0px 8px 14px; }
.relart li, .cathot li { background: url("dian.gif") no-repeat scroll 0px 50% transparent; padding-left: 10px; line-height: 24px; }
.relart li a:link, .cathot li a:link, .relart li a:visited, .cathot li a:visited { color: rgb(51, 51, 51); }
.xtlist { margin: 12px 0px 5px 12px; }
.xtlist li { width: 600px; height: 30px; border-bottom: 1px dashed rgb(198, 218, 234); margin: 0px 0px 7px; }
.xtlist li.last { border-bottom: medium none ! important; }
.xtlist .tit { background: none repeat scroll 0% 0% rgb(0, 81, 151); height: 19px; float: left; padding: 3px 0px 0px; width: 80px; text-align: center; color: rgb(255, 255, 255); margin: 2px 0px 0px; display: inline; font-weight: 400; font-size: 12px; }
.xtlist div { float: right; height: 26px; line-height: 26px; padding: 3px 0px 0px; width: 510px; }
.xtlist div a { padding: 0px 5px; }
.hotTag { height: 36px; line-height: 36px; padding: 0px 0px 0px 14px; }
.hotTag a { padding: 0px 12px 0px 0px; }
.jdlist { height: 176px; }
.jdlist li { width: 115px; float: left; text-align: center; background: none repeat scroll 0% 0% rgb(251, 251, 251); height: 127px; padding-top: 8px; margin: 4px 0px 0px 7px; display: inline; }
.jdlist li a { display: block; }
.hot { background: url("hotbg.gif") no-repeat scroll 0% 0% transparent; height: 186px; padding: 10px 0px 0px 9px; margin: 5px 0px 0px; position: absolute; top: 395px; left: 5px; }
.hot ul { padding: 0px 0px 0px 3px; }
.hotlist { border-top: 1px dashed rgb(204, 204, 204); margin: 10px 18px 0px 4px; padding: 6px 0px 0px; }
.hotlist li { background: url("list.jpg") no-repeat scroll 4px 50% transparent; padding-left: 14px; line-height: 24px; }
.plist01 { margin: 12px 10px 0px 12px; }
.plist01 li { height: 100px; clear: both; line-height: 22px; }
.plist01 img { float: left; margin-right: 10px; border: 1px solid rgb(204, 204, 204); padding: 2px; }
.rmzwn_xx { margin-left: 10px; width: 280px; }
.rmzwn_xx dl { width: 280px; padding-top: 8px; height: 45px; border-bottom: 1px dashed rgb(229, 229, 229); }
.rmzwn_xx dt { width: 280px; height: 23px; color: rgb(51, 51, 51); font-size: 14px; }
.rmzwn_xx dt { color: rgb(51, 51, 51); font-size: 14px; }
.rmzwn_xx dd { width: 280px; }
.rmzwn_xx dd h2 { width: 115px; float: left; color: rgb(102, 102, 102); font-size: 12px; font-weight: 100; }
.rmzwn_xx dd span { width: 60px; float: left; color: rgb(190, 0, 0); font-size: 12px; }
.rmzwn_xx dd a { width: 100px; float: left; color: rgb(51, 51, 51); font-size: 12px; text-align: right; }
.webhot { height: 127px; padding-top: 11px; background: url("bgx.jpg") repeat-x scroll 0% 0% transparent; }
.webhot ul { margin: 0px 0px 7px 4px; }
.webhot li { width: 136px; float: left; text-align: center; margin: 0px 7px; display: inline; line-height: 18px; }
.webhot li img { margin-bottom: 5px; width: 136px; height: 70px; }
.webhot li a { display: block; }
.catbook { background: url("bgx.jpg") repeat-x scroll 0% 0% transparent; height: 116px; padding: 11px 0px 0px 14px; }
.catbook img { border: 1px solid rgb(55, 55, 55); float: left; margin-right: 10px; }
.catbook .text { line-height: 20px; padding: 5px 5px 0px 0px; }
.vlist { margin-bottom: 10px; }
.vlist li { position: relative; }
.vlist li h5 { max-height: 40px; line-height: 20px; overflow: hidden; padding-bottom: 5px; }
.vlist li img { width: 107px; }
.vlist li .c666 { text-align: left; height: 40px; line-height: 20px; }
.vlist li a.ico { position: absolute; background: url("eduplay.png") repeat scroll 0% 0% transparent; width: 25px; height: 25px; left: 45px; top: 30px; }
/* ::::: http://images.51cto.com/images/art/css/art_master_top.css ::::: */

body { margin: 0px; }
img { border: medium none; }
.logo_51cto { background: url("51.gif") no-repeat scroll 0px 0px transparent; float: left; width: 85px; height: 15px; margin-top: 3px; }
#home_top { margin: auto; height: 35px; background-image: url("top_bg.gif"); font-size: 12px; }
#home_top .top_nav { margin: auto; width: 960px; height: 35px; font-size: 12px; }
#home_top .top_nav .left { width: 420px; float: left; text-align: left; color: rgb(105, 105, 105); margin-top: 6px; }
#home_top .top_nav .left a { padding: 2px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .left a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(74, 74, 74); color: rgb(255, 255, 255); }
#home_top .top_nav .right { float: right; color: rgb(105, 105, 105); text-align: right; }
#home_top .top_nav .right .login { color: rgb(105, 105, 105); text-align: right; margin-right: 6px; float: right; padding: 2px; }
#home_top .top_nav .right .login a { color: rgb(0, 95, 171); padding: 2px; margin-left: 2px; margin-right: 2px; margin-top: 5px; text-decoration: underline; text-align: right; }
#home_top .top_nav .right .login a:hover { padding: 2px; text-decoration: none; background: none repeat scroll 0% 0% rgb(74, 74, 74); color: rgb(255, 255, 255); }
#home_top .top_nav .right .more { float: right; padding: 10px 0px 3px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .right .more a { padding: 2px; color: rgb(105, 105, 105); text-decoration: none; }
#home_top .top_nav .right .more a:hover { padding: 2px; text-decoration: none; background: none repeat scroll 0% 0% rgb(74, 74, 74); color: rgb(255, 255, 255); }
#s1 li, #s2 li, #s3 li { background: none repeat scroll 0% 0% transparent ! important; }
.subMenu1 { width: 85px; border: 1px solid rgb(206, 206, 206); text-align: center; position: absolute; display: none; background-color: rgb(255, 255, 255); z-index: 1000; }
.subMenu2 { width: 110px; border: 1px solid rgb(206, 206, 206); text-align: center; position: absolute; display: none; background-color: rgb(255, 255, 255); z-index: 1000; }
.subMenu3 { width: 60px; border: 1px solid rgb(206, 206, 206); text-align: center; position: absolute; display: none; background-color: rgb(255, 255, 255); z-index: 1000; }
.subMenu1 a { padding-left: 10px; line-height: 24px; text-align: left; display: block; height: 20px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu1 a:hover { text-decoration: none; background: none no-repeat scroll 0% 0% rgb(235, 235, 235); color: rgb(204, 0, 0); }
.subMenu1 ul { margin: 0px; padding: 0px; }
.subMenu1 li { padding: 1px 0px 0px; list-style: none outside none; font-size: 12px; background-color: rgb(255, 255, 255); }
.subMenu2 a { padding-left: 10px; line-height: 24px; text-align: left; display: block; height: 24px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu2 a:hover { text-decoration: none; background: none no-repeat scroll 0% 0% rgb(235, 235, 235); color: rgb(204, 0, 0); }
.subMenu2 ul { margin: 0px; padding: 0px; }
.subMenu2 li { padding: 1px 0px 0px; list-style: none outside none; font-size: 12px; background-color: rgb(255, 255, 255); }
.subMenu3 a { padding-left: 10px; line-height: 24px; text-align: left; display: block; height: 24px; padding-top: 1px; color: rgb(0, 0, 0); text-decoration: none; }
.subMenu3 a:hover { text-decoration: none; background: none no-repeat scroll 0% 0% rgb(235, 235, 235); color: rgb(204, 0, 0); }
.subMenu3 ul { margin: 0px; padding: 0px; }
.subMenu3 li { padding: 1px 0px 0px; list-style: none outside none; font-size: 12px; background-color: rgb(255, 255, 255); }
.subweb { border: 1px solid rgb(204, 204, 204); width: 960px; margin: 10px auto; clear: both; }
.subweb h4 { padding: 7px 0px 6px 10px; font-weight: 700; font-size: 14px; background: none repeat scroll 0% 0% rgb(248, 248, 248); color: rgb(51, 51, 51); margin: 0px; }
.subweb div { padding: 10px 0px 10px 14px; }
.subweb a { display: inline-block; padding-right: 20px; line-height: 26px; font-size: 12px; }
.subweb a:link, .subweb a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.subweb a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
/* ::::: http://book.51cto.com/images/bookspec/css/css3.css ::::: */

.artHd { height: 35px; line-height: 30px; border-top: 1px dashed rgb(204, 204, 204); color: rgb(50, 91, 10); }
/* ::::: [internal] ::::: */

.bds_tools a { padding: 0px; margin: 0px; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

