/* ::::: http://www.dayid.org/support/light.css ::::: */

body { background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(85, 85, 85); }
html body { min-width: 500px; max-width: 99%; width: auto; font-size: 14px; }
a:link { color: rgb(85, 85, 85); }
a:visited { color: rgb(0, 0, 0); }
a:active { color: rgb(255, 255, 255); }
a:hover { color: rgb(51, 51, 51); }
div#content { background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 3px double rgb(0, 0, 0); padding-left: 10px; }
div#footer { color: rgb(0, 0, 0); font-size: 11px; text-align: center; }
h1 { font-size: 20px; }
