/* ::::: file:///home/bamanzi/Documents/scrapbook2016/data/20160721101620/index.css (@media all) ::::: */

body { font-family: Arial; }
p.filename { font-size: 0.8em; }
p.filename { font-style: italic; }
.centeralign { text-align: center; }
.spacing15 { line-height: 300%; }
PRE.example { background: none repeat scroll 0% 0% rgb(219, 240, 247); }
PRE.example { border-width: thin; }
PRE.example { border-style: none; }
PRE.example { border-left-style: solid; }
PRE.example { border-left-color: rgb(116, 186, 172); }
PRE.example { border-left-width: thick; }
PRE.example { font-size: large; }
PRE.example_shell { background: none repeat scroll 0% 0% rgb(255, 255, 215); }
PRE.example_shell { border-width: thin; }
PRE.example_shell { border-style: none; }
PRE.example_shell { border-left-style: solid; }
PRE.example_shell { border-left-color: orange; }
PRE.example_shell { border-left-width: thick; }
PRE.example_shell { font-size: large; }
@media screen {
}
@media print {
}
