/* ::::: http://blog.binchen.org/assets/css/all-nocdn.css ::::: */

@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	src: local("Bitter-Regular"), url('shicxhdd5rknatsgozyeka.woff') format("woff");
}
@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 700;
	src: local("Bitter-Bold"), url('evc1hae-msortl_a7_usgt8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Bitter";
	font-style: italic;
	font-weight: 400;
	src: local("Bitter-Italic"), url('ems0tvidqrybl0eg1pqfzfeszw2xoq-xsnqo47m55da.woff') format("woff");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
audio:not([controls]) { display: none; }
html {  }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0pt none; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0pt none; }
html { min-height: 100%; position: relative; }
body { height: 100%; background: url('cream-dust.png') repeat scroll 0% 0% rgb(255, 255, 255); }
section { margin: 0pt; padding: 0pt; }
.social { float: left; min-height: 100%; background: url('blue-mocha-grunge.jpg') repeat scroll 0% 0% rgb(25, 32, 41); position: absolute; top: 0pt; bottom: 0pt; left: 0pt; right: 0pt; width: 180px; }
.social ul { position: fixed; margin: 0pt; top: 50px; display: table; width: 180px; }
.social ul li { display: block; text-align: center; margin-top: 10px; }
.social ul li a { display: block; }
.page-content { min-height: 100%; padding: 48px 0pt 60px 42px; margin-left: 180px; }
.page-content > .content { max-width: 890px; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; }
a [class^="icon-"], a [class*=" icon-"] { display: inline; }
[class^="icon-"], [class*=" icon-"] { display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0pt; }
.icon-user:before { content: ""; }
.icon-home:before { content: ""; }
.icon-tags:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-github:before { content: ""; }
.icon-rss:before { content: ""; }
.icon-folder-open-alt:before { content: ""; }
ul, ol { padding: 0pt; margin: 0pt 0pt 12px 25px; }
li { line-height: 24px; }
.pager { margin: 24px 0pt; list-style: none outside none; text-align: center; }
.pager:before, .pager:after { display: table; content: ""; line-height: 0; }
.pager:after { clear: both; }
.pager li { display: inline; }
.pager li > a, .pager li > span { display: inline-block; padding: 5px 14px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 15px 15px 15px 15px; }
.pager li > a:hover, .pager li > a:focus { text-decoration: none; background-color: rgb(245, 245, 245); }
.pager .next > a, .pager .next > span { float: right; }
.pager .previous > a, .pager .previous > span { float: left; }
body { font-size: 15px; line-height: 24px; color: rgb(51, 51, 51); }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover, a:focus { color: rgb(0, 85, 128); text-decoration: underline; }
.social a { color: rgb(255, 255, 255); line-height: 44.4px; -moz-transition: text-shadow 0.5s ease 0s; opacity: 0.6; }
.social a:hover, .social a:focus { text-shadow: 0pt 0pt 10px rgba(255, 255, 255, 0.8); color: rgb(255, 255, 255); text-decoration: none; opacity: 0.9; }
.social a [class^="icon-"] { -moz-transition: opacity 0.5s ease 0s; font-size: 3em; }
.page-content { font-family: "Bitter","Georgia","Times New Roman",serif; }
.page-content > .content { text-rendering: optimizelegibility; }
.page-content > .content h1, .page-content > .content h2, .page-content > .content h3, .page-content > .content h4, .page-content > .content h5, .page-content > .content h6, .page-content > .content .h1, .page-content > .content .h2, .page-content > .content .h3, .page-content > .content .h4, .page-content > .content .h5, .page-content > .content .h6 { margin: 12px 0pt; font-family: inherit; font-weight: bold; line-height: 24px; color: rgb(46, 46, 46); text-rendering: optimizelegibility; }
.page-content > .content h1, .page-content > .content .h1, .page-content > .content h2, .page-content > .content .h2 { line-height: 48px; }
.page-content > .content h1, .page-content > .content .h1 { font-size: 41.25px; }
.page-content > .content h4 { font-size: 18.75px; }
.page-content > .content p { word-wrap: break-word; -moz-hyphens: auto; margin: 0pt 0pt 12px; }
.page-content > .content b, .page-content > .content strong { font-weight: bold; }
code, pre { padding: 0pt 3px 2px; font-family: Monaco,Menlo,Consolas,"Courier New",monospace; font-size: 13px; color: rgb(51, 51, 51); border-radius: 3px 3px 3px 3px; }
code { padding: 2px 4px; background-color: rgb(247, 247, 249); border: 1px solid rgb(225, 225, 232); white-space: nowrap; }
pre { display: block; padding: 11.5px; margin: 0pt 0pt 12px; font-size: 14px; line-height: 24px; word-wrap: break-word; white-space: pre-wrap; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; }
pre.prettyprint { margin-bottom: 24px; }
.post .meta { color: rgb(153, 153, 153); margin-bottom: 12px; margin-top: -6px; }
.post .meta:before, .post .meta:after { display: table; content: ""; line-height: 0; }
.post .meta:after { clear: both; }
.post .meta .authordate { display: inline-block; float: left; -moz-transition: color 0.1s linear 0s; }
.post .meta .authordate:before { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; content: ""; margin-left: 5px; }
.post .meta .authordate:hover { color: rgb(51, 51, 51); }
.post .meta .tags { clear: both; display: block; opacity: 0.2; -moz-transition: opacity 0.1s linear 0s; }
.post .meta .tags:hover { opacity: 1; }
.post .meta .tags ul { margin: 0pt; list-style: none outside none; }
.post .meta .tags ul > li { display: inline-block; margin-right: 10px; }
.post .body { margin-bottom: 36px; }
/* ::::: http://blog.binchen.org/assets/css/highlight/monokai_sublime.css ::::: */

td, th { border: 1px solid rgb(204, 204, 204); }
th { background: none repeat scroll 0% 0% rgb(223, 223, 223); font-weight: bold; }
td { background: none repeat scroll 0% 0% rgb(250, 250, 250); text-align: center; }
tr:nth-child(2n) td { background: none repeat scroll 0% 0% rgb(241, 241, 241); }
tr:nth-child(2n+1) td { background: none repeat scroll 0% 0% rgb(254, 254, 254); }
