/* ::::: http://static.cnmo-img.com.cn/mainpageNew/css/commentNew.css ::::: */

@charset "gb2312";
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
em { font-style: normal; }
button, input, select, textarea { font-size: 100%; }
body, button, input, select, textarea { font: 12px/1.125 Tahoma,Helvetica,"",san-serif; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.l { float: left; }
img { vertical-align: top; }
a { color: rgb(0, 51, 102); text-decoration: none; }
a:hover, .top_box_2 li dd p a:hover, .art_xiangguan_nr .r a:hover, .art_yanzhan_nr a:hover, .winw_nr ul li a:hover, .key_winw .title a:hover, .nr_nav .title a:hover, .tab_nr li p a:hover, .tui_toread .title a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
.l { float: left; }
body { color: rgb(51, 51, 51); }
img { display: block; }
.red { color: rgb(153, 0, 0); }
.red2 { color: rgb(153, 0, 0); font-weight: bold; }
textarea {  }
.sent_com { padding: 9px 0px 8px 1px; font-family: simsun; }
.comment_title { padding: 0px 10px; font-size: 14px; font-weight: bold; }
.comment_title span { font-size: 14px; float: right; margin-right: 15px; font-weight: normal; }
.comment_title .red { font-weight: bold; }
.login { width: 600px; margin: 29px auto 0px; padding-left: 7px; }
.login .l em { color: rgb(204, 204, 204); margin: 0px 6px; }
.other_login { margin-left: 22px; margin-top: 2px; }
.other_login a { display: inline-block; height: 16px; padding-left: 20px; background: url("icon_art_cnmo.png") no-repeat scroll 0% 0% transparent; vertical-align: middle; position: relative; top: -3px; margin-right: 15px; line-height: 16px; }
.other_login a.qqzone { background-position: -329px -182px; padding-left: 24px; }
.other_login a.sina { background-position: -332px -55px; }
.other_login a.kaixin { background-position: -334px -123px; }
.other_login span { color: rgb(153, 153, 153); display: inline-block; position: relative; top: -2px; margin-right: 3px; }
.other_login a.baidu { background-position: -331px -205px; }
.textarea { width: 600px; margin: 15px auto 0px; position: relative; }
.shuru { border: 1px solid rgb(230, 230, 230); padding: 5px; width: 588px; height: 128px; min-width: 588px; min-height: 128px; max-width: 588px; max-height: 128px; }
.fabiao { width: 600px; margin: 10px auto 0px; position: relative; }
.fabiao a { color: rgb(51, 51, 51); }
.fb_btn { float: right; width: 84px; height: 30px; background: url("icon_art_cnmo.png") no-repeat scroll -62px -140px transparent; display: inline-block; top: -3px; left: 4px; border: 0px none; cursor: pointer; }
.comment_u, .comment_u_no { width: 600px; margin: 0px auto; padding: 15px 0px; font-family: simsun; background: url("dian.jpg") repeat-x scroll center top transparent; }
.yonghu { margin-bottom: 10px; }
.yonghu span { color: rgb(153, 153, 153); margin-left: 18px; }
.pl_nr { font-size: 14px; }
.pl_nr div { margin-top: 5px; line-height: 22px; padding-left: 60px; }
.pl_nr span.l { margin-right: 13px; margin-top: 0px; }
.huifu { float: right; margin-top: 5px; position: relative; width: 150px; }
.huifu em { margin: 0px 6px; color: rgb(204, 204, 204); }
.total { background: url("dian.jpg") repeat-x scroll center top transparent; padding: 12px 0px; width: 598px; margin: 10px auto 0px; text-align: center; }
.total, .total a { font-family: simsun; font-size: 14px; }
.pop_ico_1 { text-align: center; line-height: 23px; font-size: 12px; font-family: simsun; background: url("pop_ico_1.png") repeat scroll 0% 0% transparent; width: 180px; height: 22px; padding-bottom: 8px; position: absolute; right: 7px; top: -45px; padding-top: 1px; display: none; }
/* ::::: [internal] ::::: */

.syy { position: absolute; left: 60px; top: 0px; color: green; display: none; font-weight: bold; font-size: 14px; }
.sfd { position: absolute; left: 110px; top: 0px; display: none; color: red; font-weight: bold; font-size: 14px; }
.other_login a.weixin { background: url("wzweixin.png") no-repeat scroll 0% 0% transparent; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

