/* ::::: [internal] ::::: */

body { margin: 0px; padding: 0px; font-size: 12px; font-family: arial,'宋体',宋体,sans-serif; }
body * { margin: 0px; padding: 0px; font-size: 100%; }
body em { font-style: normal; }
body .clear { clear: both; height: 0px; line-height: 0; font-size: 0px; visibility: hidden; overflow: hidden; }
body .yahei { font-family: "microsoft yahei","微软雅黑E软雅黑",Tahoma,Arial,Helvetica,STHeiti; }
.s-hl-content { position: relative; }
.s-hl-content .s-bd-logo { height: 20px; width: 100px; background: url("bd_logo_78626fb5.png") no-repeat scroll 0px 0px transparent; }
.s-hl-content .s-bd-logo:hover { background-position: 0px -20px; }
.s-hl-content .s-bd-logo { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
/* ::::: [internal] ::::: */

.s-hl-content .bd-hl-recom1 { color: rgb(0, 0, 0); width: 228px; height: 288px; border: 1px solid rgb(204, 204, 204); position: relative; }
.s-hl-content .bd-hl-title { margin: 15px 0px 0px 15px; font-size: 18px; width: 198px; height: 28px; border-bottom: 1px solid rgb(204, 204, 204); }
.s-hl-content .bd-hl-title .icon, .s-hl-content .bd-hl-title .title { float: left; }
.s-hl-content .bd-hl-title .icon { background-color: rgb(56, 139, 255); width: 5px; height: 18px; overflow: hidden; }
.s-hl-content .bd-hl-title .title { line-height: 24px; padding-left: 10px; height: 24px; }
.s-hl-content .bd-hl-title .title em { height: 24px; display: block; margin-top: -3px; }
.s-hl-content .bd-hl-content { width: 198px; margin: 10px 0px 0px 15px; font-size: 12px; overflow: hidden; }
.s-hl-content .bd-hl-content .ranklist .link { border: 0px none; display: block; width: 117px; height: 16px; float: left; margin-bottom: 12px; cursor: pointer; overflow: hidden; }
.s-hl-content .bd-hl-content .ranklist .link .text { display: block; width: 96px; height: 15px; line-height: 15px; overflow: hidden; }
.s-hl-content .bd-hl-content, .s-hl-content .bd-hl-content a, .s-hl-content .bd-hl-content a:hover, .s-hl-content .bd-hl-content a:visited, .s-hl-content .bd-hl-content a:link { color: rgb(102, 102, 102); }
.s-hl-content .bd-hl-content a { text-decoration: none; }
.s-hl-content .bd-hl-content a:hover { text-decoration: underline; }
.s-hl-content .bd-hl-content .icon { width: 16px; height: 16px; overflow: hidden; color: rgb(56, 139, 255); font-size: 25px; line-height: 16px; text-align: center; margin-right: 5px; margin-left: -5px; }
.s-hl-content .bd-hl-content .icon-3 { color: rgb(238, 2, 2); }
.s-hl-content .bd-hl-content .icon, .s-hl-content .bd-hl-content .link .text, .s-hl-content .bd-hl-content .type { display: block; }
.s-hl-content .bd-hl-content .icon, .s-hl-content .bd-hl-content .link { float: left; }
/* ::::: [internal] ::::: */

.s-hl-content .bd-hl-title { background-color: rgb(255, 255, 255); }
.s-hl-content .bd-hl-title .title { font-family: "microsoft yahei","微软雅黑E软雅黑",Tahoma,Arial,Helvetica,STHeiti; font-size: 18px; font-weight: normal; color: rgb(0, 0, 0); }
.s-hl-content .bd-hl-recom1 { width: 668px; height: 298px; }
.s-hl-content .bd-hl-content { margin-top: 15px; font-family: 宋体; font-size: 12px; font-weight: normal; }
.s-hl-content .bd-hl-content .link { font-family: 宋体; font-size: 12px; font-weight: normal; }
.s-hl-content .bd-hl-recom1 { background-color: rgb(255, 255, 255); }
.s-hl-content .bd-hl-recom1 { border-color: rgb(204, 204, 204); }
.s-hl-content .bd-hl-content, .s-hl-content .bd-hl-content a, .s-hl-content .bd-hl-content a:hover, .s-hl-content .bd-hl-content a:visited, .s-hl-content .bd-hl-content a:link { color: rgb(102, 102, 102); }
.s-hl-content .bd-hl-content .icon {  }
.s-hl-content .bd-hl-content .icon-3 {  }
.s-hl-content .bd-hl-content, .s-hl-content .bd-hl-title { width: 638px; }
