/* Code tidied up by ScrapBook */
body { font: 93.8%/1.25 Helvetica,Arial,sans-serif; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a, a:visited { text-decoration: none; }
button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"] { cursor: pointer; overflow: visible; }
.clearfix:after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
.clearfixb:before { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
div#Leaderboard_Footer_BTF-wrap { margin: 25px auto; }
