/* Code tidied up by ScrapBook */
#page-wrap { background: none repeat scroll 0% 0% white; }
.node footer { margin-top: 30px; text-align: left; margin-bottom: 20px; }
.node footer:after { content: ""; display: table; clear: both; }
@media all and (max-width: 1104px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 840px) {
}
@media all and (max-width: 700px) {
}
.node footer .ad { clear: both; margin: 50px auto; width: 100%; text-align: center; }
.node .gpt.inline-text, .node #purch_N_C_0_3-wrap { text-align: left; margin-bottom: 20px; }
@media all and (max-width: 1024px) and (min-width: 801px) {
}
@media all and (max-width: 800px) and (min-width: 661px) {
}
.side-ad { margin-bottom: 20px; }
.container { position: relative; width: 100%; max-width: 1280px; padding-left: 20px; padding-right: 20px; margin: 0px auto; box-sizing: border-box; }
.container:after { content: ""; display: table; clear: both; }
.container.narrow { max-width: 820px; margin: auto; }
.container.narrow.ad { padding: 0px; }
.node footer .container.narrow { max-width: 1280px; margin: auto; }
@media screen and (max-width: 480px) {
  .node footer .container.narrow { padding: 0px; }
}
.article-body { padding: 0px; position: relative; left: 0px; }
.article-body p, .article-body th, .article-body td { margin: 0px 0px 25px; text-align: left; font-size: 19px; line-height: 1.352; }
.article-body p.intro { font-family: "Vitesse Book",Helvetica,Arial,sans-serif; color: rgb(8, 183, 215); font-size: 26px; font-weight: 200; letter-spacing: -0.5px; margin-top: 20px; }
@media all and (min-width: 1050px) {
}
.article-body img { display: block; margin: auto; max-width: 100%; height: auto; }
.article-body img.image-xlarge, .article-body img.image-large { display: block; margin: auto; width: 100%; height: auto; }
.article-body-wrap { margin-top: 20px; }
.article-body h2 { font-size: 45px; font-family: "Proxima Nova Extrabld",Helvetica,Arial,sans-serif; max-width: 820px; line-height: 1.1; margin: 60px 0px 25px; }
.article-body em { font-style: italic; }
.article-body strong { font-weight: bold; }
.article-body blockquote { box-sizing: border-box; color: rgb(89, 89, 89); font-size: 18px; line-height: 1.3; margin: 30px 0px; padding: 0px 30px 0px 50px; position: relative; text-align: left; }
.article-body blockquote:before { content: "“"; font: 100px/0.9 "Vitesse Book",Helvetica,Arial,sans-serif; left: 0px; position: absolute; top: 0px; }
.article-body blockquote.left, .article-body blockquote.right { max-width: 400px; min-width: 300px; width: 50%; }
.article-body blockquote.left { float: left; margin: 30px 0px; padding: 0px 0px 0px 50px; }
.article-body blockquote.right { float: right; margin: 30px 0px 30px 15px; }
.article-body blockquote.pull, .article-body blockquote.pull.big { padding: 0px 30px; }
.article-body blockquote.right.pull, .article-body blockquote.right.pull.big { padding: 0px 0px 0px 30px; }
.article-body blockquote.left.pull, .article-body blockquote.left.pull.big { padding: 0px 30px 0px 0px; }
.article-body blockquote.pull:before { content: none; }
.article-body blockquote.pull, .article-body blockquote.big { color: rgb(8, 183, 214); font-family: "Vitesse Book",Helvetica,Arial,sans-serif; }
.article-body blockquote.big { padding: 0px 30px 0px 90px; }
.article-body blockquote.big.right { padding: 0px 0px 0px 90px; }
.article-body blockquote.big p { font-size: 30px; }
.article-body blockquote.big:before { font-size: 200px; }
.article-body blockquote p:last-of-type { margin: 0px; }
@media all and (max-width: 480px) {
}
@media not all {
  .article-body blockquote:before { top: -10px; }
}
@media not all, not all {
}
.article-body p a:first-of-type:nth-last-of-type(n+2) img, .article-body p a:first-of-type:nth-last-of-type(n+2) ~ a img { border: 0.5px solid rgb(238, 238, 238); box-sizing: border-box; display: inline; margin-right: 1%; }
.article-body p a:nth-of-type(3n+1):nth-last-of-type(n+3) img, .article-body p a:nth-of-type(n+2) img { width: calc(100% / 3 - 1%); }
.article-body p a:first-of-type:nth-last-of-type(2) img, .article-body p a:first-of-type:nth-last-of-type(2) ~ a img, .article-body p a:nth-of-type(3n+1):nth-last-of-type(2) img, .article-body p a:nth-of-type(3n+1):nth-last-of-type(2) ~ a img, .article-body p a:nth-of-type(3n+1):nth-last-of-type(4) img, .article-body p a:nth-of-type(3n+1):nth-last-of-type(4) ~ a img { width: 49%; }
@media all and (max-width: 1024px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 480px) {
}
@media not all {
}
@media not all {
}
.article-body img.image-large { max-width: 100%; height: auto; display: block; margin: auto; }
.article-body .container:after { display: none; }
@media all and (max-width: 1024px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 1200px) and (min-width: 801px) {
}
@media all and (max-width: 1000px) and (min-width: 801px) {
}
@media all and (max-width: 660px) and (min-width: 501px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 500px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 660px) {
}
@media screen and (max-width: 480px) {
}
.hero { position: relative; background-position: center top; background-repeat: no-repeat; background-size: cover; overflow: hidden; width: 100%; }
@media all and (min-width: 1050px) {
  .hero { background-attachment: fixed; }
}
@media all and (min-width: 1600px) {
  .hero { background-position: center center; }
}
.hero:before { content: ""; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, transparent 15%, rgba(0, 0, 0, 0.6) 100%) no-repeat scroll center center / cover  transparent; z-index: 1; }
.article-title .meta-by { margin-right: 10px; }
.hero.not-constant .article-title, .hero.not-constant .distinct, .hero.not-constant .video { max-width: 100%; }
.hero.not-constant .article-title { box-sizing: border-box; max-width: calc(100% - 300px); position: relative; bottom: auto; left: 0px; padding: 146px 90px 40px 0px; }
.hero.not-constant .container { padding-bottom: 50px; }
.hero .container { padding: 0px 20px; }
.hero .article-title, .hero .ppl-sliders { left: 2%; }
.hero .article-title { position: absolute; bottom: 200px; max-width: 600px; color: rgb(255, 255, 255); z-index: 2; margin-bottom: 20px; }
.hero .article-title .main-title { margin: 0px 0px 10px; font-family: "Proxima Nova Extrabld",Helvetica,Arial,sans-serif; font-size: 60px; line-height: 1.05; letter-spacing: -1.9px; text-shadow: 1px 2px rgba(50, 50, 50, 0.5); color: rgb(255, 255, 255); }
.hero .article-title .badge { display: inline-block; margin-bottom: 2px; text-transform: uppercase; font-family: "Proxima Nova Extrabld",Helvetica,Arial,sans-serif; font-size: 13px; text-shadow: 1px 1px rgba(0, 0, 0, 0.4); color: rgb(176, 205, 0); letter-spacing: 0.5px; }
.hero .article-title .meta-data { text-transform: uppercase; margin: 0px 0px 20px; text-shadow: 1px 1px rgba(0, 0, 0, 0.4); font-family: "Proxima Nova Regular",Helvetica,Arial,sans-serif; font-size: 14px; }
.hero .article-title .meta-data .author { color: rgb(147, 239, 255); text-decoration: none; display: inline-block; }
.hero .article-title .meta-data .author:hover { color: rgb(233, 255, 104); }
.hero .article-title .article-time { position: relative; text-transform: none; font: 11px 'Vitesse Medium',serif; padding-left: 15px; margin-left: 4px; color: rgb(230, 239, 248); text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); display: inline-block; }
.hero .article-title .article-time:before { content: ""; position: absolute; left: -17px; top: 50%; width: 40px; height: 41px; font-family: 'ac_iconset'; font-size: 40px; color: rgb(255, 255, 255); margin-top: -22px; }
.closeup-img { display: none; }
.article-nav { position: absolute; bottom: 0px; z-index: 1; }
.article-nav ul { padding: 0px; float: left; }
.article-nav ul li { margin: 0px; float: left; }
.article-nav ul .tab-comments, .article-nav ul .tab-generic { margin: 0px 20px 10px 0px; line-height: 26px ! important; }
.article-nav ul .tab-comments { padding: 2px 14px 2px 11px; border-radius: 3px 3px 3px 3px; }
.article-nav ul.tabs li a.active, .article-nav ul li a:hover { color: rgb(121, 202, 202); text-decoration: none; }
.article-nav ul.tabs li a:hover, .article-nav ul li a.active { color: rgb(57, 161, 190); background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.article-nav ul.tabs li a { display: block; font: 14px/2.6 "Proxima Nova Regular",Helvetica,Arial,sans-serif; border-style: solid; border-color: rgb(247, 249, 249); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 0px 0px; text-align: center; color: rgb(121, 123, 115); background: none repeat scroll 0% 0% rgb(225, 231, 233); }
.article-nav ul.tabs .tab-comments .icomoon-comment { color: rgb(57, 161, 190); line-height: 23px; position: relative; top: 0px; width: 34px; display: inline-block; left: -8px; }
#page-wrap #Leaderboard_Footer_BTF-wrap { margin: 20px auto 0px; padding: 22px 0px 20px; background-color: rgb(245, 245, 245); }
.article-body a.cta:before, .article-body ul.cta li:before { background: none repeat scroll 0% 0% transparent; content: ""; font-family: FontAwesome; }
.article-body a.cta:before { margin-right: 0.25em; display: inline-block; text-decoration: none; }
a.cta.large, ul.cta.large a { color: rgb(142, 182, 17); font-family: "Vitesse Book",Helvetica,Arial,sans-serif; font-size: 22px; line-height: 27px; margin-bottom: 25px; font-weight: 200; }
a.cta.large:hover, ul.cta.large a:hover { color: rgb(8, 183, 214); }
a.cta.large:before, ul.cta.large a:before { border-bottom: 8px solid transparent; border-left: 8px solid rgb(142, 182, 17); border-top: 8px solid transparent; border-radius: 0px 0px 0px 0px; content: ""; display: inline-block; margin-right: 8px; height: 0px; width: 0px; }
a.cta.large:hover:before, ul.cta.large a:hover:before { border-left: 8px solid rgb(8, 183, 214); }
@media screen and (max-width: 1100px) {
  .hero:before { z-index: 1; }
}
@media screen and (max-width: 1024px) {
  .hero[class*=" overlay-"]:before, .hero:before { background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0% 0% transparent; }
  .hero .article-title, .hero .ppl-sliders { left: 20px; }
  .hero .container { padding: 0px 20px; }
  .hero .article-title { bottom: 306px; }
  .hero .article-title .main-title { font-size: 37px; letter-spacing: -1.4px; }
  .hero .article-title .badge { display: block; margin-bottom: 8px; letter-spacing: 1px; }
  .hero .article-title .meta-data { line-height: 1.72932; margin-bottom: 10px; font-size: 13px; }
  .closeup-img { display: none; }
}
@media screen and (max-width: 800px) {
  .hero[class*=" overlay-"]:before, .hero:before { background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0% 0% transparent; }
  .hero .article-title, .hero .ppl-sliders { left: 20px; right: 20px; }
}
@media screen and (max-width: 660px) {
  .hero .article-title { bottom: 100px; }
}
@media screen and (max-width: 480px) {
  .hero .article-title { bottom: 135px; transition: padding-top 0.3s ease-in-out 0s; }
  .hero .article-title .main-title { text-indent: 0px; }
  .hero .article-title .badge { font-size: 11px; }
  .hero .meta-data {  }
}
@media screen and (max-width: 1024px) {
  .container.narrow { max-width: 100%; padding: 0px 60px; }
  .article-body p, .article-body ol, .article-body ul, .article-body li, .article-body th, .article-body td { font-size: 18px; }
  .article-body blockquote.big, .article-body blockquote.big p { font-size: 28px; line-height: 1.2; }
  .hero.not-constant .article-title { padding: 60px 0px 24px; }
}
@media screen and (max-width: 1008px) {
}
@media screen and (max-width: 800px) {
  .hero.not-constant .article-title { max-width: 100%; padding: 30px 0px 20px; }
  .container.narrow { padding: 0px 30px; }
  .article-body p, .article-body ol, .article-body ul, .article-body li, .article-body th, .article-body td { font-size: 17px; }
  .article-body h2 { font-size: 40px; line-height: 44px; }
}
@media screen and (max-width: 660px) {
  .article-body blockquote.left, .article-body blockquote.right { margin-top: 10px; }
  .article-body blockquote.big > p { margin-top: 0px; }
  .article-body blockquote.big, .article-body blockquote.big p { font-size: 22px; }
  .article-body blockquote.big:before { font-size: 150px; }
  .article-body blockquote.big { padding: 0px 30px 0px 70px; }
  .article-body blockquote.big.right { padding: 0px 0px 0px 70px; }
  .container.narrow { padding: 0px 20px; }
  .article-body p, .article-body ol, .article-body ul, .article-body li, .article-body th, .article-body td { font-size: 16px; }
  .article-body h2 { font-size: 30px; line-height: 33px; }
  .article-nav ul { width: 100%; display: table; }
  .article-nav ul li { display: table-cell; float: none; vertical-align: bottom; }
  .hero.not-constant .container { padding-bottom: 85px; }
}
@media screen and (max-width: 480px) {
  .hero.not-constant .article-title { padding: 41px 0px 11px; }
  .hero.not-constant .container { padding-bottom: 40px; }
  .article-body blockquote, .article-body blockquote.left, .article-body blockquote.right { max-width: 100%; padding: 0px 30px 0px 50px; width: 100%; }
  .article-body blockquote.pull, .article-body blockquote.left.pull, .article-body blockquote.right.pull, .article-body blockquote.pull.big, .article-body blockquote.left.pull.big, .article-body blockquote.right.pull.big { padding: 0px 30px; }
  .article-body blockquote.big, .article-body blockquote.left.big, .article-body blockquote.right.big { padding: 0px 30px 0px 70px; }
  .article-body p.intro { font-size: 22px; }
}
@media screen and (max-width: 360px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 1000px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 400px) {
}
@media not all {
}
@media not all {
}
@media all and (max-width: 800px) {
}
@media not all {
}
@media all and (max-width: 660px) {
}
@media all and (min-width: 661px) {
}
@media all and (max-width: 660px) and (min-width: 551px) {
}
@media all and (max-width: 500px) {
}
@media all and (max-width: 480px) {
  #Inline_300_BTF_2-wrap, #Inline_300_BTF_3-wrap, #Inline_300_BTF_4-wrap { margin-left: -10px; }
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 640px) {
}
.article-body { overflow: hidden; }
.container.wide { max-width: 100%; padding-left: 0px; padding-right: 0px; width: 100%; }
.hero.not-constant .container { padding-bottom: 150px; }
.hero.not-constant .article-title { padding: 150px 0px 0px; }
.article-body h2 { margin: 60px auto 25px; max-width: 100%; text-align: center; }
.article-body-wrap { margin-top: 20px; }
.article-body div + p { padding-top: 40px; }
.good h4, .bad h4, .extra h3, .comments h2, .comments h3, .comments h4 { padding-top: initial; }
.hero.not-constant .article-title { padding: 390px 0px 0px; }
.hero.not-constant .article-title, .hero.not-constant .distinct, .hero.not-constant .video { max-width: 60%; }
.hero.not-constant .container { padding-bottom: 130px; }
@media screen and (max-width: 1900px) {
  .article-body blockquote.left { margin-left: -100px; }
  .article-body blockquote.right { margin-right: -100px; }
}
@media screen and (max-width: 1024px) {
  .article-body .container.wide { padding: 0px; }
  .article-body blockquote.left { margin-left: -30px; }
  .article-body blockquote.right { margin-right: -30px; }
  .hero.not-constant .article-title, .hero.not-constant .distinct, .hero.not-constant .video { max-width: 90%; }
}
@media screen and (max-width: 800px) {
  .article-body blockquote.left { margin-left: 0px; }
  .article-body blockquote.right { margin-right: 0px; }
}
@media screen and (max-width: 660px) {
  .article-body blockquote.left, .article-body blockquote.right { margin-left: 0px; margin-right: 0px; max-width: 100%; width: 100%; }
}
.article-body img { max-width: 100%; }
.article-body p img.image-large:only-child, .article-body p a img.image-large:only-child, .article-body p img.image-xlarge:only-child, .article-body p a img.image-xlarge:only-child { max-width: 100%; }
@media all and (max-width: 1024px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (min-width: 1068px) {
}
@media all and (min-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
.article-body-wrap > .article-body .narrow:first-of-type, .article-body-wrap .container.narrow.alt { max-width: 1024px; }
.article-body-wrap > .article-body .narrow:first-of-type p.intro { padding-top: 20px; }
@media all and (max-width: 1024px) {
  .article-body-wrap > .article-body .narrow:first-of-type:before { bottom: -100px; }
}
@media all and (max-width: 1000px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 400px) {
}
@media not all {
}
@media screen and (max-width: 480px) {
  .hero.not-constant .container { padding-bottom: 70px; }
  .hero.not-constant .article-title { padding: 70px 0px 0px; }
  .hero.not-constant .article-title, .hero.not-constant .distinct, .hero.not-constant .video { max-width: 100%; }
}
@media all and (min-width: 1025px) {
}
@media all and (min-width: 801px) and (max-width: 1024px) {
}
@media all and (min-width: 661px) and (max-width: 800px) {
}
@media all and (min-width: 661px) {
}
@media all and (min-width: 801px) {
}
@media all and (max-width: 1064px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 660px) {
}
body { font: 93.8%/1.25 "Colfax-Regular",Helvetica,Arial,sans-serif; }
.hero .article-title .main-title { font-family: "Colfax-Medium",Helvetica,Arial,sans-serif; font-weight: normal; }
.hero .article-title .meta-data { font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; }
.hero .article-title .meta-data .author { color: rgb(83, 183, 204); }
.hero .article-title .badge { font-family: "Colfax-Medium",Helvetica,Arial,sans-serif; color: rgb(83, 183, 204); }
.hero .article-title .article-time { font: 11px 'Colfax-Regular',Helvetica,Arial,sans-serif; }
.hero .article-title .article-time:before { top: 60%; }
.article-body p.intro { font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; color: rgb(83, 183, 204); font-size: 26px; line-height: 1.3; }
.article-body p { line-height: 1.5; }
.article-body h2 { font-size: 35px; font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; line-height: 1.3; font-weight: normal; letter-spacing: -1px; margin: 60px 0px 25px; }
.article-nav ul .tab-comments .icomoon-comment { color: rgb(83, 183, 204); }
a, .slide a { color: rgb(83, 183, 204); }
a:hover, .slide a:hover { color: rgb(83, 183, 204); }
.article-body blockquote:before { font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; }
.article-body blockquote.big, .article-body blockquote.pull { color: rgb(83, 183, 204); font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; }
a.cta.large, ul.cta.large a { color: rgb(83, 183, 204); font-family: "Colfax-Regular",Helvetica,Arial,sans-serif; }
a.cta.large:before, ul.cta.large a:before, a.cta.large:hover:before, ul.cta.large a:hover:before { border-left: 8px solid rgb(83, 183, 204); }
@media screen and (max-width: 1024px) {
  .article-body p { line-height: 1.7; }
}
@media screen and (max-width: 660px) {
  .article-body p.intro { font-size: 25px; line-height: 1.18; }
  .article-body h2 { font-size: 31px; line-height: 34px; }
}
