/* Code tidied up by ScrapBook */
img { padding: 0px; margin: 0px; border: medium none; outline: medium none; image-rendering: optimizequality; }
@media (max-width: 720px) {
}
@media (max-width: 660px) {
}
@media (max-width: 589px) {
}
@media (max-width: 499px) {
}
