/* ::::: https://www.masteringemacs.org/static/css/bootstrap.min.css ::::: */

/* ::::: https://www.masteringemacs.org/static/typeplate.css ::::: */

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
.drop-cap:first-letter { float: left; margin: auto 0.25em auto auto; padding: inherit; font-size: 4em; font-family: inherit; line-height: 1; text-indent: 0px; background: none repeat scroll 0% 0% transparent; color: inherit; }
html { font: 112.5%/1.65 serif; }
body { -moz-hyphens: auto; word-wrap: break-word; color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { line-height: 1; margin-top: 0px; text-rendering: optimizelegibility; color: rgb(34, 34, 34); }
h1, .alpha { font-size: 3.33333rem; margin-bottom: 0.495rem; }
h2, .beta { font-size: 2.6667rem; margin-bottom: 0.61875rem; }
h3, .gamma { font-size: 2rem; margin-bottom: 0.825rem; }
h4, .delta { font-size: 1.33333rem; margin-bottom: 1.2375rem; }
p { margin: auto auto 1.5em; }
p + p { text-indent: 1.5em; margin-top: -1.5em; }
abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp { -moz-hyphens: none; }
pre code { word-wrap: normal; white-space: pre-wrap; }
pre { white-space: pre; }
code { white-space: pre; font-family: monospace; }
/* ::::: https://www.masteringemacs.org/static/quill.css ::::: */

html, body { height: 100%; font-size: 80%; font-family: 'Cardo',serif; color: rgb(34, 34, 34); -moz-font-feature-settings: "onum", "kern", "liga", "swsh", "calt"; }
.navbar { margin-bottom: 0px; }
.center-column { float: none; margin: 0px auto; max-width: 800px; }
a { color: rgb(147, 0, 0); }
#navbar-links a { color: rgb(255, 255, 255); }
.control-label, .btn-success, .btn-danger, .btn-default { font-size: 1.5rem; line-height: 1.8rem; }
#further-reading { font-family: 'Lato',sans-serif; font-size: 1rem; }
#further-reading h2 { margin-top: 0rem; }
#footer { margin-top: 5rem; margin-bottom: 5rem; }
.inverted { font-family: 'Lato',sans-serif; background-color: rgb(147, 0, 0); border: thin solid rgb(51, 0, 0); color: rgb(255, 255, 255); font-size: 1rem; min-height: 300px; }
.small { font-size: 1.6rem; margin-bottom: 1rem; }
#subscribe-group a { color: rgb(34, 34, 34); }
.form-group > input { color: rgb(34, 34, 34); font-size: 1.5rem; }
.inverted-title { font-size: 2rem; margin-bottom: -0.5rem; }
#subscribe-group > form { margin-bottom: 1rem; }
@media (min-width: 768px) {
  .navbar-nav { margin: 0px auto; display: table; table-layout: fixed; float: none; }
}
.nav-footer { background-color: rgb(51, 51, 51); height: 50px; color: rgb(204, 204, 204); text-align: center; margin-top: 120px; font-size: 1.3rem; box-shadow: 0px 10px 5px 0px rgb(34, 34, 34) inset; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3em; }
h1 { font-size: 4.236rem; }
@media (max-width: 768px) {
  h1 { font-size: 2.6rem; }
}
h2 { font-size: 3.318rem; margin-top: 1em; }
h3 { font-size: 3rem; margin-top: 1em; }
h4, h5, h6 { font-size: 3rem; }
p + ol > li, p + ul > li { font-size: 1.8rem; margin-left: 1em; }
dl > dt { font-size: 1.8rem; display: block; }
dl > dd { font-size: 1rem; display: inline-block; padding-left: 15px; }
.container { display: table; vertical-align: middle; }
.navbar { background-color: rgb(147, 0, 0); color: rgb(255, 255, 255); border-bottom: thin solid rgb(51, 0, 0); }
.navbar-default .navbar-nav > li:after { content: " · "; }
.navbar-default .navbar-nav > li:last-child:after { content: ""; }
.navbar-default .navbar-nav > li > a { color: rgb(255, 255, 255); display: inline-block; margin-top: 4px; padding-right: 0px; padding-left: 5px; }
.navbar-brand > h1 { color: rgb(255, 255, 255); margin-top: -8px; font-style: italic; font-size: 1.7em; }
.vertical-center-row { display: table-cell; vertical-align: middle; }
.drop-cap:first-letter { margin: auto 0.1em auto auto; }
#navbar-links { font-family: 'Cardo',serif; font-size: 1.75rem; }
@media (min-width: 992px) {
}
p, p + p { text-indent: 0em; margin-top: 0.5rem; margin-bottom: 0.5rem; }
p, th, td { font-size: 1.8rem; }
.sourceCode { font-size: 1.5rem; }
.commonlisp { font-size: 1.5rem; }
.sourceCode .kw { color: rgb(38, 139, 210); }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: rgb(211, 54, 130); }
.byline { text-align: center; font-size: 1.5rem; }
pre, code, kbd { font-size: 1.4rem; font-style: normal; white-space: normal; word-wrap: break-word; }
pre > code { font-size: 1.5rem; }
pre { margin-top: 1.5rem; margin-bottom: 2rem; }
blockquote { font-style: italic; }
#form-error { color: rgb(147, 0, 0); margin-bottom: 2rem; margin-top: 2rem; }
blockquote > pre { font-style: normal; font-size: 1.8rem; }
.comment-quote { font-size: 1.8rem; margin-left: 30px; margin-right: 20px; }
.reply-link { color: rgb(147, 0, 0); }
.nested-comment { margin-left: 50px; }
a:hover { text-decoration: none; }
hr { border-color: rgb(222, 222, 222); }
.wrapper, .row { height: 100%; margin-left: 0px; margin-right: 0px; }
@media (max-width: 768px) {
}
#book-announcement { text-align: center; font-family: 'Lato','Source Sans Pro',sans-serif; -moz-font-feature-settings: "onum", "kern", "liga", "swsh", "calt"; font-weight: 300; color: rgb(34, 34, 34); }
#book-announcement a { font-size: 2rem; }
#book-announcement h2 { margin-top: -90px; font-size: 2.4rem; font-weight: 500; }
#book-announcement .img-small { width: 65%; height: auto; }
.extra-margin { margin-left: 150px; }
#terms { color: rgb(255, 255, 255); font-size: 1.2rem; text-decoration: underline; }
.button-spacer { margin-top: 150px; margin-bottom: 50px; }
.button-fill { text-align: center; background: none repeat scroll 0% 0% rgb(204, 204, 204); display: inline-block; position: relative; text-transform: uppercase; margin-left: 0px; font-size: 1.9rem; }
.button-fill.red:hover { background: none repeat scroll 0% 0% rgb(187, 51, 51); transition: background-color 1s ease 0s; }
.button-fill.red { transition: background-color 1s ease 0s; background: none repeat scroll 0% 0% rgb(187, 85, 85); color: white; }
.button-fill.blue:hover { background: none repeat scroll 0% 0% rgb(46, 112, 187); transition: background-color 1s ease 0s; }
.button-fill.blue { transition: background-color 1s ease 0s; background: none repeat scroll 0% 0% rgb(85, 133, 187); color: white; }
.button-text { padding: 0px 25px; line-height: 56px; letter-spacing: 0.1em; }
/* ::::: https://fonts.googleapis.com/css?family=Cardo:400,400italic,700&subset=latin ::::: */

@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  src: local("Cardo"), local("Cardo-Regular"), url("zpisC4kGu76S5N9VhpMnEg.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  src: local("Cardo Bold"), local("Cardo-Bold"), url("gHC1KgRPdVNdvvVcxLMCY_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  src: local("Cardo Italic"), local("Cardo-Italic"), url("0_g5QMQebQZw5ilITPZHDA.woff") format("woff");
}
/* ::::: https://fonts.googleapis.com/css?family=Lato:300 ::::: */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("KT3KS9Aol4WfR6Vas8kNcg.woff") format("woff");
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

