/* ::::: [internal] ::::: */

body { font-family: verdana; font-size: 12px; line-height: 140%; }
pre { padding: 4px; background-color: rgb(238, 238, 238); border: 1px solid rgb(0, 0, 128); }
p.footer { font-size: 85%; color: rgb(80, 80, 80); margin-top: 0px; line-height: 100%; }
h1 { font-family: tahoma; font-size: 30px; background-color: rgb(238, 238, 255); border-left: 10px solid rgb(0, 51, 153); padding: 20px 4px 20px 20px; height: 30px; margin-top: 0px; }
h2 { font-size: 20px; font-family: tahoma; background-color: rgb(238, 238, 255); border-left: 10px solid rgb(0, 51, 153); padding: 5px 4px 5px 20px; }
a.menu:link, a.menu:visited { color: blue; text-decoration: none; }
p.menu { background-color: rgb(238, 238, 255); padding: 1px 4px 1px 15px; margin-top: 0px; margin-bottom: 0px; }
p.selmenu { background-color: rgb(255, 204, 51); padding: 1px 4px 1px 15px; margin-top: 0px; margin-bottom: 0px; }
hr { height: 1px; margin-top: 1em; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

