/* ::::: http://www.cnblogs.com/bundles/blog-common.css?v=umTYGJ1Xbo61obX_Gqsil3krUSBXOilTLax6nesdN401 ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#MySignature {  }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
#EntryTag { margin-top: 0px ! important; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
#commentform_title { background-image: url("icon_addcomment.gif"); background-repeat: no-repeat; padding: 0px 0px 0px 25px; margin-bottom: 10px; }
div.commentform input.author, div.commentform input.email, div.commentform input.url { background-image: url("icon_form.gif"); background-repeat: no-repeat; border: 1px solid rgb(204, 204, 204); padding: 4px 4px 4px 30px; width: 300px; font-size: 13px; }
div.commentform input.author { background-position: 3px -3px; }
div.commentform textarea { width: 450px; height: 300px; font-size: 13px; border: 1px solid rgb(204, 204, 204); }
div.commentform p { margin-top: 10px; line-height: 20px; }
.commentbox_title { width: 450px; }
.commentbox_title_left { float: left; }
.commentbox_title_right { float: right; height: 22px; }
.clear { clear: both; }
.comment_icon { vertical-align: middle; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url("upup.gif") no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url("downdown.gif") no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
div.commentform textarea.comment_textarea { line-height: 1.6; }
#green_channel { padding: 10px 0px; margin-bottom: 10px; margin-top: 10px; border: 1px dashed silver; font-size: 12px; width: 350px; text-align: center; }
#green_channel a { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; }
#green_channel a:hover { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC"); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); display: none; }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; box-shadow: none; }
#green_channel #green_channel_weibo, #green_channel #green_channel_wechat { background: none repeat scroll 0% 0% transparent; padding: 3px 2px; text-shadow: none; }
#green_channel #green_channel_wechat img { width: 24px; height: 24px; border: medium none; box-shadow: none; margin-left: 5px; vertical-align: middle; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body ul { margin-left: 30px; padding-left: 0px; }
#cnblogs_post_body ul li { list-style-type: disc; }
#cnblogs_post_body img { max-width: 900px; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#ad_t2 a { margin-right: 10px; }
#opt_under_post { line-height: 1.8; }
.recent_comment_author { text-align: right; margin-right: 4px; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
.comment_btn { height: 26px; width: 68px; margin: 0px; padding: 0px; line-height: 22px; }
#commentbox_opt a { padding-left: 10px; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
.recent_comment_body { white-space: pre-wrap; word-wrap: break-word; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#cnblogs_post_body h2 { font-size: 21px; font-weight: bold; }
#cnblogs_post_body h3 { font-size: 16px; font-weight: bold; }
#div_digg .diggnum { line-height: 1.5em ! important; }
#div_digg .burynum { line-height: 1.5em ! important; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255) ! important; border: medium none ! important; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.cnblogs-markdown .hljs { display: block; overflow-x: auto; padding: 0.5em; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag { color: rgb(0, 0, 255); }
.cnblogs-markdown code { font-family: "Courier New",sans-serif ! important; font-size: 12px ! important; height: 20px; background-color: rgb(245, 245, 245) ! important; border: 1px solid rgb(204, 204, 204) ! important; padding: 0px 5px ! important; border-radius: 3px 3px 3px 3px ! important; line-height: 1.8; margin: 0px 5px; vertical-align: middle; display: inline-block; }
.cnblogs-markdown pre code { display: block; margin: auto; height: auto; line-height: normal; }
.cnblogs-markdown .hljs { font-family: "Courier New",sans-serif ! important; font-size: 12px ! important; line-height: 1.5 ! important; padding: 5px ! important; }
.cnblogs-markdown pre { margin-top: 10px; margin-bottom: 10px; }
/* ::::: http://www.cnblogs.com/skins/coffee/bundle-coffee.css?v=H7P3zU3_M529NtLVh9kKULJaZLDGv9Qz_L_VdgyN1P41 ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0px; padding: 0px; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background: url("bg_body.gif") repeat scroll left top transparent; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9pt; min-height: 101%; line-height: 1.5; }
fieldset, img { border: 0px none; }
ul { word-break: break-all; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 {  }
a:link { color: rgb(7, 93, 179); text-decoration: none; }
a:visited { color: rgb(7, 93, 179); text-decoration: none; }
a:hover { color: rgb(7, 93, 179); text-decoration: underline; }
a:active { color: rgb(7, 93, 179); text-decoration: none; }
.clear { clear: both; }
#home { margin: 0px auto; width: 100%; min-width: 930px; }
#header { background: url("header.gif") no-repeat scroll right top transparent; height: 178px; }
#blogTitle { height: 178px; clear: both; background: url("bg_title.gif") no-repeat scroll 170px 40px transparent; }
#blogTitle h1 { font-weight: bold; line-height: 1.5; padding-top: 25px; margin-left: 2em; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 28px; }
#blogTitle a { color: rgb(147, 90, 50); }
#blogTitle h2 { line-height: 1.5; margin-left: 4.5em; color: rgb(147, 90, 50); }
#blogLogo { float: right; }
#main { width: 97%; min-width: 950px; text-align: left; margin: auto; }
#mainContent .forFlow { margin: 0px 250px 0px 0px; background: url("bg_left.gif") repeat-x scroll left top rgb(254, 254, 242); padding-top: 35px; padding-bottom: 15px; }
#mainContent { float: left; width: 100%; margin: 0px -250px 0px 0px; background: none repeat scroll 0% 0% transparent; border: 0px solid green; text-align: left; overflow-x: hidden; }
#navigator { clear: both; width: 95%; margin: auto auto 20px; height: 40px; background: url("line.gif") repeat-x scroll left bottom rgb(254, 254, 242); }
#navList { min-height: 30px; float: left; }
#navList li { float: left; }
#navList a { height: 22px; float: left; text-align: center; padding-top: 8px; margin-right: 12px; }
#navList a { color: rgb(51, 51, 51); }
#navList a:hover { color: rgb(147, 90, 50); }
.blogStats { float: right; color: rgb(51, 51, 51); margin-top: 8px; text-align: right; }
.postTitle { font-weight: bold; float: right; line-height: 1.5; width: 100%; clear: both; font-size: 14px; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(51, 51, 51); }
.postTitle a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
.postDesc { float: right; width: 100%; clear: both; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; font-size: 12px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(170, 122, 83); }
.postDesc a:hover { text-decoration: underline; }
#sideBar { width: 230px; padding: 0px 0px 0px 5px; float: right; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.newsItem .catListTitle { display: none; }
.newsItem { padding: 15px 0px 5px; margin-bottom: 8px; }
#calendar { width: 229px; }
#calendar .Cal { width: 100%; line-height: 2em; }
.Cal { border: 0px solid black; color: rgb(129, 109, 101); }
#calendar table a:link, #calendar table a:visited, #calendar table a:active { font-weight: bold; color: rgb(116, 88, 75); }
#calendar table a:hover { color: white; text-decoration: none; background-color: rgb(170, 122, 83); }
#calendar td, #calendar th { font-size: 12px; }
.CalTodayDay { background: url("bg_cal_today.gif") no-repeat scroll 52% 3px transparent; color: white; }
.CalWeekendDay { background: none repeat scroll 0% 0% rgb(243, 230, 207); }
#calendar .CalNextPrev a:link, #calendar .CalNextPrev a:visited, #calendar .CalNextPrev a:active { font-weight: bold; background-color: transparent; }
#calendar .CalNextPrev a:hover { font-weight: bold; color: white; background-color: rgb(170, 122, 83); }
.CalDayHeader { background: url("bg_cal_day.gif") no-repeat scroll 50% 0px transparent; color: white; padding-bottom: 5px; }
.CalTitle { background: none repeat scroll 0% 0% transparent; color: rgb(170, 122, 83); font-weight: bold; height: 30px; text-align: center; width: 100%; }
.catListTitle { font-weight: bold; line-height: 1.2em; font-size: 25px; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; margin-top: 15px; margin-bottom: 10px; text-align: left; background: url("title_cata.gif") no-repeat scroll 0px 50% transparent; color: rgb(170, 122, 83); padding: 8px 0px 0px 32px; }
.catListComment { line-height: 1.5; }
#sideBarMain ul { line-height: 1.5; }
#topics { width: 95%; min-height: 200px; padding: 0px 0px 10px; text-overflow: ellipsis; overflow: hidden; word-break: break-all; margin: auto; }
#topics a:link { color: rgb(7, 93, 179); }
#topics a:visited { color: rgb(7, 93, 179); }
#topics a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
#topics a:active { color: rgb(7, 93, 179); }
#topics .postTitle { font-size: 14px; font-weight: bold; float: left; line-height: 1.5; padding-left: 5px; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody p { line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody span { line-height: 1.5; }
#EntryTag { color: rgb(102, 102, 102); }
#EntryTag a { margin-left: 5px; }
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active { color: rgb(102, 102, 102); }
#EntryTag a:hover { color: rgb(255, 102, 0); }
#topics .postDesc { float: right; width: 100%; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; }
.commentform { width: 90%; margin: auto auto 10px; }
#HistoryToday { font-weight: bold; }
#footer { text-align: center; min-height: 15px; height: 30px; margin-top: 10px; padding-top: 30px; background: url("bg_left_001.gif") repeat-x scroll left top rgb(254, 254, 242); }
.postBody { line-height: 1.5; margin-top: 5px; }
.postBody p, .postCon p { line-height: 1.5; }
.postBody h2 { font-size: 150%; margin: 15px auto 2px; font-weight: bold; }
.postBody h3 { font-size: 120%; margin: 15px auto 2px; font-weight: bold; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
.postBody ul, .postCon ul { margin-left: 2em; }
.postBody li, .postCon li { list-style-type: disc; margin-bottom: 1em; }
/* ::::: http://www.cnblogs.com/blog/customcss/76791.css?v=eOF%2bHkYYMn0nHScXk%2fmo1XwuBkc%3d ::::: */

code { font-family: "DejaVu Sans Mono",monospace; color: rgb(139, 34, 82); }
code:before, code:after { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://files.cnblogs.com/bamanzi/prettify.css ::::: */

@media screen {
}
@media print, projection {
}
