/* Code tidied up by ScrapBook */
body { font-family: "Hiragino Sans GB",Palatino,"Palatino Linotype","Wenquanyi Zen Hei","Georgia","Helvetica Neue",Helvetica,Arial,sans-serif; color: rgb(34, 34, 34); font-size: 14px; padding: 0px; margin: 0px; background-color: rgb(255, 255, 234); }
#wrapper { margin: 0px auto; max-width: 860px; }
a { color: rgb(170, 0, 0); text-decoration: none; }
p code { padding: 1px 5px; }
code { background-color: rgb(238, 238, 238); color: rgb(34, 34, 34); margin: 0px 2px; padding: 0px 6px; font-size: 14px; font-family: Monaco,Consolas,Menlo,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; }
.entry { margin-bottom: 5em; }
.entry h1 { font-family: Georgia; font-size: 2.5em; }
.entry-content { line-height: 23px; font-size: 16px; }
.entry-content a { color: rgb(181, 28, 30); }
.entry-content a:hover { background-color: rgb(181, 28, 30); color: rgb(255, 255, 255); }
