/* Code tidied up by ScrapBook */
.highlight { background: none repeat scroll 0% 0% rgb(238, 238, 221); font-size: 13px; padding: 1px 8px; overflow: auto; }
.highlight .nv { color: rgb(0, 104, 139); }
