/* ::::: [internal] ::::: */

html { font-family: Times,serif; font-size: 12pt; }
.title { text-align: center; }
.right { margin-left: auto; margin-right: 0px; text-align: right; }
.left { margin-left: 0px; margin-right: auto; text-align: left; }
pre { border: 1pt solid rgb(174, 189, 204); background-color: rgb(243, 245, 247); padding: 5pt; font-family: courier,monospace; font-size: 90%; overflow: auto; }
table { border-collapse: collapse; }
td, th { vertical-align: top; }
th.right { text-align: center; }
th.left { text-align: center; }
td.right { text-align: right; }
td.left { text-align: left; }
div.figure { padding: 0.5em; }
div.figure p { text-align: center; }
/* ::::: http://dayigu.github.io/css/worg.css ::::: */

body { font-family: Helvetica,Arial,Vernada,Tahoma,STFangsong,STXihei,"Songti SC","Microsoft YaHei",Heiti,sans-serif; font-size: 18px; margin: 5% 10%; padding: 2% 5% 5%; width: 70%; line-height: 150%; border: 1px solid LightGrey; }
H1 { font-family: "Palatino Linotype","Book Antiqua",Palatino,Helvetica,STKaiti,SimSun,serif; }
H2 { font-family: "Palatino Linotype","Book Antiqua",Palatino,Helvetica,STKaiti,SimSun,serif; margin-bottom: 40px; padding: 5px; border-bottom: 2px solid LightGrey; width: 90%; line-height: 150%; color: DarkGreen; }
H3 { font-family: "Palatino Linotype","Book Antiqua",Palatino,Helvetica,STKaiti,SimSun,serif; margin-top: 40px; margin-bottom: 30px; border-bottom: 1px solid LightGrey; width: 80%; line-height: 150%; color: DarkBlue; }
li { margin-left: 10px; }
pre { font-family: Inconsolata,Consolas,"DEJA VU SANS MONO","DROID SANS MONO",Proggy,monospace; font-size: 75%; border: 1px solid lightgrey; background-color: Ivory; padding: 5px; line-height: 130%; margin-left: 10px; width: 95%; }
code { font-family: Inconsolata,Consolas,"DEJA VU SANS MONO","DROID SANS MONO",Proggy,monospace; font-size: 90%; }
a { text-decoration: none; cursor: crosshair; border-bottom: 1px dashed Red; padding: 1px; color: black; }
a:hover { background-color: LightGrey; }
img { display: block; margin: 30px auto; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

