/* Code tidied up by ScrapBook */
@font-face {
  font-family: "octicons";
  font-style: normal;
  font-weight: normal;
  src: url("octicons.eot") format("embedded-opentype"), url("octicons.woff") format("woff"), url("octicons.ttf") format("truetype"), url("octicons.svg") format("svg");
}
.octicon, .mega-octicon { font: 16px/1 octicons; display: inline-block; text-decoration: none; text-rendering: auto; -moz-user-select: none; }
.mega-octicon { font-size: 32px; }
.octicon-calendar:before { content: ""; }
.octicon-file-directory:before { content: ""; }
.octicon-mark-github:before { content: ""; }
.octicon-rss:before { content: ""; }
.octicon-search-save:before, .octicon-search:before { content: ""; }
