/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
* { box-sizing: border-box; }
input, select, textarea, button { font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"; }
body { font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(65, 131, 196); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { margin-top: 15px; margin-bottom: 15px; line-height: 1.1; }
h1 { font-size: 30px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
ul, ol { padding: 0px; margin-top: 0px; margin-bottom: 0px; }
tt, code { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; font: 12px Consolas,"Liberation Mono",Menlo,Courier,monospace; }
.container { width: 980px; margin-right: auto; margin-left: auto; }
.container:before { display: table; content: ""; }
.container:after { display: table; clear: both; content: ""; }
.columns { margin-right: -10px; margin-left: -10px; }
.columns:before { display: table; content: ""; }
.columns:after { display: table; clear: both; content: ""; }
.column { float: left; padding-right: 10px; padding-left: 10px; }
.one-fourth { width: 25%; }
.three-fourths { width: 75%; }
.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { min-height: 34px; padding: 7px 8px; font-size: 13px; color: rgb(51, 51, 51); vertical-align: middle; background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right center; border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; outline: medium none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset; }
.form-control.focus, .form-control:focus, input.focus[type="text"], input[type="text"]:focus, input.focus[type="password"], input[type="password"]:focus, input.focus[type="email"], input[type="email"]:focus, input.focus[type="number"], input[type="number"]:focus, input.focus[type="tel"], input[type="tel"]:focus, input.focus[type="url"], input[type="url"]:focus, textarea.focus, textarea:focus { border-color: rgb(81, 167, 232); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 5px rgba(81, 167, 232, 0.5); }
.right { float: right; }
.left { float: left; }
.btn { position: relative; display: inline-block; padding: 6px 12px; font-size: 13px; font-weight: bold; line-height: 20px; color: rgb(51, 51, 51); white-space: nowrap; vertical-align: middle; cursor: pointer; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)); border: 1px solid rgb(213, 213, 213); border-radius: 3px 3px 3px 3px; -moz-user-select: none; }
.btn .octicon { vertical-align: text-top; }
.btn:focus { text-decoration: none; border-color: rgb(81, 167, 232); outline: medium none; box-shadow: 0px 0px 5px rgba(81, 167, 232, 0.5); }
.btn:focus:hover, .btn.selected:focus { border-color: rgb(81, 167, 232); }
.btn:hover, .btn:active, .btn.zeroclipboard-is-hover, .btn.zeroclipboard-is-active { text-decoration: none; background-color: rgb(221, 221, 221); background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); border-color: rgb(204, 204, 204); }
.btn:active, .btn.selected, .btn.zeroclipboard-is-active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover { color: rgba(102, 102, 102, 0.5); cursor: default; background-color: rgba(229, 229, 229, 0.5); background-image: none; border-color: rgba(197, 197, 197, 0.5); box-shadow: none; }
@media not all {
}
