/* Code tidied up by ScrapBook */
.container { width: auto; max-width: 1020px; padding-left: 20px; padding-right: 20px; }
.mobile-visible { display: none; }
@media (max-width: 60em) {
}
@media (max-width: 35em) {
}
@media (max-width: 50em) {
  .mobile-block { display: block; float: none; }
  .mobile-hidden { display: none; }
  .mobile-visible { display: inline-block; }
  .column, .one-third-column { width: 100% ! important; float: none; }
  .collection-head .collection-header { line-height: 1; }
  .collection-head.small .collection-title h1.collection-header { font-size: 1.25em; }
  .collection-head .collection-info .meta-info, .collection-head .collection-info .meta-info .octicon { font-size: 0.75em; }
  .site-header { padding-bottom: 0px; padding-top: 5px; }
  .site-header h1, .site-header h1 .octicon { font-size: 1em; }
  .site-header .site-header-nav { float: right; display: none; margin-bottom: 0px; }
  .site-header .site-header-nav .site-header-nav-item { padding: 0px 0.5rem; margin-left: 0px; font-size: 1rem; display: block; text-align: right; }
  .collapsed { float: right; display: block; width: 22px; height: 2em; background-color: transparent; background-image: none; border: medium none; padding: 0px; cursor: pointer; outline: medium none; }
  .collapsed:active { border: 1px solid transparent; }
  .collapsed .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; background-color: rgb(86, 61, 124); }
  .collapsed .icon-bar + .icon-bar { margin-top: 4px; }
  .markdown-body h2 { font-size: 1.4rem; }
}
@media (max-width: 20em) {
  .site-header-nav .site-header-nav-item { min-width: 20%; }
  .collection-head .collection-info .meta-info { display: block; margin-top: 15px; }
}
