/* ::::: [internal] ::::: */

/* ::::: (import) http://www.9bis.net/kitty/themes/red/style.css ::::: */
img { border: 0px none; }
body { background-color: rgb(77, 16, 34); font-family: Trebuchet,"Trebuchet MS",sans-serif; font-size: 16px; line-height: 16px; }
pre { border: 1px dotted rgb(132, 4, 46); padding: 4px; width: 640px; overflow: auto; }
code { font-family: Courier New,monospace; font-size: 12px; }
a { color: rgb(132, 4, 46); }
a.url { color: rgb(77, 16, 34); }
a:hover { color: rgb(77, 16, 34); background: inherit; }
th { padding-left: 1em; background: rgb(132, 4, 46) none repeat scroll 0% 0%; color: white; border-bottom: 1px dashed rgb(17, 20, 26); }
th h1 { font-family: "Futura Condensed",Futura,sans-serif ! important; font-weight: bolder; padding-top: 10px; padding-bottom: 4px; margin-top: 0px; margin-bottom: 0px; }
h1, h2, h3, h4, h5, h6 { font-family: "Futura Condensed",Futura,sans-serif ! important; }
th a { text-decoration: none; color: white ! important; }
th p { font-size: 80%; margin-top: 0px; margin-bottom: 0px; padding-left: 2em; }
#mainTable { border: 1px solid rgb(132, 4, 46); }
.pageLinks { padding-left: 1em; padding-right: 1em; font-size: 60%; margin-top: 0px; margin-bottom: 0px; background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); }
.pageLinks a { font-weight: bold; text-decoration: none; }
#headerLinks td { border-bottom: 1px dashed rgb(132, 4, 46) ! important; }
#footerLinks td { border-top: 1px dashed rgb(132, 4, 46) ! important; }
.error { color: rgb(242, 90, 90); font-weight: bold; }
form { display: inline; }
#mainContent { font-size: 90%; padding: 1em; background-color: white; }
#mainContent a:hover { background-image: url("gris_anim.gif"); background-repeat: no-repeat; }
#mainContent a:hover::before { content: " >> "; }
/* ::::: (end import) ::::: */
