/* Code tidied up by ScrapBook */
a, body { color: rgb(129, 124, 124); }
#textlogo h1.site-name, .fa, .navbutton:before {  }
#container, #footer, #page-nav, #toc.toc-aside, .article-nav a, .linkslist ul a, body > header > div { overflow: hidden; }
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; vertical-align: baseline; }
caption, table, td, th { vertical-align: middle; }
body { background: url("bg-canvas_bg.jpg") repeat scroll 0% 0% rgb(255, 255, 255); font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; font-size: 100%; line-height: 1.7; }
ol, ul { list-style: none outside none; }
table { border-collapse: separate; border-spacing: 0px; }
caption, td, th { text-align: left; font-weight: 400; }
a img { border: medium none; }
@font-face {
  font-family: "rougescript-regular";
  font-style: normal;
  font-weight: 400;
  src: url("rougescript-regular.eot") format("embedded-opentype"), url("rougescript-regular.svg") format("svg"), url("rougescript-regular.woff") format("woff"), url("rougescript-regular.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
@font-face {
  font-family: "fontdiao";
  font-style: normal;
  font-weight: 400;
  src: url("fontdiao.eot") format("embedded-opentype"), url("fontdiao.svg") format("svg"), url("fontdiao.woff") format("woff"), url("fontdiao.ttf") format("truetype");
}
* {  }
iframe { margin-top: 10px; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; padding-left: 0.3em; }
a { text-decoration: none; }
a:focus, a:hover { outline: 0px none; text-decoration: none; transition: color 0.25s ease 0s, background 0.5s ease 0s; }
a:hover:before { transition: color 0.25s ease 0s, background 0.5s ease 0s; }
input:focus { outline: 0px none; }
button, input { margin: 0px; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
h1 { font-size: 1.5em; }
.clearfix {  }
.clearfix:after, .clearfix:before { content: ""; display: table; }
.clearfix:after { clear: both; }
*::-moz-placeholder { color: rgb(255, 255, 255); padding: 2px 0px 0px 4px; }
#textlogo h1.site-name, body > header a { font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; }
.animated { animation-fill-mode: both; animation-duration: 1s; }
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
body > header { width: 100%; box-shadow: 2px 4px 5px rgba(3, 3, 3, 0.2); background: url(".html") repeat scroll center center rgb(246, 246, 246); color: rgb(19, 12, 14); padding: 1em 0px 0.8em; }
body > header > div { width: 95%; margin: 0px auto; position: relative; }
@media only screen and (min-width: 1024px) {
  body > header { padding: 1.8em 0px 1.5em; }
  body > header > div { width: 93%; }
}
body > header a { display: block; color: rgb(19, 12, 14); }
#imglogo, .search label { display: none; }
body > header a:hover { text-decoration: none; color: rgb(114, 186, 167); }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
#textlogo { width: 75%; }
#textlogo h1.site-name { width: 86%; font-size: 200%; line-height: 1.7; }
@media only screen and (min-width: 768px) {
  #textlogo h1.site-name { font-size: 240%; }
}
@media only screen and (min-width: 1024px) {
  #textlogo h1.site-name { font-size: 280%; }
  #textlogo h2.blog-motto { font-size: 1.66em; }
}
#textlogo h1.site-name a { background: url("sxsl_wqyc.png") repeat scroll center center / 100% 100% transparent; width: 18em; height: 2em; }
#textlogo h2.blog-motto { font-size: 1.66em; font-weight: 400; margin: -0.1em 0px 0.88em 1.1em; font-family: rougescript-regular,"Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; }
@media only screen and (min-width: 768px) {
  #textlogo h2.blog-motto { font-size: 1.66em; }
}
.navbar { position: absolute; width: 2em; right: 0px; top: 1em; padding: 0.5em; }
.navbutton:before { font-family: FontAwesome; content: ""; }
.search input, header nav ul li a { font-family: rougescript-regular,"Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; }
.navmobile:before { padding-left: 1em; }
header nav { float: left; width: 100%; font-size: 121%; padding-top: 0.5em; max-height: 0.01em; transition: max-height 1s ease-out 0s; }
@media only screen and (min-width: 568px) {
  header nav { width: 50%; }
}
header nav ul li a { padding: 0.1em 0px 0.2em 0.2em; margin: 0px 1em 0px 0px; font-size: 1.7em; letter-spacing: 0px; text-align: center; }
@media only screen and (min-width: 1024px) {
  .navbar { display: none; }
  header nav { float: right; width: auto; margin-top: 0.1em; max-height: none; }
  header nav ul { float: right; }
  header nav ul li { float: left; }
  header nav ul li a { padding: 0.1em 0.2em; }
}
header nav ul li a:hover { color: rgb(114, 186, 167); }
.search { padding: 0.1em 0px 0px 1em; }
.search input { font-size: 1.2em; line-height: 1.9; border: 1px solid rgb(19, 12, 14); color: rgb(19, 12, 14); background: none repeat scroll 0px 0px transparent; width: 80%; border-radius: 1em 1em 1em 1em; padding-left: 0.5em; }
#page-nav .next span:before, #page-nav .prev span:before, .archive-icon:before, .category-icon:before, .tag-icon:before, article header.article-info > p.article-time:before { font-family: FontAwesome; }
@media only screen and (min-width: 1024px) {
  .search input { width: 9em; transition: width 0.5s ease 0s; }
  .search input:focus { border: 1px solid rgb(114, 186, 167); width: 15em; box-shadow: 0px 0px 10px rgb(0, 204, 204); }
}
:-moz-placeholder { color: rgb(51, 51, 51); }
@keyframes colorChange {
0% { background-color: rgb(16, 43, 106); }
20% { background-color: rgb(65, 20, 69); }
40% { background-color: rgb(64, 46, 76); }
60% { background-color: rgb(45, 45, 45); }
80% { background-color: rgb(19, 12, 14); }
100% { background-color: rgb(0, 0, 0); }
}
@keyframes colorChange {
0% { background-color: rgb(16, 43, 106); }
20% { background-color: rgb(65, 20, 69); }
40% { background-color: rgb(64, 46, 76); }
60% { background-color: rgb(45, 45, 45); }
80% { background-color: rgb(19, 12, 14); }
100% { background-color: rgb(0, 0, 0); }
}
#container { width: 95%; margin: 0px auto; }
@media only screen and (min-width: 768px) {
  #container { width: 96%; }
}
@media only screen and (min-width: 1024px) {
  #container { width: 94%; }
}
@media only screen and (min-width: 1560px) {
  #container { width: 82%; }
}
#main { margin: 1em 0px 0px; line-height: 2; }
@media only screen and (min-width: 1024px) {
  #main { margin: 2em 0px 0px; width: 75%; float: left; transition: margin 0.5s ease-out 0s; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 568px) {
  article .article-content table { min-width: 456px; }
}
@media only screen and (min-width: 568px) {
}
@media only screen and (min-width: 768px) {
  article header.article-info { border-bottom: 1px solid rgb(219, 219, 219); }
}
.link, .page, .photo, .post { background: none repeat scroll 0% 0% rgb(248, 248, 253); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(10, 10, 0, 0.1) inset; }
.link a, .page a, .photo a, .post a { color: rgb(114, 186, 167); }
.link a:hover, .page a:hover, .photo a:hover, .post a:hover { text-decoration: none; color: rgb(0, 154, 214); }
article header.article-info > h1 { padding: 0.2em 3%; font-size: 170%; line-height: 1.7; word-wrap: break-word; word-break: normal; border-left: 5px solid rgb(45, 45, 45); }
@media only screen and (min-width: 1024px) {
  article header.article-info > h1 { font-size: 200%; padding-top: 0.3em; }
}
article header.article-info > p.article-author { padding: 0.3em 4% 0.3em 0px; text-align: right; border-bottom: 1px solid rgb(219, 219, 219); }
article header.article-info > p.article-time { padding-top: 0.5em; font-size: 0.8em; text-align: center; }
@media only screen and (min-width: 768px) {
  article header.article-info > p.article-author { float: right; border-bottom: medium none; }
  article header.article-info > p.article-time { float: right; margin-right: 1em; padding-top: 0.1em; font-size: 0.9em; }
}
article header.article-info > p.article-time:before { font-size: 130%; content: ""; }
.article-content .gist .gist-file, .article-content pre { font-family: Monaco,Menlo,Consolas,Courier New,monospace; }
article .article-content { padding: 1.5em 4%; color: rgb(65, 63, 63); font-size: 100%; }
article .article-content:after, article .article-content:before { content: ""; display: block; clear: both; }
article .article-content strong { font-weight: 700; }
article .article-content blockquote { border-left: 0.2em solid rgb(45, 45, 45); margin: 0.65em 0px 0.65em 1%; padding-left: 1%; line-height: 1.7; font-size: 100%; color: grey; }
article .article-content ol, article .article-content ul { padding-left: 1.5em; font-size: 100%; padding-top: 0.7em; }
@media only screen and (min-width: 768px) {
  article .article-content ol, article .article-content ul { padding-left: 1.5em; }
}
article .article-content ul li { list-style: disc outside none; }
article .article-content em code, article .article-content ol li > code, article .article-content p code, article .article-content strong code, article .article-content table td > code, article .article-content table th > code, article .article-content ul li > code { font-family: Monaco,Menlo,Consolas,Courier New,monospace; background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(221, 17, 68); border: 1px solid rgb(214, 214, 214); padding: 0px 5px; margin: 0px 2px; font-size: 90%; white-space: nowrap; text-shadow: 0px 1px rgb(255, 255, 255); border-radius: 0.25em 0.25em 0.25em 0.25em; }
article .article-content p { line-height: 1.7; margin-top: 0.7em; }
@media only screen and (min-width: 1024px) {
  article .article-content p { margin-top: 1em; }
}
article .article-content figure img, article .article-content img, article .article-content video { max-width: 100%; display: table-cell; margin: 0px auto; height: auto; vertical-align: middle; padding-top: 0.5em; }
.openaside, article .article-content .img-logo, article .article-content .img-topic { display: none; }
@media only screen and (min-width: 1024px) {
  article .article-content figure img, article .article-content img, article .article-content video { padding-top: 0.7em; }
}
article .article-content table { max-width: 100%; border-collapse: collapse; border-spacing: 0px; margin-top: 1em; }
article .article-content table td { border-bottom: 1px solid rgb(219, 219, 219); padding: 0.5em; line-height: 1.3em; }
.article-content table { margin: auto; border: 1px solid rgb(219, 219, 219); }
.article-content .highlight > table { border: medium none; }
blockquote p { font-size: 16px; }
footer.article-footer { background: none repeat scroll 0% 0% rgb(248, 248, 253); padding: 0px 4%; margin: 0px; border-top: 1px solid rgb(219, 219, 219); }
.article-share { float: right; width: 100%; }
@media only screen and (min-width: 568px) {
  .article-share { width: 60%; }
}
@media only screen and (min-width: 768px) {
  .article-share { width: 16.5em; }
}
.article-categories span:before, .article-tags span:before, .comments-count span:before, .qrclose:before { font-family: FontAwesome; }
@media only screen and (min-width: 1024px) {
}
.article-categories, .article-tags { padding: 0.5em 0px; float: left; }
.article-tags { color: rgb(214, 214, 214); }
@media only screen and (max-width: 568px) {
  .article-categories, .article-tags { width: 100%; }
  .article-tags { margin-left: 0px; }
  .modal-div { min-width: 320px; }
}
.article-tags span { position: relative; float: left; width: 1em; height: 2em; margin-right: 0.5em; }
.article-tags span:before { width: 1.2em; height: 1.2em; position: absolute; top: 50%; left: 50%; margin-top: -0.6em; margin-left: -0.6em; content: ""; }
.article-tags a { float: left; padding: 0px 0.3em; margin: 0.3em; background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.article-tags a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(114, 186, 167); }
.article-categories { color: rgb(214, 214, 214); margin-top: 0.3em; margin-right: 3em; }
.article-categories span:before { content: ""; }
.article-category-link { padding: 0.5em; margin: 0px 0.3em; }
.article-category-link:hover { color: rgb(255, 255, 255) ! important; background: none repeat scroll 0% 0% rgb(114, 186, 167); }
.article-nav { padding: 0px 10%; }
@media only screen and (min-width: 768px) {
  .article-nav { padding: 0px 4%; }
}
.article-nav .next span:before, .article-nav .prev span:before { font-family: FontAwesome; padding-right: 0.5em; }
.article-nav strong { font-size: 1em; font-weight: 700; }
.article-nav a { display: block; }
.article-nav .next a:hover, .article-nav .prev a:hover { background: none repeat scroll 0% 0% rgb(114, 186, 167); color: rgb(255, 255, 255); }
.article-nav .prev { width: 100%; float: left; }
.article-nav .prev strong { padding-left: 1.8em; }
.article-nav .prev span:before { content: ""; }
@media only screen and (min-width: 768px) {
  .article-nav .prev { width: 45%; float: left; }
}
.article-nav .next { width: 100%; float: left; text-align: left; }
.article-nav .next strong { padding-left: 1.5em; }
.article-nav .next span:before { content: ""; }
@media only screen and (min-width: 768px) {
  .article-nav .next { width: 45%; float: right; text-align: right; }
  .article-nav .next strong { padding-right: 1.8em; }
  .article-nav .next span:before { content: none; }
  .article-nav .next span:after { font-family: FontAwesome; content: ""; padding-left: 0.5em; }
}
.closeaside a:before, .openaside a:before { content: ""; font-family: FontAwesome; }
section.comment { padding: 0px 4%; margin: 1em 0px; }
.copyright, .modal-div, .reward-tip-p, .rsspart a { text-align: center; }
#toc { line-height: 1.3em; font-size: 0.8em; float: right; }
#toc.toc-aside { display: none; width: 13%; position: fixed; right: 2%; top: 320px; line-height: 1.5em; font-size: 1em; color: rgb(51, 51, 51); opacity: 0.6; transition: opacity 1s ease-out 0s; }
#toc.toc-aside strong { padding: 0.3em 0px; color: rgb(129, 124, 124); }
#toc.toc-aside:hover { transition: opacity 0.3s ease-out 0s; opacity: 1; filter: none; }
.openaside { position: fixed; right: 7.5%; top: 260px; }
.openaside a { display: block; color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); border-radius: 5px 5px 5px 5px; background: none repeat scroll 0% 0% rgb(45, 45, 45); padding: 0.2em 0.55em; }
.closeaside { display: none; }
.closeaside a { color: rgb(45, 45, 45); }
.asidetitle, .asidetitle a, .closeaside a:hover { color: rgb(114, 186, 167); }
#asidepart { background: none repeat scroll 0% 0% rgb(248, 248, 253); box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4), 0px 0px 20px rgba(0, 0, 0, 0.1) inset; margin: 1em 0px 0px; padding: 0.5em 2% 1em; }
@media only screen and (min-width: 1024px) {
  .closeaside { display: block; position: absolute; right: 25px; top: 22px; }
  #asidepart { position: relative; float: left; width: 22%; margin: 2em 0px 0px 3%; }
}
.asidetitle { font-size: 1.1em; padding: 0px 0px 0.3125em; border-bottom: 0.1875em solid rgb(204, 204, 204); }
@media only screen and (min-width: 768px) {
  .categorieslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .categorieslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.categorieslist li { border-bottom: 1px solid rgb(204, 204, 204); }
.categorieslist li a { display: block; padding: 0.5em 5%; transition: all 0.4s ease 0s; }
.categorieslist li a:hover { padding-left: 1em; color: rgb(0, 154, 214); }
.tagslist { margin: 1em 0px 0px; }
@media only screen and (min-width: 768px) {
  .tagslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .tagslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.tagslist ul { padding: 0.5em 0px; }
.tagslist ul li { float: left; }
.tagslist ul li a { display: block; margin: 0.3125em; padding: 0.0115em 0.95em; background: none repeat scroll 0% 0% rgb(230, 230, 230); border-radius: 28px 28px 28px 28px; }
.tagslist ul li a:hover { color: rgb(45, 45, 45); background: none repeat scroll 0% 0% rgb(89, 96, 96); }
.rsspart { background: none repeat scroll 0% 0% rgb(45, 45, 45); width: 100%; }
@media only screen and (min-width: 768px) {
  .rsspart { float: left; width: 45%; margin: 0px 5% 0px 0px; }
}
.rsspart a { color: rgb(255, 255, 255); display: block; padding: 0.625em 0px; }
.rsspart a:hover { color: rgb(45, 45, 45); background: none repeat scroll 0% 0% rgb(248, 248, 253); }
.rsspart a:before { font-family: FontAwesome; padding-right: 0.5em; content: ""; }
@media only screen and (min-width: 1024px) {
  .archiveslist, .rsspart { width: 100%; float: none; margin: 1em 0px 0px; }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
.linkslist { margin-top: 0.5em; }
@media only screen and (min-width: 768px) {
  .linkslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .linkslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.linkslist ul { padding: 0.5em 0px; }
.linkslist ul a { font-size: 1em; line-height: 1.7; display: block; padding: 0px 3%; transition: all 0.4s ease 0s; white-space: nowrap; text-overflow: ellipsis; }
.linkslist ul a:hover { padding-left: 6%; color: rgb(0, 154, 214); }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
footer { margin-top: 1em; background: none repeat scroll 0% 0% rgb(31, 31, 31); padding: 0px 2% 0.5em; }
#footer { width: 95%; margin: 0px auto; position: relative; }
#footer .line { width: 100%; height: 14em; margin: 0px auto; }
@media only screen and (min-width: 768px) {
  #footer .line { width: 10em; float: left; position: relative; }
}
#footer .line span { display: block; width: 0.5em; height: 6.25em; border-right: 0.125em solid rgb(255, 255, 255); margin: 0px auto; }
@media only screen and (min-width: 768px) {
  #footer .line span { position: absolute; left: 3em; margin: 0px 0px 1.5em; }
}
.author { width: 6.875em; height: 6.875em; margin: 0px auto; background: url("bruceLee.jpg") no-repeat scroll left top / 6.875em 6.875em transparent; border-radius: 3.4375em 3.4375em 3.4375em 3.4375em; transition: transform 2s ease-out 0s; }
.author:hover { transform: rotateZ(360deg); }
@media only screen and (min-width: 768px) {
  .author { position: absolute; top: 6em; margin: 0px 0px 1.5em; }
}
.info { font-family: rougescript-regular,"Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; font-size: 150%; line-height: 1.3em; width: 90%; margin: 0px auto; color: rgb(255, 255, 255); }
@media only screen and (min-width: 768px) {
  .info { margin: 4.5em 0px 2em; float: left; width: 75%; }
}
.social-font { width: 100%; margin: 0px auto; float: left; padding-left: 3%; }
@media only screen and (min-width: 568px) {
  .social-font { padding-left: 20%; }
}
@media only screen and (min-width: 768px) {
  .social-font { width: 49em; position: absolute; right: -2em; top: 3em; }
  .copyright { float: left; }
}
.social-font a { float: left; display: block; width: 14%; color: rgb(114, 186, 167); font-size: 185%; padding: 0.5em; }
@media only screen and (min-width: 1024px) {
  .social-font a { padding: 0.3em; }
}
.social-font a:hover:before { text-decoration: none; color: rgb(255, 238, 0); }
.icon-email:before, .icon-facebook:before, .icon-github:before, .icon-google_plus:before, .icon-linkedin:before, .icon-stack-overflow:before, .icon-twitter:before, .icon-weibo:before { font-family: FontAwesome; }
.icon-douban:before, .icon-zhihu:before { font-family: fontdiao; }
.icon-weibo:before { content: ""; }
.icon-github:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-facebook:before { content: ""; }
.icon-email:before { content: ""; }
.icon-douban:before { content: ""; }
.copyright { font-family: rougescript-regular,"Helvetica Neue",Helvetica,"Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; width: 100%; color: rgb(255, 255, 255); }
.copyright a { color: rgb(114, 186, 167); }
.copyright a:hover { color: rgb(114, 186, 167); text-decoration: none; }
#reward-modal-container { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; display: flex; z-index: 9999; color: rgb(19, 12, 14); }
.modal-div { width: 46%; border: 1px solid rgb(233, 233, 233); border-radius: 8px 8px 8px 8px; position: fixed; box-shadow: 0px 0px 5px rgb(153, 153, 153); top: 50%; left: 50%; transform: translate(-50%, -50%); background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 20px; }
#reward-modal-container:not(:target) { opacity: 0; visibility: hidden; transition: opacity 1s ease 0s, visibility 1s ease 0s; }
#reward-modal-container:target { opacity: 1; filter: none; visibility: visible; transition: opacity 1s ease 0s, visibility 1s ease 0s; }
.reward-img-div { width: 50%; height: 50%; margin: auto; border-radius: 1em 1em 1em 1em; border: 3px solid rgb(255, 34, 34); }
.reward-qr-img { width: 96%; padding: 8px 1px 0px; }
.reward-img-div, .reward-text-div, .reward-thx-p, .reward-tip-p { margin-top: 15px; }
.reward-thx-p { color: rgb(153, 153, 153); }
.reward-tip-p { color: rgb(209, 209, 209); font-size: 12px; line-height: 18px; }
#open-reward-modal-a { display: block; margin: 0px auto 1%; width: 7em; height: 2.3em; font-size: 1.2em; line-height: 2.3; color: rgb(242, 242, 242); background-color: rgb(237, 25, 65); text-decoration: none; text-align: center; border-radius: 2em 2em 2em 2em; }
#open-reward-modal-a:hover { transition: all 1s ease 0s; color: rgb(255, 212, 0); background-color: red; }
.close-modal-a { position: absolute; right: 5%; top: 3%; background-size: 100% 100%; width: 1.5em; height: 1.5em; }
.close-modal-a:after, .close-modal-a:before { content: ""; display: block; height: 0px; border-bottom: 2px solid rgb(17, 17, 17); top: 0px; position: absolute; width: 141.41%; }
.close-modal-a:before {  }
.close-modal-a:after { left: 100%; }
.article-content .highlight, .article-content .highlight pre, .article-content pre { background: none repeat scroll 0% 0% rgb(0, 0, 0); margin: 0.5em 0px; padding: 0.5em 2%; color: rgb(204, 204, 204); line-height: 1.7; font-size: 0.8em; border-radius: 0.35em 0.35em 0.35em 0.35em; word-wrap: break-word; }
@media only screen and (min-width: 568px) {
  .article-content .highlight, .article-content .highlight pre, .article-content pre { font-size: 0.9em; }
}
.article-content .gist .gist-file .gist-data .line-numbers, .article-content .highlight .gutter pre { color: rgb(102, 102, 102); font-size: 0.4em; }
@media only screen and (min-width: 568px) {
  .article-content .gist .gist-file .gist-data .line-numbers, .article-content .highlight .gutter pre { font-size: 0.9em; line-height: 1.7; }
}
.article-content pre { background: none repeat scroll 0% 0% rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); }
.article-content .highlight { overflow: auto; font-size: 0.4em; }
@media only screen and (min-width: 568px) {
  .article-content .highlight { font-size: 0.9em; }
}
.article-content .highlight pre { border: medium none; margin: 0px; padding: 0px; }
.article-content .highlight table { margin: 0px; width: auto; }
.article-content .highlight td { border: medium none; padding: 0px; }
.article-content .highlight .gutter pre { text-align: right; padding-right: 1.5em; }
.article-content .highlight .line { height: 20px; }
pre .javascript .function, pre .keyword { color: rgb(204, 153, 204); }
#totop { position: fixed; bottom: 5em; right: 1em; cursor: pointer; }
@media only screen and (max-width: 1024px) {
  #totop { display: none ! important; }
}
