/* ::::: [internal] ::::: */

html {  }
html, body, #creation { height: 100%; }
body { margin: 0px; }
/* ::::: [internal] ::::: */

.templet { font-size: 14px; line-height: 1.5; font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',微软雅黑,宋体,sans-serif; display: block; overflow: hidden; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; width: 300px; height: 250px; }
.templet a { text-decoration: none; }
.templet img { border: medium none; }
.yen { font-family: arial; }
.templet { font-family: "Microsoft YaHei"; position: relative; }
.global { width: 294px; height: 244px; border: 3px solid rgb(255, 68, 0); overflow: hidden; }
.tao { display: block; float: left; top: 15px; left: 15px; width: 30px; height: 244px; overflow: hidden; background: url("TB11KimHpXXXXXJXXXXQKC3FVXX-27-59.png") no-repeat scroll center center rgb(255, 68, 0); }
.carousel { float: left; width: 244px; height: 244px; overflow: hidden; }
.carousel .frames { width: 244px; height: 244px; overflow: hidden; }
.carousel .frame { display: none; float: left; position: relative; width: 244px; height: 244px; overflow: hidden; text-align: center; }
.carousel .current { display: block; }
.carousel .item { display: block; float: left; position: relative; width: 244px; height: 244px; overflow: hidden; }
.carousel .pic { display: block; float: left; width: 244px; height: 244px; }
.carousel .pic img { width: 244px; height: 244px; }
.carousel .info { position: absolute; left: 0px; bottom: 0px; width: 244px; height: 20px; background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8); }
:root .carousel .info {  }
.carousel .pinfo { display: block; float: left; margin-left: 10px; height: 20px; line-height: 20px; }
.carousel .pinfo .price-promo { display: block; float: left; color: rgb(255, 68, 0); font-size: 16px; margin-right: 3px; font-weight: bold; }
.carousel .pinfo .price-original { display: block; position: relative; top: 3px; float: right; width: 20px; height: 17px; line-height: 20px; background: url("TB1Mng.HpXXXXb4XFXX1qpgFpXX-20-14.gif") no-repeat scroll 0px 0px transparent; }
.carousel .pinfo .price-original .yen, .carousel .pinfo .price-original .price { display: none; }
.carousel .finfo { display: none; position: relative; top: 2px; float: right; margin-right: 5px; line-height: 20px; width: 29px; height: 16px; background: url("TB1LKo.HpXXXXbiXFXX91dEGXXX-29-16.png") no-repeat scroll 0px 0px transparent; }
.carousel .postfree { display: block; }
.carousel .triggers { position: absolute; top: 0px; right: 3px; width: 20px; height: 238px; margin-top: 9px; text-align: left; }
.carousel .trigger { position: relative; display: block; float: left; height: 12px; width: 12px; line-height: 20px; margin: 0px 4px 10px; background-color: rgb(229, 229, 229); }
.carousel .triggers .current { background-color: rgb(255, 68, 0); }
