/* ::::: http://windowmaker.org/title.css ::::: */

body { color: rgb(255, 255, 255); font-size: 1em; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; background-color: rgb(80, 80, 117); margin: 0px; }
a { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
table .inner { margin-left: 1em; width: 90%; }
h1 { color: rgb(235, 222, 255); font-size: 20pt; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-style: italic; font-weight: bold; line-height: 22pt; }
h2 { color: rgb(235, 222, 255); font-size: 18pt; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-style: italic; line-height: 20pt; }
a:hover, a:focus { text-decoration: underline; font-style: italic; color: rgb(204, 204, 204); }
a:link, a:visited, a:active { text-decoration: underline; color: rgb(255, 255, 255); }
img { border: medium none; }
#dock { position: absolute; top: 100px; left: 5px; }
#inhalt { position: absolute; top: 40px; left: 100px; min-width: 800px; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

