/* ::::: [internal] ::::: */

/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:400,700,600 ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/* ::::: http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.css ::::: */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-envelope-o:before { content: ""; }
.fa-user:before { content: ""; }
.fa-home:before { content: ""; }
.fa-tags:before { content: ""; }
.fa-calendar:before { content: ""; }
.fa-twitter-square:before { content: ""; }
.fa-hand-o-right:before { content: ""; }
.fa-google-plus-square:before { content: ""; }
.fa-commenting-o:before { content: ""; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
i { font-style: italic; }
.articlebodyonly blockquote i { font-style: normal; }
strong, b { font-weight: bold; }
nav strong { font-weight: normal; }
.clear:before, .clear:after { content: " "; display: table; }
.clear:after { clear: both; }
.clear {  }
.separator:before, .separator:after { content: " "; display: table; }
.separator:after { clear: both; }
.separator {  }
.cf:before, .clear:after { content: " "; display: table; }
.articlebodyonly br { display: block; content: " "; margin-top: 20px; }
a { color: rgb(17, 119, 184); text-decoration: none; outline: 0px none; }
a:visited { color: rgb(17, 119, 184); }
a:hover, a:active { color: rgb(17, 119, 184); text-decoration: none; }
.author, .author a, .author a:hover, .author a:focus, .author a:active { color: rgb(119, 119, 119); margin: 0px 10px 0px 0px; }
a img { border-width: 0px; }
li ul, li ol { margin: 0px; }
ol, ul { margin: 20px 20px 20px 35px; padding-left: 5px; }
ul {  }
.post-body blockquote { margin: 15px 0px; padding: 10px; color: rgb(34, 34, 34); font-size: 15.4px; background: none repeat scroll 0% 0% rgb(253, 253, 253); border: 1px solid rgb(241, 241, 241); }
*::-moz-selection { background-color: rgb(61, 90, 153); color: rgb(255, 255, 255); }
.articlebodyonly a { color: rgb(0, 108, 216); text-decoration: none; }
.articlebodyonly a:link { outline: medium none; text-decoration: none; color: rgb(0, 108, 216); }
.articlebodyonly a:visited { outline: medium none; text-decoration: none; color: rgb(0, 108, 216); }
.articlebodyonly a:hover { color: rgb(0, 108, 216); text-decoration: underline; }
.categ, .categ a:link, .categ a:visited, .categ a:hover, .categ h2 { display: inline; font-weight: normal; font-style: italic; text-transform: capitalize; font-size: 13px; color: rgb(119, 119, 119); }
.main .widget { margin: 0px 0px 0.2em; padding: 0px 0px 0.2em; height: auto; }
.main .Blog { border-bottom-width: 0px; height: auto; }
.separator a { pointer-events: none; cursor: default; }
.separator a img { outline: medium none; border: 0px none; }
.separator a:active, .separator a:focus { outline: medium none; }
.separator a img:active, .separator a img:focus { outline: medium none; }
@media screen and (max-width: 780px) {
  body { margin: 0px auto; color: rgb(33, 33, 33); font-family: 'Open Sans',arial,Helvetica,sans-serif; font-size: 15.5px; transition: all 1.2s linear 0s; overflow-x: hidden; background-color: rgb(250, 250, 250); text-rendering: optimizelegibility; }
  #body-wrapper { margin: 0px; background-image: none; }
  #outer-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 100% ! important; margin: 0px auto; border: 1px solid rgb(241, 241, 241); }
  footer, nav { display: block; background: none repeat scroll 0% 0% rgb(60, 90, 152); width: 100% ! important; clear: both; z-index: 999999; }
  footer { min-height: 10px; }
  .footerlinks, .navlinks { display: block; }
  .desktop { display: none ! important; }
  .header { width: 100% ! important; clear: both; margin: 10px 0px 20px; padding: 10px 0px; height: auto ! important; }
  .logo-div img { width: 100% ! important; height: auto ! important; }
  .logo-div { float: none; }
  #main-wrapper { float: left; width: 100% ! important; height: 100% ! important; display: inline; word-wrap: break-word; overflow: hidden; }
  .post-body { text-align: justify; line-height: 28px ! important; clear: both; margin: 0px; }
  .post-body img { max-width: 100% ! important; display: block; margin-right: 0em ! important; margin-left: 0em ! important; height: auto ! important; width: 100% ! important; }
  .shareinpost { padding: 3px 2px; margin-top: 10px; }
  .post { height: 100% ! important; padding: 5px; }
  .post-title a, .post-title a:visited, .post-title strong { color: rgb(61, 90, 153); display: block; text-decoration: none; padding: 3px 8px 3px 0px; line-height: 1.4em; font-size: 1.7em; text-align: left; font-weight: 600; }
  .postmeta { padding: 5px 2px; color: rgb(119, 119, 119); font-size: 13px; }
  .tags { display: none; }
  .desktop { display: none; }
  footer, nav { width: 750px; clear: both; z-index: 999999; margin: 0px auto; }
  footer { min-height: 10px; }
  .articlebodyonly { margin-bottom: 15px; line-height: 27px; }
  .mobile-menu { display: none; }
  .a-social { margin-right: 2px; font-size: 1em; }
  #content-wrapper { padding: 1%; position: relative; }
  .head-head { padding: 0px 1%; min-height: 90px; }
}
@media only screen and (min-width: 780px) and (max-width: 1070px) {
  body { margin: 0px auto; color: rgb(33, 33, 33); font-family: 'Open Sans',arial,Helvetica,sans-serif; font-size: 15.5px; overflow-x: hidden; background-color: rgb(250, 250, 250); }
  .tags { margin: 20px 0px; display: none; clear: both; color: rgb(119, 119, 119); }
  .postmeta { padding: 5px 2px; color: rgb(119, 119, 119); font-size: 13px; }
  #body-wrapper { margin: 0px; background-image: none; }
  #outer-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 750px ! important; margin: 0px auto; border: 1px solid rgb(241, 241, 241); }
  footer, nav { display: block; background: none repeat scroll 0% 0% rgb(60, 90, 152); clear: both; width: 750px ! important; z-index: 999999; margin: 0px auto; }
  .footerlinks, .navlinks { display: block; }
  .desktop { display: none ! important; }
  .header { padding: 10px 0px; height: 90px; background: none repeat scroll 0% 0% rgb(253, 253, 253); border-bottom: 1px solid rgb(241, 241, 241); }
  .w2bmenu { display: block; }
  .logo-div img { width: 100% ! important; height: auto ! important; }
  .logo-div { float: none; }
  #main-wrapper { float: left; width: 730px ! important; height: 100% ! important; display: inline; word-wrap: break-word; overflow: hidden; }
  .post-body { text-align: justify; line-height: 28px ! important; }
  .post-body img { max-width: 728px; clear: both; }
  .shareinpost { padding: 3px 2px; margin-top: 10px; }
  .shareinpost:hover, .shareagain:hover {  }
  .post { height: 100% ! important; padding: 5px; }
  .desktop { display: none; }
  .articlebodyonly { margin-bottom: 15px; line-height: 27px; }
  .a-social { margin-right: 2px; font-size: 1.2em; }
  @keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
  @keyframes popin {
0% { transform: scale(0); opacity: 0; }
85% { transform: scale(1.05); opacity: 1; }
100% { transform: scale(1); opacity: 1; }
}
  #content-wrapper { padding: 1%; position: relative; }
  .head-head { padding: 0px 1%; }
}
@media only screen and (min-width: 1090px) {
  body { margin: 0px auto; color: rgb(33, 33, 33); font-family: 'Open Sans',arial,Helvetica,sans-serif; font-size: 15.5px; overflow-x: hidden; background-color: rgb(250, 250, 250); }
  .tags { margin: 20px 0px; display: none; clear: both; color: rgb(119, 119, 119); }
  #body-wrapper { margin: 0px; background-image: none; }
  footer, nav { z-index: 999999; min-height: 10px; margin: 0px auto; }
  .header { padding: 10px 0px; height: 90px; background: none repeat scroll 0% 0% rgb(253, 253, 253); border-bottom: 1px solid rgb(241, 241, 241); }
  .logo-div { float: left; margin-left: 13px; }
  #outer-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 1090px; margin: 0px auto; border: 1px solid rgb(241, 241, 241); }
  #main-wrapper { float: left; width: 748px; height: 100%; display: inline; word-wrap: break-word; overflow: hidden; border-right: 1px solid rgb(241, 241, 241); }
  .post-body { text-align: justify; line-height: 30px ! important; padding: 7.25px; }
  .post-body img { max-width: 728px; clear: both; }
  .shareinpost { padding: 3px 2px; margin-top: 10px; }
  .shareinpost:hover, .shareagain:hover {  }
  .post { height: 100% ! important; padding: 5px 7px 5px 0px; }
  .postmeta { padding: 5px 2px; color: rgb(119, 119, 119); font-size: 13px; }
  .articlebodyonly { margin-bottom: 15px; line-height: 28px; }
  .a-social { margin-right: 2px; font-size: 1.2em; }
  @keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
  @keyframes popin {
0% { transform: scale(0); opacity: 0; }
85% { transform: scale(1.05); opacity: 1; }
100% { transform: scale(1); opacity: 1; }
}
  #content-wrapper { padding: 1%; position: relative; }
  .head-head { padding: 0px 1%; }
}
#outer-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 750px; margin: 0px auto; border: 1px solid rgb(241, 241, 241); }
nav { display: block; background: none repeat scroll 0% 0% rgb(60, 90, 152); width: 100%; clear: both; z-index: 999999; }
.header { width: 100%; clear: both; margin-bottom: 10px; padding: 10px 0px; height: 90px; }
.logo-div img { width: 95% ! important; height: auto ! important; }
.logo-div { float: none; }
#main-wrapper { float: left; width: 748px; height: 100%; display: inline; word-wrap: break-word; overflow: hidden; }
.footerlinks, .navlinks { display: block; }
.desktop { display: none ! important; }
footer { min-height: 10px; }
.w2bmenu * { margin: 0px; padding: 0px; z-index: 9999; }
ul.w2bmenu { list-style: none outside none; line-height: 1; overflow: visible ! important; margin: 0px ! important; padding: 0px ! important; }
ul.w2bmenu:after { margin: 0px; padding: 0px; content: " "; display: block; height: 0px; clear: both; }
ul.w2bmenu li { list-style: none outside none; position: relative; float: left; margin: 0px ! important; padding: 0px ! important; }
ul.w2bmenu li a { padding: 6px 16px; color: rgb(255, 255, 255) ! important; font-size: 15px; display: block ! important; font-weight: normal; text-decoration: none; border-right: 1px solid rgb(38, 59, 103); border-left: 2px solid rgb(77, 106, 167); }
ul.w2bmenu li li a:hover { color: rgb(60, 90, 152) ! important; border-right: medium none; }
ul.w2bmenu ul { position: absolute; display: none; top: 100%; width: 180px; }
ul.w2bmenu li:hover > ul { display: block; }
ul.w2bmenu ul li { float: none; min-width: 160px; background: none repeat scroll 0% 0% rgb(60, 90, 152); text-shadow: none; }
ul.w2bmenu ul li a { padding: 12px 14px; text-transform: none; font-weight: normal; }
ul.w2bmenu ul li a:hover, ul.w2bajaxmenu ul li a.hoverover { background: none repeat scroll 0% 0% rgb(243, 243, 243) ! important; }
#w2bajaxmenu { background: none repeat scroll 0% 0% rgb(60, 90, 152); color: rgb(255, 255, 255) ! important; }
.post-title a, .post-title a:visited, .post-title strong { color: rgb(61, 90, 153); display: block; text-decoration: none; padding: 3px 8px 3px 0px; line-height: 1.4em; font-size: 1.7em; text-align: left; font-weight: 600; }
.post-title a:hover { text-decoration: underline; }
.title_sub { padding: 4px 0px; color: rgb(49, 75, 132); font-size: 1.3em; margin-bottom: 10px; font-weight: bold; }
.author-info { padding: 10px 5px; font-style: normal; border-top: 3px solid rgb(221, 221, 221); }
.author-info-pic { width: 70px; height: 70px; float: left; }
.author-img img { width: 70px ! important; height: 70px ! important; border-radius: 100px 100px 100px 100px; padding: 2px; border: 1px solid rgb(238, 238, 238); }
.author-info-bio { margin-top: -5px; line-height: 28px; padding-left: 80px; }
.author-name { font-weight: bold; }
.authors { color: rgb(49, 75, 132); text-decoration: none; }
.author-bio { text-align: left; color: rgb(119, 119, 119); font-size: 0.95em; }
.author-info a, .author-info a:link, .author-info a:visited { text-decoration: none; }
.author-info a:hover { border-bottom: 1px solid rgb(49, 75, 132); color: rgb(49, 75, 132); }
.a-tw { color: rgb(0, 172, 237) ! important; }
.a-gp { color: rgb(219, 68, 55) ! important; }
.a-email { color: rgb(220, 70, 56) ! important; }
#articlebodyonly h3 { display: block; font-size: 1.4em; text-align: left ! important; font-weight: bold; line-height: 1.4em; font-family: 'Bitter',arial,Helvetica,sans-serif; margin-bottom: 10px; }
#navlinks ul li a#searchtoggl { margin-right: 0px; padding: 5px 11px; border-left: 1px solid rgb(38, 59, 103); }
#navlinks { position: relative; }
#searchbar { float: right; width: 100%; height: 50px; border-bottom: 3px solid rgb(60, 90, 152); padding: 0px 20px; z-index: 9999; background: none repeat scroll 0% 0% rgb(60, 90, 152); display: none; position: absolute; right: 0px; box-sizing: border-box; }
#searchbar form { margin-top: 6px; }
#s { display: block; width: 100%; border: 0px none; outline: medium none; color: rgb(84, 84, 84); height: 35px; background-color: rgb(250, 250, 250); font-size: 16px; box-sizing: border-box; padding: 0px 2%; }
#searchsubmit { float: right; margin-top: 7px; background: none repeat scroll 0% 0% transparent; color: rgb(250, 250, 250); border: 0px none; outline: medium none; cursor: pointer; font-size: 1.5em; display: none; }
@media (min-width: 300px) {
}
@media (min-width: 480px) {
}
@media (min-width: 780px) {
}
.separator a { margin-right: 0px ! important; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

