/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

a.headerlink { color: rgb(198, 15, 15); font-size: 0.8em; padding: 0px 4px; text-decoration: none; visibility: hidden; }
a.headerlink:hover { background-color: rgb(198, 15, 15); color: white; }
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, dt:hover > a.headerlink { visibility: visible; }
