/* ::::: http://c.csdnimg.cn/public/common/toolbar/css/index.css ::::: */

.csdn-toolbar { background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px; border-bottom: 1px solid rgb(233, 233, 233); font-family: "Helvetica","Tahoma, Arial","sans-serif"; font-size: 0.75em; color: rgb(51, 51, 51); line-height: 1.5em; }
.csdn-toolbar *, .csdn-toolbar *:before, .csdn-toolbar *:after { box-sizing: content-box; }
.csdn-toolbar div, .csdn-toolbar dl, .csdn-toolbar dt, .csdn-toolbar dd, .csdn-toolbar ul, .csdn-toolbar li, .csdn-toolbar h1, .csdn-toolbar h2, .csdn-toolbar h3, .csdn-toolbar h4, .csdn-toolbar h5, .csdn-toolbar h6, .csdn-toolbar pre, .csdn-toolbar code, .csdn-toolbar form, .csdn-toolbar fieldset, .csdn-toolbar legend, .csdn-toolbar input, .csdn-toolbar textarea, .csdn-toolbar p, .csdn-toolbar blockquote, .csdn-toolbar th, .csdn-toolbar td { margin: 0px; padding: 0px; line-height: 1.5em; text-align: left; }
.csdn-toolbar fieldset, .csdn-toolbar img { border: 0px none; }
.csdn-toolbar address, .csdn-toolbar caption, .csdn-toolbar cite, .csdn-toolbar code, .csdn-toolbar dfn, .csdn-toolbar em, .csdn-toolbar strong, .csdn-toolbar th, .csdn-toolbar var { font-style: normal; font-weight: normal; }
.csdn-toolbar ul { list-style: none outside none; }
.csdn-toolbar .clearfix:before, .csdn-toolbar .clearfix:after { content: " "; display: table; }
.csdn-toolbar .clearfix:after { clear: both; }
.csdn-toolbar .clearfix { overflow: visible; }
.csdn-toolbar .col-sm-2 { float: left; }
.csdn-toolbar h1, .csdn-toolbar h2, .csdn-toolbar h3, .csdn-toolbar h4, .csdn-toolbar h5, .csdn-toolbar h6 { font-family: "Helvetica","Tahoma, Arial","sans-serif"; font-weight: bold; line-height: 1.5em; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% transparent; margin: 0px; text-align: left; }
.csdn-toolbar h5 { font-size: 1.16667em; }
.csdn-toolbar textarea { resize: none; }
.csdn-toolbar a:link, .csdn-toolbar a:visited { color: rgb(51, 51, 51); text-decoration: none; }
.csdn-toolbar a:hover { color: rgb(204, 0, 0); text-decoration: none; }
.csdn-toolbar a:focus { outline: medium none; }
.csdn-toolbar .col-sm-1, .csdn-toolbar .col-sm-2, .csdn-toolbar .col-sm-3, .csdn-toolbar .col-sm-4, .csdn-toolbar .col-sm-5, .csdn-toolbar .col-sm-6, .csdn-toolbar .col-sm-7, .csdn-toolbar .col-sm-8, .csdn-toolbar .col-sm-9, .csdn-toolbar .col-sm-10, .csdn-toolbar .col-sm-11 { float: left; }
.csdn-toolbar .form-horizontal .form-group:after { clear: both; }
.csdn-toolbar .form-horizontal .form-group:before, .csdn-toolbar .form-horizontal .form-group:after { content: " "; display: table; }
.csdn-toolbar .col-sm-10 { width: 86.3333%; }
.csdn-toolbar .col-sm-8 { width: 66.6667%; }
.csdn-toolbar .col-sm-4 { width: 33.3333%; }
.csdn-toolbar .col-sm-2 { width: 16.6667%; }
.csdn-toolbar .pull-left { float: left; }
.csdn-toolbar .pull-right { float: right; }
.csdn-toolbar a { color: rgb(153, 153, 153); text-decoration: none; font-size: 12px; font-weight: normal; }
.csdn-toolbar a:hover { color: rgb(51, 51, 51); }
.csdn-toolbar dl { margin: 0px; font-size: 12px; }
.csdn-toolbar ul, .csdn-toolbar li { margin: 0px; padding: 0px; }
.csdn-toolbar li { list-style: none outside none; float: left; height: 40px; width: 40px; border-style: solid; border-color: rgb(238, 238, 238) rgb(255, 255, 255) rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; position: relative; background: none repeat scroll 0% 0% transparent; }
.csdn-toolbar input:focus, .csdn-toolbar textarea:focus { border-color: rgb(153, 204, 255); box-shadow: none; }
.csdn-toolbar .form-horizontal .form-group { margin: 0px 0px 10px; }
.csdn-toolbar .form-horizontal .form-group .ft { margin-left: 25px; padding-left: 12px; width: 362px; }
.csdn-toolbar .form-horizontal .control-label { padding: 7px 10px 0px 0px; width: 38px; text-align: right; box-sizing: border-box; }
.csdn-toolbar .form-control { display: block; width: 100%; border-radius: 0px 0px 0px 0px; height: 28px; padding: 0px 7px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); vertical-align: middle; background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); box-shadow: none; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.csdn-toolbar textarea.form-control { height: 70px; padding-top: 5px; }
.csdn-toolbar .icon-hasnotes-sm, .csdn-toolbar .icon-enter-sm, .csdn-toolbar .write-icon { background-image: url("f_icon.png"); }
.csdn-toolbar .icon-enter-sm { background-position: 0px -192px; }
.csdn-toolbar .icon { background-image: url("f_icon.png"); font-size: 16px; width: 20px; height: 20px; background-position: 1px 1px; margin: 10px auto 0px; position: relative; z-index: 1001; background-repeat: no-repeat; }
.csdn-toolbar .icon .wrap { font-size: 12px; display: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); padding: 7px; position: absolute; top: 30px; box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.15); }
.csdn-toolbar .icon .curr-icon-wrap { border-bottom: 1px solid rgb(255, 255, 255); height: 3px; position: absolute; top: -4px; width: 41px; }
.csdn-toolbar .container { width: 960px; margin: 0px auto; }
.csdn-toolbar .container:before, .csdn-toolbar .container:after { content: " "; display: table; }
.csdn-toolbar .btn { display: inline-block; padding: 0px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 28px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 0px 0px 0px 0px; box-sizing: border-box; -moz-user-select: none; width: 80px; height: 28px; color: rgb(255, 255, 255); }
.csdn-toolbar .btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.csdn-toolbar .btn:hover, .csdn-toolbar .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.csdn-toolbar .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.csdn-toolbar .btn:hover, .csdn-toolbar .btn:focus { color: rgb(255, 255, 255); }
.csdn-toolbar .btn-default:hover, .csdn-toolbar .btn-default:focus, .csdn-toolbar .btn-default:active, .csdn-toolbar .btn-default.active, .csdn-toolbar .open .dropdown-toggle.btn-default { background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); color: rgb(238, 238, 238); }
.csdn-toolbar .btn-default:hover, .csdn-toolbar .btn-default:focus { background-color: rgb(102, 102, 102); }
.csdn-toolbar .btn-default { background-color: rgb(153, 153, 153); }
.csdn-toolbar .btn-primary { background-color: rgb(220, 60, 0); }
.csdn-toolbar .btn-primary:hover, .csdn-toolbar .btn-primary:focus { background-color: rgb(180, 50, 0); }
.csdn-toolbar .loginlink { background: none repeat scroll 0% 0% transparent; padding: 10px 13px; height: 20px; display: none; border: 0px none; }
.csdn-toolbar .logo { font-size: 12px; height: 40px; width: auto; padding: 0px; }
.csdn-toolbar .logo .icon { background-position: 0px 0px; display: block; float: left; height: 40px; line-height: 18px; margin: 0px; padding: 0px; width: 40px; }
.csdn-toolbar .logo .img { background-image: url("f_name.png"); margin-left: 10px; width: 120px; height: 40px; float: left; }
.csdn-toolbar .blog-icon { background-position: 0px -52px; }
.csdn-toolbar .search .icon { background-position: 0px -130px; }
.csdn-toolbar .search .wrap { width: 400px; padding: 10px; }
.csdn-toolbar .search .wrap .border { border: 1px solid rgb(204, 204, 204); }
.csdn-toolbar .search .wrap input { width: 356px; border: 0px none; line-height: 22px; height: 26px; padding: 0px 5px; }
.csdn-toolbar .search .wrap input:focus { border: medium none; outline: medium none; }
.csdn-toolbar .search .wrap .icon-enter-sm { height: 18px; margin-top: 4px; position: absolute; right: 15px; width: 20px; }
.csdn-toolbar .unlogin .search { border-width: 0px 1px; }
.csdn-toolbar .unlogin .search .wrap { right: -53px; }
.csdn-toolbar .unlogin .search .curr-icon-wrap { right: 41px; }
.csdn-toolbar .favor .icon { background-position: 0px -111px; }
.csdn-toolbar .favor .favor-btns { text-align: right; padding: 0px; }
.csdn-toolbar .favor .favor-btns .btn { margin-left: 4px; }
.csdn-toolbar .favor .wrap { padding: 20px; }
.csdn-toolbar .favor .checkbox label { display: block; }
.csdn-toolbar .favor .share { margin: 2px 5px 0px 0px; height: 14px; vertical-align: middle; position: static; }
@-moz-document url-prefix("") {
  .csdn-toolbar .favor .share { margin: 0px 5px 0px 0px; }
}
.csdn-toolbar .share, .csdn-toolbar x:-moz-any-link, .csdn-toolbar x:default { background: none repeat scroll 0% 0% rgb(255, 0, 0); height: 100px; margin-top: 50px; }
.csdn-toolbar .notify .on-notify-icon { display: block ! important; }
.csdn-toolbar .notify .icon { background-position: 0px -90px; }
.csdn-toolbar .notify .icon-hasnotes-sm { background-position: -23px -196px; height: 10px; left: 23px; position: absolute; top: 9px; width: 10px; z-index: 1002; }
.csdn-toolbar .notify .number { background: none repeat scroll 0px 0px rgb(220, 60, 0); color: rgb(255, 255, 255); font-size: 12px; height: 13px; left: 24px; line-height: 14px; position: absolute; text-align: center; top: 9px; width: 12px; z-index: 1002; }
.csdn-toolbar #header_notice_num { background: none repeat scroll 0% 0% transparent ! important; display: none; }
.csdn-toolbar .csdn_note { display: block ! important; }
.csdn-toolbar .ugc .icon { background-position: 0px -70px; }
.csdn-toolbar .ugc .p-news .icon { background-position: -42px -52px; }
.csdn-toolbar .ugc .p-news:hover .icon { background-position: -62px -52px; }
.csdn-toolbar .ugc .p-doc .icon { background-position: -42px -72px; }
.csdn-toolbar .ugc .p-doc:hover .icon { background-position: -62px -72px; }
.csdn-toolbar .ugc .p-ask .icon { background-position: -42px -131px; }
.csdn-toolbar .ugc .p-ask:hover .icon { background-position: -62px -131px; }
.csdn-toolbar .ugc .c-obj .icon { background-position: -42px -92px; }
.csdn-toolbar .ugc .c-obj:hover .icon { background-position: -62px -92px; }
.csdn-toolbar .ugc .c-code .icon { background-position: -42px -191px; }
.csdn-toolbar .ugc .c-code:hover .icon { background-position: -62px -191px; }
.csdn-toolbar .ugc .p-src .icon { background-position: -42px -170px; }
.csdn-toolbar .ugc .p-src:hover .icon { background-position: -62px -170px; }
.csdn-toolbar .ugc .p-blog .icon { background-position: -42px -111px; }
.csdn-toolbar .ugc .p-blog:hover .icon { background-position: -62px -111px; }
.csdn-toolbar .profile .icon { background-position: 0px 1px; }
.csdn-toolbar .profile .curr-icon-img { display: block; height: 20px; margin: 0px; width: 20px; }
@-moz-document url-prefix("") {
  .csdn-toolbar .on .settings { background-position: 0px -152px; vertical-align: middle; }
  .csdn-toolbar .on .on-profile-icon .ft a:hover .settings { background-position: -20px -152px; }
}
.csdn-toolbar .apps { border-width: 0px 1px; border-right-color: rgb(238, 238, 238); }
.csdn-toolbar .apps .icon { background-position: 0px -51px; }
.csdn-toolbar .hasnew { background-position: -23px -196px; height: 10px; left: 23px; position: absolute; top: 9px; width: 10px; z-index: 1002; background-image: url("f_icon.png"); }
.csdn-toolbar .unlogin .loginlink { display: block; border-right: medium none; line-height: 24px; height: 20px; width: 60px; font-size: 12px; }
.csdn-toolbar .unlogin .favor, .csdn-toolbar .unlogin .notify, .csdn-toolbar .unlogin .ugc, .csdn-toolbar .unlogin .profile { display: none; }
.csdn_notice_tip { display: none ! important; }
.csdn-toolbar-skin-black { height: 40px; background: none repeat scroll 0% 0% rgb(72, 82, 94); border-bottom: medium none; }
.csdn-toolbar-skin-black li { border-left: 1px solid rgb(116, 121, 126); border-right: 1px solid rgb(72, 82, 94); height: 40px; }
.csdn-toolbar-skin-black .icon .wrap { top: 30px; }
.csdn-toolbar-skin-black .icon .curr-icon-wrap { width: 41px; }
.csdn-toolbar-skin-black .apps { border-right-color: rgb(116, 121, 126); }
.csdn-toolbar-skin-black .loginlink { background: none repeat scroll 0% 0% transparent; color: rgb(221, 221, 221); }
.csdn-toolbar-skin-black .loginlink a { color: rgb(221, 221, 221); }
.csdn-toolbar-skin-black .loginlink a:hover { color: rgb(254, 254, 254); }
.csdn-toolbar-skin-black .blog-icon { background-position: -162px -52px; }
.csdn-toolbar .icon-signout { line-height: 40px; }
/* ::::: http://static.blog.csdn.net/skin/default/css/style.css?v=1.1 ::::: */

/* ::::: (import) http://static.blog.csdn.net/css/common.css ::::: */
body, form, h1, h2, h3, h4 { margin: 0px; padding: 0px; }
.side li { list-style: none outside none; }
.side ul { margin: 0px; padding: 0px; }
img { border: medium none; }
pre { white-space: pre-wrap; word-wrap: break-word; }
.list_closed { background-image: url("dir_arr.gif"); background-repeat: no-repeat; background-position: 0px -45px; }
.list_closed:hover { background-repeat: no-repeat; background-position: 0px -69px; }
.guest_link { background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); margin: 10px; padding: 10px; font-size: 12px; }
#report_dialog { position: absolute; left: 30%; right: 33%; top: 33%; z-index: 99; }
#bms_box { display: block; margin-top: 4px; padding: 14px 4px 4px 0px; border-top: 1px dashed rgb(204, 204, 204); text-align: left; }
.interact { padding: 0px 0px 15px; text-align: center; }
.interact .attent, .interact .attented, .interact .letter { display: inline-block; width: 59px; height: 20px; overflow: hidden; cursor: pointer; }
.interact .attent { background: url("btn_attent.gif") no-repeat scroll 0px 0px transparent; }
.interact .letter { margin: 0px 10px 0px 0px; background: url("btn_sendletter.gif") no-repeat scroll 0px 0px transparent; }
.panel_body li span { padding-left: 6px; position: relative; }
.itemlist li a { display: inline-block; white-space: nowrap; width: 130px; height: 15px; overflow: hidden; }
.itemlist li span { display: inline-block; height: 14px; float: right; }
#newcomments .itemlist li a { width: 98%; }
#newcomments .itemlist li a.user_name { display: inline; width: auto; }
#side #blog_userface a { color: rgb(51, 51, 51); }
#d-top { position: fixed; float: right; z-index: 10; right: 10px; bottom: 10px; }
#d-top img { width: 42px; opacity: 0.3; }
#d-top a:hover img { opacity: 1; }
.article_next_prev { margin-top: 30px; }
/* ::::: (end import) ::::: */
body { background: url("body_bg.gif") repeat-x scroll 0px 20px transparent; color: rgb(51, 51, 51); text-align: center; font-size: 12px; font-family: Arial,Console,Verdana,Courier New; }
a { color: rgb(51, 102, 153); text-decoration: none; }
a:hover { text-decoration: none; color: rgb(34, 0, 0); }
#container { background: url("head_bg.jpg") no-repeat scroll center top transparent; }
#header { width: 980px; height: 30px; margin: 0px auto; padding: 70px 0px 0px; text-align: left; }
.header {  }
#blog_title {  }
#blog_title h2 { display: inline-block; float: left; margin: 0px 20px 0px 0px; color: rgb(255, 255, 255); font: bold 30px/30px 'Microsoft YaHei'; }
#blog_title h3 { display: inline-block; float: left; padding: 2px 0px 0px; color: rgb(255, 255, 255); font: 18px/30px 'Microsoft YaHei'; }
#blog_title a { color: rgb(255, 255, 255); }
#blog_title a:hover { color: rgb(221, 238, 255); text-decoration: none; }
#navigator { display: block; clear: both; width: 980px; height: 42px; margin: 0px auto; padding: 22px 0px 0px; text-align: left; }
.navigator { text-align: right; }
.navigator:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.navigator ul { float: right; }
.navigator li { display: inline; float: left; margin: 0px 5px; }
.navigator li a { display: inline-block; height: 26px; padding: 0px 0px 0px 10px; color: rgb(102, 102, 102); background: url("btn_pub_nav.gif") no-repeat scroll left 0px transparent; font: 12px/26px Arial,Helvetica,sans-serif; text-decoration: none; cursor: pointer; }
.navigator li a span { display: inline-block; height: 16px; padding: 5px 10px 5px 0px; background: url("btn_pub_nav.gif") no-repeat scroll right -26px transparent; line-height: 16px; }
.navigator li a span img { margin: 0px 4px 0px 0px; vertical-align: middle; }
#container { width: 100%; clear: both; }
#body { display: block; clear: both; overflow: hidden; width: 960px; margin: 0px auto; padding: 9px; border: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 8px 8px 8px 8px; text-align: left; }
#body:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.panel_head { clear: both; height: 30px; padding: 0px 10px; border-radius: 4px 4px 4px 4px; background: url("tit_bg.gif") repeat-x scroll center top transparent; color: rgb(51, 51, 51); font: bold 12px/30px Arial; text-indent: 5px; }
.panel { margin: 0px 0px 10px; padding: 7px; border: 1px solid rgb(221, 221, 221); border-radius: 5px 5px 5px 5px; }
.side .panel_body { padding: 4px 5px; }
.panel_body li { color: rgb(102, 102, 102); margin: 8px 0px; }
.panel_body li span {  }
.panel_body li a {  }
#main { float: right; width: 748px; overflow: hidden; padding: 7px 0px; border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px; }
.notice { margin: 10px 2px; padding: 2px 4px 2px 20px; border: 1px dashed rgb(248, 204, 126); background: url("ico_notice.png") no-repeat scroll 5px center rgb(255, 252, 231); font: 12px/22px Arial; }
.notice a { color: rgb(255, 90, 0); }
.article_title { display: block; margin: 5px 0px; color: rgb(0, 0, 0); font: 20px/30px 'Microsoft YaHei'; }
.article_title:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.article_title a { color: rgb(0, 0, 0); }
.article_title a:hover { color: rgb(102, 102, 102); }
.article_title .ico { display: inline-block; width: 19px; height: 19px; margin: 0px 2px 0px 0px; }
.article_title .ico_type_Original { background: url("ico_Original.gif") no-repeat scroll 0px 0px transparent; vertical-align: middle; }
.article_title h1 { display: inline; font: 20px/30px 'Microsoft YaHei'; vertical-align: middle; }
.article_manage { padding: 5px 0px; color: rgb(153, 153, 153); font: 12px/24px Arial; text-align: right; }
.article_manage span { margin: 0px 5px; }
.article_manage .link_postdate { margin: 0px 5px 0px 0px; }
.article_manage .link_view { padding: 0px 0px 0px 14px; background: url("ico_view.png") no-repeat scroll left center transparent; }
.article_manage .link_comments { padding: 0px 0px 0px 14px; background: url("ico_comm.png") no-repeat scroll left center transparent; }
.details { margin: 20px; }
.details .article_content { margin: 20px 0px 0px; font: 14px/26px Arial; }
.article_next_prev { display: block; color: rgb(102, 102, 102); font: 14px/24px "Microsoft YaHei",Arial,Helvetica,sans-serif; clear: both; float: left; margin: 0px 0px 5px; padding: 10px 0px 0px; }
.article_next_prev li { list-style-type: none; clear: both; padding: 0px 0px 3px; overflow: hidden; }
.article_next_prev:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.article_next_prev li span { display: block; float: left; width: 52px; padding: 0px 0px 0px 27px; height: 26px; background-color: rgb(153, 153, 153); color: rgb(255, 255, 255); font-size: 14px; margin-right: 7px; }
.article_next_prev li:hover span { background-color: rgb(204, 0, 0); }
.article_next_prev li.prev_article span { background-image: url("blog-page-arr.png"); background-repeat: no-repeat; background-position: 9px 8px; }
.article_next_prev li.next_article span { background-image: url("blog-page-arr.png"); background-repeat: no-repeat; background-position: 9px -22px; }
.article_next_prev li a { display: block; float: left; font-size: 14px; color: rgb(51, 51, 51); }
.article_next_prev li a:link, .article_next_prev li a:visited, .article_next_prev li a:hover { color: rgb(51, 51, 51); }
.article_next_prev li:hover a, .article_next_prev li:hover a:link, .article_next_prev li:hover a:visited, .article_next_prev li:hover a:hover { color: rgb(204, 0, 0); }
#digg { display: block; clear: both; width: 182px; margin: 0px auto; padding: 30px 0px 15px; text-align: center; }
#digg:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.digg { display: inline-block; float: left; width: 72px; height: 72px; overflow: hidden; margin: 0px 2px; background: none repeat scroll 0% 0% rgb(255, 121, 0); text-align: center; }
.digg dt { margin: 0px; padding: 12px 0px 3px; color: rgb(255, 255, 255); font: 27px/30px 'Microsoft YaHei'; }
.digg dd { margin: 0px; color: rgb(255, 255, 255); font: 12px/22px Arial; }
.digg_disable { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(153, 153, 153); }
.digg_disable dd { color: rgb(255, 255, 255); }
#side { float: left; width: 200px; overflow: hidden; line-height: 120%; }
#side a { color: rgb(51, 102, 153); }
#side a:hover { color: rgb(34, 0, 0); }
#panel_Profile {  }
#panel_Profile span { color: rgb(51, 51, 51); }
#blog_userface { margin: 0px 0px 5px; padding: 10px; text-align: center; }
#blog_userface img { max-width: 160px; padding: 2px; border: 1px solid rgb(221, 221, 221); }
#blog_userface span { display: block; font-weight: bold; text-align: center; }
#blog_medal { text-align: center; }
#blog_rank { display: block; margin: 5px; padding: 0px 0px 5px; background: url("line_1.gif") repeat-x scroll center bottom transparent; }
#blog_rank:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#blog_rank li {  }
#blog_rank li span {  }
#blog_statistics { display: block; margin: 0px 5px; }
#blog_statistics:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#blog_statistics li { float: left; width: 50%; margin: 4px 0px; }
#blog_statistics li span {  }
#panel_Search {  }
#panel_Search form { display: block; height: 24px; padding: 0px 3px; overflow: hidden; margin-top: 10px; border: 1px solid rgb(204, 204, 204); background: url("search_bg.gif") repeat-x scroll center top transparent; }
#panel_Search .panel_body:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#panel_Search .panel_body span { float: left; }
#panel_Search .panel_body .blogsearch { width: 140px; height: 20px; margin: 2px 5px 0px 0px; border: medium none; color: rgb(102, 102, 102); }
#panel_Search .panel_body #btnSubmit { text-indent: -1000px; border: medium none; display: inline-block; width: 16px; height: 16px; overflow: hidden; margin: 5px 0px 0px; background: url("ico_sear.gif") no-repeat scroll 0px 0px transparent; line-height: 999px; cursor: pointer; }
#panel_Category {  }
#newcomments {  }
#panel_Archive {  }
#panel_Archive li { display: block; }
#panel_Archive li:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#panel_Archive .list_closed { float: right; padding: 0px 0px 0px 12px; background: url("arrow_down.gif") no-repeat scroll left center transparent; color: rgb(102, 102, 102); cursor: pointer; }
#archive_list { display: block; }
#archive_list:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.blog-ass-articl { clear: both; overflow: hidden; margin: 0px 0px 10px; padding: 0px 20px 20px; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.blog-ass-articl dt { clear: both; overflow: visible; font: 16px/35px "Microsoft YaHei"; padding: 0px; height: 35px; margin: 10px 0px 15px; border-bottom: 2px solid rgb(204, 204, 204); }
.blog-ass-articl dt span { display: block; float: left; height: 35px; border-bottom: 2px solid rgb(204, 0, 0); }
.blog-ass-articl dd { color: rgb(51, 102, 153); width: 42%; float: left; overflow: hidden; font: 12px/23px "SimSun"; height: 23px; margin: 0px 30px 0px 0px; padding: 0px 0px 0px 10px; background: url("blog-dot-red3.gif") no-repeat scroll 0px 10px transparent; }
.blog-ass-articl dd a:link, .blog-ass-articl dd a:visited, .blog-ass-articl dd a:hover { color: rgb(0, 0, 0); }
.blog-ass-articl dd a:hover { text-decoration: underline; color: rgb(204, 0, 0); }
.q-reply { cursor: pointer; border: 0px none; bottom: 35px; min-width: 40px; height: 40px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px 0px 0px 0px; line-height: 16px; color: rgb(255, 255, 255); }
.backtop { cursor: pointer; border: 0px none; bottom: 80px; min-width: 40px; height: 40px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px 0px 0px 0px; line-height: 16px; color: rgb(255, 255, 255); }
/* ::::: http://static.blog.csdn.net/scripts/SyntaxHighlighter/styles/default.css ::::: */

/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
/* ::::: http://csdnimg.cn/jobreco/job_reco.css ::::: */

@keyframes tiao_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes tiao_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes tiao_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(-20.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(-20.5deg); }
}
@keyframes ba_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
@keyframes ba_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
@keyframes ba_fly {
0% { transform: translateX(0%) translateY(-15%) rotateZ(3.5deg); }
100% { transform: translateX(0%) translateY(0%) rotateZ(3.5deg); }
}
/* ::::: http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20131219 ::::: */

@charset "UTF-8";
.bds_more { background-image: url("is.png") ! important; background-position: 0px 4px ! important; }
.bds_qzone { background-position: 0px -75px ! important; }
.bds_tsina { background-position: 0px -115px ! important; }
.bds_renren { background-position: 0px -195px ! important; }
.bds_tqq { background-position: 0px -235px ! important; }
/* ::::: http://csdnimg.cn/public/common/tag-suggest-pop/css/style.css?dd7cc7c ::::: */

#tag-suggest-pop { display: none; position: fixed; z-index: 999; bottom: 0px; left: 50%; width: 680px; margin-left: -340px; }
#tag-suggest-pop * { font: 12px simsun; color: rgb(255, 255, 255); }
#tag-suggest-pop .relative { position: relative; text-align: left; padding: 0px 20px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); border-radius: 6px 6px 0px 0px; }
#tag-suggest-pop .content { margin: 0px; overflow: hidden; }
#tag-suggest-pop .close { position: absolute; width: 24px; height: 24px; right: -12px; top: -12px; background: url("close.png") no-repeat scroll 0% 0% transparent; cursor: pointer; opacity: 1; }
#tag-suggest-pop .content {  }
/* ::::: http://passport.csdn.net/content/loginbox/style.css?r=1471572656542 ::::: */

body {  }
.clearfix { display: block; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_renren { background-position: 0px -208px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16:after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("icons_0_16_001.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
/* ::::: http://static.blog.csdn.net/css/comment1.css ::::: */

@charset "utf-8";
/* ::::: http://static.blog.csdn.net/css/style1.css ::::: */

@charset "utf-8";
/* ::::: http://static.blog.csdn.net/public/res-min/markdown_views.css?v=1.0 ::::: */

/* ::::: http://static.blog.csdn.net/css/category.css?v=1.0 ::::: */

.article_manage { color: rgb(153, 153, 153); font: 12px/22px Arial; text-align: right; border-bottom: 1px solid rgb(237, 237, 237); margin: 0px -20px; padding: 0px 20px 5px; overflow: hidden; }
.article_manage span { margin: 0px 5px; }
.article_manage .link_postdate { margin: 0px 5px 0px 0px; }
.article_manage .link_view { padding: 0px 0px 0px 14px; background: url("ico_view.png") no-repeat scroll left center transparent; }
.article_manage .link_comments { padding: 0px 0px 0px 14px; background: url("ico_comm.png") no-repeat scroll left center transparent; }
.category_l img { vertical-align: middle; }
.category_l span { display: inline-block; vertical-align: middle; }
.category { margin: 0px -20px; border-bottom: 1px solid rgb(237, 237, 237); padding: 5px 20px; }
.category_l, .category_r { display: inline-block; }
.category_l { font-size: 14px; color: rgb(51, 51, 51); width: 70px; float: left; line-height: 28px; }
.category_r { font-size: 14px; color: rgb(223, 52, 52); float: left; width: 90%; }
.category_r .subItem_t .J_close { float: right; line-height: 42px; font-weight: normal; font-size: 16px; color: rgb(204, 204, 204); font-style: normal; }
.category_r em { font-style: normal; }
.category_r label { display: inline-block; margin-left: 15px; cursor: pointer; line-height: 28px; position: relative; }
.subItem { display: none; position: absolute; top: 46px; left: -10px; color: rgb(51, 51, 51); width: 400px; max-height: 400px; border: 1px solid rgb(220, 220, 220); background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 5px 0px 10px rgb(220, 220, 220); z-index: 9999; }
.subItem:after { position: absolute; width: 10px; height: 10px; display: block; content: ""; top: -10px; left: 20px; background: url("triangle.png") no-repeat scroll 0% 0% transparent; }
.subItem_t { height: 42px; line-height: 42px; border-bottom: 1px solid rgb(220, 220, 220); padding: 0px 20px 0px 15px; color: rgb(153, 153, 153); }
.subItem_l { max-height: 358px; overflow-y: auto; list-style: none outside none; padding: 0px; margin: 0px; }
.similar_article { overflow: hidden; }
.similar_article h4 { font-size: 16px; color: rgb(51, 51, 51); }
.similar_c { border: 1px solid rgb(187, 187, 187); }
.similar_c_t { line-height: 45px; border-bottom: 1px solid rgb(220, 220, 220); }
.similar_c_t label { display: inline-block; margin-left: 25px; font-size: 16px; color: rgb(102, 102, 102); }
.similar_c_t label em { font-style: normal; }
.similar_c_t .similar_cur { font-weight: bold; }
.fl { float: left; }
.fr { float: right; }
.similar_wrap { background: none repeat scroll 0% 0% rgb(252, 252, 252); max-height: 180px; overflow-y: auto; padding: 10px 20px; }
.similar_list { width: 49%; list-style: none outside none; margin: 0px; padding: 0px; }
.similar_list li { list-style: none outside none; line-height: 30px; }
.similar_list li em { font-style: normal; display: inline-block; vertical-align: middle; margin-right: 10px; }
.similar_list li a { display: inline-block; width: 50%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: middle; color: rgb(51, 51, 51); }
.similar_list li a:hover { color: rgb(254, 0, 0); }
.similar_list li span, .similar_list li label { font-size: 12px; color: rgb(187, 187, 187); display: inline-block; margin-left: 9px; }
.similar_list li label i, .similar_list li label b { font-weight: normal; font-style: normal; }
.similar_list li label b { margin-left: 5px; }
.bog_copyright { padding: 20px 0px; }
.copyright_p { height: 14px; line-height: 14px; border-left: 3px solid rgb(228, 28, 30); padding-left: 10px; color: rgb(102, 102, 102); font-size: 14px; }
/* ::::: [internal] ::::: */

.embody { padding: 10px; margin: 0px -20px; border-bottom: 1px solid rgb(237, 237, 237); }
.embody_b { margin: 0px; padding: 10px 0px; }
.embody .embody_t, .embody .embody_c { display: inline-block; margin-right: 10px; }
.embody_t { font-size: 12px; color: rgb(153, 153, 153); }
.embody_c { font-size: 12px; }
/* ::::: http://static.blog.csdn.net/css/blog_detail.css ::::: */

/* ::::: [internal] ::::: */

.blog-ass-articl dd { color: rgb(51, 102, 153); width: 99%; float: left; overflow: hidden; font: 12px/23px "SimSun"; height: 23px; margin: 0px 30px 0px 0px; padding: 0px 0px 0px 10px; background: url("blog-dot-red3.gif") no-repeat scroll 0px 10px transparent; }
/* ::::: http://static.blog.csdn.net/css/replace.css ::::: */

#relate, .relage_t, .relate_t span, .relate_c, .relate_list, .relate_list dt, .relate_list dt img, .relate_list dd, .relate_list dd h4, .relate_list dd p, .relate_list dd p span { margin: 0px; padding: 0px; }
#relate { display: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px 20px 20px; margin: 20px 0px; overflow: hidden; }
.relate_t { height: 35px; line-height: 35px; border-bottom: 1px solid rgb(204, 204, 204); }
.relate_t span { display: inline-block; height: 35px; border-bottom: 1px solid rgb(204, 0, 0); }
.relate_c { padding: 0px; margin-right: -40px; }
#res-relatived { clear: both; }
/* ::::: [internal] ::::: */

.tag_list { background: none repeat scroll 0px 0px rgb(255, 255, 255); border: 1px solid rgb(215, 203, 193); color: rgb(0, 0, 0); font-size: 12px; line-height: 20px; list-style: none outside none; margin: 10px 2% 0px 1%; padding: 1px; }
.tag_list h5 { background: none repeat scroll 0px 0px rgb(224, 219, 211); color: rgb(71, 56, 28); font-size: 12px; height: 24px; line-height: 24px; padding: 0px 5px; margin: 0px; }
.tag_list h5 a { color: rgb(71, 56, 28); }
.classify { margin: 10px 0px; padding: 4px 12px 8px; }
.classify a { margin-right: 20px; white-space: nowrap; }
/* ::::: [internal] ::::: */

#popup_mask { position: absolute; width: 100%; height: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); z-index: 9999; left: 0px; top: 0px; opacity: 0.3; display: none; }
/* ::::: http://csdnimg.cn/pubfooter/css/pub_footer_2014.css ::::: */

.pub_fo { width: 100%; background-color: rgb(255, 255, 255); margin-top: 10px; overflow: hidden; border-top: 1px solid rgb(240, 240, 240); }
.pub_footer_new { width: 1170px; overflow: hidden; margin: 0px auto 20px; }
@media (max-width: 1170px) {
  .pub_footer_new { width: 98%; }
}
.pub_footer_new dl, .pub_footer_new dt, .pub_footer_new dd { margin: 0px; padding: 0px; }
.pub_footer_new .foot_sub_menu { width: 100%; border-bottom: 1px solid rgb(224, 224, 224); font-size: 14px; overflow: hidden; margin-top: 15px; }
.pub_footer_new .foot_sub_menu a { color: rgb(102, 102, 102); font-family: 'microsoft yahei'; text-decoration: none; display: block; height: 20px; float: left; margin-bottom: 10px; }
.pub_footer_new .foot_sub_menu a:hover { color: rgb(204, 0, 0); }
.pub_footer_new .foot_sub_menu span { color: rgb(209, 209, 209); padding: 0px 8px; display: block; float: left; height: 20px; margin-bottom: 10px; }
.pub_footer_new .foot_contact { font-family: 'microsoft yahei'; font-size: 12px; overflow: hidden; width: 100%; }
.pub_footer_new .foot_contact .qq { display: block; float: left; height: 35px; line-height: 35px; padding-left: 20px; background: url("qq_icon.png") no-repeat scroll left 10px transparent; margin-right: 9px; color: rgb(102, 102, 102); text-decoration: none; }
.pub_footer_new .foot_contact .qq:hover { background: url("qq_icon.png") no-repeat scroll left -25px transparent; }
.pub_footer_new .foot_contact .weibo { display: block; float: left; height: 35px; line-height: 35px; padding-left: 23px; background: url("weibo_icon.png") no-repeat scroll left 10px transparent; margin-right: 9px; color: rgb(102, 102, 102); text-decoration: none; }
.pub_footer_new .foot_contact .weibo:hover { background: url("weibo_icon.png") no-repeat scroll left -25px transparent; }
.pub_footer_new .foot_contact .email { display: block; float: left; height: 35px; line-height: 35px; padding-left: 20px; background: url("mail_icon.png") no-repeat scroll left 11px transparent; margin-right: 9px; color: rgb(102, 102, 102); text-decoration: none; }
.pub_footer_new .foot_contact .email:hover { background: url("mail_icon.png") no-repeat scroll left -27px transparent; }
.pub_footer_new .foot_contact .phone { display: block; float: left; height: 35px; line-height: 35px; padding-left: 20px; background: url("phone_icon.png") no-repeat scroll left 11px transparent; color: rgb(102, 102, 102); }
.pub_footer_new .foot_contact span { display: block; float: left; height: 35px; line-height: 35px; color: rgb(102, 102, 102); }
.pub_footer_new .interval { color: rgb(209, 209, 209); padding: 0px 6px; margin: 0px; }
.pub_footer_new .foot_copyright { font-size: 12px; color: rgb(156, 156, 156); font-family: 'microsoft yahei'; width: 100%; }
.pub_footer_new .foot_copyright span { display: block; float: left; height: 21px; line-height: 21px; }
.pub_footer_new .foot_copyright a { display: block; float: left; height: 21px; line-height: 21px; }
.pub_footer_new .foot_copyright a img { height: 21px; padding-left: 10px; }
/* ::::: http://c.csdnimg.cn/comm_ask/css/ask_float_block.css ::::: */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot") format("embedded-opentype"), url("fontawesome-webfont-b6eacf39cdd874409fca9bbfa0fd5524.woff") format("woff"), url("fontawesome-webfont-e6510d64f0dee7530f4c35b4eccbe2eb.ttf") format("truetype"), url("fontawesome-webfont-4bb899176c47fb8cc6662a8929eebc8a.svg") format("svg");
}
.clearfix:after { content: "."; height: 0px; visibility: hidden; display: block; clear: both; }
body > .pop_edit { font-family: 'microsoft yahei'; clear: both; position: fixed; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(220, 220, 220); top: 50%; left: 50%; margin-left: -333px; margin-top: -270px; z-index: 1000; opacity: 0; }
body > .pop_edit * { box-sizing: border-box; }
body > .pop_edit .cm_box { position: relative; }
body > .pop_edit .cm_box .cm_dialog { position: fixed; z-index: 10000; display: none; width: 100%; height: 100%; top: 0px; left: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.01); }
body > .pop_edit .pop_cm { position: absolute; z-index: 10001; top: 48px; margin: -5px 0px 0px 275px; width: 300px; padding: 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); display: none; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
body > .pop_edit .pop_cm:after, body > .pop_edit .pop_cm:before { content: ""; position: absolute; border-width: 10px; border-style: solid; border-color: transparent transparent rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; top: -20px; left: 40px; }
body > .pop_edit .pop_cm:after { border-bottom-color: rgb(255, 255, 255); top: -19px; }
body > .pop_edit .pop_cm.cm_add_img { margin-left: 310px; }
body > .pop_edit .pop_cm .nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); font-size: 12px; height: 30px; margin: -5px -10px 10px; padding: 5px 10px; }
body > .pop_edit .pop_cm .nav-tabs a { border: 1px solid transparent; display: inline-block; padding: 3px 20px; color: rgb(153, 153, 153); height: 25px; text-decoration: none; }
body > .pop_edit .pop_cm .nav-tabs a.active { color: rgb(102, 102, 102); border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(255, 255, 255); border-radius: 3px 3px 0px 0px; }
body > .pop_edit .pop_cm .tab_panel { display: none; }
body > .pop_edit .pop_cm .tab_panel.active { display: block; }
body > .pop_edit .pop_cm .set_img { height: 101px; margin: 0px; position: relative; }
body > .pop_edit .pop_cm .set_img iframe { border: 0px none; width: 100%; height: 101px; }
body > .pop_edit .pop_cm input { width: 278px; padding: 5px 10px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px; }
body > .pop_edit .pop_cm .text-right { text-align: right; }
body > .pop_edit .pop_cm .btn { font: 12px/20px "microsoft yahei"; background: none repeat scroll 0% 0% rgb(153, 153, 153); color: rgb(255, 255, 255); display: inline-block; padding: 2px 10px; cursor: pointer; }
body > .pop_edit h3 { position: relative; font-weight: normal; font-size: 18px; color: rgb(102, 102, 102); padding-left: 19px; border-bottom: 1px solid rgb(240, 240, 240); margin-bottom: 10px; margin-top: 0px; height: 50px; line-height: 50px; font-family: microsoft yahei; }
body > .pop_edit .close { position: absolute; text-decoration: none; right: 19px; top: 8px; font-size: 30px; color: rgb(85, 85, 85); background: none repeat scroll 0% 0% transparent; }
body > .pop_edit .close:hover { color: rgb(85, 136, 204); }
body > .pop_edit .ask_float_channel:link, body > .pop_edit .ask_float_channel:visited, body > .pop_edit .ask_float_channel:hover, body > .pop_edit .ask_float_channel:focus { color: rgb(69, 139, 202); cursor: pointer; }
body > .pop_edit .ask_float_span { color: rgb(102, 102, 102); font-size: 14px; position: absolute; top: 14px; left: 70px; font-family: 'microsoft yahei'; }
body > .pop_edit .context { padding: 0px 20px 10px; font-size: 16px; color: rgb(51, 51, 51); }
body > .pop_edit .success { border-top: 1px solid rgb(240, 240, 240); text-align: right; padding: 15px 20px 20px; }
body > .pop_edit .success a { display: inline-block; width: 80px; height: 28px; line-height: 28px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; margin-left: 10px; font-size: 14px; }
body > .pop_edit .success .cancel { background: none repeat scroll 0% 0% rgb(153, 153, 153); }
body > .pop_edit .success .ok { background: none repeat scroll 0% 0% rgb(190, 0, 0); }
.ask_second { display: none; text-align: left; }
.ask_second .err_div { width: 100%; border: 1px solid rgb(255, 218, 218); margin-bottom: 5px; height: 28px; }
.ask_second .err_div .err_ico { background: url("ph_pop_err_icon.fw.png") no-repeat scroll 0px 0px transparent; margin-top: 6px; margin-right: 10px; margin-left: 5px; width: 16px; height: 16px; display: inline-block; float: left; }
.ask_second .err_div .err_txt { font-size: 12px; color: rgb(183, 77, 70); height: 16px; display: inline-block; margin-top: 2px; float: left; }
.ask_second .input_div { width: 100%; height: 35px; margin-right: 20px; margin-bottom: 10px; }
.ask_second .input_div input { box-sizing: border-box; font-size: 16px; color: rgb(101, 101, 101); width: 100%; height: 35px; border: 1px solid rgb(220, 220, 220); text-indent: 5px; }
.ask_second .div_tags { width: 100%; height: 35px; }
.ask_second .tags_con { width: 100%; height: 35px; font-size: 14px; padding: 0px 5px; float: left; border: 1px solid rgb(220, 220, 220); overflow-y: auto; }
.ask_second .tags_con input { height: 20px; width: 200px; border: 0px none; margin-top: 7px; float: left; outline: medium none; }
.ask_second .drt_tagRecomm { height: 20px; margin-top: 20px; margin-bottom: 15px; }
.ask_second .drt_tagRecomm .drt_tit { font-size: 14px; color: rgb(101, 101, 101); }
.ask_second .left_area { display: inline-block; float: left; }
.ask_second .left_area > * { vertical-align: middle; }
.ask_second .left_area .wyxs { font-size: 14px; color: rgb(102, 102, 102); margin-right: 10px; margin-left: 10px; }
.ask_second .left_area .cb_num { width: 157px; line-height: 23px; border: 1px solid rgb(220, 220, 220); }
.ask_second .left_area .phib_rii { text-align: left; margin-left: 10px; width: 183px; height: 20px; display: inline-block; color: rgb(249, 191, 71); }
.ask_second .left_area .phib_rii span { background: url("ph_right_cb.fw.png") no-repeat scroll 0px 2px transparent; display: inline-block; padding-left: 20px; height: 25px; margin-top: 0px; line-height: 21px; }
.ask_second textarea { font-size: 12px; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; }
.ask_second pre { margin: 0px 0px 7px; background: none repeat scroll 0% 0% rgb(238, 238, 238); font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; max-height: 600px; overflow: auto; padding: 5px; width: auto; }
.ask_second textarea, .ask_second #notes-preview { border: 1px solid rgb(128, 128, 128); }
body .searchContainer { border: 1px solid rgb(221, 221, 221); position: absolute; width: 628px; background-color: rgb(255, 255, 255); min-height: 90px; display: none; }
body .searchContainer .sTitle { margin-right: 10px; margin-left: 10px; line-height: 30px; font-size: 14px; color: rgb(101, 101, 101); border-bottom: 1px solid rgb(221, 221, 221); }
body .searchContainer .sFooter { border-top: 1px solid rgb(221, 221, 221); background-color: rgb(245, 245, 245); }
body .searchContainer .sFooter .sFirstNewAsk { float: right; margin-right: 10px; font-size: 14px; color: rgb(101, 101, 101); text-decoration: none; cursor: pointer; line-height: 27px; }
body .searchContainer .sFooter a:link { color: rgb(101, 101, 101); }
body .searchContainer .sFooter a:hover, body .searchContainer .sFooter a:focus { color: rgb(190, 26, 33); }
#com-quick-reply { cursor: pointer; border: 0px none; bottom: 82px; min-width: 40px; height: 28px; width: 90px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px 0px 0px 0px; line-height: 16px; color: rgb(255, 255, 255); background: url("common_float_block.png") no-repeat scroll 0px -33px transparent; z-index: 9999999; }
#com-quick-reply:hover { background: url("common_float_block.png") no-repeat scroll -100px -33px transparent; }
#com-d-top-a { cursor: pointer; border: 0px none; bottom: 40px; min-width: 40px; height: 28px; width: 90px; margin: 0px; padding: 0px; position: fixed; right: 40px; border-radius: 0px 0px 0px 0px; line-height: 16px; color: rgb(255, 255, 255); display: none; background: url("common_float_block.png") no-repeat scroll 0px -165px transparent; z-index: 9999999; }
#com-d-top-a:hover { background: url("common_float_block.png") no-repeat scroll -100px -165px transparent; }
.editor-toolbar .icon-preview:before { content: ""; }
.editor-toolbar .icon-info:before { content: ""; }
.editor-toolbar .icon-headline:before { content: "H1"; font: bold 18px/24px "Times"; }
.editor-toolbar .icon-heading:before { content: "H2"; font: bold 18px/24px "Times"; }
.editor-toolbar .icon-code { margin-right: 6px; }
.editor-toolbar .icon-code:before { content: "</>"; font-weight: bold; letter-spacing: -3px; }
.ask_second.pop_edit .CodeMirror { width: 630px; height: 200px; }
.CodeMirror { border: 1px solid rgb(238, 238, 238); }
.CodeMirror-scroll { overflow: auto; }
.CodeMirror-lines { padding: 4px 0px; }
.CodeMirror pre { padding: 0px 4px; }
.CodeMirror-scrollbar-filler { background-color: rgb(255, 255, 255); }
.CodeMirror div.CodeMirror-cursor { border-left: 1px solid rgb(0, 0, 0); z-index: 3; }
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid rgb(192, 192, 192); }
.CodeMirror { position: relative; overflow: hidden; }
.CodeMirror-scroll { margin-bottom: -30px; margin-right: -30px; padding-bottom: 30px; padding-right: 30px; height: 100%; outline: medium none; position: relative; }
.CodeMirror-sizer { position: relative; }
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler { position: absolute; z-index: 6; display: none; }
.CodeMirror-vscrollbar { right: 0px; top: 0px; overflow-x: hidden; overflow-y: scroll; }
.CodeMirror-hscrollbar { bottom: 0px; left: 0px; overflow-y: hidden; overflow-x: scroll; }
.CodeMirror-scrollbar-filler { right: 0px; bottom: 0px; z-index: 6; }
.CodeMirror-lines { cursor: text; }
.CodeMirror pre { border-radius: 0px 0px 0px 0px; border-width: 0px; background: none repeat scroll 0% 0% transparent; font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif; font-size: inherit; margin: 0px; white-space: pre-wrap; word-wrap: normal; line-height: inherit; color: inherit; z-index: 2; position: relative; overflow: visible; }
.CodeMirror-measure { position: absolute; width: 100%; height: 0px; overflow: hidden; visibility: hidden; }
.CodeMirror-measure pre { position: static; }
.CodeMirror div.CodeMirror-cursor { position: absolute; visibility: hidden; border-right: medium none; width: 0px; }
.CodeMirror-focused div.CodeMirror-cursor { visibility: visible; }
@media print {
  .CodeMirror div.CodeMirror-cursor { visibility: hidden; }
}
:-moz-full-screen { padding: 0.5em 1em; background: none repeat scroll 0% 0% rgb(249, 249, 245); width: 100%; height: 100%; }
.editor-toolbar { position: relative; opacity: 0.6; -moz-user-select: none; }
.editor-toolbar:before, .editor-toolbar:after { display: block; content: " "; height: 1px; background: linear-gradient(45deg, rgb(249, 249, 249), rgb(189, 195, 199), rgb(249, 249, 249)) repeat scroll 0% 0% transparent; }
.editor-toolbar:before { margin-bottom: 8px; }
.editor-toolbar:after { margin-top: 8px; }
.editor-toolbar:hover { opacity: 0.8; }
.editor-toolbar a { display: inline-block; text-align: center; text-decoration: none ! important; color: rgb(44, 62, 80) ! important; width: 24px; height: 24px; font-size: 16px; margin: 0px 4px; border: 1px solid transparent; border-radius: 3px 3px 3px 3px; cursor: pointer; }
.editor-toolbar a:hover, .editor-toolbar a.active { background: none repeat scroll 0% 0% rgb(252, 252, 252); border-color: rgb(149, 165, 166); }
.editor-toolbar a:before { line-height: 24px; }
.editor-toolbar i.separator { display: inline-block; width: 0px; border-left: 1px solid rgb(217, 217, 217); border-right: 1px solid rgb(255, 255, 255); color: transparent; text-indent: -10px; margin: 0px 6px; }
.editor-toolbar i.separator:first-child { margin-left: 0px; }
.editor-toolbar i.separator:last-child { margin-right: 0px; }
.editor-statusbar { padding: 2px 5px 8px 0px; font-size: 12px; color: rgb(149, 150, 148); text-align: right; }
.editor-statusbar span { display: inline-block; min-width: 4em; margin-left: 1em; }
.editor-statusbar .lines:before { content: "lines: "; }
.editor-statusbar .words:before { content: "words: "; }
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; }
.icon-bold:before { content: ""; }
.icon-italic:before { content: ""; }
.icon-quote-left:before { content: ""; }
.icon-list-ul:before { content: ""; }
.icon-list-ol:before { content: ""; }
.icon-link:before { content: ""; }
.icon-picture:before { content: ""; }
.icon-reply:before { content: ""; }
.icon-share-alt:before { content: ""; }
.icon-preview:before { content: ""; }
/* ::::: http://static.blog.csdn.net/css/blog_code.css ::::: */

#mask_code { display: none; position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3); z-index: 990; }
.gist_edit { display: none; position: absolute; left: 50%; top: 50%; width: 505px; height: 330px; margin: -165px 0px 0px -252px; z-index: 9999; }
.save_snippets { clear: both; overflow: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 220, 221); font-size: 14px; font-family: "Microsoft YaHei"; box-sizing: border-box; }
.save_snippets .tit { clear: both; overflow: hidden; height: 45px; line-height: 45px; border-bottom: 1px solid rgb(221, 220, 221); padding: 0px 20px; box-sizing: border-box; }
.save_snippets .tit h3 { float: left; font-weight: normal; font-size: 16px; height: 45px; line-height: 45px; padding: 0px; margin: 0px; box-sizing: border-box; }
.gist_edit_list { padding: 0px; box-sizing: border-box; width: 100%; }
.save_snippets .tit span { display: block; float: right; color: rgb(153, 153, 153); height: 45px; line-height: 45px; box-sizing: border-box; }
.save_snippets .tit span a { color: rgb(0, 0, 255); text-decoration: underline; }
.save_snippets .tit span a:link, .save_snippets .tit span a:visited, .save_snippets .tit span a:hover, .save_snippets .tit span a:active { color: rgb(0, 0, 255); text-decoration: underline; }
.save_snippets .con_form { clear: both; overflow: hidden; padding-top: 20px; box-sizing: border-box; }
.save_snippets .con_form .gist_edit_list li { clear: both; overflow: hidden; min-height: 32px; margin-bottom: 20px; list-style: none outside none; box-sizing: border-box; }
.save_snippets .con_form .gist_edit_list li span.red { display: block; float: left; line-height: 36px; height: 32px; color: rgb(255, 0, 0); padding-right: 10px; margin-left: 20px; box-sizing: border-box; }
.save_snippets .con_form .gist_edit_list li span.txt { display: block; float: left; height: 32px; line-height: 32px; padding-right: 20px; }
.save_snippets .con_form .gist_edit_list li .form-input { float: left; width: 398px; height: 30px; border: 1px solid rgb(221, 220, 221); background: none repeat scroll 0% 0% rgb(250, 250, 250); padding: 0px 10px; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; box-sizing: border-box; }
#divSearchTags { float: left; width: 398px; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; border: 1px solid rgb(221, 220, 221); background: none repeat scroll 0% 0% rgb(250, 250, 250); padding: 0px 10px; margin-left: 2px; box-sizing: border-box; text-align: left; }
.insertTag { height: 30px; width: 208px; color: rgb(102, 102, 102); background: none repeat scroll 0% 0% transparent; border: medium none; box-sizing: border-box; }
.save_snippets .con_form .gist_edit_list li .form-textarea { float: left; width: 398px; height: 60px; font-size: 12px; border: 1px solid rgb(221, 220, 221); background: none repeat scroll 0% 0% rgb(250, 250, 250); padding: 3px 10px; color: rgb(102, 102, 102); font-family: "Microsoft YaHei"; box-sizing: border-box; }
.save_snippets .bottom-bar { clear: both; overflow: hidden; border-top: 1px solid rgb(221, 220, 221); padding: 17px 20px; }
.save_snippets .bottom-bar .btn-submit { border-right: 1px solid rgb(136, 136, 136); border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: -moz-use-text-color rgb(136, 136, 136) rgb(136, 136, 136) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(240, 240, 240); border-radius: 2px 2px 2px 2px; width: 45px; height: 20px; text-align: center; line-height: 20px; float: right; margin-left: 7px; font-size: 12px; font-family: "Microsoft YaHei"; color: rgb(51, 51, 51); }
/* ::::: http://ask.csdn.net/assets/ask_float_fonts_css-6b30a53970eb5c3a2a045e3df585b475.css (@media screen) ::::: */

@media screen {
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont-d8970a29b6bda4953188db1bf11caa77.eot") format("embedded-opentype"), url("fontawesome-webfont-b6eacf39cdd874409fca9bbfa0fd5524.woff") format("woff"), url("fontawesome-webfont-e6510d64f0dee7530f4c35b4eccbe2eb.ttf") format("truetype"), url("fontawesome-webfont-4bb899176c47fb8cc6662a8929eebc8a.svg") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]:before, [class*=" icon-"]:before { text-decoration: inherit; display: inline-block; }
.icon-bold:before { content: ""; }
.icon-italic:before { content: ""; }
.icon-quote-left:before { content: ""; }
.icon-list-ul:before { content: ""; }
.icon-list-ol:before { content: ""; }
.icon-link:before { content: ""; }
.icon-picture:before { content: ""; }
.icon-reply:before { content: ""; }
.icon-share-alt:before { content: ""; }
.icon-preview:before { content: ""; }
}
