/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

body { width: 100%; margin: 0px; padding: 0px; }
.content { max-width: 604px; margin: 3em auto 0px; font-family: sans-serif; }
.content-inner { margin-left: 57px; margin-right: 57px; }
.images { margin: 0px auto; padding: 0px; }
h1 { font-size: 52px; font-family: monospace; margin-bottom: 0px; }
img { margin: 0px 0px -3em; padding: 0px; width: 604px; }
#diff-img { display: inline-block; margin: 0px; padding: 0px; }
#icdiff-img { display: inline-block; margin: 0px; padding: 0px; }
#icdiff-tall { display: none; }
@media (min-width: 1208px) {
  #icdiff-tall { display: inline-block; }
  #icdiff-short { display: none; }
}
@media (max-width: 604px) {
  img { width: 100%; }
  .content-inner { margin-left: 10px; margin-right: 10px; }
}
.download { margin-top: 20px; display: block; text-decoration: none; border: 1px solid rgb(0, 0, 0); border-radius: 5px 5px 5px 5px; padding: 10px; font-size: 150%; color: rgb(0, 0, 0); }
.download:visited { color: rgb(0, 0, 0); }
.download:hover { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }
#install { display: none; }
