/* ::::: http://nojhan.github.io/colout/stylesheets/styles.css ::::: */

@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Light-webfont.eot") format("embedded-opentype"), url("OpenSans-Light-webfont.woff") format("woff"), url("OpenSans-Light-webfont.ttf") format("truetype"), url("OpenSans-Light-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-LightItalic-webfont.eot") format("embedded-opentype"), url("OpenSans-LightItalic-webfont.woff") format("woff"), url("OpenSans-LightItalic-webfont.ttf") format("truetype"), url("OpenSans-LightItalic-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Regular-webfont.eot") format("embedded-opentype"), url("OpenSans-Regular-webfont.woff") format("woff"), url("OpenSans-Regular-webfont.ttf") format("truetype"), url("OpenSans-Regular-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansItalic";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Italic-webfont.eot") format("embedded-opentype"), url("OpenSans-Italic-webfont.woff") format("woff"), url("OpenSans-Italic-webfont.ttf") format("truetype"), url("OpenSans-Italic-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Semibold-webfont.eot") format("embedded-opentype"), url("OpenSans-Semibold-webfont.woff") format("woff"), url("OpenSans-Semibold-webfont.ttf") format("truetype"), url("OpenSans-Semibold-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansSemiboldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-SemiboldItalic-webfont.eot") format("embedded-opentype"), url("OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("OpenSans-SemiboldItalic-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Bold-webfont.eot") format("embedded-opentype"), url("OpenSans-Bold-webfont.woff") format("woff"), url("OpenSans-Bold-webfont.ttf") format("truetype"), url("OpenSans-Bold-webfont.svg") format("svg");
}
@font-face {
  font-family: "OpenSansBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-BoldItalic-webfont.eot") format("embedded-opentype"), url("OpenSans-BoldItalic-webfont.woff") format("woff"), url("OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("OpenSans-BoldItalic-webfont.svg") format("svg");
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h2 { font-size: 1.5em; margin: 0.83em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
p, pre { margin: 1em 0px; }
pre, code, kbd, samp { font-family: monospace,serif; font-size: 1em; }
img { border: 0px none; }
body { padding: 0px 0px 20px; margin: 0px; font: 14px/1.5 "OpenSansRegular","Helvetica Neue",Helvetica,Arial,sans-serif; color: rgb(240, 231, 213); background-attachment: fixed ! important; background-color: transparent; background-image: linear-gradient(rgb(42, 42, 41), rgb(28, 28, 28)); background-repeat: repeat; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; }
h1, h2, h3, h4, h5, h6 { color: rgb(232, 232, 232); margin: 0px 0px 10px; font-family: 'OpenSansRegular',"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; }
p, ul, ol, table, pre, dl { margin: 0px 0px 20px; }
h1, h2, h3 { line-height: 1.1; }
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; line-height: 24px; font-family: 'OpenSansRegular',"Helvetica Neue",Helvetica,Arial,sans-serif ! important; font-weight: normal; color: rgb(182, 182, 182); }
a { color: rgb(255, 204, 0); font-weight: 400; text-decoration: none; }
a:hover { color: rgb(255, 235, 155); }
.wrapper { max-width: 650px; margin: 0px auto; position: relative; padding: 0px 20px; }
section img { max-width: 100%; }
code { font-family: "Lucida Sans",Monaco,Bitstream Vera Sans Mono,Lucida Console,Terminal; color: rgb(239, 239, 239); font-size: 13px; margin: 0px 4px; padding: 4px 6px; border-radius: 2px 2px 2px 2px; }
hr { border: 0px none; outline: medium none; height: 3px; background: url("hr.gif") repeat-x scroll center center transparent; margin: 0px 0px 20px; }
#header { z-index: 100; left: 0px; top: 0px; height: 60px; width: 100%; position: fixed; background: url("nav-bg.gif") repeat scroll 0% 0% rgb(53, 53, 53); border-bottom: 4px solid rgb(67, 67, 67); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }
#header nav { max-width: 650px; padding: 0px 10px; background: none repeat scroll 0% 0% blue; margin: 6px auto; }
#header nav li { font-family: 'OpenSansLight',"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; list-style: none outside none; display: inline; color: white; line-height: 50px; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); font-size: 14px; }
#header nav li a { color: white; border: 1px solid rgb(93, 145, 11); background: linear-gradient(rgb(147, 189, 32), rgb(101, 158, 16)) repeat scroll 0% 0% rgb(147, 189, 32); border-radius: 2px 2px 2px 2px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3) inset, 0px 3px 7px rgba(0, 0, 0, 0.7); padding: 10px 12px; margin-top: 6px; line-height: 14px; font-size: 14px; display: inline-block; text-align: center; }
#header nav li a:hover { background: linear-gradient(rgb(116, 150, 25), rgb(82, 127, 14)) repeat scroll 0% 0% rgb(101, 158, 16); border: 1px solid rgb(82, 127, 14); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px transparent; }
#header nav li.fork { float: left; margin-left: 0px; }
#header nav li.downloads { float: right; margin-left: 6px; }
#header nav li.title { float: right; margin-right: 10px; font-size: 11px; }
section { max-width: 650px; padding: 30px 0px 50px; margin: 70px 0px 20px; }
section #title { border: 0px none; outline: medium none; margin: 0px 0px 50px; padding: 0px 0px 5px; }
section #title h1 { font-family: 'OpenSansLight',"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; font-size: 40px; text-align: center; line-height: 36px; }
section #title p { color: rgb(215, 207, 190); font-family: 'OpenSansLight',"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; font-size: 18px; text-align: center; }
section #title .credits { font-size: 11px; font-family: 'OpenSansRegular',"Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; color: rgb(105, 105, 105); margin-top: -10px; }
section #title .credits.left { float: left; }
section #title .credits.right { float: right; }
@media print, screen and (max-width: 720px) {
  #title .credits { display: block; width: 100%; line-height: 30px; text-align: center; }
}
@media print, screen and (max-width: 480px) {
  #header { margin-top: -20px; }
  section { margin-top: 40px; }
  nav { display: none; }
}
/* ::::: http://nojhan.github.io/colout/stylesheets/pygment_trac.css ::::: */

/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

