/* ::::: http://static.coolapk.com/bootstrap/3.2.0/css/bootstrap.min.css (@media all) ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
a { background: none repeat scroll 0px 0px transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; font-size: 2em; }
small { font-size: 80%; }
img { border: 0px none; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
textarea { overflow: auto; }
@media print {
  * { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0% 0% transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: 400; line-height: 1; }
.glyphicon-plus:before { content: "+"; }
.glyphicon-search:before { content: ""; }
.glyphicon-star-empty:before { content: ""; }
.glyphicon-user:before { content: ""; }
.glyphicon-remove:before { content: ""; }
.glyphicon-download-alt:before { content: ""; }
.glyphicon-qrcode:before { content: ""; }
.glyphicon-chevron-left:before { content: ""; }
.glyphicon-chevron-right:before { content: ""; }
.glyphicon-share-alt:before { content: ""; }
.glyphicon-chevron-up:before { content: ""; }
.glyphicon-chevron-down:before { content: ""; }
.glyphicon-bell:before { content: ""; }
.glyphicon-new-window:before { content: ""; }
.glyphicon-cloud-download:before { content: ""; }
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
.img-rounded { border-radius: 6px 6px 6px 6px; }
.img-circle { border-radius: 50% 50% 50% 50%; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small { font-weight: 400; line-height: 1; color: rgb(119, 119, 119); }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small { font-size: 65%; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h4, .h4 { font-size: 18px; }
@media (min-width: 768px) {
}
small, .small { font-size: 85%; }
.text-right { text-align: right; }
.text-center { text-align: center; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
dl { margin-top: 0px; margin-bottom: 20px; }
dt, dd { line-height: 1.42857; }
dt { font-weight: 700; }
dd { margin-left: 0px; }
@media (min-width: 768px) {
  .dl-horizontal dt { float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; }
  .dl-horizontal dd { margin-left: 180px; }
}
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-3 { width: 25%; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-7 { width: 58.3333%; }
  .col-md-5 { width: 41.6667%; }
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
input[type="file"] { display: block; }
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted; outline-offset: -2px; }
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(119, 119, 119); opacity: 1; }
textarea.form-control { height: auto; }
.input-sm, .form-horizontal .form-group-sm .form-control { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px 3px 3px 3px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-default { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); border-color: rgb(173, 173, 173); }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { background-image: none; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); border-color: rgb(53, 126, 189); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(48, 113, 169); border-color: rgb(40, 94, 142); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-link { font-weight: 400; color: rgb(66, 139, 202); cursor: pointer; border-radius: 0px 0px 0px 0px; }
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
.btn-link:hover, .btn-link:focus { color: rgb(42, 100, 150); text-decoration: underline; background-color: transparent; }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px 3px 3px 3px; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.collapse { display: none; }
@media (min-width: 768px) {
}
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px 0px 0px 0px; }
.input-group-addon, .input-group-btn { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group-addon { padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1; color: rgb(85, 85, 85); text-align: center; background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group-addon:first-child { border-right: 0px none; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-addon:last-child { border-left: 0px none; }
.input-group-btn { position: relative; font-size: 0px; white-space: nowrap; }
.input-group-btn > .btn { position: relative; }
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active { z-index: 2; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { margin-left: -1px; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); }
.nav-tabs > li { float: left; margin-bottom: -1px; }
.nav-tabs > li > a { margin-right: 2px; line-height: 1.42857; border: 1px solid transparent; border-radius: 4px 4px 0px 0px; }
.nav-tabs > li > a:hover { border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221); }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color: rgb(85, 85, 85); cursor: default; background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.tab-content > .tab-pane { display: none; }
.tab-content > .active { display: block; }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px 4px 4px 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-right: 0px; padding-left: 0px; }
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 340px; }
@media (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 200px; }
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
}
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; transform: translate3d(0px, 0px, 0px); }
@media (min-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0px 0px 0px 0px; }
}
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
@media (min-width: 768px) {
  .navbar-left { float: left ! important; }
  .navbar-right { float: right ! important; }
}
.navbar-form { padding: 10px 15px; margin: 8px -15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); }
@media (min-width: 768px) {
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
  .navbar-form .input-group { display: inline-table; vertical-align: middle; }
  .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control { width: auto; }
  .navbar-form .input-group > .form-control { width: 100%; }
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-form { width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; border: 0px none; box-shadow: none; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
.navbar-inverse { background-color: rgb(34, 34, 34); border-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-brand { color: rgb(119, 119, 119); }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-toggle { border-color: rgb(51, 51, 51); }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: rgb(51, 51, 51); }
.navbar-inverse .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
@media (max-width: 767px) {
}
.pager { padding-left: 0px; margin: 20px 0px; text-align: center; list-style: none outside none; }
.pager li { display: inline; }
.pager li > a, .pager li > span { display: inline-block; padding: 5px 14px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 15px 15px 15px 15px; }
.pager li > a:hover, .pager li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span { color: rgb(119, 119, 119); cursor: not-allowed; background-color: rgb(255, 255, 255); }
@media screen and (min-width: 768px) {
}
.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.media, .media-body { overflow: hidden; }
.media, .media .media { margin-top: 15px; }
.media:first-child { margin-top: 0px; }
.media-object { display: block; }
.media-heading { margin: 0px 0px 5px; }
.media > .pull-left { margin-right: 10px; }
.media-list { padding-left: 0px; list-style: none outside none; }
.list-group { padding-left: 0px; margin-bottom: 20px; }
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); }
.well { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: rgb(245, 245, 245); border: 1px solid rgb(227, 227, 227); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; }
.close { float: right; font-size: 21px; font-weight: 700; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover, .close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: none repeat scroll 0px 0px transparent; border: 0px none; }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow: hidden; outline: 0px none; }
.modal.fade .modal-dialog { transition: transform 0.3s ease-out 0s; transform: translate3d(0px, -25%, 0px); }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px 6px 6px 6px; outline: 0px none; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); }
.modal-header { min-height: 16.43px; padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0px; line-height: 1.42857; }
.modal-body { position: relative; padding: 15px; }
.modal-footer { padding: 15px; text-align: right; border-top: 1px solid rgb(229, 229, 229); }
@media (min-width: 768px) {
  .modal-dialog { width: 600px; margin: 30px auto; }
  .modal-content { box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
}
@media (min-width: 992px) {
}
.popover { position: absolute; top: 0px; left: 0px; z-index: 1060; display: none; max-width: 276px; padding: 1px; text-align: left; white-space: normal; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px 6px 6px 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
.popover.bottom { margin-top: 10px; }
.popover-content { padding: 9px 14px; }
.popover > .arrow, .popover > .arrow:after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover > .arrow { border-width: 11px; }
.popover > .arrow:after { content: ""; border-width: 10px; }
.popover.bottom > .arrow { top: -11px; left: 50%; margin-left: -11px; border-top-width: 0px; border-bottom-color: rgba(0, 0, 0, 0.25); }
.popover.bottom > .arrow:after { top: 1px; margin-left: -10px; content: " "; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.carousel { position: relative; }
.carousel-inner { position: relative; width: 100%; overflow: hidden; }
.carousel-inner > .item { position: relative; display: none; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-control { position: absolute; top: 0px; bottom: 0px; left: 0px; width: 15%; font-size: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); opacity: 0.5; }
.carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%); background-repeat: repeat-x; }
.carousel-control.right { right: 0px; left: auto; background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; }
.carousel-control:hover, .carousel-control:focus { color: rgb(255, 255, 255); text-decoration: none; outline: 0px none; opacity: 0.9; }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right { position: absolute; top: 50%; z-index: 5; display: inline-block; }
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left: 50%; margin-left: -10px; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 50%; margin-right: -10px; }
.carousel-indicators { position: absolute; bottom: 10px; left: 50%; z-index: 15; width: 60%; padding-left: 0px; margin-left: -30%; text-align: center; list-style: none outside none; }
.carousel-indicators li { display: inline-block; width: 10px; height: 10px; margin: 1px; text-indent: -999px; cursor: pointer; background-color: transparent; border: 1px solid rgb(255, 255, 255); border-radius: 10px 10px 10px 10px; }
.carousel-indicators .active { width: 12px; height: 12px; margin: 0px; background-color: rgb(255, 255, 255); }
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { width: 30px; height: 30px; margin-top: -15px; font-size: 30px; }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { margin-left: -15px; }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next { margin-right: -15px; }
  .carousel-indicators { bottom: 20px; }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { display: table; content: " "; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }
.pull-right { float: right ! important; }
.pull-left { float: left ! important; }
.hide { display: none ! important; }
.show { display: block ! important; }
.hidden { display: none ! important; visibility: hidden ! important; }
.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none ! important; }
@media (max-width: 767px) {
  .visible-xs { display: block ! important; }
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm { display: block ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none ! important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none ! important; }
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
/* ::::: http://coolapk.com/static/fonts/fix.css (@media all) ::::: */

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular_001.eot") format("embedded-opentype"), url("glyphicons-halflings-regular_001.woff") format("woff"), url("glyphicons-halflings-regular_001.ttf") format("truetype"), url("glyphicons-halflings-regular_001.svg") format("svg");
}
@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.woff") format("woff"), url("icomoon.ttf") format("truetype"), url("icomoon.svg") format("svg");
}
.icomoon { position: relative; top: 1px; font-family: 'icomoon'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; margin-right: 3px; }
.icomoon-reply:before { content: ""; }
.icomoon-like:before { content: ""; }
.icomoon-smile:before { content: ""; }
.icomoon-image:before { content: ""; }
/* ::::: http://static.coolapk.com/v5/css/style.css?1408200 (@media all) ::::: */

body { padding-top: 50px; padding-bottom: 50px; background-color: rgb(227, 227, 227); font-family: "微软雅黑","Microsoft YaHei",Monaco,"Helvetica Neue",Helvetica,Arial,sans-serif; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 h6, .h6 { font-family: inherit; }
.container { padding-left: 10px; padding-right: 10px; }
.row { margin-left: -10px; margin-right: -10px; }
.panel { margin-bottom: 10px; }
.well { margin-bottom: 10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 10px; padding-right: 10px; }
a, a:focus { outline: medium none; }
.navbar-inverse .navbar-brand { padding-left: 8px; color: rgb(255, 255, 255); }
.navbar-inverse .navbar-toggle { float: left; border-color: rgb(34, 34, 34); margin-left: 3px; margin-right: 0px; outline: medium none; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: transparent; }
.navbar-inverse .navbar-collapse { max-height: 100%; }
.navbar-inverse .navbar-nav > li > a { color: rgb(204, 204, 204); padding-left: 10px; padding-right: 10px; }
.ex-navbar > .container > .navbar-header { margin-left: -10px; margin-right: -10px; }
.ex-navbar > .container > .navbar-collapse { margin-left: -10px; margin-right: -10px; }
.ex-navbar-toggle { position: relative; float: right; display: block; font-size: 18px; padding: 5px; margin-top: 8px; margin-right: 15px; color: rgb(153, 153, 153); cursor: pointer; }
.ex-navbar-toggle:hover { color: rgb(255, 255, 255); text-decoration: none; }
.ex-navbar-toggle span.glyphicon {  }
.ex-navbar-form { margin: 5px 0px; padding: 10px; border: medium none; box-shadow: none; }
.ex-navbar-form .input-group > .form-control { width: 100%; }
.ex-container { margin-top: 10px; }
.star { float: left; display: inline-block; margin: 6px 0px; padding: 0px; width: 45px; height: 9px; line-height: 9px; background-repeat: no-repeat; background-position: 0px -45px; background-image: url("stars.gif"); text-indent: -9999px; }
.star-gray { background-image: url("stars-gray.gif"); }
.star-1 { background-position: 0px -36px; }
.star-2 { background-position: 0px -27px; }
.star-3 { background-position: 0px -18px; }
.star-4 { background-position: 0px -9px; }
.star-5 { background-position: 0px 0px; }
.big-star { float: left; display: inline-block; margin: 3px 0px; padding: 0px; width: 75px; height: 14px; line-height: 14px; background-repeat: no-repeat; background-position: 0px -140px; background-image: url("big-stars.gif"); text-indent: -9999px; }
.big-star-4 { background-position: 0px -28px; }
.big-star-5 { background-position: 0px 0px; }
.ex-nav-tabs { border-bottom: 1px solid rgb(221, 221, 221); }
.ex-nav-tabs > li { margin: 0px 0px -1px; padding: 0px; }
.ex-nav-tabs > li > a { margin: 0px; padding: 0px; height: 51px; line-height: 51px; color: rgb(153, 153, 153); font-size: 16px; border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ex-nav-tabs > li > a:hover { background-color: rgb(238, 238, 238); border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.ex-nav-tabs > li.active > a { color: rgb(17, 17, 17); border-width: medium medium 3px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(66, 139, 202); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: transparent; }
.ex-nav-tabs > li.active > a:hover { background-color: rgb(238, 238, 238); border-width: medium medium 3px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(42, 100, 150); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.ex-nav-tabs.nav-tabs-3 > li { width: 33.3333%; }
.ex-btn-glyphicon > span.glyphicon { margin-right: 3px; }
.ex-well { background-color: rgb(250, 250, 250); }
.ex-dockbar { position: fixed; width: 40px; top: 50%; right: 15px; }
.ex-dockbar .btn { margin-bottom: 5px; outline: medium none; }
.ex-footer { margin: 0px; padding: 10px 0px; color: rgb(153, 153, 153); font-size: 12px; line-height: 2; border-top: 1px solid rgb(204, 204, 204); }
.ex-footer a { color: rgb(153, 153, 153); }
.ex-card { padding: 0px; box-shadow: none; }
.ex-card.panel-default { border-color: rgb(227, 227, 227); background-color: rgb(250, 250, 250); }
.ex-card.panel-default > .panel-heading { border-color: rgb(227, 227, 227); background-color: transparent; }
.ex-card.panel-default > .panel-heading h2, .ex-card.panel-default > .panel-heading h3, .ex-card.panel-default > .panel-heading h4 { color: rgb(66, 139, 202); }
.ex-card-header h2 { margin: 0px; padding: 0px; font-size: 18px; line-height: 30px; font-weight: normal; }
.ex-card-header h4 { margin: 0px; padding: 0px; font-size: 14px; line-height: 30px; font-weight: normal; }
.ex-card-header a { text-decoration: none; }
.ex-card-header a:hover { text-decoration: none; }
.ex-card-header .media-object { width: 40px; height: 40px; border: medium none; }
.ex-card-header .media-body { color: rgb(153, 153, 153); font-size: 13px; line-height: 20px; }
.ex-card-header .media-body a { color: rgb(153, 153, 153); }
.ex-card-header .media-body a:hover { color: rgb(42, 100, 150); }
.ex-card-header .media-heading { line-height: 20px; }
.ex-card-header .media-heading a { color: rgb(66, 139, 202); }
.ex-card-header .media-heading a.username { color: rgb(85, 85, 85); }
.ex-card-header .media-heading a:hover { color: rgb(42, 100, 150); }
.ex-card-header .dateline { font-size: 12px; color: rgb(134, 133, 133); }
.ex-card-header .dateline a { color: rgb(134, 133, 133); }
.ex-card-mini-header { padding: 10px 15px; }
.ex-card-mini-header .media-object { width: 30px; height: 30px; border: medium none; }
.ex-card-mini-header .media-heading { height: 30px; line-height: 30px; }
.ex-card-body {  }
.ex-card-wrapper { padding: 10px 15px; white-space: normal; word-break: break-all; }
.ex-card-content { padding: 10px 15px 0px; white-space: normal; word-break: break-all; }
.ex-card-toolbar { padding: 10px 15px; }
.ex-card-extend { padding: 10px 15px 0px; overflow: hidden; }
.ex-card-box { padding: 10px; }
.ex-card-body h4 { font-size: 14px; margin-top: 0px; margin-bottom: 5px; }
.ex-card-feed { font-size: 14px; }
.ex-card-feed .ex-card-header { border-bottom: 0px none; }
.ex-card-feed .ex-card-content { padding-top: 5px; }
.ex-card-feed .ex-feed-action { display: none; }
.ex-card-feed:hover .ex-feed-action { display: inline; }
.ex-card-toolbar {  }
.ex-card-toolbar .btn-link { margin: 0px; padding: 5px; color: rgb(171, 171, 171); vertical-align: middle; text-decoration: none; outline: medium none; }
.ex-card-toolbar .btn-link:hover { color: rgb(42, 100, 150); text-decoration: none; outline: medium none; }
.ex-card-toolbar .btn-link > span.icomoon { font-size: 14px; margin-right: 3px; }
.ex-card-imageView { margin: 0px; padding: 0px; text-align: center; overflow: hidden; }
.ex-card-imageView img.preview { max-width: 100%; border: medium none; }
.ex-card-imageView img.zoom-out { cursor: url("zoom-out.cur"), auto; }
.ex-card-thumbView { margin: 0px; padding: 0px; }
.ex-card-thumbView img.thumb { width: 180px; border: medium none; }
.ex-card-thumbView img.zoom-in { cursor: url("zoom-in.cur"), auto; }
.ex-card-form {  }
.ex-card-form .ex-card-wrapper { padding: 10px 15px 5px; }
.ex-card-form .ex-request-alert { margin-bottom: 10px; }
.ex-card-form .ex-card-toolbar { padding: 0px 15px; }
.ex-card-form .ex-btn-glyphicon { padding: 5px 7px; line-height: 1.5; color: rgb(153, 153, 153); outline: medium none; }
.ex-card-form .ex-btn-glyphicon:hover { color: rgb(66, 139, 202); text-decoration: none; outline: medium none; }
.ex-card-form .ex-btn-glyphicon > span.glyphicon { float: left; margin-right: 5px; font-size: 16px; }
.ex-card-form .ex-btn-glyphicon > span.icomoon { float: left; margin-right: 5px; font-size: 16px; }
.ex-card-form .ex-card-extend { padding: 10px 15px 5px; }
.ex-card-form .ex-card-extend .alert { margin: 0px 0px 10px; }
.ex-card-app-list { margin: 0px; padding: 0px; list-style: none outside none; font-size: 14px; }
.ex-card-app-list li { margin: 0px; padding: 12px 15px; border-bottom: 1px solid rgb(227, 227, 227); }
.ex-card-app-list li:hover { background-color: rgb(245, 245, 245); }
.ex-card-app-list li:last-child { border: medium none; }
.ex-card-app-list li img.media-object { width: 48px; height: 48px; border: medium none; }
.ex-card-app-list li .media-heading { margin: 0px; padding: 0px; height: 26px; line-height: 26px; font-size: 16px; font-weight: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ex-card-app-list li .media-heading a { color: rgb(17, 17, 17); }
.ex-card-app-list li .media-heading a:hover { color: rgb(42, 100, 150); }
.ex-card-app-list li .media-body { color: rgb(119, 119, 119); font-size: 13px; }
.ex-card-app-list li .media-info { font-size: 13px; color: rgb(153, 153, 153); height: 22px; line-height: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ex-card-comment { padding: 0px 15px 15px; border-top: 1px solid rgb(227, 227, 227); background-color: rgb(242, 242, 242); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.ex-card-comment .ex-card-comment-title { margin: 0px; padding: 10px 0px; line-height: 1; font-size: 12px; font-weight: bold; border-bottom: 1px dotted rgb(221, 221, 221); }
.ex-card-comment .ex-card-comment-more { font-size: 12px; }
.ex-card-comment .ex-card-comment-more a { color: rgb(17, 17, 17); }
.ex-card-comment .ex-card-comment-list { margin: 0px; padding: 0px; list-style: none outside none; font-size: 13px; }
.ex-card-comment .ex-card-comment-list li { padding: 10px 0px; margin: 0px; font-size: 13px; line-height: 21px; border-bottom: 1px dotted rgb(221, 221, 221); }
.ex-card-comment .ex-card-comment-list li .media-object { margin: 3px 0px 0px; padding: 0px; width: 30px; height: 30px; border: medium none; }
.ex-card-comment .ex-card-comment-list li .media-body { padding: 0px; line-height: 21px; }
.ex-card-comment .ex-card-comment-list li .ex-reply-action { color: rgb(158, 158, 158); display: none; }
.ex-card-comment .ex-card-comment-list li .ex-reply-action a { color: rgb(158, 158, 158); }
.ex-card-comment .ex-card-comment-list li .ex-reply-action a:hover { color: rgb(66, 139, 202); }
.ex-card-comment .ex-card-comment-list li:hover .ex-reply-action { display: inline; }
.ex-card-quick-comment { padding: 0px 15px 15px; border-top: 1px solid rgb(227, 227, 227); background-color: rgb(242, 242, 242); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.ex-card-quick-comment .ex-card-comment-title { margin: 0px; padding: 10px 0px; line-height: 1; font-size: 12px; font-weight: bold; border-bottom: 1px dotted rgb(221, 221, 221); }
.ex-card-quick-comment .ex-card-comment-more { padding-top: 10px; font-size: 12px; border-top: 1px dotted rgb(221, 221, 221); }
.ex-card-quick-comment .ex-card-comment-more a { color: rgb(153, 153, 153); }
.ex-card-quick-comment .ex-card-comment-list { margin: 0px; padding: 0px; list-style: none outside none; font-size: 13px; }
.ex-card-quick-comment .ex-card-comment-list li { padding: 7px 0px; margin: 0px; font-size: 13px; line-height: 21px; border-bottom: 1px dotted rgb(221, 221, 221); }
.ex-card-quick-comment .ex-card-comment-list li:last-child, .ex-card-quick-comment .ex-card-comment-list li.last-child { border: medium none; }
.ex-card-quick-comment .ex-card-comment-list li .media-object { margin: 0px; padding: 0px; width: 21px; height: 21px; border: medium none; }
.ex-card-quick-comment .ex-card-comment-list li .media-body { padding: 0px; line-height: 21px; }
.ex-card-quick-comment .ex-card-comment-list li span.dateline { color: rgb(158, 158, 158); }
.ex-reply-form > .ex-request-alert { margin-bottom: 10px; }
.ex-reply-form > .input-group > .input-group-addon { top: 0px; cursor: pointer; }
.ex-reply-form > .input-group > .input-group-addon.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.ex-reply-form > .input-group > .input-group-addon.btn-success:hover { color: rgb(255, 255, 255); background-color: rgb(71, 164, 71); border-color: rgb(57, 132, 57); }
.ex-reply-form > .input-group > textarea { padding: 6px; height: 34px; }
.ex-page-header { background-color: rgb(250, 250, 250); border-bottom: 1px solid rgb(227, 227, 227); }
.ex-page-topbar { padding-top: 18px; padding-bottom: 18px; overflow: visible; }
.ex-page-infobar { margin: 0px; padding: 0px; text-align: center; border-top: 1px solid rgb(221, 221, 221); }
.ex-page-topbar h1 { color: rgb(66, 139, 202); font-size: 26px; line-height: 34px; margin: 0px; padding: 0px 30px 0px 0px; font-weight: normal; text-shadow: 1px 0px 1px rgb(255, 255, 255); }
.ex-page-topbar h1 > small { font-size: 75%; }
.ex-page-topbar h1.ex-apk-view-title { color: rgb(51, 51, 51); font-size: 21px; line-height: 1.1; }
.ex-page-topbar .ex-apk-view-logo { margin-right: 10px; text-align: center; }
.ex-page-topbar .ex-apk-view-logo img { margin: 0px; width: 80px; height: 80px; border: medium none; }
.ex-page-topbar .ex-apk-view-intro { margin: 5px 0px 0px; font-size: 12px; color: rgb(141, 141, 141); }
.ex-page-topbar .ex-apk-view-btns { margin-top: 10px; }
.ex-page-topbar .btn { outline: medium none; }
.ex-page-topbar .media-body { padding-left: 90px; overflow: visible; }
.ex-page-infobar div { margin: 0px; padding: 0px; list-style: none outside none; text-align: center; }
.ex-page-infobar div > a { margin: 0px; padding: 8px 0px; color: rgb(102, 102, 102); text-align: center; text-decoration: none; }
.ex-page-infobar div > a:hover { color: rgb(51, 51, 51); text-decoration: none; }
.ex-page-infobar div > a > span { display: block ! important; border-left: 1px solid rgb(227, 227, 227); text-align: center; }
.ex-page-infobar div > a.first-child > span { border: medium none; }
.ex-page-infobar div > a > span > strong { display: block ! important; color: rgb(51, 51, 51); }
.ex-apk-rank-pane { padding-top: 2px; }
.ex-apk-rank { width: 270px; height: 80px; margin: 0px auto; padding: 0px; overflow: hidden; }
.ex-apk-rank .ex-apk-rank-intro { margin-right: 10px; width: 90px; height: 80px; border: 0px solid rgb(204, 204, 204); }
.ex-apk-rank .ex-apk-rank-intro a { color: rgb(153, 153, 153); }
.ex-apk-rank .ex-apk-rank-intro .ex-apk-rank-title { display: none; margin: 0px; padding: 0px; font-size: 13px; height: 21px; line-height: 21px; background-color: rgb(204, 204, 204); text-align: center; }
.ex-apk-rank .ex-apk-rank-intro .ex-apk-rank-score { display: block; margin: 0px 0px 5px; padding: 0px; line-height: 32px; font-size: 26px; color: rgb(61, 61, 61); font-style: italic; text-align: center; text-shadow: 1px 1px 0px rgb(255, 255, 255); font-family: Georgia; }
.ex-apk-rank .ex-apk-rank-intro .ex-apk-rank-star { display: block; margin: 0px; padding: 0px 0px 0px 7px; height: 24px; }
.ex-apk-rank .ex-apk-rank-intro .ex-apk-rank-stat { display: block; margin: 1px 0px 0px; padding: 0px; height: 16px; line-height: 16px; font-size: 12px; text-align: center; }
.ex-apk-rank .ex-apk-rank-info { margin: 0px; padding: 0px; list-style: none outside none; }
.ex-apk-rank .ex-apk-rank-item { margin: 0px; padding: 0px; height: 16px; line-height: 16px; font-size: 12px; overflow: hidden; }
.ex-apk-rank .ex-apk-rank-item span { float: left; }
.ex-apk-rank .ex-apk-rank-item .star { margin: 4px 0px 0px; }
.ex-apk-rank .ex-apk-rank-item .ex-apk-rank-progressbar { margin: 3px 0px 3px 12px; padding: 0px; height: 12px; line-height: 12px; background-color: rgb(214, 214, 214); }
.ex-apk-rank .ex-apk-rank-item .ex-apk-rank-percent { color: rgb(153, 153, 153); margin: 3px 0px 3px 5px; padding: 0px; height: 12px; line-height: 12px; }
.ex-apk-vote { margin: 12px 0px 0px; padding: 10px 0px 0px; text-align: center; border-top: 1px solid rgb(227, 227, 227); }
.ex-apk-vote .ex-apk-vote-title { display: block; margin: 0px; padding: 0px; font-size: 13px; line-height: 1.1; text-align: center; }
.ex-apk-vote .ex-apk-vote-area { margin: 9px 0px 0px; padding: 0px; }
.ex-apk-vote .ex-apk-vote-area .btn { padding: 0px 10px; font-size: 24px; line-height: 1; outline: medium none; }
.ex-apk-vote .ex-apk-vote-area .glyphicon { top: 0px; width: 24px; height: 24px; font-size: 24px; }
.ex-apk-detail-pane dl { margin: 0px; padding: 0px; }
.ex-apk-detail-pane dl > dt { float: left; width: 80px; text-align: right; font-weight: normal; }
.ex-apk-detail-pane dl > dd { margin-left: 90px; white-space: normal; word-break: break-all; }
.ex-apk-permission-pane dl { margin: 0px; padding: 0px 0px 5px; }
.ex-apk-permission-pane dl > dt { margin: 7px 0px 0px; padding: 7px 0px 0px; float: none; width: auto; text-align: left; font-weight: normal; border-top: 1px dotted rgb(227, 227, 227); white-space: normal; word-break: break-all; }
.ex-apk-permission-pane dl > dt:first-child { margin: 0px; padding: 0px; border-top: medium none; }
.ex-apk-permission-pane dl > dd { margin-left: 0px; }
.ex-screenshot-modal {  }
.ex-screenshot-modal .modal-body { padding: 0px; }
.ex-screenshot-modal .modal-footer { margin-top: 0px; }
.ex-screenshot-carousel {  }
.ex-screenshot-carousel .carousel-inner > .item { text-align: center; }
.ex-screenshot-carousel .carousel-inner > .item > img { margin: 0px auto; }
.ex-screenshot-thumb-carousel { height: 200px; background-color: rgb(250, 250, 250); white-space: nowrap; overflow-x: auto; overflow-y: hidden; }
.ex-screenshot-thumb-carousel img { height: 200px; border: medium none; cursor: pointer; }
.ke-inline-block { padding: 0px; }
.ke-inline-block .ke-upload-file { cursor: pointer; }
.ke-inline-block .ke-button-common { height: auto; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(92, 184, 92); border-radius: 3px 3px 3px 3px; }
.ke-inline-block .ke-button-common > .ke-button { padding: 6px 12px; font-size: 14px; }
.ex-popover { position: fixed; top: auto; left: 0px; bottom: 0px; width: 100%; max-width: 100%; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 0px; background-color: rgb(242, 242, 242); border-radius: 0px 0px 0px 0px; }
.ex-popover .arrow { display: none; }
.ex-popover .popover-content { padding: 10px; text-align: center; }
.ex-popover .close { margin: 3px; font-size: 15px; outline: medium none; }
.ex-popover .popover-content.list-group { margin: 0px 15px 0px 0px; font-size: 13px; white-space: nowrap; }
.ex-notification { position: absolute; bottom: auto; width: 100%; max-width: 100%; border-top-width: 0px; border-left-width: 0px; border-right-width: 0px; background-color: rgb(252, 248, 227); border-radius: 0px 0px 0px 0px; }
.ex-notification .close { margin: 3px; font-size: 21px; outline: medium none; }
.ex-notification .popover-content { padding: 0px; }
.ex-notification .popover-content.list-group { margin: 0px 25px; }
dl.emoticons-list { margin: 0px auto; padding: 0px; width: 240px; list-style: none outside none; }
dl.emoticons-list dd { margin: 0px; padding: 0px; }
dl.emoticons-list dd span.em { float: left; margin: 0px; padding: 2px; width: 30px; height: 30px; border: 1px solid rgb(246, 246, 246); }
dl.emoticons-list dd span.em:hover { border: 1px solid rgb(84, 134, 145); }
dl.emoticons-list dd span.em img { display: block; margin: 0px; padding: 0px; width: 24px; height: 24px; border: medium none; background-image: url("static_001.gif"); background-repeat: no-repeat; text-indent: -9999px; }
div.emoticons-page { clear: both; padding: 10px 0px 0px; font-size: 12px; text-align: right; }
@media (min-width: 768px) {
  .ex-navbar > .container > .navbar-header { margin-left: 0px; margin-right: 0px; }
  .ex-navbar > .container > .navbar-collapse { margin-left: 0px; margin-right: 0px; }
  .navbar-inverse .navbar-brand { width: 90px; height: 50px; padding: 0px; text-indent: -9999px; background-repeat: no-repeat; background-position: 0px 0px; background-image: url("top-logo.png"); }
  .navbar-inverse .navbar-brand:hover { background-position: 0px -50px; }
  .navbar-collapse-form { width: 100%; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
  .navbar-collapse-form.collapse { display: none ! important; }
  .btn.hidden-xs { display: inline-block ! important; }
  .ex-navbar-form { margin: 5px 0px; }
  .ex-navbar-toggle { display: none; }
  .ex-container { margin-top: 15px; }
  .ex-page-topbar .ex-apk-view-logo { margin-right: 15px; text-align: center; }
  .ex-page-topbar .ex-apk-view-logo img { margin: 0px; width: 90px; height: 90px; border: medium none; }
  .ex-page-topbar .media-body { padding-left: 105px; overflow: visible; }
  .ex-popover { position: absolute; top: 0px; left: 0px; bottom: auto; width: auto; max-width: 300px; border-width: 1px; background-color: rgb(255, 255, 255); border-radius: 6px 6px 6px 6px; }
  .ex-popover .arrow { display: block; }
  .ex-notification { bottom: auto; width: auto; max-width: 300px; border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; background-color: rgb(255, 255, 255); border-radius: 0px 0px 6px 6px; }
  .ex-notification .close { margin: 0px 3px; font-size: 15px; outline: medium none; }
  .ex-notification .popover-content { padding: 10px; }
  .ex-notification .popover-content.list-group { margin: 0px 15px 0px 0px; }
}
@media (min-width: 992px) {
  .navbar-collapse-form { width: auto; border: medium none; box-shadow: none; }
  .navbar-collapse-form.collapse { display: block ! important; }
  .ex-navbar-form { width: 180px; float: right ! important; margin-top: 11px; margin-left: 15px; margin-right: 15px; padding: 0px 5px; border: 0px none; box-shadow: none; }
  .ex-navbar-form .input-sm { height: 28px; padding: 3px 6px; border: medium none; box-shadow: none; }
  .ex-navbar-form .btn-sm { width: 30px; font-size: 12px; border: medium none; box-shadow: none; }
}
@media (min-width: 1200px) {
  .container { width: 970px; max-width: none ! important; }
}
/* ::::: http://static.coolapk.com/kindeditor/4.1.10/themes/default/default.css ::::: */

.ke-inline-block { display: inline-block; vertical-align: middle; }
.ke-button-common { background: url("background.png") no-repeat scroll 0px -25px transparent; height: 23px; line-height: 23px; overflow: visible; display: inline-block; vertical-align: top; cursor: pointer; }
.ke-button { background-position: right -25px; padding: 0px 12px; margin: 0px; font-family: "sans serif",tahoma,verdana,helvetica; border: 0px none; color: rgb(51, 51, 51); font-size: 12px; left: 2px; text-decoration: none; }
.ke-upload-area { position: relative; overflow: hidden; margin: 0px; padding: 0px; }
.ke-upload-area .ke-upload-file { position: absolute; font-size: 60px; top: 0px; right: 0px; padding: 0px; margin: 0px; z-index: 811212; border: 0px none; opacity: 0; }
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

