/* ::::: [internal] ::::: */

td, p, li, div { font: 10pt verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif; }
.smallfont { font-size: 11px; }
.tborder { border: 1px solid rgb(128, 128, 128); }
.page { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

