/* ::::: [internal] ::::: */

/* ::::: http://zor.fyre.co/wjs/v3.0.1458259341/css/editor.css (@media all) ::::: */

@keyframes slidedown {
0% { height: 30px; }
100% { height: 100px; }
}
@keyframes slidedown {
0% { height: 30px; }
100% { height: 100px; }
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
body.editable.fyre-editor-field { background: none repeat scroll 0% 0% transparent; border: medium none; box-shadow: none; box-sizing: border-box; color: rgb(76, 76, 76); font: 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; height: 100%; margin: 0px; padding: 10px 8px; width: 100%; }
body.editable.fyre-editor-field > p { margin: 0px; }
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
