/* ::::: http://bneijt.nl/css/foundation.css ::::: */

.foundation {  }
.foundation *, .foundation *:before, .foundation *:after { box-sizing: border-box; }
.foundation a img { border: medium none; }
.foundation a { color: rgb(43, 166, 203); text-decoration: none; line-height: inherit; }
.foundation a:hover { color: rgb(39, 149, 182); }
.foundation a:focus { color: rgb(39, 149, 182); }
.foundation p a, .foundation p a:visited { line-height: inherit; }
.foundation body, .foundation div, .foundation dl, .foundation dt, .foundation dd, .foundation ul, .foundation ol, .foundation li, .foundation h1, .foundation h2, .foundation h3, .foundation h4, .foundation h5, .foundation h6, .foundation pre, .foundation form, .foundation p, .foundation blockquote, .foundation th, .foundation td { margin: 0px; padding: 0px; font-size: 14px; direction: ltr; }
.foundation p { font-family: inherit; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
.foundation h1, .foundation h2, .foundation h3, .foundation h4, .foundation h5, .foundation h6 { font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; font-weight: bold; font-style: normal; color: rgb(34, 34, 34); text-rendering: optimizelegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
.foundation h1 small, .foundation h2 small, .foundation h3 small, .foundation h4 small, .foundation h5 small, .foundation h6 small { font-size: 60%; color: rgb(111, 111, 111); line-height: 0; }
.foundation h1 { font-size: 44px; }
.foundation h2 { font-size: 37px; }
.foundation h4 { font-size: 23px; }
.foundation h5 { font-size: 17px; }
.foundation h6 { font-size: 14px; }
.foundation em, .foundation i { font-style: italic; line-height: inherit; }
.foundation small { font-size: 60%; line-height: inherit; }
.foundation ul, .foundation ol, .foundation dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }
@media print {
  .foundation {  }
  .foundation * { background: none repeat scroll 0% 0% transparent ! important; color: black ! important; box-shadow: none ! important; text-shadow: none ! important; filter: none ! important; }
  .foundation a, .foundation a:visited { text-decoration: underline; }
  .foundation a[href]:after { content: " (" attr(href) ")"; }
  .foundation tr, .foundation img { page-break-inside: avoid; }
  .foundation img { max-width: 100% ! important; }
  @page {  }
  .foundation p, .foundation h2, .foundation h3 { orphans: 3; widows: 3; }
  .foundation h2, .foundation h3 { page-break-after: avoid; }
}
.foundation label { font-size: 14px; color: rgb(77, 77, 77); cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
.foundation input[type="text"], .foundation input[type="password"], .foundation input[type="date"], .foundation input[type="datetime"], .foundation input[type="email"], .foundation input[type="number"], .foundation input[type="search"], .foundation input[type="tel"], .foundation input[type="time"], .foundation input[type="url"], .foundation textarea { background-color: white; font-family: inherit; border: 1px solid rgb(204, 204, 204); border-radius: 2px 2px 2px 2px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; color: rgba(0, 0, 0, 0.75); display: block; font-size: 14px; margin: 0px 0px 12px; padding: 6px; height: 32px; width: 100%; transition: all 0.15s linear 0s; }
.foundation input[type="text"]:focus, .foundation input[type="password"]:focus, .foundation input[type="date"]:focus, .foundation input[type="datetime"]:focus, .foundation input[type="email"]:focus, .foundation input[type="number"]:focus, .foundation input[type="search"]:focus, .foundation input[type="tel"]:focus, .foundation input[type="time"]:focus, .foundation input[type="url"]:focus, .foundation textarea:focus { background: none repeat scroll 0% 0% rgb(250, 250, 250); border-color: rgb(179, 179, 179); }
@-moz-document url-prefix("") {
  .foundation form.custom div.custom.dropdown a.selector { height: 30px; }
}
.foundation .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0px auto; }
.foundation .row .row { width: auto; max-width: none; min-width: 0px; margin: 0px -15px; }
.foundation .row .row { width: auto; max-width: none; min-width: 0px; margin: 0px -15px; }
.foundation .column, .foundation .columns { float: left; min-height: 1px; padding: 0px 15px; position: relative; }
.foundation .column.centered, .foundation .columns.centered { float: none; margin: 0px auto; }
.foundation .ten, .foundation .row .ten { width: 83.3333%; }
.foundation .twelve, .foundation .row .twelve { width: 100%; }
.foundation img, .foundation object, .foundation embed { max-width: 100%; height: auto; }
.foundation img {  }
.foundation .row {  }
.foundation .row:before, .foundation .row:after { content: " "; display: table; }
.foundation .row:after { clear: both; }
@-moz-document url-prefix("") {
  .foundation button::-moz-focus-inner, .foundation input[type="reset"]::-moz-focus-inner, .foundation input[type="button"]::-moz-focus-inner, .foundation input[type="submit"]::-moz-focus-inner, .foundation input[type="file"] > input[type="button"]::-moz-focus-inner { border: medium none; padding: 0px; }
  .foundation input.tiny.button[type="submit"] { padding: 3px 10px 4px; }
  .foundation input.small.button[type="submit"] { padding: 5px 14px 6px; }
  .foundation input.button[type="submit"], .foundation input.medium.button[type="submit"] { padding: 8px 20px 9px; }
  .foundation input.large.button[type="submit"] { padding: 13px 30px 14px; }
}
.foundation .panel { background: none repeat scroll 0% 0% rgb(242, 242, 242); border: 1px solid rgb(230, 230, 230); margin: 0px 0px 22px; padding: 20px; }
.foundation .panel > :first-child { margin-top: 0px; }
.foundation .panel > :last-child { margin-bottom: 0px; }
.foundation .panel.radius { border-radius: 3px 3px 3px 3px; }
.foundation .keystroke, .foundation code, .foundation kbd { font-family: "Consolas","Menlo","Courier",monospace; font-size: 13px; margin: 0px; background: none repeat scroll 0% 0% rgb(237, 237, 237); border: 1px solid rgb(219, 219, 219); border-radius: 3px 3px 3px 3px; }
@-moz-document url-prefix("") {
  .foundation .top-bar ul li .button.small { padding-bottom: 6px; }
  .foundation .top-bar ul li.search form input[type="search"] { font-size: 14px; height: 22px; padding: 3px; }
}
@media only screen and (min-width: 1441px) {
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
@media screen and (orientation: landscape) {
}
@media screen and (orientation: portrait) {
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-device-width: 1280px) {
  .foundation {  }
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .foundation {  }
}
@media only screen and (max-width: 767px) {
  .foundation {  }
  .foundation .row { width: auto; min-width: 0px; margin-left: 0px; margin-right: 0px; }
  .foundation .column, .foundation .columns { width: auto ! important; float: none; }
  .foundation .column:last-child, .foundation .columns:last-child { float: none; }
  .foundation .column:before, .foundation .columns:before, .foundation .column:after, .foundation .columns:after { content: ""; display: table; }
  .foundation .column:after, .foundation .columns:after { clear: both; }
}
@media only screen and (max-width: 940px) {
}
/* ::::: http://bneijt.nl/css/app.css ::::: */

html { font-size: 62.5%; }
body { background: none repeat scroll 0% 0% white; font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1; color: rgb(34, 34, 34); position: relative; }
.copyright { text-align: center; }
/* ::::: http://zor.fyre.co/wjs/v3.0.1458259341/css/livefyre_main.css (@media all) ::::: */

.fyre .fyre-auth { margin: 20px 0px 0px; position: relative; }
.fyre .fyre-login-bar { float: left; font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; height: 25px; position: absolute; width: 100%; }
.fyre .fyre-login-bar a { cursor: pointer; }
.fyre .fyre-user-loggedout { color: rgb(33, 33, 33); font: bold 16px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; float: left; margin: 4px 0px 0px; text-decoration: none; }
.fyre .fyre-help { float: right; height: 25px; padding: 0px 0px 0px 5px; position: relative; width: 115px; }
.fyre .fyre-help .fyre-box-wrapper { margin: 5px 0px 0px 16px; max-width: none; right: 0px; top: -9px; width: 110px; }
.fyre .fyre-help .fyre-box-wrapper img { border: medium none; }
.fyre .fyre-box-wrapper { border: 1px solid transparent; display: block; position: absolute; top: -9px; z-index: 4; }
.fyre .fyre-box-wrapper a { text-decoration: none; }
.fyre .fyre-box-wrapper a:hover { color: rgb(33, 33, 33); }
.fyre .fyre-box-wrapper a.fyre-logo-link { background: url("sprite.png") no-repeat scroll -135px -150px transparent; display: inline-block; height: 30px; width: 92px; }
.fyre .fyre-box-wrapper img.fyre-logo-help { opacity: 0; padding: 4px 8px 0px 0px; }
.fyre .fyre-box-wrapper .fyre-logo-drop { left: 6px; position: absolute; top: 14px; }
.fyre .fyre-box-wrapper:hover, .fyre .fyre-box-wrapper.fyre-box-mobile-touch { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-color: rgb(217, 217, 217); border-radius: 4px 4px 4px 4px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); max-width: 100%; }
.fyre .fyre-box-wrapper:hover .fyre-box-list, .fyre .fyre-box-wrapper.fyre-box-mobile-touch .fyre-box-list { display: block; margin: 0px; }
.fyre .fyre-box-list { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 0px 0px 3px 3px; display: none; list-style-type: none; margin: 0px ! important; padding: 0px; text-align: left; }
.fyre .fyre-box-list li { background: none repeat scroll 0% 0% transparent; border-bottom: 1px dotted rgb(217, 217, 217); list-style: none outside none; padding: 0px; }
.fyre .fyre-box-list li:first-child { border-top: 1px solid rgb(217, 217, 217); }
.fyre .fyre-box-list li:last-child { border-bottom: medium none; }
.fyre .fyre-box-list li:last-child a { border-radius: 0px 0px 3px 3px; }
.fyre .fyre-box-list li a { color: rgb(64, 64, 64); display: block; font: 12px/25px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; padding: 0px 8px; text-decoration: none; }
.fyre .fyre-box-list li a:hover { background-color: rgb(241, 241, 241); }
.fyre-width-medium .fyre-box-wrapper { max-width: 30%; }
.fyre {  }
.fyre .fyre-comment-container { position: relative; }
.fyre .fyre-comment-user, .fyre .fyre-comment-source-0 .fyre-comment-user { display: block; position: absolute; }
.fyre .fyre-comment-user a, .fyre .fyre-comment-source-0 .fyre-comment-user a { display: inline-block; }
.fyre .fyre-comment-user img.fyre-user-avatar { border-radius: 5px 5px 5px 5px; height: 47px; width: 47px; }
.fyre .fyre-comment-user-rating, .fyre .fyre-user-level { font-size: 10px; }
.fyre .fyre-comment-user-rating { display: none; padding: 0px 0px 0px 10px; }
.fyre .fyre-comment-head, .fyre .fyre-comment-body { margin-left: 62px; text-align: left; }
@media not all {
}
.fyre a.fyre-comment-username { cursor: pointer; font-weight: bold; text-decoration: none; }
.fyre i.fyre-social-provider { display: none; }
.fyre .fyre-comment-wrapper time.fyre-comment-date { background: none repeat scroll 0% 0% transparent; font-size: 11px; height: 10px; float: right; }
.fyre .fyre-comment-source-13 .fyre-comment-body, .fyre .fyre-comment-source-6 .fyre-comment-body, .fyre .fyre-comment-source-5 .fyre-comment-body { overflow: hidden; }
.fyre .fyre-comment { margin: 5px 0px 0px; padding: 0px; position: relative; }
.fyre .fyre-comment p { margin: 0px; padding: 0px; word-wrap: break-word; }
.fyre .fyre-comment a { font-weight: bold; text-decoration: none; }
.fyre .fyre-comment-footer { background: none repeat scroll 0% 0% transparent; border: medium none; margin: 14px 0px 7px 61px; padding-top: 6px; text-align: right; }
.fyre .fyre-comment-user .fyre-comment-highlight { border: 3px solid rgb(21, 128, 228); border-radius: 3px 3px 3px 3px; opacity: 0; width: 0px; }
.fyre .fyre-comment-divider { margin: -2px 0px 10px; position: relative; }
.fyre .fyre-comment-divider > a, .fyre .fyre-comment-divider > a:hover { background-image: url("sprite.png"); background-repeat: no-repeat; height: 20px; margin: 0px 0px 0px 59px; position: absolute; top: -10px; width: 20px; }
.fyre .fyre-comment-collapse { cursor: pointer; }
.fyre .fyre-comment-source-13 > .fyre-comment-divider.fyre-divider-active > a, .fyre .fyre-comment-source-13 > .fyre-comment-divider.fyre-comment-collapse > a, .fyre .fyre-comment-divider.fyre-divider-active > a, .fyre .fyre-comment-divider.fyre-comment-collapse > a { background-position: -40px -101px; cursor: pointer; }
.fyre .fyre-comment-source-13 > .fyre-comment-divider.fyre-divider-active > div.fyre-comment-divider, .fyre .fyre-comment-source-13 > .fyre-comment-divider.fyre-comment-collapse > div.fyre-comment-divider, .fyre .fyre-comment-divider.fyre-divider-active > div.fyre-comment-divider, .fyre .fyre-comment-divider.fyre-comment-collapse > div.fyre-comment-divider { margin: 0px 0px 0px 80px; }
.fyre .fyre-comment-divider > div.fyre-comment-divider { background: none repeat scroll 0% 0% rgb(238, 238, 238); height: 1px; margin: 0px 0px 0px 59px; }
.fyre .fyre-comment-reply { box-shadow: none; cursor: pointer; font-size: 11px; padding: 3px 5px; position: relative; text-decoration: none; top: -6px; }
.fyre .fyre-comment-like { box-shadow: none; font-size: 11px; height: 20px; line-height: 20px; position: relative; text-decoration: none; top: -6px; }
.fyre .fyre-comment-like-count { font-size: 11px; text-decoration: none; }
.fyre .fyre-comment-like-btn { cursor: pointer; font-size: 11px; text-decoration: none; }
.fyre .fyre-comment-like-btn:hover, .fyre .fyre-comment-reply:hover { background: none repeat scroll 0% 0% transparent; border: medium none; }
.fyre .fyre-comment-like-imgs { padding: 0px 2px; position: relative; top: 2px; }
.fyre .fyre-comment p { margin-bottom: 10px; padding: 0px; }
.fyre .fyre-comment-replies-indent { margin-left: 62px; }
.fyre .fyre-comment-socialsync { height: 14px; left: 34px; position: absolute; top: 34px; width: 14px; }
.fyre .fyre-comment-actions { transition: opacity 0.1s linear 0s; opacity: 0; float: left; font-size: 11px; margin-top: -6px; text-align: right; }
.fyre .fyre-comment-actions span { opacity: 0; }
.fyre .fyre-comment-wrapper:hover > .fyre-comment-footer > .fyre-comment-actions { opacity: 1; }
.fyre .fyre-comment-wrapper:hover > .fyre-comment-footer > .fyre-comment-actions span { opacity: 1; }
.fyre .fyre-comment-actions a { cursor: pointer; display: inline-block; height: 16px; line-height: 16px; margin-right: 10px; text-decoration: none; }
.fyre .fyre-comment-actions a:hover { text-decoration: underline; }
.fyre .fyre-comment-actions a:last-child { margin-right: 0px; }
.fyre .fyre-comment-actions a > span { bottom: -1px; display: inline-block; background-image: url("sprite.png"); background-repeat: no-repeat; height: 16px; margin-right: 3px; position: relative; width: 16px; }
.fyre .fyre-comment-actions a.fyre-share-link {  }
.fyre .fyre-comment-actions a.fyre-share-link > span { background-position: -22px 0px; }
.fyre .fyre-comment-actions a.fyre-flag-link {  }
.fyre .fyre-comment-actions a.fyre-flag-link > span { background-position: -24px -20px; }
.fyre .fyre-comment-premod { margin-top: -20px; position: absolute; right: 0px; z-index: 2; }
.fyre .fyre-mention { cursor: pointer; }
.fyre .fyre-featured-content-wrapper { font: 13px/16px "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; position: relative; margin-bottom: 20px; overflow: hidden; min-width: 450px; }
.fyre-hovercard { position: absolute; z-index: 5; }
.fyre-hovercard-body { background-color: rgb(249, 249, 249); border: 1px solid rgb(205, 205, 205); border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); color: rgb(64, 64, 64); font: 11px/14px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(243, 243, 243)); min-width: 225px; max-width: 300px; padding: 10px; }
.fyre-hovercard-arrow { background: url("caret.png") repeat scroll 0% 0% transparent; display: block; margin-left: 12px; height: 11px; position: relative; top: -1px; width: 21px; z-index: 5; }
@keyframes spin {
100% {  }
}
@keyframes spin {
100% {  }
}
@keyframes slidedown {
0% { height: 30px; }
100% { height: 100px; }
}
@keyframes slidedown {
0% { height: 30px; }
100% { height: 100px; }
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}
.fyre-editor-media-drawer { background: none repeat scroll 0% 0% rgb(246, 246, 246); border-right: 1px solid rgb(153, 153, 153); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(153, 153, 153) rgb(153, 153, 153); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 10px 15px; text-align: left; }
.fyre-editor { margin-top: 60px; min-width: 260px; position: relative; text-align: left; }
.fyre-editor .fyre-editor-container {  }
.fyre-editor .fyre-editor-container .fyre-editor-editable { background-color: rgb(246, 246, 246); border: 1px solid rgb(161, 161, 161); border-radius: 5px 5px 0px 0px; box-shadow: 0px 1px 2px rgb(153, 153, 153) inset; box-sizing: border-box; clear: both; color: rgb(169, 169, 169); font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; font-size: 12px; height: 100px; margin: 0px; outline: medium none; overflow-x: hidden; overflow-y: auto; padding: 10px; position: relative; }
.fyre-editor .fyre-editor-container .fyre-editor-editable.editable { color: rgb(77, 77, 77); }
.fyre-editor .fyre-editor-container .fyre-editor-editable.fyre-editor-iframe { padding: 0px; overflow-y: hidden; }
.fyre-editor .fyre-editor-container iframe { background: none repeat scroll 0% 0% transparent; border-radius: 5px 5px 0px 0px; height: 100%; left: 0px; margin: 0px; min-height: 100px; overflow-x: hidden; overflow-y: auto; padding: 0px; position: absolute; top: 0px; width: 100%; }
.fyre-editor .fyre-editor-toolbar { height: 30px; margin: 0px; padding: 0px; position: relative; text-align: right; width: 100%; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar { position: relative; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div { background-color: rgb(227, 227, 227); border-bottom: 1px solid rgb(161, 161, 161); border-right: 1px solid rgb(161, 161, 161); box-sizing: border-box; color: rgb(101, 101, 101); cursor: pointer; display: inline-block; font: 12px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; background-image: -moz-linear-gradient(center top , rgb(247, 247, 247), rgb(226, 226, 226)); height: 30px; position: relative; vertical-align: top; z-index: 2; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.goog-toolbar-separator { border-width: medium medium 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(161, 161, 161); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 5px 5px; cursor: auto; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-left { float: left; width: 35px; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-left .fyre-button-left-outer-box .fyre-button-left-inner-box { line-height: 30px; height: 30px; padding-left: 10px; padding-right: 10px; text-align: left; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-left.fyre-format-button { border-left: 1px solid rgb(161, 161, 161); }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-left:nth-child(2) { border-bottom: 1px solid rgb(161, 161, 161); border-left: 1px solid rgb(161, 161, 161); border-radius: 0px 0px 0px 5px; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right { border-left: 1px solid rgb(161, 161, 161); border-right: medium none; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right .fyre-button-right-outer-box { margin: 0px; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right .fyre-button-right-outer-box .fyre-button-right-inner-box { line-height: 30px; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button { background-color: rgb(227, 227, 227); border-radius: 0px 0px 5px 0px; border-right: 1px solid rgb(161, 161, 161); background-image: -moz-linear-gradient(center top , rgb(240, 240, 240), rgb(197, 197, 197)); width: auto; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button .fyre-button-right-outer-box { padding: 0px 15px; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right.fyre-post-button .fyre-button-right-outer-box .fyre-button-right-inner-box { color: rgb(102, 102, 102); font-weight: bold; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-button-right:last-child { border-right: 1px solid rgb(161, 161, 161); }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-follow-button { width: auto; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-format-button > div { background: url("sprites.png") no-repeat scroll 9px 7px transparent; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-mention-button > div { background: url("sprites.png") no-repeat scroll 9px -57px transparent; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-media-button, .fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-embed-button > div { background: url("sprites.png") no-repeat scroll 8px -121px transparent; }
.fyre-editor .fyre-editor-toolbar .goog-toolbar > div.fyre-raw-button > div { background: url("sprites.png") no-repeat scroll 6px -532px transparent; }
.fyre-editor .fyre-editor-toolbar .fyre-share-button { border-left: 1px solid rgb(161, 161, 161); border-right: medium none; color: rgb(0, 0, 0); font-weight: normal; width: 82px; }
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
.fyre-editor .fyre-editor-toolbar .fyre-share-button div { box-sizing: border-box; display: block; padding: 0px; width: 100%; }
.fyre-editor .fyre-editor-toolbar .fyre-share-button div.fyre-button-right-inner-box { background: url("Down-Arrow-Up(1x).png") no-repeat scroll 65px 14px transparent; padding: 0px 28px; text-align: left; }
@media not all, (min-resolution: 192dpi) {
  .fyre-editor .fyre-editor-toolbar .fyre-share-button div.fyre-button-right-inner-box { background: url("Down-Arrow-Up(2x).png") no-repeat scroll 65px 14px / 8px 5px transparent; }
}
.fyre-editor .fyre-editor-toolbar .fyre-share-button label.fyre-share-counter { background-image: url("Share-Counter-(1x).png"); color: rgb(255, 255, 255); display: block; height: 16px; left: 6px; line-height: 16px; position: absolute; text-align: center; top: 7px; width: 16px; }
@media not all, (min-resolution: 192dpi) {
  .fyre-editor .fyre-editor-toolbar .fyre-share-button label.fyre-share-counter { background-image: url("Share-Counter-(2x).png"); background-size: 16px 16px; }
}
.fyre-editor .fyre-editor-toolbar .fyre-share-button label.fyre-share-counter.fyre-share-empty { background: url("Share-Arrow-Up(1x).png") no-repeat scroll 5px 4px transparent; }
@media not all, (min-resolution: 192dpi) {
  .fyre-editor .fyre-editor-toolbar .fyre-share-button label.fyre-share-counter.fyre-share-empty { background-image: url("Share-Arrow-Up(2x).png"); background-size: 12px 12px; }
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 192dpi) {
}
.fyre-mention-menu-filter { display: none; }
.fyre-editor-preview { display: none; position: relative; padding: 5px 40px; margin-top: 15px; }
.fyre-comment-preview { position: relative; margin-top: 6px; }
.fyre-comment-preview h5 { font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; font-size: 12px; margin: 0px; text-align: left; }
.fyre-comment-preview span.fyre-icon-remove { background: url("sprite.png") repeat scroll -61px -152px transparent; cursor: pointer; height: 16px; width: 16px; display: block; position: relative; z-index: 100; float: right; }
.fyre-comment-preview .fyre-comment-preview-content { padding: 4px; }
.fyre-editor-spinner { background: url("snake-loader.gif") no-repeat scroll left top transparent; display: block; height: 17px; margin-top: -22px; position: absolute; right: 4px; width: 17px; z-index: 3; }
.fyre-comment-footer .fyre-editor { margin-top: 10px; }
.fyre-mention { color: rgb(37, 105, 149); font-weight: 700; text-decoration: none; }
.fyre-mention-menu { background-color: rgb(255, 255, 255); background-image: none; border-right: 1px solid rgb(161, 161, 161); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(161, 161, 161) rgb(161, 161, 161); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; left: 8px; margin-left: -1px; outline: medium none; padding: 0px 0px 2px; position: absolute; text-align: left; top: 30px; width: 400px; z-index: 3; border-radius: 0px 0px 5px 5px; }
.fyre-mention-menu > .fyre-mention-menu-content { max-height: 250px; overflow: auto; }
.fyre-mention-menu .fyre-mention-item { cursor: pointer; height: 25px; position: relative; padding: 5px 10px; }
.fyre-mention-menu .fyre-mention-item .fyre-mention-item-avatar { cursor: inherit; border-radius: 3px 3px 3px 3px; width: 25px; height: 25px; }
.fyre-mention-menu .fyre-mention-item h4.fyre-mention-item-display-name { display: block; cursor: inherit; font: 13px/1em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; margin: 0px 34px; position: absolute; color: rgb(84, 84, 84); top: 10px; }
.fyre-mention-menu .fyre-mention-item span { background: url("sprites.png") no-repeat scroll 0px -439px transparent; cursor: inherit; display: inline-block; height: 22px; position: absolute; right: 10px; top: 6px; width: 22px; }
.fyre-mention-menu .fyre-mention-item span.fyre-mention-item-twitter { background-position: 0px -471px; }
.fyre { clear: both; margin: 0px; padding: 0px; position: relative; width: 100%; }
.fyre a { background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(37, 105, 149); }
.fyre a:hover { background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(51, 144, 204); }
.fyre img { border: medium none; }
.fyre .fyre-widget { clear: both; margin: 0px; padding: 0px; width: 100%; }
.fyre {  }
.fyre .fyre-stream-content { clear: both; }
.fyre .fyre-stream-content-not-found { color: rgb(166, 166, 166) ! important; display: none; font: 18px/24px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; margin-top: 25px; text-align: center; }
.fyre .fyre-live-container { float: right; position: relative; text-align: right; }
.fyre .fyre-livecount { display: inline-block; position: relative; text-align: right; top: -6px; }
.fyre .fyre-stream-stats, .fyre .fyre-stream-livecount { font: bold 16px/25px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; height: 25px; text-align: right; }
.fyre .fyre-stream-stats span { float: left; line-height: 25px; padding: 0px 20px 0px 0px; position: relative; z-index: 2; }
.fyre .fyre-stream-livecount { color: rgb(62, 62, 62); }
.fyre .fyre-listener-avatars { display: inline-block; margin: 0px 0px 0px 5px; overflow: hidden; }
.fyre .fyre-listener-avatars a { cursor: pointer; display: inline-block; margin-left: 4px; text-decoration: none; }
.fyre .fyre-listener-avatars img { border-radius: 3px 3px 3px 3px; height: 25px; width: 25px; }
.fyre .fyre-content-loading { background: url("snake-loader.gif") no-repeat scroll left center transparent; padding-left: 20px; margin-left: 45%; margin-top: 10px; }
.fyre .fyre-stream-sort { font: 12px/24px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; color: rgb(166, 166, 166) ! important; border-bottom: 1px solid rgb(229, 229, 229); width: 100%; }
.fyre .fyre-stream-sort a { color: rgb(166, 166, 166) ! important; cursor: pointer; }
.fyre .fyre-stream-sort a:active, .fyre .fyre-stream-sort a.fyre-stream-sort-selected { font-weight: bold; }
.fyre .fyre-stream-sort > .fyre-stream-sort-back { display: none; }
.fyre .fyre-stream-sort-selected { font-weight: bold; }
.fyre .fyre-comment-stream { margin-top: 2px; }
.fyre .fyre-comment-article, .fyre .fyre-comment-stream { font: 13px/16px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; }
.fyre .fyre-stream-more { background: url("sprites.png") repeat-x scroll 0px -584px transparent; margin-bottom: 13px; text-align: center; }
.fyre .fyre-stream-more .fyre-stream-more-container { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(242, 242, 242)); cursor: pointer; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0.42); border-radius: 3px 3px 3px 3px; color: rgb(34, 34, 34); display: inline-block; font: 12px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; height: 32px; width: auto; -moz-user-select: none; text-align: center; }
.fyre .fyre-stream-more .fyre-stream-more-container .fyre-spinner { display: none; }
.fyre .fyre-stream-more .fyre-stream-more-container .fyre-spinner { height: 16px; width: 16px; margin: 7px 4px; }
.fyre .fyre-stream-more .fyre-stream-more-container .fyre-text { color: rgb(68, 68, 68); padding: 0px 12px; display: inline-block; width: auto; line-height: 30px; cursor: default; background: none repeat scroll 0% 0% transparent ! important; pointer-events: none; }
@keyframes spin {
100% { transform: rotate(360deg); }
}
@keyframes spin {
100% { transform: rotate(360deg); }
}
.fyre {  }
.fyre .fyre-stream-stats { color: rgb(62, 62, 62); }
.fyre .fyre-stream-sort { color: rgb(33, 33, 33); margin: 20px 0px 13px; }
.fyre .fyre-stream-sort > a { color: rgb(33, 33, 33); text-decoration: none; }
.fyre .fyre-comment-stream { color: rgb(76, 76, 76); }
.fyre .fyre-comment-actions a { color: rgb(128, 128, 128); }
.fyre .fyre-comment-user-rating, .fyre .fyre-user-level, .fyre .fyre-like-count, .fyre .fyre-comment-source, .fyre .fyre-twitter-footer a, .fyre .fyre-comment-edit { color: rgb(143, 143, 143); }
.fyre .fyre-comment-date { color: rgb(204, 204, 204); }
.fyre .fyre-comment-reply { border-radius: 2px 2px 2px 2px; }
.fyre .fyre-comment-like { padding: 0px 7px 0px 0px; }
.fyre .fyre-comment a { color: rgb(37, 105, 149); }
.fyre .fyre-moderator, .fyre .fyre-comment-author-tag { background-color: rgb(21, 128, 228); border-radius: 2px 2px 2px 2px; color: rgb(255, 255, 255); padding: 0px 4px; font-size: 10px; margin-right: 2px; }
.fyre .fyre-comment-tag { background-color: rgb(242, 210, 131); border-radius: 2px 2px 2px 2px; color: rgb(158, 101, 17); padding: 0px 4px; font-size: 10px; }
.fyre .fyre-comment-tag.fyre-featured { line-height: 14px; border-radius: 2px 2px 2px 2px; display: inline-block; padding: 0px 4px; }
.fyre .fyre-featured-text { line-height: 12px; margin: 0px 0px 0px 2px; font-weight: 500; }
.fyre .fyre-featured-icon { display: inline-block; background: url("sprite.png") no-repeat scroll 0px -175px transparent; vertical-align: bottom; margin-bottom: 2px; height: 10px; width: 11px; }
.fyre .fyre-comment-author-tag { display: none; }
.fyre .fyre-moderator { display: inline-block; line-height: 14px; }
.fyre.fyre-width-medium .fyre-listener-avatars { max-width: 116px; height: 25px; }
