/* Code tidied up by ScrapBook */
.idc-hasIcon { text-decoration: none ! important; border: medium none ! important; cursor: pointer ! important; box-shadow: none ! important; width: 16px; height: 16px; background: url("favicon.png") no-repeat scroll center center / 16px 16px transparent; display: inline-block; vertical-align: middle; margin-right: 0.2em; margin-left: 0.2em; position: relative; top: -2px; }
@keyframes idc-hovercardFade {
0% { transform: translateY(1em); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
