/* ::::: https://fonts.googleapis.com/css?family=Ubuntu:regular ::::: */

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url("_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}
/* ::::: https://a.fsdn.com/allura/nf/1468509372/_ew_/_slim/css?href=allura%2Fcss%2Fforge%2Fhilite.css%3Ballura%2Fcss%2Fforge%2Ftooltipster.css ::::: */

/* ::::: https://a.fsdn.com/allura/nf/1468509372/_ew_/allura/css/font-awesome.min.css ::::: */

/* ::::: https://a.fsdn.com/allura/nf/1468509372/_ew_/theme/sftheme/css/forge.css ::::: */

/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

.XtXouBxJazPtnkNQxRElKU { display: none; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

