/* ::::: http://www.ithome.com/css/style.css ::::: */

html { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; vertical-align: bottom; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: 400; font-style: normal; }
ol, ul { list-style: none outside none; }
li { line-height: 17px; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; font-size: 100%; }
input, select, textarea { border-radius: 0px 0px 0px 0px; color: rgb(39, 42, 48); font-size: 9pt; font-family: Microsoft Yahei; }
input[type="text"] {  }
body { padding-top: 35px; background: none repeat scroll 0% 0% rgb(240, 240, 240); color: rgb(39, 42, 48); font-size: 9pt; font-family: Microsoft Yahei; }
.hide { display: none; }
a { outline: 0px none; color: rgb(39, 42, 48); text-decoration: none; }
.memo a, .pre1 a, .tags a { color: rgb(136, 136, 136); }
a:hover { color: rgb(210, 34, 34); }
a:active { color: rgb(143, 0, 30); }
.extra_sc a, .it_focus .focus1 h2 a, .page_nav .all_news a, .pt_info .pti_comm { color: rgb(210, 34, 34); }
a.pti_comm { text-decoration: underline; }
.extra_sc a:hover, .it_focus .focus1 h2 a:hover, .page_nav .all_news a:hover, .pt_info .pti_comm:hover { text-decoration: underline; }
.extra_sc a:active, .it_focus .focus1 h2 a:active, .page_nav .all_news a:active, .pt_info .pti_comm:active { color: rgb(143, 0, 30); }
#con { margin: 0px auto; padding: 0px 1pc; width: 801pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
li span.date { float: right; color: rgb(136, 136, 136); }
.con-recom { overflow: hidden; width: 728px; }
.bx-recom3 { float: left; margin: 20px 0px 0px; }
.bx-recom3, .bx-recom4 { width: 728px; line-height: 1px; }
.bx-recom4 { margin: 0px 0px 5px; }
#wrapper { clear: both; padding: 20px 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.content { float: left; width: 728px; }
.content .current_nav { padding-bottom: 15px; border-bottom: 3px solid rgb(210, 34, 34); color: rgb(136, 136, 136); font-size: 14px; }
.content .current_nav span.sub { padding: 0px 10px; }
.content .post_title { padding: 20px 0px 0px; text-align: center; }
.content .post_title h1 { text-align: center; font-weight: 500; font-size: 2.2em; font-family: Microsoft YaHei; line-height: 1.5; }
.content .post_title a.pti_comm, .content .post_title span { padding: 0px 5px; }
.content .post_title span#commentcount { padding: 0px; }
.content .post_title span.pt_info { display: block; padding-top: 5px; color: rgb(136, 136, 136); }
.content .post_title span.pt_info a, .content .post_title span.pt_info strong { color: rgb(136, 136, 136); }
.content .post_title span.pt_info a:hover { color: rgb(210, 34, 34); text-decoration: underline; }
.content .post_title span.pt_info a.pti_comm { color: rgb(210, 34, 34); }
.content .post_content { text-align: justify; word-wrap: break-word; }
.content .post_content p { padding: 10px 0px; }
.content .fs2 p, .content .post_content p { font-size: 1pc; line-height: 30px; }
.content .post_content p a { color: rgb(0, 0, 255); text-decoration: underline; }
.content .post_content p a:hover { color: red; }
.content .post_content p a.s_tag { color: rgb(39, 42, 48); text-decoration: none; cursor: text; }
.content .post_content p embed, .content .post_content p img { max-width: 728px; }
.content .shareto { padding: 20px 0px 0px; height: 2pc; color: rgb(34, 34, 34); font-size: 14px; clear: both; }
.content .shareto span { float: left; padding-right: 15px; line-height: 46px; color: rgb(153, 153, 153); }
.content .shareto .bdsharebuttonbox { width: 300px; float: left; }
.content .shareto .bdsharebuttonbox a { margin: 0px 6px ! important; width: 42px ! important; height: 42px ! important; }
.content .shareto .bdsharebuttonbox a.bds_qzone { background: url("qq.svg") no-repeat scroll 0% 0% / 42px 42px transparent ! important; }
.content .shareto .bdsharebuttonbox a.bds_tsina { background: url("weibo.svg") no-repeat scroll 0% 0% / 42px 42px transparent ! important; }
.content .shareto .bdsharebuttonbox a.bds_tqq { background-position: -78px 0px ! important; display: none ! important; }
.content .shareto .bdsharebuttonbox a.bds_renren { background-position: -81pt 0px ! important; display: none ! important; }
.content .shareto .bdsharebuttonbox a.bds_renren:active { background-position: -81pt -2pc ! important; }
.content .shareto .bdsharebuttonbox .bds_more { padding: 0px ! important; width: 42px ! important; height: 42px ! important; background: url("plus.svg") no-repeat scroll 0% 0% / 42px 42px transparent ! important; }
.content .shareto .bdsharebuttonbox a.bds_weixin { background: url("weixin.svg") no-repeat scroll 0% 0% / 42px 42px transparent ! important; }
.content .shareto .bdsharebuttonbox a.bds_count { width: 58px ! important; background-position: -200px 0px ! important; display: none ! important; }
.content a.down_app { float: right; height: 45px; display: block; font-size: 14px; color: rgb(255, 255, 255); padding-left: 68px; line-height: 45px; width: 249px; background: url("down_app.png") repeat scroll 0% 0% transparent; }
.content a.down_app:hover { background: url("down_app_hover.png") repeat scroll 0% 0% transparent; }
.content .hot_tags { padding-top: 0px; font-size: 14px; float: right; width: 600px; text-align: right; }
.content .hot_tags span { color: rgb(153, 153, 153); }
.content .rela-post { padding-top: 20px; }
.post_comment { width: 728px; font-size: 14px; }
.post_comment h3 { position: relative; margin: 10px 0px 0px; padding: 10px 0px; border-bottom: 5px solid rgb(210, 34, 34); color: rgb(210, 34, 34); font-weight: 700; font-size: 14px; }
.post_comment h3 span { position: absolute; top: 10px; right: 0px; color: rgb(136, 136, 136); font-weight: 400; font-size: 9pt; line-height: 22px; }
.add_comm { position: relative; width: 598px; height: 191px; border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.add_comm textarea { position: absolute; top: 10px; left: 15px; width: 568px; height: 90pt; outline: 0px none; border: 0px none; background: none repeat scroll 0px 0px transparent; font-size: 14px; line-height: 22px; resize: none; }
.add_comm .comm-con { position: absolute; right: 105px; bottom: 9pt; left: inherit; }
.add_comm .comm-con .logout { padding-left: 10px; font-size: 9pt; }
.add_comm input#btnComment { position: absolute; right: 9pt; bottom: 9pt; width: 79px; height: 37px; border: 0px none; background: url("button_bg.png") no-repeat scroll 0% 0% transparent; text-indent: -625pc; cursor: pointer; }
.add_comm input#btnComment:hover { background-position: -79px 0px; }
.add_comm input#btnComment:active { background-position: -158px 0px; }
#commentMessage { position: absolute; bottom: 9pt; left: 15px; }
.comm_list h3 { overflow: hidden; border-bottom: 1px solid rgb(210, 34, 34); }
.comm_list ul { list-style: none outside none; }
.comm_list ul.list li.entry { width: 728px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px dotted rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.comm_list ul.list li.entry .info, .comm_list ul.list li.entry .re_info { padding: 9pt 0px 0px; color: rgb(136, 136, 136); font-size: 9pt; }
li .mobile { padding-right: 6px; }
li .mobile a { display: inline-block; padding-left: 15px; background: url("dev_icon.png") no-repeat scroll left 0px transparent; color: rgb(111, 152, 17); }
ul li .iphone a, ul li .itouch a { background-position: left -38px; color: rgb(73, 111, 203); }
ul li .ipad a { padding-left: 18px; background-position: left -76px; color: rgb(73, 111, 203); }
ul li .wp a { background-position: left -19px; color: rgb(189, 62, 159); }
ul li .windows8 a { padding-left: 18px; background-position: left -95px; color: rgb(189, 62, 159); }
.comm_list ul.list li strong { padding-right: 6px; }
.comm_list ul.list li strong.p_floor { color: rgb(136, 136, 136); }
.comm_list ul.list li strong.nick { color: rgb(51, 51, 51); }
.comm_list ul.list li.entry .rmp strong.nick a { color: rgb(50, 110, 180); }
.comm_list ul.list li.entry .re_info strong { font-weight: 400; }
.comm_list ul.list li.entry p { padding: 10px 0px; word-wrap: break-word; line-height: 24px; }
.comm_list ul.list li.entry span.comm_reply { float: right; color: rgb(170, 170, 170); font-size: 9pt; }
.comm_list ul.list li.entry ul.reply { clear: both; margin: 10px 0px 0px; padding: 0px 8px; border: 1px solid rgb(252, 187, 144); background: none repeat scroll 0% 0% rgb(254, 252, 244); }
.sidebar { float: left; margin-left: 40px; width: 300px; }
.sidebar .sb_list { overflow: hidden; margin-bottom: 9pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); line-height: 1px; }
.sidebar .sb_list .bx { width: 300px; }
#ft { clear: both; min-width: 750pt; line-height: 22px; }
#ft, .lk { margin: 0px auto; }
.lk { padding: 30px 1pc; width: 801pt; border-top: 1px solid rgb(231, 231, 231); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.lk p strong { color: rgb(53, 69, 100); font-weight: 700; }
.lk p a.wz { color: green; }
.lk p a.wz:hover { color: rgb(0, 143, 0); text-decoration: underline; }
.lk p a.wz:active { color: rgb(0, 100, 0); }
.lk strong a { color: rgb(53, 69, 100); }
span.v { display: inline-block; overflow: hidden; margin: 0px 7px 0px 8px; width: 2px; height: 13px; background: url("split.png") no-repeat scroll left top transparent; color: rgb(213, 213, 213); vertical-align: -2px; text-indent: -75pt; }
#ft .if { padding: 0px 0px 40px; background: none repeat scroll 0% 0% rgb(210, 34, 34); color: rgb(255, 255, 255); text-align: center; }
#ft .if .bx1 { height: 43px; background: none repeat scroll 0% 0% rgb(39, 42, 48); line-height: 43px; }
#ft .if .bx1 span.v { margin: 0px 15px; background-position: 0px -13px; }
#ft .if .bx1 a { color: rgb(204, 204, 204); }
#ft .if .bx1 a:hover { color: rgb(255, 255, 255); }
#ft .if .bx1 a:active { color: rgb(242, 242, 242); }
#ft .if .bx2 { padding-top: 30px; }
#ft .if .bx2, #ft .if .bx2 a { color: rgb(255, 206, 216); }
#ft .if .bx2 a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#ft .if .bx2 a:active { color: rgb(255, 228, 234); text-decoration: underline; }
iframe.hotcate { width: 20pc; height: 466px; }
iframe.hotnews { width: 20pc; height: 415px; }
.related_post { overflow: hidden; padding-top: 40px; clear: both; }
.related_post .title { border-bottom: 1px solid rgb(226, 226, 226); }
.related_post .title:after { content: ""; height: 0px; clear: both; display: block; }
.related_post h2 { padding: 0px 2px 5px; margin-bottom: -1px; border-bottom: 1px solid rgb(210, 34, 34); background: none repeat scroll 0px 0px transparent; color: rgb(210, 34, 34); font-weight: bold; font-size: 16px; float: left; }
.related_post ul { float: left; width: 728px; font-size: 14px; }
.related_post ul li a { font-size: 14px; line-height: 20px; height: 20px; text-align: left; white-space: nowrap; }
.related_post ul.list_3 li { text-align: left; float: left; text-overflow: ellipsis; background: url("new_list_icon.png") no-repeat scroll 0px -15px transparent; height: 20px; overflow: hidden; padding: 0px 10px; margin-top: 10px; width: 340px; list-style: none outside none; }
.related_buy { padding-top: 40px; clear: both; width: 736px; overflow: hidden; }
.related_buy .title { border-bottom: 1px solid rgb(226, 226, 226); }
.related_buy .title:after { content: ""; height: 0px; clear: both; display: block; }
.related_buy h2 { padding: 0px 2px 5px; margin-bottom: -1px; border-bottom: 1px solid rgb(210, 34, 34); background: none repeat scroll 0px 0px transparent; color: rgb(210, 34, 34); font-weight: bold; font-size: 16px; float: left; }
.related_buy ul { margin-top: 10px; width: 736px; margin-left: -4px; }
.related_buy ul li { width: 138px; height: 180px; margin: 0px 4px; float: left; }
.related_buy ul li img { width: 138px; height: 104px; border: 1px solid transparent; }
.related_buy ul li:hover img { border: 1px solid rgb(210, 34, 34); }
.related_buy ul li span { display: block; margin-top: 5px; font-size: 13px; line-height: 20px; height: 60px; overflow: hidden; }
.comm_login { position: absolute; bottom: 10px; padding: 0px 10px; width: 680px; }
.comm_login input.inpt { padding: 0px 5px; width: 140px; height: 27px; outline: 0px none; border-width: 1px; border-style: solid; border-color: rgb(233, 233, 233) rgb(233, 233, 233) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; line-height: 27px; }
.comm_login input#entered_UsernameInput { color: rgb(136, 136, 136); }
.comm_login input.rm_smt { width: 51px; height: 27px; border: 0px none; background: none repeat scroll 0% 0% rgb(5, 110, 187); color: rgb(255, 255, 255); cursor: pointer; }
.comm_login span.p1 { padding: 0px 5px 0px 0px; }
.comm_login span.p2 { padding: 0px 5px; font-size: 9pt; }
.comm_login label { position: absolute; top: 6px; left: 252px; display: block; color: rgb(136, 136, 136); font-size: 9pt; }
.comm_login label:hover { cursor: text; }
.comm_login #returnMsg { position: absolute; top: -25px; left: 25pc; color: rgb(210, 34, 34); }
.weixin { font-weight: bold; text-indent: 0px ! important; text-align: center; }
.category .rt .nlst .new-list:after, #con:after, #wrapper:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-user-select: none; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0px; padding: 0px; }
.slick-list:focus { outline: 0px none; }
.slick-slider .slick-list, .slick-slider .slick-track { transform: translate3d(0px, 0px, 0px); }
.slick-track { position: relative; top: 0px; left: 0px; display: block; }
.slick-track:after, .slick-track:before { display: table; content: ""; }
.slick-track:after { clear: both; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-initialized .slick-slide { display: block; }
.slick-next, .slick-prev { z-index: 100; font-size: 0px; line-height: 0; position: absolute; top: 30%; display: block; width: 26px; height: 45px; padding: 0px; transform: translate(0px, -50%); cursor: pointer; color: transparent; border: medium none; outline: 0px none; background: none repeat scroll 0px 0px transparent; }
.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before { opacity: 1; }
.slick-next:before, .slick-prev:before { font-family: slick; font-size: 20px; line-height: 1; opacity: 0.75; color: rgb(255, 255, 255); }
.slick-prev { left: 5px; background: url("slider_left.png") repeat scroll 0% 0% transparent; }
.slick-next { right: 1px; background: url("slider_right.png") repeat scroll 0% 0% transparent; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

@media screen {
  em.diigoHighlight { text-align: inherit; text-decoration: inherit; font: inherit; color: inherit; display: inline; position: relative; }
  em.diigoHighlight.a_style.yellow { background-color: rgb(255, 255, 153); }
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
  div.diigoIcon { cursor: pointer ! important; margin: 0pt; padding: 0px; position: absolute; display: none; width: 24px ! important; z-index: 999999; height: 23px ! important; background: url("chrome://diigotb/skin/edit-highlight.png") no-repeat scroll left center transparent; }
  div.diigoIcon:hover { background-color: transparent ! important; background-repeat: no-repeat ! important; background-position: right center ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style1_32.css ::::: */

.bdshare-button-style1-32 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style1-32 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style1-32 .bds_renren { background-position: 0px -208px; }
.bdshare-button-style1-32 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style1-32 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style1-32 {  }
.bdshare-button-style1-32:after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style1-32 a { float: left; width: 32px; line-height: 32px; height: 32px; background-image: url("icons_1_32.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; text-indent: -100em; overflow: hidden; color: rgb(58, 140, 235); }
.bdshare-button-style1-32 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style1-32 .bds_more { color: rgb(51, 51, 51); }
.bdshare-button-style1-32 .bds_count { color: rgb(51, 51, 51); background: url("sc.png") no-repeat scroll 0px -60px transparent; width: 48px; height: 32px; line-height: 32px; padding: 0px; text-align: center; text-indent: 0px; }
.bdshare-button-style1-32 .bds_count:hover { background-position: -48px -60px; }
/* ::::: http://www.ithome.com/css/top.css ::::: */

.clearfix:after { clear: both; display: block; visibility: hidden; height: 0px; content: "."; }
body { padding-top: 35px; }
#hd { position: fixed; top: 0px; left: 0px; z-index: 1500; width: 100%; background: none repeat scroll 0% 0% rgb(210, 34, 34); }
#hd a:hover { text-decoration: none; }
#nav { position: relative; margin: 0px auto; width: 1100px; height: 35px; font-size: 14px; }
#nav ul.nav_list { float: left; }
#nav ul.nav_list li { float: left; }
#nav a.sel { background-color: rgb(182, 22, 22); }
#nav a.nav-item { display: block; padding: 0px 25px; height: 35px; color: rgb(255, 255, 255); line-height: 35px; }
#nav a.hover, #nav a.nav-item:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(210, 34, 34); }
#nav a.nav-item:active { background-color: rgb(143, 0, 30); }
#nav .an { float: left; }
#nav .an a.nav-item { padding: 0px 16px; background-position: 14px center; background-repeat: no-repeat; }
#nav .an a.nav-item:before { display: inline-block; margin-right: 5px; width: 16px; height: 16px; background: url("home.png") no-repeat scroll -16px 3px transparent; content: ""; }
#nav .an a.nav-item:after { display: inline-block; margin-left: 5px; width: 16px; height: 16px; background: url("narrow.png") no-repeat scroll 0px 3px transparent; content: ""; }
#nav .an a.nav-item:hover:before, #nav .an a.ni1-bg:before { background-position: 0px 3px; }
#nav .an a.nav-item:hover:after, #nav .an a.ni1-bg:after { background-position: -16px 3px; }
#nav .quan { position: relative; }
#nav .quan .nlquan { position: absolute; top: 35px; left: -1px; z-index: 2000; display: none; padding-top: 10px; width: 240px; height: 150px; border-right: 1px solid rgb(214, 211, 212); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(214, 211, 212) rgb(214, 211, 212); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#nav .quan .nlquan a { display: block; padding-left: 20px; color: rgb(51, 51, 51); font-size: 14px; line-height: 35px; width: 100px; float: left; }
#nav .quan .nlquan a:hover { color: rgb(210, 34, 34); }
#nav .nav-item-5 { padding: 0px 16px; }
#nav .nav-item-5:after { display: inline-block; margin-left: 5px; width: 16px; height: 16px; background: url("narrow.png") no-repeat scroll 0px 3px transparent; content: ""; }
#nav .nav-item-5:hover:after, #nav a.ni1-bg:after { background-position: -16px 3px; }
#nav .nl { position: absolute; top: 35px; left: -1px; z-index: 2000; display: none; width: 540px; height: 305px; border-right: 1px solid rgb(214, 211, 212); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(214, 211, 212) rgb(214, 211, 212); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.nl-con { position: absolute; top: 0px; left: 0px; z-index: 10; padding: 20px 0px; width: 530px; font-size: 12px; }
.nl-con .bx { overflow: hidden; padding-left: 25px; width: 530px; height: 48px; font-size: 14px; }
.nl-con .bx h2.cate-title { float: left; width: 85px; color: rgb(210, 34, 34); font-size: 16px; line-height: 48px; font-weight: normal; }
.nl a { color: rgb(51, 51, 51); }
.nl a:hover { color: rgb(210, 34, 34); }
.nl a:active { color: rgb(245, 245, 245); }
.nl-con .bx ul.cate-list { float: left; padding: 0px; height: 48px; }
.nl-con .bx ul.cate-list li { float: left; width: 110px; line-height: 48px; }
.nl-con .nb { border: 0px none; }
.all_cate { position: absolute; top: 260px; left: 50%; z-index: 20; margin-left: -100px; width: 200px; height: 39px; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; line-height: 39px; }
.all_cate a:link { color: rgb(210, 34, 34); }
#top5 { margin: 0px auto; padding: 15px 16px; width: 1068px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#top5 #logo { float: left; display: block; margin: 10px 50px 10px 10px; }
#top5 .col { float: left; margin-top: 18px; width: 110px; height: 40px; border-right: 1px solid rgb(221, 221, 221); }
#top5 .col a { display: block; margin-top: -2px; margin-bottom: 7px; margin-left: 25px; font-size: 14px; }
#top5 .last { border: medium none; }
.tb-nav { float: right; }
.tb-item { position: relative; float: left; }
.tb-item a.item-link { display: block; overflow: hidden; padding: 0px 20px; height: 35px; color: rgb(255, 255, 255); text-align: center; line-height: 35px; }
.dm a.item-link { padding: 0px 16px 0px 20px; }
.dm a.item-link:after { display: inline-block; margin-left: 5px; width: 16px; height: 16px; background: url("narrow.png") no-repeat scroll 0px 3px transparent; content: ""; }
.tb-item a.dm_hover, .tb-item a.item-link:hover { background-color: rgb(255, 255, 255); color: rgb(210, 34, 34); }
.tb-item a.dm_hover:after, .tb-item a.item-link:hover:after { background-position: -16px 3px; }
.tb-item a.item-link-3:hover:after, .tb-item a.dm_hover[id="rm_app"]:after { background-position: -48px 3px; }
.tb-item a.item-link:active { background-color: rgb(143, 0, 30); }
.tb-item a.item-link-3 { background-color: rgb(19, 111, 184); background-position: 85px center; }
.tb-item a#rm_app.dm_hover, .tb-item a.item-link-3:hover { background-color: rgb(19, 111, 184); color: rgb(255, 255, 255); }
.tb-item .menu { position: absolute; top: 35px; left: 0px; z-index: 1000; display: none; overflow: hidden; width: 140px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tb-item .feed { padding: 5px 0px; width: 120px; border-right: 1px solid rgb(221, 221, 221); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.tb-item #app { background: none repeat scroll 0% 0% rgb(19, 111, 184); }
.tb-item .menu ul li a { display: block; overflow: hidden; padding: 0px 20px; height: 34px; color: rgb(51, 51, 51); line-height: 34px; }
.tb-item #app ul li a { color: rgb(255, 255, 255); }
.tb-item .menu ul li a:hover { color: rgb(210, 34, 34); }
.tb-item #app ul li a:hover { background: none repeat scroll 0% 0% rgb(16, 94, 157); }
.tb-item .menu ul li a:active { color: rgb(210, 34, 34); }
.tb-item #app ul li a:active { background: none repeat scroll 0% 0% rgb(13, 78, 129); }
.view_setting { position: fixed; top: 43px; left: 50%; z-index: 1000; display: none; margin-left: -550px; width: 1100px; border-bottom: 1px solid rgb(17, 17, 17); background: url("opacity_bg.png") repeat scroll 0% 0% transparent; }
.view_setting .set_con { margin: 0px auto; padding: 35px 0px 25px; width: 1068px; color: rgb(200, 200, 200); }
.view_setting .set_con p { padding: 0px 0px 10px 400px; }
.view_setting .set_con p.c_st { display: none; }
.single .view_setting .set_con p.c_st { display: block; }
.view_setting .set_con p span.set_op { padding-right: 10px; }
.view_setting .set_con a { color: rgb(223, 223, 223); }
.view_setting .set_con a:hover { color: rgb(255, 255, 255); }
.view_setting .set_con a:active { color: rgb(200, 200, 200); }
.view_setting .set_con a#fs1 { font-size: 14px; }
.view_setting .set_con a#fs2 { font-size: 16px; }
.view_setting .set_con a#fs3 { font-size: 18px; }
.sc { position: relative; float: right; margin: 22px auto 0px; width: 264px; height: 38px; font-size: 12px; }
.sc input.focus { float: left; padding: 5px 8px; width: 210px; height: 24px; outline: 0px none; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(210, 34, 34) -moz-use-text-color rgb(210, 34, 34) rgb(210, 34, 34); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); vertical-align: middle; font-size: 16px; line-height: 24px; }
.sc button { float: left; overflow: hidden; width: 37px; height: 36px; outline: 0px none; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(210, 34, 34) rgb(210, 34, 34) rgb(210, 34, 34) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: url("sc_btn.png") no-repeat scroll left center rgb(210, 34, 34); text-indent: -1000px; cursor: pointer; }
.extra_sc { position: absolute; top: 36px; left: 0px; z-index: 1000; display: none; padding: 10px; width: 206px; border-right: 1px solid rgb(210, 34, 34); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(210, 34, 34) rgb(210, 34, 34); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(249, 249, 249); }
.prelogin { margin-top: 7px; padding: 0px 20px; color: rgb(255, 255, 255); }
.prelogin a { margin-left: 12px; color: rgb(255, 255, 255) ! important; }
#side_func { position: fixed; bottom: 245px; right: 50%; height: 232px; margin-right: -608px; width: 58px; z-index: 1000; }
.single #side_func { bottom: 290px; }
#side_func a.sfa { display: block; width: 58px; height: 58px; font-size: 14px; text-align: center; line-height: 1000px; color: rgb(51, 51, 51); background-color: rgb(220, 220, 220); overflow: hidden; z-index: 10; }
#side_func a.block1 { text-indent: 0px; }
#side_func a.block2 { display: none; background: url("gocomm.png") no-repeat scroll 0px 0px rgb(188, 188, 188); }
.single #side_func a.block2 { display: block; }
#side_func a.block3 { background: url("gotop.png") no-repeat scroll 0px 0px rgb(203, 203, 203); }
.single #side_func a.block3 { background-color: rgb(220, 220, 220); }
#side_func a.sfa:hover { color: rgb(255, 255, 255); line-height: 58px; background-image: none; background-color: rgb(210, 34, 34); }
#side_func a.block1, #side_func a.block1:hover, #side_func a.block3:hover { line-height: normal; }
#side_func a:active { background-color: rgb(143, 0, 30); }
#side_func a span { float: left; display: block; width: 58px; overflow: hidden; padding-top: 10px; }
#side_func a.joinus { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(210, 34, 34); }
#side_func a.joinus:hover { background: none repeat scroll 0% 0% rgb(244, 85, 58); }
#side_func a.joinus:active { background: none repeat scroll 0% 0% rgb(143, 0, 30); }
#side_func a.app { display: block; width: 58px; height: 20px; line-height: 20px; font-size: 12px; text-align: center; background-color: rgb(255, 255, 255); overflow: hidden; z-index: 10; }
#side_func a.app span { color: rgb(0, 0, 0); padding: 0px; }
#side_func a.weixin { display: block; width: 58px; height: 20px; line-height: 20px; font-size: 12px; text-align: center; background-color: rgb(255, 255, 255); color: rgb(210, 34, 34); overflow: hidden; z-index: 10; }
#side_func a.weixin span { color: rgb(210, 34, 34); padding: 0px; }
#tt50 { overflow: hidden; margin: 0px auto; width: 1100px; background-color: rgb(255, 255, 255); text-align: center; line-height: 60px; }
#tt50, #tt50 a { font-size: 2pc; }
#tt50 a { color: rgb(210, 34, 34); }
#tt50 a:hover { text-decoration: underline; }
#tt50 h2 { height: 60px; background-color: rgb(246, 246, 246); width: 1068px; margin: 0px auto; }
.tt10 { padding-left: 45px; background: url("tt1.png") no-repeat scroll 0px 4px transparent; }
.tt20 { padding-left: 45px; background: url("tt2.png") no-repeat scroll 0px 4px transparent; }
/* ::::: [internal] ::::: */

/* ::::: http://img.ithome.com/file/css/comment.css ::::: */

.ios_ipad, .ios_iphone, .wp_phone, h1, input, li, p, textarea, ul, video { margin: 0px; padding: 0px; }
input, textarea { border-radius: 0px 0px 0px 0px; font-family: 'Microsoft Yahei'; }
a { color: rgb(17, 17, 17); text-decoration: none; }
a:hover { color: rgb(210, 34, 34); }
a:active { color: rgb(143, 0, 30); }
.post_comment { width: 728px; font-size: 14px; font-family: 'Microsoft Yahei'; }
.post_comment h3 { position: relative; margin: 10px 0px 0px; padding: 10px 0px; font-size: 14px; font-weight: 700; color: rgb(210, 34, 34); border-bottom: 5px solid rgb(210, 34, 34); }
.post_comment h3 span { position: absolute; top: 10px; right: 0px; font-size: 12px; font-weight: 400; color: rgb(136, 136, 136); line-height: 22px; }
.post_comment h3 a { font-weight: 400; margin-left: 15px; font-size: 12px; }
.add_comm { position: relative; width: 726px; height: 191px; border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.add_comm textarea { position: absolute; left: 15px; top: 10px; width: 696px; height: 120px; border: 0px none; resize: none; outline: 0px none; font-size: 14px; line-height: 22px; background: none repeat scroll 0px 0px transparent; }
.add_comm .comm-con { position: absolute; left: inherit; right: 105px; bottom: 12px; width: 610px; }
.add_comm .comm-con .logout { padding-left: 10px; font-size: 12px; }
.add_comm input#btnComment { position: absolute; right: 12px; bottom: 12px; width: 79px; height: 37px; border: 0px none; background: url("button_bg.png") no-repeat scroll 0% 0% transparent; text-indent: -10000px; cursor: pointer; outline: medium none; }
.add_comm input#btnComment:hover { background-position: -79px 0px; }
.add_comm input#btnComment:active { background-position: -158px 0px; }
#commentMessage { position: absolute; left: 215px; bottom: 15px; }
.comm_list h3 { border-bottom: 1px solid rgb(210, 34, 34); overflow: hidden; }
.comm_list ul { list-style: none outside none; }
.comm_list ul.list li.entry { width: 728px; padding-bottom: 5px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px dotted rgb(221, 221, 221); }
.comm_list ul.list li.entry:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.comm_list ul.hot li.entry:last-child { border: 0px none; }
.comm_list ul.list li.entry .info, .comm_list ul.list li.entry .re_info { padding: 10px 0px 0px; font-size: 12px; color: rgb(136, 136, 136); }
.comm_list h3 .refresh { position: absolute; right: 120px; top: 14px; }
li .mobile { padding-right: 6px; }
li .mobile a { color: rgb(111, 152, 17); display: inline-block; background: url("dev_icon.svg") no-repeat scroll left 0px transparent; padding-left: 18px; line-height: 16px; }
ul li .wp a { color: rgb(189, 62, 159); background-position: left -16px; }
ul li .iphone a, ul li .itouch a { color: rgb(73, 111, 203); background-position: left -32px; }
ul li .ipad a { padding-left: 18px; color: rgb(73, 111, 203); background-position: left -64px; }
ul li .windows8 a { padding-left: 18px; color: rgb(2, 129, 237); background-position: left -80px; }
ul li .win10 a { color: rgb(189, 62, 159); background-position: left -96px; }
strong.nick { color: rgb(51, 51, 51); }
.comm_list ul li strong.p_floor { color: rgb(136, 136, 136); float: right; }
.rmp strong.nick a { color: rgb(50, 110, 180); }
.comm_list ul.list li strong, ul.side_comm li strong { padding-right: 6px; }
.comm_list ul.list li.entry .re_info strong { font-weight: 400; }
.comm_list ul.list li.entry p { padding: 15px 0px 0px 37px; line-height: 24px; word-wrap: break-word; }
.comm_list ul.list li.entry ul.reply p { padding-left: 0px; }
.comm_list ul.list li.entry ul.reply .re_info { padding-top: 11px; }
.comm_list ul.list li.entry span.comm_reply { float: right; padding-top: 5px; font-size: 12px; color: rgb(170, 170, 170); }
.comm_list ul.list li.entry ul.reply { clear: both; margin: 5px 0px 5px 35px; padding: 0px 8px; border: 1px solid rgb(252, 187, 144); background: none repeat scroll 0% 0% rgb(254, 252, 244); }
.comm_list ul.list li.entry ul.reply li.gh { border-bottom: 1px dotted rgb(252, 187, 144); }
.comm_list ul.list li.entry ul.reply li.gh:last-child { border: 0px none; }
.comm_list ul.list li.entry ul.reply .zheDie { font-size: 14px; padding: 10px 0px; text-align: center; }
.comm_list ul.list li.entry ul.reply .zheDie a { color: rgb(30, 117, 209); font-size: 14px; }
.comm_list ul.list li.entry ul.reply .zheDie a:hover { text-decoration: underline; }
.comm_list ul.list li.entry ul.reply .re_comm p span { color: rgb(110, 108, 102); }
.comm_list ul.list li.entry .zhiChi { position: relative; float: right; padding-bottom: 10px; width: 100%; }
.comm_list ul.list li.entry .zhiChi .l { float: left; width: 150px; }
.comm_list ul.list li.entry .zhiChi .l .comm_reply { float: left; margin-left: 15px; }
.comm_list ul.list li.entry .zhiChi .l a { cursor: pointer; color: rgb(77, 147, 242); }
.comm_list ul.list li.entry .zhiChi .r { float: right; width: 220px; }
.comm_reply .s { color: rgb(40, 189, 152); }
.comm_reply .a { color: rgb(255, 111, 111); }
.comm_list ul.list li.entry ul.reply .zhiChi { padding-bottom: 5px; }
.re_comm { overflow: hidden; }
.comm_reply a { margin-left: 20px; }
span.v { display: inline-block; width: 2px; height: 13px; margin: 0px 11px 0px 10px; color: rgb(213, 213, 213); text-indent: -100px; vertical-align: -2px; background: url("split.png") no-repeat scroll left top transparent; overflow: hidden; }
.comm_login { position: absolute; bottom: 10px; width: 680px; padding: 0px 10px; }
.comm_login input.inpt { width: 140px; height: 27px; line-height: 27px; padding: 0px 5px; border-width: 1px; border-style: solid; border-color: rgb(233, 233, 233) rgb(233, 233, 233) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; outline: 0px none; }
.comm_login input#entered_UsernameInput { color: rgb(136, 136, 136); }
.comm_login input.rm_smt { width: 51px; height: 27px; border: 0px none; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(5, 110, 187); cursor: pointer; }
.comm_login span.p1 { padding: 0px 5px 0px 0px; }
.comm_login span.p2 { font-size: 12px; padding: 0px 5px; }
.comm_login span.p2 img { vertical-align: middle; }
.comm_login label { display: block; position: absolute; top: 6px; left: 252px; color: rgb(136, 136, 136); font-size: 12px; }
.comm_login label:hover { cursor: text; }
.comm_login #returnMsg { position: absolute; top: -25px; left: 400px; color: rgb(210, 34, 34); }
.single #post_comment { display: block; }
.list .entry .headerimage { display: inline-block; background: none repeat scroll 0% 0% rgb(248, 248, 248); width: 30px; border-radius: 50% 50% 50% 50%; float: left; overflow: hidden; opacity: 1; margin: 5px 10px 0px 0px; }
.comm_list .icon2 input { margin-left: 15px ! important; margin-top: 2px ! important; vertical-align: middle; }
.comm_list .icon2 label { margin-left: 2px ! important; vertical-align: middle; }
a { cursor: pointer; }
/* ::::: http://limg.ithome.com/resources/css/web/ITShowView.css ::::: */

.sideblockwrapper { width: 278px; border-right: 1px solid rgb(232, 232, 232); border-width: 2px 1px 1px; border-style: solid; border-color: rgb(210, 34, 34) rgb(232, 232, 232) rgb(232, 232, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 10px; }
.sideblockwrapper > ol { display: none; clear: both; padding: 0px; }
.navbar li { float: left; width: 50%; text-align: center; line-height: 35px; height: 35px; font-size: 14px; border-bottom: 1px solid rgb(233, 233, 233); cursor: pointer; }
.navbar li.active { border-bottom-color: rgb(210, 34, 34); color: rgb(210, 34, 34); }
.navbar .baricon { width: 17px; height: 14px; display: inline-block; margin-left: 3px; }
.navbar .baricon.rankingicon { background: url("rankingicon-gray.png") no-repeat scroll 0% 0% transparent; }
.navbar li.active .baricon.rankingicon { background: url("rankingicon-red.png") no-repeat scroll 0% 0% transparent; }
.navbar .baricon.fuliicon { background: url("hongbao-gray.png") no-repeat scroll 0% 0% transparent; }
.list-row { padding: 10px 0px; height: 65px; clear: both; border-bottom: 1px solid rgb(233, 233, 233); }
.list-row.noborderbom { border-bottom: medium none; }
.list-row a:hover { text-decoration: none; }
.list-row .small-pic { background: none repeat scroll 0% 0% gainsboro; display: block; width: 78px; height: 60px; overflow: hidden; float: left; text-align: center; border: 1px solid rgb(238, 238, 238); }
.list-row .small-pic img { width: 80px; height: 60px; }
.list-row .title-info { float: right; width: 180px; max-height: 37px; overflow: hidden; word-break: break-all; }
.list-row .date { float: right; margin-top: 10px; color: rgb(162, 162, 162); }
