/* Code tidied up by ScrapBook */
.container-narrow { margin: 0px auto; max-width: 700px; }
.src, .example { overflow: auto; font-family: consolas,Monaco,"Lucida Console","Courier New",Courier,monospace; display: block; padding: 9.5px; border: 1px solid; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
code { border: 1px outset rgb(85, 85, 85); background: none repeat scroll 0% 0% rgb(217, 226, 225); padding: 2px; border-radius: 0.35em 0.35em 0.35em 0.35em; }
