/* ::::: https://serversforhackers.com/build/css/app-df7b6f8bc3.css ::::: */

/* ::::: (import) https://fonts.googleapis.com/css?family=Open+Sans:300,400,700 ::::: */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/* ::::: (end import) ::::: */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0% 0% transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
hr { height: 0px; box-sizing: content-box; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
@media print {
  * { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: none repeat scroll 0% 0% transparent ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  pre, blockquote { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
ul, ol { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
blockquote { padding: 10px 20px; margin: 0px 0px 20px; font-size: 17.5px; border-left: 5px solid rgb(238, 238, 238); }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0px; }
blockquote:before, blockquote:after { content: ""; }
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
code { padding: 2px 4px; font-size: 90%; color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 4px 4px 4px 4px; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 13px; line-height: 1.42857; color: rgb(51, 51, 51); word-break: break-all; word-wrap: break-word; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; }
pre code { padding: 0px; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0px 0px 0px 0px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-10 { width: 83.3333%; }
  .col-md-6 { width: 50%; }
  .col-md-push-1 { left: 8.33333%; }
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.collapse { display: none; }
@media (min-width: 768px) {
}
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px 4px 4px 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-right: 0px; padding-left: 0px; }
}
@media (max-width: 480px) and (orientation: landscape) {
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
.navbar-static-top { z-index: 1000; border-width: 0px 0px 1px; }
@media (min-width: 768px) {
  .navbar-static-top { border-radius: 0px 0px 0px 0px; }
}
@media (min-width: 768px) {
}
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
  .navbar-nav.navbar-right:last-child { margin-right: -15px; }
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media screen and (min-width: 768px) {
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { display: table; content: " "; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
body { font-family: 'Open Sans',helvetica,arial,sans-serif; font-size: 20px; color: rgb(55, 62, 66); font-weight: 300; }
h1, h2, h3, h4, h5, h6 { color: rgb(55, 62, 66); font-weight: 300; }
strong { font-weight: 700; }
.dark, .dark h1, .dark h2, .dark h3, .dark h4 { color: rgb(226, 225, 230); }
.dark a { color: rgb(226, 225, 230); }
.content h2, .content h3, .content h4, .content h5 { margin: 40px 0px 20px; font-weight: 700; }
.content pre { margin: 18px 0px; }
input.txt { border: 1px solid rgb(212, 211, 215); color: rgb(55, 62, 66); font-size: 30px; height: 70px; margin: 0px 0px 20px; text-align: center; width: 100%; }
.button, .plan .button:hover { background: none repeat scroll 0% 0% rgb(225, 118, 107); border: 0px none; border-radius: 3px 3px 3px 3px; color: rgb(55, 62, 66); display: block; font-size: 30px; font-weight: 400; text-align: center; text-decoration: none; padding: 10px 40px; margin: 0px auto; }
.button:hover, .plan .button { background: none repeat scroll 0% 0% rgb(55, 62, 66); color: rgb(226, 225, 230); }
.has-newsletter ul { list-style: none outside none; margin: 0px; padding: 0px; }
.has-newsletter li { display: block; margin: 0px; padding: 0px; }
#newsletter-long .button { background-color: rgb(185, 140, 255); }
#newsletter-long .button:hover { background-color: rgb(55, 62, 66); }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 580px) {
}
@media (min-width: 608px) {
}
@media (min-width: 992px) {
}
@media (min-width: 580px) {
}
@media (min-width: 608px) {
}
@media (min-width: 992px) {
}
@media (min-width: 580px) {
}
@media (min-width: 608px) {
}
@media (min-width: 992px) {
}
#nav.navbar, #nav.navbar-default, #nav .navbar-brand, #nav.navbar-default .navbar-nav, #nav.navbar-default .navbar-nav > li > a { color: rgb(226, 225, 230); border: medium none; }
#nav.navbar-default .navbar-nav > li > a:hover { color: rgb(225, 118, 107); }
.navbar { background: none repeat scroll 0% 0% rgb(55, 62, 66); margin-bottom: 0px; font-size: 18px; }
.navbar-brand { padding: 0px; height: 60px; }
@media (min-width: 768px) {
  .navbar-brand { margin-top: 5px; }
}
@media (min-width: 768px) {
  .navbar .navbar-brand, .navbar .navbar-nav > li > a { line-height: 40px; }
}
#sign_up_btn { padding: 10px; }
#sign_up_btn a { background: none repeat scroll 0% 0% rgb(232, 76, 111); margin: 0px; padding: 5px 12px; border-radius: 3px 3px 3px 3px; font-size: 20px; }
#sign_up_btn a:hover, #nav.navbar-default .navbar-nav > li#sign_up_btn > a:hover { color: rgb(55, 62, 66); background: none repeat scroll 0% 0% rgb(226, 225, 230); }
#footer { margin-top: 100px; padding: 30px 0px 50px; }
#footer ul { list-style: none outside none; margin: 0px; padding: 0px; }
#footer li { display: block; font-size: 16px; margin-bottom: 8px; }
#footer-meta { margin-top: 20px; font-size: 14px; }
#newsletter input.txt { border: 1px solid rgb(212, 211, 215); color: rgb(55, 62, 66); font-size: 20px; height: 40px; margin: 6px 0px; padding: 10px; text-align: left; width: 60%; }
#newsletter button { background: none repeat scroll 0% 0% rgb(232, 76, 111); color: rgb(226, 225, 230); }
#newsletter-long { text-align: center; }
.large-title { padding: 40px 0px 55px; }
.large-title h1 { text-align: center; font-weight: 700; font-size: 60px; }
.tags a { background: none repeat scroll 0% 0% rgb(232, 76, 111); padding: 3px 5px; border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); font-size: 12px; }
.publish-date { font-size: 28px; text-align: center; font-weight: 400; margin-top: 18px; }
.meta { padding-bottom: 8px; margin-bottom: 20px; }
.lined { border-bottom: 1px solid rgb(226, 225, 230); }
.content img { max-width: 100%; }
#the-comments { margin-top: 75px; }
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: none repeat scroll 0% 0% rgb(47, 51, 61); }
.hljs::-moz-selection, .hljs span::-moz-selection { background: none repeat scroll 0% 0% rgb(55, 59, 65); }
.hljs::-moz-selection, .hljs span::-moz-selection { background: none repeat scroll 0% 0% rgb(55, 59, 65); }
.hljs, .hljs-setting .hljs-value, .hljs-expression .hljs-variable, .hljs-expression .hljs-begin-block, .hljs-expression .hljs-end-block, .hljs-class .hljs-params, .hljs-function .hljs-params, .hljs-at_rule .hljs-preprocessor { color: rgb(197, 200, 198); }
.hljs-title, .hljs-function .hljs-title, .hljs-keyword .hljs-common, .hljs-class .hljs-title, .hljs-decorator, .hljs-tag .hljs-title, .hljs-header, .hljs-sub, .hljs-function { color: rgb(240, 198, 116); }
.hljs-comment, .hljs-javadoc, .hljs-output .hljs-value, .hljs-pi, .hljs-shebang, .hljs-doctype { color: rgb(112, 120, 128); }
.hljs-number, .hljs-symbol, .hljs-literal, .hljs-deletion, .hljs-link_url, .hljs-symbol .hljs-string, .hljs-argument, .hljs-hexcolor, .hljs-input .hljs-prompt, .hljs-char { color: rgb(204, 102, 102); }
.hljs-string, .hljs-special, .hljs-javadoctag, .hljs-addition, .hljs-important, .hljs-tag .hljs-value, .hljs-at.rule .hljs-keyword, .hljs-regexp, .hljs-attr_selector { color: rgb(181, 189, 104); }
.hljs-variable, .hljs-property, .hljs-envar, .hljs-code, .hljs-expression, .hljs-localvars, .hljs-id, .hljs-variable .hljs-filter, .hljs-variable .hljs-filter .hljs-keyword, .hljs-template_tag .hljs-filter .hljs-keyword { color: rgb(178, 148, 187); }
.hljs-statement, .hljs-label, .hljs-keyword, .hljs-xmlDocTag, .hljs-function .hljs-keyword, .hljs-chunk, .hljs-cdata, .hljs-link_label, .hljs-bullet, .hljs-class .hljs-keyword, .hljs-smartquote, .hljs-method, .hljs-list .hljs-title, .hljs-tag { color: rgb(129, 162, 190); }
.hljs-pseudo, .hljs-exception, .hljs-annotation, .hljs-subst, .hljs-change, .hljs-cbracket, .hljs-operator, .hljs-horizontal_rule, .hljs-preprocessor .hljs-keyword, .hljs-typedef, .hljs-template_tag, .hljs-variable, .hljs-variable .hljs-filter .hljs-argument, .hljs-at_rule, .hljs-at_rule .hljs-string, .hljs-at_rule .hljs-keyword { color: rgb(138, 190, 183); }
.hljs-type, .hljs-typename, .hljs-inheritance .hljs-parent, .hljs-constant, .hljs-built_in, .hljs-setting, .hljs-structure, .hljs-link_reference, .hljs-attribute, .hljs-blockquote, .hljs-quoted, .hljs-class, .hljs-header { color: rgb(222, 147, 95); }
pre { border: 1px solid rgb(41, 44, 51); background: none repeat scroll 0% 0% rgb(47, 51, 61); }
@font-face {
  font-family: "VideoJS";
  font-style: normal;
  font-weight: 400;
  src: url("vjs.eot") format("embedded-opentype"), url("vjs.woff") format("woff"), url("vjs.ttf") format("truetype"), url("vjs.svg") format("svg");
}
@media 0screen {
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
body { background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; }
.dark { background: none repeat scroll 0% 0% rgb(55, 62, 66); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

