/* ::::: [internal] ::::: */

html, body { padding: 0px; margin: 0px; }
body { font: 12px/1.5 "Tahoma","arial"; }
/* ::::: [internal] ::::: */

.c2015-7-129904-1468740827389-global { font-size: 14px; font-family: "Microsoft Yahei","simsun",'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',微软雅黑,宋体,sans-serif; background-color: rgb(255, 255, 255); border: 1px solid rgb(229, 229, 229); width: 638px; height: 88px; overflow: hidden; }
.c2015-7-129904-1468740827389-global img { border: 0px none; }
.c2015-7-129904-1468740827389-global a { font-size: 13px; text-decoration: none; }
.c2015-7-129904-1468740827389-global a:link { color: rgb(64, 64, 64); }
.c2015-7-129904-1468740827389-global .c2015-7-129904-1468740827389-logo { display: block; width: 90px; height: 89px; overflow: hidden; float: left; margin-right: 1px; background: url("TB1bjWwGXXXXXcSXXXXcplJIVXX-76-48.gif") no-repeat scroll 5px 23px rgb(255, 68, 0); }
.c2015-7-129904-1468740827389-global .c2015-7-129904-1468740827389-frames-box { width: 200px; height: 88px; overflow: hidden; float: left; }
.c2015-7-129904-1468740827389-global .c2015-7-129904-1468740827389-frames-box3 { width: 147px; height: 88px; overflow: hidden; float: left; }
.c2015-7-129904-1468740827389-global .c2015-7-129904-1468740827389-triggers { float: left; width: 55px; height: 88px; overflow: hidden; }
.c2015-7-129904-1468740827389-triggers a { color: rgb(102, 102, 102); background-color: rgb(243, 243, 243); display: block; width: 53px; height: 27.3px; text-align: center; line-height: 27.3px; float: left; overflow: hidden; margin: 1px; }
.c2015-7-129904-1468740827389-triggers a.c2015-7-129904-1468740827389-current { color: rgb(255, 255, 255); background-color: rgb(255, 68, 0); font-weight: bold; }
.c2015-7-129904-1468740827389-frames { float: left; width: 90px; height: 90px; overflow: hidden; }
.c2015-7-129904-1468740827389-frames .c2015-7-129904-1468740827389-item { display: none; }
.c2015-7-129904-1468740827389-frames .c2015-7-129904-1468740827389-item img { display: block; float: left; width: 90px; height: 90px; }
.c2015-7-129904-1468740827389-frames .c2015-7-129904-1468740827389-current { display: block; }
