/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

body { margin: 0px; background: none repeat scroll 0% 0% transparent; }
/* ::::: [internal] ::::: */

.baiduimageplus-s-multimedia { position: relative; }
.baiduimageplus-s-multimedia .baiduimageplus-s-multimedia-bd { position: relative; margin: 8px 20px; height: 100%; overflow: hidden; }
.baiduimageplus-s-multimedia .baiduimageplus-s-multimedia-bd-scroll-style { margin: 5px 20px ! important; }
.baiduimageplus-s-multimedia .baiduimageplus-s-multimedia-img-ctn { position: relative; overflow: hidden; height: 60px; z-index: 1; }
.baiduimageplus-s-multimedia .baiduimageplus-s-multimedia-img-ctn img { border: 0px none; }
.baiduimageplus-s-multimedia .baiduimageplus-s-multimedia-bd-no-vbar_arrow .baiduimageplus-s-multimedia-img-ctn { margin: 0px auto; }
.baiduimageplus-s-multimedia-logo { display: block; cursor: pointer; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 9999; height: 18px; width: 18px; background: url("bg.png") no-repeat scroll left top transparent; }
