/* ::::: http://www.colordiff.org/colordiff.css ::::: */

body { color: rgb(51, 51, 51); background-color: rgb(238, 238, 255); }
a { color: rgb(0, 0, 153); }
a:visited { color: rgb(0, 0, 153); }
a:hover { color: rgb(0, 153, 153); }
p { text-align: justify; }
h3 { color: rgb(102, 102, 102); }
div#content { padding: 1em; margin-left: 20%; margin-right: 20%; text-align: justify; background-color: white; }
img { border: 0px none; }
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

