/* ::::: [internal] ::::: */

.alert--error p, .alert--warning p { margin-top: 5px; margin-bottom: 5px; }
/* ::::: [internal] ::::: */

html { overflow: hidden; }
#error { display: none; }
/* ::::: https://a.disquscdn.com/next/embed/styles/lounge.8f14429afb6a8ed45e94875c61ae2b2f.css ::::: */

.btn:hover, .close:hover, a { text-decoration: none; }
*, .btn-block, .input-block-level { box-sizing: border-box; }
body, html { margin: 0px; padding: 0px; }
a, abbr, acronym, address, blockquote, button, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, img, label, legend, li, ol, p, pre, q, s, samp, small, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var { margin: 0px; padding: 0px; border: 0px none; font-weight: 400; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
html { overflow-y: scroll; font-size: 100%; }
a:active, a:hover { outline: 0px none; }
.btn-default, .close, body { line-height: 20px; }
body { margin: 0px; background-color: rgb(255, 255, 255); }
.btn.active, .btn:active, .dropdown-toggle:active, .open .dropdown-toggle, .textarea-wrapper .textarea:focus, a:focus { outline: 0px none; }
h3, p { margin: 0px 0px 1.5em; }
body { background: none repeat scroll 0px 0px transparent; color: rgb(42, 46, 46); font-family: "Helvetica Neue",arial,sans-serif; font-size: 15px; }
a:active, a:hover { text-decoration: none; }
a { color: rgb(40, 140, 228); transition: color 0.1s linear 0s; }
a:hover { color: rgb(25, 119, 202); }
@media (max-width: 480px) {
}
@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: 400;
  src: url("icons.6cedda92771dd2be9a5680490bf1a8c5.eot") format("embedded-opentype"), url("icons.dcb5405f8abc9a80e5628869f735eaf0.woff") format("woff");
}
@media (max-width: 500px) {
}
@keyframes rotate-loading {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
}
@media (min-width: 500px) {
}
@keyframes anim-heart {
0% { opacity: 0; transform: scale(0.2, 0.2); }
50% { opacity: 1; transform: scale(1.2, 1.2); }
100% { opacity: 0; transform: scale(0.75, 0.75); }
}
@media (max-width: 480px) {
}
@keyframes new-upvoter-insertion {
0% { opacity: 0; margin-top: -50px; }
50% { margin-top: 0px; }
100% { opacity: 1; margin-top: 0px; }
}
@keyframes new-upvoter-guest {
0% { color: inherit; }
100% { color: rgb(101, 108, 122); }
}
@media screen and (min-width: 480px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (min-width: 320px) {
}
@media screen and (max-width: 320px) {
}
@media (max-width: 480px) {
}
