/* Code tidied up by ScrapBook */
html { font-family: sans-serif; line-height: 1.15; }
body { margin: 0px; }
article, aside, footer, header, nav, section { display: block; }
h1 { font-size: 2em; margin: 0.67em 0px; }
pre { font-family: monospace,monospace; font-size: 1em; }
a { background-color: transparent; }
a:active, a:hover { outline-width: 0px; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace,monospace; font-size: 1em; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: sans-serif; font-size: 100%; line-height: 1.15; margin: 0px; }
button, select { text-transform: none; }
.grid, .unit { box-sizing: border-box; }
.grid { display: block; clear: both; }
.grid .unit { float: left; width: 100%; padding: 10px; }
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }
.wrap .grid, .grid.wrap { max-width: 978px; margin: 0px auto; }
.grid .whole, .grid .w-1-1 { width: 100%; }
.grid .one-third, .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds, .grid .w-2-3 { width: 66.6665%; }
.grid .one-fifth, .grid .w-1-5 { width: 20%; }
.grid .four-fifths, .grid .w-4-5 { width: 80%; }
.grid {  }
.grid:before, .grid:after { display: table; content: ""; line-height: 0; }
.grid:after { clear: both; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.unit img { max-width: 100%; height: auto; }
@media screen and (max-width: 568px) {
  .grid:not(.no-stacking-on-mobiles) > .unit { width: 100% ! important; padding-left: 20px; padding-right: 20px; }
  .center-on-mobiles { text-align: center ! important; }
  .hide-on-mobiles { display: none ! important; }
}
@media screen and (min-width: 1180px) {
}
.highlight, .highlighter-rouge .highlight {  }
.highlight .k { color: rgb(240, 230, 140); }
.highlight .n { color: rgb(255, 255, 255); }
.highlight .o { color: rgb(255, 255, 255); }
.highlight .p { color: rgb(255, 255, 255); }
.highlight .c1 { color: rgb(135, 206, 235); }
.highlight .s { color: rgb(255, 255, 255); }
.highlight .na { color: rgb(255, 255, 255); }
.highlight .nb { color: rgb(255, 255, 255); }
.highlight .no { color: rgb(255, 160, 160); }
.highlight .nf { color: rgb(255, 255, 255); }
.highlight .nt { color: rgb(240, 230, 140); }
.highlight .ss { color: rgb(255, 255, 255); }
.highlight .vi { color: rgb(152, 251, 152); }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.fa-link:before { content: ""; }
.fa-pencil:before { content: ""; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
body { font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: 300; font-size: 21px; line-height: normal; font-size-adjust: none; font-stretch: normal; -moz-font-language-override: normal; color: rgb(221, 221, 221); background-color: rgb(51, 51, 51); border-top: 5px solid rgb(255, 204, 0); box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3) inset; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); -moz-font-feature-settings: "kern"; }
.clear { display: block; }
.clear:after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; }
header, section, footer { float: left; width: 100%; clear: both; }
header h1, header nav { display: inline-block; }
nav ul { padding: 0px; margin: 0px; white-space: nowrap; }
nav li { display: inline-block; }
.main-nav { margin-top: 52px; }
.main-nav li { margin-right: 10px; }
.main-nav li a { border-radius: 5px 5px 5px 5px; font-weight: 900; font-size: 14px; padding: 0.5em 1em; text-shadow: none; text-transform: uppercase; transition: all 0.25s ease 0s; }
.main-nav li a:hover { background-color: rgb(37, 37, 37); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); }
.main-nav li.current a { background-color: rgb(255, 204, 0); color: rgb(34, 34, 34); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 5px rgba(0, 0, 0, 0.5); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3); }
.mobile-nav ul { overflow: hidden; width: 100%; display: table; }
.mobile-nav a { float: left; width: 100%; background-color: rgb(51, 51, 51); color: rgb(255, 204, 0); text-align: center; text-transform: uppercase; font-size: 14px; font-weight: 900; padding: 5px; border-radius: 5px 5px 5px 5px; }
.mobile-nav li { display: table-cell; width: 20%; padding: 8px 2px; }
.mobile-nav .current a { background-color: rgb(255, 204, 0); color: rgb(34, 34, 34); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 5px rgba(0, 0, 0, 0.5); text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3); }
.header-link { position: relative; left: 0.5em; opacity: 0; font-size: 0.8em; transition: opacity 0.2s ease-in-out 0.1s; }
h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link { opacity: 1; }
@media (max-width: 768px) {
  .main-nav ul { text-align: right; }
}
@media (max-width: 830px) {
  .main-nav .hide-on-mobiles { display: none; }
}
footer { background-color: rgb(33, 33, 33); font-size: 16px; padding-bottom: 5px; color: rgb(192, 192, 192); margin-top: 40px; }
footer a { color: rgb(255, 255, 255); }
footer a:hover img { opacity: 1; }
footer .align-right p { display: inline-block; }
footer img { display: inline-block; position: relative; top: 8px; margin-left: 5px; opacity: 0.8; padding: 1px; transition: opacity 0.2s ease 0s; }
@media (max-width: 568px) {
  footer .one-third p { margin-bottom: 0px; }
  footer .two-thirds p { margin-top: -20px; }
}
@media (min-width: 569px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
article { background-color: rgb(68, 68, 68); border-radius: 10px 10px 10px 10px; padding: 20px; margin: 0px 10px; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); font-size: 16px; }
@media (max-width: 480px) {
}
@media (max-width: 568px) {
  article { margin: 0px; }
}
@media (min-width: 768px) {
  article { padding: 40px 40px 30px; font-size: 21px; }
}
aside { padding-top: 30px; }
aside h4 { text-transform: uppercase; font-size: 14px; font-weight: 700; padding: 0px 0px 10px 30px; margin-left: -30px; display: inline-block; border-bottom: 1px solid rgb(204, 0, 0); }
aside ul { padding-left: 0px; }
aside ul:first-child { margin-top: 0px; }
aside li { list-style-type: none; }
aside li a { font-size: 16px; position: relative; }
aside li.current a:before { content: ""; border-color: transparent transparent transparent rgb(68, 68, 68); border-style: solid; border-width: 10px; width: 0px; height: 0px; position: absolute; top: 0px; left: -30px; }
.docs article { min-height: 800px; }
.section-nav { text-align: center; padding-top: 40px; position: relative; background: url("article-footer.png") no-repeat scroll center top transparent; margin: 40px -20px 10px; }
.section-nav > div { width: 49.5%; }
.section-nav a, .section-nav span { color: rgb(255, 255, 255); font-size: 16px; text-transform: uppercase; font-weight: 700; padding: 8px 12px 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(255, 255, 255, 0.5) inset; background-color: rgb(118, 118, 118); }
.section-nav a:hover { color: rgb(255, 255, 255); background-color: rgb(136, 136, 136); }
.section-nav .next, .section-nav .prev { position: relative; }
.section-nav .next:after, .section-nav .prev:before { font-size: 36px; color: rgb(34, 34, 34); font-weight: 900; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4); position: absolute; top: -7px; }
.section-nav .next:after { content: "›"; right: 10px; }
.section-nav .prev:before { content: "‹"; left: 10px; }
.section-nav .prev, .section-nav .prev:hover { padding-left: 30px; }
.section-nav .next, .section-nav .next:hover { padding-right: 30px; }
.improve { padding-top: 25px; font-size: 16px; }
.improve a { color: rgb(153, 153, 153); }
.docs-nav-mobile select { color: rgb(0, 0, 0); width: 100%; }
article h2:first-child { margin-top: 0px; }
@media (max-width: 568px) {
}
@media (min-width: 768px) {
}
pre, code { white-space: pre; display: inline-block; margin: 0px; font: 14px/1.8em Menlo,Consolas,"Courier New",Courier,"Liberation Mono",monospace; padding: 0px 0.5em; }
@media (min-width: 768px) {
  pre, code { font-size: 16px; }
}
.highlight, .highlighter-rouge .highlight, p > pre, p > code, p > nobr > code, li > code, li > pre, h5 > code, .note > code { background-color: rgb(43, 43, 43); color: rgb(255, 255, 255); max-width: 100%; overflow-x: auto; vertical-align: middle; border-radius: 5px 5px 5px 5px; box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.5); }
.note code { background-color: rgba(0, 0, 0, 0.2); margin-left: 2.5px; margin-right: 2.5px; font-size: 0.8em; }
.highlight, .highlighter-rouge .highlight { margin: 1em 0px; padding: 10px 0px; width: 100%; overflow: auto; }
.highlighter-rouge .highlight { margin: 0px; padding: 10px 0.5em; }
h1, h2, h3, h4, h5, h6 { margin: 0px; }
a { color: rgb(255, 204, 0); text-decoration: none; transition: all 0.25s ease 0s; }
a:hover { color: rgb(255, 153, 0); }
strong { font-weight: 700; }
p { line-height: 1.5em; }
.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
article h2, article h3, article h4, article h5, article h6 { margin: 1em 0px; }
h5, h6 { font-size: 1em; font-style: italic; }
.note { margin: 30px 0px 30px -30px; padding: 20px 20px 24px 50px; border-radius: 0px 5px 5px 0px; position: relative; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset; background-color: rgb(126, 109, 66); background-image: linear-gradient(to bottom, rgb(126, 109, 66) 0%, rgb(92, 78, 53) 100%); }
@media (max-width: 568px) {
  .note { margin-right: -30px; }
}
@media (min-width: 768px) {
  .note { margin-left: -50px; }
}
.note:before { content: ""; position: absolute; top: -10px; left: 0px; border-color: transparent rgb(34, 34, 34) rgb(34, 34, 34) transparent; border-style: solid; border-width: 5px; width: 0px; height: 0px; }
.note h5, .note p { margin: 0px; color: rgb(255, 255, 255); }
.note h5 { line-height: 1.5em; font-weight: 900; font-style: normal; }
.note p { font-weight: 400; font-size: 0.75em; }
.note:after { content: "★"; color: rgb(255, 204, 0); position: absolute; top: 14px; left: 14px; font-size: 28px; font-weight: 700; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); }
.info { background-color: rgb(3, 137, 170); background-image: linear-gradient(to bottom, rgb(3, 137, 170) 0%, rgb(0, 97, 127) 100%); }
.info:before { border-color: transparent rgb(0, 97, 127) rgb(0, 97, 127) transparent; }
.info:after { content: "ⓘ"; color: rgb(255, 255, 255); position: absolute; top: 15px; left: 15px; font-size: 28px; font-weight: 700; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); }
@media (max-width: 768px) {
}
.show-on-mobiles { display: none; }
@media screen and (max-width: 568px) {
  .show-on-mobiles { display: block ! important; }
}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
