body, html { height: 100%; font-family: 'Open Sans',sans-serif; line-height: 1.5em; background-color: rgb(250, 250, 250); text-rendering: geometricprecision; margin: 0pt; padding: 0pt; }
#wrapper { height: 100%; position: relative; }
#navigation { background-color: rgb(243, 243, 243); display: inline-block; border-right: 1px solid rgb(234, 234, 234); padding-top: 10px; padding-right: 20px; padding-left: 20px; position: relative; float: left; min-height: 100%; }
#content { float: left; display: inline-block; position: absolute; max-width: 960px; padding: 10px 65px 65px; }
#logo { display: block; margin-left: auto; margin-right: auto; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
#navigation li { list-style-type: none; }
#navigation a { color: rgb(85, 85, 85); font-weight: 500; }
#content h1, h2, h3, h4, h5, h6 { color: rgb(78, 154, 6); margin-bottom: 0pt; font-weight: normal; }
#content p { margin-top: 0pt; }
#content a { color: rgb(206, 92, 0); }
#content tt { color: rgb(46, 52, 54); }
#content pre { color: rgb(46, 52, 54); margin-left: 20px; }
ul { list-style-image: none; }
p.footer { padding-top: 45px; text-align: right; color: gray; }
