/* ::::: http://tldr-pages.github.io/css/normalize.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
a { background: none repeat scroll 0% 0% transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; }
img { border: 0px none; }
table { border-collapse: collapse; border-spacing: 0px; }
/* ::::: http://tldr-pages.github.io/css/syntax.css ::::: */

/* ::::: http://tldr-pages.github.io/css/solo.css ::::: */

/* ::::: (import) http://fonts.googleapis.com/css?family=Montserrat:700 ::::: */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url("IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff") format("woff");
}
/* ::::: (end import) ::::: */
/* ::::: (import) http://fonts.googleapis.com/css?family=Source+Code+Pro:400 ::::: */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff") format("woff");
}
/* ::::: (end import) ::::: */
/* ::::: (import) http://fonts.googleapis.com/css?family=Inconsolata:400,700 ::::: */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url("AIed271kqQlcIRSOnQH0yTqR_3kx9_hJXbbyU8S6IN0.woff") format("woff");
}
/* ::::: (end import) ::::: */
html { font: 16px/1.5 Inconsolata,sans-serif; }
@media (min-width: 30rem) {
  html { font-size: 20px; }
}
body { margin: 2rem 0px 5rem; color: rgb(51, 51, 51); }
@media (min-width: 30rem) {
  body { margin-top: 5rem; }
}
a { color: rgb(0, 116, 217); text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-family: Montserrat,sans-serif; margin: 0px 0px 0.5rem -0.1rem; line-height: 1; color: rgb(17, 17, 17); text-rendering: optimizelegibility; }
h1 { font-size: 2.5rem; margin-bottom: 1rem; }
@media (min-width: 30rem) {
  h1 { font-size: 3rem; margin-bottom: 1rem; }
}
h1 a, h2 a { color: inherit; }
h2 { margin-top: 2rem; font-size: 1.25rem; margin-bottom: 0.75rem; }
@media (min-width: 30rem) {
  h2 { margin-top: 2.5rem; font-size: 1.5rem; margin-bottom: 1rem; }
}
p, ul, ol, dl, table, pre, blockquote { margin-top: 0px; margin-bottom: 1rem; }
blockquote { margin-left: 0px; margin-right: 0px; padding: 0.5rem 1rem; border-left: 0.25rem solid rgb(204, 204, 204); color: rgb(102, 102, 102); }
.container img, .container iframe { max-width: 100%; }
.container img { margin: 0px auto; display: block; }
table { width: 100%; border: 1px solid rgb(204, 204, 204); border-collapse: collapse; }
td, th { padding: 0.25rem 0.5rem; border: 1px solid rgb(204, 204, 204); }
pre, code { font-family: Source Code Pro,courier new,courier,monospace; background-color: rgb(238, 238, 238); }
pre { padding: 0.5rem 1rem; font-size: 0.8rem; }
code { padding: 0.1rem 0.25rem; }
pre > code { padding: 0px; }
.container { max-width: 30rem; margin: 0px auto; padding: 0px 1rem; }
.widgets { margin-bottom: 2rem; }
.widgets img { height: 30px; margin: 0px; display: inline; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

