/* ::::: https://tldr.ostera.io/build/be7e2059ef6691a08a546f8749fcf5051dd00ad9.1468681162.css ::::: */

/* ::::: (import) https://fonts.googleapis.com/css?family=Source+Code+Pro ::::: */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff") format("woff");
}
/* ::::: (end import) ::::: */
/* ::::: (import) https://fonts.googleapis.com/css?family=Roboto:400,300,700,100&subset=latin,latin-ext ::::: */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("idLYXfFa1c7oAPILDl4z0fesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("Xyjz-jNkfiYuJf8UC3Lizw.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("97uahxiqZRoncBaCEI3aWz8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
/* ::::: (end import) ::::: */
* { font-family: 'Avenir Next','Roboto',Helvetica Neue,Helvetica,sans-serif; font-size: 1em; }
body { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(248, 248, 248); color: rgb(57, 57, 57); }
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
@media only screen and (orientation: landscape) {
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 728px) {
}
