/* ::::: http://knsv.github.io/mermaid/fontawesome/css/font-awesome.min.css ::::: */

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-ban:before { content: ""; }
.fa-camera-retro:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-spinner:before { content: ""; }
/* ::::: http://knsv.github.io/mermaid/stylesheets/screen.css (@media screen) ::::: */

@media screen {
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, html, body { font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif; font-size: 13px; }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { font-weight: bold; }
.content code, .content pre { font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif; font-size: 12px; line-height: 1.5; }
.content code { word-break: break-all; -moz-hyphens: auto; }
@font-face {
  font-family: "slate";
  font-style: normal;
  font-weight: normal;
  src: url("slate.eot") format("embedded-opentype"), url("slate.woff2") format("woff2"), url("slate.woff") format("woff"), url("slate.ttf") format("truetype"), url("slate.svg") format("svg");
}
.content aside.warning:before, .content aside.notice:before, .content aside.success:before, .tocify-wrapper > .search:before { font-family: 'slate'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.content aside.warning:before { content: ""; }
.content aside.success:before { content: ""; }
.tocify-wrapper > .search:before { content: ""; }
html, body { color: rgb(51, 51, 51); padding: 0px; margin: 0px; background-color: rgb(255, 255, 255); height: 100%; }
.tocify-wrapper { transition: left 0.3s ease-in-out 0s; overflow-y: auto; overflow-x: hidden; position: fixed; z-index: 30; top: 0px; left: 0px; bottom: 0px; width: 230px; background-color: rgb(254, 255, 224); border-right: 2px solid rgb(239, 239, 239); font-size: 13px; font-weight: bold; }
.tocify-wrapper .lang-selector { display: none; }
.tocify-wrapper .lang-selector a { padding-top: 0.5em; padding-bottom: 0.5em; }
.tocify-wrapper > img { display: block; }
.tocify-wrapper > .search { position: relative; }
.tocify-wrapper > .search input { background: none repeat scroll 0% 0% rgb(231, 231, 231); border-width: 0px 0px 1px; border-color: rgb(102, 102, 102); padding: 6px 0px 6px 20px; box-sizing: border-box; margin: 10px 15px; width: 200px; outline: medium none; color: rgb(0, 0, 0); border-radius: 0px 0px 0px 0px; }
.tocify-wrapper > .search:before { position: absolute; top: 17px; left: 15px; color: rgb(68, 68, 68); }
.tocify-wrapper .search-results { margin-top: 0px; box-sizing: border-box; height: 0px; overflow-y: auto; overflow-x: hidden; transition-property: height, margin; transition-duration: 180ms; transition-timing-function: ease-in-out; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 8px) repeat scroll 0% 0%, linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 8px) repeat scroll 0% 0%, linear-gradient(to bottom, rgb(0, 0, 0), transparent 1.5px) repeat scroll 0% 0%, linear-gradient(to top, rgb(147, 147, 147), rgba(147, 147, 147, 0) 1.5px) repeat scroll 0% 0%, none repeat scroll 0% 0% rgb(254, 255, 224); }
.tocify-wrapper .tocify-item > a, .tocify-wrapper .toc-footer li { padding: 0px 15px; display: block; overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; }
.tocify-wrapper ul, .tocify-wrapper li { list-style: none outside none; margin: 0px; padding: 0px; line-height: 28px; }
.tocify-wrapper li { color: rgb(56, 56, 56); transition-property: background; transition-timing-function: linear; transition-duration: 230ms; }
.tocify-wrapper .tocify-focus { box-shadow: 0px 1px 0px rgb(0, 0, 0); background-color: rgb(36, 103, 175); color: rgb(255, 255, 255); }
.tocify-wrapper .tocify-subheader { display: none; font-weight: 500; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 8px) repeat scroll 0% 0%, linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 8px) repeat scroll 0% 0%, linear-gradient(to bottom, rgb(0, 0, 0), transparent 1.5px) repeat scroll 0% 0%, linear-gradient(to top, rgb(147, 147, 147), rgba(147, 147, 147, 0) 1.5px) repeat scroll 0% 0%, none repeat scroll 0% 0% rgb(254, 255, 224); }
.tocify-wrapper .tocify-subheader .tocify-item > a { padding-left: 25px; font-size: 12px; }
.tocify-wrapper .tocify-subheader > li:last-child { box-shadow: none; }
.tocify-wrapper .toc-footer { padding: 1em 0px; margin-top: 1em; border-top: 1px dashed rgb(102, 102, 102); }
.tocify-wrapper .toc-footer li, .tocify-wrapper .toc-footer a { color: rgb(255, 255, 255); text-decoration: none; }
.tocify-wrapper .toc-footer a:hover { text-decoration: underline; }
.tocify-wrapper .toc-footer li { font-size: 0.8em; line-height: 1.7; text-decoration: none; }
#nav-button { padding: 0px 1.5em 5em 0px; display: none; position: fixed; top: 0px; left: 0px; z-index: 100; color: rgb(0, 0, 0); text-decoration: none; font-weight: bold; opacity: 0.7; line-height: 16px; transition: left 0.3s ease-in-out 0s; }
#nav-button span { display: block; padding: 6px; background-color: rgba(234, 242, 246, 0.7); transform-origin: 0px 0px 0px; transform: rotate(-90deg) translate(-100%, 0px); border-radius: 0px 0px 0px 5px; }
#nav-button img { height: 16px; vertical-align: bottom; }
#nav-button:hover { opacity: 1; }
.page-wrapper { margin-left: 230px; position: relative; z-index: 10; background-color: rgb(234, 242, 246); min-height: 100%; padding-bottom: 1px; }
.page-wrapper .dark-box { width: 50%; background-color: rgb(57, 57, 57); position: absolute; right: 0px; top: 0px; bottom: 0px; }
.page-wrapper .lang-selector { position: fixed; z-index: 50; border-bottom: 5px solid rgb(57, 57, 57); }
.lang-selector { background-color: rgb(34, 34, 34); width: 100%; font-weight: bold; }
.lang-selector a { display: block; float: left; color: rgb(255, 255, 255); text-decoration: none; padding: 0px 10px; line-height: 30px; outline: 0px none; }
.lang-selector a:active, .lang-selector a:focus { background-color: rgb(17, 17, 17); color: rgb(255, 255, 255); }
.lang-selector a.active { background-color: rgb(57, 57, 57); color: rgb(255, 255, 255); }
.lang-selector:after { content: ""; clear: both; display: block; }
.content { position: relative; z-index: 30; }
.content:after { content: ""; display: block; clear: both; }
.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl { margin-right: 50%; padding: 0px 28px; box-sizing: border-box; display: block; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.content > ul, .content > ol { padding-left: 43px; }
.content > h1, .content > h2, .content > div { clear: both; }
.content h1 { font-size: 30px; padding-top: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid rgb(204, 204, 204); margin-bottom: 21px; margin-top: 2em; border-top: 1px solid rgb(221, 221, 221); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(249, 249, 249)); }
.content h1:first-child, .content div:first-child + h1 { border-top-width: 0px; margin-top: 0px; }
.content h2 { font-size: 20px; margin-top: 4em; margin-bottom: 0px; border-top: 1px solid rgb(204, 204, 204); padding-top: 1.2em; padding-bottom: 1.2em; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)); }
.content h1 + h2, .content h1 + div + h2 { margin-top: -21px; border-top: medium none; }
.content h3, .content h4, .content h5, .content h6 { font-size: 15px; margin-top: 2.5em; margin-bottom: 0.8em; }
.content h4, .content h5, .content h6 { font-size: 10px; }
.content table { margin-bottom: 1em; overflow: auto; }
.content table th, .content table td { text-align: left; vertical-align: top; line-height: 1.6; }
.content table th { padding: 5px 10px; border-bottom: 1px solid rgb(204, 204, 204); vertical-align: bottom; }
.content table td { padding: 10px; }
.content table tr:last-child { border-bottom: 1px solid rgb(204, 204, 204); }
.content table tr:nth-child(2n+1) > td { background-color: rgb(249, 251, 252); }
.content table tr:nth-child(2n) > td { background-color: rgb(243, 247, 250); }
.content p, .content li, .content dt, .content dd { line-height: 1.6; margin-top: 0px; }
.content img { max-width: 100%; }
.content code { background-color: rgba(0, 0, 0, 0.05); padding: 3px; border-radius: 3px 3px 3px 3px; }
.content pre > code { background-color: transparent; padding: 0px; }
.content aside { padding-top: 1em; padding-bottom: 1em; text-shadow: 0px 1px 0px rgb(198, 221, 233); margin-top: 1.5em; margin-bottom: 1.5em; background: none repeat scroll 0% 0% rgb(143, 188, 212); line-height: 1.6; }
.content aside.warning { background-color: rgb(201, 122, 126); text-shadow: 0px 1px 0px rgb(223, 176, 179); }
.content aside.success { background-color: rgb(106, 193, 116); text-shadow: 0px 1px 0px rgb(160, 215, 166); }
.content aside:before { vertical-align: middle; padding-right: 0.5em; font-size: 14px; }
.content pre, .content blockquote { background-color: rgb(251, 248, 239); color: rgb(255, 255, 255); padding: 2em 28px; margin: 0px; width: 50%; float: right; clear: right; box-sizing: border-box; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }
.content pre > p, .content blockquote > p { margin: 0px; }
.content blockquote > p { background-color: rgb(238, 238, 238); border-radius: 0px 0px 0px 0px; padding: 13px; color: rgb(0, 0, 0); border-left: 4px solid rgb(240, 173, 78); }
@media (max-width: 930px) {
  .tocify-wrapper { left: -230px; }
  .page-wrapper { margin-left: 0px; }
  #nav-button { display: block; }
  .tocify-wrapper .tocify-item > a { padding-top: 0.3em; padding-bottom: 0.3em; }
}
.dark-box { display: none; }
.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl { margin-right: 0px; }
.tocify-wrapper .lang-selector { display: block; }
.page-wrapper .lang-selector { display: none; }
.content pre, .content blockquote { width: auto; float: none; }
.content > pre + h1, .content > blockquote + h1, .content > pre + h2, .content > blockquote + h2, .content > pre + h3, .content > blockquote + h3, .content > pre + h4, .content > blockquote + h4, .content > pre + h5, .content > blockquote + h5, .content > pre + h6, .content > blockquote + h6, .content > pre + p, .content > blockquote + p, .content > pre + table, .content > blockquote + table, .content > pre + ul, .content > blockquote + ul, .content > pre + ol, .content > blockquote + ol, .content > pre + aside, .content > blockquote + aside, .content > pre + dl, .content > blockquote + dl { margin-top: 28px; }
.content code, .content pre { font-size: 12px; overflow: auto ! important; padding: 10px; background-color: rgb(255, 255, 255); color: rgb(77, 77, 76); margin-bottom: 0px; }
.content pre { border-radius: 3px 3px 3px 3px; }
.content pre { box-shadow: 0px 0px 0px 3px rgb(238, 238, 238); width: 900px; margin-left: auto; margin-right: auto; background: none repeat scroll 0% 0% rgb(251, 248, 239); }
svg { margin-left: auto; margin-right: auto; }
.content { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
}
/* ::::: http://knsv.github.io/mermaid/stylesheets/print.css (@media print) ::::: */

@media print {
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
.content h1, .content h2, .content h3, .content h4, body { font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif; font-size: 13px; }
.content h1, .content h2, .content h3, .content h4 { font-weight: bold; }
.content pre, .content code { font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,serif; font-size: 12px; line-height: 1.5; }
.content pre, .content code { word-break: break-all; -moz-hyphens: auto; }
@font-face {
  font-family: "slate";
  font-style: normal;
  font-weight: normal;
  src: url("slate.eot") format("embedded-opentype"), url("slate.woff2") format("woff2"), url("slate.woff") format("woff"), url("slate.ttf") format("truetype"), url("slate.svg") format("svg");
}
.content aside.warning:before, .content aside.notice:before, .content aside.success:before { font-family: 'slate'; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.content aside.warning:before { content: ""; }
.content aside.success:before { content: ""; }
.tocify, .toc-footer, .lang-selector, .search, #nav-button { display: none; }
.tocify-wrapper > img { margin: 0px auto; display: block; }
.content { font-size: 12px; }
.content pre, .content code { border: 1px solid rgb(153, 153, 153); border-radius: 5px 5px 5px 5px; font-size: 0.8em; }
.content pre { padding: 1.3em; }
.content code { padding: 0.2em; }
.content table { border: 1px solid rgb(153, 153, 153); }
.content table tr { border-bottom: 1px solid rgb(153, 153, 153); }
.content table td, .content table th { padding: 0.7em; }
.content p { line-height: 1.5; }
.content a { text-decoration: none; color: rgb(0, 0, 0); }
.content h1 { font-size: 2.5em; padding-top: 0.5em; padding-bottom: 0.5em; margin-top: 1em; margin-bottom: 21px; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 0px; text-align: center; }
.content h2 { font-size: 1.8em; margin-top: 2em; border-top: 2px solid rgb(204, 204, 204); padding-top: 0.8em; }
.content h1 + h2, .content h1 + div + h2 { border-top: medium none; padding-top: 0px; margin-top: 0px; }
.content h3, .content h4 { font-size: 0.8em; margin-top: 1.5em; margin-bottom: 0.8em; text-transform: uppercase; }
.content aside { padding: 1em; border: 1px solid rgb(204, 204, 204); border-radius: 5px 5px 5px 5px; margin-top: 1.5em; margin-bottom: 1.5em; line-height: 1.6; }
.content aside:before { vertical-align: middle; padding-right: 0.5em; font-size: 14px; }
}
/* ::::: http://knsv.github.io/mermaid/stylesheets/mermaid.forest.css ::::: */

.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
.cluster rect { fill: rgb(205, 255, 178) ! important; stroke: rgb(110, 170, 73) ! important; stroke-width: 1px ! important; }
.cluster text { fill: rgb(51, 51, 51); }
.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.labelBox { stroke: rgb(50, 105, 50); fill: rgb(205, 228, 152); }
.labelText { fill: black; stroke: none; }
.loopText { fill: black; stroke: none; }
.loopLine { stroke-width: 2; stroke: rgb(50, 105, 50); }
.note { stroke: rgb(110, 170, 73); fill: rgb(255, 245, 173); }
.noteText { fill: black; stroke: none; font-family: 'trebuchet ms',verdana,arial; font-size: 14px; }
.section { stroke: none; opacity: 0.2; }
.section0 { fill: rgb(110, 170, 73); }
.section2 { fill: rgb(110, 170, 73); }
.section1, .section3 { fill: white; opacity: 0.2; }
.sectionTitle0 { fill: rgb(51, 51, 51); }
.sectionTitle1 { fill: rgb(51, 51, 51); }
.sectionTitle2 { fill: rgb(51, 51, 51); }
.sectionTitle { text-anchor: start; font-size: 11px; }
.grid .tick { stroke: lightgrey; opacity: 0.3; shape-rendering: crispedges; }
.grid path { stroke-width: 0; }
.today { fill: none; stroke: red; stroke-width: 2px; }
.task { stroke-width: 2; }
.taskText { text-anchor: middle; font-size: 11px; }
.taskTextOutsideRight { fill: black; text-anchor: start; font-size: 11px; }
.taskTextOutsideLeft { fill: black; text-anchor: end; font-size: 11px; }
.taskText0, .taskText1, .taskText2, .taskText3 { fill: white; }
.task0, .task1, .task2, .task3 { fill: rgb(72, 126, 58); stroke: rgb(19, 84, 12); }
.taskTextOutside0, .taskTextOutside2 { fill: black; }
.taskTextOutside1, .taskTextOutside3 { fill: black; }
.active0, .active1, .active2, .active3 { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); }
.activeText0, .activeText1, .activeText2, .activeText3 { fill: black ! important; }
.done0, .done1, .done2, .done3 { stroke: grey; fill: lightgrey; stroke-width: 2; }
.doneText0, .doneText1, .doneText2, .doneText3 { fill: black ! important; }
.crit0, .crit1, .crit2, .crit3 { stroke: rgb(255, 136, 136); fill: red; stroke-width: 2; }
.activeCrit0, .activeCrit1, .activeCrit2, .activeCrit3 { stroke: rgb(255, 136, 136); fill: rgb(205, 228, 152); stroke-width: 2; }
.doneCrit0, .doneCrit1, .doneCrit2, .doneCrit3 { stroke: rgb(255, 136, 136); fill: lightgrey; stroke-width: 2; cursor: pointer; shape-rendering: crispedges; }
.doneCritText0, .doneCritText1, .doneCritText2, .doneCritText3 { fill: black ! important; }
.activeCritText0, .activeCritText1, .activeCritText2, .activeCritText3 { fill: black ! important; }
.titleText { text-anchor: middle; font-size: 18px; fill: black; }
div.mermaidTooltip { position: absolute; text-align: center; max-width: 200px; padding: 2px; font-family: 'trebuchet ms',verdana,arial; font-size: 12px; background: none repeat scroll 0% 0% rgb(205, 255, 178); border: 1px solid rgb(110, 170, 73); border-radius: 2px 2px 2px 2px; pointer-events: none; z-index: 100; }
/* ::::: http://knsv.github.io/mermaid/stylesheets/solarized_light.css ::::: */

.hljs { display: block; overflow-x: auto; padding: 0.5em; background: none repeat scroll 0% 0% rgb(253, 246, 227); color: rgb(101, 123, 131); }
.hljs-keyword, .hljs-winutils, .method, .hljs-addition, .css .hljs-tag, .hljs-request, .hljs-status, .nginx .hljs-title { color: rgb(133, 153, 0); }
.hljs-number, .hljs-command, .hljs-string, .hljs-tag .hljs-value, .hljs-rule .hljs-value, .hljs-doctag, .tex .hljs-formula, .hljs-regexp, .hljs-hexcolor, .hljs-link_url { color: rgb(42, 161, 152); }
.hljs-title, .hljs-localvars, .hljs-chunk, .hljs-decorator, .hljs-built_in, .hljs-identifier, .vhdl .hljs-literal, .hljs-id, .css .hljs-function, .hljs-name { color: rgb(38, 139, 210); }
.hljs-attribute, .hljs-variable, .lisp .hljs-body, .smalltalk .hljs-number, .hljs-constant, .hljs-class .hljs-title, .hljs-parent, .hljs-type, .hljs-link_reference { color: rgb(181, 137, 0); }
.hljs-preprocessor, .hljs-preprocessor .hljs-keyword, .hljs-pragma, .hljs-shebang, .hljs-symbol, .hljs-symbol .hljs-string, .diff .hljs-change, .hljs-special, .hljs-attr_selector, .hljs-subst, .hljs-cdata, .css .hljs-pseudo, .hljs-header { color: rgb(203, 75, 22); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

#mermaidChart0 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart1 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart2 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

#mermaidChart3 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

#mermaidChart4 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

#mermaidChart8 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart9 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart10 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart11 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart12 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart13 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart14 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart15 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart16 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
/* ::::: [internal] ::::: */

#mermaidChart17 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart18 .node > rect {  }
#mermaidChart18 .cluster rect { fill: rgb(255, 255, 222); stroke: rgb(170, 170, 51); stroke-width: 1px; }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
.cluster rect { fill: rgb(205, 255, 178) ! important; stroke: rgb(110, 170, 73) ! important; stroke-width: 1px ! important; }
.cluster text { fill: rgb(51, 51, 51); }
/* ::::: [internal] ::::: */

#mermaidChart19 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart20 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

#mermaidChart21 .node > rect {  }
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart22 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.note { stroke: rgb(110, 170, 73); fill: rgb(255, 245, 173); }
.noteText { fill: black; stroke: none; font-family: 'trebuchet ms',verdana,arial; font-size: 14px; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.note { stroke: rgb(110, 170, 73); fill: rgb(255, 245, 173); }
.noteText { fill: black; stroke: none; font-family: 'trebuchet ms',verdana,arial; font-size: 14px; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.labelBox { stroke: rgb(50, 105, 50); fill: rgb(205, 228, 152); }
.labelText { fill: black; stroke: none; }
.loopText { fill: black; stroke: none; }
.loopLine { stroke-width: 2; stroke: rgb(50, 105, 50); }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.labelBox { stroke: rgb(50, 105, 50); fill: rgb(205, 228, 152); }
.labelText { fill: black; stroke: none; }
.loopText { fill: black; stroke: none; }
.loopLine { stroke-width: 2; stroke: rgb(50, 105, 50); }
/* ::::: [internal] ::::: */

.section { stroke: none; opacity: 0.2; }
.section0 { fill: rgb(110, 170, 73); }
.section1, .section3 { fill: white; opacity: 0.2; }
.sectionTitle0 { fill: rgb(51, 51, 51); }
.sectionTitle1 { fill: rgb(51, 51, 51); }
.sectionTitle { text-anchor: start; font-size: 11px; }
.grid .tick { stroke: lightgrey; opacity: 0.3; shape-rendering: crispedges; }
.grid path { stroke-width: 0; }
.today { fill: none; stroke: red; stroke-width: 2px; }
.task { stroke-width: 2; }
.taskText { text-anchor: middle; font-size: 11px; }
.taskText0, .taskText1, .taskText2, .taskText3 { fill: white; }
.task0, .task1, .task2, .task3 { fill: rgb(72, 126, 58); stroke: rgb(19, 84, 12); }
.titleText { text-anchor: middle; font-size: 18px; fill: black; }
/* ::::: [internal] ::::: */

.section { stroke: none; opacity: 0.2; }
.section0 { fill: rgb(110, 170, 73); }
.section2 { fill: rgb(110, 170, 73); }
.section1, .section3 { fill: white; opacity: 0.2; }
.sectionTitle0 { fill: rgb(51, 51, 51); }
.sectionTitle1 { fill: rgb(51, 51, 51); }
.sectionTitle2 { fill: rgb(51, 51, 51); }
.sectionTitle { text-anchor: start; font-size: 11px; }
.grid .tick { stroke: lightgrey; opacity: 0.3; shape-rendering: crispedges; }
.grid path { stroke-width: 0; }
.today { fill: none; stroke: red; stroke-width: 2px; }
.task { stroke-width: 2; }
.taskText { text-anchor: middle; font-size: 11px; }
.taskTextOutsideRight { fill: black; text-anchor: start; font-size: 11px; }
.taskTextOutsideLeft { fill: black; text-anchor: end; font-size: 11px; }
.taskText0, .taskText1, .taskText2, .taskText3 { fill: white; }
.task0, .task1, .task2, .task3 { fill: rgb(72, 126, 58); stroke: rgb(19, 84, 12); }
.taskTextOutside0, .taskTextOutside2 { fill: black; }
.taskTextOutside1, .taskTextOutside3 { fill: black; }
.active0, .active1, .active2, .active3 { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); }
.activeText0, .activeText1, .activeText2, .activeText3 { fill: black ! important; }
.done0, .done1, .done2, .done3 { stroke: grey; fill: lightgrey; stroke-width: 2; }
.doneText0, .doneText1, .doneText2, .doneText3 { fill: black ! important; }
.crit0, .crit1, .crit2, .crit3 { stroke: rgb(255, 136, 136); fill: red; stroke-width: 2; }
.activeCrit0, .activeCrit1, .activeCrit2, .activeCrit3 { stroke: rgb(255, 136, 136); fill: rgb(205, 228, 152); stroke-width: 2; }
.doneCrit0, .doneCrit1, .doneCrit2, .doneCrit3 { stroke: rgb(255, 136, 136); fill: lightgrey; stroke-width: 2; cursor: pointer; shape-rendering: crispedges; }
.doneCritText0, .doneCritText1, .doneCritText2, .doneCritText3 { fill: black ! important; }
.activeCritText0, .activeCritText1, .activeCritText2, .activeCritText3 { fill: black ! important; }
.titleText { text-anchor: middle; font-size: 18px; fill: black; }
/* ::::: [internal] ::::: */

#mermaidChart33 .node > rect {  }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
/* ::::: [internal] ::::: */

#mermaidChart34 .node > rect {  }
#mermaidChart34 .cluster rect { fill: rgb(255, 255, 222); stroke: rgb(170, 170, 51); stroke-width: 1px; }
.mermaid .label { font-family: 'trebuchet ms',verdana,arial; color: rgb(51, 51, 51); }
.node rect, .node circle, .node ellipse, .node polygon { fill: rgb(205, 228, 152); stroke: rgb(19, 84, 12); stroke-width: 1px; }
.edgePath .path { stroke: green; stroke-width: 1.5px; }
.edgeLabel { background-color: rgb(232, 232, 232); }
.cluster rect { fill: rgb(205, 255, 178) ! important; stroke: rgb(110, 170, 73) ! important; stroke-width: 1px ! important; }
.cluster text { fill: rgb(51, 51, 51); }
#mermaidChart34 .green > rect, .green > polygon, .green > ellipse { fill: rgb(153, 255, 102); stroke: rgb(51, 51, 51); stroke-width: 2px; }
#mermaidChart34 .orange > rect, .orange > polygon, .orange > ellipse { fill: rgb(255, 153, 102); stroke: rgb(51, 51, 51); stroke-width: 4px; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.note { stroke: rgb(110, 170, 73); fill: rgb(255, 245, 173); }
.noteText { fill: black; stroke: none; font-family: 'trebuchet ms',verdana,arial; font-size: 14px; }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.labelBox { stroke: rgb(50, 105, 50); fill: rgb(205, 228, 152); }
.labelText { fill: black; stroke: none; }
.loopText { fill: black; stroke: none; }
.loopLine { stroke-width: 2; stroke: rgb(50, 105, 50); }
/* ::::: [internal] ::::: */

.actor { stroke: rgb(19, 84, 12); fill: rgb(205, 228, 152); }
text.actor { fill: black; stroke: none; }
.actor-line { stroke: grey; }
.messageLine0 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
.messageLine1 { stroke-width: 1.5; stroke: rgb(51, 51, 51); }
#arrowhead { fill: rgb(51, 51, 51); }
#crosshead path { fill: rgb(51, 51, 51) ! important; stroke: rgb(51, 51, 51) ! important; }
.messageText { fill: rgb(51, 51, 51); stroke: none; }
.labelBox { stroke: rgb(50, 105, 50); fill: rgb(205, 228, 152); }
.labelText { fill: black; stroke: none; }
.loopText { fill: black; stroke: none; }
.loopLine { stroke-width: 2; stroke: rgb(50, 105, 50); }
.note { stroke: rgb(110, 170, 73); fill: rgb(255, 245, 173); }
.noteText { fill: black; stroke: none; font-family: 'trebuchet ms',verdana,arial; font-size: 14px; }
