/* ::::: https://buttons.github.io/components/octicons/build/font/octicons.min.css ::::: */

@font-face {
  font-family: "Octicons";
  font-style: normal;
  font-weight: 400;
  src: url("octicons.eot") format("embedded-opentype"), url("octicons.woff2") format("woff2"), url("octicons.woff") format("woff"), url("octicons.ttf") format("truetype"), url("octicons.svg") format("svg");
}
.mega-octicon, .octicon { font: 16px/1 Octicons; display: inline-block; text-decoration: none; text-rendering: auto; }
.octicon-mark-github:before { content: ""; }
/* ::::: https://buttons.github.io/assets/css/buttons.css ::::: */

html { font-family: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif; -moz-user-select: none; }
body { margin: 0px; font-size: 0px; white-space: nowrap; }
a { text-decoration: none; outline: 0px none; }
.octicon { display: inline-block; }
.button, .count { display: inline-block; height: 18px; padding: 0px 5px; color: rgb(51, 51, 51); vertical-align: middle; cursor: pointer; background-color: rgb(255, 255, 255); border: 1px solid rgb(213, 213, 213); border-radius: 3px 3px 3px 3px; }
.button span, .count span { font-weight: 700; }
.button i, .button span, .count span { line-height: 18px; vertical-align: middle; }
.button { font-size: 11px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); background-color: rgb(238, 238, 238); background-image: linear-gradient(to bottom, rgb(252, 252, 252), rgb(238, 238, 238)); }
.button i { font-size: 14px; }
.button span { padding-top: 1px; }
.button:hover { background-color: rgb(221, 221, 221); background-image: linear-gradient(to bottom, rgb(238, 238, 238), rgb(221, 221, 221)); border-color: rgb(204, 204, 204); }
.button:active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset; }
.button:focus { border-color: rgb(81, 167, 232); }
.octicon-alert, .octicon-beaker, .octicon-book, .octicon-broadcast, .octicon-bug, .octicon-checklist, .octicon-cloud-download, .octicon-cloud-upload, .octicon-comment, .octicon-comment-discussion, .octicon-credit-card, .octicon-dashboard, .octicon-desktop-download, .octicon-device-camera, .octicon-device-camera-video, .octicon-device-desktop, .octicon-eye, .octicon-graph, .octicon-home, .octicon-issue-closed, .octicon-keyboard, .octicon-link, .octicon-mark-github, .octicon-markdown, .octicon-megaphone, .octicon-mirror, .octicon-mortar-board, .octicon-mute, .octicon-no-newline, .octicon-octoface, .octicon-organization, .octicon-package, .octicon-pin, .octicon-radio-tower, .octicon-repo-clone, .octicon-repo-pull, .octicon-rocket, .octicon-ruby, .octicon-search, .octicon-settings, .octicon-sign-out, .octicon-smiley, .octicon-squirrel, .octicon-tasklist, .octicon-thumbsdown, .octicon-thumbsup, .octicon-tools, .octicon-unmute, .octicon-unverified, .octicon-verified { width: 1em; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

