/* ::::: http://eschulte.github.io/babel-dev/data/style.css (@media screen) ::::: */

@media screen {
#menu { position: absolute; left: 0.5em; top: 0.5em; }
#back { background: url("org-mode14.png") no-repeat scroll 0% 0% transparent; padding-left: 16px; margin: 0.5em; }
#home { background: url("org-babel14.png") no-repeat scroll 0% 0% transparent; padding-left: 16px; margin: 0.5em; }
#feed { background: url("feed14.png") no-repeat scroll 0% 0% transparent; padding-left: 16px; margin: 0.5em; }
html { font-size: 10pt; }
.done { color: green; }
.timestamp { color: rgb(143, 143, 143); font-family: courier,monospace; }
pre { border: 1pt solid rgb(174, 189, 204); padding: 5pt; font-family: courier,monospace; font-size: 90%; overflow: auto; }
body { color: rgb(34, 34, 34); background-color: rgb(244, 243, 219); }
#content { width: 70%; min-width: 600px; margin: 20px auto; }
.org-comment { color: rgb(178, 34, 34); }
.org-comment-delimiter { color: rgb(178, 34, 34); }
.org-keyword { color: rgb(160, 32, 240); }
.org-org-link { color: rgb(160, 32, 240); text-decoration: underline; }
.org-org-meta-line { color: rgb(178, 34, 34); }
.org-string { color: rgb(139, 34, 82); }
a { background-color: inherit; font: inherit; text-decoration: inherit; }
a:hover { text-decoration: underline; }
pre { background-color: rgb(238, 238, 238); border: 1px solid rgb(187, 187, 187); color: black; overflow: auto; padding: 0.5em; }
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

