/* Code tidied up by ScrapBook */
.comments form { padding-bottom: 20px; padding-top: 10px; }
.comments ul li { margin-bottom: 10px; }
.comments ul li:last-child { width: 60%; text-align: right; }
.comments ul li label { display: inline-block; vertical-align: top; width: 15%; }
.comments ul li input { display: inline-block; width: 40%; }
.comments ul li textarea { width: 40%; min-height: 100px; }
.comments ul li .mandatory { display: none; }
.comments-list .comment { margin: 0px 0px 50px; }
.comments-list .comment cite { font-size: 20px; font-family: 'Oswald',Impact,sans-serif; line-height: 20px; }
.back-to-top-comments { float: right; margin-bottom: 50px; }
.back-to-top-comments .fa-caret-up { margin-left: 10px; }
@media (max-width: 46.8em) {
  .comments ul li label { display: block; }
  .comments ul li input, .comments ul li textarea { display: block; width: 80%; }
}
