/* Code tidied up by ScrapBook */
body { margin: 0px; padding: 0px 0px 1px; }
.content-outer, .header-outer, .tabs-outer, .main-outer, .main-inner, .footer-outer, .post, .comments, .widget, .date-header, .inline-ad { position: relative; min-height: 0px; }
a img { border: medium none; position: relative; }
h1, h2, h3, h4 { margin: 0px; position: relative; }
h1 a:hover { text-decoration: none; }
.item-control { display: none; }
.item-control a, .item-action a { text-decoration: none ! important; }
html { height: 100%; }
body { min-height: 100%; position: relative; }
body { word-wrap: break-word; }
@keyframes mspin-singlecolor-large-film {
0% { transform: translateX(0px); }
100% { transform: translateX(-3888px); }
}
@keyframes mspin-rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes mspin-revrot {
0% { transform: rotate(0deg); }
100% { transform: rotate(-360deg); }
}
.comments { clear: both; margin-top: 10px; margin-bottom: 0px; }
.comments .comments-content { margin-bottom: 16px; }
.comments .comment .comment-actions a { padding-right: 5px; padding-top: 5px; }
.comments .comment .comment-actions a:hover { text-decoration: underline; }
.comments .comments-content .comment-thread ol { list-style-type: none; padding: 0px; text-align: left; }
.comments .comments-content .comment-thread { margin: 8px 0px; }
.comments .comments-content .comment-thread:empty { display: none; }
.comments .comments-content .comment-replies { margin-left: 36px; margin-top: 1em; }
.comments .comments-content .comment { margin-bottom: 16px; padding-bottom: 8px; }
.comments .comments-content .comment:first-child { padding-top: 16px; }
.comments .comments-content .comment:last-child { border-bottom: 0px none; padding-bottom: 0px; }
.comments .comments-content .user { font-style: normal; font-weight: bold; }
.comments .comments-content .datetime { margin-left: 6px; }
.comments .comments-content .comment-header, .comments .comments-content .comment-content { margin: 0px 0px 8px; }
.comments .comments-content .comment-content { text-align: justify; }
.comments .comments-replybox { border: medium none; height: 250px; width: 100%; }
.comments .comment-replybox-single { margin-left: 48px; margin-top: 5px; }
.comments .comment-replybox-thread { margin-top: 5px; }
.comments .comments-content .loadmore a { display: block; padding: 10px 16px; text-align: center; }
.comments .continue { cursor: pointer; }
.comments .continue a { display: block; font-weight: bold; padding: 0.5em; }
.comments .comments-content .loadmore { cursor: pointer; margin-top: 3em; max-height: 3em; }
.comments .comments-content .loadmore.loaded { max-height: 0px; opacity: 0; overflow: hidden; }
.comments .avatar-image-container { float: left; max-height: 36px; overflow: hidden; width: 36px; }
.comments .avatar-image-container img { max-width: 36px; }
.comments .comment-block { margin-left: 48px; position: relative; }
@media screen and (max-device-width: 480px) {
  .comments .comments-content .comment-replies { margin-left: 0px; }
}
@media all {
}
@media handheld {
}
