/* Code tidied up by ScrapBook */
* { box-sizing: border-box; }
body { font-family: 微软雅黑,Hiragino Sans GB,serif; }
p { line-height: 1.6em; }
.wrapper { margin: 2em auto; width: 35em; border-color: rgb(221, 221, 221); border-style: solid; border-width: 1px; border-radius: 3px 3px 3px 3px; padding: 25px 30px 10px; min-width: 700px ! important; }
a.nav:visited { color: rgb(0, 0, 0); }
.content a { color: rgb(65, 131, 196); text-decoration: none; }
.content a:visited { color: rgb(65, 131, 196); }
.content a:hover { color: rgb(65, 131, 196); text-decoration: underline; }
.blog-name { font-size: 1.3em; }
.nav:link { margin-left: 5%; font-size: 1.2em; color: rgb(0, 0, 0); }
.content { margin-top: 5%; }
