/* ::::: [internal] ::::: */

html { width: 100%; }
body { font-family: Georgia,helvetica,sans-serif; font-size: 16px; font-weight: normal; text-align: left; color: black; margin: 8px; padding: 0px; background-color: rgb(255, 255, 255); border-style: solid; border-color: rgb(0, 0, 0); border-width: 0px; }
p { margin: 5px; font-size: 16px; text-indent: 0em; text-align: justify; }
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover { font-weight: bold; color: red; }
h1, h2, h3, h4 { color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-weight: bold; margin: 0px 0px 7px; padding: 4px; font-style: normal; text-align: center; border-bottom: 0px solid rgb(0, 0, 0); }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

