/* ::::: https://ruby-china-assets.b0.upaiyun.com/assets/front-0c4f5bcc1fd665cea003684ef3a1dba5f2d23b64cc3ded5ba1358c363a33ad28.css (@media screen) ::::: */

@media screen {
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont-50bbe9192697e791e2ee4ef73917aeb1b03e727dff08a1fc8d74f00e4aa812e1.eot") format("embedded-opentype"), url("fontawesome-webfont-7dacf83f51179de8d7980a513e67ab3a08f2c6272bb5946df8fd77c0d1763b73.woff2") format("woff2"), url("fontawesome-webfont-adbc4f95eb6d7f2738959cf0ecbc374672fce47e856050a8e9791f457623ac2c.woff") format("woff"), url("fontawesome-webfont-ae19e2e4c04f2b04bf030684c4c1db8faf5c8fe3ee03d1e0c409046608b38912.ttf") format("truetype"), url("fontawesome-webfont-8e3586389bb4cd01b3f85bb3b622739bde6627f28bba63a020c223ca9cf1b9ae.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
.pull-right { float: right; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-github::before { content: ""; }
.fa-feed::before, .fa-rss::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-diamond::before { content: ""; }
.highlight .k { color: rgb(170, 34, 255); font-weight: bold; }
.highlight .o { color: rgb(102, 102, 102); }
.highlight .c1 { color: rgb(176, 178, 176); font-style: italic; }
.highlight .kp { color: rgb(170, 34, 255); }
.highlight .nb { color: rgb(170, 34, 255); }
.highlight .no { color: rgb(136, 0, 0); }
.highlight .nf { color: rgb(0, 160, 0); }
.highlight .mi { color: rgb(102, 102, 102); }
.highlight .sb { color: rgb(187, 68, 68); }
.highlight .s2 { color: rgb(187, 68, 68); }
.highlight .si { color: rgb(187, 102, 136); font-weight: bold; }
.highlight .sx { color: green; }
.highlight .s1 { color: rgb(187, 68, 68); }
.highlight .ss { color: rgb(184, 134, 11); }
.social-share-button .ssb-icon { background-position: center center; background-repeat: no-repeat; background-size: 18px 18px; display: inline-block; height: 18px; width: 18px; }
.social-share-button .ssb-twitter { background-image: url("twitter-7b64ce0117a85c5d52ed45c27707af61d9b0e0d590284baa287cfe87867b9ae1.svg"); }
.social-share-button .ssb-facebook { background-image: url("facebook-03210e1663ee772e93ed5d344cdb36657b68342821aaebe982f2f984915990b3.svg"); }
.social-share-button .ssb-google_plus { background-image: url("google_plus-50c049fbb29cd3346f1bf9349017b644bcd00a53b56bd156728850f57bd85c0a.svg"); }
.social-share-button .ssb-weibo { background-image: url("weibo-a345a6ca554e6f388da9eb35746bb0425cb018c16408ba82852c66d375245d6f.svg"); }
.social-share-button .ssb-douban { background-image: url("douban-46298c27e3bc6d59951c0bbc464339a5ba1b44e3b25b571874f1baacd7af2495.svg"); }
.fluidbox { outline: medium none; }
.fluidbox-wrap { background-position: center center; background-size: cover; margin: 0px auto; position: relative; transition: all 0.25s ease-in-out 0s; }
.fluidbox-ghost { background-size: cover; background-position: center center; position: absolute; z-index: 2000 ! important; transition: all 0.25s ease-in-out 0s; }
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
hr { height: 0px; box-sizing: content-box; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
@media print {
  *, *::after, *::before { color: rgb(0, 0, 0) ! important; text-shadow: none ! important; background: transparent none repeat scroll 0px 0px ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  abbr[title]::after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }
  blockquote, pre { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  h2, h3, p {  }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff2") format("woff2"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h4, h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
.text-center { text-align: center; }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
abbr[data-original-title], abbr[title] { cursor: help; border-bottom: 1px dotted rgb(119, 119, 119); }
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
code { padding: 2px 4px; font-size: 90%; color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 4px; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 13px; line-height: 1.42857; color: rgb(51, 51, 51); word-break: break-all; word-wrap: break-word; background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
pre code { padding: 0px; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-right: -15px; margin-left: -15px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
  .col-md-9 { width: 75%; }
  .col-md-3 { width: 25%; }
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
@media not all {
}
.form-group { margin-bottom: 15px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: 400; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(51, 122, 183); border-color: rgb(46, 109, 164); }
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(40, 96, 144); border-color: rgb(32, 77, 116); }
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success.active, .btn-success:active, .open > .dropdown-toggle.btn-success { background-image: none; }
.btn-danger { color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); border-color: rgb(212, 63, 58); }
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(172, 41, 37); }
.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger { background-image: none; }
.btn-group-sm > .btn, .btn-sm { padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.btn-block { display: block; width: 100%; }
@media (min-width: 768px) {
}
.btn-group, .btn-group-vertical { position: relative; display: inline-block; vertical-align: middle; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
}
.navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; }
@media (min-width: 768px) {
  .navbar-fixed-bottom, .navbar-fixed-top { border-radius: 0px; }
}
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:focus, .navbar-brand:hover { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
@media (min-width: 768px) {
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
.navbar-form { padding: 10px 15px; margin: 8px -15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); }
@media (min-width: 768px) {
  .navbar-form .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
}
@media (max-width: 767px) {
  .navbar-form .form-group { margin-bottom: 5px; }
  .navbar-form .form-group:last-child { margin-bottom: 0px; }
}
@media (min-width: 768px) {
  .navbar-form { width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; border: 0px none; box-shadow: none; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; margin-right: -15px; }
  .navbar-right ~ .navbar-right { margin-right: 0px; }
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { color: rgb(85, 85, 85); background-color: rgb(231, 231, 231); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
.navbar-inverse { background-color: rgb(34, 34, 34); border-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-brand { color: rgb(157, 157, 157); }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > li > a { color: rgb(157, 157, 157); }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { color: rgb(255, 255, 255); background-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.media { margin-top: 15px; }
.media:first-child { margin-top: 0px; }
.media, .media-body { overflow: hidden; }
.media-body { width: 10000px; }
.media-object { display: block; }
.media-right, .media > .pull-right { padding-left: 10px; }
.media-left, .media > .pull-left { padding-right: 10px; }
.media-body, .media-left, .media-right { display: table-cell; vertical-align: top; }
.media-heading { margin-top: 0px; margin-bottom: 5px; }
.list-group { padding-left: 0px; margin-bottom: 20px; }
.list-group-item { position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
.list-group-item:first-child { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.list-group-item:last-child { margin-bottom: 0px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-footer { padding: 10px 15px; background-color: rgb(245, 245, 245); border-top: 1px solid rgb(221, 221, 221); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel > .list-group, .panel > .panel-collapse > .list-group { margin-bottom: 0px; }
.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item { border-width: 1px 0px; border-radius: 0px; }
.panel > .list-group:first-child .list-group-item:first-child, .panel > .panel-collapse > .list-group:first-child .list-group-item:first-child { border-top: 0px none; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel > .list-group:last-child .list-group-item:last-child, .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child { border-bottom: 0px none; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.panel-heading + .list-group .list-group-item:first-child { border-top-width: 0px; }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media not all, not all {
}
@media screen and (min-width: 768px) {
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before { display: table; content: " "; }
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after { clear: both; }
.pull-right { float: right ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
body { background: rgb(233, 234, 237) none repeat scroll 0% 0%; color: rgb(34, 37, 39); font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif; padding-top: 65px; }
.header .navbar { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11); margin-bottom: 15px; border: 0px none; color: rgb(161, 195, 238); z-index: 1030; }
.header .navbar-brand { color: rgb(102, 102, 102) ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: bold; margin-left: 0px ! important; }
.header .navbar-brand b { color: rgb(235, 84, 36); }
.header .navbar-default .navbar-brand, .header .navbar-default .navbar-nav > li > a { color: rgb(51, 51, 51); border-bottom: 3px solid rgb(255, 255, 255); padding-bottom: 12px; }
.header .navbar-default .navbar-nav > li > a:active { background-color: rgb(238, 243, 245); border-bottom-color: rgb(153, 153, 153); }
.header .navbar-inverse .navbar-collapse, .header .navbar-inverse .navbar-form { border-color: rgb(161, 195, 238); }
.header .navbar-nav li.active a, .header .navbar-nav li.active a:focus, .header .navbar-nav li.active a:hover { color: rgb(235, 84, 36); background: transparent none repeat scroll 0% 0%; }
.header #main-nav-menu .navbar-nav { margin: 0px; }
.header #main-nav-menu .navbar-nav a { color: rgb(51, 51, 51); transition: all 0.2s ease-in-out 0s; }
.header #main-nav-menu .navbar-nav li a:hover, .header #main-nav-menu .navbar-nav li.active a, .header #main-nav-menu .navbar-nav li.active a:focus, .header #main-nav-menu .navbar-nav li.active a:hover { border-bottom: 3px solid rgb(235, 84, 36); color: rgb(235, 84, 36); background: transparent none repeat scroll 0% 0%; padding-bottom: 12px; }
.header .user-bar li > a { padding-left: 11px ! important; padding-right: 11px ! important; }
@media (max-width: 767px) {
  .header .navbar-header { text-align: center; padding: 0px; margin-bottom: -41px; }
  .header .navbar-header .navbar-brand { font-size: 12px; float: none; margin: 0px auto; line-height: 46px; }
  .header .navbar-nav { float: left; margin: 0px; }
  .header .navbar-nav > li { float: left; }
  .header .navbar-nav.navbar-right { float: right; }
}
.header .form-search { font-size: 14px; position: relative; margin-top: 13px; margin-right: 10px; }
.header .form-search .fa { color: rgb(51, 51, 51); }
.header .form-search .fa:hover { color: rgb(102, 102, 102); }
.header .form-search .fa-search { cursor: pointer; position: absolute; top: 6px; right: 0px; transition: all 0.3s ease 0s; }
.header .form-search .form-control { font-size: 12px; border: medium none; width: 0px; height: 100%; padding: 6px 1px 4px; margin-left: 4px; background: transparent none repeat scroll 0% 0%; transition: all 0.3s ease 0s; box-sizing: border-box; color: rgb(51, 51, 51); }
.header .form-search.active .form-control { width: 150px ! important; cursor: text; }
.header .form-search.active .fa-search { left: 0px; right: auto; }
.sidebar.col-md-3 { padding-left: 0px; }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(48, 48, 48); }
.btn { border-radius: 3px; border: 1px solid rgb(204, 204, 204); padding: 5px 12px; outline: 0px none ! important; }
.btn-primary, .btn-primary:visited { background: rgb(53, 109, 208) none repeat scroll 0% 0%; border-color: rgb(13, 84, 171); color: rgb(255, 255, 255); }
.btn-primary:hover { background: rgb(49, 125, 218) none repeat scroll 0% 0%; border-color: rgb(53, 109, 208); }
.btn-danger, .btn-danger:visited { background: rgb(235, 84, 36) none repeat scroll 0% 0%; border-color: rgb(205, 58, 20); }
.btn-danger:hover { background: rgb(248, 99, 52) none repeat scroll 0% 0%; border-color: rgb(235, 84, 36); }
.btn-success, .btn-success:visited { background: rgb(69, 199, 34) none repeat scroll 0% 0%; border-color: rgb(57, 182, 24); }
.btn-success:hover { background: rgb(59, 213, 78) none repeat scroll 0% 0%; border-color: rgb(69, 199, 34); }
.form-control { border-radius: 3px; border-color: rgb(221, 221, 221); box-shadow: 0px 0px 0px transparent inset ! important; transition: none 0s ease 0s ; }
.form-control:focus { box-shadow: 0px 0px 0px rgb(255, 255, 255) inset; border-color: rgb(49, 125, 218); }
abbr[title] { border-bottom: 0px none; cursor: text; }
.panel { border-radius: 3px; border-width: 1px; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); margin-bottom: 15px; }
.panel .panel-heading { background: rgb(250, 250, 250) none repeat scroll 0% 0%; padding: 6px 15px; border-bottom-color: rgb(238, 238, 238); color: rgb(119, 119, 119); }
.panel .panel-footer { padding: 6px 15px; border-top-color: rgb(238, 238, 238); background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.list-group .list-group-item { border-color: rgb(238, 238, 238); }
.opts { color: rgb(102, 102, 102); }
.opts a:link, .opts a:visited { color: rgb(102, 102, 102); padding: 3px; text-decoration: none; }
.opts a:hover { background: rgb(240, 240, 240) none repeat scroll 0% 0%; color: rgb(102, 102, 102); text-decoration: none; }
.pull-right.opts a { margin-left: 5px; margin-right: 0px; }
.avatar .uface, .avatar .media-object { border-radius: 120px; }
.avatar-48 { width: 48px; height: 48px; border-radius: 120px; }
@media (max-width: 480px) {
  .avatar-48 { width: 32px; height: 32px; }
}
img.emoji { width: 20px; height: 20px; }
.fa.awesome { font-size: 13px; color: rgb(235, 84, 36); }
.deleted { text-decoration: line-through; color: rgb(224, 224, 224); }
@media (max-width: 480px) {
  .hidden-mobile { display: none ! important; }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
.sidebar { padding-right: 0px; }
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@keyframes bounceIn {
0% { opacity: 0; transform: scale(0.5); }
50% { opacity: 1; transform: scale(1.5); }
70% { transform: scale(0.9); }
100% { transform: scale(1); }
}
@media (max-width: 991px) {
}
.topic-detail { margin-bottom: 15px; }
.topic-detail .panel-heading { padding: 15px; transition: all 0.3s ease 0s; }
.topic-detail .panel-heading h1 { margin-top: 0px; font-size: 24px; color: rgb(51, 51, 51); text-align: left; line-height: 100%; margin-bottom: 8px; }
.topic-detail .panel-heading .avatar { text-align: right; }
.topic-detail .label-awesome { font-size: 13px; background: rgb(252, 248, 247) none repeat scroll 0% 0%; padding: 3px 15px; border-top: 1px solid rgb(234, 229, 228); color: rgb(170, 165, 164); }
.topic-detail .info { color: rgb(192, 192, 192); font-size: 12px; }
.topic-detail .info a { color: rgb(68, 68, 68); }
.topic-detail .info .node { color: rgb(153, 153, 153); font-weight: bold; }
.topic-detail .info .user-name { color: rgb(53, 109, 208); font-size: 13px; }
#topic-sidebar { position: fixed; display: none; width: 260px; }
@media (min-width: 960px) {
  #topic-sidebar { display: block; width: 242px; }
}
@media (min-width: 1200px) {
  #topic-sidebar { display: block; width: 292px; }
}
#topic-sidebar .group { text-align: center; margin-bottom: 20px; }
#topic-sidebar .buttons { margin-top: 20px; }
#topic-sidebar .buttons .likes a { display: block; width: 90px; margin: 0px auto; border-radius: 5px; padding: 10px 0px; }
#topic-sidebar .buttons .likes a:link, #topic-sidebar .buttons .likes a:hover, #topic-sidebar .buttons .likes a:visited { text-decoration: none; color: rgb(51, 51, 51); }
#topic-sidebar .buttons .likes a:hover { background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0%; }
#topic-sidebar .buttons .likes i.fa { display: block; font-size: 40px; margin-bottom: 10px; color: rgb(102, 102, 102); }
#topic-sidebar .reply-buttons { text-align: center; }
#topic-sidebar .reply-buttons .total { margin-bottom: 10px; }
#topic-sidebar a.btn-move-page { color: rgb(102, 102, 102); }
#replies { margin-bottom: 15px; }
#replies .panel-body { padding-top: 0px; padding-bottom: 0px; }
#replies .info .opts a { font-size: 13px; margin-left: 5px; color: rgb(153, 153, 153); }
#replies .info .opts a:hover { color: rgb(51, 51, 51); }
#replies .info .opts a.edit { display: none; }
#replies .reply { margin: 0px -15px; padding: 15px 15px 15px 74px; position: relative; border-bottom: 1px solid rgb(238, 238, 238); }
#replies .reply.reply-system, #replies .reply.reply-deleted { padding: 8px 15px; font-size: 12px; color: rgb(102, 102, 102); border-bottom: 1px solid rgb(240, 240, 240); }
#replies .reply .infos { min-height: 48px; }
#replies .reply .avatar { position: absolute; top: 15px; left: 15px; }
#replies .reply:last-child { border-bottom: 0px none; }
#replies .reply .info { color: rgb(153, 153, 153); margin-bottom: 6px; font-size: 12px; }
#replies .reply .info .name { font-weight: bold; font-size: 13px; }
#replies .reply .info .name a { color: rgb(85, 85, 85); }
#replies .reply .info .reply-floor { color: rgb(122, 168, 122); }
#replies .reply .opts a { display: inline-block; vertical-align: baseline; line-height: 22px; padding: 2px 5px; height: 22px; min-width: 22px; text-align: center; }
@media (min-width: 1026px) {
  #replies .reply .hideable { display: none; }
}
#replies .reply:hover .hideable { display: inline-block; }
@media (max-width: 480px) {
  #replies .reply { padding-left: 57px; }
}
.sidebar .panel-body { word-break: break-all; }
@media (min-width: 744px) and (max-width: 1200px) {
}
.social-share-button { height: 16px; }
.social-share-button a:link, .social-share-button a:visited { color: rgb(119, 119, 119); }
.social-share-button a:hover { color: rgb(49, 125, 218); }
.markdown { position: relative; line-height: 1.8em; font-size: 14px; text-overflow: ellipsis; word-wrap: break-word; font-family: "PingFang SC","Hiragino Sans GB",Helvetica,Arial,"Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif ! important; }
.markdown img { max-width: 100%; }
.markdown p, .markdown pre, .markdown ul, .markdown ol, .markdown blockquote { margin-bottom: 16px; }
.markdown p { font-size: 14px; line-height: 1.5em; }
.markdown pre { font-family: Menlo,Monaco,"Courier New",monospace; font-size: 12px; background-color: rgb(245, 245, 245); border: 0px none; padding: 5px; color: rgb(68, 68, 68); overflow: auto; border-radius: 0px; }
.markdown pre code { display: block; line-height: 150%; padding: 0px ! important; font-size: 12px ! important; background-color: rgb(245, 245, 245) ! important; border: medium none ! important; }
.markdown p:last-child, .markdown blockquote:last-child, .markdown pre:last-child { margin-bottom: 0px; }
.markdown code { font-size: 12px ! important; background-color: rgb(245, 245, 245) ! important; color: rgb(68, 68, 68) ! important; padding: 1px 2px ! important; border: 0px none; margin: 2px; border-radius: 0px; word-break: break-all; line-height: 20px; font-family: Monaco,Menlo,"Courier New",monospace; }
.markdown a:link, .markdown a:visited { color: rgb(0, 105, 214) ! important; text-decoration: none ! important; }
.markdown a:hover { text-decoration: underline ! important; color: rgb(0, 67, 138) ! important; }
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 { font-weight: bold; text-align: left; margin-top: 10px ! important; margin-bottom: 16px; }
.markdown h2, .markdown h3, .markdown h4 { text-align: left; font-weight: bold; font-size: 16px ! important; line-height: 100%; margin: 16px 0px; color: rgb(85, 85, 85); border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 5px; }
.markdown strong { color: rgb(0, 0, 0); }
.markdown ul, .markdown ol { list-style-position: inside; list-style-type: square; margin: 0px 0px 20px; padding: 0px 20px; }
.markdown ul li, .markdown ol li { line-height: 1.6em; padding: 2px 0px; color: rgb(51, 51, 51); }
.markdown img { vertical-align: top; max-width: 100%; }
.markdown a.zoom-image { cursor: zoom-in; }
.markdown a.at_floor { color: rgb(96, 181, 102) ! important; }
.markdown a.at_user { color: rgb(0, 105, 214) ! important; }
footer { margin-top: 10px; margin-bottom: 20px; color: rgb(156, 164, 169); }
footer a { color: rgb(102, 102, 102); }
footer .links { color: rgb(221, 221, 221); }
footer .socials a { font-size: 20px; margin-right: 8px; }
@media (min-width: 1100px) {
}
.notify-updated { display: none; padding: 4px 15px; margin-bottom: 20px; text-align: left; background: rgb(253, 248, 166) none repeat scroll 0% 0%; border: 1px solid rgb(245, 227, 164); color: rgb(139, 37, 35); }
.notify-updated a:link, .notify-updated a:visited { color: rgb(181, 139, 3); }
}
