/* ::::: http://jblevins.org/all.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, table, tbody, caption, th, td, iframe, figure { margin: 0pt; border: 0pt none; padding: 0pt; }
a:link, a:visited { text-decoration: none; border: medium none; }
img { border: medium none; }
html { -moz-box-sizing: border-box; overflow-y: scroll; font-size: 1em; }
*, *:before, *:after { -moz-box-sizing: inherit; }
body { margin: 0pt auto; max-width: 60rem; -moz-font-feature-settings: "liga=1, swsh=0, cswh=0"; text-rendering: optimizelegibility; font-family: "Minion Pro Caption",minion-pro-caption,"Minion Pro","Garamond Premier Pro Caption","Garamond Premier Pro","Hoefler Text",Constantia,Garamond,Palatino,"Palatino Linotype",Baskerville,"Book Antiqua",Georgia,"Century Schoolbook L",serif; color: rgb(51, 50, 50); }
body > header, body > footer { position: relative; }
article { position: relative; }
p, dt, dd { line-height: 1.5rem; }
p { margin-top: 0pt; margin-bottom: 1.5rem; text-align: justify; -moz-hyphens: auto; }
header > p, footer > p { margin-bottom: 1.5rem; }
h1, h2, h3, h4, h5, h6 { font-family: "Garamond Premier Pro",garamond-premier-pro,"Adobe Caslon Pro","Minion Pro",Constantia,serif; font-weight: normal; font-style: normal; color: rgb(17, 17, 17); clear: left; }
h1 { margin-top: 1.5rem; margin-bottom: 1.5rem; line-height: 3rem; }
h2 { margin-top: 1.5rem; line-height: 3rem; }
li { line-height: 1.5rem; }
article li { text-align: justify; }
article a:link, article a:visited { color: rgb(61, 81, 153); }
article a:hover { color: rgb(183, 91, 71); border-bottom: 1px solid rgb(183, 91, 71); }
aside a:link, aside a:visited { color: rgb(61, 81, 153); }
aside a:hover { color: rgb(183, 91, 71); }
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited { border: 0pt none; color: rgb(17, 17, 17); text-decoration: none; }
h1 a:hover, h2 a:hover { border: 0pt none; color: rgb(183, 91, 71); text-decoration: none; }
ul, ol { padding-left: 1.8rem; margin-bottom: 1.5rem; }
abbr.abbr { letter-spacing: 0.05rem; }
abbr[title] { border-bottom: 1px dotted rgb(196, 188, 179); }
code, pre, kbd { font-family: Inconsolata,inconsolata,"Source Code Pro",Terminus,Consolas,"Liberation Mono","Bitstream Vera Sans Mono","Andale Mono WT","Andale Mono",Monaco,"Lucida Console","Lucida Sans Typewriter","Nimbus Mono L","Courier New",Courier,monospace; }
pre { border: 1px solid rgb(196, 188, 179); margin: 0pt 0pt 1.5rem; padding: 0.6875rem; background-color: rgb(241, 239, 236); color: rgb(51, 50, 50); line-height: 1.5rem; white-space: pre; overflow-x: scroll; border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; }
code, kbd { padding: 0pt 0.3rem; background-color: rgb(241, 239, 236); border-radius: 0.2rem 0.2rem 0.2rem 0.2rem; }
pre > code { display: block; padding: 0pt; border: 0pt none; background-color: inherit; overflow-x: scroll; }
img { max-width: 100%; }
figure { margin: 0pt auto; }
figure img { margin: 0pt auto; display: block; }
figure figcaption { text-align: center; margin-bottom: 1.5rem; }
.meta, body > header, body > footer, header > p, footer > p, h1 + p.date, h1 + div.subtitle { font-family: "Myriad Pro",myriad-pro,"Helvetica Neue",Helvetica,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Corbel,Verdana,sans-serif; color: rgb(115, 114, 113); font-size: 0.875rem; }
.meta a:link, body > header a:link, body > footer a:link, header > p a:link, footer > p a:link, h1 + p.date a:link, h1 + div.subtitle a:link, .meta a:visited, body > header a:visited, body > footer a:visited, header > p a:visited, footer > p a:visited, h1 + p.date a:visited, h1 + div.subtitle a:visited { color: rgb(115, 114, 113); text-decoration: none; border: 0pt none; }
.meta a:hover, body > header a:hover, body > footer a:hover, header > p a:hover, footer > p a:hover, h1 + p.date a:hover, h1 + div.subtitle a:hover { color: rgb(17, 17, 17); }
code .math, code .date, code .time, code .oldfile, code .string, code .regexp, code .character { color: rgb(73, 118, 61); }
code .selector, code .type { font-weight: bold; color: rgb(204, 110, 89); }
aside > nav > ul { margin: 0pt; padding: 0pt; text-transform: uppercase; font-family: "Myriad Pro",myriad-pro,"Helvetica Neue",Helvetica,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Corbel,Verdana,sans-serif; }
aside > nav > ul > li { margin: 0pt; padding: 0pt; list-style: none outside none; }
#ads-container { font-family: "Myriad Pro",myriad-pro,"Helvetica Neue",Helvetica,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Corbel,Verdana,sans-serif; font-size: 0.75rem; line-height: 1.5rem; }
@media only screen and (min-width: 769px) {
	body { position: relative; padding: 0pt 3rem 1.5rem; margin: 0pt auto; color: rgb(51, 50, 50); }
	body > aside { float: left; width: 9.125rem; margin-top: 9rem; margin-right: -9.125rem; text-align: right; }
	body > #content, body > header, body > footer { margin-left: 12.125rem; }
	body > #content { float: left; max-width: 39.875rem; margin-right: 2rem; }
	header > h1 { margin-top: 3rem; }
	body > footer { float: left; clear: both; padding-top: 3rem; }
	aside > h1 { margin-top: 0pt; margin-bottom: 0pt; font-size: 1.25rem; line-height: 1.5rem; text-transform: uppercase; }
	aside > h1 span { display: block; }
	aside > nav > ul { margin-bottom: 1.5rem; }
	#ads-container { width: 9.125rem; margin: 3rem auto; }
}
@media only screen and (min-width: 415px) {
	h1 { font-size: 2.25rem; }
	h2 { font-size: 1.5rem; }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
	html { padding: 0pt 2rem 2rem; }
	body > aside { text-align: center; }
	aside > h1, aside > nav > ul { margin: 0pt -2rem; }
	aside nav ul { margin-bottom: 1.5rem; display: block; text-align: center; }
	aside nav ul li { margin: 0.75rem 0.25rem; display: inline; }
	aside nav ul li a { padding: 0.75rem; }
	#ads-container { max-width: 24rem; margin-left: auto; margin-right: auto; }
}
@media only screen and (max-width: 768px) {
	aside nav ul.secondary { display: none; }
	aside > h1 { font-size: 2.25rem; line-height: 3rem; text-align: center; background-color: rgb(241, 239, 236); }
	aside nav ul { background-color: rgb(241, 239, 236); border-bottom: 1px solid rgb(196, 188, 179); }
	#ads-container { margin-top: 1.5rem; }
}
@media only screen and (max-width: 414px) {
	html { padding: 0pt 1rem 1rem; }
	header > h1 { margin-top: 1.5rem; }
	body > footer { float: left; width: 100%; clear: both; text-align: center; }
	body > footer > p { text-align: center; }
	h1 { font-size: 1.75rem; }
	h2 { font-size: 1.5rem; }
	aside > h1 { margin: 0pt -1rem; }
	aside nav ul, #homepage nav ul { display: block; text-align: center; margin: 0pt -1rem; }
	aside nav ul li, #homepage nav ul li { margin-right: 0.2rem; display: inline; }
	aside nav ul li a, #homepage nav ul li a { padding: 0pt 0.2rem; }
	aside nav ul li a.secondary { display: none; }
}
/* ::::: http://use.typekit.com/k/iur2xka-d.css?3bb2a6e53c9684ffdc9a9aff1b5b2a6276adde0ff798449a3bfbdbfeb5fa69584a6a6496626f91ce2fb0a2d78f5c41911651684dee1c4952a2153e81362129f6c657d49d4529f7a241f4d685115a4527ef66cf852969fffff73fd8 ::::: */

@font-face {
	font-family: "inconsolata";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "myriad-pro";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "minion-pro-caption";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "minion-pro-caption";
	font-style: italic;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "minion-pro-caption";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "garamond-premier-pro";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
