/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; }
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Lantinghei SC","Helvetica Neue","Microsoft YaHei","微软雅黑","Arial","STHeiti","WenQuanYi Micro Hei","SimSun","sans-serif"; font-size: 14px; line-height: 1.42857; color: rgb(84, 84, 84); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(56, 72, 90); text-decoration: none; }
a:hover, a:focus { color: rgb(27, 34, 43); }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
[role="button"] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; line-height: 1.1; color: inherit; }
.h1, h2 { margin-bottom: 10px; }
.h2, h3, .h3 { margin-bottom: 10px; }
h2, .h2 { font-size: 18px; }
h3, .h3 { font-size: 16px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
small, .small { font-size: 85%; }
.text-primary { color: rgb(61, 169, 247); }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
blockquote { padding: 10px 20px; margin: 0px 0px 20px; font-size: 17.5px; border-left: 5px solid rgb(255, 255, 255); }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0px; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.row { margin-left: -15px; margin-right: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 { float: left; }
  .col-sm-4 { width: 33.3333%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 { float: left; }
  .col-md-12 { float: left; width: 100%; }
  .col-md-9 { width: 75%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-3 { width: 25%; }
}
@media (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
input[type="search"] { box-sizing: border-box; }
output, .form-control { display: block; font-size: 14px; line-height: 1.42857; color: rgb(84, 84, 84); }
.form-control { width: 100%; height: 34px; padding: 6px 12px; background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(223, 223, 223); border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
textarea.form-control { height: auto; }
input[type="search"] {  }
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 3px 3px 3px 3px; -moz-user-select: none; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; opacity: 0.65; box-shadow: none; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(61, 169, 247); border-color: rgb(61, 169, 247); }
.btn-primary:focus, .btn-primary.focus { color: rgb(255, 255, 255); background-color: rgb(12, 147, 245); border-color: rgb(7, 104, 173); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(12, 147, 245); border-color: rgb(10, 142, 237); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(12, 147, 245); border-color: rgb(10, 142, 237); }
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus { color: rgb(255, 255, 255); background-color: rgb(9, 127, 213); border-color: rgb(7, 104, 173); }
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background-image: none; }
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active { background-color: rgb(61, 169, 247); border-color: rgb(61, 169, 247); }
.collapse { display: none; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: none outside none; font-size: 14px; text-align: left; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 3px 3px 3px 3px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); background-clip: padding-box; }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { text-decoration: none; color: rgb(38, 38, 38); background-color: rgb(245, 245, 245); }
@media (min-width: 768px) {
}
.nav { margin-bottom: 0px; padding-left: 0px; list-style: none outside none; }
.nav > li, .nav > li > a { position: relative; display: block; }
.nav > li > a { padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(61, 169, 247); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 60px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 3px 3px 3px 3px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-left: 0px; padding-right: 0px; }
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 340px; }
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { max-height: 200px; }
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
}
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; }
@media (min-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0px 0px 0px 0px; }
}
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-brand { float: left; padding: 20px 15px; font-size: 18px; line-height: 20px; height: 60px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-brand > img { display: block; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 13px; margin-bottom: 13px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 3px 3px 3px 3px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 10px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 20px; padding-bottom: 20px; }
}
.navbar-form { padding: 10px 15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); margin: 13px -15px; }
@media (min-width: 768px) {
  .navbar-form .form-control { display: inline-block; width: auto; vertical-align: middle; }
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-form { width: auto; border: 0px none; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; box-shadow: none; }
}
.navbar-text { margin-top: 20px; margin-bottom: 20px; }
@media (min-width: 768px) {
  .navbar-text { float: left; margin-left: 15px; margin-right: 15px; }
}
@media (min-width: 768px) {
  .navbar-right { float: right ! important; margin-right: -15px; }
}
.navbar-default { background-color: rgb(255, 255, 255); border-color: rgb(238, 238, 238); }
.navbar-default .navbar-brand { color: rgb(84, 84, 84); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(59, 59, 59); background-color: transparent; }
.navbar-default .navbar-text { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a { color: rgb(84, 84, 84); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(56, 72, 90); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(238, 238, 238); }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
.panel { margin-bottom: 20px; background-color: rgb(255, 255, 255); border: 1px solid transparent; border-radius: 3px 3px 3px 3px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body { padding: 15px; }
.panel-heading { padding: 10px 15px; border-bottom: 1px solid transparent; border-top-right-radius: 2px; border-top-left-radius: 2px; }
.panel-default { border-color: rgb(223, 223, 223); }
.panel-default > .panel-heading { color: rgb(51, 51, 51); background-color: rgb(243, 243, 243); border-color: rgb(223, 223, 223); }
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
.carousel, .carousel-inner { position: relative; }
.carousel-inner { overflow: hidden; width: 100%; }
.carousel-inner > .item { display: none; position: relative; transition: left 0.6s ease-in-out 0s; }
.carousel-inner > .item > img, .carousel-inner > .item > a > img { line-height: 1; }
@media not all, not all {
  .carousel-inner > .item { transition: transform 0.6s ease-in-out 0s; backface-visibility: hidden; perspective: 1000px; }
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active { transform: translate3d(0px, 0px, 0px); left: 0px; }
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0px; }
.carousel-control { position: absolute; top: 0px; left: 0px; bottom: 0px; width: 70px; opacity: 0.5; font-size: 40px; color: rgb(255, 255, 255); text-align: center; text-shadow: none; }
.carousel-control.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background-repeat: repeat-x; }
.carousel-control.right { left: auto; right: 0px; background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%); background-repeat: repeat-x; }
.carousel-control:hover, .carousel-control:focus { outline: 0px none; color: rgb(255, 255, 255); text-decoration: none; opacity: 0.9; }
.carousel-caption { position: absolute; left: 15%; right: 15%; bottom: 20px; z-index: 10; padding-top: 20px; padding-bottom: 20px; color: rgb(255, 255, 255); text-align: center; text-shadow: none; }
@media screen and (min-width: 768px) {
  .carousel-caption { left: 20%; right: 20%; padding-bottom: 30px; }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { content: " "; display: table; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; -moz-font-feature-settings: normal; -moz-font-language-override: normal; font-size: inherit; text-rendering: auto; transform: translate(0px, 0px); }
.fa-2x { font-size: 2em; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-search:before { content: ""; }
.fa-star-o:before { content: ""; }
.fa-pencil:before { content: ""; }
.fa-arrow-up:before { content: ""; }
.fa-mail-forward:before, .fa-share:before { content: ""; }
.fa-comments:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-angle-left:before { content: ""; }
.fa-angle-right:before { content: ""; }
.fa-weibo:before { content: ""; }
.fa-qq:before { content: ""; }
.fa-wechat:before, .fa-weixin:before { content: ""; }
.fa-share-alt:before { content: ""; }
.fa-newspaper-o:before { content: ""; }
@keyframes nprogress-spinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.be.comment-group { overflow: hidden; }
.be.comment-form .meta { margin-top: 10px; }
.be.comment-form .btn-submit { float: right; }
.line-margin { margin-bottom: 15px ! important; }
html { text-rendering: optimizelegibility; }
*, :hover, :active, :focus { outline: 0px none; }
a:hover, a:focus, a:active { outline: 0px none; }
a { transition: color 600ms ease 0s, background-color 600ms ease 0s, border-color 600ms ease 0s; }
a:hover, a:focus { text-decoration: none; }
ul { padding: 0px; }
ul li { list-style: none outside none; }
@media screen and (min-width: 1200px) {
  .container { width: 1100px; }
}
.content-wrapper { min-height: 400px; margin-top: 90px; }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; font-weight: 600; }
.caret { border-top: 4px dashed; }
b, strong, label, th { font-weight: 600; }
blockquote { font-size: inherit; }
.carousel { height: 400px; }
@media screen and (max-width: 480px) {
  .carousel { height: 250px; }
}
.carousel .carousel-inner { overflow: hidden; height: 400px; }
@media screen and (max-width: 480px) {
  .carousel .carousel-inner { height: 250px; }
}
.carousel .carousel-inner .item { height: 400px; }
@media screen and (max-width: 480px) {
  .carousel .carousel-inner .item { height: 250px; }
}
.carousel .carousel-inner img { width: 100%; height: 100% ! important; }
.carousel .carousel-caption { left: 0px; bottom: 0px; width: 100%; padding: 20px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4); text-align: left; font-size: 18px; }
.carousel .carousel-control { padding-top: 150px; background: none repeat scroll 0px 0px transparent; }
@media screen and (max-width: 480px) {
  .carousel .carousel-control { padding-top: 90px; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
form .form-control { box-shadow: none; transition: border-color 600ms ease 0s; }
form .form-control:focus { box-shadow: none; }
form input { box-shadow: none; }
#totop { position: fixed; width: 40px; right: 18px; bottom: 40%; background-color: rgba(0, 0, 0, 0.07); }
@media screen and (max-width: 768px) {
  #totop { display: none; }
}
#totop a { display: block; width: 40px; height: 45px; line-height: 50px; text-align: center; }
#totop a:hover { color: rgb(61, 169, 247); }
#totop a.feedback { height: auto; padding: 10px 10px 0px; line-height: 1.2; font-size: 14px; }
#totop a.feedback i { font-size: 15px; }
#totop a.recommend { background: none repeat scroll 0% 0% rgb(255, 139, 0); padding-bottom: 4px; border-radius: 3px 3px 3px 3px; }
#totop .fa { font-size: 20px; }
#totop .fa.totop:hover { border-color: rgb(61, 169, 247); }
.common-list { width: 100%; }
.common-list .item { position: relative; overflow: hidden; width: 100%; margin-bottom: 15px; }
.common-list .item:last-child { margin-bottom: 0px; }
.common-list .item .title { margin-top: 0px; font-weight: 600; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.common-list .item .content { line-height: 1.8; }
.common-list .right { width: 100%; float: left; }
.common-list a img { position: relative; z-index: 1; float: left; border: 1px solid rgb(223, 223, 223); }
.side-list .item { height: 90px; }
.side-list .right { height: 75px; padding-left: 85px; margin-left: -75px; }
.side-list a img { width: 75px; height: 75px; }
.text-list { margin: 0px; }
.text-list .item { margin: 5px 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-list .item:first-child { margin-top: 0px; }
.text-list .item:last-child { margin-bottom: 0px; }
#share { position: fixed; width: 40px; left: 20px; top: 35%; }
@media screen and (max-width: 768px) {
  #share { display: none; }
}
#share a { float: left; width: 40px ! important; height: 40px ! important; line-height: 40px ! important; text-align: center; vertical-align: middle; background: none repeat scroll 0px 0px transparent; color: rgb(255, 255, 255); }
#share a .fa { padding: 5px; margin-top: 5px; font-size: 22px ! important; }
#share a.star { background-color: rgb(240, 204, 35); }
#share a.weibo { background-color: rgb(255, 97, 97); }
#share a.weixin { background-color: rgb(39, 174, 107); }
#share a.qq { background-color: rgb(105, 196, 123); }
#share a.twitter { background-color: rgb(61, 169, 247); }
#share-phone { position: fixed; width: 150px; left: 20px; bottom: 0px; z-index: 99; }
#share-phone a { font-size: 24px; }
#share-phone .weibo { color: rgb(255, 97, 97); }
#share-phone .qq { color: rgb(105, 196, 123); }
#share-phone .twitter { color: rgb(61, 169, 247); }
.editor [data-align="center"] { text-align: center; }
.editor p { margin-bottom: 40px; }
.editor img { max-width: 100% ! important; height: auto ! important; }
.editor ul { padding-left: 20px; }
.editor ol { padding-left: 40px; }
.editor blockquote, .editor ul, .editor ol { border-left: 4px solid rgb(61, 169, 247); }
.editor a { padding-bottom: 2px; border-bottom: 2px solid rgb(223, 223, 223); font-weight: 600; }
.editor a:hover { color: rgb(61, 169, 247); border-color: rgb(61, 169, 247); }
.editor .statement { margin-top: 40px; }
#navbar .navbar-brand { padding: 0px 15px; line-height: 60px; }
@media screen and (max-width: 768px) {
  #navbar .navbar-brand { padding-right: 0px; }
}
#navbar .navbar-brand img { width: 144px; height: 52px; margin-top: 4px; vertical-align: middle; }
@media screen and (max-width: 768px) {
  #navbar .navbar-brand img { width: 110px; height: 42px; margin-top: 10px; }
}
#navbar #main-nav { font-size: 18px; }
@media screen and (max-width: 768px) {
  #navbar #main-nav { margin-left: -15px; margin-bottom: 0px; display: block ! important; }
}
@media screen and (max-width: 992px) {
  #navbar #main-nav { display: none; }
}
#navbar #main-nav a { padding-left: 12px; padding-right: 12px; font-weight: 600; color: rgb(61, 169, 247); transition: color 600ms ease 0s, background-color 600ms ease 0s; }
#navbar #main-nav a .new { position: absolute; top: 10px; right: -6px; color: rgb(239, 105, 107); line-height: 8px; font-size: 10px; }
@media screen and (max-width: 1200px) {
  #navbar #main-nav a { padding-left: 4px; padding-right: 4px; }
}
@media screen and (max-width: 768px) {
  #navbar #main-nav a { padding-left: 20px; padding-right: 20px; }
}
#navbar #main-nav a:hover { background: none repeat scroll 0px 0px transparent; }
#navbar #second-nav { display: none; }
@media screen and (max-width: 992px) {
  #navbar #second-nav { display: block; }
}
#navbar #second-nav .dropdown-toggle { color: rgb(61, 169, 247); font-size: 18px; }
@media screen and (max-width: 768px) {
  #navbar #second-nav { display: none; }
}
@media screen and (max-width: 768px) {
}
#navbar #phone-show { display: none; }
@media screen and (max-width: 768px) {
  #navbar #phone-show { display: block; }
}
@media screen and (max-width: 768px) {
}
#navbar .navbar-form { padding-left: 0px; position: relative; overflow: hidden; display: block; float: right; max-width: 180px; border: medium none; }
@media screen and (max-width: 768px) {
  #navbar .navbar-form { width: 110px; margin-right: 4px; padding: 0px; }
}
#navbar .navbar-form input { float: right; width: 90%; transition: width 200ms ease 0s; }
@media screen and (max-width: 768px) {
  #navbar .navbar-form input { padding-right: 15px; padding-left: 2px; }
}
@media screen and (max-width: 1200px) {
  #navbar .navbar-form input { width: 100%; }
}
#navbar .navbar-form input:focus { width: 100%; }
#navbar .navbar-form button { position: absolute; right: 25px; top: 8px; padding: 0px; border: medium none; background: none repeat scroll 0px 0px transparent; color: rgb(153, 153, 153); }
@media screen and (max-width: 768px) {
  #navbar .navbar-form button { top: 0px; right: 0px; height: 33px; width: 33px; float: right; display: inline; }
}
#navbar .navbar-text { margin-right: 0px; }
#navbar .user-info { margin-left: 0px; height: 60px; line-height: 60px; margin-top: 0px; margin-bottom: 0px; }
@media screen and (max-width: 768px) {
  #navbar .user-info { width: 100%; }
  #navbar .user-info .dropdown-menu { left: 0px ! important; right: auto; }
}
#navbar .user-info .dropdown-menu { margin-top: 0px; border-radius: 0px 0px 0px 0px; }
.header-bar { height: 40px; border-bottom: 3px solid rgb(223, 223, 223); }
.header-bar .title { display: inline-block; height: 40px; margin: 0px; padding: 8px 25px 10px; border-bottom: 3px solid rgb(61, 169, 247); }
#footer { position: relative; margin-top: 30px; border-top: 1px solid rgb(55, 58, 60); background: none repeat scroll 0% 0% rgb(32, 36, 50); color: rgb(153, 153, 153); }
#footer .container { margin: 0px auto; padding-top: 50px; padding-bottom: 50px; }
#footer .title { margin-bottom: 10px; color: rgb(255, 255, 255); font-weight: 600; }
#footer li { line-height: 2; padding: 0px; }
#footer a { color: rgb(153, 153, 153); }
#footer a:hover { color: rgb(204, 204, 204); }
#footer .partners li { display: inline-block; }
#footer .partners li a { display: inline-block; padding-right: 15px; }
#footer .copyright p { line-height: 25px; }
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
#news-view .article header { border-left: 4px solid rgb(61, 169, 247); padding: 8px 0px 8px 15px; }
#news-view .article header .title { margin-top: 0px; margin-bottom: 10px; font-weight: 600; font-size: 18px; color: rgb(56, 72, 90); }
#news-view .article header p { margin-top: 15px; margin-bottom: 0px; }
#news-view .article header .category { color: rgb(61, 169, 247); font-weight: 600; }
#news-view .article header .time { margin-left: 20px; }
#news-view .article section { margin-top: 30px; }
#news-view .article section .img { overflow: hidden; margin-top: 30px; text-align: center; }
#news-view .article section .img img { max-width: 100%; }
#news-view .article section .summary { padding: 5px 10px; border: 1px solid rgb(223, 223, 223); background-color: rgb(243, 243, 243); line-height: 30px; }
#news-view .article section .summary .zhaiyao { font-weight: 600; color: rgb(61, 169, 247); }
#news-view .article section .content { margin-top: 20px; line-height: 30px; font-size: 16px; color: rgb(56, 72, 90); }
#news-view .article section .content a { padding-right: 5px; padding-left: 5px; color: rgb(0, 182, 241); }
#news-view .article section .content a:hover { color: rgb(102, 204, 255); }
#news-view .article section .content p { margin-bottom: 40px; }
#news-view .article section .content ul li { list-style: disc inside none; }
#news-view .article section .content blockquote p { margin-bottom: 15px ! important; }
#news-view .article section .content .info { padding-top: 0px; padding-bottom: 0px; margin-top: 20px; }
#news-view .article section .content .info font { font-size: 14px; }
@media screen and (max-width: 992px) {
}
#news-view .actv-slide { margin-bottom: 24px; }
#news-view .actv-slide .carousel, #news-view .actv-slide .item { height: 160px; }
#news-view .actv-slide .carousel-caption { font-size: 16px; padding: 0px 5px; }
#news-view .actv-slide .carousel-control { padding-top: 30px; width: 40px; }
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 550px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
.phone-hidden { display: block; }
@media screen and (max-width: 768px) {
  .phone-hidden { display: none; }
}
.phone-show { display: none; }
@media screen and (max-width: 768px) {
  .phone-show { display: block; }
}
@media screen and (max-width: 768px) {
}
.panel-body .item .right { overflow: hidden; }
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
