/* ::::: http://hisham.hm/htop/htop.css ::::: */

* { font-family: "bitstream vera sans","verdana","helvetica","arial","luxi sans","sans"; }
body { background: url("background.gif") no-repeat fixed right top / 100% auto rgb(0, 0, 0); color: black; }
.logo { text-align: center; padding-bottom: 10px; }
.content { background-color: white; padding: 20px 50px 50px; margin-top: 300px; margin-right: 10%; margin-left: 10%; }
ul.menu { list-style-type: none; background-color: rgb(48, 80, 96); height: 60px; width: 100%; margin: 0px; padding: 0px; }
li.menuli { float: left; }
a.menuitem { padding-right: 16px; padding-left: 16px; display: block; line-height: 60px; background-color: rgb(48, 80, 96); color: rgb(224, 192, 112); text-decoration: none; font-size: large; }
a.menuitem:hover { background-color: rgb(64, 96, 112); }
h1 { color: rgb(48, 80, 96); text-align: center; }
h2 { color: rgb(48, 80, 96); }
a { color: rgb(48, 176, 112); }
p.footer { text-align: center; font-style: italic; font-size: smaller; }
td { padding: 10px; }
li { padding-bottom: 10px; }
img { max-width: 100%; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

