/* ::::: [internal] ::::: */

html {  }
html, body, #creation { height: 100%; }
body { margin: 0px; }
/* ::::: [internal] ::::: */

.templet { font-size: 14px; line-height: 1.5; font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',微软雅黑,宋体,sans-serif; display: block; overflow: hidden; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; width: 300px; height: 600px; }
.templet a { text-decoration: none; }
.templet img { border: medium none; }
.item { position: relative; width: 100%; height: 100%; }
.pic { display: block; position: relative; }
.pic img { position: absolute; left: 0px; top: 0px; max-width: none; }
.yen { font-family: arial; }
.templet { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 14px; width: 298px; height: 598px; border: 1px solid rgb(255, 36, 66); }
.tao { display: block; width: 100%; height: 39px; background: url("TB1RoycHFXXXXcAXFXX1NNOIpXX-191-17.png") no-repeat scroll center center rgb(255, 68, 0); }
.carousel { width: 294px; height: 432px; margin: 2px auto 0px; position: relative; }
.carousel .items { width: 294px; height: 350px; }
.carousel .item { display: none; position: relative; margin: 0px; width: 100%; height: 100%; overflow: hidden; }
.carousel .pic { display: block; width: 294px; height: 294px; }
.carousel .items .current { display: inline-block; }
.carousel .info { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 56px; background: none repeat scroll 0% 0% rgb(239, 239, 239); cursor: pointer; }
.info .sale { float: right; font-size: 12px; color: rgb(51, 51, 51); line-height: 24px; margin-right: 4px; }
.carousel .info .title { display: block; margin-top: 3px; height: 24px; line-height: 24px; color: rgb(33, 26, 23); font-size: 14px; text-indent: 10px; }
.price-box { float: left; height: 24px; line-height: 24px; margin-left: 10px; }
.price-box .price-promo { float: left; line-height: 24px; color: rgb(255, 36, 66); font-weight: bold; font-size: 18px; }
.price-box .price-original { float: left; line-height: 24px; color: rgb(169, 168, 167); font-size: 12px; text-decoration: line-through; margin-left: 6px; }
.carousel .cover { margin: 11px auto 7px; width: 262px; height: 64px; overflow: hidden; position: relative; }
.carousel .triggers { position: relative; width: 264px; height: 64px; }
.carousel .triggers .frame { position: relative; float: left; width: 264px; height: 64px; }
.carousel .triggers .frame .trigger { display: block; float: left; width: 64px; height: 64px; margin-right: 2px; overflow: hidden; }
.carousel .trigger img { width: 100%; height: 100%; }
.carousel .triggers .frame .current { border: 1px solid rgb(241, 0, 53); width: 62px; height: 62px; }
.carousel .previous, .carousel .next { position: absolute; bottom: 7px; width: 16px; height: 64px; background: none repeat scroll 0% 0% rgb(238, 221, 204); }
.carousel .previous { left: 0px; background: url("TB1g4bzJVXXXXcnXFXXcFQXFpXX-7-15.png") no-repeat scroll center center transparent; }
.carousel .next { right: 0px; background: url("TB1kxPUJVXXXXbcXXXXcFQXFpXX-7-15.png") no-repeat scroll center center transparent; }
.tarea { width: 100%; overflow: hidden; }
.tarea .words { width: 306px; line-height: 40px; overflow: hidden; }
.tarea .words .item { display: inline; float: left; width: 100px; height: 40px; margin: 2px 2px 0px 0px; font-size: 18px; text-align: center; background-color: rgb(241, 0, 53); cursor: pointer; }
.tarea .words .item span { display: block; width: 100%; height: 100%; color: rgb(255, 255, 255); text-align: center; cursor: pointer; }
.tarea .words .current { background-color: rgb(176, 0, 45); }
