/* ::::: http://mat1.gtimg.com/news/imgcss_article_qq/global_v1.5.5.css (@media screen) ::::: */

@media screen {
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
strong { font-weight: 800; }
textarea { resize: none; }
body { font: 12px/1.75 "宋体","Arial Narrow",sans-serif; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
a:link { color: rgb(11, 59, 140); text-decoration: none; }
a:visited { color: rgb(11, 59, 140); text-decoration: none; }
a:hover, a:active { color: rgb(11, 59, 140); text-decoration: underline; }
.wrapper { width: 960px; overflow: hidden; margin: 0px auto; }
.hd, .bd, .ft { width: 100%; overflow: hidden; }
#Main-Article-QQ { position: relative; background: url("rightBorder2.png") repeat-y scroll right center transparent; }
#Main-Article-QQ .main { width: 650px; float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 2px solid rgb(0, 55, 149); }
#Main-Article-QQ .side { width: 300px; float: right; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.mod-left { width: 648px; border: 1px solid rgb(216, 216, 216); margin-bottom: 8px; }
.mod-left h2 { color: rgb(28, 44, 88); }
.mod-left h2 a:visited { color: rgb(11, 59, 140); }
.mod-right { width: 300px; margin-bottom: 8px; }
.mod-right .hd { width: 300px; height: 29px; background: url("split_v4.4.png") no-repeat scroll 0px -571px transparent; line-height: 29px; }
.mod-right h2 { font-size: 14px; color: rgb(28, 44, 88); padding-left: 12px; }
.mod-right .bd { width: 298px; border-right: 1px solid rgb(218, 218, 218); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(218, 218, 218) rgb(218, 218, 218); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 10px 0px; }
.mod-right .bd li { line-height: 21px; color: rgb(11, 59, 140); }
.Crumbs-Article-QQ { float: left; padding: 10px 0px 8px 10px; }
.Crumbs-Article-QQ img { float: left; margin: 0px; }
.Crumbs-Article-QQ span { float: left; padding-left: 20px; padding-top: 11px; color: rgb(0, 0, 0); }
.Crumbs-Article-QQ span em { color: rgb(126, 126, 126); }
.Crumbs-Article-QQ span a:visited { color: rgb(11, 59, 140); }
.Form-Crumbs-Article-QQ { float: right; padding-top: 14px; padding-right: 10px; }
.Form-Crumbs-Article-QQ .submit { float: right; width: 60px; height: 22px; background: url("split_v4.4.png") no-repeat scroll -100px -372px transparent; border: 0px none; line-height: 21px; font-size: 12px; cursor: pointer; }
.Form-Crumbs-Article-QQ .inputWarp { float: right; width: 202px; height: 21px; background: url("split_v4.4.png") no-repeat scroll 0px -344px transparent; margin-right: 3px; margin-left: 5px; padding-top: 1px; padding-left: 0px; text-align: center; }
.Form-Crumbs-Article-QQ .txtArea { width: 176px; border: 0px none; height: 16px; margin: 2px auto 0px; font-size: 14px; }
.Form-Crumbs-Article-QQ .SosonLogo { float: left; width: 20px; height: 20px; }
.Form-Crumbs-Article-QQ .SosonLogo span { display: none; }
#C-Main-Article-QQ { border-right: 1px solid rgb(211, 219, 230); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(211, 219, 230) rgb(211, 219, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: left; }
#C-Main-Article-QQ .hd, #C-Main-Article-QQ .bd { width: 588px; margin: 0px auto; overflow: hidden; }
#C-Main-Article-QQ .hd { text-align: center; padding-top: 22px; padding-bottom: 0px; }
#C-Main-Article-QQ h1 { color: rgb(0, 0, 0); font-family: "宋体",arial; font-size: 26px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; line-height: 30px; margin-bottom: 6px; font-weight: 800; }
#C-Main-Article-QQ .titBar { width: 578px; overflow: hidden; padding: 0px 5px; position: relative; }
#C-Main-Article-QQ .info { color: rgb(126, 126, 126); height: 16px; }
#C-Main-Article-QQ .infoCol { padding-right: 19px; }
#C-Main-Article-QQ .info .where { padding-left: 19px; color: rgb(126, 126, 126); }
#C-Main-Article-QQ .info .auth { color: rgb(126, 126, 126); padding-left: 19px; }
#cmt_1:visited, .isCommt a:visited, .otherNews a:visited, a.hasCom:visited, .bottom_ad_text a:visited, .sildPic-Article-QQ .cnt a:visited, .mod-right a:visited, #Cnt-Main-Article-QQ a:visited, .otherZt a:visited, .hotKey a:visited { color: rgb(11, 59, 140); }
#C-Main-Article-QQ .hd, #C-Main-Article-QQ .bd, #C-Main-Article-QQ .ft { clear: both; }
#C-Main-Article-QQ .Introduction { width: 544px; border-width: 1px 0px; border-style: solid none; border-color: rgb(229, 229, 229) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(251, 251, 251); line-height: 24px; font-size: 14px; padding: 13px 24px 13px 20px; margin: 18px auto 15px; }
#Cnt-Main-Article-QQ { padding-bottom: 20px; font-size: 14px; }
#Cnt-Main-Article-QQ p { line-height: 25px; margin: 20px auto 0px; }
#C-Main-Article-QQ .ft { width: 100%; }
.correlation-Article-QQ { width: 609px; margin: 0px auto; }
.isCommt { width: 600px; text-align: right; padding-bottom: 5px; padding-right: 9px; color: rgb(11, 59, 140); }
.isCommt { display: none; }
.isCommt em { color: rgb(204, 0, 0); }
#C-Main-Article-QQ { position: relative; z-index: 3; }
#C-Main-Article-QQ .hd { position: relative; z-index: 3; }
#C-Main-Article-QQ .bd { position: relative; z-index: 2; }
#C-Main-Article-QQ .ft { position: relative; z-index: 1; }
#C-Main-Article-QQ .hd, #C-Main-Article-QQ .bd, #C-Main-Article-QQ .titBar { overflow: visible; }
.titBar .info { margin: 0px auto; padding-right: 80px; }
.infoMblog { position: relative; z-index: 99; }
.infoMblog .infoMblogLink { color: rgb(11, 59, 140); }
.infoMblog * { font-weight: normal; font-family: "宋体"; color: rgb(51, 51, 51); }
.mbArticleSharePic { position: relative; z-index: 10; margin: 0px auto; }
.mbArticleShareBtn { display: none; position: absolute; z-index: 20; right: 6px; bottom: 6px; width: 118px; height: 25px; background: url("mb_share_bt.png") no-repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); font-size: 12px; line-height: 16px; cursor: pointer; text-align: center; }
.mbArticleShareBtn span { display: none; }
.Tool-Article-QQ { display: block; }
.Tool-Article-QQ { width: 638px; height: 52px; padding: 20px 12px 15px 0px; }
.Tool-Article-QQ a:visited { color: rgb(11, 59, 140); }
.Tool-Article-QQ ul { float: right; }
.Tool-Article-QQ li { float: left; margin-right: 12px; padding-top: 9px; }
.Tool-Article-QQ a { background: url("s_Tool_Article.png") no-repeat scroll 0% 0% transparent; width: 16px; height: 16px; overflow: hidden; display: inline-block; }
#C-Main-Article-QQ .ft, .followall_mod .bd { overflow: visible; }
.otherNews { width: 607px; margin: 0px auto 7px; padding-left: 2px; color: rgb(28, 44, 88); border-top: 1px dashed rgb(218, 219, 214); }
.otherNews h2 { font-size: 14px; font-weight: bold; padding-top: 10px; padding-left: 9px; }
.otherNews a { font-size: 14px; }
.QQeditor { width: 609px; margin: 0px auto 6px; font-size: 14px; color: rgb(138, 138, 138); text-align: right; }
.place-Article-QQ .hd { background: url("split_v4.4.png") no-repeat scroll 0px -537px transparent; }
.place-Article-QQ h2 { width: 89px; float: left; }
.place-Article-QQ .bd { background: none repeat scroll 0% 0% rgb(243, 248, 255); border-right: 1px solid rgb(217, 228, 243); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(217, 228, 243) rgb(217, 228, 243); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 12px 0px 3px; }
.place-Article-QQ ol { margin-left: 11px; }
.place-Article-QQ li { width: 100%; overflow: hidden; }
.place-Article-QQ li em { width: 16px; height: 15px; background: url("split_v4.4.png") no-repeat scroll -207px -127px transparent; float: left; text-align: center; line-height: 15px; font-family: Arial; color: rgb(255, 255, 255); font-size: 10px; margin-right: 9px; margin-top: 2px; }
.place-Article-QQ li em.hot { background: url("split_v4.4.png") no-repeat scroll -207px -101px transparent; }
.place-Article-QQ li a { float: left; width: 258px; }
}
/* ::::: [internal] ::::: */

.Tool-Article-QQ ul { margin-top: 3px; }
/* ::::: http://tech.qq.com/2012pl/newpl.css ::::: */

@charset "gb2312";
@media not all {
}
.plDinfo { margin-top: 5px; }
.plDinfo .commt-sub { height: 48px; line-height: 48px; clear: both; position: relative; }
.plDinfo .commt-sub .fontsline { color: rgb(153, 153, 153); position: absolute; right: 110px; top: 6px; z-index: 1; }
.plDinfo .commt-sub .fontsline strong { font-family: Georgia,Tahoma,Arial; font-size: 26px; position: relative; top: -5px; vertical-align: middle; font-weight: normal; padding: 0px 4px; }
.plDinfo .commt-sub .tips { position: absolute; right: 90px; top: 6px; color: rgb(255, 144, 0); }
.commt-sub .submit { background: url("plbg.png") no-repeat scroll 0% 0% transparent; }
.plDinfo .commt-sub .submit { position: absolute; top: 13px; width: 89px; height: 29px; background-position: 0px -252px; border: medium none; right: 0px; text-indent: -10000px; }
.plDinfo .commt-sub .submit:hover { background-position: -95px -252px; }
.plDinfo textarea { width: 598px; height: 45px; outline: medium none; resize: none; padding: 5px; font-size: 14px; border: 0px none; overflow-y: auto; color: rgb(51, 51, 51); }
.plDinfo .textarea-wraper, .list-wraper { width: 608px; height: 55px; border: 1px solid rgb(216, 216, 216); position: relative; z-index: 10; }
.plDinfo .textarea-wraper-login, .list-wraper { height: 81px; border: 1px solid rgb(123, 214, 246); -moz-outline-radius: 8px 8px 8px 8px; box-shadow: 0px 0px 10px rgba(123, 214, 246, 0.6); }
.plDinfo .textarea-wraper-login textarea, .list-wraper textarea { height: 70px; }
.plDinfo .textarea-wraper-login .face, .list-wraper .face { height: 26px; line-height: 24px; background: none repeat scroll 0% 0% rgb(246, 246, 246); position: relative; overflow: hidden; display: block; }
.plArea { height: auto; clear: both; margin: 20px auto 0px; }
.newplArea { padding-top: 0px; padding-bottom: 24px; }
.newplArea .login { float: left; margin-top: 6px; line-height: 20px; }
.newplArea .login img { float: left; vertical-align: middle; border-radius: 2px 2px 2px 2px; }
.newplArea .login .logoA { float: left; width: 52px; height: 19px; background: url("plbg_001.png") repeat scroll -58px -101px transparent; text-indent: -10000px; margin-left: 13px; }
.newplArea .login .logoA:hover { background-position: 0px -101px; }
.newplArea .login a { font-family: "simsun"; }
.newplArea .login a:hover { color: rgb(204, 0, 0); }
.sucssTip { border: 1px solid rgb(233, 233, 233); height: 50px; line-height: 50px; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding-left: 18px; margin-top: 10px; clear: both; width: 610px; }
.sucssTip span { font-size: 14px; color: rgb(102, 102, 102); padding: 5px 0px 5px 30px; background: url("plbg_001.png") no-repeat scroll -60px -10px transparent; }
.sendList { position: relative; z-index: 101; float: left; margin: 2px 6px 0px 10px; height: 25px; overflow: hidden; width: 60px; display: inline; }
.sendList a { display: block; outline: medium none; }
.sendList a:hover { text-decoration: none; color: rgb(68, 104, 161); }
.pl-top .bd li em, #toTop, .closebtn a, .close, .sanjia, .sico { background: url("plbg.png") no-repeat scroll 0% 0% transparent; }
.ico_face, .ico_at { margin-top: 0px; width: 16px; background-position: -61px -57px; float: right; height: 16px; }
.txt, .more { display: inline-block; height: 16px; padding-left: 24px; position: relative; white-space: nowrap; }
a.txt { color: rgb(68, 104, 161); }
.sico { cursor: pointer; left: 0px; position: absolute; top: 3px; }
.ico_at { background-position: -86px -56px; }
.listArea { width: 602px; padding: 0px 13px 15px; border: 1px solid rgb(233, 233, 233); background: none repeat scroll 0% 0% rgb(248, 247, 247); }
.listArea .list-wraper { width: 600px; box-shadow: none; border: 1px solid rgb(216, 216, 216); }
.listArea .list-wraper textarea { width: 590px; padding: 5px; }
.listArea .hd { padding-top: 5px; position: relative; }
.listArea .commt-sub .submit { width: 56px; height: 24px; background-position: 0px -219px; }
.listArea .commt-sub .submit:hover { background-position: -62px -219px; }
.listArea .commt-sub .fontsline { right: 72px; top: 3px; }
.closebtn { width: 15px; height: 15px; position: absolute; right: 2px; top: 13px; }
.closebtn a { display: block; width: 15px; height: 15px; background-position: 0px -45px; text-indent: -10000px; }
.closebtn a:hover { background-position: 0px -30px; }
/* ::::: [internal] ::::: */

.wrapper { font: 12px/20px Tahoma,Verdana,"宋体"; }
#Cnt-Main-Article-QQ { font-size: 15px; font-family: "微软雅黑",Tahoma,Verdana,"宋体"; }
#Cnt-Main-Article-QQ p { line-height: 30px; }
.nAdTop-Article-QQ { width: 1000px; margin: 8px auto 0px; }
.cf:after { content: ""; display: block; clear: both; height: 0px; visibility: hidden; }
.cf {  }
.place-Article-QQ li p { float: right; background: url("icon_pl.png") no-repeat scroll left center transparent; padding-left: 20px; padding-right: 5px; color: rgb(141, 141, 141); }
.place-Article-QQ li a, .place-Article-QQ li a:link, .place-Article-QQ li a:visited, .place-Article-QQ li a:hover { color: rgb(0, 0, 0); }
.place-Article-QQ li a:hover { color: rgb(204, 0, 0); }
.place-Article-QQ li p a, .place-Article-QQ li p a:link, .place-Article-QQ li p a:visited, .place-Article-QQ li p a:hover { float: none; color: rgb(141, 141, 141); }
.place-Article-QQ li { border-bottom: 1px dotted rgb(220, 220, 220); padding: 12px 10px 7px; width: 95%; }
.place-Article-QQ ol { margin-left: 0px; }
.place-Article-QQ li em.hot { background: none repeat scroll 0% 0% rgb(252, 143, 0); }
.place-Article-QQ li em { background: none repeat scroll 0% 0% rgb(161, 161, 161); }
#Main-Article-QQ { background: none repeat scroll 0% 0% transparent; }
#Main-Article-QQ .main { width: 648px; color: rgb(67, 67, 67); }
.place-Article-QQ .bd { background: none repeat scroll 0% 0% transparent; }
.Crumbs-Article-QQ span { display: none; }
.wrapper { width: 1000px; }
.Crumbs-Article-QQ { padding: 10px 0px 12px; }
.Form-Crumbs-Article-QQ { padding-right: 10px; }
#Main-Article-QQ { border-top: 1px solid rgb(218, 218, 218); border-bottom: 1px solid rgb(218, 218, 218); }
#Main-Article-QQ .main { border-top: medium none; }
#C-Main-Article-QQ { border: medium none; }
.mod-left { width: 670px; }
#C-Main-Article-QQ .hd, #C-Main-Article-QQ .bd { width: 640px; outline: medium none; }
#C-Main-Article-QQ .Introduction { width: 600px; }
#Main-Article-QQ .side { padding-top: 22px; }
.otherNews { width: auto; border-top: medium none; padding-left: 0px; }
.otherNews h2 { color: rgb(0, 0, 0); float: none; font-family: "微软雅黑",Tahoma,Verdana,"宋体"; font-size: 18px; font-weight: normal; padding-bottom: 6px; padding-left: 0px; }
.QQeditor { display: block; }
.correlation-Article-QQ { margin: 0px 20px 0px auto; width: auto; }
.moreBtn { float: right; background: none repeat scroll 0% 0% rgb(255, 211, 2); border-bottom: 2px solid rgb(234, 234, 234); margin-right: 36px; margin-bottom: 20px; width: 115px; display: none; cursor: pointer; }
.moreBtn h2 { background: url("icon_more11.png") no-repeat scroll 93px center transparent; text-align: center; font-family: "微软雅黑",Tahoma,Verdana,"宋体"; font-size: 16px; font-weight: bold; color: rgb(93, 51, 3); border-right: 1px solid rgb(221, 180, 14); border-bottom: 1px solid rgb(221, 180, 14); height: 30px; line-height: 30px; }
.moreBtnA h2 { background: url("icon_more22.png") no-repeat scroll 93px center transparent; }
#C-Main-Article-QQ .hd, #C-Main-Article-QQ .bd { float: left; }
#Main-Article-QQ .main { border-right: 1px solid rgb(216, 216, 216); width: 670px; }
.place-Article-QQ .bd { padding: 0px 0px 3px; }
.Tool-Article-QQ { display: block; }
#C-Main-Article-QQ h1 { text-align: left; font-family: "微软雅黑",Tahoma,Verdana,"宋体"; margin-bottom: 28px; font-size: 24px; color: rgb(34, 34, 34); }
#C-Main-Article-QQ .info { text-align: left; }
#top_count { font-size: 18px; color: rgb(208, 208, 208); font-weight: bold; font-family: 'arial'; }
#C-Main-Article-QQ .info .where { padding-left: 0px; }
.where { background: url("icon_wb_ly.gif") no-repeat scroll right 0px transparent; display: inline-block; padding-right: 17px; }
#C-Main-Article-QQ .infoCol { padding-right: 10px; }
#C-Main-Article-QQ .hd { padding-top: 28px; }
#cmt_1:hover { text-decoration: none; }
.moreBtnA { display: block; margin-top: 10px; }
#C-Main-Article-QQ .titBar { width: auto; }
.titBar .info { padding-right: 0px; }
#C-Main-Article-QQ .info { position: relative; }
.borderHd { background: none repeat scroll 0px 0px rgb(209, 209, 209); height: 1px; overflow: hidden; }
.borderHdN { background: none repeat scroll 0px 0px rgb(99, 99, 99); height: 1px; overflow: hidden; width: 95px; }
.shareBtn { float: right; background: url("icon_share.png") no-repeat scroll 0px center transparent; display: inline-block; padding: 3px 20px 20px; width: 24px; line-height: 20px; cursor: pointer; }
.Tool-Article-QQ { height: auto; padding: 20px 12px 10px 0px; }
.Tool-Article-QQ ul { float: left; width: 100%; }
.sanJiao { background: url("icon_sanjiao.png") no-repeat scroll right bottom transparent; height: 40px; width: 90px; }
.place-Article-QQ { margin-bottom: 10px; }
.Form-Crumbs-Article-QQ { padding-right: 0px; }
#infoCommBg { height: 39px; line-height: 33px; position: absolute; right: 320px; top: 25px; z-index: 10; }
#infoCommBg #cmt_1 { float: right; text-align: center; background: none repeat scroll 0% 0% rgb(117, 117, 117); }
#infoCommBg #cmt_1 .num { display: inline-block; padding: 0px 7px 0px 47px; background: url("icon_commentNumber.gif") no-repeat scroll 0px 0px rgb(117, 117, 117); }
#infoCommBg.infoComm_B #cmt_1 .num { background-position: 0px -35px; }
.moreBtnA a, .moreBtnA a:visited, .moreBtnA a:link, .moreBtnA a:hover { color: rgb(93, 51, 3); text-decoration: none; }
.newplArea .login { margin-top: 13px; }
.newplArea { padding-bottom: 9px; }
#Main-Article-QQ { background: url("bg_body.png") repeat-y scroll 0px 0px transparent; }
.moreBtnA { display: none; }
.place-Article-QQ { width: 300px; margin: 0px auto; }
.place-Article-QQ .bd { border: medium none; }
.place-Article-QQ .hd { background: none repeat scroll 0% 0% transparent; height: auto; }
.place-Article-QQ .hd h2 { font-family: "微软雅黑",Tahoma,Verdana,"宋体"; font-size: 18px; color: rgb(0, 0, 0); float: none; padding-left: 0px; }
.borderHd { background: none repeat scroll 0% 0% rgb(209, 209, 209); height: 1px; overflow: hidden; }
.borderHdN { background: none repeat scroll 0% 0% rgb(99, 99, 99); height: 1px; overflow: hidden; }
.hotA li { padding: 0px 0px 14px; width: 300px; margin-top: 15px; }
.hotA li .pica { float: left; width: 92px; margin-top: 4px; }
.hotA li .pica img { border: 1px solid rgb(225, 225, 225); }
.hotA li .infoo { float: right; width: 195px; display: inline; }
.hotA li .infoo a { float: none; width: auto; display: block; font-size: 12px; color: rgb(51, 51, 51); line-height: 18px; }
.hotA li .infoo a:hover { color: rgb(204, 0, 0); }
.shareBtn { float: right; background: none repeat scroll 0% 0% transparent; padding: 0px; }
.shareBtn-hd { display: inline-block; position: relative; z-index: 3; width: 64px; height: 23px; padding-left: 8px; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(103, 103, 103); line-height: 21px; font-size: 12px; text-decoration: none; }
.shareBtn-hd i { position: absolute; right: 6px; top: 8px; width: 0px; height: 0px; font-size: 0px; line-height: 0; border-width: 4px; border-style: solid; border-color: rgb(139, 140, 142) rgb(255, 255, 255) rgb(255, 255, 255); transition: transform 0.2s ease-in 0s; transform: rotate(0deg); }
.v-shareBtn { width: 64px; height: 40px; font-size: 12px; z-index: 12; position: absolute; top: 0px; right: 0px; }
.v-shareBtn .shareBtn-bd { display: none; position: absolute; z-index: 2; left: 0px; top: 22px; border: 1px solid rgb(209, 209, 209); width: 92px; padding: 8px 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.shareBtn-bd li { height: 24px; padding: 0px 0px 0px 11px; line-height: 24px; }
.shareBtn-bd a { display: block; padding-left: 22px; color: rgb(92, 92, 92); }
.Tool-Article-QQ .shareBtn { width: 210px; margin-top: 10px; font-size: 12px; float: right; margin-right: -15px; }
.Tool-Article-QQ a { background: none repeat scroll 0% 0% transparent; }
.h-shareBtn .shareBtn-bd li { float: left; width: 24px; height: 24px; padding: 0px; overflow: hidden; margin-right: 5px; }
.h-shareBtn .shareBtn-bd a { display: block; width: 0px; height: 24px; padding-left: 24px; opacity: 0.8; transition: opacity 0.5s ease 0s; }
.h-shareBtn .shareBtn-bd a:hover { opacity: 1; }
.shareBtn16 .s_weibo { background-position: -66px -2px; }
.shareBtn16 .s_qzone { background-position: -66px -25px; }
.shareBtn16 .s_sina { background-position: -66px -98px; }
.shareBtn16 .s_qq { background: url("qqshare_16_24.png") no-repeat scroll 0px 5px transparent; }
.shareBtn24 .s_weibo { background-position: -62px -200px; }
.shareBtn24 .s_qzone { background-position: -62px -229px; }
.shareBtn24 .s_sina { background-position: -62px -316px; }
.shareBtn24 .s_qq { background: url("qqshare_16_24.png") no-repeat scroll -18px -25px transparent; }
.shareBtn24 .s_ewm { background: url("icon_wx_24.png") no-repeat scroll 0% 0% transparent; }
.shareBtn #shareWx { position: relative; }
.shareBtn #shareWx a { background: url("weixin_16.png") no-repeat scroll left center transparent; }
.shareBtn #shareWx .ewmBox { display: none; width: 136px; height: 136px; border: 1px solid rgb(208, 208, 208); background-color: rgb(255, 255, 255); position: absolute; top: -105px; right: -138px; }
.shareBtn #shareWx .ewmBox img { width: 126px; height: 126px; padding: 5px; }
.aboutRead { margin-bottom: 10px; }
.correlation-Article-QQ .aboutRead { position: absolute; top: 52px; }
.correlation-Article-QQ .aboutRead .aboutTag { width: 355px; white-space: nowrap; height: 30px; overflow: hidden; }
.correlation-Article-QQ .aboutRead dl { float: left; width: 500px; }
.correlation-Article-QQ .aboutRead dl a { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; width: auto; height: auto; }
.correlation-Article-QQ .aboutRead dl a:hover { color: rgb(255, 255, 255); }
.correlation-Article-QQ .aboutRead dt { float: left; display: inline-block; height: 30px; width: 17px; font: 12px/200px '宋体'; color: rgb(255, 255, 255); background: url("icon_tags.gif") no-repeat scroll 0% 0% rgb(66, 66, 66); overflow: hidden; }
.correlation-Article-QQ .aboutRead dd { float: left; display: inline-block; height: 30px; margin-left: 2px; padding: 0px 8px; font: 18px/30px '微软雅黑'; background: none repeat scroll 0% 0% rgb(249, 146, 0); }
.correlation-Article-QQ .aboutRead dd.bgA { background: none repeat scroll 0% 0% rgb(249, 76, 0); }
.otherNews { margin: 0px auto 7px; color: rgb(28, 44, 88); border-top: medium none; }
.otherNews a { font-size: 14px; }
.otherNews table { margin-top: 4px; }
.otherNews td, .otherNews p { color: rgb(140, 141, 142); }
.otherNews td { font-family: '宋体'; }
.otherNews td a, .otherNews p a { line-height: 30px; color: rgb(19, 72, 116); }
.otherNews td a { font-family: "微软雅黑",Tahoma,Verdana,"宋体"; }
.hotA { margin-bottom: 10px; margin-top: 10px; }
#pop_rightreply { width: 630px; }
#Cnt-Main-Article-QQ { color: rgb(51, 51, 51); }
#Cnt-Main-Article-QQ p {  }
#Cnt-Main-Article-QQ p a { color: rgb(0, 71, 157); font-family: '微软雅黑',Tahoma,Verdana,"宋体"; }
#Cnt-Main-Article-QQ { padding-top: 20px; }
#Cnt-Main-Article-QQ p { margin: 0px 0px 20px; }
.ad-cnt-1 #F_Z_Width1 { margin: 15px 0px 35px; }
/* ::::: [internal] ::::: */

.navWrap { height: 35px; margin-bottom: 10px; position: relative; z-index: 21; }
.nav { top: 0px; z-index: 100; width: 100%; min-width: 1000px; height: 35px; background: none repeat scroll 0% 0% rgb(55, 155, 233); text-align: center; }
.nav-Article-QQ { position: relative; float: left; z-index: 20; padding: 0px 10px 0px 0px; font-family: Microsoft Yahei; line-height: 25px; }
.nav-Article-QQ ul { float: left; }
.nav-Article-QQ ul li { float: left; background: url("bg_nav_li.png") no-repeat scroll right center transparent; font-size: 14px; }
.nav-Article-QQ ul li a, .nav-Article-QQ ul li a:visited, .nav-Article-QQ ul li a:link, .nav-Article-QQ ul li a:hover { color: rgb(254, 255, 255); text-decoration: none; }
.nav-Article-QQ ul li a { display: block; padding: 5px 8px; }
.nav-Article-QQ ul li a:hover { background: none repeat scroll 0% 0% rgb(22, 105, 171); }
.bottomAds { margin: 10px auto; width: 1000px; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

.nav-Article-QQ { outline: medium none; }
#moreNav { position: relative; }
#moreNav .moreLink:hover { background: none repeat scroll 0% 0% transparent; }
.moreNav1 { display: block; padding-right: 10px; background: url("icon_down.gif") no-repeat scroll right center transparent; }
.navmenu { display: none; position: absolute; top: 35px; background: none repeat scroll 0% 0% rgb(55, 155, 233); text-align: left; width: 74px; }
.navmenu a:hover { background: none repeat scroll 0% 0% rgb(22, 105, 171); }
.nav-Article-QQ { z-index: 21; }
.nav-Article-QQ ul li a { padding: 5px 7px; }
.nav-Article-QQ ul li.navKuaibaoStyle a { color: rgb(252, 255, 0); }
/* ::::: [internal] ::::: */

body, h1, h2, p, dl, dt, dd, ul, ol, li { margin: 0px; padding: 0px; }
.loginWrap { float: right; height: 35px; }
.login { text-align: center; font: 12px/35px Tahoma,"宋体"; margin-right: 5px; }
.login a { text-decoration: none; outline: 0px none; }
.login a:hover { text-decoration: none; }
.login em { font-style: normal; }
.login img { border: medium none; }
.quickArea { position: relative; float: left; }
.quickLink { float: left; height: 35px; display: block; padding: 0px 8px 0px 27px; overflow: hidden; background-repeat: no-repeat; }
.clearfix {  }
.clearfix:after { content: ""; display: table; clear: both; }
.quickLink em { display: none; }
.loginBtn { width: 27px; height: 24px; margin: 7px 5px 0px 10px; }
.loginBtn:hover { background-position: 0px -42px; }
.quickLink { background-image: url("loginall_24_1x_v1.png"); }
@media not all {
  .quickLink { background-size: 62px auto; background-image: url("loginall_24_2x_v2.png"); }
}
@media only screen and (min--moz-device-pixel-ratio: 2) {
  .quickLink { background-size: 62px auto; background-image: url("loginall_24_2x_v2.png"); }
}
@media not all {
  .quickLink { background-size: 62px auto; background-image: url("loginall_24_2x_v2.png"); }
}
@media not all {
  .quickLink { background-size: 62px auto; background-image: url("loginall_24_2x_v2.png"); }
}
.loginBtn { background-position: 0px 0px; }
.weiboLink { background-position: 2px -87px; }
.qzoneLink { background-position: 2px -130px; }
.qmailLink { background-position: 2px -171px; }
.dyLink { background-position: 2px -256px; }
.dyLike { background-position: 2px -297px; }
.login a { color: rgb(255, 255, 255); }
.loginBg_def { background: none repeat scroll 0% 0% rgb(55, 155, 233); }
/* ::::: [internal] ::::: */

.Form-Crumbs-Article-QQ { float: right; padding-top: 14px; }
.Form-Crumbs-Article-QQ .submit { float: right; width: 50px; height: 26px; background: url("sogouNewUi.png") no-repeat scroll left -25px transparent; border: 0px none; line-height: 21px; font-size: 12px; cursor: pointer; }
.Form-Crumbs-Article-QQ .inputWarp { float: right; width: 210px; height: 24px; margin: 0px; padding: 0px; line-height: 22px; background: none repeat scroll 0% 0% transparent; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(201, 201, 201) -moz-use-text-color rgb(201, 201, 201) rgb(201, 201, 201); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.Form-Crumbs-Article-QQ .txtArea { float: left; width: 170px; height: 20px; margin: 2px 0px 0px 5px; font-size: 14px; line-height: 20px; border: medium none; color: rgb(66, 66, 66); outline: medium none; display: inline; }
.Form-Crumbs-Article-QQ .SosonLogo { float: right; width: 16px; height: 16px; margin: 4px 4px 0px 0px; background: url("sogouNewUi.png") no-repeat scroll left top transparent; }
.Form-Crumbs-Article-QQ .SosonLogo span { display: none; }
.Form-Crumbs-Article-QQ .SosonLogo span { display: none; }
/* ::::: [internal] ::::: */

.subNav { width: 1000px; margin: 0px auto; border-bottom: 4px solid rgb(238, 238, 238); height: 40px; line-height: 40px; position: relative; }
.subNav ul { font-size: 16px; font-family: "Microsoft Yahei"; overflow: hidden; }
.subNav li { float: left; padding: 0px 16px; }
.subNav li a { display: inline-block; height: 40px; color: rgb(51, 51, 51); }
.subNav li.current a, .subNav li a:hover { border-bottom: 4px solid rgb(255, 204, 0); color: rgb(51, 51, 51); font-weight: bold; text-decoration: none; }
/* ::::: [internal] ::::: */

.rv-root-v2 { font-family: "微软雅黑",sans-serif; color: rgb(0, 0, 0); }
.rv-root-v2 a { text-decoration: none; color: rgb(0, 0, 0); }
.rv-root-v2 h1, .rv-root-v2 h2, .rv-root-v2 h3, .rv-root-v2 ol, .rv-root-v2 p, .rv-root-v2 ul { display: block; padding: 0px; margin: 0px; }
.rv-root-v2 img { border: 0px none; }
.rv-root-v2 .rv-cf:after, .rv-root-v2 .rv-cf:before { content: " "; display: table; }
.rv-root-v2 .rv-cf:after { clear: both; }
.rv-root-v2 .rv-cf {  }
.rv-root-v2 .rv-top { height: 40px; line-height: 40px; background-color: rgb(243, 243, 243); }
.rv-root-v2 .rv-top .rv-autoplay { float: right; width: 110px; margin-right: 16px; }
.rv-root-v2 .rv-top .rv-autoplay span { font-size: 14px; float: right; }
.rv-root-v2 .rv-top .rv-autoplay a { float: right; display: block; width: 32px; height: 18px; padding: 2px; margin-top: 10px; margin-left: 12px; border-radius: 10px 10px 10px 10px; font-size: 0px; text-indent: -9999px; cursor: pointer; background-color: rgb(204, 204, 204); transition: background 0.3s ease-out 0s; }
.rv-root-v2 .rv-top .rv-autoplay a i { display: block; width: 18px; height: 18px; border-radius: 50% 50% 50% 50%; background-color: rgb(255, 255, 255); margin-left: 0px; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); transition: all 0.3s ease-out 0s; }
.rv-root-v2 .rv-top .rv-autoplay a:hover { background-color: rgb(217, 217, 217); }
.rv-root-v2 .rv-top .rv-autoplay a.enabled { background-color: rgb(0, 108, 183); }
.rv-root-v2 .rv-top .rv-autoplay a.enabled i { margin-left: 14px; }
.rv-root-v2 .rv-top .rv-autoplay a.enabled:hover { background-color: rgb(0, 123, 209); }
.rv-root-v2 .rv-top .rv-autoplay a:active i { box-shadow: none; }
.rv-root-v2 .rv-top .rv-title { overflow: hidden; }
.rv-root-v2 .rv-top .rv-title a { display: block; font-size: 18px; font-weight: 400; text-indent: 12px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: rgb(0, 0, 0); }
.rv-root-v2 .rv-top .rv-title a:hover { color: rgb(205, 0, 0); text-decoration: underline; }
.rv-root-v2 .rv-middle .rv-player { position: relative; min-height: 360px; padding-bottom: 18px; }
.rv-root-v2 .rv-middle .rv-player .rv-player-adjust-img { width: 100%; visibility: hidden; font-size: 0px; }
.rv-root-v2 .rv-middle .rv-player .rv-player-adjust-img img { width: 100%; vertical-align: top; max-width: 2000px ! important; min-width: 0px ! important; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(0, 0, 0); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6) inset; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mod { position: relative; width: 100%; height: 100%; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mod .rv-player-loading { width: 100%; height: 100%; text-align: center; color: rgb(153, 153, 153); font-family: verdana,arial,sans-serif; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl { display: none; position: absolute; right: 0px; z-index: 99; bottom: 18px; width: 30px; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-close, .rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-mute, .rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-resize { display: block; margin-top: 3px; width: 30px; height: 30px; line-height: 30px; background-color: rgba(0, 0, 0, 0.6); background-image: url("rv_mini_sprites_v2.png"); background-repeat: no-repeat; text-align: center; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-close:hover, .rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-mute:hover, .rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-resize:hover { color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.9); }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-mute, .rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-mute.mute-off { background-position: 0px -150px; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-close { background-position: 0px 0px; }
.rv-root-v2 .rv-middle .rv-player .rv-player-wrap .rv-player-mini-ctrl-resize { background-position: 0px -30px; }
@media only screen and (min-width: 1300px) {
}
.rv-root-v2 .rv-middle .rv-playlist { height: 100px; background-color: rgb(47, 47, 47); }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-ctrl { position: relative; width: 100%; height: 0px; z-index: 2; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-ctrl a { display: block; position: absolute; top: 0px; width: 17px; height: 100px; line-height: 100px; font-size: 14px; font-weight: 700; font-family: NanumMyeongjo,"宋体",sans-serif; text-align: center; color: rgb(163, 163, 163); background-color: rgba(47, 47, 47, 0.8); cursor: pointer; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-ctrl a:hover { background-color: rgba(73, 73, 73, 0.8); }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-ctrl .prev { left: 0px; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-ctrl .next { right: 0px; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-wrap { height: 100px; width: 100%; overflow: hidden; position: relative; z-index: 1; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-wrap .rv-playlist-scroller { height: 130px; width: 100%; overflow-y: hidden; overflow-x: scroll; }
.rv-root-v2 .rv-middle .rv-playlist .rv-playlist-wrap .rv-playlist-scroller ol.rv-playlist-list { width: 9999px; padding: 0px 17px; list-style: none outside none; }
@media only screen and (min-width: 1260px) {
}
/* ::::: [internal] ::::: */

.wxdigi { padding: 20px 0px; border-top: 1px dotted rgb(219, 219, 219); }
/* ::::: [internal] ::::: */

.Tool-Article-QQ li { position: relative; }
/* ::::: [internal] ::::: */

.absolute { position: absolute; }
/* ::::: [internal] ::::: */

.video-air-mod { margin: 10px auto; }
.video-air-mod .hd { border-bottom: 1px solid rgb(209, 209, 209); height: 28px; position: relative; margin-bottom: 18px; overflow: visible; }
.video-air-mod .hd h2 { color: rgb(0, 0, 0); font-family: "微软雅黑",Tahoma,Verdana,"宋体"; font-size: 18px; height: 25px; float: none; width: 83px; position: absolute; top: 3px; left: 0px; border-bottom: 1px solid rgb(99, 99, 99); }
.video-air-mod .bd { width: 300px; overflow: hidden; }
.video-air-mod .bd ul { width: 320px; }
.video-air-mod .bd li { width: 140px; height: 120px; overflow: hidden; float: left; padding-bottom: 10px; margin-bottom: 5px; margin-right: 20px; text-align: left; font-size: 12px; color: rgb(51, 51, 51); word-wrap: break-word; position: relative; }
.video-air-mod .bd li .bicon { background: url("trs.png") no-repeat scroll 0px 0px transparent; cursor: pointer; display: block; height: 21px; left: 5px; position: absolute; top: 58px; width: 21px; z-index: 1; }
.video-air-mod .bd li img { display: block; margin-bottom: 5px; }
.video-air-mod .bd li a { font-size: 12px; color: rgb(51, 51, 51); }
.video-air-mod .bd li a:hover { color: rgb(204, 0, 0); }
/* ::::: [internal] ::::: */

#rightList a.shafas { font-size: 14px; color: rgb(51, 51, 51); margin-top: 20px; padding: 20px 20px 20px 40px; background: url("shafa.png") no-repeat scroll 0px 14px transparent; display: none; float: left; cursor: pointer; }
#rightList a.shafas:hover { color: rgb(204, 0, 0); text-decoration: none; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

.right-kb-mod .hd { border-bottom: 1px solid rgb(209, 209, 209); padding-bottom: 5px; }
.right-kb-mod .hd h2, .right-kb-mod .hd h2 strong a { font: 18px/20px '微软雅黑' ! important; }
.right-kb-mod .txt { display: block ! important; height: auto ! important; padding-left: 0px ! important; white-space: normal ! important; }
.right-kb-mod .bd .txt p a, .right-kb-mod .bd .list li a { font-size: 12px ! important; }
/* ::::: [internal] ::::: */

.right-kb-mod { width: 300px; margin: 0px auto; padding: 15px 0px 20px; }
.right-kb-mod .hd { margin: 0px auto 18px; }
.right-kb-mod .hd h2 { font: 16px/18px '微软雅黑'; color: rgb(166, 166, 166); position: relative; }
.right-kb-mod .hd h2 strong { margin-right: 8px; }
.right-kb-mod .hd h2 strong a { font: 16px/18px '微软雅黑'; color: rgb(57, 157, 235); }
.right-kb-mod .bd .pt { height: 72px; overflow: hidden; margin-bottom: 8px; }
.right-kb-mod .bd .pic { float: left; margin-right: 15px; width: 108px; }
.right-kb-mod .bd .txt { width: 176px; float: left; }
.right-kb-mod .bd .txt p a { font: 600 14px/24px '宋体'; color: rgb(59, 99, 159); }
.right-kb-mod .bd .txt p a:hover { color: rgb(205, 0, 0); }
.right-kb-mod .bd .list li { height: 28px; overflow: hidden; }
.right-kb-mod .bd .list li a { font: 14px/28px '宋体'; color: rgb(85, 85, 85); }
.right-kb-mod .bd .list li a:hover { color: rgb(205, 0, 0); }
.right-kb-mod .hd h2 .kbxzBtn { position: absolute; top: 0px; right: 0px; }
.right-kb-mod .hd h2 .kbxzBtn a { color: rgb(57, 157, 233); font: 600 14px/18px 'arial','宋体'; padding-left: 17px; background: url("kbxzIcon.png") no-repeat scroll 0px 2px transparent; }
/* ::::: [internal] ::::: */

.place-Article-QQ .bd { border: medium none; }
.place-Article-QQ .hd { background: none repeat scroll 0% 0% transparent; height: auto; }
.place-Article-QQ .hd h2 { float: none; }
.borderHd { background: none repeat scroll 0% 0% rgb(209, 209, 209); height: 1px; overflow: hidden; }
.place-Article-QQ .borderHdN { background: none repeat scroll 0% 0% rgb(99, 99, 99); height: 1px; overflow: hidden; width: 83px; }
/* ::::: [internal] ::::: */

.shareBtn-bd a, .scrollBtn a, .hot-voting-con, .hot-voting, #cmt_post_btn, #topPic_close, .cmt-share-btn label { background: url("s_gallery_2012110702.png") no-repeat scroll 0px 0px transparent; display: inline-block; }
.scrollBtn a, .scrollBtn a:link, .scrollBtn a:visited, .scrollBtn a:hover { color: rgb(255, 255, 255); }
.ff-t { font-family: Tahoma; }
.scrollBtn { position: fixed; width: 54px; right: 25px; bottom: 45px; }
.scrollBtn li { float: left; height: 54px; margin-bottom: 5px; overflow: hidden; }
.scrollBtn a { display: block; width: 54px; height: 54px; overflow: hidden; color: rgb(255, 255, 255); opacity: 0.6; transition: opacity 0.5s ease 0s; text-align: center; }
.scrollBtn a:hover { text-decoration: none; }
.scrollBtn a:hover { opacity: 1; }
.scrollBtn a b { display: none; }
.sB-comment a { background-position: 0px -353px; padding-top: 34px; padding-bottom: 3px; height: 17px; }
.sB-share a { background-position: 0px -412px; }
.sB-goTop { display: none; }
.sB-goTop a { background-position: 0px -471px; }
@media not all, not all {
  .scrollBtn a { background: url("siderbar_tool_2x.png") no-repeat scroll 0% 0% / 172px 54px transparent; }
  .sB-comment a { background-position: 0px 0px; }
  .sB-share a { background-position: -59px 0px; }
  .sB-goTop a { background-position: -118px 0px; }
}
.sB-home a { background: url("backtohome.png") no-repeat scroll 0px 0px transparent; }
/* ::::: [internal] ::::: */

@media not all, not all {
  .scrollBtn a { background: url("siderbar_tool_2x.png") no-repeat scroll 0% 0% / 172px 54px transparent; }
  .sB-comment a { background-position: 0px 0px; }
  .sB-share a { background-position: -59px 0px; }
  .sB-goTop a { background-position: -118px 0px; }
}
.sB-home a { background: url("backtohome.png") no-repeat scroll 0px 0px transparent; }
#goHome { background-image: none; background-color: rgb(45, 150, 233); }
#goHome b { display: block; font: 14px/20px "微软雅黑"; width: 2.5em; text-align: center; margin: 8px auto; cursor: pointer; }
.sB-feedback a { background: url("yhfkBg.png") no-repeat scroll 0px -176px transparent; }
@media not all, not all {
  .sB-feedback a { background-size: 54px 166px; background-position: 0px -113px; }
}
/* ::::: [internal] ::::: */

.tcopyright { width: 960px; margin: 0px auto; padding: 8px 0px; font-size: 12px; line-height: 28px; color: rgb(51, 51, 51); text-align: center; overflow: hidden; clear: both; }
.tcopyright .en { font-family: Arial; }
.tcopyright a { color: rgb(51, 51, 51); text-decoration: none; }
.tcopyright a:hover { color: rgb(189, 10, 1); text-decoration: underline; }
