/* Code tidied up by ScrapBook */
@import url("dashicons.min.css");
@import url("font-awesome.min_001.css");
a.fasc-button { display: inline-block; color: rgb(255, 255, 255); text-decoration: none; margin: 3px 0px; border: 0px none; box-shadow: none; box-sizing: border-box; }
a.fasc-button:hover, a.fasc-button:focus, a.fasc-button:visited, a.fasc-button:active { text-decoration: none; box-shadow: none; }
a.fasc-button.fasc-ico-before::before, a.fasc-button.fasc-ico-after::after { vertical-align: middle; display: inline-block; margin-top: -2px; }
a.fasc-size-large.fasc-ico-before::before { font: 400 20px/22px dashicons; padding-right: 6px; }
.fasc-size-large { font-size: 18px; padding: 8px 10px; border: 0px none; line-height: 24px; }
.fasc-type-flat:hover { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); }
