/* Code tidied up by ScrapBook */
.five-sixths, .four-sixths, .four-fifths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fourths, .three-fifths, .three-sixths, .two-fourths, .two-fifths, .two-sixths, .two-thirds { float: left; margin-left: 2.5641%; }
.one-third, .two-sixths { width: 31.6239%; }
.first { clear: both; margin-left: 0px; }
@media only screen and (max-width: 800px) {
  .five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths, .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds { margin: 0px; width: 100%; }
}
