/* Code tidied up by ScrapBook */
@font-face {
  font-family: "SIQ Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: url("SegoeUI.eot") format("embedded-opentype"), url("SegoeUI.woff") format("woff"), url("SegoeUI.ttf") format("truetype");
}
@font-face {
  font-family: "SIQ Segoe UI SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("SegoeUI-SemiBold.eot") format("embedded-opentype"), url("SegoeUI-SemiBold.woff") format("woff"), url("SegoeUI-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "SIQ FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont_002.eot") format("embedded-opentype"), url("fontawesome-webfont_001.woff2") format("woff2"), url("fontawesome-webfont_001.woff") format("woff"), url("fontawesome-webfont_002.ttf") format("truetype"), url("fontawesome-webfont_001.svg") format("svg");
}
