/* Code tidied up by ScrapBook */
.et_monarch .et_social_popup_content, .et_monarch .et_social_flyin, .et_monarch .et_social_networks, .et_monarch .et_social_sidebar_networks, .et_monarch .et_social_networks div, .et_monarch .et_social_sidebar_networks div, .et_monarch .et_social_networks span, .et_monarch .et_social_sidebar_networks span, .et_monarch .et_social_networks h2, .et_monarch .et_social_sidebar_networks h2, .et_monarch .et_social_networks h3, .et_monarch .et_social_sidebar_networks h3, .et_monarch .et_social_networks h4, .et_monarch .et_social_sidebar_networks h4, .et_monarch .et_social_networks p, .et_monarch .et_social_sidebar_networks p, .et_monarch .et_social_networks a, .et_monarch .et_social_sidebar_networks a, .et_monarch .et_social_networks font, .et_monarch .et_social_sidebar_networks font, .et_monarch .et_social_networks img, .et_monarch .et_social_sidebar_networks img, .et_monarch .et_social_networks strike, .et_monarch .et_social_sidebar_networks strike, .et_monarch .et_social_networks strong, .et_monarch .et_social_sidebar_networks strong, .et_monarch .et_social_networks b, .et_monarch .et_social_sidebar_networks b, .et_monarch .et_social_networks u, .et_monarch .et_social_sidebar_networks u, .et_monarch .et_social_networks i, .et_monarch .et_social_sidebar_networks i, .et_monarch .et_social_networks ol, .et_monarch .et_social_sidebar_networks ol, .et_monarch .et_social_networks ul, .et_monarch .et_social_sidebar_networks ul, .et_monarch .et_social_networks li, .et_monarch .et_social_sidebar_networks li, .et_monarch .widget_monarchwidget li, .et_monarch .widget .et_social_networks li, .et_monarch .widget_text .et_social_networks li, .et_monarch .widget_monarchwidget li::before, .et_monarch .widget_monarchwidget li::after, .et_monarch .et_social_popup_content h3, .et_monarch .et_social_popup_content p, .et_monarch .et_social_popup_content::after, .et_monarch .et_social_flyin h3, .et_monarch .et_social_flyin p, .et_monarch .et_social_flyin::after, .et_monarch .et_social_pinterest_window h3, .et_monarch .et_social_mobile, .et_monarch .et_social_mobile_button, .et_monarch .et_social_heading { font-family: "Open Sans",helvetica,arial,sans-serif; line-height: 1em; text-transform: none; font-weight: normal; margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background-image: none; box-sizing: content-box; transform: translate3d(0px, 0px, 0px); }
.et_monarch .et_social_networks, .et_monarch .et_social_sidebar_networks, .et_monarch .et_social_sidebar_networks_mobile { font-family: "Open Sans",helvetica,arial,sans-serif; line-height: 1em; font-weight: 400; }
.et_monarch .et_social_networks span, .et_monarch .et_social_sidebar_networks span, .et_monarch .et_social_circle i.et_social_icon, i.et_social_icon::before, i.et_social_icon::after, .et_monarch .et_social_networks li, .et_monarch .et_social_networks li a, .et_monarch .et_social_networks div, .et_monarch .et_social_sidebar_mobile, .et_monarch .et_social_sidebar_networks_mobile li, .et_monarch .et_social_pin_image a::before { transition: all 0.3s ease 0s; }
.et_monarch .et_social_count, .et_monarch .widget_monarchwidget .et_social_networkname, .et_monarch .widget_monarchwidget .et_social_count span, .et_monarch .et_social_circle .et_social_icons_container li i::before { transition: none 0s ease 0s  ! important; }
.et_monarch .et_social_icon, .et_monarch .et_social_networks .et_social_network_label, .et_monarch .et_social_sidebar_networks .et_social_count { color: rgb(255, 255, 255); }
.et_monarch .et_social_count { line-height: 23px; }
.et_monarch .et_social_networks, .et_monarch .et_social_sidebar_networks, .et_monarch .widget_monarchwidget a { text-shadow: none ! important; }
@font-face {
  font-family: "ETmonarch";
  font-style: normal;
  font-weight: normal;
  src: url("monarch.eot") format("embedded-opentype"), url("monarch.ttf") format("truetype"), url("monarch.woff") format("woff"), url("monarch.svg") format("svg");
}
.et_monarch .et_social_icon, .et_monarch .et_social_icon::before, .et_monarch .et_social_icon::after { font-family: "ETmonarch"; font-style: normal; font-size: 16px; line-height: 16px; font-weight: normal; font-variant: normal; text-transform: none; text-align: center; display: block; }
.et_monarch .et_social_icon_youtube::before, .et_monarch .et_social_icon_youtube::after { content: ""; }
.et_monarch .et_social_icon_instagram::before, .et_monarch .et_social_icon_instagram::after { content: ""; }
.et_monarch .et_social_icon_facebook::before, .et_monarch .et_social_icon_facebook::after { content: ""; }
.et_monarch .et_social_icon_twitter::before, .et_monarch .et_social_icon_twitter::after { content: ""; }
.et_monarch .et_social_facebook, .et_monarch .et_social_facebook, .et_monarch .et_social_networks.et_social_circle .et_social_facebook i { background-color: rgb(58, 87, 154); }
.et_monarch li.et_social_facebook:hover, .et_monarch .et_social_networks.et_social_circle li.et_social_facebook:hover i { background-color: rgb(49, 74, 131); }
.et_monarch .widget_monarchwidget li.et_social_facebook { background-color: rgb(58, 87, 154) ! important; }
.et_monarch .widget_monarchwidget li.et_social_facebook:hover, .et_monarch .widget_monarchwidget .et_social_circle li.et_social_facebook:hover i { background-color: rgb(49, 74, 131) ! important; }
.et_monarch .et_social_twitter, .et_monarch .et_social_twitter, .et_monarch .et_social_networks.et_social_circle .et_social_twitter i { background-color: rgb(0, 171, 240); }
.et_monarch .widget_monarchwidget li.et_social_twitter:hover, .et_monarch li.et_social_twitter:hover, .et_monarch .et_social_networks.et_social_circle li.et_social_twitter:hover i { background-color: rgb(0, 146, 204); }
.et_monarch .widget_monarchwidget li.et_social_twitter { background-color: rgb(0, 171, 240) ! important; }
.et_monarch .widget_monarchwidget li.et_social_twitter:hover, .et_monarch .widget_monarchwidget .et_social_circle li.et_social_twitter:hover i { background-color: rgb(0, 146, 204) ! important; }
.et_monarch .et_social_instagram, .et_monarch .et_social_networks.et_social_circle .et_social_instagram i { background-color: rgb(81, 127, 164); }
.et_monarch li.et_social_instagram:hover, .et_monarch .et_social_networks.et_social_circle li.et_social_instagram:hover i { background-color: rgb(69, 108, 140); }
.et_monarch .widget_monarchwidget li.et_social_instagram { background-color: rgb(81, 127, 164) ! important; }
.et_monarch .widget_monarchwidget li.et_social_instagram:hover, .et_monarch .widget_monarchwidget .et_social_circle li.et_social_instagram:hover i { background-color: rgb(69, 108, 140) ! important; }
.et_monarch .et_social_youtube, .et_monarch .et_social_networks.et_social_circle .et_social_youtube i { background-color: rgb(168, 36, 15); }
.et_monarch li.et_social_youtube:hover, .et_monarch .et_social_networks.et_social_circle li.et_social_youtube:hover i { background-color: rgb(143, 31, 13); }
.et_monarch .widget_monarchwidget li.et_social_youtube { background-color: rgb(168, 36, 15) ! important; }
.et_monarch .widget_monarchwidget li.et_social_youtube:hover, .et_monarch .widget_monarchwidget .et_social_circle li.et_social_youtube:hover i { background-color: rgb(143, 31, 13) ! important; }
.et_monarch .et_social_sidebar_networks .et_social_icons_container li:hover i, .et_monarch .et_social_sidebar_networks .et_social_icons_container li:hover .et_social_count, .et_monarch .et_social_mobile .et_social_icons_container li:hover i, .et_monarch .widget_monarchwidget .et_social_icons_container li:hover .et_social_icon, .et_monarch .widget_monarchwidget .et_social_networks .et_social_icons_container li:hover .et_social_network_label, .et_monarch .widget_monarchwidget .et_social_icons_container li:hover .et_social_sidebar_count { color: rgb(255, 255, 255); }
.widget_monarchwidget li, .et_monarch .widget_text .et_social_networks li { background-image: none ! important; list-style: outside none none; padding: 0px ! important; margin-bottom: 0px ! important; border: medium none ! important; }
.widget_monarchwidget li, .et_monarch .widget_monarchwidget li::after { border: medium none ! important; }
.widget_monarchwidget li::before { display: none; }
.et_monarch .et_social_networkname { word-break: break-all; }
.et_monarch .et_social_icon, .et_monarch .et_social_sidebar_networks .et_social_count { position: relative; z-index: 100; }
.et_monarch .et_social_networks span.et_social_overlay { height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.1); bottom: 0px; left: 0px; z-index: 1; position: absolute; }
.widget_monarchwidget { width: auto; float: none ! important; }
.et_monarch .et_social_networks { width: 100%; display: inline-block; }
.et_monarch .et_social_networks .et_social_icons_container { padding: 0px ! important; margin: 0px ! important; line-height: 1em ! important; display: inline-block; width: inherit; }
.et_monarch .et_social_networks li, .et_monarch .widget_monarchwidget .et_social_networks li, .et_monarch .widget .et_social_networks li, .et_monarch .widget_text .et_social_networks li { float: left; position: relative; margin: 2% 0px 0px 2%; overflow: hidden; min-height: 40px; line-height: 0; }
.et_monarch .et_social_networks li a { line-height: 0; }
.et_monarch .et_social_networks li, .et_monarch .et_social_networks li a, .et_monarch .et_social_icon { display: block; overflow: hidden; box-sizing: border-box; }
.et_monarch .et_social_networks div.et_social_network_label { font-size: 14px; }
.et_monarch .et_social_networks div.et_social_count .et_social_count_label { font-size: 12px; font-weight: 400; }
.et_monarch .et_social_networks div, .et_monarch .et_social_networks span, .et_monarch .et_social_networks li i { position: relative; z-index: 2; }
.et_monarch .et_social_networks .et_social_icon, .et_monarch .et_social_networks .et_social_icon::before, .et_monarch .et_social_networks .et_social_icon::after { width: 40px; height: 40px; line-height: 40px; display: inline-block; border-radius: 100px; }
.et_monarch .et_social_networks .et_social_networkname, .et_monarch .et_social_networks .et_social_count span { font-weight: 700; }
.et_monarch .et_social_networkname, .et_monarch .et_social_count { display: none; }
.et_monarch .et_social_withnetworknames .et_social_networkname, .et_monarch .et_social_withcounts .et_social_count, .et_monarch .et_social_sidebar_withcounts .et_social_count { display: inherit; }
.et_monarch .et_social_withtotalcount .et_social_totalcount { display: block; }
.et_monarch .et_social_networks .et_social_totalcount, .et_monarch .et_social_sidebar_networks_mobile .et_social_totalcount { text-align: left; color: rgb(68, 68, 68); margin-bottom: 10px; }
.et_monarch .et_social_networks .et_social_totalcount_count, .et_monarch .et_social_sidebar_networks_mobile .et_social_totalcount_count { display: inline-block; font-size: 20px; font-weight: 700; line-height: 20px; }
.et_monarch .et_social_networks .et_social_totalcount_label, .et_monarch .et_social_sidebar_networks_mobile .et_social_totalcount_label { display: inline-block; font-size: 14px; margin-left: 4px; }
.et_monarch .et_social_outer_dark .et_social_totalcount, .et_monarch .et_social_outer_dark.et_social_circle .et_social_network_label { color: rgb(68, 68, 68); }
.et_monarch .et_social_darken.et_social_top li:hover .et_social_icon, .et_monarch .et_social_darken.et_social_left li:hover .et_social_overlay, .et_monarch .et_social_darken.et_social_circle li:hover .et_social_icon::before, .et_monarch .et_social_slide.et_social_top li:hover .et_social_icon { background-color: rgba(0, 0, 0, 0.2); }
.et_monarch .et_social_icon::after { display: none; }
.et_monarch .et_social_slide .et_social_icon::after { display: inline-block; position: absolute; top: -40px; left: 0px; }
.et_monarch .et_social_slide li:hover .et_social_icon::before { opacity: 0; margin-top: 40px; }
.et_monarch .et_social_slide li:hover .et_social_icon::after { top: 0px; }
.et_monarch .et_social_slide li:hover .et_social_overlay { background-color: transparent; margin: 0px 0px 0px 100px; }
.et_monarch .et_social_icon::before, .et_monarch .et_social_icon::after { position: relative; width: 100%; }
.et_monarch .et_social_icon::after { display: none; }
.et_monarch .et_social_top div, .et_monarch .et_social_top ul, .et_monarch .et_social_top li, .et_monarch .et_social_top span, .et_monarch .et_social_top a, .et_monarch .et_social_top .et_social_icons_container { text-align: center; }
.et_monarch .et_social_top li a, .et_monarch .et_social_media_wrapper .et_social_top li .et_social_share { padding: 10px; }
.et_monarch .et_social_top .et_social_network_label div { margin-top: 8px; line-height: 1em; }
.et_monarch .et_social_top span { display: block; margin: 0px; }
.et_monarch .et_social_top .et_social_count span:first-of-type { margin-bottom: 2px; }
.et_monarch .et_social_top span.et_social_overlay { background-color: transparent; }
.et_monarch .et_social_top .et_social_icon { background-color: rgba(0, 0, 0, 0.1); }
.et_monarch .et_social_rounded.et_social_networks li, .et_monarch .et_social_rounded.et_social_nospace.et_social_networks .et_social_icons_container { border-radius: 4px; overflow: hidden; }
.et_monarch .et_social_2col li { width: 49%; }
.et_monarch .et_social_1col li:first-child, .et_monarch .et_social_2col li:nth-child(-n+2), .et_monarch .et_social_3col li:nth-child(-n+3), .et_monarch .et_social_4col li:nth-child(-n+4), .et_monarch .et_social_5col li:nth-child(-n+5), .et_monarch .et_social_6col li:nth-child(-n+6) { margin-top: 0px; }
.et_monarch .et_social_1col li, .et_monarch .et_social_2col li:nth-child(2n+1), .et_monarch .et_social_3col li:nth-child(3n+1), .et_monarch .et_social_4col li:nth-child(4n+1), .et_monarch .et_social_5col li:nth-child(5n+1), .et_monarch .et_social_6col li:nth-child(6n+1), .et_monarch .et_social_autowidth li:first-child { margin-left: 0px; clear: both; }
.et_monarch .et_social_icons_container a, a.et_social_icon_cancel { text-decoration: none ! important; }
@media only screen and (min-width: 1025px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 767px) {
  .et_monarch .et_social_networks li, .et_monarch .et_social_mobile .et_social_networks li { margin: 2% 0px 0px 2% ! important; width: 49% ! important; clear: none ! important; }
  .et_monarch .et_social_networks li:nth-child(2n+1), .et_monarch .et_social_mobile .et_social_networks li:nth-child(2n+1) { margin-left: 0px ! important; clear: both ! important; }
  .et_monarch .et_social_networks li:nth-child(-n+2), .et_monarch .et_social_mobile .et_social_networks li:nth-child(-n+2) { margin-top: 0px ! important; }
}
@media only screen and (max-width: 479px) {
  .et_monarch .et_social_networks li, .et_monarch .et_social_mobile .et_social_networks li { width: 100% ! important; margin-left: 0px ! important; clear: both ! important; }
  .et_monarch .et_social_networks li:first-child, .et_monarch .et_social_mobile .et_social_networks li:first-child { margin-top: 0px ! important; }
  .et_monarch .et_social_networks li:nth-child(n+2), .et_monarch .et_social_mobile .et_social_networks li:nth-child(n+2) { margin: 2% 0px 0px ! important; }
}
@keyframes et_social_fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes et_social_fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes et_social_fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes et_social_fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes et_social_fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes et_social_fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes et_social_fadeInRight {
0% { opacity: 0; transform: translateX(-30%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes et_social_fadeInRight {
0% { opacity: 0; transform: translateX(-30%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes et_social_fadeInRight {
0% { opacity: 0; transform: translateX(-30%); }
100% { opacity: 1; transform: translateX(0px); }
}
@keyframes et_social_fadeInBottom {
0% { opacity: 0; transform: translateY(-30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_fadeInBottom {
0% { opacity: 0; transform: translateY(-30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_fadeInBottom {
0% { opacity: 0; transform: translateY(-30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_fadeInTop {
0% { opacity: 0; transform: translateY(30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_fadeInTop {
0% { opacity: 0; transform: translateY(30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_fadeInTop {
0% { opacity: 0; transform: translateY(30%); }
100% { opacity: 1; transform: translateY(0px); }
}
@keyframes et_social_slideTop {
0% { transform: translateY(0px); }
100% { transform: translateY(0px); }
}
@keyframes et_social_slideTop {
0% { transform: translateY(0px); }
100% { transform: translateY(0px); }
}
@keyframes et_social_slideTop {
0% { transform: translateY(0px); }
100% { transform: translateY(0px); }
}
@keyframes et_social_swing {
20% { transform: rotate3d(0, 0, 1, 15deg); }
40% { transform: rotate3d(0, 0, 1, -10deg); }
60% { transform: rotate3d(0, 0, 1, 5deg); }
80% { transform: rotate3d(0, 0, 1, -5deg); }
100% { transform: rotate3d(0, 0, 1, 0deg); }
}
@keyframes et_social_swing {
20% { transform: rotate3d(0, 0, 1, 15deg); }
40% { transform: rotate3d(0, 0, 1, -10deg); }
60% { transform: rotate3d(0, 0, 1, 5deg); }
80% { transform: rotate3d(0, 0, 1, -5deg); }
100% { transform: rotate3d(0, 0, 1, 0deg); }
}
@keyframes et_social_tada {
0% { transform: scale3d(1, 1, 1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes et_social_tada {
0% { transform: scale3d(1, 1, 1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes et_social_bounce {
0%, 20%, 53%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0px, 0px, 0px); }
40%, 43% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes et_social_bounce {
0%, 20%, 53%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0px, 0px, 0px); }
40%, 43% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes et_social_flipInX {
0% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes et_social_flipInX {
0% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes et_social_zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes et_social_zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes et_social_lightSpeedIn {
0% { transform: translate3d(30%, 0px, 0px) skewX(-10deg); opacity: 0; }
60% { transform: skewX(5deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
@keyframes et_social_lightSpeedIn {
0% { transform: translate3d(100%, 0px, 0px) skewX(-30deg); opacity: 0; }
60% { transform: skewX(20deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
