/* ::::: http://www.leiphone.com/resWeb/css/common/base.css?v=20160808 (@media all) ::::: */

@charset "utf-8";
html {  }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select {  }
header, footer, nav { display: block; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(254, 145, 123); color: rgb(255, 255, 255); }
html, body { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body { font-family: "microsoft yahei",Arial; color: rgb(0, 0, 0); }
i { font-style: normal; }
a { text-decoration: none; color: rgb(51, 51, 51); border: 0px none; font-size: 100%; margin: 0px; padding: 0px; vertical-align: baseline; transition: all 0.3s ease-in 0s; }
.clr:after { clear: both; content: " "; display: block; visibility: hidden; height: 0px; }
.clr {  }
.inner { width: 1100px; margin: 0px auto; position: relative; }
.explorer { display: none; padding: 28px 0px; background-color: rgb(253, 233, 208); text-align: center; font-size: 14px; color: rgb(211, 107, 75); }
.explorer .ico { display: inline-block; background: url("explorer.png") no-repeat scroll 0% 0% transparent; vertical-align: middle; margin-left: 20px; }
.explorer .warn { background-position: -2px -12px; width: 29px; height: 24px; margin-right: 8px; margin-left: 0px; }
.explorer span { cursor: pointer; }
.explorer .exp-ico1 { background-position: -35px -1px; width: 41px; height: 39px; }
.explorer .exp-ico2 { background-position: -79px -1px; width: 39px; height: 37px; }
.explorer .exp-ico3 { background-position: -121px 0px; width: 41px; height: 41px; }
.explorer .exp-ico4 { background-position: -165px 0px; width: 43px; height: 45px; }
.explorer .exp-ico5 { background-position: -210px -2px; width: 39px; height: 39px; }
.lph-main { margin-top: 44px; margin-bottom: 120px; }
.lph-left { width: 788px; float: left; }
.lph-right { width: 278px; float: right; }
.lph-right .right-box { margin-bottom: 30px; }
.lph-right .right-box-title { color: rgb(51, 51, 51); font-size: 20px; height: 20px; line-height: 20px; padding-bottom: 7px; border-bottom: 2px solid rgb(203, 203, 203); }
.lph-right .right-box-title h3 { float: left; }
.lph-right .right-box-title a { float: right; font-size: 12px; padding-top: 5px; color: rgb(157, 157, 157); }
.zhiqu-ads { display: none; }
.zhiqu-ads ul { margin-top: 10px; }
.zhiqu-ads-header .reflash { padding-top: 0px; position: relative; top: -3px; }
.zhiqu-ads-header i { width: 17px; height: 17px; background: url("lph-right-sprite.png") repeat scroll 0px -98px transparent; display: inline-block; position: relative; top: 4px; margin-right: 5px; }
.zhiqu-ads-src { font-size: 12px; text-align: right; color: rgb(136, 136, 136); }
.zhiqu-ads-src a { font-weight: bold; color: rgb(136, 136, 136); }
.zhiqu-ads-src a:hover { color: rgb(219, 109, 76); }
.gotoBar { width: 50px; border-bottom: medium none; position: fixed; bottom: 50px; left: 50%; margin-left: 568px; }
.gotoBar a { height: 50px; display: block; border: 1px solid rgb(230, 230, 230); background: url("lph-footer-sprite.png") no-repeat scroll 0% 0% rgb(245, 245, 245); }
.gotoBar a { transition: background-position 0s ease 0s; }
.gotoBar a:hover { background-color: rgb(237, 237, 237); }
.gotoBar a.top { background-position: 10px -102px; display: none; }
.gotoBar a.top:hover { background-position: -60px -102px; }
.gotoBar a.comment { background-position: 10px -50px; }
.gotoBar a.comment:hover { background-position: -60px -50px; }
.gotoBar .sugg { background-color: rgb(248, 248, 248); background-image: none; text-align: center; }
.gotoBar .sugg span { line-height: 18px; color: rgb(214, 214, 214); font-size: 14px; padding-top: 7px; display: inline-block; }
.gotoBar .sugg:hover { background-color: rgb(243, 243, 243); }
.gotoBar .sugg:hover span { color: rgb(192, 192, 192); }
.lph-overlay { position: absolute; display: none; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); top: 0px; left: 0px; z-index: 1000; }
.lp-comment { width: 100%; margin: 0px auto; padding-top: 28px; font-family: "microsoft yahei"; }
.lp-comment .h2 { height: 30px; line-height: 30px; }
.lp-comment .h2 h2 { font-size: 20px; color: rgb(51, 51, 51); font-weight: normal; float: left; }
.lp-comment .submit { margin-top: 20px; margin-bottom: 20px; }
.lp-comment .submit .text { padding-right: 32px; }
.lp-comment .submit textarea { resize: none; width: 100%; height: 60px; color: rgb(153, 153, 153); font-size: 14px; border: 1px solid rgb(213, 82, 82); padding: 15px; }
.lp-comment .submit textarea:focus { outline: 0px none; }
.lp-comment .submit .sub { padding-top: 14px; font-size: 12px; }
.lp-comment .submit .sub button { font-size: 18px; color: rgb(255, 255, 255); padding: 11px 45px; font-family: "microsoft yahei"; border-radius: 5px 5px 5px 5px; background: none repeat scroll 0% 0% rgb(213, 82, 82); border: 0px none; cursor: pointer; float: right; display: inline; transition: all 0.3s ease-out 0s; }
.lp-comment .submit .sub button:hover { background: none repeat scroll 0% 0% rgb(224, 95, 95); }
.lp-comment .words { padding-bottom: 20px; }
.lp-comment .words h3 { font-size: 14px; color: rgb(153, 153, 153); height: 40px; line-height: 40px; border-bottom: 1px solid rgb(236, 236, 236); position: relative; margin-top: 4px; font-weight: normal; }
.lp-comment .words h3 strong { font-size: 20px; color: rgb(213, 82, 82); position: absolute; bottom: -1px; left: 0px; border-bottom: 2px solid rgb(213, 82, 82); }
.lp-comment .words .comment-say {  }
.lp-comment .words .comment-say-li { padding: 20px 0px 8px; border-bottom: 1px dashed rgb(236, 236, 236); }
.lp-comment .words .comment-say .csl-img { width: 40px; float: left; }
.lp-comment .words .comment-say .csl-img img { border-radius: 50% 50% 50% 50%; }
.lp-comment .words .comment-say .csl-body { padding-left: 60px; }
.lp-comment .words .comment-say .csl-body .cont { color: rgb(102, 102, 102); font-size: 14px; padding-bottom: 10px; word-break: break-all; word-wrap: break-word; overflow: auto; }
.lp-comment .words .comment-say .csl-body .cont a.name { color: rgb(182, 98, 87); text-decoration: none; }
.lp-comment .comment-say .csl-body .time { font-size: 12px; color: rgb(204, 204, 204); height: 14px; line-height: 14px; }
.lp-comment .comment-say .csl-body .time span { padding-right: 22px; float: left; }
.lp-comment .comment-say .csl-body .time a.respond-coin { float: right; }
.lp-comment .comment-say .csl-body .time a.respond-coin i { width: 17px; height: 16px; display: inline-block; background: url("lph-comment-sprite.png") no-repeat scroll -200px 0px transparent; }
.lp-comment .comment-say .csl-body .time a.respond-coin em { color: rgb(160, 160, 160); font-size: 14px; position: relative; top: -3px; margin-left: 8px; }
.lp-comment .comment-say .csl-respond { padding: 10px 0px 0px; }
.lp-comment .comment-say .csl-body .time .zan { display: inline-block; float: right; position: relative; top: -2px; }
.lp-comment .comment-say .csl-body .zan i { width: 18px; height: 15px; margin-left: 15px; margin-right: 2px; cursor: pointer; background: url("lph-comment-sprite.png") no-repeat scroll -409px 0px transparent; display: inline-block; }
.lp-comment .comment-say .csl-body .zan em { position: relative; top: -1px; font-size: 14px; }
@keyframes zan-anim {
0% { transform: scale(0, 0); }
50% { transform: scale(1.3, 1.3); }
100% { transform: scale(0, 0); }
}
@keyframes zan-anim {
0% { transform: scale(0, 0); }
50% { transform: scale(1.3, 1.3); }
100% { transform: scale(0, 0); }
}
.lp-comment .words .comment-say .csl-body .respond-submit { display: none; }
.lp-comment .words .comment-say .csl-body .text { position: relative; }
.lp-comment .words .comment-say .csl-body .text input { border-radius: 2px 2px 2px 2px; padding-right: 10px; height: 37px; line-height: 14px; font-size: 14px; color: rgb(90, 90, 90); border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(247, 247, 247); }
.lp-comment .words .comment-say .csl-body .text input:focus { outline: 1px solid rgb(255, 183, 183); }
.lp-comment .words .comment-say .csl-body .text .tip { font-size: 14px; color: rgb(153, 153, 153); position: absolute; top: 10px; left: 10px; }
.lp-comment .words .comment-say .csl-body .text .tip a { padding: 0px 5px; }
.lp-comment .words .comment-say .csl-body .sub button { cursor: pointer; width: 85px; height: 33px; color: rgb(255, 255, 255); font-size: 14px; background: none repeat scroll 0% 0% rgb(213, 82, 82); border: 0px none; outline: 0px none; float: right; transition: all 0.3s ease-out 0s; }
.lp-comment .words .comment-say .csl-body .sub button:hover { background: none repeat scroll 0% 0% rgb(224, 95, 95); }
.lp-comment .words .comment-say .csl-body .sub { padding-top: 14px; }
.lp-comment span.emotionc { font-size: 12px; color: rgb(102, 102, 102); width: 42px; height: 20px; background: url("lph-comment-face.gif") no-repeat scroll 2px 2px transparent; padding-left: 21px; cursor: pointer; margin-right: 10px; }
.lp-comment span.emotionc:hover { background-position: 2px -28px; }
.lp-comment .qqFace { margin-top: 4px; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(223, 230, 246); }
.lp-comment .words .comment-say .csl-body .cont a.type { display: inline-block; width: 40px; height: 20px; vertical-align: middle; margin-left: 5px; }
.lp-comment .words .comment-say .csl-body .cont .xb { background: url("c-xiaobai.png") no-repeat scroll 0% 0% transparent; }
.lp-comment .words .comment-say .csl-body .cont .i_vip { background: url("c-vip.png") no-repeat scroll 0% 0% transparent; }
.lp-comment .submit .sub { position: relative; }
.lp-comment .submit textarea { width: 600px; resize: none; margin: 0px auto; height: 66px; color: rgb(173, 173, 173); font-size: 14px; border: 1px solid rgb(232, 232, 232); padding: 15px; background: none repeat scroll 0% 0% rgb(249, 249, 249); }
.lp-comment .submit .sub button { width: 108px; height: 98px; background: none repeat scroll 0% 0% rgb(236, 107, 68); font-size: 16px; color: rgb(255, 255, 255); line-height: 98px; text-align: center; padding: 0px; border-radius: 0px 0px 0px 0px; position: absolute; right: 0px; bottom: 37px; }
.lp-comment span.emotionc { background: url("face.png") no-repeat scroll 0px 0px transparent; width: 21px; height: 19px; display: inline-block; vertical-align: middle; text-indent: -999em; }
.lp-comment span.emotionc:hover { background-position: 0px -19px; }
.lp-comment .submit .sub input[type="checkbox"] { vertical-align: middle; }
.lp-comment .words .comment-say .csl-body .cont span { display: block; padding-top: 8px; line-height: 22px; }
.lp-comment .comment-say .csl-body .time .zan { float: none; }
.lp-comment .comment-say .csl-body .time a.respond-coin { float: none; margin-right: 4px; }
.lp-comment .words .comment-say .csl-body { position: relative; padding-left: 55px; }
.lp-comment .comment-say .csl-body .time span:first-child { position: absolute; top: 3px; right: 0px; }
.lp-comment .words .comment-say .csl-body .cont a.name { display: inline-block; }
.lp-comment .comment-say .csl-body .time a.respond-coin i { background: url("mess.png") no-repeat scroll 0% 0% transparent; vertical-align: -2px; }
.lp-comment .comment-say .csl-body .zan i { background: url("zan.png") no-repeat scroll 0% 0% transparent; vertical-align: 0px; height: 14px; }
.lp-comment .words .comment-say-li { border-bottom-style: solid; }
.lp-comment .words .comment-say .csl-body .cont a.name { color: rgb(91, 133, 169); font-size: 12px; }
.lp-comment .words { padding-bottom: 0px; }
.lp-comment { padding: 28px 0px 0px; }
.send-message-box { width: 570px; font-size: 14px; display: none; z-index: 1001; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); position: fixed; left: 50%; margin-left: -285px; top: 100px; }
.send-message-header { height: 58px; line-height: 58px; background: none repeat scroll 0% 0% rgb(68, 68, 68); color: rgb(255, 255, 255); font-size: 18px; padding: 0px 15px; position: relative; }
.send-message-header em { position: absolute; right: 15px; cursor: pointer; }
.send-message-body { padding: 20px 15px; }
.send-message-box .send-to { border-bottom: 1px solid rgb(212, 213, 215); padding-bottom: 7px; }
.send-message-box .send-to span { float: left; color: rgb(136, 136, 136); }
.send-message-box .send-to input { float: left; outline: medium none; margin-left: 5px; border: 0px none; width: 400px; }
.send-message-box .send-content .title { color: rgb(136, 136, 136); padding-bottom: 5px; margin-top: 10px; }
.send-message-box .send-content textarea { width: 96%; padding: 10px 2%; height: 150px; resize: none; border: 1px solid rgb(212, 213, 215); outline: medium none; }
.send-message-box .send-content textarea:focus { border-color: rgb(221, 112, 79); box-shadow: 0px 0px 3px rgb(221, 112, 79); }
.send-message-box .tr { text-align: right; margin-top: 10px; }
.send-message-box .send-button { width: 76px; height: 40px; line-height: 40px; background: none repeat scroll 0% 0% rgb(221, 110, 76); color: rgb(255, 255, 255); border-radius: 3px 3px 3px 3px; display: inline-block; text-align: center; }
@media screen and (max-width: 768px) {
}
.yzEmail_tip { z-index: 9; display: none; padding: 12px 40px 12px 12px; background: none repeat scroll 0% 0% rgb(255, 251, 221); border: 1px solid rgb(236, 215, 168); position: fixed; top: 145px; right: 20px; color: rgb(63, 63, 63); font-size: 14px; }
.yzEmail_tip a { color: rgb(222, 108, 71); }
.yzEmail_tip i.close { cursor: pointer; width: 15px; height: 15px; position: absolute; right: 10px; top: 17px; background: url("yzEmail-sprite.png") no-repeat scroll 0px 0px transparent; }
.yzEmail_tip1 em { float: left; width: 20px; height: 20px; margin-top: 2px; background: url("yzEmail-sprite.png") no-repeat scroll -30px 0px transparent; }
.yzEmail_tip2 .links { text-align: center; }
.yzEmail_tip2 .links a { margin: 0px 5px; }
.yzEmail_box { display: none; z-index: 1000; width: 560px; border-radius: 3px 3px 3px 3px; position: fixed; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); overflow: hidden; }
.yzEmail_box .head { height: 50px; line-height: 50px; background: none repeat scroll 0% 0% rgb(240, 240, 240); padding: 0px 18px; }
.yzEmail_box a { color: rgb(222, 108, 71); }
.yzEmail_box i.close { cursor: pointer; width: 15px; height: 15px; position: absolute; right: 12px; top: 17px; background: url("yzEmail-sprite.png") no-repeat scroll 0px -20px transparent; }
.yzEmail_box1 .box { padding: 25px 45px; text-align: center; line-height: 1.8; }
.yzEmail_box1 .box input { width: 280px; padding: 0px 12px; height: 48px; background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(145, 145, 145); font-size: 14px; border: 1px solid rgb(240, 240, 240); outline: medium none; border-radius: 2px 2px 2px 2px; }
.yzEmail_box1 .box a.btn { padding: 13px 14px; border-radius: 2px 2px 2px 2px; background: none repeat scroll 0% 0% rgb(222, 108, 71); font-size: 14px; color: rgb(255, 255, 255); border: medium none; outline: medium none; cursor: pointer; font-family: "microsoft yahei"; margin-left: 6px; }
.yzEmail_box1 .box a.btn i { display: none; width: 14px; height: 14px; background: url("loading32.gif") repeat scroll 0% 0% / 100% 100% transparent; position: relative; top: 1px; right: 5px; }
.yzEmail_box1 .error { color: rgb(243, 106, 122); font-size: 12px; display: none; padding: 0px 35px; text-align: left; }
.yzEmail_box2 .top { padding: 15px 45px 0px; }
.yzEmail_box2 .btm { padding: 15px 45px 25px; }
.yzEmail_box2 .btm input { width: 225px; padding: 0px 12px; height: 48px; background: none repeat scroll 0% 0% rgb(246, 246, 246); color: rgb(145, 145, 145); font-size: 14px; border: 1px solid rgb(240, 240, 240); outline: medium none; border-radius: 2px 2px 2px 2px; }
.yzEmail_box2 .btm a.btn { padding: 13px 14px; border-radius: 2px 2px 2px 2px; background: none repeat scroll 0% 0% rgb(222, 108, 71); font-size: 14px; color: rgb(255, 255, 255); border: medium none; outline: medium none; cursor: pointer; font-family: "microsoft yahei"; margin-left: 6px; }
.yzEmail_box2 .btm a.clo { color: rgb(165, 162, 162); margin-left: 25px; }
.yzEmail_box2 .error { color: rgb(243, 106, 122); font-size: 12px; display: none; }
.hot-tryout .list li { margin-top: 15px; overflow: hidden; padding-left: 10px; }
.hot-tryout .list li .pic { display: block; width: 80px; height: 80px; float: left; }
.hot-tryout .list li .txt { padding-left: 20px; overflow: hidden; }
.hot-tryout .list li .txt .name { padding-right: 20px; max-height: 40px; line-height: 20px; overflow: hidden; }
.hot-tryout .list li .txt .name a { display: block; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.hot-tryout .list li .txt .tags { font-size: 12px; line-height: 20px; padding-top: 10px; color: rgb(136, 136, 136); }
.hot-tryout .list li:hover .txt .name a { color: rgb(219, 109, 76); }
/* ::::: http://www.leiphone.com/resWeb/css/common/header.css?v=20160808 (@media all) ::::: */

.yp-header { display: block; background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.yp-header-logo { float: left; padding-top: 15px; padding-bottom: 15px; }
.yp-header-logo img { float: left; }
.yp-header-logo span { display: block; line-height: 52px; float: left; padding-left: 3px; color: rgb(96, 96, 96); font-size: 14px; }
.yp-header-search { float: right; margin-top: 18px; width: 292px; height: 42px; border: 1px solid rgb(230, 230, 230); margin-right: 20px; }
.yp-header-search .searchType { float: left; width: 64px; text-align: center; position: relative; font-size: 14px; color: rgb(136, 136, 136); }
.yp-header-search .searchType .sehType-name { height: 20px; line-height: 20px; margin: 11px 0px; cursor: pointer; border-right: 1px solid rgb(230, 230, 230); }
.yp-header-search .searchType:hover .sehType-name { padding: 11px 0px; margin: 0px; }
.yp-header-search .searchType .sehType-list { display: none; position: absolute; z-index: 101; left: -1px; top: 42px; background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 63px; border-right: 1px solid rgb(230, 230, 230); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(230, 230, 230) rgb(230, 230, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: center; }
.yp-header-search .searchType .sehType-list p { line-height: 30px; cursor: pointer; }
.yp-header-search .searchType .sehType-list p:hover { background: none repeat scroll 0% 0% rgb(239, 239, 239); }
.yp-header-search .searchType:hover .sehType-list { display: block; }
.yp-header-search .text { float: left; padding-left: 5px; width: 180px; height: 100%; outline: 0px none; border: 0px none; background: none repeat scroll 0% 0% transparent; font-size: 14px; color: rgb(171, 170, 170); }
.yp-header-search .submit { float: right; width: 42px; height: 100%; border: 0px none; background: url("yp_spirit.png") no-repeat scroll -76px 10px transparent; cursor: pointer; }
.yp-header-user .user-main { position: relative; overflow: hidden; padding-right: 15px; font-family: '微软雅黑'; cursor: pointer; }
.yp-header-user .user-main .arrow { transition: all 0.25s ease 0s; position: absolute; top: 50%; right: 5px; display: block; margin-top: -2px; width: 10px; height: 5px; background: url("yp_spirit.png") no-repeat scroll 0px -33px transparent; }
.yp-header-user:hover .user-main .arrow { transform: rotate(180deg); }
.yp-header-user .avatar img { display: block; border-radius: 50% 50% 50% 50%; width: 45px; height: 45px; }
.yp-header-user .avatar { float: left; }
.yp-header-user { position: relative; float: right; padding: 18px 10px 17px 15px; border: 1px solid transparent; }
.yp-header-user .nickname { float: left; padding: 0px 5px 0px 8px; height: 45px; color: rgb(111, 111, 111); font-size: 14px; line-height: 45px; max-width: 67px; min-width: 38px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.yp-header-user:hover { background: none repeat scroll 0% 0% rgb(252, 252, 252); border-width: 1px; border-style: solid; border-right: 1px solid rgb(226, 226, 226); border-color: transparent rgb(226, 226, 226) rgb(226, 226, 226); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-bottom-right-radius: 0px; }
.yp-header-user:hover .user-link { display: block; }
.yp-header-user .user-link { position: absolute; top: 79px; left: -1px; z-index: 101; display: none; width: 100%; border-right: 1px solid rgb(234, 234, 234); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(234, 234, 234) rgb(234, 234, 234); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.yp-header-user .user-link li { border-top: 1px solid rgb(252, 252, 252); }
.yp-header-user .user-link a { display: block; padding: 10px 18px; color: rgb(136, 136, 136); font-size: 14px; font-family: '微软雅黑'; transition: all 0s ease 0s; }
.yp-header-user .user-link li:hover { background: none repeat scroll 0% 0% rgb(239, 239, 239); border-top-color: rgb(230, 230, 230); }
.yp-header-user .user-link li i { position: relative; top: 2px; margin-right: 8px; display: inline-block; background: url("useCenter.png") no-repeat scroll 0% 0% transparent; }
.yp-header-user .user-link li.l1 i { background-position: -6px -29px; width: 17px; height: 19px; left: 3px; margin-right: 11px; }
.yp-header-user .user-link li.l2 i { background-position: -6px -58px; width: 16px; height: 17px; left: 3px; margin-right: 13px; }
.yp-header-top { height: 80px; background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.yp-header-nav { height: 50px; position: relative; border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(220, 220, 220); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
.yp-header-nav .nav_wrap { font-family: '微软雅黑'; background: none repeat scroll 0% 0% rgb(250, 250, 250); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 100; }
.yp-header-menu { position: relative; float: left; font-size: 14px; line-height: 50px; }
.yp-header-menu li { float: left; }
.yp-header-menu li a { display: block; padding: 0px 28px; color: rgb(51, 51, 51); cursor: pointer; }
.yp-header-menu li .events-list { position: absolute; width: 272px; box-shadow: -1px 0px 1px rgb(236, 236, 236), 1px 0px 1px rgb(236, 236, 236), 0px 1px 1px rgb(236, 236, 236); background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(230, 230, 230); border-width: 1px; border-style: solid; border-color: rgb(219, 109, 78) rgb(230, 230, 230) rgb(230, 230, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; top: 50px; padding: 0px 20px; font-size: 14px; display: none; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.yp-header-menu li .events-list .ls { padding: 10px 0px; border-bottom: 1px dotted rgb(243, 243, 243); position: relative; }
.yp-header-menu li .events-list a { line-height: 22px; color: rgb(27, 27, 27); }
.yp-header-menu li .events-list .title { padding-right: 90px; padding-left: 0px; font-weight: bold; line-height: 22px; max-height: 44px; overflow: hidden; }
.yp-header-menu li .events-list .title:hover { color: rgb(219, 109, 76); }
.yp-header-menu li .events-list .status { position: absolute; right: 0px; top: 20px; line-height: 30px; background: none repeat scroll 0% 0% rgb(219, 109, 76); color: rgb(255, 255, 255); display: block; width: 62px; height: 30px; text-align: center; font-size: 12px; }
.yp-header-menu li .events-list .date { line-height: 22px; color: rgb(219, 109, 76); font-size: 12px; padding-top: 5px; }
.yp-header-menu li .events-list .finished .title { color: rgb(102, 102, 102); font-weight: normal; line-height: 22px; font-size: 14px; }
.yp-header-menu li .events-list .finished .status { color: rgb(102, 102, 102); background: none repeat scroll 0% 0% rgb(242, 242, 242); }
.yp-header-menu li .events-list .finished .date { color: rgb(197, 197, 197); font-size: 12px; }
.yp-header-menu li .events-list .more-events { font-size: 14px; text-align: center; display: block; padding: 0px; margin: 15px auto; height: 28px; line-height: 28px; background: none repeat scroll 0% 0% rgb(239, 239, 239); color: rgb(102, 102, 102); }
.yp-header-menu li:hover > a { color: rgb(238, 91, 46); }
.yp-header-menu .li-events a { position: relative; }
.yp-header-menu .li-events a .point { display: none; width: 6px; height: 6px; background: none repeat scroll 0% 0% rgb(251, 69, 69); border-radius: 50% 50% 50% 50%; position: absolute; top: 14px; }
.yp-header-nav.nav-fixed { display: none; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; opacity: 0.95; }
.yp-header-nav.nav-fixed:hover { opacity: 1; }
.yp-header-menu li { position: relative; }
.yp-header-menu li.first a, .yp-header-menu li:first-child a { padding-left: 5px; }
.yp-header-menu li a .arro { transition: all 0.25s ease 0s; position: absolute; top: 50%; right: 10px; display: block; margin-top: -2px; width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-width: 4px; border-style: solid; border-color: rgb(51, 51, 51) transparent transparent; }
.yp-header-menu li .sub-menu { display: none; position: absolute; top: -10px; box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2); width: 115px; text-align: center; left: -19px; border-right: 1px solid rgb(245, 245, 245); border-width: 1px; border-style: solid; border-color: rgb(238, 91, 46) rgb(245, 245, 245) rgb(245, 245, 245); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.yp-header-menu li .sub-menu a:hover { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.yp-header-menu li .sub-menu .arro, .yp-header-menu li .sub-menu2 .arro { position: absolute; background: url("yp_spirit.png") no-repeat scroll -3px -197px transparent; width: 7px; height: 4px; top: -5px; left: 54px; }
.yp-header-menu li .sub-menu2 .arro { left: 70px; }
.yp-header-menu li.borleft a .arro { right: 27px; }
.yp-header-menu li.borleft { margin-left: 20px; }
.yp-header-menu li.borleft a { padding: 0px 40px; }
.yp-header-menu li .sub-menu2 { position: absolute; width: 140px; text-align: center; left: -12px; padding: 3px; border-right: 1px solid rgb(245, 245, 245); border-width: 1px; border-style: solid; border-color: rgb(238, 91, 46) rgb(245, 245, 245) rgb(245, 245, 245); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.yp-header-menu li .sub-menu2 a { float: left; width: 70px; height: 42px; line-height: 42px; padding: 0px; }
.yp-header-menu li .sub-menu2 a:hover { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.yp-header-menu li.borleft .line { position: absolute; width: 1px; height: 20px; left: 0px; top: 16px; background: none repeat scroll 0% 0% rgb(208, 208, 208); }
.yp-header-message { float: right; width: 63px; position: relative; }
.yp-header-message .bell { position: relative; display: block; width: 63px; height: 80px; border-right: 1px solid rgb(252, 252, 252); border-left: 1px solid rgb(252, 252, 252); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color rgb(252, 252, 252); }
.yp-header-message .ico { width: 26px; height: 35px; background: url("dang.png") no-repeat scroll center center transparent; display: block; border-radius: 5px 5px 5px 5px; border: 1px solid transparent; position: relative; z-index: 102; top: 19px; margin: 0px auto; }
.yp-header-message .bell .count { display: none; }
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://www.leiphone.com/resCommon/css/yp_tipBoxes/tips.css?cdnversion=408868 ::::: */

/* ::::: [internal] ::::: */

/* ::::: http://home.leiphone.com//resWeb/home/css/login/yp_login.css ::::: */

.YP-LOGIN { border: 0px none; margin: 0px 0px 0px -264px; width: 528px; height: 563px; position: fixed; top: 0px; z-index: 1000; display: none; left: 50%; }
.YP-OVERLAY { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 999; display: none; background: url("t.gif") no-repeat scroll center center rgba(0, 0, 0, 0.65); }
.YP-OVERLAY .close { position: absolute; right: 0px; top: 0px; display: block; width: 46px; height: 46px; background-repeat: no-repeat; cursor: pointer; }
@keyframes anim-login {
0% { transform: translate3d(0px, -100px, 0px); opacity: 0; }
100% { transform: translate3d(0px, 0px, 0px); opacity: 1; }
}
@keyframes anim-login {
0% { transform: translate3d(0px, -100px, 0px); opacity: 0; }
100% { transform: translate3d(0px, 0px, 0px); opacity: 1; }
}
@keyframes anim-overlay {
100% { opacity: 1; }
}
@keyframes anim-overlay {
100% { opacity: 1; }
}
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16:after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("icons_0_16.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
/* ::::: http://www.leiphone.com/resWeb/css/twentytwenty.css (@media all) ::::: */

/* ::::: http://www.leiphone.com/resWeb/css/article.css (@media all) ::::: */

@charset "utf-8";
.article-left { width: 740px; padding-bottom: 30px; }
.article-left .pageTop { padding: 30px 0px; }
.article-left .pageTop h1 { color: rgb(41, 41, 41); font-size: 32px; line-height: 1.2; font-family: "microsoft yahei"; }
.article-left .pageInfo { height: 28px; line-height: 28px; border-bottom: 1px dotted rgb(216, 216, 216); }
.article-left .pageInfo .pi-author { float: left; font-size: 14px; color: rgb(136, 136, 136); }
.article-left .pageInfo .pi-author span { margin-right: 1px; }
.article-left .pageInfo .pi-author i { margin: 0px 3px; color: rgb(126, 125, 125); }
.article-left .pageInfo .pi-author a { color: rgb(39, 39, 39); }
.article-left .pageInfo .pi-comment { float: right; padding-left: 10px; border-left: 1px solid rgb(224, 224, 224); height: 18px; margin-top: 5px; line-height: 18px; }
.article-left .pageInfo .pi-comment a { font-size: 14px; color: rgb(237, 85, 101); }
.article-left .pageInfo .pi-comment a span { margin: 2px; }
.article-left .pageCont { padding: 8px 0px 5px; }
.article-left .pageActive { padding-bottom: 20px; padding-top: 20px; }
.article-left .share-btn { height: 32px; transition: background-color 0s ease 0s; line-height: 32px; background: none repeat scroll 0% 0% transparent; border: 1px solid; position: relative; color: rgb(51, 51, 51); float: left; padding: 0px 16px 0px 36px; border-radius: 16px 16px 16px 16px; font-family: "microsoft yahei"; }
.article-left .share-btn i { width: 24px; height: 24px; position: absolute; left: 8px; top: 4px; background: url("article-sprite.png") no-repeat scroll 0% 0% transparent; }
.article-left .mark-like-btn { float: left; }
.article-left .baidu-share { float: right ! important; }
.article-left .mark-like-btn a { margin-right: 20px; font-size: 12px; }
.article-left .baidu-share a { margin: 0px 0px 0px 15px; }
.article-left .collect { border-color: rgb(255, 153, 51); }
.article-left .collect i { background-position: 2px -237px; }
.article-left .baidu-share .more-btn { border-color: rgb(69, 147, 228); background: url("article-sprite.png") no-repeat scroll 8px -208px rgb(255, 255, 255) ! important; height: 32px; line-height: 32px; font-size: 0px; padding: 0px; width: 32px; }
.article-left .baidu-share .more-btn:hover { background-color: rgb(69, 147, 228) ! important; background-position: 8px -14px ! important; }
.article-left #bdshare .s-txt { float: left; line-height: 34px; font-size: 14px; color: rgb(153, 153, 153); }
.article-left .lpatrshare-btn2 { width: 34px; height: 34px; border-radius: 50% 50% 50% 50%; padding: 0px; border: 0px none ! important; }
.article-left .lpatrshare-btn2 { display: inline-block; width: 34px; height: 34px; background: url("article-sprite.png") no-repeat scroll 0% 0% transparent; }
.article-left .lpatrshare-btn2 i { display: none ! important; }
.article-left .weibo-btn { background-position: -1px -592px ! important; }
.article-left .weixin-btn { background-position: -1px -630px; }
.article-left .wy-btn { background-position: -1px -667px; }
#bdshare a:hover { opacity: 0.8; }
@keyframes rock {
0%, 100% { transform: translate3d(0px, 0px, 0px); }
20%, 60% { transform: translate3d(-6px, 0px, 0px); }
40%, 80% { transform: translate3d(6px, 0px, 0px); }
}
@keyframes border_large {
0%, 100% { transform: translate3d(0px, 0px, 0px); }
20%, 60% { transform: translate3d(0px, -6px, 0px); }
40%, 80% { transform: translate3d(0px, 6px, 0px); }
}
.article-left .article-coment { padding-bottom: 40px; }
.weixin-btn { position: relative; }
.pageCont p { position: relative; }
.lph-right .about-author { margin-bottom: 32px; }
.lph-right .aboutAur-main { background-color: rgb(247, 247, 247); padding: 20px 20px 35px; font-size: 12px; color: rgb(55, 55, 55); }
.lph-right .aboutAur-mes .au-face { width: 84px; float: left; position: relative; }
.lph-right .aboutAur-mes .au-face img { width: 84px; height: 84px; border-radius: 50% 50% 50% 50%; }
.lph-right .aboutAur-mes .au-face .v { position: absolute; bottom: -2px; right: 16px; background: url("article-sprite.png") no-repeat scroll -1px -488px transparent; width: 24px; height: 24px; }
.lph-right .aboutAur-mes .aboutAur-name { padding-left: 18px; overflow: hidden; }
.lph-right .aboutAur-mes .aboutAur-name .name a { font-size: 18px; color: rgb(27, 27, 27); }
.lph-right .aboutAur-mes .aboutAur-name .rank { padding: 5px 0px 10px; color: rgb(165, 165, 165); }
.lph-right .aboutAur-mes .aboutAur-name .ope a { display: inline-block; padding: 5px 10px; margin-right: 10px; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); font-size: 14px; border-radius: 3px 3px 3px 3px; }
.lph-right .about-author .atten-area { margin: 32px auto 0px; padding-left: 25px; position: relative; line-height: 18px; color: rgb(51, 51, 51); }
.lph-right .about-author .atten-area em { background: url("article-sprite.png") no-repeat scroll 0% 0% transparent; width: 17px; height: 13px; }
.lph-right .about-author .atten-area em.l-quote { position: absolute; left: 0px; top: 0px; background-position: -1px -519px; }
.lph-right .about-author .atten-area em.r-quote { display: inline-block; background-position: -2px -538px; margin-left: 2px; }
.yp-footer { display: none; }
.lph-main { margin-bottom: 0px; }
.related-article-loading { height: 32px; background: url("t_001.gif") no-repeat scroll 124px center transparent; margin-top: 10px; }
.related-article { position: relative; overflow: hidden; display: none; }
.related-article h2 { height: 36px; margin-bottom: 45px; line-height: 36px; text-align: center; background: none repeat scroll 0% 0% rgb(219, 109, 76); font-weight: bold; font-size: 26px; color: rgb(255, 255, 255); }
.related-article-list {  }
.related-date-group { position: relative; padding-left: 125px; }
.related-date-group .day { position: absolute; font-size: 22px; color: rgb(219, 109, 76); left: 0px; top: 18px; font-weight: bold; }
.related-date-group .time { position: absolute; top: 23px; left: -68px; color: rgb(219, 109, 76); font-size: 13px; }
.related-date-group .dot { display: inline-block; width: 11px; height: 11px; margin-left: 5px; background: none repeat scroll 0% 0% rgb(219, 109, 76); border-radius: 50% 50% 50% 50%; border: 3px solid rgb(255, 255, 255); position: relative; top: 3px; }
.related-date-group ul { padding-left: 20px; border-left: 2px solid rgb(214, 214, 214); }
.related-date-group li { padding: 30px 0px 15px; border-bottom: 1px dashed rgb(224, 224, 224); position: relative; }
.related-date-group li.first-item { padding-top: 0px; }
.related-date-group .litpic { width: 140px; float: left; }
.related-date-group .litpic img { display: block; }
.related-date-group .info { width: 440px; float: right; }
.related-date-group h3 { height: 75px; }
.related-date-group h3 a { font-size: 20px; color: rgb(0, 0, 0); font-weight: bold; }
.related-date-group h3 a:hover { color: rgb(219, 109, 76); }
.related-date-group .ft { font-size: 13px; color: rgb(184, 184, 184); }
.related-date-group .ft a { color: rgb(184, 184, 184); padding: 0px 2px; }
.related-date-group .ft a:hover { color: rgb(219, 109, 76); display: inline-block; }
.related-date-group .ft i { display: inline-block; background: url("article-sprite.png") no-repeat scroll 0px -715px transparent; position: relative; top: 2px; width: 19px; height: 13px; }
.related-date-group .author { padding-left: 15px; }
.related-article .first-group .day { top: -12px; }
.related-article .first-group .first-item .time { top: -8px; }
@media screen and (max-width: 780px) {
  .article-left { padding: 0px 10px ! important; }
}
@media screen and (max-width: 480px) {
  .article-left .pageTop h1 { font-size: 2rem; font-weight: normal; }
  .article-left .pageCont { font-size: 1.6rem; }
  .article-left .weibo-btn { display: none ! important; }
  .article-left .weixin-btn { display: none ! important; }
}
@keyframes heartbomb {
0% { opacity: 1; transform: scale(1, 1); }
40% { opacity: 0.3; transform: scale(5, 5); }
100% { opacity: 1; transform: scale(1, 1); }
}
@keyframes heartbomb {
0% { opacity: 1; transform: scale(1, 1); }
40% { opacity: 0.3; transform: scale(5, 5); }
100% { opacity: 1; transform: scale(1, 1); }
}
@keyframes starrotate {
0% { transform: rotate(0deg) scale(1, 1); opacity: 1; }
50% { transform: rotate(540deg) scale(3, 3); opacity: 0.5; }
100% { transform: rotate(1080deg) scale(1, 1); opacity: 1; }
}
@keyframes starrotate {
0% { transform: rotate(0deg) scale(1, 1); opacity: 1; }
50% { transform: rotate(540deg) scale(3, 3); opacity: 0.5; }
100% { transform: rotate(1080deg) scale(1, 1); opacity: 1; }
}
.indexBtn { padding: 17px 0px 35px; text-align: center; }
.indexBtn .arrow { display: inline-block; background: url("arrow.png") repeat scroll 0% 0% transparent; width: 24px; height: 24px; margin-right: 15px; vertical-align: middle; }
.indexBtn a { display: inline-block; width: 150px; background: none repeat scroll 0% 0% rgb(244, 244, 244); border-radius: 5px 5px 5px 5px; border: 1px solid rgb(221, 221, 221); color: rgb(221, 221, 221); font-size: 16px; padding: 15px 0px; transition: all 0.3s ease-out 0s; }
.indexBtn a span { color: rgb(152, 152, 152); transition: padding-right 0.3s ease-out 0s; }
.indexBtn a:hover span { padding-right: 18px; }
.lph-main .artle-nowsite, .lph-main .artle-nowsite a { color: rgb(91, 90, 90); font-size: 14px; }
.lph-main .artle-nowsite a { padding: 0px 3px; }
.artle-watch { margin-top: 35px; }
.artle-watch .tit { margin-bottom: 15px; border-bottom: 1px solid rgb(225, 225, 225); position: relative; }
.artle-watch .tit h1 { float: left; color: rgb(220, 110, 75); font-size: 16px; padding-bottom: 4px; border-bottom: 1px solid rgb(220, 110, 75); }
.lph-right .aboutAur-main { background-color: transparent; padding: 24px 19px; border: 1px solid rgb(225, 225, 225); }
.lph-right .aboutAur-mes .aboutAur-name .rank { font-size: 14px; color: rgb(165, 165, 165); }
.lph-right .aboutAur-mes .aboutAur-name .name a { font-size: 18px; }
.lph-right .monthHot-artle { margin-top: 35px; }
.lph-right .monthHot-artle .tit { margin-bottom: 20px; text-align: center; border-bottom: 1px solid rgb(205, 205, 205); position: relative; }
.lph-right .monthHot-artle .tit span { position: relative; top: 10px; padding: 0px 10px; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(220, 110, 75); font-size: 16px; }
.lph-right .monthHot-artle .list li { border-top: 1px solid rgb(225, 225, 225); max-height: 44px; line-height: 22px; padding: 12px 0px; }
.lph-right .monthHot-artle .list li.first { border-top: 0px none; }
.lph-right .monthHot-artle .list li a { font-size: 14px; color: rgb(91, 90, 90); }
.lph-right .monthHot-artle .list li:hover a { color: rgb(220, 110, 75); }
.aside-items { position: relative; overflow: hidden; }
.aside-hotTopic { height: 227px; }
.aside-items .cover { text-align: center; position: absolute; height: 32px; width: 100%; left: 0px; bottom: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); z-index: 1; transition: height 0.15s ease-in-out 0s; }
.aside-items .cover a { position: relative; opacity: 0; display: inline-block; width: 166px; height: 46px; border: 2px solid rgb(236, 107, 68); color: rgb(236, 107, 68); font-size: 16px; text-align: center; line-height: 46px; }
.aside-items:hover .cover { height: 100%; }
.aside-items:hover .cover a { opacity: 1; top: 50%; margin-top: -25px; }
.aside-items .cover a:hover { background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.08); }
.aside-items img { display: block; }
.aside-items .txt { z-index: 2; position: absolute; left: 0px; bottom: 0px; height: 32px; line-height: 32px; text-align: center; width: 100%; }
.aside-items .txt span { font-size: 13px; color: rgb(242, 242, 242); cursor: default; }
.aside-items .txt .num { float: left; padding-left: 12px; }
.aside-items .txt .webName { float: right; padding-right: 12px; }
.lph-right .about-author { position: relative; z-index: 1; top: -1px; }
.lph-code { padding: 30px 12px 30px 30px; overflow: hidden; border-right: 1px solid rgb(229, 229, 229); border-left: 1px solid rgb(229, 229, 229); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 2px 1px 0px; border-style: solid solid none; border-color: rgb(221, 110, 78) rgb(229, 229, 229) -moz-use-text-color; border-radius: 3px 3px 3px 3px; }
.lph-code a { float: left; width: 103px; }
.lph-code .des { overflow: hidden; padding-left: 15px; }
.lph-code .des h3 { font-size: 16px; color: rgb(0, 0, 0); font-weight: bold; }
.lph-code .des p { border-top: 5px solid rgb(229, 229, 229); margin-top: 10px; padding-top: 5px; font-size: 14px; }
/* ::::: http://www.leiphone.com/resCommon/css/artCont_web_admin.css (@media all) ::::: */

.lph-article-comView { font-size: 16px; font-family: "microsoft yahei"; color: rgb(90, 90, 90); line-height: 1.8; word-break: break-all; word-wrap: break-word; }
.lph-article-comView blockquote { border-left: 5px solid rgb(238, 238, 238); margin: 20px; padding: 5px 10px; clear: both; }
.lph-article-comView blockquote p { margin-bottom: 0px; }
.lph-article-comView h4 { font-size: 16px; font-weight: bold; margin: 20px 0px 15px; }
.lph-article-comView ol, .lph-article-comView ul { margin: 20px 0px 20px 40px; }
.lph-article-comView ul li { list-style-type: disc; }
.lph-article-comView p { margin: 0px 0px 1em; font-size: 16px; }
.lph-article-comView strong { font-weight: bold; }
.lph-article-comView a { color: rgb(237, 85, 101); text-decoration: none; }
.lph-article-comView a { transition: all 0.2s ease-out 0s; }
.lph-article-comView a:hover { color: rgb(252, 149, 160); }
.lph-article-comView img { max-width: 100%; height: auto; border: medium none; }
/* ::::: [internal] ::::: */

#eng_top_ww_widget_21883220654562772 .eng_ww_widget { display: inline-block; direction: ltr; position: relative; margin-bottom: 2px; margin-left: 0px; margin-right: 0px; text-align: center; padding: 5px 0px; }
#eng_top_ww_widget_21883220654562772 .eng_ww_title { text-align: left; }
#eng_top_ww_widget_21883220654562772 .eng_asw { display: block; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
#eng_top_ww_widget_21883220654562772 .eng_widget_sw { width: 177.5px; text-align: left; position: relative; display: inline-block; margin-left: 10px; }
#eng_top_ww_widget_21883220654562772 .eng_widget_in { width: 100%; }
#eng_top_ww_widget_21883220654562772 .eng_widget_is {  }
#eng_top_ww_widget_21883220654562772 .eng_widget_img { width: 100%; height: auto; border-radius: inherit; margin-bottom: 5px; }
#eng_top_ww_widget_21883220654562772 .eng_widget_href { border-radius: inherit; }
#eng_top_ww_widget_21883220654562772 .eng_branding { text-align: right; margin: 8px 0px 0px; }
#eng_top_ww_widget_21883220654562772 .eng_branding a { color: rgb(187, 187, 187); font-size: 12px; font-family: arial; }
#eng_top_ww_widget_21883220654562772 .eng_ww_widget { color: rgb(0, 0, 0); }
#eng_top_ww_widget_21883220654562772 .eng_widget_sw { vertical-align: top; margin-bottom: 10px; }
#eng_top_ww_widget_21883220654562772 .eng_widget_href { position: relative; display: block ! important; visibility: visible ! important; }
#eng_top_ww_widget_21883220654562772 .eng_widget_in { width: 100%; line-height: 1.4; }
#eng_top_ww_widget_21883220654562772 .eng_ww_title { padding: 0px; margin: 0px 0px 5px; }
#eng_top_ww_widget_21883220654562772 .eng_ww_ttl_span1 { display: block; padding: 5px 0px; float: none ! important; }
#eng_top_ww_widget_21883220654562772 .eng_widget_img_w { position: relative; }
#eng_top_ww_widget_21883220654562772 .eng_widget_img { margin-bottom: 5px; display: block; }
#eng_sw_0_76 { margin-left: 0px ! important; }
.eng_ww_ttl_span1 { display: none ! important; }
.eng_widget_is { display: block; text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 4.8em; line-height: 1.6em; color: rgb(43, 43, 43); font-size: 12px; }
.eng_ww_title { margin: 0px ! important; font-weight: bold; font-size: 16px; }
.eng_brnd_img { position: relative; top: 6px; }
.eng_widget_img { height: 116px ! important; }
.eng_branding { margin: 8px 16px 0px 0px ! important; display: none ! important; }
/* ::::: http://www.leiphone.com/resWeb/css/efix-enter.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
li { list-style: none outside none; }
a { text-decoration: none; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
li { list-style: none outside none; }
a { text-decoration: none; }
.clr:after { clear: both; content: " "; display: block; visibility: hidden; height: 0px; }
.clr {  }
.e-fix-man { width: 278px; }
.e-fix-man .e-choice { border-top: 2px solid rgb(203, 203, 203); }
.e-fix-man .tabs-tit { height: 40px; line-height: 40px; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 13px; color: rgb(51, 51, 51); }
.e-fix-man .tabs-tit ul { width: 96%; }
.e-fix-man .tabs-tit li { width: 25%; float: left; height: 40px; text-align: center; position: relative; border-width: 1px; border-style: solid; border-color: rgb(225, 225, 225) rgb(225, 225, 225) rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; cursor: pointer; }
.e-fix-man .tabs-tit li.active { border-width: 1px; border-style: solid; border-color: rgb(205, 205, 205) rgb(205, 205, 205) rgb(251, 251, 251); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(251, 251, 251); }
.e-fix-man .tabs-tit a { color: rgb(102, 102, 102); font-size: 16px; }
.e-fix-man .tabs-tit .more-clasify { text-align: center; width: 25%; display: inline-block; font-size: 13px; color: rgb(51, 51, 51); border-width: 1px; border-style: solid; border-color: rgb(225, 225, 225) rgb(225, 225, 225) rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.e-fix-man .list { padding: 20px 8px; border-right: 1px solid rgb(205, 205, 205); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(205, 205, 205) rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: none repeat scroll 0% 0% rgb(251, 251, 251); }
.e-fix-man .list .sel { display: none; }
.e-fix-man .list .sel.active { display: block; }
.e-fix-man .e-tit { padding-bottom: 10px; }
.e-fix-man .e-tit span { font-size: 20px; color: rgb(51, 51, 51); }
.e-fix-man .e-tit a { font-size: 14px; color: rgb(221, 110, 78); float: right; margin-top: 7px; }
.e-fix-man .pr { position: relative; width: 130px; float: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.e-fix-man .gz { width: 260px; }
.e-fix-man .gz .default-span { width: 244px; border-top: 0px none; }
.e-fix-man .gz .ps { width: 260px; }
.e-fix-man .jt { background: url("jt.png") repeat scroll 0% 0% transparent; position: absolute; right: 10px; top: 16px; width: 13px; height: 8px; }
.e-fix-man .ps { position: absolute; top: 38px; left: 0px; height: 118px; overflow-y: scroll; width: 128px; border: 1px solid rgb(156, 156, 156); background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 2; display: none; }
.e-fix-man dd { cursor: pointer; line-height: 34px; height: 34px; border-bottom: 1px solid rgb(225, 225, 225); padding: 0px 8px; font-size: 13px; }
.e-fix-man dd:hover { background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.e-fix-man .default-span { padding: 0px 8px; width: 114px; height: 36px; line-height: 36px; font-size: 14px; color: rgb(0, 0, 0); border: 1px solid rgb(221, 221, 221); float: left; cursor: pointer; overflow: hidden; }
.e-fix-man .e-price { font-size: 12px; color: rgb(51, 51, 51); margin-top: 24px; float: left; }
#e-total { color: rgb(221, 110, 78); font-size: 18px; }
#e-btn { outline: medium none; border: 0px none; width: 96px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(236, 107, 68); font-size: 13px; margin-top: 32px; border-radius: 3px 3px 3px 3px; cursor: pointer; font-family: Microsoft YaHei; float: right; }
#e-btn:hover { opacity: 0.8; }
/* ::::: [internal] ::::: */

.buyingT { width: 278px; font-family: Microsoft YaHei; }
.buyingT a { text-decoration: none; }
.buyingT .clr:after { clear: both; content: " "; display: block; visibility: hidden; height: 0px; }
.buyingT .clr {  }
.buyingT .w-red { color: rgb(220, 110, 75); }
.buyingT .hx { text-decoration: line-through; color: rgb(136, 136, 136); margin-left: 10px; }
.buyingT .b-tit { color: rgb(51, 51, 51); font-size: 20px; border-bottom: 2px solid rgb(203, 203, 203); }
.buyingT .b-goods { border: 1px solid rgb(225, 225, 225); margin-top: 10px; }
.buyingT .b-goods .g-up .up-i { float: left; width: 126px; height: 112px; overflow: hidden; }
.buyingT .b-goods .g-up .up-con { padding: 8px 0px 8px 133px; }
.buyingT .b-goods .g-up .up-con .con-tit { font-size: 14px; color: rgb(51, 51, 51); height: 20px; overflow: hidden; }
.buyingT .b-goods .g-up .up-con .con-price { font-size: 14px; margin-top: 10px; }
.buyingT .b-goods .g-up .up-con .buyingT-btn { width: 96px; height: 30px; line-height: 30px; background: none repeat scroll 0% 0% rgb(236, 107, 68); color: rgb(255, 255, 255); font-size: 13px; border-radius: 3px 3px 3px 3px; text-align: center; margin-top: 8px; transition: all 0.3s ease 0s; margin-left: 40px; }
.buyingT .b-goods .g-up .up-con .buyingT-btn:hover { opacity: 0.8; }
.buyingT .b-goods .g-down { background: none repeat scroll 0% 0% rgb(178, 178, 178); color: rgb(255, 255, 255); font-size: 12px; line-height: 20px; height: 20px; padding: 0px 10px; }
.buyingT .b-goods .g-down .down-i { float: left; }
.buyingT .b-goods .g-down .down-i .jx { margin-left: 3px; }
.buyingT .b-goods .g-down .down-i img { vertical-align: top; margin-right: 5px; margin-top: 4px; }
.buyingT .b-goods .g-down .down-r { float: right; }
/* ::::: http://www.leiphone.com/resWeb/css/common/footer.css?v=20150520 (@media all) ::::: */

.yp-footer { background: none repeat scroll 0% 0% rgb(49, 49, 49); padding: 45px 0px 0px; }
.yp-footer .yp-footer-top .left { float: left; }
.yp-footer .yp-footer-top .right { float: right; }
.yp-footer .yp-footer-top .right .links { color: rgb(170, 170, 170); font-size: 12px; float: right; line-height: 40px; }
.yp-footer .yp-footer-top .right .links a { color: rgb(170, 170, 170); font-size: 12px; margin: 0px 10px 0px 8px; }
.yp-footer .yp-footer-top .right .us { float: right; }
.yp-footer .yp-footer-top .right .us a { float: left; width: 40px; height: 40px; margin: 0px 0px 0px 20px; background-image: url("yp-footer-sprite.png"); background-repeat: no-repeat; }
.yp-footer .yp-footer-top .right .us a.weibo { background-position: 0px 0px; }
.yp-footer .yp-footer-top .right .us a.email { background-position: -100px 0px; }
.yp-footer .yp-footer-btm { padding-top: 60px; padding-bottom: 40px; line-height: 1.5; }
.yp-footer .yp-footer-btm ul { padding-top: 5px; }
.yp-footer .yp-footer-btm li { float: left; margin-right: 15px; margin-bottom: 5px; }
.yp-footer .yp-footer-btm li a { font-size: 12px; color: rgb(99, 99, 99); }
.yp-footer .yp-copyright { height: 45px; line-height: 45px; background-color: rgb(45, 45, 45); border-top: 1px solid rgb(60, 60, 60); color: rgb(111, 111, 111); font-size: 12px; }
.yp-footer .yp-copyright img { vertical-align: middle; margin-left: 3px; }
/* ::::: [internal] ::::: */

