/* Code tidied up by ScrapBook */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, button, input, textarea { margin: 0px; padding: 0px; border: 0px none; vertical-align: baseline; font-size: 100%; font-family: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none outside none; }
button, input[type="submit"] { box-sizing: content-box; cursor: pointer; }
button, input { border-radius: 0px 0px 0px 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; }
a img { border: 0px none; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {  }
:-moz-placeholder { color: inherit; opacity: 1; }
*::-moz-placeholder { color: inherit; opacity: 1; }
body { font: 14px/1.5 "Open Sans",Arial,sans-serif; }
p { margin-bottom: 21px; }
h1 { font-size: 24px; }
h2 { font-size: 21px; }
h3 { font-size: 18px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: "Roboto Slab",Georgia,serif; color: rgb(25, 35, 45); }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(229, 78, 83); color: rgb(255, 255, 255); }
img::-moz-selection { background: none repeat scroll 0% 0% transparent; }
body {  }
a { color: rgb(25, 35, 45); text-decoration: none; transition: all 0.4s ease-in-out 0s; }
a:hover { text-decoration: underline; }
input, textarea, select { background: none repeat scroll 0% 0% rgb(249, 249, 249); border: 1px solid rgb(217, 217, 217); padding: 7px 14px; outline: 0px none; font-size: 13px; color: rgb(166, 166, 166); max-width: 100%; }
textarea { padding: 7px 14px; width: 100%; box-sizing: border-box; }
input:focus, textarea:focus, select:focus { border-color: rgb(187, 187, 187); color: rgb(96, 101, 105); }
.wp-post-image { transform: translate3d(0px, 0px, 0px); }
.wp-post-image:hover { opacity: 0.8; }
.visuallyhidden, .screen-reader-text { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.main-color { color: rgb(229, 78, 83); }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(96, 101, 105); }
.wrap { width: 1078px; margin: 0px auto; padding: 0px 25px; text-align: left; }
.boxed .main-wrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 1128px; margin: 0px auto; border-top: 0px none; border-bottom: 0px none; box-sizing: border-box; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12); }
body.boxed { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.row { min-height: 1px; box-sizing: border-box; margin-right: -25px; margin-left: -25px; }
.column, .row [class*="col-"] { padding-left: 25px; padding-right: 25px; float: left; min-height: 1px; box-sizing: border-box; }
.col-12, .column { width: 100%; }
.col-8, .column.two-third { width: 66.6667%; }
.col-4, .column.one-third { width: 33.3333%; }
.top-bar { background: none repeat scroll 0% 0% rgb(242, 242, 242); border-top: 4px solid rgb(229, 78, 83); border-bottom: 1px solid rgb(231, 231, 231); }
.top-bar.hidden { display: none; }
.top-bar .search { float: right; margin: -3px 0px -3px 50px; position: relative; }
.top-bar .search .query { width: 130px; transition: all 0.4s ease-in-out 0s; }
.top-bar .search .query:focus { width: 180px; }
.search .query, .searchform input, .searchform #s { line-height: 24px; height: 24px; padding: 1px 8px; outline: 0px none; border-width: 0px 15px 0px 0px; border-style: none solid none none; border-color: -moz-use-text-color rgb(233, 233, 233) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 13px; background: none repeat scroll 0% 0% rgb(233, 233, 233); float: left; color: rgb(153, 153, 153); }
.top-bar .search-button { background: none repeat scroll 0% 0% transparent; margin-left: -28px; line-height: 26px; height: 26px; width: 20px; outline: 0px none; float: left; }
.top-bar .search .fa-search { color: rgb(186, 186, 186); }
.main-head { position: relative; }
.main-head .title { float: left; font-size: 37px; font-weight: bold; letter-spacing: -1px; max-width: 100%; }
.main-head .title a { text-decoration: none; color: rgb(25, 35, 45); }
.logo-image { display: inline-block; vertical-align: middle; max-width: 100%; height: auto; }
.main-head .right { line-height: 135px; text-align: right; }
.main-head header { min-height: 135px; line-height: 135px; overflow: hidden; }
.navigation { background-color: rgb(25, 35, 45); border-bottom: 2px solid rgb(47, 65, 84); color: rgb(239, 239, 239); text-transform: uppercase; box-sizing: border-box; }
.navigation .mobile, .navigation .off-canvas { display: none; }
.navigation a { color: rgb(239, 239, 239); }
.navigation .mobile, .navigation .mobile-menu { display: none; }
.navigation ul { list-style: none outside none; line-height: 2; position: relative; }
.navigation ul li { float: left; }
.navigation .menu li > a { float: left; padding: 0px 25px; }
.navigation .menu > li > a { text-decoration: none; line-height: 43px; border-bottom: 2px solid transparent; margin-bottom: -2px; }
.navigation .menu li > a:after { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; font-size: 15px; line-height: 0.9; content: ""; text-shadow: 0px 0px 1px rgb(239, 239, 239); margin-left: 10px; }
.navigation .menu li li > a:after { display: none; }
.navigation .menu li > a:only-child:after, .navigation .menu .only-icon > a:after { display: none; }
.navigation .menu > li:first-child > a { border-left: 0px none; box-shadow: none; }
.navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, .navigation .menu > .current-menu-parent > a, .navigation .menu > .current-menu-ancestor > a { border-bottom: 2px solid rgb(229, 78, 83); }
.navigation .menu > li:hover { background: none repeat scroll 0% 0% rgb(30, 41, 53); }
.navigation .menu > li > ul { top: 45px; border-radius: 0px 0px 0px 0px; border: 0px none; }
.navigation .menu > li li a { float: none; display: block; text-decoration: none; font-size: 13px; padding: 6px 25px; border-top: 1px solid rgb(31, 44, 56); text-transform: none; }
.navigation .menu ul li { float: none; min-width: 220px; border-top: 0px none; padding: 0px; position: relative; transition: all 0.3s ease-in 0s; }
.navigation .menu ul > li:first-child > a { border-top: 0px none; box-shadow: none; }
.navigation .menu ul { position: absolute; overflow: visible; visibility: hidden; display: block; opacity: 0; padding: 5px 0px; background: none repeat scroll 0% 0% rgb(25, 35, 45); transition: all 0.2s ease-in 0s; z-index: 100; pointer-events: none; }
.navigation li:hover > ul { visibility: visible; opacity: 1; pointer-events: auto; }
.navigation .menu li li:hover, .navigation .menu li li.current-menu-item { background: none repeat scroll 0% 0% rgb(30, 41, 53); }
.breadcrumbs { background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 14px 25px; font-size: 12px; color: rgb(141, 151, 161); line-height: 1; }
.breadcrumbs a { color: rgb(101, 101, 101); }
.breadcrumbs .delim { padding: 0px 10px; font-size: 16px; color: rgb(141, 151, 161); line-height: 0.7; }
.breadcrumbs .location { color: rgb(229, 78, 83); margin-right: 21px; text-transform: uppercase; }
.gallery-title, .section-head { background: none repeat scroll 0% 0% rgb(249, 249, 249); border-width: 1px 0px; border-style: solid none; border-color: rgb(217, 217, 217) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; line-height: 32px; color: rgb(25, 35, 45); font-size: 13px; font-family: "Open Sans",Arial,sans-serif; font-weight: 600; text-transform: uppercase; padding: 0px 14px; margin-bottom: 28px; }
@keyframes bouncedelay {
0%, 80%, 100% { transform: scale(0); }
40% { transform: scale(1); }
}
.widget { font-size: 13px; }
.widget li { border-bottom: 1px solid rgb(217, 217, 217); padding: 7px 0px; }
.widget li:first-child { padding-top: 0px; }
.alignnone { margin: 5px 20px 20px 0px; }
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.main { margin: 42px auto; }
.main > .row, .main .post-wrap > .row { overflow: hidden; position: relative; }
.main-content { position: relative; }
.highlights-box { margin-bottom: 42px; }
.highlights-box.three-col { margin: 0px -15px 42px; }
.highlights-box.three-col .column.one-third { padding: 0px 15px; }
.highlights-box.three-col .highlights .meta { margin-top: -20px; }
.highlights { position: relative; }
.highlights .image-link { min-height: 42px; display: block; position: relative; }
.highlights .image-link img { display: block; width: 100%; height: auto; }
.highlights article { position: relative; }
.highlights .meta { position: relative; margin-top: -12px; background: none repeat scroll 0% 0% rgb(242, 242, 242); line-height: 25px; font-size: 11px; color: rgb(166, 166, 166); text-transform: uppercase; padding-left: 14px; overflow: hidden; }
.highlights .meta .comments { margin-right: 14px; }
.highlights h2 { color: rgb(25, 35, 45); font-size: 14px; line-height: 1.3; padding-left: 14px; margin: 7px 0px; }
.highlights h2:before { content: " "; display: block; float: left; position: absolute; left: 0px; height: 18px; border-left: 3px solid rgb(229, 78, 83); }
.highlights article { margin-bottom: 0px; }
.post-header { margin-bottom: 21px; }
.post-header .featured { margin-bottom: 14px; position: relative; }
.post-header .featured > a { display: block; position: relative; }
.post-header .post-title { font-size: 20px; position: relative; padding-left: 18px; margin-right: 35px; float: left; }
.post-header .post-title:before { content: " "; display: block; float: left; position: absolute; left: 0px; top: 6px; height: 20px; border-left: 3px solid rgb(229, 78, 83); }
.post-header .comments { float: right; margin-left: -35px; color: rgb(166, 166, 166); font-size: 11px; line-height: 28px; }
.post-header .comments:hover { text-decoration: none; }
.post-header .comments .fa { font-size: 13px; }
.post-meta { color: rgb(166, 166, 166); }
.post-meta time { text-transform: uppercase; }
.post-meta .cats { float: right; }
.post-content, .post-share { line-height: 1.857; font-size: 13px; position: relative; }
.post-container .post-content { margin-bottom: -1.857em; }
.post-content a { color: rgb(229, 78, 83); }
.post-content a:hover { color: rgb(25, 35, 45); }
.post-content p, .post-content > ul, .post-content > div, .post-content > dl, .post-content blockquote, .post-content ol { margin-bottom: 1.857em; }
.post .post-content > p:first-child { font-size: 1.0769em; color: rgb(58, 65, 73); }
.post-content img, .post-content .wp-caption { max-width: 100%; height: auto; }
.post-share { border-top: 1px solid rgb(217, 217, 217); padding: 28px 0px; margin-top: 28px; overflow: hidden; }
.post-share .text { font-size: 13px; display: inline-block; margin-right: 30px; text-transform: uppercase; color: rgb(25, 35, 45); }
.share-links { float: right; }
.share-links a { width: 60px; height: 30px; line-height: 30px; text-align: center; color: rgb(255, 255, 255); font-size: 20px; margin-right: 2px; background: none repeat scroll 0% 0% rgb(25, 35, 45); }
.share-links a:hover { text-decoration: none; }
.share-links .fa-facebook { background: none repeat scroll 0% 0% rgb(32, 67, 133); }
.share-links .fa-twitter { background: none repeat scroll 0% 0% rgb(42, 169, 224); }
.share-links .fa-google-plus { background: none repeat scroll 0% 0% rgb(211, 73, 44); }
.share-links .fa-pinterest { background: none repeat scroll 0% 0% rgb(202, 33, 40); }
.share-links .fa-linkedin { background: none repeat scroll 0% 0% rgb(2, 102, 154); }
.share-links .fa-tumblr { background: none repeat scroll 0% 0% rgb(68, 84, 107); }
.navigate-posts { border-top: 1px solid rgb(217, 217, 217); padding: 35px 0px; overflow: hidden; display: table; width: 100%; }
.navigate-posts .previous, .navigate-posts .next { display: table-cell; width: 50%; text-align: right; box-sizing: border-box; padding: 0px 35px; }
.navigate-posts .title { display: block; font-size: 11px; text-transform: uppercase; margin-bottom: 10px; }
.navigate-posts .link { font-family: "Roboto Slab",Georgia,serif; }
.navigate-posts .previous { padding-left: 21px; }
.navigate-posts .next { text-align: left; border-left: 1px solid rgb(217, 217, 217); padding-right: 21px; }
.navigate-posts .previous .fa { margin-right: 7px; }
.navigate-posts .next .fa { margin-left: 7px; }
.related-posts, .highlights-box.related-posts { margin-bottom: 28px; }
.related-posts .section-head { color: rgb(229, 78, 83); }
.related-posts ul { overflow: hidden; }
.related-posts li { float: left; }
.related-posts article { position: relative; }
.related-posts .highlights h2 a { font-size: 13px; }
.related-posts .highlights article { margin-bottom: 0px; }
.comments .section-head { word-spacing: 4px; }
.comments-list { margin-bottom: 42px; }
.comments-list .comment { margin-top: 28px; }
.comments-list .comment-meta, .comments-list .comment-content, .comments-list .children { margin-left: 75px; }
.comments-list .avatar { float: left; }
.comments-list .comment-meta { color: rgb(166, 166, 166); font-size: 12px; }
.comment-meta a, .comment-meta .comment-author { text-transform: uppercase; color: rgb(96, 101, 105); margin: 0px 2px 0px 0px; display: inline-block; }
.comments-list .comment-content { font-size: 13px; line-height: 1.714; border-bottom: 1px solid rgb(217, 217, 217); position: relative; padding-bottom: 42px; margin-top: 14px; }
.comments-list .comment-content p { margin-bottom: 1.5em; }
.comments-list .comment-content p:last-of-type { margin-bottom: 0px; }
.comment-content .reply { position: absolute; bottom: -1px; right: 0px; color: rgb(166, 166, 166); font-size: 12px; border-bottom: 1px solid rgb(229, 78, 83); }
.comment-content .reply a { color: inherit; padding: 5px 0px; text-transform: uppercase; display: block; }
.comment-content .reply a:hover { text-decoration: none; }
.comment-content .reply .fa { font-size: 13px; color: rgb(180, 180, 180); margin-left: 5px; }
.comment-respond form { margin-top: 42px; }
.comment-respond .section-head { display: block; }
.comment-respond p { margin-bottom: 28px; font-size: 13px; }
.comment-respond small { float: right; margin-top: -55px; font-size: 12px; font-family: "Open Sans",Arial,sans-serif; margin-right: 12px; }
.comment-respond small a { color: rgb(166, 166, 166); }
.comment-respond .form-submit { overflow: hidden; }
#comment-submit, .submit-button { float: right; background: none repeat scroll 0% 0% rgb(25, 35, 45); text-transform: uppercase; font-size: 14px; color: rgb(255, 255, 255); padding: 7px 21px; }
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { font-weight: bold; color: rgb(25, 35, 45); margin-bottom: 24px; font-family: inherit; line-height: 1.5; }
.main .sidebar { border-left: 1px solid transparent; }
.main .sidebar:before, .sidebar .theiaStickySidebar:before { content: " "; position: absolute; border-left: 1px solid rgb(217, 217, 217); height: 100%; margin-left: -25px; }
.main .sidebar .widget { margin-bottom: 35px; }
.main .sidebar .widgettitle, .tabbed .tabs-list { font-family: "Open Sans",Arial,sans-serif; font-size: 13px; text-transform: uppercase; background: none repeat scroll 0% 0% rgb(25, 35, 45); color: rgb(239, 239, 239); padding: 0px 14px; line-height: 34px; margin-bottom: 35px; }
.main-footer { background: none repeat scroll 0% 0% rgb(25, 35, 45); }
.main-footer .wrap { padding: 49px 25px; }
.main-footer .widget { color: rgb(215, 218, 222); font-size: 13px; line-height: 1.9; }
.main-footer .widgettitle { font: bold 14px/35px "Open Sans",Arial,sans-serif; color: rgb(197, 199, 203); border-bottom: 1px solid rgb(37, 52, 67); text-transform: uppercase; margin-bottom: 28px; }
.main-footer .widget a { color: rgb(224, 227, 233); }
#back-top { position: fixed; bottom: 60px; right: 0px; }
#back-top a { width: 80px; display: block; text-align: center; font: 11px/100% Arial,Helvetica,sans-serif; text-transform: uppercase; text-decoration: none; color: rgb(187, 187, 187); transition: all 1s ease 0s; }
#back-top a:hover { color: red; background-color: transparent ! important; }
#back-top span { width: 80px; height: 60px; display: block; margin-bottom: 7px; background: url("top-arrow1.png") no-repeat scroll center center transparent; opacity: 0.4; transition: all 1s ease 0s; }
#back-top a:hover span { background-color: transparent; opacity: 1; }
@media screen and (max-width: 768px) {
  .mobAds { display: inline-block; }
  .pcAds { display: none; }
}
@media screen and (min-width: 768px) {
  .mobAds { display: none; }
  .pcAds { display: inline-block; }
}
.floatDivSocial { display: block; position: fixed; top: 50%; left: 0px; background-color: rgb(255, 255, 255); width: 30px; padding: 5px; }
@media screen and (max-width: 768px) {
  .floatDivSocial { display: none; }
}
.floatDivSocial a img { width: 30px; transition-duration: 0.8s; transition-property: transform; overflow: hidden; }
.floatDivSocial a:hover img { transform: rotate(360deg); }
