/* ::::: http://my.oschina.net/resource/dist/css/blog.min.css?t=1468424811000 ::::: */

@charset "UTF-8";
a, body, button, html, input, textarea { font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif; }
.btn, a { outline: 0px none; }
.layout-fluid:after, .layout:after { font-size: 0px; visibility: hidden; height: 0px; table-layout: fixed; content: ""; clear: both; }
@media screen and (min-width: 960px) and (max-width: 1200px) {
}
@media screen and (min-width: 769px) and (max-width: 960px) {
}
@media screen and (min-width: 320px) {
}
.layout { width: 100%; }
.layout:after { display: table; width: 0px; }
.layout-column { width: 1200px; display: table-cell; }
.layout-left { float: left; }
.layout-right { float: right; }
*::-moz-selection { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2); }
.clear:after, .clear:before, .clearfix:after, .clearfix:before { content: ""; display: table; }
body, html { margin: 0px; color: rgb(51, 51, 51); box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-size: 1.2rem; }
.container { width: 1200px; margin: auto; font-size: 1.4rem; }
a, button, input, textarea { outline: 0px none; border: medium none; }
textarea { resize: none; }
input, textarea { border: 1px solid rgb(221, 221, 221); border-radius: 5px 5px 5px 5px; padding: 5px 10px; }
a, img { border: medium none; }
input:focus, textarea:focus { border-color: rgb(58, 171, 78); }
*, *:after, *:before { box-sizing: inherit; }
.clear:after, .clearfix:after { clear: both; }
input:-moz-placeholder { color: rgb(170, 170, 170) ! important; line-height: inherit; }
input::-moz-placeholder { color: rgb(204, 204, 204) ! important; line-height: inherit; }
a { text-decoration: none; color: rgb(51, 51, 51); transition: color 0.3s ease 0s; }
.btn, .pages li, .pages li a { border-radius: 3px 3px 3px 3px; }
ul { list-style-type: none; }
li, ul { padding: 0px; margin: 0px; }
.text-gary { color: rgb(102, 102, 102); }
.blog-article .blog-copyright a, .blog-article .blog-copyright a a, .blog-article .link, .blog-article .link a, .blog-article .user-card .opus-info a, .blog-article .user-card .opus-info a a, .blog-body a, .blog-body a a, .link-blue, .link-blue a { color: rgb(68, 102, 187); }
.blog-article .blog-copyright a a:hover, .blog-article .blog-copyright a:hover, .blog-article .link a:hover, .blog-article .link:hover, .blog-article .user-card .opus-info a a:hover, .blog-article .user-card .opus-info a:hover, .blog-body a a:hover, .blog-body a:hover, .link-blue a:hover, .link-blue:hover { color: rgb(204, 0, 0); }
@media screen and (min-width: 769px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 961px) {
  .md-show { display: none; }
  .md-hide { display: inline-block; }
}
@media screen and (max-width: 960px) {
  .md-show { display: inline-block; }
  .md-hide { display: none; }
}
.btn, .icon-img, .icon-svg, .pages li, .pages li a { display: inline-block; }
@media screen and (max-width: 1200px) {
  .container { width: 100%; padding-left: 3%; padding-right: 3%; }
}
.btn, .btn a, .pages .active a { color: rgb(255, 255, 255); }
.icon-img, .icon-svg { background: none no-repeat scroll center center / contain  transparent; vertical-align: sub; }
.icon-svg { width: 15px; height: 15px; }
.icon-back[class*="icon-svg"], .icon-long-arrow-left[class*="icon-svg"] { background-image: url("long-arrow-left.svg"); }
.icon-go-top[class*="icon-svg"] { background-image: url("go-top.svg"); }
.btn { padding: 0.4rem 0.8rem; border: 0px none; margin: 0px; background-color: transparent; font-size: 1.4rem; cursor: pointer; }
.btn-green[class*="btn"] { background-color: rgb(58, 171, 78); }
.btn-text[class*="btn"] { color: rgb(153, 153, 153); }
[data-type="tip"] { width: 100%; text-align: center; }
[data-type="tip"][data-tip-type="absolute"] { position: absolute; }
.control_select, .control_select > a { position: relative; }
[data-type="tip"] .tooltips { background-color: rgba(0, 0, 0, 0.6); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); margin: auto; padding: 12px 30px; display: none; }
.header .top { height: 30px; background: none repeat scroll 0% 0% rgb(21, 162, 48); color: rgb(221, 221, 221); line-height: 30px; font-size: 13px; }
.header .top a { color: rgb(255, 255, 255); padding: 0px 5px; }
.header .top .userbar { text-align: right; }
.header .top .channel { width: 540px; }
@media screen and (max-width: 960px) {
  .channel, .tip-yellowsimple { display: none; }
}
.control_select { display: inline-block; padding: 0px 5px; }
.control_select > a:after { content: ""; color: rgb(255, 255, 255); float: right; border-right: 4px solid transparent; border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: 8px; right: -5px; }
.control_select .cs_content { display: none; position: absolute; z-index: 9999; top: 29px; width: 110px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(21, 162, 48); padding: 5px; margin: 0px; }
.control_select .cs_content li { list-style-type: none; text-align: left; font-size: 12px; line-height: 1.8; }
.control_select .cs_content li a { color: rgb(12, 86, 12); padding: 0px; }
.control_select .cs_content li a:hover { color: rgb(0, 0, 0); }
.control_select .cs_content li.split { background: none repeat scroll 0% 0% rgb(204, 204, 204); height: 1px; line-height: 1; padding: 0px; font-size: 0px; margin: 8px 0px; }
.control_select .cs_mobile { width: 130px; }
.control_select .cs_mobile .android, .control_select .cs_mobile .ios, .control_select .cs_mobile .wp7 { padding-left: 20px; }
.control_select .cs_mobile .android { background: url("android.gif") no-repeat scroll 0% 0% / 12px 16px transparent; }
.control_select .cs_mobile .ios { background: url("iphone.gif") no-repeat scroll 0% 0% / 12px 16px transparent; }
.control_select .cs_mobile .wp7 { background: url("wp7.gif") no-repeat scroll 0% 0% / 12px 16px transparent; }
.control_select:hover .cs_content { display: block; }
.footer { background: none repeat scroll 0% 0% rgb(248, 248, 248); }
.footer .container { padding-top: 20px; padding-bottom: 20px; font-size: 1.4rem; line-height: 2; color: rgb(102, 102, 102); }
.footer .container a { color: rgb(51, 51, 51); white-space: nowrap; }
.footer .container .oscapp { line-height: 1.6; }
.footer .container .oscapp span { float: left; }
.footer .container .oscapp a { width: 16px; margin-left: 8px; float: left; text-indent: -9999em; }
.footer .container .oscapp .android { background: url("android.gif") no-repeat scroll 0% 0% transparent; }
.footer .container .oscapp .iphone { background: url("iphone.gif") no-repeat scroll 0% 0% transparent; }
.footer .container .oscapp .wp7 { background: url("wp7.gif") no-repeat scroll 0% 0% transparent; }
@media screen and (max-width: 960px) {
  .footer .layout-right { height: 30px; float: inherit; }
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 768px) {
}
.blog-comment-form { margin-top: 10px; }
.blog-comment-form textarea { width: 100%; height: 80px; }
.blog-comment-form .blog_emotion, .blog-comment-form .blog_soft { border: 1px solid transparent; padding-left: 17px; margin-right: 10px; }
.blog-comment-form .blog_emotion { background: url("emotion.gif") no-repeat scroll left center transparent; }
.blog-comment-form .blog_soft { background: url("app.gif") no-repeat scroll left center transparent; }
.blog-body { font-size: 1.6rem; font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif; word-wrap: break-word; color: rgb(61, 70, 77); line-height: 30px; }
.blog-body pre code { overflow-x: auto; border-radius: 4px 4px 4px 4px; padding: 10px; line-height: 1.4; word-wrap: normal; display: block; }
.data-info li, .status-tag, .tags .tag { display: inline-block; }
.blog-body code { border-radius: 3px 3px 3px 3px; background: none repeat scroll 0% 0% rgb(253, 246, 227); padding: 2px; color: rgb(119, 119, 119); }
.blog-body p { margin-bottom: 16px; }
.panel .panel-heading { border-bottom: 1px solid rgb(225, 225, 225); font-size: 1.8rem; line-height: 2; }
.user-info .icon { border-radius: 50% 50% 50% 50%; background: none repeat scroll 0% 0% rgb(245, 245, 245); border: 1px solid rgb(153, 153, 153); margin: auto; overflow: hidden; }
.user-info .icon img { width: 100%; height: 100%; vertical-align: baseline; }
.user-info .name { color: rgb(0, 0, 0); }
.status-tag { border: 1px solid transparent; border-radius: 3px 3px 3px 3px; width: 24px; height: 24px; vertical-align: text-bottom; text-align: center; font-size: 1.6rem; line-height: 24px; }
.original[class*="status-tag"] { border-color: rgb(68, 172, 87); color: rgb(68, 172, 87); }
.data-info { padding: 10px 0px; }
.follow-status .follow, .follow-status .follow a { color: rgb(58, 171, 78); }
.follow-status .follow:before { content: ""; width: 18px; height: 18px; display: inline-block; background: url("heart-hollow.svg") no-repeat scroll 0% 0% / contain  transparent; vertical-align: text-top; }
.tool-bar { position: fixed; right: 10px; bottom: 20px; width: 40px; text-align: left; transition: all 0.2s ease 0s; }
.tool-bar .item { border: 1px solid rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(245, 245, 245); display: block; position: relative; border-radius: 3px 3px 3px 3px; overflow: hidden; }
.tool-bar .item:not(:last-child) { border-bottom: medium none; }
.tool-bar .item .over { width: 40px; height: 40px; display: block; overflow: hidden; }
.tool-bar .item .over .icon { width: 100%; height: 100%; transition: all 0.2s ease 0s; }
.tool-bar .item .over .icon .icon-svg { width: 18px; height: 18px; margin: 11px; }
.tool-bar .item .over .txt { width: 100%; height: 100%; line-height: 40px; background: none repeat scroll 0% 0% rgb(58, 171, 78); color: rgb(255, 255, 255); text-align: center; }
.tool-bar .item:hover .icon { margin-top: -40px; }
.float-share { position: absolute; top: 100px; right: 10px; border: 1px solid rgb(221, 221, 221); padding: 8px; }
.float-share span { display: block; font-size: 12px; color: rgb(102, 102, 102); }
.blog-article { padding: 15px 0px; position: relative; text-align: center; }
.blog-article .blog-content { width: 780px; display: inline-block; text-align: left; }
.blog-article .blog-heading { text-align: center; }
.blog-article .blog-heading .title { font-size: 3.2rem; }
.blog-article .blog-heading .title span { vertical-align: middle; }
.blog-article .blog-heading .user-info .icon { width: 26px; height: 26px; vertical-align: middle; }
.blog-article .blog-heading .user-info .icon, .blog-article .blog-heading .user-info .name { display: inline-block; margin: 10px 3px; }
.blog-article .blog-heading .data-info { color: rgb(51, 51, 51); }
.blog-article .blog-heading .data-info li { margin: 0px 8px; }
.blog-article .blog-abstract { background: none repeat scroll 0% 0% rgb(248, 248, 248); padding: 10px 20px; margin: 15px 0px; line-height: 1.8; word-break: break-all; }
.blog-article .blog-abstract strong { font-size: 1.6rem; }
.blog-article .blog-abstract div { font-size: 1.4rem; color: rgb(102, 102, 102); }
.blog-article .blog-body { margin-top: 30px; }
.blog-article .related-info { border-bottom: 1px solid rgb(238, 238, 238); line-height: 3; color: rgb(102, 102, 102); margin-bottom: 20px; }
.blog-article .related-info li { display: inline-block; margin-right: 10px; }
.blog-article .back-list { margin: 10px 0px; }
.blog-article .back-list .icon-svg { margin-right: 5px; }
.blog-article .blog-copyright { font-size: 1.4rem; color: rgb(153, 153, 153); margin-top: 30px; margin-bottom: 10px; }
.blog-article .operate { text-align: center; position: relative; margin-left: -50px; padding-bottom: 20px; }
.blog-article .operate svg { width: 30px; height: 30px; fill: rgb(153, 153, 153); vertical-align: middle; margin-right: 5px; transition: all 0s ease 0s, all 0.2s ease 0s; }
.blog-article .operate li { padding: 20px 0px; display: inline-block; margin-right: 50px; }
.blog-article .operate li.active svg, .blog-article .operate li:hover svg { fill: rgb(255, 153, 0); }
.blog-article .operate a { display: inline-block; }
.blog-article .operate .operate-dropdown { display: none; margin-top: 20px; }
.blog-article .operate .hover:hover .operate-dropdown { display: block; }
.blog-article .user-card { border: 1px solid rgb(238, 238, 238); background: none repeat scroll 0% 0% rgb(249, 249, 249); padding: 20px 30px 10px; border-radius: 5px 5px 5px 5px; margin-bottom: 20px; }
.blog-article .user-card .user-info { height: 40px; line-height: 40px; }
.blog-article .user-card .user-info > div { margin-right: 15px; }
.blog-article .user-card .user-info .icon { width: 40px; height: 40px; float: left; }
.blog-article .user-card .user-info .name { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.6rem; float: left; }
.blog-article .user-card .user-info .follow-status { float: left; }
.blog-article .user-card .opus-info { line-height: 2; margin-top: 10px; }
.blog-article .user-card .opus-info span { margin-right: 25px; }
.blog-article .user-card .user-radar { margin-left: 10px; }
.blog-article .user-card .icon { width: 70px; height: 70px; }
@media screen and (max-width: 960px) {
  .blog-article .blog-content, .blog-article .container { width: 100%; }
}
.blog-article .share-dropdown { position: absolute; width: 120px; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); margin-top: 20px; z-index: 10000; }
.blog-article .share-dropdown .share-title { background: none repeat scroll 0% 0% rgb(248, 248, 248); text-align: left; padding: 5px 10px; display: block; }
.blog-article .share-dropdown .bdsharebuttonbox a { display: block; padding-left: 20px; margin: 5px 10px; }
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .blog-article .container { padding: 0px; }
  .blog-article .blog-content { max-width: 780px; width: auto; margin: auto 250px auto auto; display: block; }
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_youdao { background-position: 0px -2080px; }
.bdshare-button-style0-16 .bds_mshare { background-position: 0px -2444px; }
.bdshare-button-style0-16 .bds_sqq { background-position: 0px -2652px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16:after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url("icons_0_16.png"); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
/* ::::: http://my.oschina.net/resource/dist/js/vendor/highlight/9.4.0/solarized_light.css?t=1468386672000 ::::: */

.hljs { display: block; padding: 0.5em; background: none repeat scroll 0% 0% rgb(253, 246, 227); color: rgb(101, 123, 131); }
.css .hljs-tag, .hljs-addition, .hljs-keyword, .hljs-request, .hljs-status, .hljs-winutils, .method, .nginx .hljs-title { color: rgb(133, 153, 0); }
.hljs-command, .hljs-hexcolor, .hljs-link_url, .hljs-number, .hljs-phpdoc, .hljs-regexp, .hljs-rules .hljs-value, .hljs-string, .hljs-tag .hljs-value, .tex .hljs-formula { color: rgb(42, 161, 152); }
