/* ::::: https://www.masteringemacs.org/static/css/bootstrap.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
a { background: none repeat scroll 0px 0px transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
hr { box-sizing: content-box; height: 0px; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { font: inherit; margin: 0px; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
textarea { overflow: auto; }
@media print {
  * { color: rgb(0, 0, 0) ! important; background: none repeat scroll 0% 0% transparent ! important; box-shadow: none ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"), url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { text-decoration: none; color: rgb(66, 139, 202); }
a:hover, a:focus { text-decoration: underline; color: rgb(42, 100, 150); }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; }
hr { margin-top: 20px; margin-bottom: 20px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.sr-only { position: absolute; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); width: 1px; height: 1px; margin: -1px; padding: 0px; border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
small, .small { font-size: 85%; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
dl { margin-top: 0px; margin-bottom: 20px; }
dt, dd { line-height: 1.42857; }
dt { font-weight: 700; }
dd { margin-left: 0px; }
@media (min-width: 768px) {
}
blockquote { font-size: 17.5px; margin: 0px 0px 20px; padding: 10px 20px; border-left: 5px solid rgb(238, 238, 238); }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0px; }
blockquote:before, blockquote:after { content: ""; }
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,'Courier New',monospace; }
code { font-size: 90%; padding: 2px 4px; color: rgb(199, 37, 78); border-radius: 4px 4px 4px 4px; background-color: rgb(249, 242, 244); }
pre { font-size: 13px; line-height: 1.42857; display: block; margin: 0px 0px 10px; padding: 9.5px; word-wrap: break-word; word-break: break-all; color: rgb(51, 51, 51); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; background-color: rgb(245, 245, 245); }
pre code { font-size: inherit; padding: 0px; white-space: pre-wrap; color: inherit; border-radius: 0px 0px 0px 0px; background-color: transparent; }
.container { margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.container-fluid { margin-right: auto; margin-left: auto; padding-right: 15px; padding-left: 15px; }
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.6667%; }
.col-xs-offset-1 { margin-left: 8.33333%; }
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-11 { width: 91.6667%; }
  .col-sm-8 { width: 66.6667%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-offset-4 { margin-left: 33.3333%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-11 { width: 91.6667%; }
  .col-md-8 { width: 66.6667%; }
  .col-md-4 { width: 33.3333%; }
  .col-md-offset-2 { margin-left: 16.6667%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-10 { width: 83.3333%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
}
@media screen and (max-width: 767px) {
}
label { font-weight: 700; display: inline-block; max-width: 100%; margin-bottom: 5px; }
.form-control { font-size: 14px; line-height: 1.42857; display: block; width: 100%; height: 34px; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; color: rgb(85, 85, 85); border: 1px solid rgb(204, 204, 204); border-radius: 4px 4px 4px 4px; background-color: rgb(255, 255, 255); background-image: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { opacity: 1; color: rgb(119, 119, 119); }
textarea.form-control { height: auto; }
.form-group { margin-bottom: 15px; }
@media (min-width: 768px) {
}
.form-horizontal .form-group { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .form-horizontal .control-label { margin-bottom: 0px; padding-top: 7px; text-align: right; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { font-size: 14px; font-weight: 400; line-height: 1.42857; display: inline-block; margin-bottom: 0px; padding: 6px 12px; cursor: pointer; -moz-user-select: none; text-align: center; vertical-align: middle; white-space: nowrap; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; background-image: none; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { text-decoration: none; color: rgb(51, 51, 51); }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-default { color: rgb(51, 51, 51); border-color: rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { color: rgb(51, 51, 51); border-color: rgb(173, 173, 173); background-color: rgb(230, 230, 230); }
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default { background-image: none; }
.btn-success { color: rgb(255, 255, 255); border-color: rgb(76, 174, 76); background-color: rgb(92, 184, 92); }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { color: rgb(255, 255, 255); border-color: rgb(57, 132, 57); background-color: rgb(68, 157, 68); }
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success { background-image: none; }
.collapse { display: none; }
@media (min-width: 768px) {
}
.nav { margin-bottom: 0px; padding-left: 0px; list-style: none outside none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px 4px 4px 4px; }
}
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
@media (min-width: 768px) {
}
.navbar-collapse { overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; overflow: visible ! important; height: auto ! important; padding-bottom: 0px; }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { padding-right: 0px; padding-left: 0px; }
}
@media (max-width: 480px) and (orientation: landscape) {
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
.navbar-static-top { z-index: 1000; border-width: 0px 0px 1px; }
@media (min-width: 768px) {
  .navbar-static-top { border-radius: 0px 0px 0px 0px; }
}
@media (min-width: 768px) {
}
.navbar-brand { font-size: 18px; line-height: 20px; float: left; height: 50px; padding: 15px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }
}
.navbar-toggle { position: relative; float: right; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; padding: 9px 10px; border: 1px solid transparent; border-radius: 4px 4px 4px 4px; background-color: transparent; background-image: none; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px 1px 1px 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { line-height: 20px; padding-top: 10px; padding-bottom: 10px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar-default { border-color: rgb(231, 231, 231); background-color: rgb(248, 248, 248); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media screen and (min-width: 768px) {
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after { display: table; content: " "; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after { clear: both; }
.center-block { display: block; margin-right: auto; margin-left: auto; }
.pull-right { float: right ! important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 767px) {
  .hidden-xs { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
/* ::::: https://www.masteringemacs.org/static/typeplate.css ::::: */

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
.drop-cap:first-letter { float: left; margin: auto 0.25em auto auto; padding: inherit; font-size: 4em; font-family: inherit; line-height: 1; text-indent: 0px; background: none repeat scroll 0% 0% transparent; color: inherit; }
html { font: 112.5%/1.65 serif; }
body { -moz-hyphens: auto; word-wrap: break-word; color: rgb(68, 68, 68); }
h1, h2, h3, h4, h5, h6 { line-height: 1; margin-top: 0px; text-rendering: optimizelegibility; color: rgb(34, 34, 34); }
h1, .alpha { font-size: 3.33333rem; margin-bottom: 0.495rem; }
h2, .beta { font-size: 2.6667rem; margin-bottom: 0.61875rem; }
p { margin: auto auto 1.5em; }
p + p { text-indent: 1.5em; margin-top: -1.5em; }
abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp { -moz-hyphens: none; }
pre code { word-wrap: normal; white-space: pre-wrap; }
pre { white-space: pre; }
code { white-space: pre; font-family: monospace; }
/* ::::: https://www.masteringemacs.org/static/quill.css ::::: */

html, body { height: 100%; font-size: 80%; font-family: 'Cardo',serif; color: rgb(34, 34, 34); -moz-font-feature-settings: "onum", "kern", "liga", "swsh", "calt"; }
.navbar { margin-bottom: 0px; }
.center-column { float: none; margin: 0px auto; max-width: 800px; }
a { color: rgb(147, 0, 0); }
#navbar-links a { color: rgb(255, 255, 255); }
.control-label, .btn-success, .btn-danger, .btn-default { font-size: 1.5rem; line-height: 1.8rem; }
#further-reading { font-family: 'Lato',sans-serif; font-size: 1rem; }
#further-reading h2 { margin-top: 0rem; }
#footer { margin-top: 5rem; margin-bottom: 5rem; }
.inverted { font-family: 'Lato',sans-serif; background-color: rgb(147, 0, 0); border: thin solid rgb(51, 0, 0); color: rgb(255, 255, 255); font-size: 1rem; min-height: 300px; }
.small { font-size: 1.6rem; margin-bottom: 1rem; }
#subscribe-group a { color: rgb(34, 34, 34); }
.form-group > input { color: rgb(34, 34, 34); font-size: 1.5rem; }
.inverted-title { font-size: 2rem; margin-bottom: -0.5rem; }
#subscribe-group > form { margin-bottom: 1rem; }
@media (min-width: 768px) {
  .navbar-nav { margin: 0px auto; display: table; table-layout: fixed; float: none; }
}
.nav-footer { background-color: rgb(51, 51, 51); height: 50px; color: rgb(204, 204, 204); text-align: center; margin-top: 120px; font-size: 1.3rem; box-shadow: 0px 10px 5px 0px rgb(34, 34, 34) inset; }
h1, h2, h3, h4, h5, h6 { line-height: 1.3em; }
h1 { font-size: 4.236rem; }
@media (max-width: 768px) {
  h1 { font-size: 2.6rem; }
}
h2 { font-size: 3.318rem; margin-top: 1em; }
dl > dt { font-size: 1.8rem; display: block; }
dl > dd { font-size: 1rem; display: inline-block; padding-left: 15px; }
.container { display: table; vertical-align: middle; }
.navbar { background-color: rgb(147, 0, 0); color: rgb(255, 255, 255); border-bottom: thin solid rgb(51, 0, 0); }
.navbar-default .navbar-nav > li:after { content: " · "; }
.navbar-default .navbar-nav > li:last-child:after { content: ""; }
.navbar-default .navbar-nav > li > a { color: rgb(255, 255, 255); display: inline-block; margin-top: 4px; padding-right: 0px; padding-left: 5px; }
.navbar-brand > h1 { color: rgb(255, 255, 255); margin-top: -8px; font-style: italic; font-size: 1.7em; }
.vertical-center-row { display: table-cell; vertical-align: middle; }
.drop-cap:first-letter { margin: auto 0.1em auto auto; }
#navbar-links { font-family: 'Cardo',serif; font-size: 1.75rem; }
@media (min-width: 992px) {
}
p, p + p { text-indent: 0em; margin-top: 0.5rem; margin-bottom: 0.5rem; }
p, th, td { font-size: 1.8rem; }
.sourceCode { font-size: 1.5rem; }
.commonlisp { font-size: 1.5rem; }
.sourceCode .kw { color: rgb(38, 139, 210); }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: rgb(211, 54, 130); }
.sourceCode .st { color: rgb(42, 161, 152); }
.sourceCode .co { color: rgb(147, 161, 161); }
.sourceCode .fu { color: rgb(38, 139, 210); }
.byline { text-align: center; font-size: 1.5rem; }
pre, code, kbd { font-size: 1.4rem; font-style: normal; white-space: normal; word-wrap: break-word; }
pre > code { font-size: 1.5rem; }
pre { margin-top: 1.5rem; margin-bottom: 2rem; }
blockquote { font-style: italic; }
#form-error { color: rgb(147, 0, 0); margin-bottom: 2rem; margin-top: 2rem; }
.comment-quote { font-size: 1.8rem; margin-left: 30px; margin-right: 20px; }
.reply-link { color: rgb(147, 0, 0); }
.nested-comment { margin-left: 50px; }
a:hover { text-decoration: none; }
hr { border-color: rgb(222, 222, 222); }
.wrapper, .row { height: 100%; margin-left: 0px; margin-right: 0px; }
@media (max-width: 768px) {
}
#book-announcement { text-align: center; font-family: 'Lato','Source Sans Pro',sans-serif; -moz-font-feature-settings: "onum", "kern", "liga", "swsh", "calt"; font-weight: 300; color: rgb(34, 34, 34); }
#book-announcement a { font-size: 2rem; }
#book-announcement h2 { margin-top: -90px; font-size: 2.4rem; font-weight: 500; }
#book-announcement .img-small { width: 65%; height: auto; }
.extra-margin { margin-left: 150px; }
#terms { color: rgb(255, 255, 255); font-size: 1.2rem; text-decoration: underline; }
.button-spacer { margin-top: 150px; margin-bottom: 50px; }
.button-fill { text-align: center; background: none repeat scroll 0% 0% rgb(204, 204, 204); display: inline-block; position: relative; text-transform: uppercase; margin-left: 0px; font-size: 1.9rem; }
.button-fill.red:hover { background: none repeat scroll 0% 0% rgb(187, 51, 51); transition: background-color 1s ease 0s; }
.button-fill.red { transition: background-color 1s ease 0s; background: none repeat scroll 0% 0% rgb(187, 85, 85); color: white; }
.button-fill.blue:hover { background: none repeat scroll 0% 0% rgb(46, 112, 187); transition: background-color 1s ease 0s; }
.button-fill.blue { transition: background-color 1s ease 0s; background: none repeat scroll 0% 0% rgb(85, 133, 187); color: white; }
.button-text { padding: 0px 25px; line-height: 56px; letter-spacing: 0.1em; }
/* ::::: https://fonts.googleapis.com/css?family=Cardo:400,400italic,700&subset=latin ::::: */

@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  src: local("Cardo"), local("Cardo-Regular"), url("zpisC4kGu76S5N9VhpMnEg.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  src: local("Cardo Bold"), local("Cardo-Bold"), url("gHC1KgRPdVNdvvVcxLMCY_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  src: local("Cardo Italic"), local("Cardo-Italic"), url("0_g5QMQebQZw5ilITPZHDA.woff") format("woff");
}
/* ::::: https://fonts.googleapis.com/css?family=Lato:300 ::::: */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("KT3KS9Aol4WfR6Vas8kNcg.woff") format("woff");
}
/* ::::: [internal] ::::: */

@media screen {
  #diigotb-imagepanel { height: 22px ! important; position: absolute ! important; z-index: 11000022 ! important; margin: 0px ! important; }
  #diigotb-imagepanel .diigotb-btn { cursor: pointer ! important; width: 20px ! important; height: 20px ! important; margin: 2px ! important; float: left ! important; background: url("chrome://diigotb/skin/save-image-action-icons.png") no-repeat scroll 0% 0% transparent ! important; }
  #diigotb-imagepanel #diigotb-quick-save { background-position: 0px 0px ! important; }
  .diigotb-border { position: absolute ! important; z-index: 11000000 ! important; margin: 0px ! important; background-color: rgb(75, 140, 220) ! important; }
  .diigotb-left { width: 1px ! important; }
  .diigotb-right { width: 1px ! important; }
  .diigotb-top { height: 1px ! important; }
  .diigotb-bottom { height: 1px ! important; }
}
@media print {
}
/* ::::: [internal] ::::: */

